{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'packages' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
{% set allowUpdate = true %}
{% for file, isWritable in danger.simple %}
    {% if not isWritable %}
        {% set allowUpdate = false %}
    {% endif %}
{% endfor %}
{% for file, isWritable in danger.recursive %}
    {% if not isWritable %}
        {% set allowUpdate = false %}
    {% endif %}
{% endfor %}
<div class="panel">
    <div class="alert alert-danger">
        <div>
            {{ 'package_update_danger'|trans({}, 'platform') }}
        </div>
    </div>
    <div class="well">
        {% if not allowUpdate %}
            <h4> {{ 'packages_permissions_error'|trans({}, 'platform') }} </h4>
            <ul>
                {% for file, isWritable in danger.simple %}
                    {% if not isWritable %}
                        <li class="alert alert-danger"> {{ file }} {{ 'is_not_writable'|trans({}, 'platform') }}. </li>
                    {% endif %}
                {% endfor %}
                {% for file, isWritable in danger.recursive %}
                    {% if not isWritable %}
                        <li class="alert alert-danger"> {{ file }} {{ 'is_not_writable_recursive'|trans({}, 'platform') }}. </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
        <h4> {{ 'tips'|trans({}, 'platform') }} </h4>
            <ul>
                <li>{{ 'backup_reminder'|trans({}, 'platform') }}</li>
                <li>{{ 'logs_error_location'|trans({}, 'platform') }}</li>
                <li>{{ 'package_install_auto_reload'|trans({}, 'platform') }}</li>
                <li>{{ 'activate_maintenance_mode'|trans({}, 'platform') }}</li>
                <li>{{ 'install_update_cant_be_undone'|trans({}, 'platform') }}</li>
                <li>{{ 'put_back_permissions_after_update'|trans({}, 'platform') }}</li>
            </ul>
        {% endif %}
    </div>
    <div class="panel-body">
        {% set refreshAllowed = true %}
        {% for file, isWritable in refresh.simple %}
            {% if not isWritable %}
                {% set refreshAllowed = false %}
            {% endif %}
        {% endfor %}
        {% for file, isWritable in refresh.recursive %}
            {% if not isWritable %}
                {% set refreshAllowed = false %}
            {% endif %}
        {% endfor %}

        <div class="panel-group" id="refresh-accordion">
            <div class="panel panel-default">
                <div class="panel alert alert-warning">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#refresh-accordion" href="#refresh">
                            <b>{{ 'platform_refresh'|trans({}, 'platform') }}</b>
                        </a>
                    </h4>
                </div>
                <div id="refresh" class="panel-collapse collapse">
                    <div class="panel-inner">
                        <div>
                            <ul>
                                {% for file, isWritable in refresh.simple %}
                                    {% if not isWritable %}
                                        <li class="alert alert-danger"> {{ file }} {{ 'is_not_writable'|trans({}, 'platform') }}. </li>
                                    {% endif %}
                                {% endfor %}
                                {% for file, isWritable in refresh.recursive %}
                                    {% if not isWritable %}
                                        <li class="alert alert-danger"> {{ file }} {{ 'is_not_writable_recursive'|trans({}, 'platform') }}. </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="well"> {{ 'refresh_explanation'|trans({}, 'platform')|raw }} </div>
                    </div>
                    <div class="panel-footer">
                        {% if refreshAllowed %}
                            <button class="btn btn-primary refresh-platform"> {{ 'refresh'|trans({}, 'platform') }} </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="panel-group" id="core-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#core-accordion" href="#packages">
                            <b>{{ 'installed'|trans({}, 'platform') }}</b>
                        </a>
                    </h4>
                </div>
                <div id="packages" class="panel-collapse collapse">
                    <div class="panel-inner">
                        {% for installedPkg in installed %}
                            {{ macros.renderPackageElement(installedPkg, fetched, false, allowUpdate) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="core-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#core-accordion" href="#uninstalled">
                            <b>{{ 'available'|trans({}, 'platform') }}</b>
                        </a>
                    </h4>
                </div>
                <div id="uninstalled" class="panel-collapse collapse">
                    <div class="panel-inner">
                        {% for package in uninstalled %}
                            {{ macros.renderPackageElement(package, fetched, true, allowUpdate)}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </br>
        {% if useTestRepo %}
            <a href="{{ path('claro_admin_use_stable_repository') }}" class="btn btn-primary"> {{ 'use_stable_repo'|trans({}, 'platform') }} </a>
        {% else %}
            <a href="{{ path('claro_admin_use_test_repository') }}" class="btn btn-primary"> {{ 'use_test_repo'|trans({}, 'platform') }} </a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
        src="{{ asset('bundles/clarolinecore/js/logDisplayer.js') }}"
        type="text/javascript"
    >
    </script>
    <script
        src="{{ asset('bundles/clarolinecore/js/administration/packages.js') }}"
        type="text/javascript"
    >
    </script>
{% endblock %}
