{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'packages' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
{% set allowUpdate = true %}
{% for file, isWritable in files %}
    {% if not isWritable %}
        {% set allowUpdate = false %}
    {% endif %}
{% endfor %}
<div class="panel">
    <div class="well">
        {% if not allowUpdate %}
            <h4> {{ 'packages_permissions_error'|trans({}, 'platform') }} </h4>
            <ul>
            {% for file, isWritable in files %}
                {% if not isWritable %}
                    <li class="alert alert-danger"> {{ file }} {{ 'is_not_writable'|trans({}, 'platform') }}. </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
        <h4> {{ 'tips'|trans({}, 'platform') }} </h4>
            <ul>
                <li>{{ 'backup_reminder'|trans({}, 'platform') }}</li>
                <li>{{ 'logs_error_location'|trans({}, 'platform') }}</li>
                <li>{{ 'package_install_auto_reload'|trans({}, 'platform') }}</li>
                <li>{{ 'activate_maintenance_mode'|trans({}, 'platform') }}</li>
                <li>{{ 'install_update_cant_be_undone'|trans({}, 'platform') }}</li>
            </ul>
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="panel-group" id="core-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#core-accordion" href="#packages">
                            <b>{{ 'installed'|trans({}, 'platform') }}</b>
                        </a>
                    </h4>
                </div>
                <div id="packages" class="panel-collapse collapse">
                    <div class="panel-inner">
                        {% for installedPkg in installed %}
                            {{ macros.renderPackageElement(installedPkg, fetched, false, allowUpdate) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="core-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#core-accordion" href="#uninstalled">
                            <b>{{ 'available'|trans({}, 'platform') }}</b>
                        </a>
                    </h4>
                </div>
                <div id="uninstalled" class="panel-collapse collapse">
                    <div class="panel-inner">
                        {% for package in uninstalled %}
                            {{ macros.renderPackageElement(package, fetched, true, allowUpdate)}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
        src="{{ asset('bundles/clarolinecore/js/logDisplayer.js') }}"
        type="text/javascript"
    >
    </script>
    <script
        src="{{ asset('bundles/clarolinecore/js/administration/packages.js') }}"
        type="text/javascript"
    >
    </script>
{% endblock %}
