{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {% if not has_role('ROLE_ANONYMOUS') %}
        {{
            macros.workspaceBreadcrumbs(
                workspace,
                [
                    {
                        'name': 'home'|trans({}, 'tools'),
                        'href': ''
                    }
                ]
            )
        }}
    {% endif %}
{% endblock %}

{% block section_panel %}
    <div id="workspace-home-panel" data-ng-app="WorkspaceHomeModule">
        <div data-ui-view=""></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-home.css') }}" />

    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('packages/angular-bootstrap-colorpicker/css/colorpicker.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('packages/angular-gridster/dist/angular-gridster.min.css')}}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.workspaceId = {{ workspace.getId() }}
        window.canEdit = {{ canEdit ? 'true' : 'false' }}
        window.tabId = {{ tabId }}
    </script>
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-workspace-home.js') }}"></script>
    <script src="{{ asset('packages/angular-gridster/dist/angular-gridster.min.js') }}"></script>
{% endblock %}