{% extends 'ICAPBlogBundle::layout.html.twig' %}

{% block title %}{{ _resource.getName() }} - {{ "add_new_post"|trans({}, 'icap_blog') }}{% endblock %}

{% block content %}
    <form action="{{ _path('icap_blog_post_new', {'blogId':_resource.getId()}) }}" method="post" {{ form_enctype(form) }} id="new_post_form">
       {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'add'|trans({}, 'platform') }}</button>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icapblog/vendor/select2/select2.css') }}'/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/icapblog/vendor/select2/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zenstruckform/js/helper.js') }}"></script>
{% endblock javascripts %}