<header>
    {% if is_granted('EDIT', blog) %}
        <div class="btn-group pull-right">
            <a href="{{ path('icap_blog_post_edit', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'edit'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'edit'|trans({}, 'platform') }}" class="btn btn-small">
                <i class="icon-edit"></i>
            </a>
            <a href="{{ path('icap_blog_post_delete', {'blogId': _resource.id, 'postSlug': post.slug}) }}" class="btn btn-small btn-danger delete" data-confirm-title="{{ 'post_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'post_deletion_confirm_message'|trans({'%postName%': post.title}) }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                <i class="icon-trash"></i>
            </a>
            {% if isPublished %}
            <a href="{{ path('icap_blog_post_unpublish', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'unpublish'|trans }}" data-placement="top" data-original-title="{{ 'unpublish'|trans }}" class="btn btn-small">
                <i class="icon-eye-close"></i>
            </a>
            {% else %}
            <a href="{{ path('icap_blog_post_publish', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'publish'|trans }}" data-placement="top" data-original-title="{{ 'publish'|trans }}" class="btn btn-small">
                <i class="icon-eye-open"></i>
            </a>
            {% endif %}
        </div>
    {% endif %}

    {% if 'blog_view' == mode %}
        <h1><a href="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}" title="">{{ post.title }}</a></h1>
    {% elseif 'search_view' == mode %}
        <h1>{{ post.title|highlight(search)|raw }}</h1>
    {% else %}
        <h1>{{ post.title }}</h1>
    {% endif %}

    {% set author = post.author %}
    {{ 'written_by'|trans({}, 'icap_blog') }} <a href="{{ path('icap_blog_view_filter', {'blogId': _resource.id, 'filter': author.username}) }}" rel="author" title="{{ author.firstname ~ ' ' ~ author.lastname }}">{{ author.firstname ~ ' ' ~ author.lastname }}</a>
    {% if isPublished %}
, {{ 'published_on'|trans({}, 'icap_blog') }} <time>{{ post.publicationDate|date('date_format'|trans({}, 'platform')) }}</time>
    {% endif %}
</header>