{% extends 'ICAPBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block content %}
    {% set isPublished = post.isPublished %}
    <article{% if not isPublished %} class="draft"{% endif %}>

        {% include 'ICAPBlogBundle:Post:postHeader.html.twig' with {'mode': 'post_view'} %}

        <div class="content">{{ post.content|raw }}</div>

        {% include 'ICAPBlogBundle:Post:postFooter.html.twig' with {'mode': 'post_view'} %}
    </article>

    {% set blogOptions = _resource.options %}
    {% if _resource.isCommentsAuthorized %}
        <ul class="list-unstyled comment_list">
        {% set postComments = post.comments %}
        {% for comment in postComments %}
            {% set isPublished = comment.isPublished %}
            {% if is_granted('EDIT', blog) or isPublished %}
            <li{% if isPublished == false %} class="unpublished"{% endif %}>
                {% if is_granted('EDIT', blog) %}
                <div class="btn-group pull-right">
                    <a href="{{ path('icap_blog_comment_delete', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-small btn-danger delete" data-confirm-title="{{ 'comment_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'comment_deletion_confirm_message'|trans }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                        <i class="icon-trash"></i>
                    </a>
                    {% if isPublished %}
                    <a href="{{ path('icap_blog_comment_unpublish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" data-toggle="tooltip" title="{{ 'unpublish'|trans }}" data-placement="top" data-original-title="{{ 'unpublish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-close"></i>
                    </a>
                    {% else %}
                    <a href="{{ path('icap_blog_comment_publish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" data-toggle="tooltip" title="{{ 'publish'|trans }}" data-placement="top" data-original-title="{{ 'publish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-open"></i>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                <p>{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}{% if isPublished %}, {{ comment.publicationDate|date('date_format'|trans({}, 'platform')) }}{% endif %}</p>
                <p>{{ comment.message|raw }}</p>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if is_granted('EDIT', blog) %}
            {% set countComments = is_granted('EDIT', blog) ? post.countComments(true) : post.countComments %}
            {% if countComments > 0 %}{{ 'add_comment'|trans }}{% else %}{{ 'be_the_first_to_comment'|trans }}{% endif %} :
            <form action="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'to_comment'|trans }}</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% endblock %}
