{% extends 'ICAPBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.name }}{% endblock %}

{% block content %}
    {% set isPublished = post.isPublished %}
    <article{% if not isPublished %} class="draft"{% endif %}>
        <header>
            {% if is_granted('EDIT', blog) %}
                <div class="btn-group pull-right">
                    <a href="{{ path('icap_blog_post_edit', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'edit'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'edit'|trans({}, 'platform') }}" class="btn btn-small">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('icap_blog_post_delete', {'blogId': _resource.id, 'postSlug': post.slug}) }}" class="btn btn-small btn-danger delete" data-confirm-title="{{ 'post_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'post_deletion_confirm_message'|trans({'%postName%': post.title}) }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                        <i class="icon-trash"></i>
                    </a>
                    {% if isPublished %}
                    <a href="{{ path('icap_blog_post_unpublish', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'unpublish'|trans }}" data-placement="top" data-original-title="{{ 'unpublish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-close"></i>
                    </a>
                    {% else %}
                    <a href="{{ path('icap_blog_post_publish', {'blogId': _resource.id, 'postSlug': post.slug}) }}" data-toggle="tooltip" title="{{ 'publish'|trans }}" data-placement="top" data-original-title="{{ 'publish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-open"></i>
                    </a>
                    {% endif %}
                </div>
            {% endif %}
            <h1>{{ post.title }}</h1>
            {% set author = post.author %}
            {{ 'written_by'|trans }} <a href="{{ path('icap_blog_view_filter', {'blogId': _resource.id, 'filter': author.username}) }}" rel="author" title="{{ author.firstname ~ ' ' ~ author.lastname }}">{{ author.firstname ~ ' ' ~ author.lastname }}</a>
            {% if isPublished %}
, {{ 'published_on'|trans }} <time>{{ post.publicationDate|date('date_format'|trans({}, 'platform')) }}</time>
            {% endif %}
        </header>
        <div class="content">{{ post.content|raw }}</div>
        <footer>
            <ul class="unstyled inline pull-left">
                <li><i class="icon-tags"></i></li>
            {% for tag in post.tags %}
                <li><a href="{{ path('icap_blog_view_filter', {'blogId': _resource.id, 'filter': tag}) }}" title="{{ tag }}">{{ tag }}</a></li>
            {% else %}
                <li>{{ 'no_tags'|trans }}</li>
            {% endfor %}
            </ul>
            {% if _resource.isCommentsAuthorized %}<a href="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}#comments" name="comments" class="pull-right" title="{{ 'see_comments'|trans }}"><i class="icon-comments"></i> {% set countComments = is_granted('EDIT', blog) ? post.countComments(true) : post.countComments %}{{ countComments }} {{ 'comments'|trans }}</a>{% endif %}
        </footer>
    </article>

    {% set blogOptions = _resource.options %}
    {% if _resource.isCommentsAuthorized %}
        {% if (_resource.isAuthorizeAnonymousComment and is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) or is_granted('EDIT', blog) %}
        <ul class="unstyled comment_list">
        {% set postComments = post.comments %}
        {% for comment in postComments %}
            {% set isPublished = comment.isPublished %}
            {% if is_granted('EDIT', blog) or isPublished  %}
            <li{% if isPublished == false %} class="unpublished"{% endif %}>
                {% if is_granted('EDIT', blog) %}
                <div class="btn-group pull-right">
                    <a href="{{ path('icap_blog_comment_delete', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-small btn-danger delete" data-confirm-title="{{ 'comment_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'comment_deletion_confirm_message'|trans }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                        <i class="icon-trash"></i>
                    </a>
                    {% if isPublished %}
                    <a href="{{ path('icap_blog_comment_unpublish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" data-toggle="tooltip" title="{{ 'unpublish'|trans }}" data-placement="top" data-original-title="{{ 'unpublish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-close"></i>
                    </a>
                    {% else %}
                    <a href="{{ path('icap_blog_comment_publish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" data-toggle="tooltip" title="{{ 'publish'|trans }}" data-placement="top" data-original-title="{{ 'publish'|trans }}" class="btn btn-small">
                        <i class="icon-eye-open"></i>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}{% if isPublished %}, {{ comment.publicationDate|date('date_format'|trans({}, 'platform')) }}{% endif %}
                {{ comment.message|raw }}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
        {% if is_granted('EDIT', blog) %}
            {% if countComments > 0 %}{{ 'add_comment'|trans }}{% else %}{{ 'be_the_first_to_comment'|trans }}{% endif %} :
            <form action="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'to_comment'|trans }}</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% endblock %}