{% extends 'IcapBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block blog_content %}
    {% set isPublished = post.isPublished %}
    <article{% if not isPublished %} class="draft"{% endif %}>

        {% include 'IcapBlogBundle:Post:postHeader.html.twig' with {'mode': 'post_view'} %}

        <div class="content">{{ post.content|raw }}</div>

        {% include 'IcapBlogBundle:Post:postFooter.html.twig' with {'mode': 'post_view'} %}
    </article>

    {% set blogOptions = _resource.options %}
    {% if _resource.isCommentsAuthorized %}
        <ul class="list-unstyled comment_list">
        {% set postComments = post.comments %}
        {% for comment in postComments %}
            {% set isPublished = comment.isPublished %}
            {% if is_granted('EDIT', _resource) or isPublished %}
            <li>
                <div class="panel {% if isPublished == false %}panel-warning{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        {% if is_granted('EDIT', _resource) %}
                        <div class="btn-group pull-right options">
                            {% if isPublished %}
                            <a href="{{ path('icap_blog_comment_unpublish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-default btn-red btn-xs">
                                {{ 'unpublish'|trans }}
                            </a>
                            {% else %}
                            <a href="{{ path('icap_blog_comment_publish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-default btn-green btn-xs">
                                {{ 'publish'|trans }}
                            </a>
                            {% endif %}
                            <a href="{{ path('icap_blog_comment_delete', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-xs btn-danger delete" data-confirm-title="{{ 'comment_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'comment_deletion_confirm_message'|trans }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                        {% endif %}

                        <ul class="list-inline">
                            {% set authorPicture = comment.author.picture %}
                            <li>{% if authorPicture is null %}<span class="icon-user"></span>{% else %}<img src="{{ asset('uploads/pictures/') ~ authorPicture }}" alt="{{ author.firstname ~ ' ' ~ author.lastname }}" class="img-rounded user_picture">{% endif %}&nbsp;{% if null == comment.author %}{{ 'anonymous'|trans({}, 'platform') }}{% else %}<a href="{{ path('claro_profile_view', {'userId': comment.author.id}) }}" title="{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}">{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}</a>{% endif %}</li>
                            {% if isPublished %}<li><span class="icon-calendar"></span>  {{ comment.publicationDate|date('date_format'|trans({}, 'platform')) }}</li>{% endif %}
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ comment.message|raw }}
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if _resource.isCommentsAuthorized %}
            {% if false == is_granted('IS_AUTHENTICATED_FULLY') and false == _resource.isAuthorizeAnonymousComment %}
                <p class="alert alert-warning">
                    {{ 'icap_blog_post_comment_need_authentication'|trans({'%connection_url%': path('claro_security_login')}, 'icap_blog')|raw }}
                </p>
            {% else %}
                {% set countComments = is_granted('EDIT', _resource) ? post.countComments(true) : post.countComments %}
                {% if countComments > 0 %}{{ 'add_comment'|trans }}{% else %}{{ 'be_the_first_to_comment'|trans }}{% endif %} :
                <form action="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}" class="well" method="post" {{ form_enctype(form) }}>
                    {% if false ==_resource.isAutoPublishComment %}
                    <p class="alert alert-warning">
                        {{ 'icap_blog_post_comment_need_validation_before_publishing'|trans({}, 'icap_blog') }}
                    </p>
                    {% endif %}
                    {{ form_errors(form) }}
                    {{ form_widget(form.message) }}
                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{ 'to_comment'|trans }}</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
{{ tinymce_init() }}
{% endblock %}
