{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'list_question' | trans({}, 'ujm_exo') }} {% endblock %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_resource_open', { 'resourceType': _resource.resourceNode.resourceType.name(), 'node': _resource.resourceNode.id }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li class="active">{{ 'my_questions' | trans({}, 'ujm_exo') }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'my_questions' | trans({}, 'ujm_exo') }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" href="{{ path('ujm_exercise_open', { 'id':  exerciseID }) }}">
            <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" href="{{ path('ujm_exercise_import_question', { 'id':  exerciseID, 'pageGoNow': pagerQuestion.getNbPages,
            'maxPage': pagerQuestion.maxPerPage, 'nbItem': pagerQuestion.getNbResults }) }}">
            <i class="fa fa-download"></i> {{ 'import_questions' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" href="{{ path('ujm_question_new', { 'exoID': exerciseID }) }}">
            <i class="fa fa-plus"></i> {{ 'create_a_new_entry' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" href="{{ path('ujm_qti_export_exercise_questions', { 'exoID': exerciseID, 'exoName': _resource.getResourceNode().getName()  }) }}">
            <i class="fa fa-save"></i> {{ 'export_qti_exercise' | trans({}, 'ujm_exo') }}
        </a>
    </div>

    <div class="list-group">
        <div class="list-group-item">
            {% if interactions is not empty %}
                <p>{{ 'change_order' | trans({}, 'ujm_exo') }}.</p>
                {% if pagerQuestion.getNbResults > pagerQuestion.maxPerPage and displayAll == 0 %}
                    <a class="btn btn-primary" href="{{ path('ujm_exercise_questions', { 'id': exerciseID, 'displayAll': 1 }) }} ">
                        <i class="fa fa-plus-circle"></i> {{ 'display_all_on_this_page' | trans({}, 'ujm_exo') }}
                    </a>
                {% elseif displayAll == 1 %}
                    <a class="btn btn-primary" href="{{ path('ujm_exercise_questions', { 'id': exerciseID }) }} ">
                        <i class="fa fa-minus-circle"></i> {{ 'display_pagination' | trans({}, 'ujm_exo') }}
                    </a>
                {% endif %}
            {% endif %}

            <div id="SaveOrder" style="display: none;">
                <button type="button" class="btn btn-danger"
                    onclick="SaveNewOrder('{{ path('ujm_exercise_question_order') }}', {{exerciseID}},
                                           {{pagerQuestion.getCurrentPage}}, {{pagerQuestion.maxPerPage}});">
                    {{ 'save_order' | trans({}, 'ujm_exo') }}
                </button>
            </div>
            <br/><br/>
            {% if qtiError is defined %}
                <div class="alert alert-warning">{{ qtiError }}</div>
            {% endif %}

            {% if interactions is not empty %}

                {% set questionsList = 'exercise' %}
                {% include "UJMExoBundle:Partial:question/questionsList.html.twig" %}

            {% else %}
                <div class="alert alert-info">{{ 'no_question_found'|trans({}, 'ujm_exo') }} ...</div>
            {% endif %}
        </div>
    </div>
    {% if pagerQuestion.haveToPaginate %}
        <div class="text-center panel-footer">
            {{ pagerfanta(pagerQuestion, 'twitter_bootstrap_translated', {'routeName': 'ujm_exercise_questions', 'routeParams':
            { 'id': exerciseID } }) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/exerciceQuestion.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/resize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/qti.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ready();
        });
    </script>
    {% include "UJMExoBundle:Partial:modal/confirmDelQuestion.html.twig" %}
{% endblock %}
