{#% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %#}

{#% if isDesktop() %#}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
    {% block breadcrumb %}
        {{
            macros.breadcrumbs([
                {
                    'icon': 'fa fa-briefcase',
                    'name': 'desktop'|trans({}, 'platform'),
                    'href': path('claro_desktop_open')
                },
                {
                    'name': 'bank_of_questions' | trans({}, 'ujm_exo'),
                    'href': ''
                }
            ])
        }}
    {% endblock %}
{#% else %#}
{#% endif %#}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'bank_of_questions' | trans({}, 'ujm_exo') }} {% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'bank_of_questions' | trans({}, 'ujm_exo') }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" href="{{ path('ujm_question_new') }}">
            <i class="fa fa-plus"></i> {{ 'create_a_new_entry' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" title="{{ 'qti_format_warning' | trans({}, 'ujm_exo') }}" onClick="importQTI('{{ path('ujm_qti_import_form') }}',  '-1');">
            <i class="fa fa-upload"></i> {{ 'import_qti' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" href="{{ path('ujm_question_manage_doc') }}">
            <i class="fa fa-file"></i> {{ 'manage_img' | trans({}, 'ujm_exo') }}
        </a>
        <a class="btn btn-primary" href="{{ path('ujm_question_search_question') }}">
            <i class="fa fa-question"></i> {{ 'search_question' | trans({}, 'ujm_exo') }}
        </a>

        {% if QuestionsExo == 'false' %}
            {% if (pagerMy.getNbResults > pagerMy.maxPerPage or pagerShared.getNbResults > pagerShared.maxPerPage) and displayAll == 0 %}
                <a class="btn btn-primary" href="{{ path('ujm_question_index', { 'displayAll': 1 }) }} ">
                    <i class="fa fa-plus-circle"></i> {{ 'display_all_on_this_page' | trans({}, 'ujm_exo') }}
                </a>
            {% elseif displayAll == 1 %}
                <a class="btn btn-primary" href="{{ path('ujm_question_index') }}">
                    <i class="fa fa-minus-circle"></i> {{ 'display_pagination' | trans({}, 'ujm_exo') }}
                </a>
            {% endif %}
        {% endif %}

        <select id="exoList" onchange="getQuestionsExo(this.options[this.selectedIndex].value,
            '{{ path('ujm_question_bank_filter') }}',
            '{{ path('ujm_question_index') }}');">
            {% include "UJMExoBundle:Partial:listToFilterQuestions.html.twig" %}
        </select>


        <form action="{{ path('ujm_question_briefSearch') }}" method="post" id='formBriefSearch'>
            <div class="input-group" style="width: 350px; margin-top: 20px;">
                <input type="text" class="form-control" id="briefSearch" placeholder="{{ 'brief_search'|trans({}, 'ujm_exo') }}" name="userSearch"
                    onkeydown="if (event.keyCode == 13) {
                        //briefSearch('{#{ path('ujm_question_briefSearch') }#}', -1, 'index');
                        briefSearchSubmit();
                        return false; }">
                <input type='hidden' name='exoID' value='-1' />
                <input type='hidden' name='where' value='index' />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="SubmitBriefSearch"
                        onClick="briefSearchSubmit();">
                    <i class="fa fa-search"></i></button>
                    <a class="btn btn-default" data-toggle="tooltip" title="Recherche par type"
                       accesskey=""href="#" onclick="showInfos();event.preventDefault();">
                        <i class="fa fa-question"></i>
                    </a>
                </span>
            </div>
        </form>

        <div id="infosSearch" style="display: none;">
            <br/>
            <div class="alert alert-info">
                <p>
                    {{ 'info_search_type' | trans({}, 'ujm_exo') }} :
                    {% for type in interactionType %}
                        {% for value in type %}
                            <option value="{{ type[loop.index0] }}">{{ type[loop.index0] | trans({}, 'ujm_exo') }}</option>
                        {% endfor %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% if qtiError is defined %}
        <div class="alert alert-warning">{{ qtiError }}</div>
    {% endif %}
    <div class="list-group">
        <div class="list-group-item">
            {% if QuestionsExo == 'false' %}
                <h3 class="panel-title">{{ 'my_questions'|trans({}, 'ujm_exo') }} : </h3><br/>
                {% if interactions is not empty %}

                    {% set questionsList = 'my' %}
                    {% include "UJMExoBundle:Partial:question/questionsList.html.twig" %}

                    {% if pagerMy.haveToPaginate %}
                        <div class="text-center panel-footer">
                            {{ pagerfanta(pagerMy, 'twitter_bootstrap_translated',
                                {'routeName': 'ujm_question_index', 'routeParams':
                                {'pagerShared': pagerShared.getCurrentPage, 'pagerMy': pagerMy.getCurrentPage, 'click': 'my'} }) }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info">{{ 'no_question_found'|trans({}, 'ujm_exo') }} ...</div>
                {% endif %}
                <hr/>
                <h3 class="panel-title">{{ 'shared_questions' | trans({}, 'ujm_exo') }} : </h3><br/>
                    {% if sharedWithMe is not empty %}
                        {% set questionsList = 'share' %}
                        {% set interactions = sharedWithMe %}
                        {% include "UJMExoBundle:Partial:question/questionsList.html.twig" %}

                        {% if pagerShared.haveToPaginate %}
                            <div class="text-center panel-footer">
                                {{ pagerfanta(pagerShared, 'twitter_bootstrap_translated',
                                    {'routeName': 'ujm_question_index', 'routeParams':
                                    {'pagerMy': pagerMy.getCurrentPage, 'pagerShared': pagerShared.getCurrentPage,  'click': 'shared'} }) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-info">{{ 'no_question_found'|trans({}, 'ujm_exo') }} ...</div>
                    {% endif %}
            {% else %}
                {% if interactions is not empty %}
                    {% set questionsList = 'exoList' %}
                    {% include "UJMExoBundle:Partial:question/questionsList.html.twig" %}
                {% else %}
                    <div class="alert alert-info">{{ 'no_question_found'|trans({}, 'ujm_exo') }} ...</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/sortAndSearch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/resize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/qti.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_exo' }) }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ready();
        });
        $("#exoList option[value=\""+{{ idExo }}+"\"]").attr('selected', 'selected');
    </script>
    {% include "UJMExoBundle:Partial:modal/confirmDelQuestion.html.twig" %}
{% endblock %}
