<table id="user-table"  class="table table-striped table-bordered table-condensed">
<thead>
    <tr>
        <th>{{ 'username'|trans({}, 'platform') }}</th>
        <th>{{ 'last_name'|trans({}, 'platform') }}</th>
        <th>{{ 'first_name'|trans({}, 'platform') }}</th>
        <th>{{ 'Share'|trans}}</th>
    </tr>
</thead>
{% for user in userList %}
    <tr>
        <td>{{ user.userName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>

            <a href="#" onclick="shareQuestionUser('{{ path('ujm_question_shareQuestionUser') }}','{{ user.lastName }}','{{ user.firstName }}'
            ,'{{ "already" | trans }}','{{ "Self" | trans }}');">
                <i class="icon-share"></i>
            </a>
        </td>
    </tr>
{% endfor %}
</table>

<script type="text/javascript">

    function shareQuestionUser(path, name, fname, already, Self){
        qId = document.getElementById('test').innerHTML;

       $.ajax({
            type: 'POST',
            url: path,
            data: {
                questionID : qId,
                Uname : name,
                Ufname : fname
            },
           cache: false,
            success: function (data) {
                var alreadyShared = data.substr(0, data.indexOf(';'));
                var action = data.substr(data.indexOf(';')+1);

                if (alreadyShared == 'yes') {
                    alert(already);
                } else if (alreadyShared == 'self') {
                    alert(Self);
                } else {
                    window.location.href = action;
                }
           }
        });
    }
</script>