<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>

{% if listQuestions is not empty %}

    {% if pagerSearch.getNbResults > pagerSearch.maxPerPage and displayAll == 0 %}
    <button class="btn btn-primary" onclick="displayAllQuestionInSearch('{{ path('ujm_question_searchQuestion') }}', {{ exoID }}, 1);">
        <i class="fa fa-plus-circle"></i> {{ 'display_all_on_this_page' | trans }}
    </button>
    {% elseif displayAll == 1 %}
        <button class="btn btn-primary" onclick="displayAllQuestionInSearch('{{ path('ujm_question_searchQuestion') }}', {{ exoID }}, 0);">
        <i class="fa fa-plus-circle"></i> {{ 'display_pagination' | trans }}
    </button>
    {% endif %}

    <hr/>

    <table class="table table-striped table-bordered table-condensed" id="QuestionArray">
        <thead>
            <tr style="background-color: lightsteelblue;">
                <th class="classic" onclick="SortQuestions('Category', 'QuestionArray');"
                    onmouseover="this.style.color = '#0099FF'; body.style.cursor = 'pointer';"
                    onmouseout="this.style.color = 'black'; body.style.cursor = 'default';">
                    <i class="fa fa-chevron-up" id="upC"  style="display: none;"></i>
                    <i class="fa fa-chevron-down" id="downC"  style="display: none;"></i>
                    {{ 'category' | trans }}
                </th>
                <th class="classic" onclick="SortQuestions('Title', 'QuestionArray');"
                    onmouseover="this.style.color = '#0099FF'; body.style.cursor = 'pointer';"
                    onmouseout="this.style.color = 'black'; body.style.cursor = 'default';">
                    <i class="fa fa-chevron-up" id="upTi"  style="display: none;"></i>
                    <i class="fa fa-chevron-down" id="downTi"  style="display: none;"></i>
                    {{ 'title' | trans }}
                </th>
                <th class="classic" onclick="SortQuestions('Type', 'QuestionArray');"
                    onmouseover="this.style.color = '#0099FF'; body.style.cursor = 'pointer';"
                    onmouseout="this.style.color = 'black'; body.style.cursor = 'default';">
                    <i class="fa fa-chevron-up" id="upTy"  style="display: none;"></i>
                    <i class="fa fa-chevron-down" id="downTy"  style="display: none;"></i>
                    {{ 'type' | trans }}
                </th>
                <th class="classic" onclick="SortQuestions('Invite', 'QuestionArray')"
                    onmouseover="this.style.color = '#0099FF'; body.style.cursor = 'pointer';"
                    onmouseout="this.style.color = 'black'; body.style.cursor = 'default';">
                    <i class="fa fa-chevron-up" id="upI"  style="display: none;"></i>
                    <i class="fa fa-chevron-down" id="downI"  style="display: none;"></i>
                    {{ 'question' | trans }}
                </th>

                {% if canDisplay == 'shared' %}
                    <th class="classic">{{ 'shared by' | trans }}</th>
                {% endif %}
                {% if canDisplay == 'my' %}
                    <th class="classic">{{ 'actions' | trans }}</th>
                    <th class="classic"><i class="fa fa-share"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for FindQuestion in listQuestions %}
            <tr>
                <td class="classic">{{ FindQuestion.question.category.value }}</td>
                <td class="classic"><a href="{{ path('ujm_question_show', { 'id': FindQuestion.question.id }) }}">{{ FindQuestion.question.title }}</a></td>
                <td class="classic">{{ FindQuestion.type|trans }}</td>
                <td class="classic">{{ FindQuestion.invite|raw }}</td>
                {% if canDisplay == 'my' %}
                    <td class="classic">
                        <a class="btn btn-default" data-toggle="tooltip" title="{{ 'share' | trans }}"
                           href="{{ path('ujm_question_share', { 'questionID': FindQuestion.question.id }) }}">
                            <i class="fa fa-share"></i>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" title="{{ 'duplicate' | trans }}" href="{{ path('ujm_question_duplicate', { 'interID': FindQuestion.id }) }}">
                            <i class="fa fa-repeat"></i>
                        </a>
                        {% if(questionWithResponse[FindQuestion.id] == 0) %}
                            <a class="btn btn-default" data-toggle="tooltip" title="{{ 'edit' | trans }}"
                               href="{{ path('ujm_question_edit', { 'id': FindQuestion.question.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>

                            <a class="btn btn-default" data-toggle="tooltip" title="{{ 'delete_of_my_bank' | trans }}"
                               href="{{ path('ujm_question_delete', { 'id': FindQuestion.question.id}) }}" id="delete-question">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-default" data-toggle="tooltip" title="{{ 'edit' | trans }}"
                               href="{{ path('ujm_question_edit', { 'id': FindQuestion.question.id }) }}"
                               style="color: red;">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                    </td>
                    {% if(alreadyShared[FindQuestion.question.id] == 1) %}
                        <td class="classic">
                            <a class="btn btn-default" data-toggle="tooltip" title="{{ 'show'|trans }}"
                                href="{{ path('ujm_see_shared', { 'id': FindQuestion.question.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
                {% if canDisplay == 'shared' %}
                    <td class="classic">
                        {{ FindQuestion.question.user.firstName }} {{ FindQuestion.question.user.lastName }}
                    </td>
                    <td class="classic">
                        <a href="{{ path('ujm_delete_shared_question', { 'qid': FindQuestion.question.id, 'uid': app.user.id, 'pageNow': pagerSearch.currentPage,
                            'maxPage': pagerSearch.maxPerPage,'nbItem': pagerSearch.getNbResults, 'lastPage': pagerSearch.getNbPages }) }}" id="delete-question">
                           <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
               {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagerSearch.haveToPaginate %}
        <div class="text-center panel-footer">
            {{ pagerfanta(pagerSearch, 'twitter_bootstrap_translated', {'routeName': 'ujm_question_searchQuestion',
                'routeParams': {'where': canDisplay, 'whatToFind': whatToFind,  'type': type, 'exoID': exoID } }) }}
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-info">{{ 'noQuestionFound'|trans }} ...</div>
{% endif %}

<input type="hidden" id="type" value="{{ type }}"/>
<input type="hidden" id="whatToFind" value="{{ whatToFind }}"/>
<input type="hidden" id="where" value="{{ canDisplay }}"/>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/sortAndSearch.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/resize.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ready();
    });
</script>
