{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %} {{ 'find_question' | trans({}, 'ujm_exo') }} {% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'find_question' | trans({}, 'ujm_exo') }}</h3>
    </div>

    <div class="panel-body">

        {% if exoID == -1 %}
            <a href="{{ path('ujm_question_index') }}" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
            </a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('ujm_exercise_import_question', { 'exoID':  exoID }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
            </a>
        {% endif %}
    </div>

    <div class="list-group">
        <div class="list-group-item">

            <form id="searchQuestionForm" enctype="multipart/form-data" method="post" action="{{ path('ujm_question_searchQuestion') }}">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'find_by'|trans({}, 'ujm_exo') }}</h3>
                    </div>
                    <div class="panel-body">
                        <input type="radio" name="QuestionSearch" value="Category" checked/> {{ 'category'|trans({}, 'ujm_exo') }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="QuestionSearch" value="Type"/> {{ 'type'|trans({}, 'ujm_exo') }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="QuestionSearch" value="Title"/> {{ 'title'|trans({}, 'ujm_exo') }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="QuestionSearch" value="Contain"/> {{ 'contain_search'|trans({}, 'ujm_exo') }} ...
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="QuestionSearch" value="All"/> {{ 'all'|trans({}, 'ujm_exo') }}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'find_in'|trans({}, 'ujm_exo') }}</h3>
                    </div>
                    <div class="panel-body">
                        <input type="radio" name="WhereSearch" value="my" checked/> {{ 'my_questions'|trans({}, 'ujm_exo') }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="WhereSearch" value="shared"/> {{ 'shared_questions'|trans({}, 'ujm_exo') }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <input type="radio" name="WhereSearch" value="all"/> {{ 'all'|trans({}, 'ujm_exo') }}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'find_what'|trans({}, 'ujm_exo') }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="text" class="form-control" id="what2search" placeholder="{{ 'search'|trans({}, 'platform') }}"
                                onkeydown="if (event.keyCode == 13) {
                                    searchQuestion('{{ path('ujm_question_searchQuestion') }}', 1, {{ exoID}});
                                    return false; }">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="SubmitSearchQuestion"
                                    onClick="searchQuestion('{{ path('ujm_question_searchQuestion') }}', 1, {{ exoID}});">
                                <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="resultSearch" class="panel-body">
        {% if divResultSearch is defined %}
            {{ divResultSearch | raw }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/sortAndSearch.js') }}"></script>
    {% include "UJMExoBundle:Partial:modal/confirmDelQuestion.html.twig" %}
{% endblock %}
