{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %} {{ 'sharedUser' | trans }} {% endblock %}

{% block section_content %}

    <div class="panel-heading" style="padding-left: 50px;">
        <h1>{{ 'sharedUser' | trans }}</h1>
    </div><br/>

    <a href="{{ path('ujm_question_index') }}" style="padding-left: 50px;"><i class="icon-arrow-left"></i> {{ 'back' | trans }}</a>

    <hr/>

    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 250px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ 'shared with' | trans }}</h1>
        </legend>

        {{ 'nameUser2Shared' | trans }} :<br/><br/>
        <div class="input-group" style="width: 200px;">
            <input class="input-medium" type="text" id="search-user-txt" placeholder="{{ 'search'|trans({}, 'platform') }}"
                onkeydown="if (event.keyCode == 13) { search_user_ajax('{{ path('ujm_question_share_search_user') }}', 1);return false; }">
            <span class="input-group-btn">
                <button class="filter btn" type="button" id="search-user-button" onClick="search_user_ajax('{{ path('ujm_question_share_search_user') }}', 1)">
                    <i class="icon-search"></i>
                </button>
            </span>
        </div>
    </fieldset><br/>

    <div id="searchUserList">
        {% if divResultSearch is defined %}
            {{ divResultSearch | raw }}
        {% endif %}
    </div>

    <div id="QID" style="display: none;">{{ questionID }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/question.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            if (document.getElementById('search')) {
                document.getElementById('search-user-txt').value = document.getElementById('search').value;
            }
        };
    </script>
{% endblock %}
