{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

<table class="table table-striped table-bordered table-condensed" id="table">
        <thead>
            <tr>
                <th style="text-align: center">{{ "Type" | trans }}</th>
                <th style="text-align: center">{{ "Preview" | trans }}</th>
                <th style="text-align: center">{{ "Label" | trans }}</th>
                <th style="text-align: center">{{ "Actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for myDoc in listDoc %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        {% if myDoc.type == ".png" or myDoc.type == ".jpeg" 
                            or myDoc.type == ".jpg" or myDoc.type == ".gif" or myDoc.type == ".bmp" %}
                            <i class="icon-picture"></i>
                        {% elseif myDoc.type == ".mp3" or myDoc.type == ".wav" %}
                            <i class="icon-music"></i>
                        {% elseif myDoc.type == ".avi" or myDoc.type == ".mpeg" 
                            or myDoc.type == ".wmv" or myDoc.type == ".flv" or myDoc.type == ".mov" %}
                            <i class="icon-film"></i>
                        {% else %}
                            <i class="icon-file"></i>
                        {% endif %}
                    </td>
                    
                     <td style="text-align: center">
                         {% if myDoc.type == ".png" or myDoc.type == ".jpeg" 
                            or myDoc.type == ".jpg" or myDoc.type == ".gif" or myDoc.type == ".bmp" %}
                            <img src="{{ asset(myDoc.url) }}" width="100px" height="100px"/>
                        {% elseif myDoc.type == ".mp3" or myDoc.type == ".wav" %}
                            <a href="{{ asset(myDoc.url) }}" onclick="window.open(this.href, 'ListenSong', 
                                'height=200, width=300, toolbar=no, menubar=no, location=no, resizable=yes, scrollbars=no, status=no');
                                return false;"><i class="icon-play"></i>
                            </a>
                        {% elseif myDoc.type == ".avi" or myDoc.type == ".mpeg" 
                            or myDoc.type == ".wmv" or myDoc.type == ".flv" or myDoc.type == ".mov" %}
                            <a href="{{ asset(myDoc.url) }}"><i class="icon-play"></i></a>
                        {% else %}
                            <a href="{{ asset(myDoc.url) }}"><i class="icon-download-alt"></i></a>
                        {% endif %}
                    </td>
                    
                    <td style="text-align: center">
                        {{ myDoc.label }}
                    </td>

                    <td style="text-align: center">
                        <a href="#" onclick="ChangeName('{{ myDoc.label }}');"><i class="icon-pencil"></i></a>
                        
                        <a href="{{ path('ujm_document_del', { 'label': myDoc.label }) }}" 
                           onclick="return confirm('{{ "waring" | trans }}');"><i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>