<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:wfw="http://wellformedweb.org/CommentAPI/"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
     xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    >
<channel>
    <title>{{ feed.title }}</title>
    <atom:link href="{{ feed.feedUrl }}" rel="self" type="application/rss+xml" />
    <link>{{ feed.siteUrl }}</link>
    <description>{{ feed.description|raw }}</description>
    <language>{{ feed.lang }}-{{ feed.lang|upper }}</language>
    {% for item in items %}
        {% if item.url %}
            <item>
                {% if item.title %}
                    <title>{{ item.title }}</title>
                {% endif %}
                <link>{{ item.url }}</link>
                {% if item.intro %}
                    <description>{{ item.intro }}</description>
                {% endif %}
                {% if item.date %}
                    <pubDate>{{ item.date }}</pubDate>
                {% endif %}
                {% if item.author %}
                    <dc:creator>{{ item.author }}</dc:creator>
                {% endif %}
                <guid>{{ item.url }}</guid>
            </item>
        {% endif %}
    {% endfor %}
</channel>
</rss>
