{% extends 'IcapWikiBundle::layout.html.twig' %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block breadcrumb %}
    <a name="top"></a>

    <div data-wiki-breadcrumbs>
        {{ parent() }}
    </div>
{% endblock %}

{% block resourceBreadcrumb %}
    {% verbatim %}
    <li ng-repeat="breadcrumb in vm.$routeParams.breadcrumbs">
        <a data-ng-if="breadcrumb.link"
            data-ng-click="vm.displayUrl(breadcrumb.link)" data-ng-bind-html="breadcrumb.title|trustedHtml"></a>
        <span data-ng-if="!breadcrumb.link" data-ng-bind-html="breadcrumb.title|trustedHtml"></span>
    </li>
    {% endverbatim %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icapwiki/css/jquery.sortable.css') }}'/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        angular.module('WikiModule').value('wiki', {
            activeUserId: {{ user is not empty ? user.id : 'null' }},
            id: {{ _resource.id }},
            title: "{{ _resource.resourceNode.name }}",
            mode: {{ _resource.mode }},
            displaySectionNumbers: {{ _resource.displaySectionNumbers ? 'true' : 'false' }},
            isLoggedIn: {{ user is not empty ? 'true' : 'false' }},
            isAdmin: {{ isAdmin ? 'true' : 'false' }},
            isPDFExportActive: {{ config.getParameter('is_pdf_export_active') == true ? 'true' : 'false' }},
            sections: {{ tree|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            deletedSections: {{ deletedSections|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            {% if user is not empty %}
            notificationButton: `{% render controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class}) %}`
            {% endif %}
        });
    </script>
{% endblock %}

