<p>{{ widget.post }}</p>
<p>{{ widget.companyName }}</p>
{% if widget.website is not null %}<p><span class="fa fa-link"></span> <a href="{{ widget.website }}" title="{{ widget.companyName }} website">{{ widget.website }}</a></p>{% endif %}
<p><span class="fa fa-calendar"></span> {{ widget.startDate|date('date_format'|trans({}, 'platform')) }} - {% if widget.endDate is not null %}{{ widget.endDate|date('date_format'|trans({}, 'platform')) }}{% else %}{{ 'today'|trans({}, 'icap_portfolio') }}{% endif %}</p>
{% if widget.description is not null %}{{ widget.description|raw }}{% endif %}