{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}

{% block section_content %}

<form
    class="form-horizontal"
    action="{{ path('claro_announcement_create', {'aggregateId': _resource.getId()}) }}"
    method="post" {{ form_enctype(form) }}
    id="announcement-form"
    autocomplete="off"
>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_announcement_aggregate_open', {'aggregateId': _resource.getId()}) }}">
            <button  type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>

{% endblock %}