{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}

{% block section_content %}
{% if type == 'create' %}
    {% set typeText = 'announcement_creation' %}
    {% set validationPath = path('claro_announcement_create', {'aggregateId': _resource.getId()}) %}
{% else %}
    {% set typeText = 'announcement_edition' %}
    {% set validationPath = path('claro_announcement_edit', {'announcementId': announcement.getId()}) %}
{% endif %}

<div class="margin">
    {{
        macros.breadcrumbs([
            {
                'name': 'announcements_list'|trans({}, 'announcement'),
                'href': path('claro_announcements_list', {'aggregateId': _resource.getId()})
            },
            {
                'name': typeText|trans({}, 'announcement'),
                'href': '#'
            }
        ])
    }}

    <div class="panel-heading">
        <h3>
        {% if type == 'create' %}
            {{ typeText|trans({}, 'announcement') }}
        {% else %}
            {{ typeText|trans({}, 'announcement') }}
        {% endif %}
        </h3>
    </div>
    <br>
    <form
        class="form-horizontal"
        action="{{ validationPath }}"
        method="post" {{ form_enctype(form) }}
        id="announcement-form"
    >
        {{ form_widget(form) }}

        <div class="form-actions panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_announcements_list', {'aggregateId': _resource.getId()}) }}">
                <button  type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
</div>

{% endblock %}