{# this is the desktop layout template if you want to keep it #}

{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}




{% block section_content %}


<div class="row-fluid">
    <ul class="breadcrumb">
        <li><a href="#">Editeur</a></li>
    </ul>
</div>
    <div class="row-fluid">
        <div class="margin">
            <div class="span6">
                <div class="row-fluid">
                    <h3>Parcours :</h3>
                </div>
                <div class="row-fluid">
                    <form action="" method="post" accept-charset="utf-8" id="form_test_bob">
                            <select name="path-id" id="path-id">
                                {% for path in paths %}
                                    <option value="{{ path.id }}">{{ path.name }}</option>
                                {% endfor %}
                            </select>
                        <input type="submit" class="btn clickParcoursTree">
                    </form>
                </div> 
                <div class="row-fluid">
                    <div class="well abstractWorkspaceList">
                    <button id="save" class="btn btn-primary pull-right">Sauvegarder</button>
                    <span id="save_callback" class="notifications top-left"></span>
                    <ul>
                        <li class="abstractWorkspace">Parcours 1</li>
                    </ul>
                    <!--<button id="back" class="btn pull-right">Back</button>-->
                <div id="left_tree">
                    
                </div>
            </div>
                </div>               

            </div>
                
        </div> 
    </div>

    
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/innovapath/js/script.js') }}'></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/innovapath/css/style.css') }}" />
{% endblock %}