{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
{% if isDesktop == false %}
{% set isDesktop = 0 %}
{% endif %}
{% if isDefault == false %}
{% set isDefault = 0 %}
{% endif %}
<form class="form-horizontal" id="rss-reader-form"
      action="{{ path('claro_rss_config_create', {'workspaceId': workspaceId, 'isDesktop':isDesktop, 'isDefault':isDefault, 'userId':userId}) }} "
      method="post" {{ form_enctype(form) }}
>
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_admin_widgets') }}">
            <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>
