{% macro renderPager(forumId, pager) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_forum_subjects',
                'routeParams': {'forumId': forumId}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        <div class="navbar row">
            <div class="col-md-6">
                {% if canCreateSubject %}
                <a class="btn btn-primary" href="{{ _path('claro_forum_form_subject_creation', {'forumId': _resource.getId()}) }}">
                    <i class="icon-plus"></i> {{ 'new_subject'|trans({}, 'forum') }}
                </a>
                {% endif %}
                {% if is_mailer_available() %}
                    {% if hasSubscribed %}
                        <a class="btn btn-primary" href="{{ _path('claro_forum_unsubscribe', {'forum': _resource.getId()}) }}">
                            {{ 'unsubscribe_mail_list'|trans({}, 'forum') }}
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ _path('claro_forum_subscribe', {'forum': _resource.getId()}) }}">
                            {{ 'subscribe_mail_list'|trans({}, 'forum') }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6">
                 <div class="input-group">
                   <input class="form-control" type="text" id="search-items-txt" placeholder="{{ 'search'|trans({}, 'platform') }}" value="{{ search }}">
                    <span class="input-group-btn">
                        <button class="filter btn btn-default" type="button" id="search-button">
                            <i class="icon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="subjects_table" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'subject'|trans({}, 'forum') }}</th>
                        <th>{{ 'responses'|trans({}, 'forum') }}</th>
                        <th>{{ 'last_message'|trans({}, 'forum') }}</th>
                        {% if isModerator %}
                            <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="table-subjects-body">
                {% for subject in pager.currentPageResults %}
                    {% set messages = subject.getMessages() %}
                    {% set lastMessage = messages[nbMessages - 1] %}
                    <tr class='row-subject'>
                        <td>
                            <a class="link-subject"
                                href="{{ _path('claro_forum_messages', {'subjectId': subject['id'] }) }}"
                            >
                                {{ subject['title'] }}
                            </a>
                            {% if isModerator or app.user.id == subject['subject_creator_id'] %}
                                <a href="{{ path('claro_forum_edit_subject_form', {'subjectId': subject['id'] }) }}">
                                    <i class="icon-pencil"></i>
                                </a>
                           {% endif %}
                            <br>
                            {{ 'started_by' | trans({}, 'forum') }}
                            {{ subject['subject_creator_firstname'] }}
                            {{ subject['subject_creator_lastname'] }},
                            {{ subject['subject_created']|intl_date_format() }}
                        </td>
                        <td>
                            {{ subject['count_messages'] }}
                        </td>
                        <td>
                            {{ subject['last_message_creator_firstname'] }}
                            {{ subject['last_message_creator_lastname'] }}<br/>
                            {{ subject['last_message_created'] }}
                        </td>
                        {% if isModerator %}
                            <th><a id="delete-subject" href="{{ _path('claro_forum_delete_subject', {'subject': subject['id']}) }}"> <i class="icon-remove"></i></a></th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {{ renderPager(_resource.getId(), pager) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        vars=["locale"]
        "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/validationFooter.html.twigjs"
        "@ClarolineForumBundle/Resources/views/removeSubjectConfirm.html.twigjs"
        filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('#search-button').on('click', function(event) {
            event.preventDefault();
            var search = document.getElementById('search-items-txt').value;
            if (search !== '') {
                var route = Routing.generate('claro_forum_search', {'forum': {{ _resource.getId()}}, 'search': document.getElementById('search-items-txt').value});
                window.location.href = route;
            }
        });
    </script>
        {% if isModerator %}
            <script>
               function createValidationBox() {
                    var html = Twig.render(
                        ModalWindow,
                        {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'confirm-modal', 'body': Twig.render(removeSubjectConfirm, {'nbItems': 1})}
                    );
                    $('body').append(html);
                }

                createValidationBox();
                var tmpRoute = '';
                var tmpEl = undefined;

                $('body').on('click', '#delete-subject', function(event) {
                    event.preventDefault();
                    $('#confirm-modal').modal('show');
                    tmpRoute = event.currentTarget.href;
                    tmpEl = event.currentTarget;
                });

                $('body').on('click', '#modal-valid-button', function(event) {
                    $('#confirm-modal').modal('hide');
                    $.ajax({
                        url: tmpRoute,
                        success: function () {
                            $(tmpEl)[0].parentElement.parentElement.remove();
                        }
                    });
                });
            </script>
    {% endif %}
{% endblock %}
