{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName() ~ ' - ' ~ workspace.getCode(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'innova_path'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'paths' | trans({}, 'innova_tools') }}</h3>
    </div>

    <div class="panel-body">
        <div>
            {{ macros.flashBox() }}
        </div>

        <a href="{{ path('innova_path_editor', {workspaceId: workspace.id}) }}" class="btn btn-default"><span class="icon-pencil"></span> {{ 'create_path' | trans({}, 'innova_tools') }}</a>

        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-align-justify"></span>
                {{ 'my_paths' | trans({}, 'innova_tools') }}
            </div>
            <table class="table table-hover" style="margin-top: -1px;">
                {% for count, path in paths["me"] %}
                <tr>
                    <td>
                        {% if path.deployed %}
                            <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}">
                                {{ path.resourceNode.name }}
                            </a>
                        {% else %}
                             {{ path.resourceNode.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ path.description | striptags | truncate(40, true, ' [...]') }}
                    </td>
                    <td align="right">
                    {% if path.deployed %}
                        <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}" data-original-title="{{ 'play' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-default" />
                            <span class="icon-play"></span>
                        </a>
                    {% endif %}
                        <form action="{{ path('innova_path_editor', {workspaceId: workspace.id, pathId: path.resourceNode.id}) }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="id" />
                            <button rel="tooltip" data-original-title="{{ 'edit' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-default" type="submit"><span class="icon-pencil"></span></button>
                        </form>
                    {% if path.modified or not path.deployed %}
                        <form action="{{ path('innova_path_deploy') }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="pathId" />
                            <button rel="tooltip" data-original-title="{{ 'deploy' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-success" type="submit"><span class="icon-random"></span></button>
                        </form>
                   {% endif %}
                        <form action="{{ path('innova_path_delete_path') }}" method="post" style="display: inline-block">
                            <input type="hidden" value="DELETE" name="_method" />
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="id" />
                            <a href="#" rel="tooltip" data-original-title="{{ 'delete' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-danger path-delete" id="path-delete-{{ count }}"><span class="icon-trash"></span></a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-align-justify"></span>
                {{ 'others_paths' | trans({}, 'innova_tools') }}
            </div>
            <table class="table table-hover" style="margin-top: -1px;">
                {% for path in paths["others"] %}
                    {% if path.deployed %}
                    <tr>
                        <td><strong>{{ path.resourceNode.name }}</strong></td>
                        <td>
                            {{ path.description | striptags | truncate(40, true, ' [...]') }}
                        </td>
                        <td align="right">
                            <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}" data-original-title="{{ 'play' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-default" />
                                <span class="icon-play"></span>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/fromWorkspace.js') }}"></script>
{% endblock %}