{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName() ~ ' - ' ~ workspace.getCode(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'innova_path'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'paths' | trans({}, 'innova_tools') }}
        </h3>

        {% if canCreate %}
            <div class="btn-group float-right-top">
                <a href="{{ path('innova_path_editor_new', {workspaceId: workspace.id}) }}" class="btn btn-sm btn-default">
                    <span class="fa fa-plus"></span>
                    {{ 'create_path' | trans({}, 'innova_tools') }}
                </a>       
                <button class="btn btn-sm btn-default path-from-model">
                    <span class="fa fa-upload"></span>
                    {{ 'create_path_from_model' | trans({}, 'innova_tools') }}
                </button>
                <input type="hidden" id="workspace-id" name="workspaceId" value="{{workspace.id}}"/>
            </div>
            <!-- Select template modal -->
            <div class="modal fade" id="path-template-list-modal" tabindex="-1" role="dialog" aria-hidden="true">              
                <div class="modal-dialog">                  
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" title="{{ 'close' | trans({}, 'innova_tools') }}" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ 'choose_model' | trans({}, 'innova_tools') }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>{{ 'paths_template_list' | trans({}, 'innova_tools') }}:</h5>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="template-list" class="list-group"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> {{ 'close' | trans({}, 'innova_tools') }} </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div style="margin: 20px 20px 0 20px;">{{ macros.flashBox() }}</div>

    {% if paths is empty  %}
        <div class="panel-body">
            <em>{{ 'no_path_found' | trans({}, 'innova_tools') }}</em>
        </div>
    {% else %}
        <table id="mypaths" class="table table-hover in">
            <thead>
                <tr>
                    <th>{{ 'status' | trans({}, 'innova_tools') }}</th>
                    <th>{{ 'name' | trans({}, 'innova_tools') }}</th>
                    <th>{{ 'description' | trans({}, 'innova_tools') }}</th>
                    <th class="text-right">{{ 'available_actions' | trans({}, 'innova_tools') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for count, path in paths %}
                    <tr>
                        <td>
                            {% if path.entity.published %}
                                {% if not path.entity.modified %}
                                    <span class="text-success">{{ 'published' | trans({}, 'innova_tools') }}</span>
                                {% else %}
                                    <span class="text-warning">{{ 'published' | trans({}, 'innova_tools') }} {{ 'modified' | trans({}, 'innova_tools') }}</span>
                                {% endif %}
                            {% else %}
                                <span class="text-danger">{{ 'draft' | trans({}, 'innova_tools') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <strong>
                                {% if path.entity.published %}
                                    <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.entity.id, stepId: path.entity.getRootStep().id}) }}" />
                                    {{ path.entity.resourceNode.name }}
                                    </a>
                                {% else %}
                                    {{ path.entity.resourceNode.name }}
                                {% endif %}
                            </strong>
                        </td>
                        <td>
                            <em>{{ path.entity.description | striptags | truncate(40, true, ' [...]') }}</em>
                        </td>
                        <td class="text-right">
                            <a href="{{ path('innova_path_editor_edit', {workspaceId: workspace.id, id: path.entity.id}) }}" class="btn btn-xs btn-default">
                                <span class="fa fa-pencil"></span>
                                {{ 'edit' | trans({}, 'innova_tools') }}
                            </a>

                            {% if (path.entity.modified or not path.entity.published) and path.canEdit %}
                                <a href="{{ path('innova_path_publish', {workspaceId: workspace.id, id: path.entity.id}) }}" class="btn btn-xs btn-success">
                                    <span class="fa fa-share-square-o"></span>
                                    {{ 'publish' | trans({}, 'innova_tools') }}
                                </a>
                            {% endif %}

                            {% if path.canDelete %}
                                <form action="{{ path('innova_path_delete', {workspaceId: workspace.id, id: path.entity.id}) }}" method="post" style="display: inline-block">
                                    <input type="hidden" value="DELETE" name="_method" />
                                    <a href="#" class="btn btn-xs btn-danger path-delete" id="path-delete-{{ count }}">
                                        <span class="fa fa-trash-o"></span>
                                        {{ 'delete' | trans({}, 'innova_tools') }}
                                    </a>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/fromWorkspace.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name':'innova_tools' }) }}"></script>
{% endblock %}