{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'my_portfolios'|trans({}, 'platform') }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading relative">
            <h3 class="panel-title">
                {% block content_title %}{{ 'my_portfolios'|trans({}, 'platform') }}{% endblock %}
            </h3>
        </div>
        <div class="panel-body">
            {{ macros.flashBox() }}
            {% block content_body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='bundles/icapportfolio/css/portfolio.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}
