{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% set blogOptions = _resource.options %}
{% block content %}
        {% if blogOptions.displayTitle %}
        <h1><a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}" title="{{ _resource.resourceNode.name }}" class="blog_title">{{ _resource.resourceNode.name }}</a></h1>
        {% endif %}

        {% if is_granted('ADMINISTRATE', _resource) %}
        <div class="panel blog_banner_configurator">
            <div class="panel-heading btn btn-default" data-toggle="collapse" href="#blogBannerConfigurator">
                <h4 class="panel-title">
                    {{ 'icap_blog_edit_banner'|trans({}, 'icap_blog') }}
                </h4>
            </div>
            <div id="blogBannerConfigurator" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="{{ path('icap_blog_configure_banner', {'blogId': _resource.id}) }}" method="post" {{ form_enctype(bannerForm) }} role="form" novalidate>
                        {{ form_errors(bannerForm) }}
                        <div class="checkbox">
                            <label>
                                {{ form_widget(bannerForm.banner_activate) }} {{ 'icap_blog_banner_form_banner_activate'|trans({}, 'icap_blog') }}
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-4" id="icap_blog_banner_form_banner_background_image_container" data-image-path="{{ asset(get_blog_upload_dir()) }}">
                                {{ form_label(bannerForm.file) }}
                                {{ form_widget(bannerForm.file) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(bannerForm.banner_background_color) }}
                                <div class="input-group banner_background_color col-md-5" data-color="{{ blogOptions.bannerBackgroundColor }}" data-color-format="hex">
                                    {{ form_widget(bannerForm.banner_background_color) }}
                                    <span class="input-group-addon" style="background-color: {{ blogOptions.bannerBackgroundColor }}"><span class="fa fa-tint"></span></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{ form_label(bannerForm.banner_height) }}
                                {{ form_widget(bannerForm.banner_height) }}<span>px</span>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-danger btn-xs{% if null == get_blog_banner(_resource) %} hidden{% endif %} remove_banner_background_image" id="remove_banner_background_image">Réinitialiser l'image d'arrière plan</button>
                        </div>
                        <div class="row{% if null == get_blog_banner(_resource) %} hidden{% endif %}" id="banner_background_image_parameters">
                            <div class="col-md-2">
                                {{ form_label(bannerForm.banner_background_image_position) }}
                                <table class="position_table">
                                    <tbody>
                                    <tr>
                                        <td><button type="button" class="banner orientation_btn yleft xtop selected" data-value="left top"></button></td>
                                        <td><button type="button" class="banner orientation_btn ycenter xtop" data-value="center top"></button></td>
                                        <td><button type="button" class="banner orientation_btn yright xtop" data-value="right top"></button></td>
                                    </tr>
                                    <tr>
                                        <td><button type="button" class="banner orientation_btn yleft xcenter" data-value="left center"></button></td>
                                        <td><button type="button" class="banner orientation_btn ycenter xcenter" data-value="center center"></button></td>
                                        <td><button type="button" class="banner orientation_btn yright xcenter" data-value="right center"></button></td>
                                    </tr>
                                    <tr>
                                        <td><button type="button" class="banner orientation_btn yleft xbottom" data-value="left bottom"></button></td>
                                        <td><button type="button" class="banner orientation_btn ycenter xbottom" data-value="center bottom"></button></td>
                                        <td><button type="button" class="banner orientation_btn yright xbottom" data-value="right bottom"></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                                {{ form_widget(bannerForm.banner_background_image_position) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(bannerForm.banner_background_image_repeat) }}
                                {{ form_widget(bannerForm.banner_background_image_repeat) }}
                                <div id="icap_blog_banner_form_banner_background_image_repeat_choices">
                                    <label class="checkbox-inline" for="icap_blog_banner_form_banner_background_image_repeat_x">
                                        <input type="checkbox" id="icap_blog_banner_form_banner_background_image_repeat_x" />
                                        x
                                    </label>
                                    <label class="checkbox-inline" for="icap_blog_banner_form_banner_background_image_repeat_y">
                                        <input type="checkbox" id="icap_blog_banner_form_banner_background_image_repeat_y" />
                                        y
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-sm">{{ 'valid_banner_modification'|trans({}, 'icap_blog') }}</button>
                            <button type="reset" class="btn btn-default btn-sm" id="btn_reset">{{ 'cancel'|trans({}, 'platform') }}</button>
                        </div>
                        {{ form_rest(bannerForm) }}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% if blogOptions.isBannerActivate or (false == blogOptions.isBannerActivate and is_granted('ADMINISTRATE', _resource)) %}
        <a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}" title="{{ _resource.resourceNode.name }}">
            <div id="blog_banner" class="col-md-12 well blog_banner{% if false == blogOptions.isBannerActivate %} hidden{% endif %}" style="height: {{ blogOptions.bannerHeight }}px; background-color: {{ blogOptions.bannerBackgroundColor }}; background-image: {% if null == get_blog_banner(_resource) %}none{% else %}url('{{ asset(get_blog_banner_web_path(_resource)) }}'){% endif %}; background-position: {{ blogOptions.bannerBackgroundImagePosition }}; background-repeat: {{ blogOptions.bannerBackgroundImageRepeat }};">
            </div>
        </a>
        {% endif %}
        {{ macros.flashBox() }}
        <div class="row button_block">
            {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('ADMINISTRATE', _resource) or is_granted('POST', _resource) or is_granted('ROLE_ADMIN') %}
            <div class="col-md-12">
                {% if is_granted('ADMINISTRATE', _resource) or is_granted('POST', _resource) %}
                    <a href="{{ path('icap_blog_post_new', {'blogId': _resource.id}) }}" title="{{ 'new_post'|trans({}, 'icap_blog') }}" class="btn btn-default">
                        <span class="fa fa-plus"></span> {{ 'new_post'|trans({}, 'icap_blog') }}
                    </a>
                {% endif %}
                {% if is_granted('ADMINISTRATE', _resource) %}
                    <a href="{{ path('icap_blog_configure', {"blogId": _resource.id}) }}" title="{{ 'options'|trans({}, 'platform') }}" class="btn btn-default">
                        <i class="fa fa-wrench"></i> {{ 'options'|trans({}, 'platform') }}
                    </a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class})) }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye"></span>{{ 'show_as'|trans({}, 'platform') }} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% if has_role_access_to_workspace('ROLE_ANONYMOUS', _resource.resourceNode.workspace.id) %}
                                <li>
                                    <a href="?view_as=ROLE_ANONYMOUS_{{ _resource.resourceNode.workspace.id }}">
                                        {{ 'anonymous'|trans({}, 'platform') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% for role in user.personalWorkspace.roles %}
                                {% if has_role_access_to_workspace(role.getName(), _resource.resourceNode.workspace.id) %}
                                    <li>
                                        <a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}?view_as={{ role.getName() }}">
                                            {{ role.getTranslationKey()|trans({}, 'platform') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <section class="col-lg-8">
                {% block blog_content %}{% endblock %}
            </section>
            {{ render(controller('IcapBlogBundle:Base:orderPanels', { 'blog': _resource })) }}
        </div>
{% endblock %}

{% set calendarPath = 'bundles/frontend/jquery/plugin/fullcalendar-2.3.1/' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/common/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'fullcalendar.min.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'fullcalendar.print.css') }}' media='print' />
    {% stylesheets debug=false filter='lessphp'  output='css/icapblog/style.css'
      "@IcapBlogBundle/Resources/views/less/style.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}

    {% if blogOptions.isBannerActivate or (false == blogOptions.isBannerActivate and is_granted('ADMINISTRATE', _resource)) %}
        <link rel="stylesheet" href="{{ asset('bundles/frontend/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css') }}" screen="media" />
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/jquery-ui-spinner.js'
        '@FrontEndBundle/Resources/public/jquery/jquery-ui-1.9.2/components/jquery.ui.core.min.js'
        '@FrontEndBundle/Resources/public/jquery/jquery-ui-1.9.2/components/jquery.ui.widget.min.js'
        '@FrontEndBundle/Resources/public/jquery/jquery-ui-1.9.2/components/jquery.ui.button.min.js'
        '@FrontEndBundle/Resources/public/jquery/jquery-ui-1.9.2/components/jquery.ui.spinner.min.js'
        %}<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type='text/javascript' src='{{ asset('bundles/frontend/moment.min.js') }}' ></script>
    <script type='text/javascript' src='{{ asset(calendarPath ~ 'fullcalendar.min.js') }}' ></script>
    <script type='text/javascript'src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type='text/javascript'src='{{ asset('bundles/icapblog/js/jquery-tree.js') }}'></script>

    {% if (blogOptions.isBannerActivate or false == blogOptions.isBannerActivate) and is_granted('ADMINISTRATE', _resource) %}
        <script type="text/javascript" src="{{ asset('bundles/frontend/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js') }}"></script>
        <script type='text/javascript'src='{{ asset('bundles/icapblog/js/banner.js') }}'></script>
    {% endif %}

    {% if blogOptions.tagCloud == 1 %}
        <script type='text/javascript'src='{{ asset('bundles/icapblog/js/jquery.tagcanvas.min.js') }}'></script>
    {% endif %}

    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'agenda' }) }}"></script>
    <script type="text/javascript">
        (function($) {
            $(function() {
                function t(key) {
                    return Translator.trans(key, {}, 'agenda');
                }

                $('#calendar').fullCalendar({
                    editable:        false,
                    events:          "{{ path('icap_blog_calendar_datas', {'blogId': _resource.id}) }}",
                    buttonText: {
                        today: t('today')
                    },
                    monthNames: [t('january'), t('february'), t('mars'), t('april'), t('may'), t('june'), t('july'),
                        t('august'), t('september'), t('october'), t('november'), t('december')],
                    monthNamesShort: [t('jan'), t('feb'), t('mars'), t('apr'), t('may'), t('ju'), t('jul'), t('aug'),
                        t('sept'), t('nov'), t('dec')],
                    dayNames: [ t('sunday'),t('monday'), t('tuesday'), t('wednesday'), t('thursday'), t('friday'), t('saturday')],
                    dayNamesShort: [ t('sun'), t('mon'), t('tue'), t('wed'), t('thu'), t('fri'), t('sat')],
                    today: 'pouet'
                });

                $('.delete').confirmModal();

                $('.tree').tree();

                {% if blogOptions.tagCloud == 1 %}
                $('#tagCloudCanvas').tagcanvas({
                    textColour : '#428BCA',
                    outlineThickness : 1,
                    maxSpeed : 0.05,
                    textHeight: 18,
                    depth : 0.5,
                    weight : true,
                    outlineColour : '#2A6496',
                    outlineMethod : 'colour',
                    reverse : true
                }, 'tagList');
                {% endif %}
            });
        })(jQuery);
    </script>
    {% block icap_blog_javascripts %}
    {% endblock icap_blog_javascripts %}
{% endblock javascripts %}
