{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block layout %}
    <div id="sf-environement" data-env="{{ app.environment }}" class="hide"></div>
    <div id="homePath" class="hide">{{ path("claro_index") }}</div>
    <div id="homeAsset" class="hide">{{ app.request.getSchemeAndHttpHost() ~ asset("") }}</div>
    <div id="homeLocale" class="hide">{% spaceless %}
            {% if asset_exists("bundles/stfalcontinymce/vendor/tinymce/langs/" ~ app.request.locale ~ ".js") %}
                {{ app.request.locale }}
            {% elseif asset_exists("bundles/stfalcontinymce/vendor/tinymce/langs/" ~ app.request.locale ~ "_" ~ app.request.locale | upper ~ ".js") %}
                {{ app.request.locale ~ '_' ~ app.request.locale | upper }}
            {% else %}
                en
            {% endif %}
        {% endspaceless %}
    </div>
    {% block admin_bar %}

    {% endblock %}

    {% block content_container %}
        <div class="hide">
            <div class="hide">
                <div id="left-bar" class="sidebar">
                    {% block leftbar %}{% endblock %}
                </div>
            </div>
            <div class="hide">
                <div id="right-bar" class="sidebar">
                    {% block rightbar %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}