{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/icapwiki/css/style.css') }}"/>
{% endblock %}

{% block content %}
        <div class="panel panel-wiki">
            <div class="panel-body">            
                {% for item in pathArray|slice(length-2, 1) %}
                    <a href="{{ path('claro_desktop_open_tool', {"toolName": "resource_manager"}) ~ "#resources/" ~ item.id }}">
                        <span class="icon-angle-left"></span>
                        {{ 'back'|trans({}, 'icap_wiki') }}
                    </a>
                {% endfor %}

                {% block wiki_content %}
                {% endblock %}
            </div>            
        </div>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}