{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block layout %}
    <div id="sf-environement" data-env="{{ app.environment }}"></div>
    <div id="wrapper">
        <div class="please-wait">
            <span class="label label-warning"> {{ 'please_wait'|trans({}, 'platform') }} </span>
        </div>
        {% render controller('ClarolineCoreBundle:Layout:topBar', {'blogId': _resource.id}) %}

        <div id="grid" class="container container-fluid">
            {% if has_role('ROLE_USURPATE_WORKSPACE_ROLE') %}
                {% render controller('ClarolineCoreBundle:Layout:renderWarningImpersonation') %}
            {% endif %}
            {% block sectionHeader %}
            &nbsp;
            {% endblock %}
            {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', blog) %}
            <div class="btn-toolbar">
                {% if is_granted('ROLE_ADMIN') %}
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-eye-open"></i>{{ 'show_as'|trans({}, 'platform') }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% if has_role_access_to_workspace('ROLE_ANONYMOUS', _resource.workspace.id) %}
                            <li>
                                <a href="?view_as=ROLE_ANONYMOUS_{{ _resource.workspace.id }}">
                                    {{ 'anonymous'|trans({}, 'platform') }}
                                </a>
                            </li>
                        {% endif %}
                        {% for role in user.personalWorkspace.roles %}
                            {% if has_role_access_to_workspace(role.getName(), _resource.workspace.id) %}
                                <li>
                                    <a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}?view_as={{ role.getName() }}">
                                        {{ role.getTranslationKey()|trans({}, 'platform') }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if is_granted('EDIT', blog) %}
                <div class="btn-group">
                    <a href="{{ path('icap_blog_configure', {"blogId": _resource.id}) }}" class="btn">
                        <i class="icon-wrench"></i> {{ 'options'|trans({}, 'platform') }}
                    </a>
                </div>
                {% endif %}
            </div>
            {% endif %}

            <div class="row-fluid content">
                <div class="hero-unit">
                    <h1>{{ _resource.name }}</h1>
                </div>
                {{ macros.flashBox() }}
                <div class="row-fluid">
                    <section class="span8 well">
                        {% block content %}{% endblock %}
                    </section>
                    <aside class="span4">
                        <form class="form-search well">
                            <div class="input-prepend">
                                <label for="search_query" ><span class="add-on"><i class="icon-search"></i></span></label>
                                <input type="text" id="search_query" placeholder="Recherche...">
                            </div>
                            <p class="muted"><small>Recherche dans les titres, contenus et mots clés des billets.</small></p>
                        </form>
                        <div class="well">
                            <h3>Info bar</h3>
                        </div>
                        <div class="well collapse in">
                            <h3>
                                Informations
                            <button type="button" class="btn btn-mini pull-right" data-toggle="collapse" data-target="#informations">
                                <i class="icon-chevron-down"></i>
                            </button>
                            </h3>
                            <div id="informations" class="collapse out">
                                <p>
                                    Date de création :{{ _resource.creationDate|date('date_format'|trans({}, 'platform')) }}<br />
                                    Commentaires autorisés: {% if _resource.options.authorizeComment %}{{ 'yes'|trans({}, 'platform') }}{% else %}{{ 'no'|trans({}, 'platform') }}{% endif %}<br />
                                    Commentaires anonymes autorisés: {% if _resource.options.authorizeAnonymousComment %}{{ 'yes'|trans({}, 'platform') }}{% else %}{{ 'no'|trans({}, 'platform') }}{% endif %}<br />
                                    Nb d'article/pages : {{ _resource.options.postPerPage }}<br />
                                    Publication automatique des billets: {% if _resource.options.autoPublishPost %}{{ 'yes'|trans({}, 'platform') }}{% else %}{{ 'no'|trans({}, 'platform') }}{% endif %}<br />
                                    Publication automatique des commentaires: {% if _resource.options.autoPublishComment %}{{ 'yes'|trans({}, 'platform') }}{% else %}{{ 'no'|trans({}, 'platform') }}{% endif %}<br />
                                </p>
                            </div>
                        </div>
                        <div class="well">
                            <h3>Nuage de tag</h3>
                            {{ for }}
                            <ul class="inline">
                                {% for tag in all_tags() %}
                                <li><a href="#" title="{{ tag }}">{{ tag }}</a></li>
                                {% else %}
                                <li>{{ 'no_tags'|trans({}, 'icap_blog') }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="well">
                            <h3>Rédacteurs</h3>
                            <ul class="inline">
                                {% for author in _resource.authors %}
                                <li><a href="#" title="{{ author.firstname ~ ' ' ~ author.lastname }}">{{ author.firstname ~ ' ' ~ author.lastname }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="well">
                            <h3>Calendrier</h3>
                            <div id='calendar'></div>
                        </div>
                        <div class="well">
                            <h3>Archives</h3>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
        {% if not is_path_mode %}
            {% render controller('ClarolineCoreBundle:Layout:footer') %}
        {% endif %}
    {% endblock%}
    <div id="ajax-login-modal" class="modal hide fade">
        <div class="modal-header">
        </div>
        <div class="modal-body" id="ajax-login-modal-body">
            <div id="ajax-login-validation-box-body">
            </div>
        </div>
    </div>
{% endblock %}

{% set calendarPath = 'bundles/frontend/jquery/plugin/calendar/' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'css/fullcalendar.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'css/fullcalendar.print.css') }}' media='print' />
    {% stylesheets debug=false filter='lessphp'  output='bundles/icapblog/css/style.css'
      "@ICAPBlogBundle/Resources/views/less/style.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{ asset(calendarPath ~ 'js/fullcalendar.js') }}' ></script>
    <script type='text/javascript'src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type='text/javascript'src='{{ asset('bundles/clarolinecore/js/tool/calendar.js') }}'></script>
    <script type="text/javascript" src="{{ asset('bundles/icapblog/js/blog.js') }}"></script>
    {% block icap_blog_javascripts %}
    {% endblock icap_blog_javascripts %}
{% endblock javascripts %}