{% macro displayDocumentsList(drop, dropzone, width, mode, documentListText, adminInnova, collecticielOpenOrNot ) %}
    <div class="row">
        <div class="col-md-{{ width }}">
            {% if documentListText is not null %}
                <div class="text-muted">{{ documentListText }}</div>
            {% endif %}
            
            {% set documents_validated = "none" %}
            {% for document in drop.documents %}
                {% if document.validate %}
                    {% set documents_validated = "yes" %}
                {% endif %}
            {% endfor %}
            
            {# InnovaERV : suppression de la condition "OR" suite retour Nathalie #}
            {# InnovaERV : car il fallait voir les documents qund on va sur l'espace d'un étudiant #}
            {# voir également documentItem.html.twig #}
            {% if drop.documents|length == 0  %}
                <p>{{ 'No document associated'|trans({},'innova_collecticiel') }}</p>
            {% else %}
                <table class="table table-responsive {% if mode == "condensed" %}table-condensed{% endif %} well datatable">
                    <thead>
                        <tr class="text-left">
                            <th class="centered"></th>
                            <th class="nameColumn">{{ 'Name'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="nameColumn">{{ 'First name'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="usernameColumn">{{ 'Nickname'|trans({}, 'innova_collecticiel') }}</th>
                           
                            <th class="centered">
                                <i class="fa fa-file-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Name of document'|trans({},'innova_collecticiel') }}"></i>
                            </th>
                            <th class="typeColumn centered">
                                <i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Type of document'|trans({},'innova_collecticiel') }}"></i>
                            </th>
                            <th class="dateColumn centered">
                                <i class="fa fa-calendar-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Date hour'|trans({},'innova_collecticiel') }}"></i>
                            </th>
                            {# #146 : on affiche cette colonne même en tant qu'enseignant, demande de JJQ #}
                            {#  {% if not adminInnova %} #}
                            <th class="centered">
                                <i class="fa fa-arrow-right" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Commented document'|trans({},'innova_collecticiel') }}"></i>
                            </th>
                            {#  {% endif %} #}
                            <th class="centered">
                                <i class="fa fa-commenting-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Comment evaluation'|trans({},'innova_collecticiel') }}"></i>
                            </th>
                            {# #187 : ajout de la colonne "Accusé de réception", demande de JJQ #}
                            {% if dropzone.returnreceipt == 1  %}
                                <th class="centered">
                                    <i class="fa fa-hand-o-right" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To add a return receipt'|trans({},'innova_collecticiel') }}">
                                </th>
                            {% endif %}
                            {% if adminInnova %}
                                <th class="no-sort"></th>
                            {% else %}
                                {% if collecticielOpenOrNot %}
                                    <th class="no-sort"</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, document in drop.documents %}
                            {% include 'InnovaCollecticielBundle:Document:documentItem.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {# Déclaration de la modal pour confirmation de la validation #}
    <div class="modal fade" id="validate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Commented document modal'|trans({}, 'innova_collecticiel') }}</h4>
            </div>
            <div class="modal-body">
                {{ 'Sure to ask comment for document'|trans({}, 'innova_collecticiel') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button data-document_id="titi" id="modal_confirm" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">Ok</button>
            </div>
            </div>
        </div>
    </div>
    {# Fin de la déclaration de la modal pour confirmation de la validation #}



<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
<script src="{{ asset('bundles/innovacollecticiel/js/popup.js') }}"></script>


{% endmacro %}
