{% macro displayDocumentsList(drop, dropzone, width, mode, documentListText ) %}        
    <div class="row">
        <div class="col-md-{{ width }}">
            <div class="text-muted">{{ documentListText }}</div>
            <table class="table table-responsive {% if mode == "condensed" %}table-condensed{% endif %} well">
                {% for index, document in drop.documents %}
                    <tr>
                        <td>{{ 'Document n°%count%'|trans({'%count%': index + 1}, 'icap_dropzone') }}</td>
                        <td>{{ (document.type~'_type')|trans({}, 'icap_dropzone') }}</td>
                        <td>
                            {% if document.url is not null %}
                                <a target="_blank" href="{{ document.url }}">{{ document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url }}</a>
                            {% else %}
                                <a target="_blank" href="{{ path('icap_dropzone_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{document.resourceNode.name}}</a>
                            {% endif %}
                        </td>
                        {% if mode == 'complete' %}
                            <td>
                                <a href="{{ path('icap_dropzone_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" class="btn btn-danger btn-sm pull-right launch-modal">
                                    <span class="glyphicon icon-trash"></span>
                                    {{ 'Delete'|trans({}, 'icap_dropzone') }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}