{% macro displayDocumentsList(drop, dropzone, width, mode, documentListText, adminInnova ) %}
    <div class="row">
        <div class="col-md-{{ width }}">
            {% if documentListText is not null %}
                <div class="text-muted">{{ documentListText }}</div>
            {% endif %}


            <table class="table table-responsive {% if mode == "condensed" %}table-condensed{% endif %} well">
                {% if drop.documents|length <= 0 %}
                    <tr>
                        <td>{{ 'No document associated'|trans({},'innova_collecticiel') }}</td>
                    </tr>
                {% else %}
                    <thead>
                        <tr class="text-left">
{#                            <th></th> #}
                            <th class="nameColumn">{{ 'Name'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="nameColumn">{{ 'First name'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="usernameColumn">{{ 'Nickname'|trans({}, 'innova_collecticiel') }}</th>
                            <th>{{ adminInnova }} {{ 'Name of document'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="typeColumn">{{ 'Type of document'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="dateColumn">{{ 'Date hour'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="centered" style="width:120px;">{{ 'Commented document'|trans({}, 'innova_collecticiel') }}</th>
                            <th class="centered" style="width:120px;">{{ 'Comment'|trans({}, 'innova_collecticiel') }}</th>
                            <th style="width: 120px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, document in drop.documents %}
                            {% include 'InnovaCollecticielBundle:Document:documentItem.html.twig' %}
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>

    {# Déclaration de la modal pour confirmation de la validation #}
    <div class="modal fade" id="validate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Commented document modal'|trans({}, 'innova_collecticiel') }}</h4>
            </div>
            <div class="modal-body">
                {{ 'Sure to ask comment for document'|trans({}, 'innova_collecticiel') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button data-document_id="titi" id="modal_confirm" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">Ok</button>
            </div>
            </div>
        </div>
    </div>
    {# Fin de la déclaration de la modal pour confirmation de la validation #}
{% endmacro %}
