{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
{% render controller('ClarolineCoreBundle:Tool\\WorkspaceResourceParameters:workspaceResourceTypes')
%}
{{ tinymce_init() }}
{% endblock %}

{% block section_content %}
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form novalidate="novalidate" action="{{path('claro_forum_create_message',{'subjectId':subjectId})}}" method="post" {{ form_enctype(form) }} id="message_form">
       {{ form_widget(form) }}
       <input type="submit" />
    </form>
{% endblock %}