{% macro renderPager(subjectId, pager) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_forum_messages',
                'routeParams': {'subjectId': subjectId}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_forum_subjects', { 'forumId': _resource.getId() }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li class="active">{{ subject.getTitle() }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }} ({{ subject.getTitle() }})</h3>
    </div>
    <div class="panel-body">
        <div>
            {{ renderPager(subject.getId(), pager) }}
        </div>
        <table id="messages_table" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{{ 'author'|trans({}, 'forum') }}</th>
                    <th>{{ 'responses'|trans({}, 'forum') }}</th>
                </tr>
            </thead>
            <tbody id='table-message-body'>
            {% for message in pager.currentPageResults %}
                <tr class="row-message">
                    <td width="125px">
                        <div>
                            {% if message.getCreator().getPicture() != "" %}
                             <img src="{{ asset('uploads/pictures/') ~ message.getCreator().getPicture() }}" class="col-md-12">
                        {% else %}
                                <h1><i class="icon-user col-md-12"></i><h1>
                        {% endif %}
                        </div>
                        <div>
                        <a href="{{path('claro_profile_view', {'userId':message.getCreator().getId()})}}">
                           {{ message.getCreator().getFirstName() }} {{ message.getCreator().getLastName() }}
                        </a>
                        </div>
                        <div>
                            {{ message.getCreationDate()|intl_date_format() }}
                        </div>
                        <p>{{ message.getCreator().getFirstName() }} {{ message.getCreator().getLastName() }}</p>
                    </td>
                    <td>
                        <p>{{ message.getContent()|raw }}</p>
                        <p class="text-muted">{{ message.getCreationDate()| timeAgo }}</p>
                        <hr>
                        <div class="pull-right clearfix">
                        {% if isModerator or app.security.token.user == message.getCreator() %}
                            <a class="btn btn-default" href="{{ path('claro_forum_edit_message_form', {'message': message.getId()}) }}"> <i class="icon-pencil"></i> {{ 'edit'|trans({}, 'platform') }} </a>
                        {% endif %}
                        {% if isModerator %}
                            <a id="delete-message" class="btn btn-default" href="{{ path('claro_forum_delete_message', {'message': message.getId()}) }}"> <i class="icon-remove"></i> {{ 'delete'|trans({}, 'platform') }} </a>
                        {% endif %}
                        </div>
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ renderPager(subject.getId(), pager) }}
        </div>
    </div>
    {% if canAnswer %}
        <textarea class="tinymce row" data-theme="advanced"></textarea>
        {{ form_widget(form._token) }}
    {% endif %}
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-default" href='{{ path('claro_forum_subjects', { 'forumId': _resource.getId() }) }}'>
               {{ 'back'|trans({}, 'platform') }}
            </a>
            {% if canAnswer %}
                <a class="btn btn-primary">
                    <i class="icon-reply"></i> {{ 'new_message'|trans({}, 'forum') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        vars=["locale"]
        "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/validationFooter.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/ConfirmationMessage/removeMessageConfirm.html.twigjs"
        filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if canAnswer %}
        {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
        {{ tinymce_init() }}
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/home/home.js') }}"></script>
        <script>
            (function (){
                'use strict';

                //id="forum_message_form_content" name="forum_message_form[content]"
                $('body').on('click', '.panel-footer .btn-primary', function() {
                    var content = $('textarea.tinymce.row').val();
                    var token = $('#forum_message_form__token').val();

                    if (content != undefined && content != '') {
                        var home = window.Claroline.Home;
                        $.post(home.path + 'forum/create/message/{{ subject.getId() }}',
                            {
                                'forum_message_form[_token]': token,
                                'forum_message_form[content]': content
                            }
                        )
                        .done(
                            function () {
                                window.location.reload();
                            }
                        )
                        .error(
                            function () {
                                home.modal('content/error');
                            }
                        );
                    }
                });

            })();
        </script>
    {% endif %}
    {% if isModerator %}
            <script>
               function createValidationBox() {
                    var html = Twig.render(
                        ModalWindow,
                        {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'confirm-modal', 'body': Twig.render(removeMessageConfirm, {'nbItems': 1})}
                    );
                    $('body').append(html);
                }

                createValidationBox();
                var tmpRoute = '';
                var tmpEl = undefined;

                $('body').on('click', '#delete-message', function(event) {
                    event.preventDefault();
                    $('#confirm-modal').modal('show');
                    tmpRoute = event.currentTarget.href;
                    tmpEl = event.currentTarget;
                });

                $('body').on('click', '#modal-valid-button', function(event) {
                    $('#confirm-modal').modal('hide');
                    $.ajax({
                        url: tmpRoute,
                        success: function () {
                            $(tmpEl)[0].parentElement.parentElement.parentElement.remove();
                        }
                    });
                });
            </script>
    {% endif %}
{% endblock %}

