{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName() ~ ' - ' ~  workspace.getCode(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'paths'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Parcours</h3>
    </div>
    
    <div class="panel-body">
        {% if deployed is defined %}
            <div class="alert alert-success">{{ deployed }}</div>
        {% endif %}
        
        <a href="{{ path('innova_path_editor', {workspaceId: workspace.id}) }}" class="btn btn-default"><span class="icon-pencil"></span> Créer un parcours</a>
    
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-align-justify"></span>
                Mes parcours
            </div>
            <table class="table table-hover" style="margin-top: -1px;">
                {% for path in paths["me"] %}
                <tr>
                    <td>
                        <a href="{{ path('innova_path_editor', {workspaceId: workspace.id, pathId: path.resourceNode.id}) }}">{{ path.resourceNode.name }}</a> 
                    </td>
                    <td align="right">
                    {% if path.deployed %}
                        <form action="{{ path('innova_path_play') }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="pathId" />
                            <button rel="tooltip" data-original-title="Play" class="btn btn-xs btn-primary" type="submit"><span class="icon-play"></span></button>
                        </form>
                    {% endif %}

                        <form action="{{ path('innova_path_editor', {workspaceId: workspace.id, pathId: path.resourceNode.id}) }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="id" />
                            <button rel="tooltip" data-original-title="Edit" class="btn btn-xs btn-default" type="submit"><span class="icon-pencil"></span></button>
                        </form>

                    {% if path.modified or not path.deployed %}
                        <form action="{{ path('innova_path_deploy') }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="pathId" />
                            <button rel="tooltip" data-original-title="Deploy" class="btn btn-xs btn-success" type="submit"><span class="icon-random"></span></button>
                        </form>
                   {% endif %}

                        <form action="{{ path('innova_path_delete_path') }}" method="post" style="display: inline-block">
                            <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                            <input type="hidden" value="{{ path.resourceNode.id }}" name="id" />
                            <button rel="tooltip" data-original-title="Delete" class="btn btn-xs btn-danger" type="submit" data-toggle="modal" data-target="#table-modal"><span class="icon-trash"></span></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="icon-align-justify"></span>
                Ceux des autres
            </div>
            <table class="table table-hover" style="margin-top: -1px;">
                {% for path in paths["others"] %}
                    {% if path.deployed %}
                    <tr>
                        <td>
                            <span>{{ path.resourceNode.name }}</span> 
                        </td>
                        <td align="right">
                            <form action="{{ path('innova_path_play') }}" method="post" style="display: inline-block">
                                <input type="hidden" value="{{ workspace.id }}" name="workspaceId" />
                                <input type="hidden" value="{{ path.resourceNode.id }}" name="pathId" />
                                <button rel="tooltip" data-original-title="Play" class="btn btn-xs btn-primary" type="submit"><span class="icon-play"></span></button>
                            </form>

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Workspace/fromWorkspace.js') }}"></script>
	{% javascripts
        vars=["locale"]
        "@ClarolineCoreBundle/Resources/views/ConfirmationMessage/removeUserConfirm.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/validationFooter.html.twigjs"
        filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src='{{ asset('bundles/clarolinecore/js/table.js') }}' type="text/javascript"></script>
    <script>
        parameters = {};
        parameters.route = {};
        parameters.route.action = {};
        parameters.route.normal = {"route": "claro_admin_user_list", "parameters": {}};
        parameters.route.search = {"route": "claro_admin_user_list_search", "parameters": {}};
        parameters.route.action.remove = {"route": "innova_path_delete_path", "confirmTemplate": removeUserConfirm};
        Claroline.Table.initialize(parameters);
	 </script>
{% endblock %}