{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <a href="{{ path('innova_path_editor', {workspaceId: workspace.id}) }}" class="btn btn-primary btn-xs pull-right"><span class="icon-plus"></span></a>
        <h3 class="panel-title">Parcours</h3>
    </div>
    <div class="panel-body">
		{% if deployed is not defined %}
        <table class="table table-hover">
            {% for path in paths %}
            <tr>
                <td><a href="{{ path('innova_path_editor', {workspaceId: workspace.id, pathId: path.id}) }}">{{ path.name }}</a></td>
                <td class="text-right">
                    <form action="{{ path('innova_path_deploy') }}" method="post">
                        <input type="hidden" value="{{ workspace.id }}" name="workspace-id">
                        <input type="hidden" value="{{ path.id }}" name="path-id">
                        <input class="btn btn-sm" value="deploy" type="submit"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <div class="alert alert-success">{{ deployed }}</div>
        {% endif %}
    </div>
{% endblock %}
