{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Parcours</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            {% for path in paths %}
            <tr>
                <td>{{ path.name }}</td>
                <td class="text-right">
                    <form action="{{ path('innova_path_deploy') }}" method="post">
                        <input type="hidden" value="{{ workspace.id }}" name="workspace-id">
                        <input type="hidden" value="{{ path.id }}" name="path-id">
                        <input class="btn" value="deploy" type="submit"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <a href="{{ path('innova_path_editor') }}" class="btn btn-primary"><i class="icon-plus"></i></a>
    </div>
{% endblock %}