{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}

	<table class="table">
	{% for path in paths %}

			<tr>
		    	<td>{{ path.name }}</td>
		    	<td class="text-right">		
		    		<form action="{{ path('innova_path_deploy') }}" method="post">
		    			<input type="hidden" value="{{ workspace.id }}" name="workspace-id">
						<input type="hidden" value="{{ path.id }}" name="path-id">
						<input class="btn" value="deploy" type="submit"/>
					</form>
				</td>
		    </tr>
	{% endfor %}
	</table>
	<p>{{ ok }}</p>	

{% verbatim %}
<!-- AngularJS Call -->
<div ng-app>
    <div class="container">
  		<input type="text" size="50" ng-model="yourName" placeholder="Entrez un nom ici, il sera affiché en majuscules">
    		<h1>Hello {{yourName | uppercase}}!</h1>
    </div>
</div>
<!-- AngularJS Script Call -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
{% endverbatim %}

{% endblock %}