{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'Plugins'|trans({}, 'platform'),
                'href': path('claro_admin_plugins')
            },
            {
                'name': 'forum_settings'|trans({}, 'forum'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}
{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
<div class="panel-heading">
    <h3 class="panel-title">{{ 'forum_settings'|trans({}, 'forum') }}</h3>
</div>
<form action="{{ _path('claro_forum_edit_options') }}"
      method="post" {{ form_enctype(form) }}
      class="form-horizontal">
    <div class="panel-body">
        {{ form_widget(form) }}
        {{ form_rest(form) }}
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a class="btn btn-default" href="{{ path('claro_admin_plugins') }}">{{ 'cancel' | trans({}, 'platform') }}</a>
    </div>
</form>
{% endblock %}
