{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
{% render controller('ClarolineCoreBundle:Tool\\WorkspaceResourceParameters:initPicker')
%}
{{ tinymce_init() }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }} ({{ 'new_subject'|trans({}, 'forum') }})</h3>
    </div>
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form novalidate="novalidate" action="{{ _path('claro_forum_create_subject', {'forumId':_resource.getId()}) }}" method="post" {{ form_enctype(form) }} id="subject_form">
        <div class="panel-body">
           {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a class="btn btn-default" href="{{ path('claro_forum_subjects', { 'forumId': _resource.getId() }) }}">{{ 'cancel' | trans({}, 'platform') }}</a>
        </div>
    </form>
{% endblock %}
