{% for subject in subjects %}

{% set messages = subject.getMessages() %}
{% set nbMessages = messages|length %}
{% set lastMessage = messages[nbMessages - 1] %}
<tr class='row-subject'>
    <td>
        <a class="link-subject" href="{{ _path('claro_forum_show_message', {'subjectId': subject.id }) }}">{{ subject.title }}</a><br>
        {{ 'started_by' | trans({}, 'forum') }} {{ subject.getCreator().getFirstName() }}, {{ subject.getCreationDate()|date('m/d/Y H:i:s') }}
    </td>
    <td>
        {{ nbMessages }}
    </td>
    <td>
        {{ lastMessage.getCreator().getFirstName() }}<br/>
        {{ lastMessage.getCreationDate()|date('m/d/Y H:i:s') }}
    </td>
</tr>
{% endfor %}