{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
<h3>{{ video.getName() }}</h3>

<object width="550" height="400">
    <param name="movie" value="{{ path ('claro_stream_video', {'videoId': video.getId()})}}">
    <embed src="{{ path ('claro_stream_video', {'videoId': video.getId()})}}" width="550" height="400">
    </embed>
</object>
<br>
<a href="{{ path('claro_resource_download') }}?ids[]={{video.getResourceNode().getId()}}">{{ 'download'|trans({}, 'platform') }} </a>
{% endblock %}