{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{{ video.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% set tag = 'video' %}
{% if "audio" in video.getResourceNode().getMimeType() %}
    {% set tag = 'audio' %}
{% endif %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ video.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        <{{ tag }} width="100%" controls="controls">
            <source src="{{ path ('claro_stream_video', {'node': video.getResourceNode().getId(), 'name': video.getResourceNode().getName()}) }}" type="{{ video.getResourceNode().getMimeType() }}">
            <!-- In case of the browser does not support the video tag: -->
            <object width="100%" height="400">
                <param name="{{ tag }}" value="{{ path ('claro_stream_video', {'node': video.getResourceNode().getId(), 'name': video.getResourceNode().getName()})}}">
                <embed src="{{ path ('claro_stream_video', {'node': video.getResourceNode().getId(), 'name': video.getResourceNode().getName() })}}"></embed>
            </object>
        </{{ tag }}>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="{{ path('claro_resource_download') }}?ids[]={{ video.getResourceNode().getId() }}">
            <i class="icon-download"></i> {{ 'download'|trans({}, 'platform') }}
        </a>
    </div>
{% endblock %}
