{% extends app.request.xmlHttpRequest ? "ClarolineCoreBundle:Administration:ajaxLayout.html.twig" : "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block content %}
    <form action="{{ path('claro_admin_badges_award', {'id': badge.id}) }}" method="post" class="form-horizontal">
        <div class="control-group">
            <div class="dropdown">
                <a class="dropdown-toggle btn" id="select_group_list" role="button" data-toggle="dropdown" href="#">Sélection des groupes <i class="icon-chevron-up"></i></a>
                <ul id="group_list" class="dropdown-menu" role="list" aria-labelledby="select_group_list">
                {% for group in groups %}
                    <li data-group-id="{{ group.id }}">
                        <a role="listitem" tabindex="-1" href="#">
                            <label class="checkbox"><input type="checkbox" name="selected_groups" value="{{ group.id }}"> {{ group.name }}</label>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="users_container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="selectd_users" /></th>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr class="{% for group in user.groups %}group{{ group.id }} {% else %}no_group {% endfor %}">
                        <td><input type="checkbox" name="badge_award_form[users][]" value="{{ user.id }}" /></td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ form_errors(form) }}

        {{ form_row(form._token) }}

        {% if not app.request.xmlHttpRequest %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'award'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'platform') }}</a>
        </div>
        {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#select_group_list').click(function () {
        var dropDownParent = $(this).parent('.dropdown');
        var icon           = $('i', this);

        if(!dropDownParent.hasClass('open')) {
            icon.removeClass('icon-chevron-up');
            icon.addClass('icon-chevron-down');
        }
        else {
            icon.removeClass('icon-chevron-down');
            icon.addClass('icon-chevron-up');
        }
    });

    $('#group_list li').click(function(event) {
        event.stopPropagation();
        var checkbox = $('input[type=checkbox]', this);
        checkbox.prop("checked", !checkbox.prop("checked"));

        var isChecked = checkbox.prop("checked");

        var userGroupCheckbox = $('.group' + $(this).attr('data-group-id'));
        $('input[type=checkbox]', userGroupCheckbox).prop("checked", isChecked);
    });
</script>
{% endblock %}