{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <ul class="nav nav-tabs">
        <li><a href="{{ path('claro_admin_badges') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'back_to_badges_list'|trans({}, 'platform') }}"><i class="icon-reply"></i></a></li>
        <li class="active"><a href="#view" data-toggle="tab">{{ 'view'|trans({}, 'platform') }}</a></li>
        <li><a href="#edit" data-toggle="tab">{{ 'edit'|trans({}, 'platform') }}</a></li>
    </ul>
    <div class="tab-content view_badge">
        <div class="tab-pane active" id="view">
            {{ macros.flashBox() }}
            <div class="margin">
                <h3 class="sub-section-header">
                    <span class="badge badge-info accordion-toggle" data-toggle="tooltip" title="{{ 'badge_form_version'|trans({}, 'platform') }} {{ badge.version }}">{{ badge.version }}</span>
                    {{ 'badge'|trans({}, 'platform') }} "{{ badge.name }}"
                    {% if badge.expiredAt is not null %}
                    <small>{{ 'badge_expired_on_date'|trans({'%expirationDate%': badge.expiredAt|date('date_format'|trans({}, 'platform'))}, 'platform') }}</small>
                    {% endif %}
                </h3>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ badge.description }}</h4>
                        {{ badge.criteria|raw }}
                    </div>
                </div>
            </div>
            <div class="margin">
                <div id="award_users_container">
                    <h3 class="sub-section-header">
                        {{ 'badge_awarded_to'|trans({}, 'platform') }} :
                        <a href="{{ path('claro_admin_badges_award', {'id': badge.id}) }}" id="awardUser" role="button" class="btn pull-right" data-toggle="tooltip" data-placement="left" title="{{ 'award_badge'|trans({}, 'platform') }}"><i class="icon-plus-sign"></i></a>
                    </h3>

                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'lastname'|trans({}, 'platform') }}</th>
                            <th>{{ 'firstname'|trans({}, 'platform') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in badge.users %}
                            <tr>
                                <td>
                                    <a class="close delete" href="{{ path('claro_admin_badges_unaward', {'id': badge.id, 'username': user.username}) }}" data-toggle="tooltip" title="{{ 'badge_unaward_confirm_title'|trans({}, 'platform') }}" data-confirm-title="{{ 'badge_unaward_confirm_title'|trans({}, 'platform') }}" data-confirm-message="{{ 'badge_unaward_confirm_message'|trans({'%badgeName%': badge.name, '%user%': user.username ~ ' ' ~ user.firstname}, 'platform') }}" data-confirm-ok="{{ 'unaward'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}"><i class="icon-remove-circle"></i></a>
                                </td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                            </tr>
                        {% else %}
                            <tr><td>{{ 'bagde_awarded_to_none_user'|trans({}, 'platform') }}.</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="award_form_container" class="hidden">
                    <h3 class="sub-section-header">
                        {{ 'badge_awarded_to'|trans({}, 'platform') }} :
                    </h3>

                    {{ render(controller('ClarolineCoreBundle:Badge:award', { 'id': badge.id })) }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="edit">
            <div class="margin">
                <h3 id='user-list-block' class="sub-section-header">{{ 'edit_badge'|trans({'%badge_name%' : badge.name}, 'platform') }}</h3>
            </div>
            <form action="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}" method="post" {{ form_enctype(form) }} novalidate>
                {{ form_errors(form) }}

                <ul class="nav nav-tabs" id="translationFormTabs">
                    <li class="active"><a href="#fr" data-toggle="tab">{{ 'badge_form_frTranslation'|trans({}, 'platform') }}</a></li>
                    <li><a href="#en" data-toggle="tab">{{ 'badge_form_enTranslation'|trans({}, 'platform') }}</a></li>
                </ul>

                <div class="tab-content well well-small badge_translations">
                    <div class="tab-pane active" id="fr">
                        {{ form_errors(form.frTranslation) }}
                        {{ form_widget(form.frTranslation) }}
                    </div>
                    <div class="tab-pane" id="en">
                        {{ form_errors(form.enTranslation) }}
                        {{ form_widget(form.enTranslation) }}
                    </div>
                </div>

                {{ form_row(form.version) }}

                <div class="control-group ">
                    {{ form_errors(form.file) }}
                    {{ form_label(form.file) }}
                    <div class="controls">
                        <img src="{{ asset(badge.webPath) }}" id="current_image" alt="{{ badge.name }}" />
                        {{ form_widget(form.file, {'attr': {'class': 'hidden'}}) }}
                        <label class="checkbox">
                            <input type="checkbox" id="delete_image" /> {{ 'badge_form_change_image'|trans({}, 'platform') }}
                        </label>
                    </div>
                </div>

                {{ form_row(form.expired_at) }}

                {{ form_rest(form) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_admin_badges') }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-inverse">{{ 'cancel'|trans({}, 'platform') }}</a>
                    <a href="{{ path('claro_admin_badges_delete', {'id': badge.id}) }}" title="{{ 'delete'|trans({}, 'platform') }}" class="btn btn-danger delete" data-confirm-title="{{ 'badge_delete_confirm_title'|trans({}, 'platform') }}" data-confirm-message="{{ 'badge_delete_confirm_message'|trans({'%badgeName%': badge.name}, 'platform') }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">{{ 'delete'|trans({}, 'platform') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/edit.js') }}'></script>
{% endblock %}