{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="margin">
        <h3 id='user-list-block' class="sub-section-header">{{ 'edit_badge'|trans({'%badge_name%' : badge.name}, 'platform') }}</h3>
    </div>
    <form action="{{ path('claro_admin_badges_edit', {'slug': badge.slug}) }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.criteria) }}
        {{ form_row(form.version) }}

        <div class="control-group ">
            {{ form_errors(form.file) }}
            {{ form_label(form.file) }}
            <div class="controls">
                <img src="{{ asset(badge.webPath) }}" id="current_image" alt="{{ badge.name }}" />
                {{ form_widget(form.file, {'attr': {'class': 'hidden'}}) }}
                <label class="checkbox">
                    <input type="checkbox" id="delete_image" /> {{ 'badge_form_change_image'|trans({}, 'platform') }}
                </label>
            </div>
        </div>

        {{ form_row(form.expired_at) }}

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_badges') }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-inverse">{{ 'cancel'|trans({}, 'platform') }}</a>
            <a href="{{ path('claro_admin_badges_delete', {'slug': badge.slug}) }}" title="{{ 'delete'|trans({}, 'platform') }}" class="btn btn-danger delete" data-confirm-title="{{ 'badge_delete_confirm_title'|trans({}, 'platform') }}" data-confirm-message="{{ 'badge_delete_confirm_message'|trans({'%badgeName%': badge.name}, 'platform') }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" >{{ 'delete'|trans({}, 'platform') }}</a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript">
    $(function(){
        $('[data-toggle=tooltip]').tooltip();

        $('.delete').confirmModal();

        $("[name='badge_form[expired_at]']").off('focus');

        var currentImage  = $('#current_image');
        var badgeFormFile = $('#badge_form_file');
        $('#delete_image').click(function() {
            if($(this)[0].checked)
            {
                currentImage.addClass('hidden');
                badgeFormFile.removeClass('hidden');
            }
            else
            {
                currentImage.removeClass('hidden');
                badgeFormFile.addClass('hidden');
            }
        });
    });
</script>
{% endblock %}