{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {{ macros.flashBox() }}

    <div class="margin">
        <h3 id='user-list-block' class="sub-section-header">{{ 'Badges'|trans({}, 'platform') }}</h3>
    </div>

    <ul class="unstyled inline thumbnails badge_list">
        <li class="span2 add_badge">
            <a href="{{ path('claro_admin_badges_add') }}" class="thumbnail" title="{{ 'add_badge'|trans({}, 'platform') }}"><i class="icon-plus"></i></a>
        </li>
    {% for badge in badges %}
        <li class="span2 badge_item">
            <a href="{{ path('claro_admin_badges_edit', {'slug': badge.slug}) }}" title="{{ badge.name }}" class="thumbnail">
                <img src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" />
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
