{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title"> {{ _resource.getResourceNode().getName() }} </h3>
    </div>
    <div class="panel-body">
        {{ text|raw }}
    </div>
    {% if canExport %}
        <div class="panel-footer">
            <a class="btn btn-primary" href="{{ path('claro_resource_download') }}?ids[]={{ _resource.getResourceNode().getId() }}">
                <i class="fa fa-download"></i> {{ 'download'|trans({}, 'platform') }}
            </a>
        </div>
    {% endif %}
{% endblock %}
