{% extends "ClarolineCoreBundle:resource:layout.html.twig" %}

{% block content %}
    <div
            class="page-container text-file-container"
            data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
            data-text-file="{{ _resource | api_serialize | json_encode | raw | escape }}"
            data-is-html="{{ isHtml | json_encode | raw | escape }}"
            data-content="{{ content | json_encode | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-text-player-text-file-resource.js') }}"></script>
{% endblock %}