{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clarolinecore/js/tool/workspace/roles.js') }}" type="text/javascript"></script>
{% endblock %}

{% block section_content %}

{% set queryString = '' %}
{% for role in roles %}
    {% set queryString = queryString~'roleIds[]='~role.getId() %}
    {% if not loop.last %}
        {% set queryString = queryString~'&' %}
    {% endif %}
{% endfor %}

    <ul class="nav nav-tabs">
        <li class="active"> <a href="#">{{ 'roles'|trans({}, 'platform') }}</a> </li>
        <li> <a href="{{ path('claro_workspace_registered_user_list', {'workspace': workspace.getId() })~'?'~queryString }}"> {{'users'|trans({}, 'platform') }} </a> </li>
        <li> <a href="{{ path('claro_workspace_registered_group_list', {'workspace': workspace.getId() })~'?'~queryString }}"> {{'groups'|trans({}, 'platform') }} </a> </li>
    </ul>

    <div>
        <a  class="btn btn-secondary" href="{{ path('claro_workspace_role_create_form', {'workspace': workspace.getId() }) }}">{{ 'add'|trans({}, 'platform') }}</a>
        <table class="table-striped table-bordered table-condensed">
            <thead>
                <th> {{ 'name'|trans({}, 'platform') }} </th>
                <th> {{ 'edit'|trans({}, 'platform') }} </th>
                <th> {{ 'delete'|trans({}, 'platform') }} </th>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr>
                        <td> {{ role.getTranslationKey|trans({}, 'platform') }} </td>
                        <td> <a class="btn btn-secondary" href="{{ path('claro_workspace_role_edit_form', {'workspace': workspace.getId(), 'role': role.getId()}) }}"> {{ 'edit'|trans({}, 'platform') }} </a> </td>
                        <td> <a class="role-delete-btn btn btn-secondary {% if role.isReadOnly %} disabled {% endif %}" href="{{ path('claro_workspace_role_remove', {'workspace': workspace.getId(), 'role': role.getId()} ) }}"> {{ 'delete'|trans({}, 'platform') }} </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
