{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}

    {{
        macros.breadcrumbs([
            {
                'name': 'roles'|trans({}, 'platform'),
                'href': path('claro_workspace_roles', {'workspace': workspace.getId()})
            },
            {
                'name': role.getTranslationKey()|trans({}, 'platform'),
                'href': '#'
            },
            {
                'name': 'edit'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <h3>{{ 'role_edition'|trans({}, 'platform') }}</h3>
    <h4>{{ 'role'|trans({}, 'platform') }} : {{ role.getName() }}</h4>
    <br>

    <div class="wrapper">
    <form class="form-horizontal"
          action="{{ path('claro_workspace_role_edit', {'workspace': workspace.getId(), 'role': role.getId()} ) }}"
          method="post" {{ form_enctype(form) }}
          id="workspace-role-creation"
      >
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}
