<div>
    <h4>
        {% if type == constant('FormaLibre\\SupportBundle\\Entity\\Comment::PUBLIC_COMMENT') %}
            {{ 'new_message'|trans({}, 'platform') }}
        {% else %}
            {{ 'new_note'|trans({}, 'support') }}
        {% endif %}
    </h4>
    <form {% if type == constant('FormaLibre\\SupportBundle\\Entity\\Comment::PUBLIC_COMMENT') %}
              id="comment-create-form"
          {% else %}
              id="private-comment-create-form"
          {% endif %}
          action="{{ path('formalibre_admin_ticket_comment_create', {'ticket': ticket.getId(), 'type': type}) }}"
          method="POST"
          {{ form_enctype(form) }}
    > 
        {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
        {{ form_widget(form) }}
    </form>
    <button type="submit"
            {% if type == constant('FormaLibre\\SupportBundle\\Entity\\Comment::PUBLIC_COMMENT') %}
                id="add-comment-btn"
            {% else %}
                id="add-private-comment-btn"
            {% endif %}
            class="btn btn-primary pull-right"
    >
        {% if type == constant('FormaLibre\\SupportBundle\\Entity\\Comment::PUBLIC_COMMENT') %}
            {{ 'add_message'|trans({}, 'support') }}
        {% else %}
            {{ 'add_note'|trans({}, 'support') }}
        {% endif %}
    </button>
</div>