{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="contacts-management-body">
        <h3>{{ 'support_contacts'|trans({}, 'support') }}</h3>
        <div id="contacts-table"
             class="table-responsive {% if contacts|length == 0 %}hidden{% endif %}"
        >
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'name'|trans({}, 'platform') }}</th>
                    <th>{{ 'mail'|trans({}, 'platform') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="contacts-list">
                {% for contact in contacts %}
                    <tr id="support-contact-row-{{ contact['id'] }}">
                        <td>
                            {{ contact['firstName'] }}
                            {{ contact['lastName'] }}
                        </td>
                        <td>
                            {{ contact['mail'] }}
                        </td>
                        <td>
                            <span class="btn btn-danger btn-sm remove-support-contact-btn"
                                  data-user-id="{{ contact['id'] }}"
                            >
                                <i class="fa fa-times-circle"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="no-contact-alert"
             class="alert alert-warning {% if contacts|length > 0 %}hidden{% endif %}"
        >
            {{ 'no_support_contact'|trans({}, 'support') }}
        </div>

        <span class="btn btn-primary" id="add-support-contact-btn">
            {{ 'add_support_contacts'|trans({}, 'support') }}
        </span>
        <hr>
        <br>
        <h3>{{ 'notifications'|trans({}, 'platform') }}</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td></td>
                    <th class="text-center">{{ 'platform_mailbox'|trans({}, 'support') }}</th>
                    <th class="text-center">{{ 'external_mailbox'|trans({}, 'support') }}</th>
                </tr>
                <tr>
                    <th colspan="3">{{ 'support_contact'|trans({}, 'support') }}</th>
                </tr>
                <tr>
                    <td>{{ 'notification_ticket_title'|trans({}, 'support') }}</td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="ticket_internal"
                               {% if supportConfig.getNotify('ticket_internal') %}checked{% endif %}
                        >
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="ticket_external"
                               {% if supportConfig.getNotify('ticket_external') %}checked{% endif %}
                        >
                    </td>
                </tr>
                <tr>
                    <td class="empty-support-notification-row">
                        <br>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">{{ 'stakeholder'|trans({}, 'support') }}</th>
                </tr>
                <tr>
                    <td>{{ 'message'|trans({}, 'platform') }}</td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="admin_message_internal"
                               {% if supportConfig.getNotify('admin_message_internal') %}checked{% endif %}
                        >
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="admin_message_external"
                               {% if supportConfig.getNotify('admin_message_external') %}checked{% endif %}
                        >
                    </td>
                </tr>
                <tr>
                    <td>{{ 'internal_note'|trans({}, 'support') }}</td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="note_internal"
                               {% if supportConfig.getNotify('note_internal') %}checked{% endif %}
                        >
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="note_external"
                               {% if supportConfig.getNotify('note_external') %}checked{% endif %}
                        >
                    </td>
                </tr>
                <tr>
                    <td class="empty-support-notification-row">
                        <br>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">{{ 'user'|trans({}, 'platform') }}</th>
                </tr>
                <tr>
                    <td>{{ 'message'|trans({}, 'platform') }}</td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="user_message_internal"
                               {% if supportConfig.getNotify('user_message_internal') %}checked{% endif %}
                        >
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               class="notify-checkbox"
                               data-type="user_message_external"
                               {% if supportConfig.getNotify('user_message_external') %}checked{% endif %}
                        >
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script>
        window.contacts = {{ contacts|json_encode|raw }}
    </script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-notifications-management.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/formalibresupport/css/notificationsManagement.css')}}">
{% endblock %}