{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="types-management-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-3">{{ 'name'|trans({}, 'platform') }}</th>
                        <th class="col-md-7 text-center">{{ 'description'|trans({}, 'platform') }}</th>
                        <th class="col-md-2 text-center">{{ 'actions'|trans({}, 'platform') }}</th>
                    </tr>
                </thead>
                <tbody id="types-table-body">
                    {% for type in types %}
                        {% set typeId = type.getId() %}
                        <tr id="row-type-{{ typeId }}">
                            <td class="support-type-name">{{ type.getName()|trans({}, 'support') }}</td class="support-type-name">
                            <td class="support-type-description">{{ type.getDescription()|raw }}</td>
                            <td class="text-center">
                                <button class="btn btn-default edit-type-btn btn-sm"
                                        data-type-id="{{ typeId }}"
                                >
                                    <i class="fa fa-edit"></i>
                                </button>
                                {% if not type.isLocked() %}
                                    <button class="btn btn-danger delete-type-btn btn-sm"
                                            data-type-id="{{ typeId }}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" id="create-type-btn">
            {{ 'add_a_support_type'|trans({}, 'support') }}
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-types-management.js') }}"></script>
{% endblock %}