<div id="modal-ticket-intervention-create-form"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'ticket_edition'|trans({}, 'support') }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-creator">
                    {{ 'creator'|trans({}, 'platform') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-creator"
                           class="form-control"
                           readonly="readonly"
                           value="{{ ticket.getUser().getFirstName() }} {{ ticket.getUser().getLastName() }}"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-mail">
                    {{ 'contact_email'|trans({}, 'support') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-mail"
                           class="form-control"
                           readonly="readonly"
                           value="{{ ticket.getContactMail() }}"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-phone">
                    {{ 'contact_phone'|trans({}, 'support') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-phone"
                           class="form-control"
                           readonly="readonly"
                           value="{{ ticket.getContactPhone() }}"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-title">
                    {{ 'title'|trans({}, 'platform') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-title"
                           class="form-control"
                           readonly="readonly"
                           value="{{ ticket.getTitle() }}"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    {{ 'description'|trans({}, 'platform') }}
                    <i class="fa fa-eye pointer-hand"
                       data-toggle="collapse"
                       href="#collapse-description"
                    >
                    </i>
                </label>
                <div class="col-md-9">
                    <div class="well well-sm collapse" id="collapse-description">
                        {{ ticket.getDescription()|raw }}
                    </div>
                </div>
            </div>
            <form id="ticket-intervention-create-form"
                  action="{{ path('formalibre_admin_support_ticket_intervention_create', {'ticket': ticket.getId()}) }}"
                  method="POST"
                  {{ form_enctype(form) }}
            >
                {{ form_row(form.type) }}
                {{ form_row(form.status) }}
                <div class="form-group row">
                    <label class="control-label col-md-3">
                        {{ 'internal_note'|trans({}, 'support') }}
                        <i class="fa fa-plus-circle pointer-hand"
                           data-toggle="collapse"
                           href="#collapse-private-comment"
                        >
                        </i>
                    </label>
                    <div class="col-md-9">
                        <div class="collapse" id="collapse-private-comment">
                            {{ form_widget(form.privateComment) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">
                        {{ 'message'|trans({}, 'platform') }}
                        <i class="fa fa-plus-circle pointer-hand"
                           data-toggle="collapse"
                           href="#collapse-public-comment"
                        >
                        </i>
                    </label>
                    <div class="col-md-9">
                        <div class="collapse" id="collapse-public-comment">
                            {{ form_widget(form.publicComment) }}
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="submit" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>