{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="status-management-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-3">{{ 'name'|trans({}, 'platform') }}</th>
                        <th class="col-md-7 text-center">{{ 'description'|trans({}, 'platform') }}</th>
                        <th class="col-md-2 text-center">{{ 'actions'|trans({}, 'platform') }}</th>
                    </tr>
                </thead>
                <tbody id="status-elements-list">
                    {% for status in allStatus %}
                        {% set statusId = status.getId() %}
                        <tr id="row-status-{{ statusId }}"
                            class="movable-status"
                            data-status-id="{{ statusId }}"
                        >
                            <td>
                                <i class="fa fa-sort text-muted"></i>
                                <span class="support-status-name">{{ status.getName()|trans({}, 'support') }}</span>
                            </td>
                            <td class="support-status-description">
                                {{ status.getDescription()|raw }}
                            </td>
                            <td class="text-center">
                                <button class="btn btn-default edit-status-btn btn-sm"
                                        data-status-id="{{ statusId }}"
                                >
                                    <i class="fa fa-edit"></i>
                                </button>
                                {% if not status.isLocked() %}
                                    <button class="btn btn-danger delete-status-btn btn-sm"
                                            data-status-id="{{ statusId }}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" id="create-status-btn">
            {{ 'add_a_support_status'|trans({}, 'support') }}
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-status-management.js') }}"></script>
{% endblock %}