{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_admin_support_ongoing_tickets',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'formalibre_admin_support_ongoing_tickets',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    {% if tickets|length > 0 %}
        {% if tickets.getNbPages() > 1 %}
            {{ renderPager(tickets, search, orderedBy, order, max) }}
        {% endif %}
        <div class="table-responsive" id="ongoing-tickets-tab">
            <table class="table">
                <tr>
                    <th>
                        <a href="{{ sortUrl(search, 'title', order, max) }}">
                            {{ 'title'|trans({}, 'platform') }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ sortUrl(search, 'user', order, max) }}">
                            {{ 'contact'|trans({}, 'platform') }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ sortUrl(search, 'creationDate', order, max) }}">
                            {{ 'creation_date'|trans({}, 'platform') }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ sortUrl(search, 'type', order, max) }}">
                            {{ 'type'|trans({}, 'platform') }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ sortUrl(search, 'status', order, max) }}">
                            {{ 'status'|trans({}, 'support') }}
                        </a>
                    </th>
                    <th class="text-center">
                        {{ 'actions'|trans({}, 'platform') }}
                    </th>
                </tr>

                {% for ticket in tickets %}
                    {% set ticketId = ticket.getId() %}
                    <tr id="row-ticket-{{ ticketId }}"
                        {% if ticket.getStatus() is not empty and ticket.getStatus().getCode() == 'NEW' %}
                            style="background-color: #c1d7e9"
                        {% endif %}
                    >
                        <td>
                            <a href="{{ path('formalibre_admin_ticket_open', {'ticket': ticketId}) }}">
                                {{ ticket.getTitle() }}
                            </a>
                        </td>
                        <td>
                            {% set user = ticket.getUser() %}
                            {{ user.getFirstName() }}
                            {{ user.getLastName() }}
                        </td>
                        <td>
                            {{ ticket.getCreationDate()|intl_date_format }}
                        </td>
                        <td>
                            {{ ticket.getType().getName()|trans({}, 'support') }}
                            {% if ticket.getType().getDescription() is not empty %}
                                <i class="fa fa-info-circle pointer-hand"
                                   data-toggle="tooltip"
                                   data-container="body"
                                   data-placement="top"
                                   data-html="true"
                                   title="{{ ticket.getType().getDescription() }}"
                                >
                                </i>
                            {% endif %}
                        </td>
                        <td id="ticket-status-{{ ticketId }}">
                            {% if ticket.getStatus() is not empty %}
                                {{ ticket.getStatus().getName()|trans({}, 'support') }}
                                {% if ticket.getStatus().getDescription() is not empty %}
                                    <i class="fa fa-info-circle pointer-hand"
                                       data-toggle="tooltip"
                                       data-container="body"
                                       data-placement="top"
                                       data-html="true"
                                       title="{{ ticket.getStatus().getDescription() }}"
                                    >
                                    </i>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if supportToken is defined and supportToken is not empty %}
                                {% set linkedTicket = ticket.getLinkedTicket() %}

                                {% if linkedTicket is empty %}
                                    <button class="btn btn-default forward-ticket-btn btn-sm"
                                            data-ticket-id="{{ ticketId }}"
                                            data-toggle="tooltip"
                                            title="{{ 'to_forward'|trans({}, 'support') }}"
                                    >
                                        <i class="fa fa-share"></i>
                                    </button>
                                {% else %}
                                    <a href="{{ path('formalibre_admin_ticket_open', {'ticket': linkedTicket.getId()}) }}"
                                       class="btn btn-default btn-sm"
                                       data-toggle="tooltip"
                                       title="{{ 'forwarded_ticket'|trans({}, 'support') }}"
                                    >
                                        <i class="fa fa-asterisk"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <button class="btn btn-default archive-ticket-btn btn-sm"
                                    data-ticket-id="{{ ticketId }}"
                                    data-toggle="tooltip"
                                    title="{{ 'to_archive'|trans({}, 'support') }}"
                            >
                                <i class="fa fa-archive"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% if tickets.getNbPages() > 1 %}
            {{ renderPager(tickets, search, orderedBy, order, max) }}
        {% endif %}
    {% else %}
        <div class="alert alert-warning">
            {{ 'no_ticket'|trans({}, 'support') }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-ongoing-tickets.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-support-tabs.js') }}"></script>
{% endblock %}