{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ 
        parent() ~
        ' - ' ~
        title|trans({}, 'support')
    }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'formalibre_support_management_tool'|trans({}, 'tools'),
                'href': path('formalibre_admin_support_ongoing_tickets')
            },
            {
                'name': title|trans({}, 'support'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading clearfix">
        <h3 class="panel-title">
            {{ title|trans({}, 'support') }}
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {#<li role="menuitem">#}
                        {#<a href="#">#}
                            {#{{ 'account_history'|trans({}, 'support') }}#}
                        {#</a>#}
                    {#</li>#}
                    <li role="menuitem">
                        <a href="{{ path('formalibre_admin_support_types_management') }}">
                            {{ 'types_management'|trans({}, 'support') }}
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('formalibre_admin_support_status_management') }}">
                            {{ 'status_management'|trans({}, 'support') }}
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('formalibre_admin_support_notifications_management') }}">
                            {{ 'notifications_management'|trans({}, 'support') }}
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('formalibre_admin_support_official_support_management') }}">
                            {{ 'official_support'|trans({}, 'support') }}
                        </a>
                    </li>
                </ul>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        {% if noOfficialSupportInfo is not defined %}
            {% render(controller('FormaLibreSupportBundle:AdminSupport:adminSupportOfficialSupportInfo', {})) %}
        {% endif %}

        {% if supportType is defined %}
            {% render(controller('FormaLibreSupportBundle:AdminSupport:adminSupportTabs', {'type': supportType})) %}
            <br>
        {% endif %}
        <div>
            {% block adminSupport %}{% endblock %}
        </div>
    </div>
{% endblock %}