{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'login_with_third_party'|trans({'%name%':serverName}, 'platform') }}{% endblock %}

{% block content %}
    <style>
        a.claroline-ldap-choice-btn::after{
            font-family: "FontAwesome";
            text-align: center;
            content: '\f054';
            position: absolute;
            right: 0;
            width: 25px;
        }
        a.claroline-ldap-choice-btn {
            padding-right: 25px;
        }
    </style>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'login_with_third_party'|trans({'%name%':serverName}, 'platform') }}</h3>
            </div>
            <div class="panel-body">
                {{ 'ldap_check_connexion_info'|trans({}, 'ldap') }}
            </div>
            <div class="list-group">
                {% if claroUser is not empty %}
                    <a href="{{ path('claro_ldap_link_account_mail', {'name': serverName}) }}" class="list-group-item claroline-ldap-choice-btn"><i class="fa fa-at"></i> {{ 'link_cas_to_account_mail'|trans({ '%mail%': claroUser.mail },'claroline_cas') }}</a>
                {% endif %}
                <a href="{{ path('claro_ldap_login_link', {'name': serverName}) }}" class="list-group-item claroline-ldap-choice-btn"><i class="fa fa-chain"></i> {{ 'link_cas_to_account'|trans({},'claroline_cas') }}</a>
                {% if selfRegistration == true %}
                    <a href="{{ path('claro_ldap_register', {'name': serverName}) }}" class="list-group-item claroline-ldap-choice-btn"><i class="fa fa-plus"></i> {{ 'create_new_cas_account'|trans({},'claroline_cas') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}