{% if nbAttemptAllowed == 0 %}
    <div class="alert alert-info">{{ 'attempt_info6'|trans }}</div>
{% elseif nbAttemptAllowed > 0 %}
    <div class="alert alert-info">
        {{ 'attempt_info4'|trans }} {{nbAttemptAllowed}}
        {% if nbAttemptAllowed > 1 %}
            {{ 'attempt_info2plur'|trans }}
        {% else %}
            {{ 'attempt_info2sing'|trans }}
        {% endif %}
        {{ 'attempt_info5'|trans }}
    </div>
{% endif %}