{% if nbAttemptAllowed == 0 %}
    <div class="alert alert-info">{{ 'attempt info6'|trans }}</div>
{% elseif nbAttemptAllowed > 0 %}
    <div class="alert alert-info">
        {{ 'attempt info4'|trans }} {{nbAttemptAllowed}}
        {% if nbAttemptAllowed > 1 %}
            {{ 'attempt info2plur'|trans }}
        {% else %}
            {{ 'attempt info2sing'|trans }}
        {% endif %}
        {{ 'attempt info5'|trans }}
    </div>
{% endif %}
