{% if p is defined %}
    <h3 class="panel-title">{{ 'n_question' | trans }}{{p + 1}} : {{ inter.interaction.question.title }}</h3>
    <hr/>
{% endif %}

{% if inter.interaction.question.description != '' %}
    <p>{{ inter.interaction.question.description|raw }}</p>
    <hr/>
{% endif %}

{{ inter.interaction.invite|raw }}
<hr/>
