{% if inter.question.feedback != '' %}
    <hr/>
    <p>{{ inter.question.feedback|raw }}</p>
{% endif %}

<hr/>

<p>{{ 'penalty' | trans({}, 'ujm_exo') }} : </p>
{% for hv in hintViewed %}
    {% if( hv.hint.question.id == interactions[p].id ) %}
        {{ hv.hint.value }} : {{ hv.hint.penalty }}
        <br/>
    {% endif %}
{% endfor %}
<hr/>

{% if (inter.question.type == 'InteractionOpen') %}
    {% if responses[p].mark != -1 %}
        {{ 'score' | trans({}, 'ujm_exo') }} : <span id="open_mark_value_{{ responses[p].id }}">{{ responses[p].mark }} / {{ interInfo['maxScore'] }}</span>
        {% set exoMark = exoMark + responses[p].mark %}
    {% else %}
        {{ 'score' | trans({}, 'ujm_exo') }} : <span id="open_mark_value_{{ responses[p].id }}">{{ 'not_yet_mark' | trans({}, 'ujm_exo') }}</span>
        {% set temporaryMark = true %}
    {% endif %}
{% else %}
    {{ 'score' | trans({}, 'ujm_exo') }} : {{ responses[p].mark }} / {{ interInfo['maxScore'] }}
{% endif %}
