{% include "UJMExoBundle:Partial:correction/interaction.html.twig" %}
<table border="1" class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="classic"> {{ 'label' | trans }}</th>
        <th class="classic">{{ 'expected answer' | trans }}</th>
        <th class="classic">{{ 'your answer' | trans }}</th>
    </tr>
    {% for label in inter.labels %}
    <tr>
        <th>
            {{ label.value | raw }}
        </th>
        <th>
            {% for proposal in inter.proposals %}
                {% if "label.id" == "proposal.associatedLabel" %}
                    {{ proposal.value | raw }}
                {% endif %}
            {% endfor %}
        </th>
        <th>
           
        </th>
    </tr>
    {% endfor%}
    {% for proposal in inter.proposals %}
        {% if proposal.associatedLabel == null %}
            <th></th>
            <th>
                {{ proposal.value | raw }}
            </th>
            <th>
                
            </th>
        {% endif %}
            
    {% endfor%}
</table>