{% include "UJMExoBundle:Partial:correction/interaction.html.twig" %}
<table border="1" class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="classic">{{ 'your_answer' | trans({}, 'ujm_exo') }}</th>
        <th class="classic">{{ 'expected_answer' | trans({}, 'ujm_exo') }}</th>
    </tr>

        {% for label in inter.labels %}
            <tr>
                <td>
                    {% if (tabResponseIndex[label.id] is not defined and tabRightResponse[label.id] == null) or tabRightResponse[label.id]|lower is sameas(tabResponseIndex[label.id]|lower) %}
                        <div class="rightResponse" align="center">
                            <div class="labels">
                                {{ label.value | raw }}
                            </div>
                            {% for proposal in inter.proposals %}
                                {% for associatedLabel in proposal.associatedLabel %}
                                    {% if proposal.associatedLabel != null and associatedLabel.id == label.id %}
                                        <div class="associatedProposal" align="center">
                                            <table>
                                                <tr>
                                                    <td class="proposals">
                                                        {{ proposal.value | raw }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="falseResponse" align="center">
                            <div class="labels">
                                {{ label.value | raw }}
                            </div>
                            {% set responses = explodeString('-', tabResponseIndex[label.id]) %}
                            {% for response in responses %}
                                {% if (response != null) %}
                                    {% set proposal = getProposal(response) %}
                                    <div class="associatedProposal" align="center">
                                        <table>
                                            <tr>
                                                <td class="proposals">
                                                    {{ proposal.value | raw }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <div class="labelMatch" align="center">
                        <div class="labels">
                                {{ label.value | raw }}
                            </div>
                        {% for proposal in inter.proposals %}
                            {% for associatedLabel in proposal.associatedLabel %}
                                {% if proposal.associatedLabel != null and associatedLabel.id == label.id %}
                                    <div class="associatedProposal" align="center">
                                        {{ proposal.value | raw }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor%}
                    </div>
                </td>
     
                <td class="classic">
                {% if label.feedback is not empty %}
                    {{ label.feedback|raw }}
                {% else %}
                    -
                {% endif %} 
                </td>
        
            </tr>
        {% endfor%}
            <tr>
                <td>
                </td>
                <td>
                    {% for proposal in inter.proposals %}
                        {% if  proposal.associatedLabel is empty %}
                            <div class="labelMatch" align="center">
                                <div class="labels">
                                    {{ 'no_label' | trans({}, 'ujm_exo') }}
                                </div>
                                    <div class="associatedProposal" align="center">
                                        {{ proposal.value | raw }}
                                    </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
             
</table>
