{% include "UJMExoBundle:Partial:correction/interaction.html.twig" %}

<div class="panel-body">
    {% if response is not defined %}
        {% set response = responses[p].response %}
    {% endif %}

    <p><h3 class="panel-title">{{ 'your answer' | trans }}</h3></p>
    {{ response|raw}}

    {% if inter.typeopenquestion == 'oneWord' %}
        <p><h3 class="panel-title">{{ 'expected answer' | trans }}</h3></p>
        <div id="eAnswer">{{ goodResponseOpenOneWord(inter.id) }}</div>
    {% endif %}

    {% if inter.typeopenquestion == 'short' %}
        <p><h3 class="panel-title">{{ 'keys words' | trans }}</h3></p>
        <div id="eAnswer">
            <table id="tablewr" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr style="background-color: lightsteelblue;">
                        <th class="classic">{{ 'ujm_exobundle_interactionopentype_wordResponses' | trans }}</th>
                        <th class="classic">{{ 'WordResonse.caseSensitive' | trans }}</th>
                        <th class="classic">{{ 'points' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for wr in inter.wordResponses %}
                    <tr>
                        <td>{{ wr.response }}</td>
                        <td>
                            {% if wr.caseSensitive %}
                                <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                            {% else %}
                                <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                            {% endif %}
                        </td>
                        <td>{{ wr.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

</div>
