{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

<div class='panel-heading chapter_title'><h4>{{ 'Chapter Creation'|trans({}, 'icap_lesson') }}</h4></div>
<form method="POST" id='createchapterform' action="{{ path('icap_lesson_add_chapter', { 'resourceId': _resource.id}) }}" class="form-horizontal">
    <div class='chapter_content'>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="icap_lesson_chaptertype_parentChapter">{{ 'location'|trans({}, 'icap_lesson') }}</label>
                <div class="controls">
                    {{ form_widget(form.parentChapter) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="icap_lesson_chaptertype_title">{{ 'Title'|trans({}, 'icap_lesson') }}</label>
                <div class="controls">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="icap_lesson_chaptertype_text">{{ 'Text'|trans({}, 'icap_lesson') }}</label>
                <div class="controls">
                    {{ form_widget(form.text) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </fieldset>
        {{ macros.flashBox() }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'Save'|trans({}, 'icap_lesson') }}" />
            <a href="{{ path('icap_lesson', { 'resourceId': _resource.id }) }}" ><button type="button" class="btn btn-default btncancel">{{ 'Cancel'|trans({}, 'icap_lesson') }}</button></a>
        </div>
    </div>

</form>
