{% macro recursiveChapter(root, chapter, lesson, isRoot) %}
    {% if isRoot %}
        <ul class='jquery-sortable-list overflow' id = '{{ root.id }}'>
    {% else %}
        <ul class='' id = 'list_{{ root.id }}' data-list = '{{ root.id }}'>
    {% endif %}
    {% if root.__children|length %}
        {% for child in root.__children %}
            <li id = '{{ child.id }}' data-path = '{{ path('icap_lesson_move_chapter', { 'resourceId': lesson.id, 'chapterId': child.id })}}' >
            {% if child.id == chapter.id %}
                <div class='menu-item active'>
            {% else %}
                <div class='menu-item'>
            {% endif %}
                <i class='icon-collapse collapsor {% if child.__children|length == 0%}empty{% endif %}' id='collapsor_icon_{{ child.id }}' data-collapsor = '{{ child.id }}'></i>
                <i data-handle = '{{ child.id }}' class="icon-file-text-alt handle_sortable lesson_tooltip" data-original-title='{{ 'dragndrop_button'|trans({}, 'icap_lesson') }}'></i>
                <a href="{{ path('icap_lesson_chapter', { 'resourceId': lesson.id, 'chapterId': child.id }) }}">{{ child.title }}</a>
            </div>
            {{ _self.recursiveChapter(child, chapter, lesson, false) }}
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endmacro %}

{% if tree is defined and tree != null and tree.__children is defined and tree.__children|length %}
    <div class='panel panel-default '>
        <div class="navbar navbar-default navbar-static-top">
            <ul class='nav navbar-nav pull-right'>
                <li><a href='#'><i class="icon-indent-right lesson_tooltip" id='collapse_all' data-original-title='{{ 'collapse_all'|trans({}, 'icap_lesson') }}'></i></a></li>
                <li><a href='#'><i class="icon-sort-by-attributes-alt lesson_tooltip" id='expand_all' data-original-title='{{ 'expand_all'|trans({}, 'icap_lesson') }}'></i></a></li>
            </ul>
        </div>


        {{ _self.recursiveChapter(tree, chapter, _resource, true) }}
        {% if is_granted('EDIT', node) %}
            <div >
                <hr />
                <a data-chapter = '{{ chapter.id }}' class="createchapter btn" href="{{ path('icap_lesson_new_chapter', { 'resourceId': _resource.id, 'parentChapterId': tree.id })}}" >
                    <i class="icon-plus"></i> {{ 'new_chapter'|trans({}, 'icap_lesson') }}
                </a>
            </div>
        {%  endif  %}
        <form id='moveform' action ='' method='post' style='display:none;'>
            {{ form_rest(form) }}
           {# {{ form_row(form._token) }}#}
        </form>
    </div>
{% else %}
    {{ 'There is no chapter'|trans({}, 'icap_lesson') }}
{% endif %}