{% extends 'IcapLessonBundle:Lesson:layout.html.twig' %}

{% block lesson_content %}
    <h3 class="lesson_title">{{ _resource.getResourceNode().getName() }}</h3>
    {{ macros.flashBox() }}
    <div class="row">
        {% if chapter is defined and chapter != null %}
            <div class="col-md-3">
                {% include 'IcapLessonBundle:Lesson:viewChild.html.twig' %}
            </div>
            <div class="col-md-9">
               <div class='panel panel-default' id='chapter_content'>
                   <div class='panel-heading chapter_title'><h4>{{ chapter.title }}</h4></div>
                   {% if is_granted('EDIT', node) %}
                       <div class="navbar navbar-default navbar-static-top">
                           <ul class='nav navbar-nav'>
                               <li><a rel="tooltip" data-original-title='{{ 'create_subchapter_button'|trans({}, 'icap_lesson') }}' data-chapter = '{{ chapter.id }}' class="createchapter btn lesson_tooltip" href="{{ path('icap_lesson_new_chapter', { 'resourceId': _resource.id, 'parentChapterId': parent.id })}}" ><i class="icon-plus"></i></a></li>
                               <li><a rel="tooltip" data-original-title='{{ 'edit_chapter_button'|trans({}, 'icap_lesson') }}' data-chapter = '{{ chapter.id }}' class="editchapter btn lesson_tooltip" href="{{ path('icap_lesson_edit_chapter', { 'resourceId': _resource.id, 'chapterId': chapter.id })}}" ><i class="icon-edit"></i></a></li>
                               <li><a rel="tooltip" data-original-title='{{ 'move_chapter_button'|trans({}, 'icap_lesson') }}' data-chapter = '{{ chapter.id }}' class="movechapter btn lesson_tooltip" href="{{ path('icap_lesson_choice_move_chapter', { 'resourceId': _resource.id, 'chapterId': chapter.id })}}" ><i class="icon-move"></i></a></li>
                               <li><a rel="tooltip" data-original-title='{{ 'delete_chapter_button'|trans({}, 'icap_lesson') }}' data-chapter = '{{ chapter.id }}' class="deletechapter btn lesson_tooltip" href="{{ path('icap_lesson_confirm_delete_chapter', { 'resourceId': _resource.id, 'chapterId': chapter.id })}}" ><i class="icon-trash"></i></a></li>
                           </ul>
                       </div>
                   {%  endif  %}
                   <div class='chapter_content_text'>
                       {{ chapter.text | raw }}
                   </div>

               </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class='chapter_content' id='chapter_content'>
                    <div class='welcome'>
                        <div>{{ 'lesson_welcome'|trans({}, 'icap_lesson') }}</div>
                        {% if is_granted('EDIT', node) %}
                            <div><a data-chapter = '{{ chapter.id }}' class="createchapter" href='{{ path('icap_lesson_new_chapter', { 'resourceId': _resource.id, 'parentChapterId': parent.id })}}'>{{ 'lesson_welcome_create'|trans({}, 'icap_lesson') }}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{#   <link rel="stylesheet" href="{{ asset('bundles/frontend/jquery/plugin/sortable/css/jquery.sortable.css') }}" screen="media" />#}

{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/sortable/js/jquery-sortable.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/icaplesson//js/ajaxifyLesson.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/icaplesson//js/lesson.js') }}'></script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        init();
    </script>
    {% if is_granted('EDIT', node) %}
        <script type="text/javascript">
            initSortable();
        </script>
    {% endif %}
{% endblock %}