{% extends 'IcapWikiBundle::layout.html.twig' %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('icap_wiki_view', {"wikiId": _resource.id}) }}">{{_resource.resourceNode.name}}</a></li>
    <li class="active">{{(section.isRoot())?_resource.resourceNode.name:section.activeContribution.title}}</li>
{% endblock %}

{% block wiki_panel %}
    {% block wiki_content %}
        <div>
            <form id="editSection-form" name="icap_wiki_edit_section" method="POST" class="form-vertical" action="{{ path("icap_wiki_edit_section", {'wikiId': _resource.id, 'sectionId' : section.id }) }}">
                <div class="control-group">
                    {% if section.isRoot() is sameas(true) %}
                        <div class="controls">
                            {{ form_row(form.activeContribution.text) }}
                        </div>
                    {% else %}
                        <div class="controls">
                            {{ form_row(form.activeContribution.title) }}
                            {{ form_row(form.activeContribution.text) }}
                            {{ form_row(form.visible) }}
                        </div>
                        <div class="move-wiki-section-header">
                            {{ "move_section"|trans({},'icap_wiki') }}
                        </div>
                        <div class="controls">
                            {{ form_row(form.position) }}
                            {{ form_row(form.brother) }}
                        </div>
                    {% endif %}
                </div>
                {{ form_rest(form) }}
                <a class="btn btn-default" href="{{ path('icap_wiki_view', {"wikiId": _resource.id}) }}">{% trans %}Cancel{% endtrans %}</a>&nbsp;
                <input type="submit" value="{% trans %}Save{% endtrans %}" class="btn btn-primary"/>
            </form>
        </div>
    {% endblock %}
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}
{% endblock %}