{% if log.details.chapter is defined %}
    <h4>{{ ('log.lesson.log_moved_chapter')|trans({}, 'log') }}</h4>

    <dl class="dl-horizontal">
        <dt>{{ ('title')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.chapter.title }}</dd>
        <dt>{{ ('log.lesson.old_parent')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.chapter.old_parent }}</dd>
        <dt>{{ ('log.lesson.new_parent')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.chapter.new_parent }}</dd>
    </dl>
{% endif %}
