{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': path('claro_workspace_tool_config', {'workspace': workspace.getId(), 'tool': tool.getId()})
            },
            {
                'name': 'home_tabs'|trans({}, 'platform'),
                'href': path('claro_workspace_home_tab_properties', {'workspaceId': workspace.getId()})
            },
            {
                'name': 'home_tab_creation'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'home_tab_creation'|trans({}, 'platform') }}
        </h3>
    </div>
    <form
        class="form-horizontal"
        action="{{ path('claro_user_workspace_home_tab_create', {'workspaceId': workspace.getId()}) }}"
        method="post"
        {{ form_enctype(form) }}
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>

        <div class="form-actions panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_workspace_home_tab_properties', {'workspaceId': workspace.getId()}) }}">
                <button  type="button" class="btn btn-default">
                    {{ 'cancel'|trans({}, 'platform') }}
                </button>
            </a>
        </div>
    </form>

{% endblock %}
