{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName() ~ ' - ' ~  workspace.getCode(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'home_parameters'|trans({}, 'platform') }}</h3>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="{{ path('claro_workspace_home_tab_properties', {'workspaceId': workspace.getId()}) }}">
            {{ 'home_tabs'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_workspace_widget_properties', {'workspace': workspace.getId()}) }}">
            {{ 'widgets'|trans({}, 'platform') }}
        </a>
    </div>

{% endblock %}
