{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'home'|trans({}, 'tools'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block section_content %}
    <div id="config-value-div" config-value="{% if withConfig is defined and not withConfig is empty %}{{ withConfig }}{% endif %}"></div>
    <div id="hometab-id-div" hometab-id="{{ tabId }}"></div>
    <div id="workspace-id-div" workspace-id="{{ workspace.getId() }}"></div>

    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home'|trans({}, 'tools') }}
        </h3>
        <div class="float-right-top">
            <a class="btn btn-primary" href="{{ path('claro_display_workspace_home_tabs_without_config', {'tabId': tabId, 'workspaceId': workspace.getId()}) }}" role="button">
                <i id="switch-config-mode" class="icon-ok"></i>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            {% for workspaceHomeTabConfig in workspaceHomeTabConfigs %}
            {% set workspaceHomeTab = workspaceHomeTabConfig.getHomeTab() %}
            <li class="hometab-element {% if workspaceHomeTab.getId() == tabId %} active {% endif %}"
                hometab-config-id="{{ workspaceHomeTabConfig.getId() }}"
                hometab-id="{{ workspaceHomeTab.getId() }}"
                hometab-order="{{ workspaceHomeTabConfig.getTabOrder() }}"
            >
                <a href="{{ path('claro_display_workspace_home_tabs_with_config', { 'tabId': workspaceHomeTab.getId(), 'workspaceId': workspace.getId()}) }}" class="hometab-link{% if not workspaceHomeTabConfig.isVisible() %} strike{% endif %}">
                    {{ workspaceHomeTab.getName() }}
                    <div class="dropdown">
                      <i class="icon-chevron-down pointer-hand" data-toggle="dropdown"></i>
                      <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><i role="menuitem" class="hometab-reorder-left-btn icon-arrow-left"> {{ "left" | trans({}, 'platform') }}</i></li>
                            <li role="presentation"><i role="menuitem" class="hometab-reorder-right-btn icon-arrow-right"> {{ "right" | trans({}, 'platform') }}</i></li>
                            <li class="divider"></li>
                            <li role="presentation"><i role="menuitem" class="hometab-rename-btn icon-pencil"> {{ "rename" | trans({}, 'platform') }}</i></li>
                            <li role="presentation">
                                {% if workspaceHomeTabConfig.isVisible() %}
                                    <i role="menuitem" class="hometab-visibility-btn icon-eye-close" visiblility-value="visible"
                                    id="visible-hometab-id-{{ workspaceHomeTab.getId() }}"> {{ "hide" | trans({}, 'platform') }}</i>
                                 {% else %}
                                    <i role="menuitem" class="hometab-visibility-btn icon-eye-open" visiblility-value="invisible"
                                    id="visible-hometab-id-{{ workspaceHomeTab.getId() }}"> {{ "display" | trans({}, 'platform') }}</i>
                                 {% endif %}
                            </li>
                            <li role="presentation"><i role="menuitem" class="hometab-delete-btn icon-trash"> {{ "delete" | trans({}, 'platform') }}</i></li>
                      </ul>
                    </div>
                </a>
            </li>
            {% endfor %}
            <li id="add-hometab-btn">
                <a class="pointer-hand">
                    <i id="add-hometab-button" class="icon-plus"></i>
                    {% if workspaceHomeTabConfigs | length == 0 %} {{ 'create_new_home_tab' | trans({}, 'platform') }}{% endif %}
                </a>
            </li>
        </ul>

        {% block homeTab %}{% endblock %}
    </div>

    <div id="delete-hometab-validation-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="delete-hometab-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>

    <div id="hometab-modal-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="hometab-modal-title"></h3>
                </div>
                <div id="hometab-modal-body" class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/tool/tabs.js') }}'  type="text/javascript"></script>
    <script
        src='{{ asset('bundles/clarolinecore/js/tool/workspace/home/workspaceHomeLayoutWithConfig.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
