{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {% if not has_role('ROLE_ANONYMOUS') %}
        {{
            macros.workspaceBreadcrumbs(
                workspace,
                [
                    {
                        'name': 'home'|trans({}, 'tools'),
                        'href': ''
                    }
                ]
            )
        }}
    {% endif %}
{% endblock %}

{% block section_content %}
    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home'|trans({}, 'tools') }}
        </h3>
    </div>

    <div id="workspace-home-content" class="panel-body">
        <ul id="workspace-hometabs-list" class="nav nav-tabs margin-bottom-md">
            {% for workspaceHomeTabConfig in workspaceHomeTabConfigs %}
                {% set workspaceHomeTab = workspaceHomeTabConfig.getHomeTab() %}
                <li class="hometab-element movable-hometab {% if workspaceHomeTab.getId() == tabId %} active {% endif %}"
                    data-hometab-id="{{ workspaceHomeTab.getId() }}"
                    {% if canEdit %}
                        id="hometab-element-{{ workspaceHomeTab.getId() }}"
                        data-hometab-config-id="{{ workspaceHomeTabConfig.getId() }}"
                    {% endif %}
                >
                    <a href="{{ path('claro_display_workspace_home_tab', { 'tabId': workspaceHomeTab.getId(), 'workspace': workspace.getId()}) }}"
                       class="hometab-link"
                    >
                        <span {% if canEdit %}
                                  id="hometab-name-{{ workspaceHomeTab.getId() }}"
                                  {% if not workspaceHomeTabConfig.isVisible() %}class="strike"{% endif %}
                              {% endif %}
                        >
                            {{ workspaceHomeTab.getName() }}
                        </span>
                        
                        {% if canEdit %}
                            &nbsp;
                            {% if workspaceHomeTab.getId() == tabId %}
                                {% if not isAnonymous %}
                                    <i class="fa fa-thumb-tack bookmark-hometab-btn pointer-hand text-muted"></i>
                                {% endif %}
                                <i class="fa fa-cog edit-hometab-btn pointer-hand text-muted"></i>
                            {% endif %}
                            <i class="fa fa-times delete-hometab-btn pointer-hand text-muted"></i>
                        {% elseif workspaceHomeTab.getId() == tabId and not isAnonymous %}
                            &nbsp;
                            <i class="fa fa-thumb-tack bookmark-hometab-btn pointer-hand text-muted"></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
                        
            {% if canEdit %}
                <li id="add-hometab-btn">
                    <a class="pointer-hand">
                        <span class="text-muted">
                            <i id="add-hometab-button" class="fa fa-plus"></i>
                            {% if workspaceHomeTabConfigs|length == 0 %}
                                {{ 'create_new_home_tab' | trans({}, 'platform') }}
                            {% endif %}
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <br>

        {% block homeTab %}{% endblock %}
    </div>
    
    <div id="hometab-datas-box"
         data-hometab-id="{{ tabId }}"
         data-workspace-id="{{ workspace.getId() }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/frontend/jquery/jquery-ui-1.11.3/jquery-ui.js') }}'
            type="text/javascript"
    >
    </script>
    <script src='{{ asset('bundles/frontend/gridstack/gridstack.js-0.2.2/dist/gridstack.min.js') }}'
            type="text/javascript"
    >
    </script>
    <script type="text/javascript">
        $('.grid-stack').gridstack({
            width: 12,
            animate: true
        });
    </script>
    
    {% if canEdit %}
        <script src='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js') }}'
                type="text/javascript"
        >
        </script>
        <script
            src='{{ asset('bundles/clarolinecore/js/tool/workspace/home/workspaceHomeLayout.js') }}'
            type="text/javascript">
        </script>
    {% else %}
        <script
            src='{{ asset('bundles/clarolinecore/js/tool/workspace/home/workspaceUserHomeLayout.js') }}'
            type="text/javascript">
        </script>
    {% endif %}
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/frontend/gridstack/gridstack.js-0.2.2/dist/gridstack.min.css')}}'
    >
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/clarolinecore/css/widget/widget.css')}}'
    >
    
    {% if canEdit %}
        <link rel='stylesheet'
              type='text/css'
              href='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css')}}'
        >
    {% endif %}
{% endblock %}
