{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'home'|trans({}, 'tools'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home'|trans({}, 'tools') }}

        </h3>
        {% if is_granted('ROLE_WS_MANAGER_' ~ workspace.getGuid()) %}
            <div class="float-right-top">
                <a class="btn btn-primary" href="{{ path( 'claro_display_workspace_home_tabs_with_config', { 'tabId': tabId, 'workspaceId': workspace.getId()}) }}" role="button">
                    <i id="switch-config-mode" class="icon-pencil"></i>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            {% for workspaceHomeTabConfig in workspaceHomeTabConfigs %}
                {% set workspaceHomeTab = workspaceHomeTabConfig.getHomeTab() %}
                <li class="hometab-element {% if workspaceHomeTab.getId() == tabId %} active {% endif %}">
                    <a href="{{
                        path(
                            'claro_display_workspace_home_tabs_without_config',
                            {
                                'tabId': workspaceHomeTab.getId(),
                                'workspaceId': workspace.getId()
                            }
                        )
                        }}"
                        class="hometab-link"
                    >
                        {{ workspaceHomeTab.getName() }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% block homeTab %}{% endblock %}
    </div>
{% endblock %}
