<form
    role="form"
    id="hometab-form"
    class="form-horizontal"
    action="{{ path(
        'claro_workspace_home_tab_edit',
        {'workspaceId': workspace.getId(), 'homeTabId': homeTab.getId()}
    ) }}"
    method="post"
    {{ form_enctype(form) }}
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="form-actions panel-footer">
        <button id="form-hometab-ok-btn" type="submit" class="btn btn-primary">
            {{ 'ok'|trans({}, 'platform') }}
        </button>
        <button id="form-hometab-cancel-btn" type="button" class="btn btn-default">
            {{ 'cancel'|trans({}, 'platform') }}
        </button>
    </div>
</form>
