{# Secondary resources #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#panel-secondary-resources">
                {{ 'secondary_resources'|trans({}, 'path_editor') }}
            </a>
            <span class="badge">{% verbatim %}{{ inheritedResources.length + previewStep.resources.length }}{% endverbatim %}</span>

            <a href="#" data-ui-resource-picker="secondaryResourcesPicker" class="btn btn-sm btn-default">
                <span class="fa fa-plus"></span> {{ 'resources_browse'|trans({}, 'path_editor') }}
            </a>
        </h4>
    </div>

    <div id="panel-secondary-resources" class="panel-collapse collapse">
        <div class="panel-body">
            <em data-ng-show="null == inheritedResources || 0 == inheritedResources.length">{{ 'no_secondary_resources'|trans({}, 'path_editor') }}</em>

            {# Resources #}
            <ul class="step-resources nodes" data-ng-show="(null != inheritedResources && inheritedResources.length != 0) || (null != previewStep.resources && previewStep.resources.length != 0)">
                <!-- Inherited resources from parents -->
                <li data-ng-repeat="resource in inheritedResources" data-ng-class="{excluded: resource.isExcluded}" class="resource-inherited resource-lvl-{% verbatim %}{{ resource.parentStep.lvl }}{% endverbatim %} node-thumbnail node ui-state-default zoom{% verbatim %}{{ resourceZoom }}{% endverbatim %}">
                    <div class="node-element" style="background-image: url('{% verbatim %}{{ resourceIcons[resource.type] }}{% endverbatim %}');"></div>
                    <div class="dropdown">
                        <a class="dropdown-toggle name dropdown-thumbnail" href="#" data-toggle="dropdown" role="button">
                            <div class="node-name">{% verbatim %}{{ resource.name }}{% endverbatim %} <span class="fa fa-caret-down"></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="node-menu-action" href="#" data-ng-show="resource.isExcluded" data-ng-click="includeParentResource(resource)">
                                    <span class="fa fa-eye"></span>
                                    {{ 'resource_show_parent'|trans({}, 'path_editor') }}
                                </a>
                                <a class="node-menu-action" href="#" data-ng-show="!resource.isExcluded" data-ng-click="excludeParentResource(resource)">
                                    <span class="fa fa-eye-slash"></span>
                                    {{ 'resource_hide_parent'|trans({}, 'path_editor') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Specific resources -->
                <li data-ng-repeat="resource in previewStep.resources" data-ng-class="{propagated: resource.propagateToChildren}" class="resource node-thumbnail node ui-state-default zoom{% verbatim %}{{ resourceZoom }}{% endverbatim %}">
                    <div class="node-element" style="background-image: url({% verbatim %}{{ resourceIcons[resource.type] || resourceIcons['custom/default'] }}{% endverbatim %});"></div>

                    <div class="dropdown">
                        <a class="dropdown-toggle name dropdown-thumbnail" href="#" data-toggle="dropdown" role="button">
                            <div class="node-name">{% verbatim %}{{ resource.name }}{% endverbatim %} <span class="fa fa-caret-down"></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-show="null == resource.resourceId || resource.resourceId.length == 0">
                                <a class="node-menu-action" href="#" ng-click="editResource(resource)">
                                    <span class="fa fa-pencil"></span>
                                    {{ 'resource_edit'|trans({}, 'path_editor') }}
                                </a>
                            </li>
                            <li>
                                <a class="node-menu-action" href="#" ng-show="!resource.propagateToChildren" ng-click="enableResourcePropagation(resource)">
                                    <span class="fa fa-eye"></span>
                                    {{ 'resource_propagate'|trans({}, 'path_editor') }}
                                </a>

                                <a class="node-menu-action" href="#" ng-show="resource.propagateToChildren" ng-click="disableResourcePropagation(resource)">
                                    <span class="fa fa-eye-slash"></span>
                                    {{ 'resource_no_propagate'|trans({}, 'path_editor') }}
                                </a>
                            </li>
                            <li>
                                <a class="node-menu-action" href="#" ng-click="removeResource(resource)">
                                    <span class="fa fa-trash-o"></span>
                                    {{ 'resource_delete'|trans({}, 'path_editor') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>