{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="fa fa-list"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}
{% block dropzone_content %}
    <div class="row container-dropzone">
        <div class="col-md-6 col-md-offset-1">
            <h3>
                {{ 'Warning'|trans({}, 'icap_dropzone') }}
            </h3>

            <div>
                {{ 'You will reactivate a correction but the expected number of correction is already reached. Are you sure ?'|trans({}, 'icap_dropzone') }}
            </div>
        </div>
    </div>
    <div class="row container-dropzone">
        <div class="col-md-6 col-md-offset-1">
            <div class="btn-group">
                <a class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                   href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id,'dropId':drop.id}) }}">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                <a class="btn btn-primary"
                   href="{{ path('icap_dropzone_drops_detail_correction_validation',
                   {'resourceId': dropzone.id, 'correctionId': correction.id, 'value': 'yes'}) }}"
                   class="btn btn-default btn-xs">{{ 'revalidate'|trans({}, 'icap_dropzone') }}</a>
            </div>
        </div>
    </div>

{% endblock %}

