{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% set calendarPath = 'bundles/frontend/jquery/plugin/calendar/' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'css/fullcalendar.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'css/fullcalendar.print.css') }}' media='print' />
{% endblock %}

{% block section_content %}
{{ tinymce_init() }}
    <ul class="breadcrumb">
        <li>
            <a href="#">
               {{ 'agenda'|trans({}, 'platform') }}
            </a>
        </li>
    </ul>
    <div id='calendar' class="span9"></div>
    <div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> {{ 'Nouvelle entrée'|trans({}, 'calendar') }}</h3>
        </div>
        <div class="modal-body">
            <button class="btn btn-danger" id="deleteBtn" >
                {{ 'delete'|trans({}, 'platform') }}
            </button>
            <form method="post" action="{{ path('claro_workspace_agenda_add_event', {workspaceId: workspace.getId()}) }}" id="myForm" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
            </form>
            <a href="{{ path('claro_workspace_agenda_show', {workspaceId: workspace.getId()}) }}" id="link"></a>
            <a href="{{ path('claro_workspace_agenda_move') }}" id="move"></a>
            <a href="{{ path('claro_workspace_agenda_delete', {workspaceId: workspace.getId()}) }}" id="delete"></a>
            <a href="{{ path('claro_workspace_agenda_update', {workspaceId: workspace.getId()}) }}" id="update"></a>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{'close'|trans({}, 'calendar') }}</button>
            <button class="btn btn-primary" id="save">{{ 'add_an_event'|trans({}, 'calendar') }}</button>
             <button class="btn btn-info" id="updateBtn" > {{ 'update'|trans({}, 'calendar') }}</button>
        </div>
    </div>
    <div class="span3">
        <h4> <u>{{'tasks'|trans({}, 'calendar') }} </u></h4>
        {% for e in listEvents  %}
        <div class="border">
            <button type="button" class="delete-task close" data-event-id="{{e.id}}" data-dismiss="alert">&times;</button>
           <h5 data-event-title="{{e.title}}"> {{ e.title }}</h5>
           <ul>
                <li data-event-start="{{ e.start|date("d/m/Y")}}"> {{ e.start|date("d/m/Y")}} </li>
                <li > {{ e.end|date("d/m/Y") }} </li>
                <li>{{ e.description }}</li>
                <li class="hidden"> {{e.priority}}</li>
                <a href="#myModal" class="update-task" role="button">modifier</a> </p>
            </ul>
        </div>
        {% else %}
        <li>{{ 'no event found'|trans({}, 'calendar') }}</li>
        {% endfor %}
        <h4><u>Priorité</u></h4>
        <div>
            <span style="color:#FF0000">  {{ 'high'|trans({}, 'calendar') }} </span>
            <span style="color:#01A9DB"> {{ 'medium'|trans({}, 'calendar') }} </span>
            <span style="color:#848484"> {{ 'low'|trans({}, 'calendar') }} </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}' ></script>
    <script type='text/javascript' src='{{ asset(calendarPath ~ 'js/fullcalendar.js') }}' ></script>
    <script type='text/javascript'src='{{ asset('bundles/clarolinecore/js/tool/calendar.js') }}'></script>

    <script type='text/javascript'>
        $(function () {
            Claroline.Calendar.initialize('workspace');
        });
    </script>
{% endblock javascripts %}
