{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'my_applications' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    {{ macros.flashBox() }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'my_applications'|trans({}, 'platform') }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'name'|trans({}, 'api') }}</th>
                            <th>{{ 'urls'|trans({}, 'api') }}</th>
                            <th>{{ 'actions'|trans({}, 'api') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>{{ client.name }}</td>
                            <td><ul class="list-inline">{% for redirectUrl in client.redirectUris %}<li><a href="{{ redirectUrl }}" title="{{ redirectUrl }}">{{ redirectUrl }}</a></li>{% endfor %}</ul></td>
                            <td>
                                <a href="{{ path('claro_profile_applications_revoke', {'client_id': client.id}) }}" title="{{ 'user_application_revoke_confirm_title'|trans({}, 'api') }}" class="btn btn-danger revoke" data-confirm-title="{{ 'user_application_revoke_confirm_title'|trans({}, 'api') }}" data-confirm-message="{{ 'user_application_revoke_confirm_message'|trans({'%application%': client.name}, 'api')|raw }}" data-confirm-ok="{{ 'revoke'|trans({}, 'api') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-confirm-style="danger" role="button">
                                    {{ 'revoke_access'|trans({}, 'api') }}
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">{{ 'no_app_connect_to_your_account'|trans({}, 'api') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type="text/javascript">
        $(function() {
            $('.revoke').confirmModal();
        });
    </script>
{% endblock %}
