<div class='modal-dialog'>
    <form novalidate="novalidate" action="" id="resource-rename-form" class="modal-content">
        <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ 'badge_selection' | trans({}, 'badge') }}</h4>
        </div>
        <div class='modal-body'>
            <ul class="list-inline">
                {% for badge in badges %}
                <li><img src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" class="badge_image" />{{ badge.name }}</li>
                {% else %}
                <li>{{ 'no_badge_to_select'|trans({}, 'badge') }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
            <button type="button" class="btn btn-primary form-valid-button" disabled="disabled">{{ 'select'|trans({}, 'badge') }}</button>
        </div>
    </form>
</div>
