<ul class="nodes badge_list list-unstyled">
    {% for badge in pager.currentPageResults %}
    <li class="node-thumbnail">
        <a href="{{ path(badgeUrl, {'slug': badge.slug(language)}) }}" title="{{ badge.name(language) }}" class="thumbnail">
            <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name(language) }}" />
            <p class="badge_name">{{ badge.name(language) }}</p>
        </a>
    </li>
    {% else %}
    <li>{{ 'no_badges'|trans({}, 'badge') }}</li>
    {% endfor %}
</ul>

{% if pager.haveToPaginate %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': paginationurl,
            'routeParams': routeParams
        }
    )
}}
{% endif %}
