{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Editor/app.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/player.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
            {{ path.resourceNode.name }}
            </div>
            {% if step.lvl > 1 %}
            <div class="panel-body">
                {{ allParents[1].name }} 
             </div>
            {% elseif step.lvl == 1 %}
               <div class="panel-body">
                {{ step.name }} 
             </div>
            {% endif %}
        </div>
        <div class="panel panel-default tree">
            <div class="panel-body">
            {% if step.lvl > 0 %}
                {% for i in 0..step.lvl - 1 %}
                    <!--
                   <a class="previous-siblings arrow" href="#">
                    <span class="icon-chevron-left"></span>
                   </a>
                   -->
                    {% for steps in fullPath[i] %}
                        {% if allParents[i] == steps %}
                            <a rel="tooltip" data-original-title="{{ steps.name}}" class="step current btn btn-lg btn-default lvl-{{ i }}" href="{{ path('innova_pass_show', { pathId: path.resourceNode.id, stepId : steps.id }) }}">
                            <span class="step-state icon-check"></span>
                            </a>
                        {% else %}
                             <a rel="tooltip" data-original-title="{{ steps.name}}" class="step btn btn-lg btn-default lvl-{{ i }}" href="{{ path('innova_pass_show', { pathId: path.resourceNode.id, stepId : steps.id }) }}">
                            </a>
                        {% endif %}
                    {% endfor %}
                    <!--
                    <a class="previous-siblings arrow" href="#">
                        <span class="icon-chevron-right"></span>
                    </a>
                    -->
                    <span class="separator"></span>
                </div>
                {% endfor %}
            {% endif %}
                
            {% for sibling in siblings %}
                {% if sibling == step %}
                    <a rel="tooltip" data-original-title="{{ sibling.name}}" class="current btn btn-lg btn-default lvl-{{ step.lvl }}" href="{{ path('innova_pass_show', { pathId: path.resourceNode.id, stepId : sibling.id }) }}">
                    </a>
                {% else %}
                    <a rel="tooltip" data-original-title="{{ sibling.name}}" class="btn btn-lg btn-default lvl-{{ step.lvl }}" href="{{ path('innova_pass_show', { pathId: path.resourceNode.id, stepId : sibling.id }) }}">
                    <span class="step-state icon-unchecked"></span>
                       
                    </a>
                {% endif %}
            {% endfor %}
                
            {% if children %}
                <span class="separator"></span>
                {% for child in children %}
                <a class="btn btn-lg btn-default" rel="tooltip" data-original-title="{{ child.name }}" href="{{ path('innova_pass_show', { pathId: path.resourceNode.id, stepId : child.id }) }}"> &nbsp;
                </a>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <div class="panel panel-default step-container">
            {% if step.lvl > 1 %}
            <div class="panel-heading">
                {{ step.name }}
                    {% for resource in resources["digital"] %}
                        <a class="pull-right btn btn-default btn-xs" target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path"/>{{ resource.name }}</a>&nbsp;
                    {% endfor %}
                    {% for resource in resources["nonDigital"] %}
                        <a class="pull-right btn btn-default btn-xs" href="#" rel="tooltip" data-original-title="{{ resource.description }}">{{ resource.resourceNode.name }}</a>&nbsp;
                    {% endfor %}
            </div>
            {% endif %}
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                         <div class="panel panel-default">
                            <div class="panel-heading"><i class="icon-pushpin"></i> {{ 'informations' | trans({}, 'innova_tools') }}</div>
                            <div class="panel-body">
                                {% if step.duration|date('H:i') !=  "00:00" %} 
                                    <img rel="tooltip" data-original-title="{{ 'duration' | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/time.png') }}"/>  {{ step.duration|date('H:i') }} 
                                {% endif %}
                                {% if step.stepWho %} 
                                    <img rel="tooltip" data-original-title="{{ step.stepWho.name | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/who/'~ step.stepWho.id  ~'.png') }}"/>
                                {% endif %}
                                {% if step.stepWhere %} 
                                    <img rel="tooltip" data-original-title="{{ step.stepWhere.name | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/where/'~ step.stepWhere.id  ~'.png') }}"/> 
                                {% endif %}
                                {% if step.withComputer %}
                                    <img rel="tooltip" data-original-title="{{ 'with_computer' | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/computer.png') }}"/>
                                {% else %}  
                                    <img rel="tooltip" data-original-title="{{ 'without_computer' | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/no_computer.png') }}"/>
                                {% endif %}
                                {% if step.withTutor %}
                                    <img rel="tooltip" data-original-title="{{ 'with_tutor' | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/tutor.png') }}"/>
                                {% else %}  
                                    <img rel="tooltip" data-original-title="{{ 'without_tutor' | trans({}, 'innova_tools') }}" src="{{ asset('bundles/innovapath/images/icons/no_tutor.png') }}"/>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="icon-briefcase"></i>  {{ 'resources' | trans({}, 'innova_tools') }}</div>
                            <div class="panel-body">
                                <input type="hidden" id="step-id" value="{{ path('innova_herited_resources', {stepId: step.id}) }}"/>
                                <div id="herited-resources"></div>
                                {% if resources %}
                                <div class="panel panel-default">
                                    <div class="panel-heading"><strong>{{ 'local' | trans({}, 'innova_tools') }}</strong></div>
                                    <div class="panel-body">
                                        {% for resource in resources["digital"] %}
                                            <a target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path"><img rel="tooltip" data-original-title="{{ resource.name }}" width="32px" src="{{asset(resource.icon.relativeUrl) }}"/></a>
                                        {% endfor %}
                                        {% for resource in resources["nonDigital"] %}
                                            <img rel="tooltip" data-original-title="{{ resource.resourceNode.name }}" width="32px" src="{{ asset('bundles/innovapath/images/icons/document/32x32/'~ resource.nonDigitalResourceType.name  ~'.png') }}"/>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="text-center">
                            <h1>{{ step.name }}</h1>
                            {% if step.image %}
                                <img src="{{ asset('bundles/innovapath/images/steps/' ~  step.image) }}"/>
                            {% endif %}
                        </div>
                        {% if step.instructions|raw %}
                        <div class="justified">
                            <strong>{{ 'instructions' | trans({}, 'innova_tools') }} :</strong>   {{ step.instructions }}
                        </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/player.js') }}"></script>
{% endblock %}
