{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "resources" | trans({}, "platform") }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'resources'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}
{% block section_content %}
    <div id="data-attributes" data-max-post-size="{{ maxPostSize }}"></div>
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'resources' | trans({}, 'platform') }}<span></span></h3>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            Claroline.ResourceManager.initialize({
                "directoryId": {{ directoryId }},
                "directoryHistory": {{ jsonPath|raw }},
                "parentElement": $('div.section-content .panel'),
                "isPickerMultiSelectAllowed": true,
                "isWorkspace": true,
                "appPath": "{{ app.request.getBaseUrl() }}",
                "webPath": "{{ asset('') }}",
                "language": "{{ app.request.locale }}",
                "resourceTypes": {
                    {% for resourceType in resourceTypes %}
                        "{{ resourceType.getName() }}": {
                            "name": "{{ resourceType.getName()|trans({}, 'resource') }}",
                            "actions": {
                                {% for action in resourceType.getActions() %}
                                    "{{ action.getName() }}": {
                                        "name": "{{ action.getName() }}",
                                        "route": "{{ path('claro_resource_action', {'resourceType': resourceType.getName(), 'action': action.getName(), 'node': '_nodeId' }) }}",
                                        "async": {% if action.isAsync() %} 1 {% else %} 0 {% endif %},
                                        "mask": {{ action.getValue() }},
                                        "isCustom": {% if action.isCustom() %} "yes" {% else %} "no" {% endif %},
                                        "isForm": {% if action.isForm() %} true {% else %} false {% endif %}
                                    }
                                    {% if loop.last != true %},{% endif %}
                                {% endfor %}
                            }
                        }
                        {% if loop.last != true %},{% endif %}
                    {% endfor %}
                }
            });
        });
    </script>

    <script type="text/javascript">
        var FileAPI = { debug: false, pingUrl: false }
    </script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/FileAPI/FileAPI.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/FileAPI/FileAPI.exif.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/resource/dragndrop.js') }}'></script>
{% endblock %}
