{% extends 'ClarolineCoreBundle:Install:layout.html.twig' %}
{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
{% block content %}
<div class="span3">
         <h3> Progression</h3>
        <ol class="nav nav-list">
         {%block naviguation %}
            {{ parent() }}
        {%endblock %}
           </ol>
            <p>  Progression</p>
            <div class="progress">
              <div class="bar" style="width: 90%;"></div>
            </div>
    </div>
             <div class="span6">
                 <h3>Etape 3 : Paramètre de l'administration</h3>
                  {%block data %}
<form action="{{ path('claro_checkAdminForm') }}" method="post" >
{{ form_widget(form) }}
<input type="submit" value="suivant" class="btn btn-primary"/>
</form>

<a href="{{ path('claro_showDbForm', {'lg':version} ) }}" class="btn"> {{ 'back'|trans({},'install') }} </a>


{%endblock data %}
        </div>
            <div class="span2">
                <h3> Astuces/Aides</h3>
                <div class="action">
                    Si vous avez des versions supérieures à celle du tableau, cela ne peut aller que mieux pour vous.
                    </div>
                </div>
            <div class="span12">
                 {% if app.session.getFlashes() is defined %}
       <div class="alert alert-error">
        {% for key, flash in app.session.getFlashes() %}
        {{ flash }} <br />
        {% endfor %}
         {{ form_errors(form) }}
    </div>
                    {%endif%}
        </div>

   </div>

{% endblock %}

