{% extends '::base.html.twig' %}

{% set themePath = 'bundles/clarolinecore/css/themes/' ~ config.getParameter('theme') %}
{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='{{ asset(themePath ~ '/bootstrap.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(themePath ~ '/bootstrap-responsive.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/font-awesome.css') }}'/>
{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('bundles/clarolinecore/images/ico/favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/clarolinecore/images/ico/apple-touch-icon.png')}}"/>
{% endblock %}

{% block layout %}
<div id="top_bar" class="navbar navbar-fixed-top"> 
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('claro_index')}}">
                Claronext
            </a>
        </div>
    </div>
    </div>
    <div class="container">
 <div id="grid" class="span12">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
            </ul>
        <h2>{{ 'welcome'|trans({}, 'install') }}</h2>
            <p> {{'this_process'|trans({} ,'install') }} </p>
            </div>
  {% block content %}
            <div class="span3">
        <ol class="nav nav-list">
             {% block naviguation %}
             {% include 'ClarolineCoreBundle:Install:steps.html.twig' %}
                {%endblock %}
                  </ol>
            <div class="progress">
              <div class="bar" style="width: 30%;"></div>
            </div>
    </div>
             <div class="span6">
                  {%block data %}
                  {%endblock data %}
    {% endblock %} 
{%endblock %}