{% extends "ClarolineCoreBundle:API:modal.html.twig" %}

{% block header %}
    {{ 'home_tab_edition'|trans({}, 'platform') }}
{% endblock %}

{% block form %}
    {% form_theme form 'ClarolineCoreBundle::form_theme_angular.html.twig' %}
    <form role="form"
          class="form-horizontal"
          ng-submit="htfmc.submit($scope)"
          method="post" {{ form_enctype(form) }}
          novalidate
          autocomplete="off"
    >
        <div class="modal-body">
            {{ form_row(form.name) }}
            {{ form_row(form.visible) }}
            {{ form_row(form.locked) }}
            <div>
                <a data-toggle="collapse"
                   class="margin-bottom-md"
                   href="#advanced-parameters"
                   aria-expanded="false"
                   aria-controls="collapseTwo"
                >
                    {{ 'advanced_parameters'|trans({}, 'platform') }}
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div id="advanced-parameters" class="collapse">
                    <br>
                    {{ form_row(form.color) }}
                    <br>
                    <div class="alert alert-default">
                        {{ 'home_tab_roles_explanation'|trans({}, 'platform')|raw }}
                    </div>
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-default" data-dismiss="modal" ng-click="$close()">
                {{ 'cancel'|trans({}, 'platform') }}
            </div>
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
        </div>
    </form>
{% endblock %}