{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li>
        <a href="{{ path('icap_dropzone_edit_common',{'resourceId':dropzone.id}) }}"><span
                    class="fa fa-list"></span>  {{ dropzone.resourceNode.name }}</a>
    </li>
    <li>
        <a href="{{ path('icap_dropzone_examiners', {'resourceId': dropzone.id}) }}"> {{ 'Examiners'|trans({}, 'icap_dropzone') }}</a>
    </li>
    <li class="active">
        {{ 'corrections by user'|trans({}, 'icap_dropzone') }}
    </li>
{% endblock %}

{% block dropzone_content %}

    <div class="container container-dropzone">
        <h2>
            {{ 'List of corrections made by %user%'|trans({'%user%':user.firstName|capitalize ~' '~ user.lastName|upper}, 'icap_dropzone') }}
            <a class=" btn btn-default pull-right" href="{{ path('icap_dropzone_edit', {'resourceId': dropzone.id}) }}"><span
                        class="fa fa-pencil-square-o"></span> {{ 'Edit evaluation'|trans({}, 'icap_dropzone') }}</a>
        </h2>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm"
                       href="{{ path('icap_dropzone_examiners', {'resourceId': dropzone.id }) }}"><span
                                class="fa "></span> {{ 'List of examiners'|trans({}, 'icap_dropzone') }}
                    </a>
                    <a class="btn btn-default btn-sm"
                       href="{{ path('icap_dropzone_drops', {'resourceId': dropzone.id}) }}"><span
                                class="fa "></span> {{ 'List of copies'|trans({}, 'icap_dropzone') }}
                    </a>
                </div>
            </div>
        </div>

        {{ macros.flashBox() }}

        {% block dropzone_content_corrections %}

            <h3>{% block dropzone_content_drops_by_list_title %}{{ 'Corrections'|trans({}, 'icap_dropzone') }}{% endblock %}</h3>
            <h5>{% block dropzone_content_drops_by_list_subtitle %}{% endblock %}</h5>

            {% set byUserMod = 0 %}
            {% set adminCorrectionByUserMod = 1 %}
            {% set backUserId = user.id %}
            {% block dropzone_content_drops_by_Listing %}
                {% include 'IcapDropzoneBundle:Correction:Listing/correctionListing.html.twig' %}
            {% endblock %}

            <div class="container row">
                {% block dropzone_content_drops_by_pager %}
                    {% block dropzone_content_drops_by_paginate_part %}
                        {% if pager.haveToPaginate %}
                            {{ pagerfanta(
                            pager,
                            'twitter_bootstrap_translated',
                            {
                            'proximity' : 1,
                            'routeName': 'icap_dropzone_examiner_corrections_paginated',
                            'routeParams': {'resourceId': dropzone.id,'userId':user.id}
                            }
                            ) }}
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </div>

            {% if pager.nbResults == 0 %}
                <div class="row">
                    <div class="col-md-12">
                        {% block dropzone_content_drops_by_no_result_exception %}
                            {{ 'noCorrectionExeption'|trans( {}, 'icap_dropzone') }}
                        {% endblock %}
                    </div>
                </div>
                <br/>
            {% endif %}

        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
{% endblock %}