<form class="form-horizontal" method="POST"
      action="{{ path('icap_dropzone_drops_detail_delete_correction', {'resourceId': dropzone.id, 'correctionId':correction.id,'backPage':backPage}) }}">

    <p>{{ 'You are about to delete a correction. This action is not without consequence.'|trans({}, 'icap_dropzone') }}</p>

    <p>{{ 'Are you sure you want to do this?'|trans({}, 'icap_dropzone') }}</p>


    <br/>

    <div class="container form-group form-buttons">
        <div class="btn-group pull-right">
            {% if Modal is defined %} {# CASE MODAL #}
            <button type="button" class="btn btn-default" data-dismiss="modal">
                {{ 'Cancel'|trans({}, 'icap_dropzone') }}
            </button>
            {% else %} {# CASE NORMAL MODE #}
            {% if  backPage is defined and backPage == 'AdminCorrectionsByUser'  and backUserId != 0 %}
            <a href="  {{ path('icap_dropzone_examiner_corrections', {'resourceId': dropzone.id, 'userId': backUserId}) }} "
               class="btn btn-default" data-dismiss="modal">
                {% else %}
                <a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id, 'dropId': drop.id}) }}"
                   class="btn btn-default ">
                    {% endif %}
                    {{ 'Cancel'|trans({}, 'icap_dropzone') }}
                </a>
                {% endif %}
                <button type="submit" class="btn btn-danger">
                    {{ 'Confirm the correction delete'|trans({}, 'icap_dropzone') }}
                </button>
        </div>
    </div>
</form>
