{% form_theme form "IcapDropzoneBundle::form_theme_bootstrap3.html.twig" %}



    <form class="form-horizontal" method="POST" action="{{ path('icap_dropzone_drops_deny_correction', {'resourceId': dropzone.id, 'correctionId':correction.id}) }}">
        {{ form_errors(form) }}

        <p>{{ 'You are about to report a correction. This action is not without consequence.'|trans({}, 'icap_dropzone') }}</p>
        <p>{{ 'Are you sure you want to do this?'|trans({}, 'icap_dropzone') }}</p>

        <div class="row">
            <strong class="col-md-12">
                {{ 'Report comment'|trans({}, 'icap_dropzone') }}
            </strong>
        </div>

        <div class="row">
            {{ form_row(form.correctionDeniedComment, {'label_col_size': ' ', 'input_col_size': 'col-md-12'}) }}
        </div>

        <br/>
        <div class="container form-group form-buttons">
            <div class="btn-group pull-right">
                    <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id, 'dropId': drop.id}) }}" class="btn btn-default">
                        {{ 'Cancel'|trans({}, 'icap_dropzone') }}
                    </a>
                    <button type="submit" class="btn btn-danger">
                        {{ 'Confirm the correction report'|trans({}, 'icap_dropzone') }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}


        {{ tinymce_init() }}
