<div id="modal-event-form" class="modal-dialog" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="agendaModalLabel"> {{ 'update_event'|trans({}, 'agenda') }}</h4>
        </div>
        <form method="post"
              action="{{ action }}"
              id="form-event" {{ form_enctype(form) }}
              role="form"
                >
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'cancel'|trans({}, 'agenda') }}</button>
                <button type="submit" class="btn btn-primary">{{ 'update'|trans({}, 'agenda') }}</button>

                <a class="btn btn-danger delete-event" href="
                    {% if isGuest is defined %}
                        {{ path('claro_agenda_delete_guest_event', {'event': event.getId()}) }}
                    {% else %}
                        {{ path('claro_agenda_delete_event', {'event': event.getId()}) }}
                    {% endif %}
                    "
                   data-dismiss="modal">
                    {{ 'delete'|trans({}, 'platform') }}
                </a>
            </div>
        </form>
    </div>
</div>