{% extends 'ClarolineCoreBundle:Log:view_details.html.twig' %}

{% block logDetailsContext %}
    {{ parent() }}

    {% if constant('UJM\\ExoBundle\\Event\\Log\\LogExerciseEvaluatedEvent::ACTION') == log.action %}
        <div class='list-group'>
            <div class='list-group-item'>
                <h4>{{ 'result'|trans({}, 'ujm_exo') }}</h4>
                <dl class="dl-horizontal">
                    <dt>{{ 'score'|trans({}, 'ujm_exo') }}<dt>
                    <dd>{{ log.details.result }}</dd>

                    <dt>{{ 'score_max'|trans({}, 'ujm_exo') }}<dt>
                    <dd>{{ log.details.resultMax }}</dd>
                </dl>
            </div>
        </div>
    {% endif%}
{% endblock %}
