{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% macro renderSearchedContactsPager(pager, search, max, orderedBy, order) %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'claro_my_contacts_tool_index',
            'routeParams': {
                'search': search,
                'max': max,
                'orderedBy': orderedBy,
                'order': order
            }
        }
    )
}}
{% endmacro %}

{% macro renderAllMyContactsPager(pager, max, orderedBy, order) %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'claro_contact_show_all_my_contacts',
            'routeParams': {
                'max': max,
                'orderedBy': orderedBy,
                'order': order
            }
        }
    )
}}
{% endmacro %}

{% macro renderCategoryContactsPager(pager, categoryId, max, orderedBy, order) %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'claro_contact_show_contacts_by_category',
            'routeParams': {
                'category': categoryId,
                'max': max,
                'orderedBy': orderedBy,
                'order': order
            }
        }
    )
}}
{% endmacro %}

{% macro renderAllVisibleUsersPager(pager, max, orderedBy, order) %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'claro_contact_show_all_visible_users',
            'routeParams': {
                'max': max,
                'orderedBy': orderedBy,
                'order': order
            }
        }
    )
}}
{% endmacro %}

{% macro sortSearchedContactsUrl(search, max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_my_contacts_tool_index',
            {
                'search': search,
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% macro sortAllMyContactsUrl(max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_contact_show_all_my_contacts',
            {
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% macro sortCategoryContactsUrl(categoryId, max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_contact_show_contacts_by_category',
            {
                'category': categoryId,
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% macro sortAllVisibleUsersUrl(max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_contact_show_all_visible_users',
            {
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% from _self import renderSearchedContactsPager %}
{% from _self import renderAllMyContactsPager %}
{% from _self import renderCategoryContactsPager %}
{% from _self import renderAllVisibleUsersPager %}
{% from _self import sortSearchedContactsUrl %}
{% from _self import sortAllMyContactsUrl %}
{% from _self import sortCategoryContactsUrl %}
{% from _self import sortAllVisibleUsersUrl %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}


{% block title %}
    {{ 'my_contacts' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'my_contacts'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="my-contacts-tool">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'my_contacts'|trans({}, 'tools') }}
                <span class="dropdown pull-right">
                    <i class="fa fa-cog pointer-hand"
                       data-toggle="dropdown"
                    >
                    </i>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" id="contacts-configure-btn">
                            <a role="menuitem" tabindex="-1" href="#">
                                <i class="fa fa-wrench"></i>
                                {{ 'configure'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li role="presentation" id="category-create-btn">
                            <a role="menuitem" tabindex="-1" href="#">
                                <i class="fa fa-plus-circle"></i>
                                {{ 'create_category'|trans({}, 'platform') }}
                            </a>
                        </li>
                    </ul>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            {% if search is not empty %}
                <div class="alert alert-info">
                    {{ 'results_for_search_on'|trans({}, 'platform') }} :
                    "{{ search }}"
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-4 pull-right">
                    <div class="input-group margin-bottom-md">
                        <input class="form-control search-contact"
                               type="text"
                               id="search-contact-input"
                               placeholder="{{ 'search'|trans({}, 'platform') }}"
                               value="{{ search }}"
                        >
                        <span class="input-group-btn">
                            <button class="filter btn btn-default search-contact-btn"
                                    type="button"
                                    id="search-contact-btn"
                            >
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br>

            {% if search is empty %}

                {% if options['show_all_my_contacts'] is not defined or options['show_all_my_contacts'] %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#all-my-contacts-content">
                                    {{ 'all_my_contacts'|trans({}, 'platform') }}
                                </a>
                                &nbsp;
                                <span class="badge" id="all-my-contacts-badge">
                                    {{ contacts['all_my_contacts']|length }}
                                </span>
                                <i class="fa fa-user-plus pointer-hand pull-right"
                                   id="add-contacts-btn"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="{{ 'add_contacts'|trans({}, 'platform') }}"
                                ></i>
                            </h4>
                        </div>
                        <div id="all-my-contacts-content" class="panel-collapse collapse in">
                            <div class="panel-body" id="all-my-contacts-content-body">

                                {% if contacts['all_my_contacts']|length > 0 %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group margin-bottom-md pull-left">
                                                {% if contacts['all_my_contacts'].getNbPages() > 1 %}
                                                    {{ renderAllMyContactsPager(contacts['all_my_contacts'], max, orderedBy, order) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group pull-right" style="margin: 20px 0">
                                                {{ maxResultsSelectBox(max, "$('#max-results-button').trigger('click');", 'contacts_per_page') }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                    <th>{{ 'picture'|trans({}, 'platform') }}</th>
                                                {% endif %}
                                                {% if options['show_username'] is not defined or options['show_username'] %}
                                                    <th>
                                                        <a href="{{ sortAllMyContactsUrl(max, 'username', order)|trim }}">
                                                            {{ 'username'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>
                                                {% endif %}
                                                <th>
                                                    <a href="{{ sortAllMyContactsUrl(max, 'firstName', order)|trim }}">
                                                        {{ 'firstName'|trans({}, 'platform') }}
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="{{ sortAllMyContactsUrl(max, 'lastName', order)|trim }}">
                                                        {{ 'lastName'|trans({}, 'platform') }}
                                                    </a>
                                                </th>

                                                {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                    <th>
                                                        <a href="{{ sortAllMyContactsUrl(max, 'mail', order)|trim }}">
                                                            {{ 'mail'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>
                                                {% endif %}

                                                {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                    <th>
                                                        <a href="{{ sortAllMyContactsUrl(max, 'phone', order)|trim }}">
                                                            {{ 'phone'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>
                                                {% endif %}
                                                <th>
                                                    {{ 'actions'|trans({}, 'platform') }}
                                                </th>
                                            </tr>

                                            {% for contact in contacts['all_my_contacts'] %}
                                                <tr class="contact-row-{{ contact.getId() }}">
                                                    {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                        <td>
                                                            {% if contact.getPicture() != '' %}
                                                                <img src="{{ asset('uploads/pictures/') ~  contact.getPicture() }}"
                                                                     class="profile_picture img-circle"
                                                                     alt="{{ contact.getLastName() ~ ' ' ~ contact.getFirstName() }}"
                                                                     width="50px"
                                                                     height="50px"
                                                                >
                                                            {% else %}
                                                                <h1 class="profile_picture_placeholder">
                                                                    <i class="fa fa-user"></i>
                                                                </h1>
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                    {% if options['show_username'] is not defined or options['show_username'] %}
                                                        <td><a class="standard-link" href="{{ path('claro_profile_view', {'user': contact.getId()})}}"> {{ contact.getUsername() }} </a></td>
                                                    {% endif %}
                                                    <td>{{ contact.getFirstName() }}</td>
                                                    <td>{{ contact.getLastName() }}</td>

                                                    {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                        <td>{{ contact.getMail() }}</td>
                                                    {% endif %}

                                                    {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                        <td>{{ contact.getPhone() }}</td>
                                                    {% endif %}
                                                    <td>
                                                        <div class="btn-toolbar">
                                                            <div class="btn-group">
                                                                <span class="btn btn-default add-contact-to-category "
                                                                      data-contact-id="{{ contact.getId() }}"
                                                                      data-toggle="tooltip"
                                                                      data-placement="left"
                                                                      title="{{ 'add_contact_to_category'|trans({}, 'platform') }}"
                                                                >
                                                                    <i class="fa fa-bars"></i>
                                                                </span>
                                                                <span class="btn btn-danger delete-contact"
                                                                      data-contact-id="{{ contact.getId() }}"
                                                                      data-toggle="tooltip"
                                                                      data-placement="left"
                                                                      title="{{ 'delete_contact'|trans({}, 'platform') }}"
                                                                >
                                                                    <i class="fa fa-times-circle"></i>
                                                                </span>
                                                            </div>
                                                            {% set menu = knp_menu_get('ClarolineCoreBundle:Builder:contactActionsMenu', [], {'user': contact} ) %}
                                                            {{ knp_menu_render(menu, {}, 'contact_additional_actions') }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>

                                    {% if contacts['all_my_contacts'].getNbPages() > 1 %}
                                        {{ renderAllMyContactsPager(contacts['all_my_contacts'], max, orderedBy, order) }}
                                    {% endif %}
                                {% else %}
                                    <div class="alert alert-warning">
                                        {{ 'no_contact'|trans({}, 'platform') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="panel-group" role="tablist" id="category-list-box">
                    {% for category in categories %}
                        {% set categoryId = category.getId() %}
                        <div class="panel panel-info category-element"
                             id="category-box-{{ categoryId }}"
                             style="overflow: visible"
                        >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#category-content-{{ categoryId }}"
                                       id="category-title-{{ categoryId }}"
                                    >
                                        {{ category.getName() }}
                                    </a>
                                    &nbsp;
                                    <span class="badge" id="category-badge-{{ categoryId }}">

                                        {% if contacts[categoryId] is defined %}
                                            {{ contacts[categoryId]|length }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </span>
                                    <span class="dropdown pull-right">
                                        <i class="fa fa-cogs pointer-hand"
                                           data-toggle="dropdown"
                                        >
                                        </i>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"
                                                class="add-user-to-category-btn"
                                                data-category-id="{{ categoryId }}"
                                            >
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <i class="fa fa-user-plus"></i>
                                                    {{ 'add_contacts'|trans({}, 'platform') }}
                                                </a>
                                            </li>
                                            <li role="presentation"
                                                class="category-edit-btn"
                                                data-category-id="{{ categoryId }}"
                                            >
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <i class="fa fa-edit"></i>
                                                    {{ 'rename'|trans({}, 'platform') }}
                                                </a>
                                            </li>
                                            <li role="presentation"
                                                class="category-delete-btn"
                                                data-category-id="{{ categoryId }}"
                                            >
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <i class="fa fa-times-circle"></i>
                                                    {{ 'delete'|trans({}, 'platform') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </span>
                                </h4>
                            </div>
                            <div id="category-content-{{ categoryId }}" class="panel-collapse collapse">
                                <div class="panel-body category-content-body"
                                     id="category-content-body-{{ categoryId }}"
                                     data-category-id="{{ categoryId }}"
                                >
                                    {% if contacts[categoryId]|length > 0 %}

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group margin-bottom-md pull-left">

                                                    {% if contacts[categoryId].getNbPages() > 1 %}
                                                        {{ renderCategoryContactsPager(contacts[categoryId], categoryId, max, orderedBy, order) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group pull-right" style="margin: 20px 0">
                                                    {{ maxResultsSelectBox(max, "$('#max-results-button').trigger('click');", 'contacts_per_page') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                        <th>{{ 'picture'|trans({}, 'platform') }}</th>
                                                    {% endif %}
                                                    <th>
                                                        <a href="{{ sortCategoryContactsUrl(categoryId, max, 'firstName', order)|trim }}">
                                                            {{ 'firstName'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a href="{{ sortCategoryContactsUrl(categoryId, max, 'lastName', order)|trim }}">
                                                            {{ 'lastName'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>

                                                    {% if options['show_username'] is not defined or options['show_username'] %}
                                                        <th>
                                                            <a href="{{ sortCategoryContactsUrl(categoryId, max, 'username', order)|trim }}">
                                                                {{ 'username'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}

                                                    {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                        <th>
                                                            <a href="{{ sortCategoryContactsUrl(categoryId, max, 'mail', order)|trim }}">
                                                                {{ 'mail'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}

                                                    {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                        <th>
                                                            <a href="{{ sortCategoryContactsUrl(categoryId, max, 'phone', order)|trim }}">
                                                                {{ 'phone'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}
                                                    <th>
                                                        {{ 'actions'|trans({}, 'platform') }}
                                                    </th>
                                                </tr>

                                                {% for contact in contacts[categoryId] %}
                                                    <tr class="contact-row-{{ contact.getId() }} contact-row-{{ categoryId }}-{{ contact.getId() }}"
                                                        data-category-id="{{ categoryId }}"
                                                    >
                                                        {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                            <td>
                                                                {% if contact.getPicture() != '' %}
                                                                    <img src="{{ asset('uploads/pictures/') ~  contact.getPicture() }}"
                                                                         class="profile_picture img-circle"
                                                                         alt="{{ contact.getLastName() ~ ' ' ~ contact.getFirstName() }}"
                                                                         width="50px"
                                                                         height="50px"
                                                                    >
                                                                {% else %}
                                                                    <h1 class="profile_picture_placeholder">
                                                                        <i class="fa fa-user"></i>
                                                                    </h1>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        <td>{{ contact.getFirstName() }}</td>
                                                        <td>{{ contact.getLastName() }}</td>

                                                        {% if options['show_username'] is not defined or options['show_username'] %}
                                                            <td>{{ contact.getUsername() }}</td>
                                                        {% endif %}

                                                        {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                            <td>{{ contact.getMail() }}</td>
                                                        {% endif %}

                                                        {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                            <td>{{ contact.getPhone() }}</td>
                                                        {% endif %}
                                                        <td>
                                                            <div class="btn-toolbar">
                                                                <div class="btn-group">
                                                                    <span class="btn btn-danger remove-contact"
                                                                          data-contact-id="{{ contact.getId() }}"
                                                                          data-category-id="{{ categoryId }}"
                                                                          data-toggle="tooltip"
                                                                          data-placement="left"
                                                                          title="{{ 'remove_contact_from_category'|trans({}, 'platform') }}"
                                                                    >
                                                                        <i class="fa fa-times-circle"></i>
                                                                    </span>
                                                                </div>
                                                                {% set menu = knp_menu_get('ClarolineCoreBundle:Builder:contactActionsMenu', [], {'user': contact} ) %}
                                                                {{ knp_menu_render(menu, {}, 'contact_additional_actions') }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>

                                        {% if contacts[categoryId].getNbPages() > 1 %}
                                            {{ renderCategoryContactsPager(contacts[categoryId], categoryId, max, orderedBy, order) }}
                                        {% endif %}
                                    {% else %}
                                        <div class="alert alert-warning">
                                            {{ 'no_contact'|trans({}, 'platform') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>

                {% if options['show_all_visible_users'] is not defined or options['show_all_visible_users'] %}
                    <div id="all-visible-users-box">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#all-visible-users-content">
                                        {{ 'all_visible_users'|trans({}, 'platform') }}
                                    </a>
                                    &nbsp;
                                    <span class="badge" id="all-visible-users-badge">
                                        {{ users|length }}
                                    </span>
                                </h4>
                            </div>
                            <div id="all-visible-users-content" class="panel-collapse collapse">
                                <div class="panel-body" id="all-visible-users-content-body">

                                    {% if users|length > 0 %}

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group margin-bottom-md pull-left">
                                                    {% if users.getNbPages() > 1 %}
                                                        {{ renderAllVisibleUsersPager(users, max, orderedBy, order) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group pull-right" style="margin: 20px 0">
                                                    {{ maxResultsSelectBox(max, "$('#max-results-button').trigger('click');", 'users_per_page') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                        <th>{{ 'picture'|trans({}, 'platform') }}</th>
                                                    {% endif %}
                                                    <th>
                                                        <a href="{{ sortAllVisibleUsersUrl(max, 'firstName', order)|trim }}">
                                                            {{ 'firstName'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a href="{{ sortAllVisibleUsersUrl(max, 'lastName', order)|trim }}">
                                                            {{ 'lastName'|trans({}, 'platform') }}
                                                        </a>
                                                    </th>

                                                    {% if options['show_username'] is not defined or options['show_username'] %}
                                                        <th>
                                                            <a href="{{ sortAllVisibleUsersUrl(max, 'username', order)|trim }}">
                                                                {{ 'username'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}

                                                    {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                        <th>
                                                            <a href="{{ sortAllVisibleUsersUrl(max, 'mail', order)|trim }}">
                                                                {{ 'mail'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}

                                                    {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                        <th>
                                                            <a href="{{ sortAllVisibleUsersUrl(max, 'phone', order)|trim }}">
                                                                {{ 'phone'|trans({}, 'platform') }}
                                                            </a>
                                                        </th>
                                                    {% endif %}
                                                    <th>
                                                        {{ 'actions'|trans({}, 'platform') }}
                                                    </th>
                                                </tr>

                                                {% for user in users %}
                                                    <tr>
                                                        {% if options['show_picture'] is not defined or options['show_picture'] %}
                                                            <td>
                                                                {% if user.getPicture() != '' %}
                                                                    <img src="{{ asset('uploads/pictures/') ~  user.getPicture() }}"
                                                                         class="profile_picture img-circle"
                                                                         alt="{{ user.getLastName() ~ ' ' ~ user.getFirstName() }}"
                                                                         width="50px"
                                                                         height="50px"
                                                                    >
                                                                {% else %}
                                                                    <h1 class="profile_picture_placeholder">
                                                                        <i class="fa fa-user"></i>
                                                                    </h1>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        <td>{{ user.getFirstName() }}</td>
                                                        <td>{{ user.getLastName() }}</td>

                                                        {% if options['show_username'] is not defined or options['show_username'] %}
                                                            <td>{{ user.getUsername() }}</td>
                                                        {% endif %}

                                                        {% if options['show_mail'] is not defined or options['show_mail'] %}
                                                            <td>{{ user.getMail() }}</td>
                                                        {% endif %}

                                                        {% if options['show_phone'] is not defined or options['show_phone'] %}
                                                            <td>{{ user.getPhone() }}</td>
                                                        {% endif %}
                                                        <td>
                                                            <div class="btn-toolbar">
                                                                {% set menu = knp_menu_get('ClarolineCoreBundle:Builder:contactActionsMenu', [], {'user': user} ) %}
                                                                {{ knp_menu_render(menu, {}, 'contact_additional_actions') }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>

                                        {% if users.getNbPages() > 1 %}
                                            {{ renderAllVisibleUsersPager(users, max, orderedBy, order) }}
                                        {% endif %}
                                    {% else %}
                                        <div class="alert alert-warning">
                                            {{ 'no_user'|trans({}, 'platform') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div id="searched-contacts">

                    {% if contacts|length > 0 %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group margin-bottom-md pull-left">
                                    {% if contacts.getNbPages() > 1 %}
                                        {{ renderSearchedContactsPager(contacts, search, max, orderedBy, order) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group pull-right" style="margin: 20px 0">
                                    {{ maxResultsSelectBox(max, "$('#max-results-button').trigger('click');", 'contacts_per_page') }}
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    {% if options['show_picture'] is not defined or options['show_picture'] %}
                                        <th>{{ 'picture'|trans({}, 'platform') }}</th>
                                    {% endif %}
                                    <th>
                                        <a href="{{ sortSearchedContactsUrl(search, max, 'firstName', order)|trim }}">
                                            {{ 'firstName'|trans({}, 'platform') }}
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ sortSearchedContactsUrl(search, max, 'lastName', order)|trim }}">
                                            {{ 'lastName'|trans({}, 'platform') }}
                                        </a>
                                    </th>

                                    {% if options['show_username'] is not defined or options['show_username'] %}
                                        <th>
                                            <a href="{{ sortSearchedContactsUrl(search, max, 'username', order)|trim }}">
                                                {{ 'username'|trans({}, 'platform') }}
                                            </a>
                                        </th>
                                    {% endif %}

                                    {% if options['show_mail'] is not defined or options['show_mail'] %}
                                        <th>
                                            <a href="{{ sortSearchedContactsUrl(search, max, 'mail', order)|trim }}">
                                                {{ 'mail'|trans({}, 'platform') }}
                                            </a>
                                        </th>
                                    {% endif %}

                                    {% if options['show_phone'] is not defined or options['show_phone'] %}
                                        <th>
                                            <a href="{{ sortSearchedContactsUrl(search, max, 'phone', order)|trim }}">
                                                {{ 'phone'|trans({}, 'platform') }}
                                            </a>
                                        </th>
                                    {% endif %}
                                    <th>
                                        {{ 'actions'|trans({}, 'platform') }}
                                    </th>
                                </tr>

                                {% for contact in contacts %}
                                    <tr class="contact-row-{{ contact.getId() }}">
                                        {% if options['show_picture'] is not defined or options['show_picture'] %}
                                            <td>
                                                {% if contact.getPicture() != '' %}
                                                    <img src="{{ asset('uploads/pictures/') ~  contact.getPicture() }}"
                                                         class="profile_picture img-circle"
                                                         alt="{{ contact.getLastName() ~ ' ' ~ contact.getFirstName() }}"
                                                         width="50px"
                                                         height="50px"
                                                    >
                                                {% else %}
                                                    <h1 class="profile_picture_placeholder">
                                                        <i class="fa fa-user"></i>
                                                    </h1>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>{{ contact.getFirstName() }}</td>
                                        <td>{{ contact.getLastName() }}</td>

                                        {% if options['show_username'] is not defined or options['show_username'] %}
                                            <td>{{ contact.getUsername() }}</td>
                                        {% endif %}

                                        {% if options['show_mail'] is not defined or options['show_mail'] %}
                                            <td>{{ contact.getMail() }}</td>
                                        {% endif %}

                                        {% if options['show_phone'] is not defined or options['show_phone'] %}
                                            <td>{{ contact.getPhone() }}</td>
                                        {% endif %}
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <span class="btn btn-default add-contact-to-category "
                                                          data-contact-id="{{ contact.getId() }}"
                                                          data-toggle="tooltip"
                                                          data-placement="left"
                                                          title="{{ 'add_contact_to_category'|trans({}, 'platform') }}"
                                                    >
                                                        <i class="fa fa-bars"></i>
                                                    </span>
                                                    <span class="btn btn-danger delete-contact"
                                                          data-contact-id="{{ contact.getId() }}"
                                                          data-toggle="tooltip"
                                                          data-placement="left"
                                                          title="{{ 'delete_contact'|trans({}, 'platform') }}"
                                                    >
                                                        <i class="fa fa-times-circle"></i>
                                                    </span>
                                                </div>
                                                {% set menu = knp_menu_get('ClarolineCoreBundle:Builder:contactActionsMenu', [], {'user': contact} ) %}
                                                {{ knp_menu_render(menu, {}, 'contact_additional_actions') }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        {% if contacts.getNbPages() > 1 %}
                            {{ renderSearchedContactsPager(contacts, search, max, orderedBy, order) }}
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'no_contact'|trans({}, 'platform') }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="contacts-datas-box"
         data-search="{{ search }}"
         data-max="{{ max }}"
         data-ordered-by="{{ orderedBy }}"
         data-order="{{ order }}"
         data-contacts-id="{% for u in allContacts %}{{ u.getId() }}{% if not loop.last %},{% endif %}{% endfor %}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/contact/myContactsToolIndex.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}
