{% macro renderPager(search, workspaceId, withUnregistered, queryString, pager) %}
    {% if search == '' %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_workspace_unregistered_user_list',
                    'routeParams': {'workspace': workspaceId}
                }
            )
        }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_workspace_unregistered_user_list_search',
                    'routeParams': {'search': search, 'workspace': workspaceId}
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}

{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "users_registration_in_workspace" | trans({}, "platform") }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'users'|trans({}, 'platform'),
                    'href': path('claro_workspace_registered_user_list', {'workspace': workspace.getId()})
                },
                {
                    'name': 'users_registration_in_workspace'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('claro_workspace_registered_user_list', {'workspace': workspace.getId()}) }}"> {{'users'|trans({}, 'platform') }} </a> </li>
            <li><a href="{{ path('claro_workspace_registered_group_list', {'workspace': workspace.getId() })~'?'~queryString }}"> {{'groups'|trans({}, 'platform') }} </a></li>
            <li><a href="{{ path('claro_workspace_roles', {'workspace': workspace.getId()} ) }}">{{ 'roles'|trans({}, 'platform') }}</a></li>
        </ul>

        <div class="row">
            <div class="col-md-6">
                <div class="btn-group  margin-md">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ 'roles'|trans({}, 'platform') }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" >
                            {% for role in wsRoles %}
                                <li>
                                &nbsp;<input
                                class="chk-role chk-item"
                                type="checkbox"
                                value="{{ role.getId() }}"
                                data-name="{{ role.getTranslationKey()|trans({}, 'platform') }}"
                                {% for toCheck in roles %}
                                    {% if toCheck.getId() == role.getId() %}
                                        checked
                                    {% endif %}
                                {% endfor %}
                                > {{ role.getTranslationKey()|trans({}, 'platform') }}
                                </input>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button id="add-role-button" class="btn btn-default">
                        <i class="icon-plus"></i> {{ 'add'|trans({}, 'platform' ) }}
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group margin-md">
                    <input class="form-control" type="text" id="search-items-txt"  placeholder="{{ 'search'|trans({}, 'platform') }}" value="{{ search }}">
                    <span class="input-group-btn">
                        <button class="filter btn btn-default" type="button" id="search-button">
                            <i class="icon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        {{ macros.flashBox() }}

        <div>
            <div id="custom-flashbag-div" class="alert alert-success hide">
                <a id="flashbag-close-button" class="close" href="#">×</a>
                <ul id="custom-flashbag-ul">
                </ul>
            </div>
        </div>
        <h3>{{ 'users_registration_in_workspace'|trans({}, 'platform') }}</h3>
        {{ renderPager(search, workspace.getId(), withUnregistered, queryString, pager) }}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td></td>
                        <td>{{ 'name'|trans({}, 'platform') }}</td>
                        <td>{{ 'roles'|trans({}, 'platform') }}</td>
                    </tr>
                </thead>
                <tbody id="user-table-body">
                    {% for user in pager.currentPageResults %}
                        <tr id="row-{{ user.id }}" class="row-user" data-user-id="{{ user.getId() }}">
                            <td> <input class="chk-user" type="checkbox" value="{{ user.getId() }}"> </input></td>
                            <td class="popover-block"
                                data-trigger="hover"
                                data-content="{% render controller('ClarolineCoreBundle:User:renderPopover', {'user': user}) %}"
                                data-container="td"
                                data-placement="top"
                                data-html="true"
                                >
                                {{ user.lastname }} {{ user.firstname }}
                            </td>
                            <td>
                                {% for role in user.getEntityRoles() %}
                                    {% if role.getWorkspace() == workspace %}
                                        <span class="label label-success" id="label-{{ role.getId () }}-{{ user.getId()}}">
                                            {{ role.getTranslationKey()|trans({}, 'platform') }}
                                        </span>
                                    {% endif %}
                                {% endfor %}

                                {% set groups = user.getGroups() %}
                                    {% for group in groups %}
                                    {% for role in group.getEntityRoles() %}
                                        {% if role.getWorkspace() == workspace %}
                                            <span title="{{ group.getName() }}" class="label label-default" id="label-{{ role.getId () }}-{{ user.getId()}}">
                                                {{ role.getTranslationKey()|trans({}, 'platform') }}
                                            </span>

                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ renderPager(search, workspace.getId(), withUnregistered, queryString, pager) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    vars=["locale"]
    "@ClarolineCoreBundle/Resources/views/ConfirmationMessage/confirmAddRole.html.twigjs"
    "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
    "@ClarolineCoreBundle/Resources/views/Modal/validationFooter.html.twigjs"
    filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        createValidationBox();

        $('#search-button').click(function () {
            var search = document.getElementById('search-items-txt').value;
            var queryString = {};
            var i = 0;
            var array = [];
            $('.chk-search:checked').each(function (index, element) {
                array[i] = element.value;
                i++;
            });
            queryString.roleIds = array;

            if (search !== '') {
                var route = Routing.generate('claro_workspace_unregistered_user_list_search', {'workspace': {{ workspace.getId }}, 'search': search });
                } else {
                var route = Routing.generate('claro_workspace_unregistered_user_list', {'workspace': {{ workspace.getId }} });
            }

            route += '?' + $.param(queryString);
            window.location.href = route;
        });

        $('#add-role-button').on('click', function (event) {

            var roles = [];
            var i = 0;
            $('.chk-role:checked').each(function (index, element) {
                roles[i] = $(element).attr('data-name');
                i++;
            });

            var html = Twig.render(confirmAddRole,
                    {'nbItems': $('.chk-user:checked').length, 'roles': roles}
            );
            $('#table-modal .modal-body').html(html);
            $('#table-modal').modal('show');
        });

        $('#modal-valid-button').on('click', function () {
            var i = 0;
            var queryString = {};
            var array = [];
            $('.chk-user:checked').each(function (index, element) {
                array[i] = element.value;
                i++;
            });
            queryString.userIds = array;

            var i = 0;
            var array = [];
            $('.chk-role:checked').each(function (index, element) {
                array[i] = element.value;
                i++;
            });
            queryString.roleIds = array;

            var route = Routing.generate('claro_workspace_add_roles_to_users', {'workspace': {{ workspace.getId() }} });
            route += '?' + $.param(queryString);

            $.ajax({
                url:route,
                success: function() {
                    var flashbag = $('#custom-flashbag-ul');
                    flashbag.append('<li>' + Translator.get('platform:operation_done') + '</li>');
                    $('#custom-flashbag-div').removeClass('hide');
                }
            });
            $('#table-modal').modal('hide');
            $('.modal-body').empty();
        });

        function createValidationBox() {
            var html = Twig.render(
                ModalWindow,
                {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'table-modal', 'body': ''}
            );
            $('body').append(html);
        }

        $('#flashbag-close-button').click(function () {
            $(this).parent().addClass('hide');
            $('#custom-flashbag-ul').empty();
        });
    </script>
{% endblock %}
