{% macro renderPager(search, workspaceId, withUnregistered, queryString, pager) %}
    {% if search == '' %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_workspace_registered_group_list',
                    'routeParams': {'workspace': workspaceId}
                }
            )
        }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_workspace_registered_group_list_search',
                    'routeParams': {'search': search, 'workspace': workspaceId}
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}

{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "groups_list" | trans({}, "platform") }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'groups'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}


{% block section_content %}
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li> <a href="{{ path('claro_workspace_registered_user_list', {'workspace': workspace.getId() }) }}"> {{'users'|trans({}, 'platform') }} </a> </li>
            <li class="active"> <a href="{{ path('claro_workspace_registered_group_list', {'workspace': workspace.getId()}) }}"> {{'groups'|trans({}, 'platform') }} </a> </li>
            <li> <a href="{{ path('claro_workspace_roles', {'workspace': workspace.getId()} ) }}">{{ 'roles'|trans({}, 'platform') }}</a> </li>
        </ul>

        <div class="row">
            <div class="col-md-6">
                <div class="btn-group margin-md">
                    <a href="{{ path('claro_workspace_unregistered_group_list', {'workspace': workspace.getId()}) }}" class="btn btn-default dropdown-toggle">
                        <i class="icon-plus"></i> {{ 'add_groups' | trans({}, 'platform') }}
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group margin-md">
                    <input class="form-control" type="text" id="search-items-txt"  placeholder="{{ 'search'|trans({}, 'platform') }}" value="{{ search }}">
                    <span class="input-group-btn">
                        <button class="filter btn btn-default" type="button" id="search-button">
                            <i class="icon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        {{ macros.flashBox() }}
        <h3>{{ 'groups_list' | trans({}, 'platform') }}</h3>
        {{ renderPager(search, workspace.getId(), withUnregistered, queryString, pager) }}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td></td>
                        <td>{{ 'name'|trans({}, 'platform') }}</td>
                        <td>{{ 'role'|trans({}, 'platform') }}</td>
                    </tr>
                </thead>
                <tbody id="user-table-body">
                    {% for group in pager.currentPageResults %}
                        <tr id="row-{{ group.id }}" class="row-group" data-group-id="{{ group.getId() }}">
                            <td> <input class="chk-grp" type="checkbox" value="{{ group.getId() }}"> </input></td>
                            <td>  <a href="{{ path('claro_workspace_users_of_group', {'workspace': workspace.getId(), 'group': group.getId() }) }}"> {{ group.name }} </a> </td>
                            <td>
                                {% for role in group.getEntityRoles() %}
                                    {% if role.getWorkspace() == workspace %}
                                        <span class="label label-success" id="label-{{ role.getId () }}-{{ group.getId()}}">
                                            {{ role.getTranslationKey()|trans({}, 'platform') }}
                                            <i class="icon-remove-sign pointer-hand remove-role-button"
                                                href="{{ path('claro_workspace_remove_role_from_group', {'workspace': workspace.getId(), 'group': group.getId(), 'role': role.getId() } ) }}"
                                                >
                                            </i>
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ renderPager(search, workspace.getId(), withUnregistered, queryString, pager) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    vars=["locale"]
    "@ClarolineCoreBundle/Resources/views/Tool/workspace/roles/roleGroupLabel.html.twigjs"
    "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
    filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('.popover-block').popover();
        $('.remove-role-button').live('click', function (event) {
            var target = $(event.currentTarget);
            var route = target.attr('href');
            $.ajax({
                url: route,
                type: 'DELETE',
                success: function() {
                    target.parent().remove();
                }
            });
        });

        $('#search-button').click(function () {
            var search = document.getElementById('search-items-txt').value;
            var queryString = {};
            var i = 0;
            var array = [];
            $('.chk-search:checked').each(function (index, element) {
                array[i] = element.value;
                i++;
            });
            queryString.roleIds = array;

            if (search !== '') {
                var route = Routing.generate('claro_workspace_registered_group_list_search', {'workspace': {{ workspace.getId }}, 'search': search });
                } else {
                var route = Routing.generate('claro_workspace_registered_group_list', {'workspace': {{ workspace.getId }} });
            }

            route += '?' + $.param(queryString);
            window.location.href = route;
        });

    </script>
{% endblock %}
