<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Formula Editor</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/icapformulaplugin/css/formula-editor-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/icapformulaplugin/css/formula-editor.css') }}">
    </head>

    <body id="fm-editor-body">
        <script type="text/javascript">
          window.assetPath = "{{ app.request.getBasePath() }}";
        </script>
        <script type="text/javascript" src="{{ asset('packages/mathjax/MathJax.js?config=TeX-AMS-MML_SVG') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapformulaplugin/js/build/formula-all.min.js') }}"></script>
        <script type="text/javascript">
          window.onload = function () {
            window.parameters = Url.get;
            window.EditorObj = new Editor(window.actions, window.panels, parameters);
            window.getData = function (callback) {
              EditorObj.getEquationPng(callback);
            };
          }
        </script>
    </body>
</html>
