{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Dashboard styles #}
    {% stylesheets debug = false filter = 'less, cssmin' output = 'vendor/claroline/claro-dashboard.css'
    '@ClarolineDashboardBundle/Resources/less/main.less'
 %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
                    {
                        'name': 'dashboards'|trans({}, 'tools'),
                        'href': ''
                    }
                ])
    }}
{% endblock %}

{% block title %}
    {{ parent() ~ ' - ' ~ "dashboards" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{% block section_content %}
    {# Initialize AngularJS application #}
    <div class="dashboard-app-container" data-ng-app="DashboardApp" data-ng-cloak="">
        <div class="dashboard-app-views" ng-view>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'dashboard' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'tools' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'platform' }) }}"></script>
    {# app #}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-dashboard-app.js') }}"></script>
{% endblock %}
