{% extends "InnovaCollecticielBundle:Dropzone:edit.html.twig" %}

{% block drop_zone_content_edit %}
    <h3>
    {{ "fdfsfdsfdsfsfsf"}}
        {% if criterion.id == 0 %}
            {{ 'Add a criterion'|trans({}, 'innova_collecticiel') }}
        {% else %}
            {{ 'Edit a criterion'|trans({}, 'innova_collecticiel') }}
        {% endif %}
    </h3>
    {% include "InnovaCollecticielBundle:Criterion:editAddCriterionForm.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}