{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

<style type="text/css">
    #form_log_update_workspace_widget .control-group {
        margin-bottom: 0px;
    }

    #form_log_update_workspace_widget .control-group:last-child {
        margin-top: 40px;
        margin-bottom: 20px;
    }
</style>

<form
    id="form_log_update_workspace_widget"
    method="POST"
    action="{{ path('claro_log_update_workspace_widget_config', {'isDefault': isDefault, 'workspaceId': workspace.id, 'redirectToHome': app.request.isXMLHttpRequest ? 1 : 0}) }}"
    class="form-horizontal"
    {{ form_enctype(form) }}>

    <div class="panel-body">
        {% if not isDefault %}
            <legend>{{ 'Choose visible actions in the widget'|trans({}, 'platform') }}</legend>
        {% endif %}

        {{ form_widget(form._token) }}
        {{ form_widget(form) }}
        {{ macros.flashBox() }}
    </div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        {% if workspace is defined and workspace != null %}
            <a href="{{ path('claro_workspace_widget_properties', {'workspace': workspace.id}) }}">
        {% else %}
            <a href="{{ path('claro_admin_widgets') }}">
        {% endif %}
            <button type="button" class="btn btn-default claro-widget-form-cancel">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>
