{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

<style type="text/css">
    #form_log_update_workspace_widget .control-group {
        margin-bottom: 0px;
    }

    #form_log_update_workspace_widget .control-group:last-child {
        margin-top: 40px;
        margin-bottom: 20px;
    }
</style>

<form id="form_log_update_workspace_widget" method="POST" action="{{ path('claro_log_update_workspace_widget_config', {'workspaceId': workspace.id}) }}" class="form-horizontal" {{ form_enctype(form) }}>
    <fieldset>
        <legend>{{ 'Choose visible actions in the widget'|trans({}, 'platform') }}</legend>
        {{ form_widget(form._token) }}
        {{ form_widget(form) }}
    </fieldset>

    {{ macros.flashBox() }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_workspace_widget_properties', {'workspace': workspace.id}) }}">
            <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>