{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

<style type="text/css">
    #form_log_update_desktop_widget .control-group {
        margin-bottom: 0px;
    }

    #form_log_update_desktop_widget .control-group:last-child {
        margin-top: 40px;
        margin-bottom: 20px;
    }
</style>

<legend>{{ 'Choose workspaces displayed in the widget'|trans({}, 'platform') }}</legend>
<form id="form_log_update_desktop_widget"
    method="POST"
    action="{{ path('claro_log_update_desktop_widget_config', {'redirectToHome': app.request.isXMLHttpRequest ? 1 : 0})}}"
    class="form-horizontal"
    {{ form_enctype(form) }}>
    <fieldset>
        {{ form_widget(form._token) }}
        {{ form_widget(form) }}
    </fieldset>

    {{ macros.flashBox() }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_desktop_widget_properties') }}">
            <button type="button" class="btn claro-widget-form-cancel">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>