{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

<form method="POST" action="{{ path('claro_log_update_workspace_widget_config', {'workspaceId': workspace.id}) }}" class="form-horizontal" {{ form_enctype(form) }}>
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_workspace_widget_properties', {'workspace': workspace.id}) }}">
            <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>