<div class="panel-heading">
    <h3 class="panel-title">{{ 'admin_logs'|trans({}, 'platform') }}</h3>
</div>
<div class="panel-body logs-container">
    <div>
        <legend>
            {{ 'Filter actions'|trans({}, 'platform') }}
        </legend>

        <form id="logFilter" action="{{ filterFormAction }}" method="GET" class="form-inline" role="form">
            {{ form_errors(filterForm) }}

            <div class="form-group col-md-12">
                {{ form_label(filterForm.action) }}
                {{ form_errors(filterForm.action) }}
                <div class="col-md-12">
                    {{ form_widget(filterForm.action) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                {{ form_label(filterForm.range) }}
                {{ form_errors(filterForm.range) }}
                <div class="col-md-3">
                    {{ form_widget(filterForm.range) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                {{ form_label(filterForm.user) }}
                {{ form_errors(filterForm.user) }}
                <div class="col-md-6">
                    {{ form_widget(filterForm.user) }}
                </div>
            </div>

            {{ form_rest(filterForm) }}
            <input type="submit" value="{{ 'log_filter_actions'|trans({}, 'log') }}" class="btn btn-primary"/>
        </form>
        <br/><br/>
    </div>
    {% if 0 < pager.nbResults %}

    {% include 'ClarolineCoreBundle:Log:count_by_day_chart.html.twig' %}

    <br/><br/>

    <legend>
        {{ 'Action List'|trans({}, 'platform') }}
    </legend>

    <div class="text-center">
        {% if pager.haveToPaginate %}
            {{ pagination }}
        {% endif %}
    </div>

    {% include 'ClarolineCoreBundle:Log:view_list.html.twig' with {'logs': pager.currentPageResults} %}

    <div class="text-center">
        {% if pager.haveToPaginate %}
            {{ pagination }}
        {% endif %}
    </div>
    {% else %}
        {{ 'log_no_actions_found'|trans({}, 'log') }}.
    {% endif %}
</div>
