<div class="panel-heading">
    <h3 class="panel-title">{{ 'admin_logs'|trans({}, 'platform') }}</h3>
</div>
<div class="panel-body logs-container">
    <div>
        <style type="text/css">
            #logFilter.form-inline div {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                margin-bottom: 5px;
                margin-top: 5px;
                margin-right: 10px;
            }
        </style>

        <legend>
            {{ 'Filter actions'|trans({}, 'platform') }}
        </legend>

        <form id="logFilter" action="{{ filterFormAction }}" method="GET" class="form-inline">
            {{ form_widget(filterForm) }}
            <input type="submit" value="{{ 'log_filter_actions'|trans({}, 'log') }}" class="btn btn-primary"/>
        </form>
        <br/><br/>
    </div>
    {% if 0 < pager.nbResults %}

    {% include 'ClarolineCoreBundle:Log:count_by_day_chart.html.twig' %}

    <br/><br/>

    <legend>
        {{ 'Action List'|trans({}, 'platform') }}
    </legend>

    <div class="text-center">
        {% if pager.haveToPaginate %}
            {{ pagination }}
        {% endif %}
    </div>

    {% include 'ClarolineCoreBundle:Log:view_list.html.twig' with {'logs': pager.currentPageResults} %}

    <div class="text-center">
        {% if pager.haveToPaginate %}
            {{ pagination }}
        {% endif %}
    </div>
    {% else %}
        {{ 'log_no_actions_found'|trans({}, 'log') }}.
    {% endif %}
</div>
