{% if log.getDetails().role.change_set is defined  and log.getDetails().role.change_set|length > 0 %}
    <div>
        <h4>{{ ('log_change_set')|trans({}, 'platform') }}</h4>
        <h5>{{ ('log_old_values')|trans({}, 'platform') }}</h4>
        <dl class="dl-horizontal">
            {% for key, values in log.getDetails().role.change_set %}
                <dt>{{ key|caml_case_to_underscore|trans({}, 'platform') }}</dt>
                <dd>
                    {% if values[0] %}
                        {{ ('yes')|trans({}, 'platform') }}
                    {% else %}
                        {{ ('no')|trans({}, 'platform') }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
        <h5>{{ ('log_new_values')|trans({}, 'platform') }}</h4>
        <dl class="dl-horizontal">
            {% for key, values in log.getDetails().role.change_set %}
                <dt>{{ key|caml_case_to_underscore|trans({}, 'platform') }}</dt>
                <dd>
                    {% if values[1] %}
                        {{ ('yes')|trans({}, 'platform') }}
                    {% else %}
                        {{ ('no')|trans({}, 'platform') }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}