{% if log.getDetails().receiver_user is defined %}
    <h4>{{ ('log_receiver_user')|trans({}, 'platform') }}</h4>

    {% if log.getReceiver() and log.getDoer() and log.getReceiver().getId() == log.getDoer().getId() %}
        <dl class="dl-horizontal">
            <dt>{{ ('log_himself')|trans({}, 'platform') }}</dt>
        </dl>
    {% else %}
        <dl class="dl-horizontal">
            <dt>{{ ('last_name')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().receiver_user.first_name }}</dd>
            <dt>{{ ('first_name')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().receiver_user.last_name }}</dd>
        </dl>
    {% endif %}
{% endif %}