{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block section_panel %}
    <div id="desktop-home-panel" data-ng-app="DesktopHomeModule">
        <div class="panel-body" data-ui-view=""></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='less, cssmin' output='css/clarolinecore/hometabs.css'
        "@ClarolineCoreBundle/Resources/less/home-tabs.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('packages/angular-bootstrap-colorpicker/css/colorpicker.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('packages/angular-gridster/dist/angular-gridster.min.css')}}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.tabId = {{ tabId }}
    </script>
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-desktop-home.js') }}"></script>
    <script src="{{ asset('packages/angular-gridster/dist/angular-gridster.min.js') }}"></script>
{% endblock %}
