{% macro ngrow(fields, isApiConfigured)%}
    {% for field in fields %}
        <div class="form-group row ng-hide" data-ng-show="{{ isApiConfigured ? 'false':'true' }} || {{ field[1] ? 'true':'false' }} || vm.enterDataManually">
            {{ form_label(field[0]) }}
            <div class="col-md-9">{{ form_widget(field[0]) }}</div>
            {{ form_errors(field[0]) }}
        </div>
    {%  endfor %}
{% endmacro %}
{% import _self as forms %}

{% stylesheets debug=false filter='less, cssmin' output='css/icapbibliography/style.css'
'@IcapBibliographyBundle/Resources/views/less/style.less'
%}
<link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" />
<link rel="stylesheet" href="{{ asset_url }}" media="screen" />
{% endstylesheets %}

<div class='modal-dialog' id="icap-bibliography-modal">
    <form role="form" novalidate="novalidate" name="bibliographyForm"
          action="{{ path('claro_resource_create', {'resourceType':resourceType, 'parentId':'_nodeId'}) }}"
          method="post" {{ form_enctype(form) }}
          id="generic-form"
          novalidate
          class="modal-content">
        <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ 'create_resource' | trans({}, 'platform') }} ({{ resourceType | trans({}, 'resource') }})</h4>
        </div>
        <div class='modal-body' data-ng-controller="bibliographyController as vm">

            {% verbatim %}
            <uib-alert
                data-ng-repeat="message in vm.messages"
                type="{{ message.type }}"
                close="vm.closeMessage($index + $index * 10)"
                dismiss-on-timeout="{{ vm.dismissTimeOut }}">
                {{message.msg}}
            </uib-alert>
            {% endverbatim %}

            {{ forms.ngrow([
                [form.name, true],
                [form.isbn, true],
                [form.author, true],
                [form.description, false],
                [form.abstract, false],
                [form.publisher, false],
                [form.printer, false],
                [form.publicationYear, false],
                [form.language, false],
                [form.pageCount, false],
                [form.url, false],
                [form.coverUrl, false]
            ], isApiConfigured) }}

            <div class="" data-ng-hide="{{ isApiConfigured ? 'false':'true' }} || vm.searchFromApi || vm.enterDataManually">
                {{ 'add_more_info'|trans({}, 'icap_bibliography') }}
                <div style="display: inline-block;"
                     uib-tooltip="{{ 'use_at_least_one_field'|trans({}, 'icap_bibliography') }}"
                     tooltip-placement="bottom"
                     tooltip-enable="!vm.bookReference.title && !vm.bookReference.isbn && !vm.bookReference.author">
                    <button type="button"

                        class="btn btn-default"
                        data-ng-click="vm.search(bibliographyForm)"
                        data-ng-if="!vm.enterDataManually"
                        data-ng-disabled="!vm.bookReference.title && !vm.bookReference.isbn && !vm.bookReference.author">{{ 'fetch_from_api'|trans({}, 'icap_bibliography') }}</button>
                </div>
                    <button type="button"
                        id="manual-entry"
                        class="btn btn-default"
                        data-ng-if="!vm.searchFromApi"
                        data-ng-click="vm.enterData()">{{ 'manual_entry'|trans({}, 'icap_bibliography') }}</button>
            </div>

            <div data-ng-if="vm.searchFromApi && vm.searchResults !== null && vm.searchResults.length == 0">{{ 'no_result'|trans({}, 'icap_bibliography') }}</div>
            <div data-ng-if="vm.searchFromApi && vm.searchResults === null">{{ 'search_in_progress'|trans({}, 'icap_bibliography') }}</div>
            <table data-ng-if="vm.searchFromApi && vm.searchResults.length > 0">
                <thead>
                    <tr>
                        <th>{{ 'title'|trans({}, 'platform') }}</th>
                        <th>{{ 'author'|trans({}, 'platform') }}</th>
                        <th>{{ 'isbn'|trans({}, 'platform') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr data-ng-repeat="book in vm.searchResults">
                        {% verbatim %}
                        <td>{{ book.title }}</td>
                        <td><span data-ng-repeat="author in book.author_data">{{ author.name }}</span></td>
                        <td>{{ book.isbn13 }}</td>
                        {% endverbatim %}
                        <td><button type="button" data-ng-click="vm.selectBook(book)">{{ 'select'|trans({}, 'icap_bibliography') }}</button></td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination
                    data-ng-if="vm.searchResults.totalItems > 10"
                    total-items="vm.searchResults.totalItems"
                    items-per-page="10"
                    ng-model="vm.currentPage"
                    ng-change="vm.search(vm.currentPage)"
                    previous-text="← {{ 'previous'|trans({}, 'platform') }}"
                    next-text="{{ 'next'|trans({}, 'platform') }} →"
                ></ul>

            {{ form_rest(form) }}

            {% verbatim %}
    {% endverbatim %}
        </div>

        <div class="modal-footer">{{ 'save_book_reference'|trans({}, 'icap_bibliography') }}
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        </div>
    </form>
</div>

{% block javascripts %}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-bibliography-list.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'icap_bibliography' }) }}"></script>
{% endblock %}


