{% extends "ClarolineCoreBundle:WorkspaceTag:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ "workspace.create" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'creation'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="page-header">
        <h1>{{ 'import'|trans({}, 'platform') }}</h1>
    </div>
    {{ macros.flashBox() }}
    <form role="form" class="form-horizontal panel panel-default" id="ws_import_form" action="{{ path('claro_workspace_import') }}" method="post" {{ form_enctype(form) }}>
        <div class="panel-body">
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.workspace) }}

            <div class="text-right margin-bottom-md">
                <a data-toggle="collapse" href="#advanced-parameters">
                    {{ 'advanced_parameters'|trans({}, 'platform') }}
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>

            <div id="advanced-parameters" class="collapse">
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a class="btn btn-default" href="{{ path('claro_workspace_list') }}" role="button">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
