{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{# Checks if we need to hide the breadcrumb #}
{% if workspace is defined and
    workspace is not null and
    workspace.getOptions() is not empty and
    workspace.getOptions().getDetails() is not empty and
    workspace.getOptions().getDetails()['hide_breadcrumb'] is defined and
    workspace.getOptions().getDetails()['hide_breadcrumb']
%}
    {% set hideBreadcrumb = true %}
{% endif %}

{% block claroline_danger %}
    {{ parent() }}

    {% if workspace is defined and not is_date_access_valid(workspace) %}
        <div class="label label-danger">
            {{ 'workspace_access_date_invalid'|trans({}, 'platform') }}
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ workspace.name }}
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumb is defined %}
        {{ breadcrumb }}
    {% endif %}
{% endblock %}

{% block leftbar %}
    {% if workspace is defined and workspace != null and is_granted('OPEN', workspace) %}
        {{ render(controller("ClarolineCoreBundle:Workspace:renderToolbar", {workspace: workspace, request: app.request})) }}
    {% endif %}
{% endblock %}

{% block content %}
    {# @deprecated block : will be removed ASAP #}
    {% block section_panel %}
        <div class="panel panel-default">
            {# @deprecated block : will be removed ASAP #}
            {% block section_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Workspace toolbar #}
    <script src="{{ hotAsset('claroline-distribution-main-core-workspace-toolbar') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if workspace is defined and workspace is not null and workspace.backgroundColor is not null %}
    <style type="text/css">
        body {
            background-color: {{ workspace.getOptions().getDetails()['background_color'] }};
        }
    </style>
    {% endif %}
{% endblock %}
