{% macro showTag(tagsList, tagWorkspaces, hierarchy, index, displayable, favourites) %}
{% for tag in tagsList %}
    {% if displayable[tag.getId()] %}
    {% set currentIndex = index ~ "-" ~ tag.getId() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a  class="accordion-toggle"
                data-toggle="collapse"
                href="#collapse-{{ currentIndex }}"
            >
                <i class="fa fa-align-justify"></i>
                {{ tag.getName() }}
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
        </div>
        <div id="collapse-{{ currentIndex }}" class="panel-body collapse">
            {% if ( hierarchy[tag.getId()] is defined and hierarchy[tag.getId()]|length > 0 ) %}
            {{ _self.showTag(hierarchy[tag.getId()], tagWorkspaces, hierarchy, currentIndex, displayable, favourites) }}
            {% endif %}
                {% for relWorkspaceTag in tagWorkspaces[tag.id] %}
                {% set workspace = relWorkspaceTag.getWorkspace() %}
                {% set workspaceId = workspace.getId() %}
                <a class="list-group-item row-workspace row-workspace-id-{{ workspaceId }}"
                    {% set granted = is_granted('home', workspace) %}
                    {% if granted == true %}
                        href="{{ path('claro_workspace_open',
                        {'workspaceId': workspaceId, 'toolName': 'home'}) }}"
                        id="link-home-{{ workspaceId }}"
                    {% endif %}
                >
                    <i class="fa fa-book"></i>
                    {{ workspace.getName() }}
                    <span><small>({{ workspace.getCode() }})</small></span>
                    <span class="favourite-workspace-btn pull-right" workspace-id="{{ workspaceId }}">
                        <i class="favourite-workspace-icon-{{ workspaceId }}
                            {% if favourites[workspaceId] is defined %}
                                fa fa-star
                            {% else %}
                                fa fa-star-o
                            {% endif %}"
                       ></i>
                    </span>
                </a>
                {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% from _self import showTag %}

{% extends 'ClarolineCoreBundle:WorkspaceTag:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "my_workspaces" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'my_workspaces'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="page-header">
        <h1>{{ 'my_workspaces'|trans({}, 'platform') }}</h1>
    </div>

    {{ macros.flashBox() }}

    <div class="page-buttons">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('claro_list_workspaces_with_self_registration') }}" class="btn btn-primary">
                {{ 'register_to_a_workspace'|trans({}, 'platform') }}
            </a>
        {% endif %}
        <a href="{{ path('claro_list_workspaces_with_self_unregistration') }}" class="btn btn-default">
            {{ 'unregister_from_a_workspace'|trans({}, 'platform') }}
        </a>
        <a href="{{ path('claro_manage_workspace_tag') }}" class="btn btn-default">
            {{ 'classify_my_workspaces'|trans({}, 'platform') }}
        </a>
    </div>

    {% if workspaces is empty %}
        <div class="list-empty">{{ 'no_workspace' | trans({}, 'platform') }}</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a  class="accordion-toggle"
                    data-toggle="collapse"
                    data-parent="#accordion-all"
                    href="#collapse-all"
                >
                    <i class="fa fa-align-justify"></i>
                    {{ 'all_my_workspaces'|trans({}, 'platform') }}
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="collapse-all" class="list-group collapse {% if tags|length == 0 %}in{% endif %}">
                {% for workspace in workspaces %}
                {% set workspaceId = workspace.getId() %}
                {% if has_access_to_workspace(workspace.getId()) %}
                    <a  class="list-group-item" class="row-workspace row-workspace-id-{{ workspaceId }}"
                        href="{{ path('claro_workspace_open',
                        {'workspaceId': workspaceId, 'toolName': 'home'}) }}"
                        id="link-home-{{ workspaceId }}"
                    >
                        <i class="fa fa-book"></i>
                        {{ workspace.getName() }}
                        <span><small>({{ workspace.getCode() }})</small></span>
                        <span class="favourite-workspace-btn pull-right" workspace-id="{{ workspaceId }}">
                            <i class="favourite-workspace-icon-{{ workspaceId }}
                                {% if favourites[workspaceId] is defined %}
                                    fa fa-star
                                {% else %}
                                    fa fa-star-o
                                {% endif %}"
                               style="color:gold; font-size:175%"
                           ></i>
                        </span>
                    </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {{ showTag(rootTags, tagWorkspaces, hierarchy, "0", displayable, favourites) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/workspace/listWorkspaceByUser.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
