{% extends 'ClarolineCoreBundle:workspace:layout.html.twig' %}

{% block content %}
  <div class="container" style="padding-top: 50px">
    {{ 'workspace_denied' | trans({'%workspace%': workspace.getName(), '%action%': action}, 'platform') }}
      {% if not dateValidity %}
        {{ 'workspace_access_date_denied' | trans({}, 'platform')}}
      {% else %}
        {% if isInQueue %}
          {{ 'workspace_awaiting_validation' | trans({}, 'platform') }}
        {% else %}
          {% if workspace.getSelfRegistration() %}
            <a class="btn btn-primary" href="{{path('claro_workspace_register_redirect', {workspace: workspace.getId()})}}">{{ 'register' | trans({}, 'platform') }}</a>
          {% else %}
            {{ 'workspace_private_registration' | trans({}, 'platform') }}
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
