{% macro renderPager(pager) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_all_workspaces_list_registration_pager'
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set nbPages = workspaces.getNbPages() %}
{% if nbPages > 1 %}
{{ renderPager(workspaces) }}
{% endif %}
<div class="table-responsive">
    <table id="workspace-table"  class="table table-striped table-condensed">
        <tbody id="user-table-body">
            {% for workspace in workspaces %}
                <tr id="{{ workspace.getId() }}" class="row-workspace">
                    <td>
                        {{ workspace.getName() }}
                        <span class="workspace-code">({{ workspace.getCode() }})</span>
                    </td>
                    <td align="right">
                        <input
                            type="checkbox"
                            value="{{ workspace.getId() }}"
                            class="chk-workspace-all workspace-check"
                            align="center">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if nbPages > 1 %}
{{ renderPager(workspaces) }}
{% endif %}
