{% macro renderPager(pager) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_all_workspaces_list_with_self_reg_pager'
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set nbPages = workspaces.getNbPages() %}

{% if nbPages > 1 %}
    {{ renderPager(workspaces) }}
{% endif %}

{% for workspace in workspaces.currentPageResults %}
    <div class="list-group-item row-workspace row-workspace-id-{{ workspace.getId() }}">
        <i class="fa fa-book"></i>
        {{ workspace.getName() }}
        <span><small>({{ workspace.getCode() }})</small></span>
        {% if listworkspacePending[workspace.getId()] is defined  %}
            <span class="pull-right label label-success cancel-button-{{ workspace.getId() }}">
                <i class="fa fa-share-square-o"></i>
                {{ 'pending'|trans({}, 'platform') }}
                <i class="pointer-hand fa fa-times-circle cancel-workspace-pending"
                   data-workspace-id="{{ workspace.getId() }}"
                   data-workspace-name="{{ workspace.getName() }}"
                   data-workspace-code="{{ workspace.getCode() }}"
                   data-workspace-validation="{% if workspace.getRegistrationValidation() %}validation{% else %}no-validation{% endif %}"
                ></i>
            </span>
        {% else %}
            <span class="pull-right pointer-hand label label-primary register-user-to-workspace register-button-{{ workspace.getId() }}"
                data-workspace-id="{{ workspace.getId() }}"
                data-workspace-name="{{ workspace.getName() }}"
                data-workspace-code="{{ workspace.getCode() }}"
                data-workspace-validation="{% if workspace.getRegistrationValidation() %}validation{% else %}no-validation{% endif %}"
            >
                <i class="fa fa-plus-circle"></i>
                {{ 'register'|trans({}, 'platform') }}
            </span>
        {% endif %}
    </div>
{% endfor %}

{% set nbPages = workspaces.getNbPages() %}

{% if nbPages > 1 %}
    {{ renderPager(workspaces) }}
{% endif %}
