{% extends "InnovaCollecticielBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class=" fa fa-pencil-square-o"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="panel-body container-dropzone">
        <h2>
            {{ dropzone.resourceNode.name }} (Collecticiel)

            {% if adminInnova %}
                {% if not collecticielOpenOrNot %}
                    <div class="alert alert-warning closed-collecticiel">
                        {{ 'Closed collecticiel'|trans({}, 'innova_collecticiel') }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="btn-group pull-right">
                {# Suivre cette ressource 
                Libéllé à cacher #46 InnovaERV #}
                {# {% render controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': dropzone.resourceNode.id, 'resourceClass': dropzone.resourceNode.class}) %} #} 
                {# ERV/Modif car changement de nom car on renvoie vers une nouvelle page #}
                {# Accéder à la vue personnelle
                <a class="btn btn-default" href="{% block drops_awaiting_link %}{{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }} {% endblock %}">
                    <span class="fa fa-list"></span>
                    {{ 'See personal view'|trans({}, 'innova_collecticiel') }}
                </a>
                #}
            </div>
        </h2>

        {{ dropzoneMacros.flashBox() }}

        <ul class="nav nav-tabs  margin-bottom-md margin-top-md">
            <!-- InnovaERV : ajout du traitement car les onglets ne sont pas identiques -->
            <!-- suivant si on est ADMIN ou pas -->
            {% if adminInnova %}
                {# Demandes adressées #}
                <li class="hometab-element {% block collecticiel_demandes_active %}{% endblock %}">
                    <a href="{% block collecticiel_demandes_link %}
                        {{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }}
                        {% endblock %}">
                        {{ 'Requests'|trans({}, 'innova_collecticiel') }}
                    </a>
                </li>

                {# Espaces partagés #}
                {# #63 : suppression de l'id car mauvaise navigation #}
                <li class="hometab-element {% block collecticiel_shared_active %}{% endblock %}">
                    <a href="{% block collecticiel_shared_link %}
                        {{ path('innova_collecticiel_shared_spaces',{'resourceId':dropzone.id}) }}
                        {% endblock %}">
                        {{ 'Shared spaces'|trans({}, 'innova_collecticiel') }}
                    </a>
                </li>

                {# Paramètres #}
                <li class="hometab-element {% block collecticiel_parametres_active %}{% endblock %}">
                    <a id="editParametresLink" href="{% block collecticiel_parametres_link %}
                            {{ path('innova_collecticiel_edit_common',{'resourceId':dropzone.id}) }}
                        {% endblock %}" >
                        {{ 'Parameters'|trans({}, 'innova_collecticiel') }}
                    </a>
                </li>
            {% else %}
                <!-- (Mon) Espace collecticiel -->
                {% include "InnovaCollecticielBundle:Dropzone:editNotAdmin.html.twig" %}
            {% endif %}
        </ul>

        {% block drop_zone_content_edit %}
        {% endblock %}
    </div>
{% endblock %}