{% macro gradingScale_prototype(gradingScale) %}
    <div class="form-group row">
        <div class="col-sm-10">
            {{ form_widget(gradingScale.scaleName) }}
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm btn-danger fa fa-trash-o delete-grading-scale" type="button" role="button" name="button"></button>
        </div>
        {{ form_row(gradingScale.id) }}
    </div>
{% endmacro %}

{% macro gradingCriteria_prototype(gradingCriteria) %}
    <div class="form-group row">
        <div class="col-sm-10">
            {{ form_widget(gradingCriteria.criteriaName) }}
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm btn-danger fa fa-trash-o delete-criteria" type="button" role="button" name="button"></button>
        </div>
    </div>
    {{ form_row(gradingCriteria.id) }}
{% endmacro %}

{% extends "InnovaCollecticielBundle:Dropzone:edit.html.twig" %}
{% form_theme form "InnovaCollecticielBundle::form_theme_bootstrap3.html.twig" %}

{% block resourceBreadcrumb %}
    <li>
        <a href="{{ path('innova_collecticiel_edit_appreciation',{'resourceId':dropzone.id}) }}">
            <span class="fa fa-bars"></span>
            {{ dropzone.resourceNode.name }}
        </a>
    </li>
    <li class="active">
        {{ 'Evaluation criterions'|trans({}, 'innova_collecticiel') }}</li>
{% endblock %}

{# reset the default active tab#}
{% block dropzone_edit_navTabs_param_element_class %}{% endblock %}
{% block collecticiel_espace_partage_edit_navTabs_criteria_element_class %}{% endblock %}
{% block collecticiel_mon_espace_edit_navTabs_criteria_element_class %}{% endblock %}

{# seting the correct active tab#}
{% block dropzone_edit_navTabs_criteria_element_class %}
    active
{% endblock %}

{# reset the default url setting to # #}
{% block dropzone_edit_navTabs_criteria_element_link %}
    #
{% endblock %}

{% block drop_zone_content_edit %}

    <form id="dropzone_appreciation_and_criterion_form" class="form" method="POST" action="{{ path('innova_collecticiel_edit_appreciation', {'resourceId': dropzone.id}) }}" class="disabled-during-edition">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Evaluation Appreciation'|trans({}, 'innova_collecticiel') }}</h3>
            </div>
            <div class="panel-body">
                <!-- Grading scale list -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'ratingScale'|trans({}, 'innova_collecticiel') }}</h3>
                                <div data-index="" class="grading-scales" data-prototype="{{ _self.gradingScale_prototype(form.gradingScales.vars.prototype)|e }}">
                                    {# Show existing data #}
                                    {% for scale in form.gradingScales %}
                                        {{ _self.gradingScale_prototype(scale) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" role="button" class="btn btn-default add-grading-scale fa fa-plus" title="">&nbsp;{{'add_grading_scale_label'|trans({}, 'innova_collecticiel') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Grading scale list -->
                <hr/>
                <!-- #Criterion list -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'Info ratingScale'|trans({}, 'innova_collecticiel') }}</h3>
                                <div class="criterion" data-prototype="{{ _self.gradingCriteria_prototype(form.gradingCriterias.vars.prototype)|e }}">
                                    {# Show existing data #}
                                    {% for criteria in form.gradingCriterias %}
                                        {{ _self.gradingCriteria_prototype(criteria) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" role="button" class="btn btn-default add-criteria fa fa-plus" title="">&nbsp;{{'add_criteria_label'|trans({}, 'innova_collecticiel') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <!-- #SUBMIT FORM -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="{{ path('innova_collecticiel_edit_common', {'resourceId': dropzone.getId()}) }}" class="btn btn-default criteria-form-button back-button">{{ 'Cancel'|trans({}, 'innova_collecticiel') }}</a>
                            <button id="submit_global_form" type="submit" class="btn btn-primary criteria-form-button save-submit">{{ 'Save'|trans({}, 'innova_collecticiel') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #MODALS -->
        <div class="modal fade" id="recalculateAskPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        {#                    <h4 class="modal-title">{{ 'Warning'|trans({}, 'innova_collecticiel') }}  {{ 'corrections were already created'|transchoice(nbCorrection,{},'innova_collecticiel') }}</h4> #}
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ 'Your modifications will only affect new corrections. For older, do you want to apply modification and recalculate grades'|trans({},'innova_collecticiel') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button id="notRecalculateButton" class="btn btn-default">{{ 'Just save'|trans({}, 'innova_collecticiel') }}</button>

                        <button id='recalculateButton' class="btn btn-primary pull-right">
                            {{ 'Save and recalculate all grade'|trans({}, 'innova_collecticiel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#MODALS -->

    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        {{ tinymce_init() }}
        <script>
            var totalColumn = {{ dropzone.totalCriteriaColumn }};
            var comment = {{ dropzone.allowCommentInCorrection ? 1 : 0 }}
        </script>
        <script src="{{ asset('bundles/innovacollecticiel/js/editAppreciationForm.js') }}"></script>

    {% endblock %}
