{% macro gradingNotation_prototype(gradingNotation) %}
    <div class="form-group row">
        <div class="col-sm-10">
            {{ form_widget(gradingNotation.notationName) }}
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm btn-danger fa fa-trash-o delete-notation" type="button" role="button" name="button"></button>
        </div>
    </div>
    {{ form_row(gradingNotation.id) }}
{% endmacro %}

{% extends "InnovaCollecticielBundle:Dropzone:edit.html.twig" %}
{% form_theme form "InnovaCollecticielBundle::form_theme_bootstrap3.html.twig" %}

{% block resourceBreadcrumb %}
    <li>
        <a href="{{ path('innova_collecticiel_edit_notation',{'resourceId':dropzone.id}) }}">
            <span class="fa fa-bars"></span>
            {{ dropzone.resourceNode.name }}
        </a>
    </li>
    <li class="active">
        {{ 'Evaluation criterions'|trans({}, 'innova_collecticiel') }}</li>
{% endblock %}

{# reset the default active tab#}
{% block dropzone_edit_navTabs_param_element_class %}{% endblock %}
{% block collecticiel_espace_partage_edit_navTabs_criteria_element_class %}{% endblock %}
{% block collecticiel_mon_espace_edit_navTabs_criteria_element_class %}{% endblock %}

{# seting the correct active tab#}
{% block dropzone_edit_navTabs_criteria_element_class %}
    active
{% endblock %}

{# reset the default url setting to # #}
{% block dropzone_edit_navTabs_criteria_element_link %}
    #
{% endblock %}

{% block drop_zone_content_edit %}

    <form id="dropzone_appreciation_and_criterion_form" class="form" method="POST" action="{{ path('innova_collecticiel_edit_notation', {'resourceId': dropzone.id}) }}" class="disabled-during-edition">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'notation'|trans({}, 'innova_collecticiel') }}</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        <label for="innova_collecticiel_notation_collection_form_maximumNotation" class="required">
                        {{ 'Maximum notation'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input id="innova_collecticiel_notation_collection_form_maximumNotation" name="innova_collecticiel_notation_collection_form[maximumNotation]" required="required" min="0" max="9999" class="form-control" value="{{ maximumNotation }}" type="number">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <!-- #Criterion list -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'Criterion information'|trans({}, 'innova_collecticiel') }}</h3>
                                <div class="notation" data-prototype="{{ _self.gradingNotation_prototype(form.gradingNotations.vars.prototype)|e }}">
                                    {# Show existing data #}
                                    {% for notation in form.gradingNotations %}
                                        {{ _self.gradingNotation_prototype(notation) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" role="button" class="btn btn-default add-notation fa fa-plus" title="">&nbsp;{{'add_notation_label'|trans({}, 'innova_collecticiel') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <!-- #SUBMIT FORM -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="{{ path('innova_collecticiel_edit_common', {'resourceId': dropzone.getId()}) }}" class="btn btn-default notation-form-button back-button">{{ 'Return'|trans({}, 'innova_collecticiel') }}</a>
                            <button id="submit_global_form" type="submit" class="btn btn-primary notation-form-button save-submit">{{ 'Save'|trans({}, 'innova_collecticiel') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('bundles/innovacollecticiel/js/editNotationForm.js') }}"></script>

    {% endblock %}
