{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'packages' | trans({}, 'platform') | striptags | raw }}
    {{ ' - ' ~ 'inwicastclarolineplugin' | trans({}, 'plugin_description') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
    'icon': 'icon-cog',
    'name': 'administration'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'packages'|trans({}, 'platform'),
    'href': path('claro_admin_open_tool', {'toolName': 'platform_packages'})
    },
    {
    'name': 'inwicastclarolineplugin'|trans({}, 'plugin_description'),
    'href': ''
    }
    ]) }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'inwicastclarolineplugin' | trans({}, 'plugin_description') }}</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-success">
            <strong>{{ 'operation_done' | trans({}, 'platform') }}</strong> {{ 'mediacenter_url_updated' | trans({}, 'widget') }}
        </div>
    </div>
    <div class="panel-footer">
        <a href="{{ path('claro_admin_open_tool', {'toolName': 'platform_parameters'}) }}"
           class="btn btn-default btn-primary">{{ 'back_to_parameters' | trans({}, 'widget') }}</a>
        <a href="{{ path('claro_admin_open_tool', {'toolName': 'inwicast_configuration'}) }}"
           class="btn btn-default btn-default">{{ 'reconfigure' | trans({}, 'widget') }}</a>
    </div>
{% endblock %}