{% extends 'HeVinciCompetencyBundle:Objective:layout.html.twig' %}

{% trans_default_domain 'competency' %}

{% set activeTab = 'groups' %}
{% set filterObjective = filterObjective is defined ? filterObjective : false %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'groups'|trans({}, 'platform') }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs(objectiveBreadcrumbs|merge([{
            name: 'groups'|trans({}, 'platform'),
            href: path('hevinci_objectives_groups')
        }]))
    }}
{% endblock %}

{% block tabContent %}
    {% if filterObjective %}
        <br>
        <h4>
            {{ 'objective.groups_with'|trans({'%objective%': filterObjective.getName()})|raw }}
            <span class="clear-filter">
                <a href="{{ path('hevinci_objectives_groups') }}">({{ 'objective.see_all_groups'|trans }})</a>
            </span>
        </h4>
    {% endif %}

    {% if pager.getNbPages() > 1 %}
        {{ pagerfanta(pager, 'twitter_bootstrap_translated', { 'proximity': 1 }) }}
    {% endif %}

    <br>

    {% if pager.getNbResults() > 0 %}
        <table class="table table-condensed table-bordered group-objectives">
            <thead>
                <tr>
                    <th>{{ 'group'|trans({}, 'platform') }}</th>
                    <th>{{ 'framework_'|trans }}</th>
                    <th colspan="3">{{ 'actions'|trans({}, 'platform') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for group in pager.currentPageResults() %}
                    {% include 'HeVinciCompetencyBundle:Objective:groupObjectiveRow.html.twig' with group %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>
            {% if filterObjective %}
                {{ 'info.no_objective_groups'|trans }}
            {% else %}
                {{ 'info.no_group_objectives'|trans }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hevincicompetency/js/objectiveGroups.js') }}"></script>
{% endblock %}