{% extends 'HeVinciCompetencyBundle:Objective:layout.html.twig' %}

{% trans_default_domain 'competency' %}

{% set activeTab = 'objectives' %}

{% block tabContent %}
    {% set length = objectives|length %}
    <br>
    <div class="alert alert-info" role="alert"{% if length > 0 %} style="display: none"{% endif %}>
        <i class="fa fa-info-circle"></i>
        {{ 'info.no_learning_objectives'|trans }}
        {{ 'info.create_learning_objective'|trans }}
    </div>
    <table class="table table-condensed table-bordered objectives"
           {% if length == 0 %}style="display: none"{% endif %}>
        <thead>
            <tr>
                <th>{{ 'objective_'|trans }}</th>
                <th>{{ 'framework_'|trans }}</th>
                <th>{{ 'level'|trans }}</th>
                <th>{{ 'status'|trans({}, 'platform') }}</th>
                <th colspan="5">{{ 'actions'|trans({}, 'platform') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for objective in objectives %}
                {%
                    include 'HeVinciCompetencyBundle:Objective:objectiveRow.html.twig'
                    with {
                        id: objective.getId(),
                        name: objective.getName()
                    }
                %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tabFooter %}
    <button id="create-objective" class="btn btn-primary">
        {{ 'objective.create_short'|trans }}
    </button>
{% endblock %}