{% extends 'HeVinciCompetencyBundle:Objective:layout.html.twig' %}

{% set activeTab = 'users' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'users'|trans({}, 'platform') }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs(objectiveBreadcrumbs|merge([{
            name: 'users'|trans({}, 'platform'),
            href: path('hevinci_objectives_users')
        }]))
    }}
{% endblock %}

{% block tabContent %}
    {% if pager.getNbPages() > 1 %}
        {{
            pagerfanta(pager, 'twitter_bootstrap_translated', {
                'proximity' : 1,
                'routeName': 'hevinci_objectives_users'
            })
        }}
    {% endif %}

    <br>

    {% if pager.getNbResults() > 0 %}
        <table class="table table-condensed table-bordered user-objectives">
            <thead>
                <tr>
                    <th>{{ 'user'|trans({}, 'platform') }}</th>
                    <th>{{ 'framework_'|trans({}, 'competency') }}</th>
                    <th>{{ 'progress'|trans({}, 'competency') }}</th>
                    <th>{{ 'level.obtained'|trans({}, 'competency') }}</th>
                    <th>{{ 'level.expected'|trans({}, 'competency') }}</th>
                    <th colspan="3">{{ 'actions'|trans({}, 'platform') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pager.currentPageResults() %}
                    {%
                        include 'HeVinciCompetencyBundle:Objective:userObjectiveRow.html.twig'
                        with {
                            id: user.id,
                            firstName: user.firstName,
                            lastName: user.lastName,
                            hasObjectives: true
                        }
                    %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>
            {{ 'info.no_user_objectives'|trans({}, 'competency') }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/hevincicompetency/js/objectiveUsers.js') }}"></script>
{% endblock %}