<div data-collection-form="{'badge': ''}" data-editable="false">
    <p>
        <button type="button" class="btn btn-sm btn-success" data-ui-badge-picker="badgePickerConfig">{{ 'badges_select_badge'|trans({}, 'icap_portfolio') }}</button>
    </p>
    <ul class="list-unstyled badge_collection">
        <li data-ng-repeat="badge in collection" class="form-control badge_collection_item">
            {% verbatim %}
            <p class="badge_selection_field" data-title="{{ badge.name }}"
                data-container="body" data-toggle="popover" data-placement="top"
                data-content="{{ badge.description }}">
                <span class="badge_text">{{ badge.name }}</span>
                <img data-ng-src="{{ assetPath + badge.img }}" alt="{{ badge.name }}" class="badge_image" />
            </p>
            {% endverbatim %}
        </li>
    </ul>
</div>
