<div class="form-group">
    <div class="form-group">
        <label for="experience_post" class="required col-md-2 control-label">{{ 'experience_post'|trans({}, 'icap_portfolio') }}</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="experience_post" name="experience[post]" data-ng-model="widget.post" required="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="experience_company_name" class="required col-md-2 control-label">{{ 'experience_company_name'|trans({}, 'icap_portfolio') }}</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="experience_company_name" name="experience[company_name]" data-ng-model="widget.companyName" required="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="experience_website" class="required col-md-2 control-label">{{ 'experience_website'|trans({}, 'icap_portfolio') }}</label>
        <div class="col-md-10">
            <p class="input-group">
                <span class="input-group-addon"><span class="fa fa-link"></span></span>
                <input type="text" class="form-control" id="experience_website" name="experience[website]" data-ng-model="widget.website" required="required" />
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p class="input-daterange input-group" data-b-datepicker="{{ 'datepicker_date_format'|trans({}, 'icap_portfolio') }}" id="datepicker">
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                <input type="text" data-datetime="{{ 'date_field_format'|trans({}, 'icap_portfolio') }}"
                       data-datetime-model="yyyy/MM/dd"
                       class="input-sm form-control" name="startDate" data-ng-model="widget.startDate" required="required" />
                <span class="input-group-addon">{{ 'date_range_to'|trans({}, 'icap_portfolio') }}</span>
                <input type="text" data-datetime="{{ 'date_field_format'|trans({}, 'icap_portfolio') }}"
                       data-datetime-model="yyyy/MM/dd"
                       class="input-sm form-control" name="endDate" data-ng-model="widget.endDate" />
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="experience_description" class="required col-md-2 control-label">{{ 'experience_description'|trans({}, 'icap_portfolio') }}</label>
        <div class="col-md-10">
            <textarea data-ui-tinymce="tinyMceConfig" class="form-control" rows="3" name="experience[description]" id="experience_description" data-ng-model="widget.description"></textarea>
        </div>
    </div>
</div>
