<div data-collection-form="{'resource': ''}">
    <p>
        <label for="formation_name">{{ 'formation_title'|trans({}, 'icap_portfolio') }}</label>
        <input type="text" class="form-control" id="formation_name"
         name="icap_portfolio_widget_form_formations[formations][name]" data-ng-model="editedWidget.name" />
    </p>
    <div class="input-daterange input-group" data-b-datepicker="{{ 'date_form_format'|trans({}, 'platform') }}" id="datepicker">
        <input type="text" class="input-sm form-control" name="start" data-ng-model="editedWidget.startDate" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end" data-ng-model="editedWidget.endDate" />
    </div>
    <p>
        <button type="button" data-ui-resource-picker="resourcePickerConfig">{{ 'formation_add_resource'|trans({}, 'icap_portfolio') }}</button>
    </p>
    <ul class="list-unstyled">
        <li data-ng-repeat="resource in collection">
            <div data-ng-class="{'input-group': isAdded(resource)}">
                {% verbatim %}
                <p class="form-control-static" data-ng-if="resource.name">{{ resource.name }}</p>
                <input type="hidden" class="form-control" id="formation_{{ $index }}_resource"
                     name="icap_portfolio_widget_form_formations[resources][{{ $index }}]" data-ng-model="resource.resource"
                     data-ng-disabled="resource.toDelete"  data-ng-keyup="modify(resource, $index)" />
                {% endverbatim %}
                <span class="input-group-btn" data-ng-if="isAdded(resource)">
                    <button aria-label="{{ 'formation_delete_resource'|trans({}, 'icap_portfolio') }}" class="btn btn-danger" type="button" data-ng-if="!isEmpty(resource) && !resource.toDelete" data-ng-click="deleteChild(resource)">
                        <span class="icon-trash"></span>
                    </button>
                    <button aria-label="{{ 'formation_cancel_deletion_resource'|trans({}, 'icap_portfolio') }}" class="btn btn-default" type="button" data-ng-if="resource.toDelete" data-ng-click="cancelDeletionOfChild(resource)">
                        <span class="icon-undo"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>
