{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "rename_tool" | trans({}, "platform") | striptags | raw }} ({{ wot.getTool().getName()|trans({}, 'platform') | striptags | raw }}){% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'parameters'|trans({}, 'platform'),
                    'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
                },
                {
                    'name': 'tools'|trans({}, 'platform'),
                    'href': path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()})
                },
                {
                    'name': 'edit'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}
{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'rename_tool'|trans({}, 'platform') }} ({{ wot.getTool().getName()|trans({}, 'platform') }})</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{ path('claro_workspace_order_tool_edit', {'workspaceId': workspace.getId(), 'workspaceOrderToolId': wot.getId()}) }}" method="post" {{ form_enctype(form) }}>
        <div class="panel-body">
            {{ form_widget(form) }}
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a class="btn btn-default" href="{{ path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()}) }}" role="button">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
