{% extends "ClarolineCoreBundle:API:modal.html.twig" %}

{% block header %}
    {{ 'edit_location'|trans({}, 'platform') }}
{% endblock %}
{% block form %}
    {% form_theme form 'ClarolineCoreBundle::form_theme_angular.html.twig' %}
    <form role="form"
            class="form-horizontal"
            ng-submit="elfm.submit()"
            method="post" {{ form_enctype(form) }}
        >
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <button id="create-location-btn" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
            <div id="gelocate-location-btn" class="btn btn-success" ng-click="elfm.geolocate()">{{ 'geolocate'|trans({}, 'platform') }}</div>
            <div class="btn btn-default" data-dismiss="modal" ng-click="$close()">{{ 'cancel'|trans({}, 'platform') }}</div>
        </div>
    </form>
{% endblock %}
