{% macro renderPager(pager, typeId, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_admin_support_new',
                'routeParams': {
                    'type': typeId,
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(typeId, search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{ 
        path(
            'formalibre_admin_support_new',
            {
                'type': typeId,
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    
    {% if tickets.getNbPages() > 1 %}
        {{ renderPager(tickets, type.getId(), search, orderedBy, order, max) }}
    {% endif %}
    <div class="table-responsive" id="new-ticket-tab">
        <table class="table">
            <tr>
                <th>
                    <a href="{{ sortUrl(type.getId(), search, 'title', order, max) }}">
                        {{ 'title'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                    <a href="{{ sortUrl(type.getId(), search, 'user', order, max) }}">
                        {{ 'contact'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                    <a href="{{ sortUrl(type.getId(), search, 'creationDate', order, max) }}">
                        {{ 'creation_date'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
                        
            {% for ticket in tickets %}
                {% set ticketId = ticket.getId() %}
                {% set ticketDescription = ticket.getDescription() %}
                <tr id="row-ticket-{{ ticketId }}">
                    <td>
                        <a href="#">
                            <b>
                                {{ ticket.getTitle() }}
                            </b>
                        </a>
                        <i class="fa fa-info-circle pointer-hand"
                           data-toggle="tooltip"
                           data-container="body"
                           data-placement="right"
                           data-html="true"
                           title="{{ ticketDescription }}"
                        >
                        </i>
                    </td>
                    <td>
                        {% set user = ticket.getUser() %}
                        {{ user.getFirstName() }}
                        {{ user.getLastName() }}
                        <p>
                            <i class="fa fa-envelope-o"></i> :
                            {{ ticket.getContactMail() }}
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> :
                            {{ ticket.getContactPhone() }}
                        </p>
                    </td>
                    <td>
                        {{ ticket.getCreationDate()|intl_date_format }}
                    </td>
                    <td class="text-center">
                        <span class="view-comments-btn pointer-hand"
                              data-ticket-id="{{ ticketId }}"
                        >
                            <i class="fa fa-comments-o"></i>
                            {{ ticket.getComments()|length }}
                        </span>
                    </td>
                    <td class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-danger delete-ticket-btn btn-sm"
                                    data-ticket-id="{{ ticketId }}"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if tickets.getNbPages() > 1 %}
        {{ renderPager(tickets, type.getId(), search, orderedBy, order, max) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/formalibresupport/js/adminSupportNew.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}