{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% set _resource = survey %}
{% set surveyId = survey.getId() %}
{% set startDate = survey.getStartDate() %}
{% set endDate = survey.getEndDate() %}

{% extends layout %}

{% block title %}
    {{ survey.getResourceNode().getName() | striptags | raw  }}
{% endblock %}

{% block section_content %}
    <div>{{ macros.flashBox() }}</div>
    <div class="panel-heading">
        <h3 class="panel-title">{{ survey.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        {% if status == 'unpublished' %}
            <div class="alert alert-warning" role="alert">
                {{ 'unpublished_user_message'|trans({}, 'survey') }}
                
                {% if startDate is not empty %}
                    <br>
                    <b>{{ 'publication_date'|trans({}, 'survey') }} :</b>
                    {{ startDate|intl_date_format }}
                    
                    {% if endDate is not empty %}
                        <br>
                        <b>{{ 'closing_date'|trans({}, 'survey') }} :</b>
                        {{ endDate|intl_date_format }}
                    {% endif %}
                {% endif %}
            </div>
        {% elseif status == 'published' %}
            {% if hasAnswered %}
                <div class="alert alert-info">
                    {{ 'thanks_for_answering_msg'|trans({}, 'survey') }}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    {{ 'published_user_message'|trans({}, 'survey') }}

                    {% if endDate is not empty %}
                        <br>
                        <b>{{ 'closing_date'|trans({}, 'survey') }} :</b>
                        {{ endDate|intl_date_format }}
                    {% endif %}
                </div>
            {% endif %}
        {% elseif status == 'closed' %}
            <div class="alert alert-danger" role="alert">
                {{ 'closed_user_message'|trans({}, 'survey') }}
                
                {% if startDate is not empty and endDate is not empty and currentDate < startDate and currentDate < endDate %}
                    <br>
                    <b>{{ 'publication_date_next'|trans({}, 'survey') }} :</b>
                    {{ startDate|intl_date_format }}
                    <br>
                    <b>{{ 'closing_date_next'|trans({}, 'survey') }} :</b>
                    {{ endDate|intl_date_format }}
                {% endif %}
            </div>
        {% endif %}
                
        {% if status == 'published' or (status == 'closed' and hasAnswered) %}
            <hr>
            <a href="{{ path('claro_survey_answer_form', {'survey': surveyId}) }}"
               class="btn btn-primary margin-bottom-md"
            >
                <i class="fa fa-check-square-o"></i>
                {% if status == 'published' and not hasAnswered %}
                    {{ 'answer_to_survey'|trans({}, 'survey') }}
                {% elseif status == 'published' and hasAnswered and allowAnswerEdition %}
                    {{ 'edit_your_answers'|trans({}, 'survey') }}
                {% else %}
                    {{ 'view_your_answers'|trans({}, 'survey') }}
                {% endif %}
            </a>
            
            {% if hasAnswered and survey.getHasPublicResult() %}  
                {% set questionsRelations = survey.getQuestionRelations() %}

                {% if questionsRelations|length > 0 %}
                    {% set question = questionsRelations[0].getQuestion() %}
                    <a href="{{ path('claro_survey_results_show', {'survey': surveyId, 'question': question.getId()}) }}"
                       class="btn btn-primary margin-bottom-md"
                    >
                        <i class="fa fa-bar-chart-o"></i>
                        {{ 'view_survey_results'|trans({}, 'survey') }}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}