{% macro renderPager(pager, survey, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_survey_answers_management',
                'routeParams': {'survey': survey.getId(), 'max': max}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% set _resource = survey %}
{% set surveyId = survey.getId() %}

{% extends layout %}

{% block title %}
    {{ survey.getResourceNode().getName() ~ ' - '  | striptags | raw ~ 'survey_answers_management'|trans({}, 'survey') }}
{% endblock %}

{% block resourceBreadcrumb %}
    <li>
        <a href="{{ path('claro_survey_index', {'survey': surveyId}) }}">
            {{ _resource.getResourceNode().getName() }}
        </a>
    </li>
    <li class="active">{{ 'survey_answers_management'| trans({}, 'survey') }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <h3>{{ 'survey_answers_list'| trans({}, 'survey') }}</h3>
        <br>
        <div id="survey-answers-management-content">
            {% if answers|length > 0 %}
                <button class="btn btn-default disabled" id="delete-selected-answers-btn">
                    <i class="fa fa-trash"></i>
                    {{ 'delete_selected_answers'| trans({}, 'survey') }}
                </button>
                <button class="btn btn-danger" id="delete-all-answers-btn">
                    <i class="fa fa-trash"></i>
                    {{ 'delete_all_answers'| trans({}, 'survey') }}
                </button>
                <hr>

                {% if answers.getNbPages() > 1 %}
                    {{ renderPager(answers, survey, max) }}
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th><input type="checkbox" id="select-all-chk"></th>
                            <th>{{ 'user'| trans({}, 'platform') }}</th>
                            <th>{{ 'date'| trans({}, 'platform') }}</th>
                        </tr>

                        {% for answer in answers %}
                            {% set user = answer.getUser() %}
                            {% set answerId = answer.getId() %}
                            <tr id="answer-row-{{ answerId }}">
                                <td><input type="checkbox" class="answer-chk" value="{{ answerId }}"></td>
                                <td>
                                    {% if user is not empty %}
                                        {{ user.getFirstName() }} {{ user.getLastName() }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ answer.getAnswerDate()|intl_date_format }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                {% if answers.getNbPages() > 1 %}
                    {{ renderPager(answers, survey, max) }}
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'no_answer'| trans({}, 'survey') }}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="datas-box" data-survey-id="{{ survey.getId() }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'survey' }) }}">
    </script>
    <script type="text/javascript" src='{{ asset('bundles/clarolinesurvey/js/surveyAnswersManagement.js') }}'>
    </script>
{% endblock %}