<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ 'delete' | trans({}, "platform") }}</h4>
        </div>
        <div class="modal-body">
            <p>{{ "delete_theme_confirm" | trans({}, "theme") }}</p>
            <p>{{ "irreversible_action" | trans({}, "platform") }}.</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal" role="button">{{ "cancel" | trans({}, "platform") }}</a>
            <a class="btn delete btn-primary" data-dismiss="modal" role="button">{{ 'delete' | trans({}, "platform") }}</a>
        </div>
    </div>
</div>
