<div class="modal fade" id="recalculateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'recalculate_modal_title'|trans({}, 'icap_badge') }}</h4>
                <br />
                <div class="alert alert-danger">
                    {{ 'recalculate_modal_waning'|trans({}, 'icap_badge')|raw }}
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>
                        <input type="checkbox" id="recalculateAlreadyAwarded" />
                        {{ 'recalculate_modal_option_all_users'|trans({}, 'icap_badge') }}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                <a id="recalculateAction" href="{{ path('icap_badge_admin_badges_recalculate', { 'slug' : badge.slug }) }}" class="btn btn-primary">{{ 'OK'|trans({}, 'platform') }}</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#recalculateAction').on('click', function(event) {
            var url = $(this).attr('href');
            var baseUrl = url.split("?")[0];
            // Always strip out query string params so they don't show twice in the URL in case of double click
            $(this).attr('href', baseUrl);

            // If checkebox is checked, add a query string param
            if ($('#recalculateAlreadyAwarded').is(':checked')) {
                $(this).attr('href', $(this).attr('href') + '?recalculateAlreadyAwarded=true');
            }
        });
    });
</script>