{# Affichage du tableau de l'onglet "Espaces partagés" #}
<tr>
    {# Affichage de l'image de profil #}
    {% if dropzone.picture == 1  %}
        <td>
            {% if usersByWorkspace.getPicture() != '' %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ asset('uploads/pictures/') ~ usersByWorkspace.getPicture() }}"
                        class="img-polaroid img-responsive"
                        alt="{{ usersByWorkspace.getLastName() ~ ' ' ~ usersByWorkspace.getFirstName() }}">
                    </div>
                </div>
            {% else %}
                <i class="centered direct-chat-img direct-chat-img-you right fa fa-user" ></i>
            {% endif %}
        </td>
    {% endif %}

    <td>{{ usersByWorkspace.lastName|upper }}</td>
    <td>{{ usersByWorkspace.firstName|capitalize }}</td>

    {% if dropzone.username == 1  %}
        <td>{{ usersByWorkspace.userName|capitalize }}</td>
    {% endif %}

    <td class="centered">0</td>
    <td class="centered">0</td>
    <td class="centered"> {# Appel de la vue "Espaces collecticiel". #}
        <div class="btn-group">
            <a href="{{ path('innova_collecticiel_drop_switch_admin',
            {'resourceId': dropzone.id, 'userId': usersByWorkspace.id}
            ) }}" type="button" class="btn btn-default btn-sm">
                {{ 'To display'|trans({}, 'innova_collecticiel') }}
            </a>
        </div>
    </td>
</tr>
