{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'users_management'|trans({}, 'tools'),
        'href': ''
    }
    ]) }}
{% endblock %}

{% block content %}
    <div>{{ macros.flashBox() }}</div>
    <div
      class="page-container users-container"
      data-parameters="{{ parameters | json_encode | raw | escape }}"
      data-profile="{{ profile | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-user-management.js') }}"></script>
{% endblock %}
