{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/administration/adminDesktopHomeTabsConfig.js') }}'
        type="text/javascript">
    </script>
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'home_tabs'|trans({}, 'platform'),
                'href': path('claro_admin_home_tabs_configuration')
            },
            {
                'name': 'desktop_home_tabs'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'desktop_home_tabs'|trans({}, 'platform') }}
        </h3>
    </div>

    <div class="panel-body">
        <div>
            <ul class="nav nav-tabs">
                {% for homeTabConfig in homeTabConfigs %}
                {% set homeTab = homeTabConfig.getHomeTab() %}
                {% set homeTabId = homeTab.getId() %}
                    <li class="{% if homeTabId == curentHomeTabId %}active{% endif %}">
                        <a href="{{
                            path(
                                'claro_admin_desktop_home_tabs_configuration',
                                {'homeTabId': homeTabId}
                            )
                        }}">
                            {{ homeTab.getName() }}
                            <span class="hometab-buttons"
                                id="hometab-buttons-{{ homeTabId }}"
                                hometab-id="{{ homeTabId }}"
                                hometab-config-id="{{ homeTabConfig.getId() }}"
                            >
                                <i class="hometab-rename-btn pointer-hand icon-edit"></i>
                                <i class="hometab-visibility-btn pointer-hand
                                    {% if homeTabConfig.isVisible() %}
                                        icon-eye-open
                                    {% else %}
                                        icon-eye-close
                                    {% endif %}"
                                ></i>
                                <i class="hometab-lock-btn pointer-hand
                                    {% if homeTabConfig.isLocked() %}
                                        icon-lock
                                    {% else %}
                                        icon-unlock
                                    {% endif %}"
                                ></i>
                                <i class="hometab-delete-btn icon-trash pointer-hand"></i>
                            </span>
                        </a>
                    </li>
                {% endfor %}
                <li id="add-hometab-btn">
                    <a href="">
                        <i id="add-hometab-button" class="icon-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
