{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ 'competence' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "competence" | trans({}, "platform" )}}</h3>
        </div>
       {% if cpt is defined %}
        	 {{ cpt.getCompetence().getName() }}  

        	{% set road = path(route, {competenceId: cpt.getId() }) %}
       {% else %}
       		{% set road = path(route) %}	
       {% endif %}
        <form novalidate="novalidate"
              action="{{ road }}"
              method="post" {{ form_enctype(form) }}
              id="generic-form"
              class="form-horizontal">
            <div class="panel-body">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                {{ form_errors(form) }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
        </form>
        {% if cpt is defined %}
            <a href="{{path('claro_admin_competence_delete', {competenceId:cpt.getId()})}}" class="btn btn-primary">{{ 'delete'|trans({}, 'platform') }}</a>
            <a href="{{path('claro_admin_competence_move_form', {competenceId:cpt.getId()})}}" class="btn btn-primary">{{ 'move'|trans({}, 'platform') }}</a>
        {% endif %}
        <a href={{path('claro_admin_competences')}} class="btn btn-primary">{{ 'back'|trans({}, 'platform') }}</a>
    </div>
{% endblock %}
