{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ 'competence' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "competence" | trans({}, "platform" )}}</h3>
        </div>
        <form action="#" method="post" {{ form_enctype(form) }}
              id="myForm"
              class="form-horizontal">
            <div class="panel-body">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                {{ form_errors(form) }}
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" id="link" data-route="{{path('claro_admin_competence_link',{rootId: root.getId(), parentId: cpt.getId()})}}">{{ 'link'|trans({}, 'platform') }}</button>
                <button class="btn btn-primary" id="link_hierarchy">{{ 'link_hierarchy'|trans({}, 'platform') }}</button>
            </div>
        </form>
        <a href="{{path('claro_admin_competence_delete', {competenceId:cpt.getId()})}}" class="btn btn-primary">{{ 'delete'|trans({}, 'platform') }}</a>
        
    </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
	<script type='text/javascript'src='{{ asset('bundles/clarolinecore/js/administration/competences.js') }}'></script>
{% endblock %}