{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'administration'|trans({}, 'platform')|striptags|raw }}{% endblock %}

{% block leftbar %}
    {% render controller("ClarolineCoreBundle:Administration:renderLeftBar") %}
{% endblock %}

{% block content %}
    <div class="visible-xs">
        {{ block("leftbar") }}
    </div>
    <div class="panel panel-default">
        
        {% if not is_send_datas_confirmed() %}
            <div class="alert-update-mode">
                <a href="{{ path('claro_admin_send_datas_confirm_form') }}">
                    <h4 class="label label-danger">
                        {{ 'send_datas_has_not_been_confirmed'|trans({}, 'platform') }}
                            <i class="fa fa-question-circle"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="{{ 'send_datas_bar_msg'|trans({}, 'platform') }}"
                            >
                            </i>
                    </h4>
                </a>
            </div>
        {% endif %}
        {% block section_content %}{% endblock %}
    </div>
{% endblock %}