{% macro renderPager(pager, search) %}
    {% if search == '' %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_users_list_registration_pager'
            }
        )
    }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_users_list_registration_pager_search',
                    'routeParams': {'search': search}
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}

<div id="user-list-pager-block">
    {{ renderPager(users, search) }}

    <div class="table-responsive">
        <table id="user-table" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{{ 'first_name'|trans({}, 'platform') }}</th>
                    <th>{{ 'last_name'|trans({}, 'platform') }}</th>
                    <th>{{ 'username'|trans({}, 'platform') }}</th>
                    <th>{{ 'mail'|trans({}, 'platform') }}</th>
                    <th>{{ 'administrative_code'|trans({}, 'platform') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                {% for user in users.currentPageResults() %}
                    <tr id="{{ user.getId() }}" class="row-user">
                        <td>{{ user.getFirstName() }}</td>
                        <td>{{ user.getLastName() }}</td>
                        <td>{{ user.getusername() }}</td>
                        <td>{{ user.getMail() }}</td>
                        <td>{{ user.getAdministrativeCode() }}</td>
                        <td>
                            <input type="checkbox" value="{{ user.getId() }}" class="chk-subject" align="center">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if search != '' %}
        <p>
            <small>
                * {{ 'results_for_search_on'|trans({}, 'platform') }} "{{ search }}"
            </small>
        </p>
    {% endif %}

    {{ renderPager(users, search) }}
</div>
