{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'widget_settings'|trans({}, 'platform'),
                'href': path('claro_admin_widgets')
            },
            {
                'name': 'configure'|trans({}, 'platform'),
                'href': ''
            }

        ])
    }}
{% endblock %}
{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'widgets_configuration'|trans({}, 'platform') }}</h3>
    </div>
    <div id='form-div'>
        {{ content | raw }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}

    <script type="text/javascript">
        $('body').on('submit', '#form-div form', function (e) {
            e.preventDefault();
            //ajax submission
            var form = $('#form-div form').get(0);
            var action = form.getAttribute('action');
            var formData = new FormData(form);

            $.ajax({
                url: action,
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function(data, textStatus, jqXHR) {
                    console.debug(jqXHR);
                    if (jqXHR.status === 204) {
                        var location = Routing.generate('claro_admin_widgets');
                        window.location.href = location;
                    } else {
                        $('#form-div').empty();
                        $('#form-div').append(data);
                    }
                }
            });

        });

        $('body').on('click', '.claro-widget-form-cancel', function(e) {
            e.preventDefault();
            var location = Routing.generate('claro_admin_widgets');
            window.location.href = location;
        });
    </script>
{% endblock %}
