{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'chat_configuration'|trans({}, 'chat') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_chat_management_admin_tool'|trans({}, 'tools'),
                'href': path('claro_chat_admin_management')
            },
            {
                'name': 'chat_configuration'|trans({}, 'chat'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'chat_configuration'|trans({}, 'chat') }}
        </h3>
    </div>
    <form role="form"
          class="form-horizontal"
          action="{{ path('claro_chat_admin_configure') }}"
          method="post"
          {{ form_enctype(form) }}
          enctype='multipart/form-data'
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_chat_admin_management') }}" class="btn btn-default">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
            <a href="{{ path('claro_chat_admin_reset') }}" class="btn btn-danger">
                {{ 'reset'|trans({}, 'platform') }}
            </a>

        </div>
    </form>
{% endblock %}
