<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ _resource.resourceNode.name ~ '.pdf' }}</title>

        <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-blog-blog-pdf.css') }}" />
    </head>
    <body>
        <div class="page-header">
            <h1>{{ _resource.resourceNode.name }}</h1>
        </div>

        <h2>{{ 'posts'|trans({}, 'icap_blog') }}</h2>
        {% if posts is not empty%}
            <div class="blog-posts">
                {% for post in posts %}
                <article>
                    <header>
                        <h2 class="page-header">{{ post.title }}</h2>
                        {% set author = post.author %}

                        <div class="list-inline post_infos">
                            <small>{{ 'created_by'|trans({}, 'icap_blog') }} <span class="author">{{ author }}</span></small>
                            {% if null != post.publicationDate %},
                                <small>{{ 'created_on'|trans({}, 'icap_blog') }} <time>{{ post.publicationDate|date('date_format'|trans({}, 'platform')) }}</time></small>
                            {% endif %}
                        </div>
                    </header>

                    <div class="content">
                        {{ post.content|preg_replace("/src=\"\\/\\//","src=\"http://")|preg_replace("/src=\"\\//","src=\""~app.request.getSchemeAndHttpHost()~"/")|raw }}
                    </div>
                </article>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>
