{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'correction' | trans }} {% endblock %}

{% block section_content %}

    <a href="{{ path('ujm_paper_list', { 'exoID': exoId }) }}"><i class="icon-arrow-left"></i> {{ 'back' | trans }}</a>
    
    {% set i = 0 %}
    {% set exoMark = 0 %}
    {% set exoScoreMax = 0 %}
    {% set temporaryMark = false %}
    {#{ dump(interactions) }#}
    {% for interaction in interactions %}

<!--------------------------------------------------- QCM ------------------------------------------------------------->

        {% if( interaction.type == 'InteractionQCM') %}

            {% set interInfo = getInterTwig(interaction.id, 'InteractionQCM') %}
            {% set interQCM =  interInfo['question'] %}
            {{ interQCM.sortChoices() }}

                <div>

            {% if (display == 'all') %}
                <h1 name="title">
                    {{ interQCM.interaction.question.title }}
                </h1>

                <div name="description">
                    {{ interQCM.interaction.question.description|raw }}
                </div>

                <h3 name="invite">
                    {{ interQCM.interaction.invite|raw }}
                </h3>

                <table border="1" class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th class="classic">{{ 'your answer' | trans }}</th>
                        <th class="classic">{{ 'expected answer' | trans }}</th>
                        <th class="classic">{{ 'choice' | trans }}</th>
                        <th class="classic">{{ 'feedback' | trans }}</th>
                    </tr>

                    {% for choice in interQCM.choices %}
                        <tr>
                            <td class="classic">
                                {{ choice.label|raw }}
                            </td>
                            <td class="classic">
                                {% if choice.rightResponse %}
                                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                                {% else %}
                                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                                {% endif %}
                            </td>
                            <td class="classic">
                                {% if regexTwig('/' ~ choice.id ~ ';/', responses[i].response) > 0 %}
                                    {# choice checked by student #}
                                    {% if choice.rightResponse %}
                                        <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                                    {% else %}
                                        <img src="{{ asset('bundles/ujmexo/images/checkbox_on_red.gif') }}">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                                {% endif %}
                            </td>
                            <td class="classic">
                                {{ choice.feedback|raw }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>

                {% if interQCM.interaction.feedback != '' %}
                    <div name="feddback">
                        {{ 'comment' | trans }} :
                        {{ interQCM.interaction.feedback|raw }}
                    </div>
                {% endif %}

                {% for hv in hintViewed %}
                    {% if( hv.hint.interaction.id == interaction.id ) %}
                        {{ 'penalty' | trans }} : {{ hv.hint.penalty }}<br/>
                    {% endif %}
                {% endfor %}

                {{ 'mark' | trans }} : {{ responses[i].mark }} / {{ interInfo['maxScore'] }}<br/>
                {% set exoMark = exoMark + responses[i].mark %}
                {% set exoScoreMax = exoScoreMax + interInfo['maxScore'] %}
                 {% else %}
                {% set exoMark = exoMark + responses[i].mark %}
                {% set exoScoreMax = exoScoreMax + interInfo['maxScore'] %}
            {% endif %}
        <hr/>
    </div>

<!------------------------------------------------- Graphic ----------------------------------------------------------->

        {% elseif(interaction.type == 'InteractionGraphic') %}

            {% set interInfo = getInterTwig(interaction.id, 'InteractionGraphic') %}
            {% set interG =  interInfo['question'] %}
            {% set coords =  getCoordsGraphTwig(interG.id) %}
            {% set maxScore = 0 %}

            <div>
            {% if (display == 'all') %}
                <h1 name="title">
                    {{ interG.interaction.question.title }}
                </h1>

                <div name="description">
                    {{ interG.interaction.question.description|raw }}
                </div>

                <h3 name="invite">
                    {{ interG.interaction.invite|raw }}
                </h3>

                <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/GraphicOverview.js') }}"></script>

                <div style="position: relative;" id="Answer">
                    <img src="{{asset (interG.document.url)}}" width="{{ interG.width }}" height="{{ interG.height }}"
                        alt="AnswerImage" id="AnswerImage{{ interaction.id }}"/>

                    {% set repco = responses[i].response|split(';') %}
                    {% set x = 0 %}

                    {% for c in coords %}

                        {% set maxScore = maxScore + coords[x].scoreCoords %}
                        {% set numb = coords[x].value|split(',') %}
                        {% set repcoX = repco[x]|split('-') %}

                        <img src="{{ asset('bundles/ujmexo/images/graphic/circlew.png') }}" id="{{ interaction.id }}ra{{ x }}"
                             alt="RightAnswer{{ x }}" style="position: absolute; z-index: 2;" width="{{ coords[x].size }}"/>

                        <img src="{{ asset('bundles/ujmexo/images/graphic/answer.png') }}" id="{{ interaction.id }}cursor{{ x }}"
                             alt="AnswerZone{{ x }}" style="position: absolute; z-index: 7;"/>

                        <script type="text/javascript">
                            whichImg('{{coords[x].shape}}', '{{coords[x].color}}', {{x}}, '{{ numb[0] }}', '{{ numb[1] }}',
                            '{{repcoX[0]}}', '{{repcoX[1]}}', '{{ asset('bundles/ujmexo/images/graphic/') }}',
                            '{{ coords[x].size }}', '{{interaction.id}}')
                        </script>

                        {% set x = x + 1 %}
                    {% endfor %}
                </div><br/>

                {{ 'mark' | trans }} : {{ responses[i].mark }} / {{ maxScore }} <br/>
                {% set exoMark = exoMark + responses[i].mark %}
                {% set exoScoreMax = exoScoreMax + maxScore %}

                {% set point = responses[i].mark + hv.hint.penalty %}

                {% if responses[i].mark == 0 and hv.hint.penalty == 0 %}
                        {{ 'noRightAnswer' | trans }}.
                    {% elseif hv.hint.penalty == 0 %}
                        {{ 'noHintShow' | trans }}.
                    {% else %}
                        {{ 'pointRightResponse' | trans }} : {{ point }} {{ 'with' | trans }} : -

                        {% for hv in hintViewed %}
                            {% if( hv.hint.interaction.id == interaction.id ) %}
                                {{ 'penalty' | trans }} : {{ hv.hint.penalty }}<br/>
                            {% endif %}
                        {% endfor %}

                        {{ 'sawHint' | trans }}.
                    {% endif %}
                <br/>
                {% if interG.interaction.feedback is defined %}
                    <div>
                        <p>{{ interG.interaction.feedback|raw }}</p>
                    </div>
                {% endif %}
                <hr/>
            {% else %}
                {% set x = 0 %}

                {% for c in coords %}
                    {% set maxScore = maxScore + coords[x].scoreCoords %}
                    {% set x = x + 1 %}
                {% endfor %}

                {% set exoMark = exoMark + responses[i].mark %}
                {% set exoScoreMax = exoScoreMax + maxScore %}
            {% endif %}
            </div>

<!--------------------------------------------------- Hole ------------------------------------------------------------>

        {% elseif(interaction.type == 'InteractionHole') %}

<!--------------------------------------------------- Open ------------------------------------------------------------>

        {% elseif(interaction.type == 'InteractionOpen') %}
            {% set interInfo = getInterTwig(interaction.id, 'InteractionOpen') %}
            {% set interOpen =  interInfo['question'] %}

            <div>

                {% if (display == 'all') %}
                    <h1 name="title">
                        {{ interOpen.interaction.question.title }}
                    </h1>

                    <div name="description">
                        {{ interOpen.interaction.question.description|raw }}
                    </div>

                    <h3 name="invite">
                        {{ interOpen.interaction.invite|raw }}
                    </h3>

                    {% if interOpen.interaction.feedback != '' %}
                        <div name="feddback">
                            {{ 'comment' | trans }} :
                            {{ interOpen.interaction.feedback|raw }}
                        </div>
                    {% endif %}
                
                    <div name="response">
                        {{ 'your answer' | trans }} :
                        <br/><br/>
                        <div>
                            {% if interOpen.typeopenquestion == 'long' %}
                                {{ responses[i].response|raw}}
                                {% if admin == 1 %}
                                    <a id="open_mark_{{ responses[i].id }}" onClick="openMark('{{ path('ujm_paper_mark_open_question', {'respid': responses[i].id, 'maxScore': interInfo['maxScore']}) }}');">{{ 'marked this question' | trans }}</a>
                                {% endif %}
                            {% endif %}
                        </div> 
                    </div> 

                    {% for hv in hintViewed %}
                        {% if( hv.hint.interaction.id == interaction.id ) %}
                            {{ 'penalty' | trans }} : {{ hv.hint.penalty }}<br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if responses[i].mark != -1 %}
                    {{ 'mark' | trans }} : <span id="open_mark_value_{{ responses[i].id }}">{{ responses[i].mark }}/{{ interInfo['maxScore'] }}</span><br/>
                    {% set exoMark = exoMark + responses[i].mark %}
                {% else %}
                    {{ 'mark' | trans }} : <span id="open_mark_value_{{ responses[i].id }}">{{ 'not yet mark' | trans }}</span>
                    {% set temporaryMark = true %}
                {% endif %}
                {% set exoScoreMax = exoScoreMax + interInfo['maxScore'] %}
                <hr/>
            </div>
        {% endif %}

        {% set i = i + 1 %}
    {% endfor %}

    {% set scoreFinal = exoMark / exoScoreMax %}
    {% set scoreFinal = scoreFinal * 20 %}
    {% if temporaryMark == true %}
        {{ "temporary mark" | trans }} :
    {% else %}
        {{ 'final mark' | trans }} :
    {% endif %}
    <div>{{ scoreFinal }} / 20</div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/markedOpenQuestion.js') }}"></script>
{% endblock %}    