{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('bundles/ujmexo/css/paper.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    {% block title %} Correction {% endblock %}



{% block section_content %}

{% set i = 0 %}
{% set exoMark = 0 %}
{% set exoScoreMax = 0 %}
{#{ dump(interactions) }#}
{% for interaction in interactions %}
    {% if( interaction.type == 'InteractionQCM') %}
        {% set interInfo = getInterTwig(interaction.id, 'InteractionQCM') %}
        {% set interQCM =  interInfo['question'] %}
        {% if (display == 'all') %}
            <div>
        {% else %}
            <div style="display:none;">
        {% endif %}

            <div name="title">
                {{ interQCM.interaction.question.title}}
            </div>

            <div name="description">
                {{ interQCM.interaction.question.description|raw}}
            </div>

            <div name="invite">
                {{ interQCM.interaction.invite|raw}}
            </div>

            <table border="1">
                <tr>
                    <th>{{ "Your answer" | trans }}</th>
                    <th>{{ "Expected answer" | trans }}</th>
                    <th>{{ "Choice" | trans }}</th>
                    <th>{{ "Feedback" | trans }}</th>
                </tr>

                {% for choice in interQCM.choices %}
                    <tr>
                        <td>
                            {% if regexTwig('/' ~ choice.id ~ ';/', responses[i].response) > 0 %}
                                {# choice checked by student #}
                                {% if choice.rightResponse %}
                                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                                {% else %}
                                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on_red.gif') }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if choice.rightResponse %}
                                <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                            {% else %}
                                <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                            {% endif %}
                        </td>
                        <td>
                            {{ choice.label|raw }}
                        </td>
                        <td>
                            {{ choice.feedback|raw }}
                        </td>
                    </tr>
                {% endfor %}

            </table>
            <div name="feddback">
                {{ "Comment" | trans }}: 
                {{ interQCM.interaction.feedback|raw}}
            </div>
            {% for hv in hintViewed %}
                {% if( hv.hint.interaction.id == interaction.id ) %}
                    {{ "Penalty" | trans }}: {{ hv.hint.penalty }}<br/>
                {% endif %}
            {% endfor %}
            {{ "Mark" | trans }}: {{ responses[i].mark }}/{{ interInfo['maxScore'] }}<br/>
            {% set exoMark = exoMark + responses[i].mark %}
            {% set exoScoreMax = exoScoreMax + interInfo['maxScore'] %}
            <hr/>
        </div>

    {% elseif(interaction.type == 'InteractionGraphic') %}

        {% set interInfo = getInterTwig(interaction.id, 'InteractionGraphic') %}
        {% set interG =  interInfo['question'] %}
        {% set coords =  getCoordsGraphTwig(interG.id) %}
        {% set maxScore = 0 %}

        {% if (display == 'all') %}
            <div>
        {% else %}
            <div style="display:none;">
        {% endif %}
                    
            <div name="title">
                {{ interG.interaction.question.title}}
            </div>

            <div name="description">
                {{ interG.interaction.question.description|raw}}
            </div>

            <div name="invite">
                {{ interG.interaction.invite|raw}}
            </div>

            <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/GraphicOverview.js') }}"></script>

            <img src="{{asset (interG.document.url)}}" width="{{ interG.width }}" height="{{ interG.height }}" 
                    alt="AnswerImage" id="AnswerImage{{ interaction.id }}"/>

            {% set repco = responses[i].response|split(';') %}
            {%set x = 0 %}    

            {% for c in coords %} 

                {% set maxScore = maxScore + coords[x].scoreCoords %}
                {% set numb = coords[x].value|split(',') %}
                {% set repcoX = repco[x]|split('-') %}

                <img src="{{ asset('bundles/ujmexo/images/graphic/circlew.png') }}" alt="RightAnswer{{x}}" id="{{ interaction.id }}ra{{x}}"
                     style="position: absolute; z-index: 2;" width="{{ coords[x].size }}"/><br/>

                <img src="{{ asset('bundles/ujmexo/images/graphic/answer.png') }}" alt="AnswerZone{{x}}" id="{{ interaction.id }}cursor{{x}}" 
                     style="position: absolute; z-index: 7;"/>

                <script type="text/javascript">whichImg('{{coords[x].shape}}', '{{coords[x].color}}', {{x}}, 
                    '{{ numb[0] }}', '{{ numb[1] }}', '{{repcoX[0]}}', '{{repcoX[1]}}', '{{ asset('bundles/ujmexo/images/graphic/') }}',
                    '{{ coords[x].size }}', '{{interaction.id}}')</script>      

                {%set x=x+1%}

            {% endfor %}
                    
            {% for hv in hintViewed %}
                {% if( hv.hint.interaction.id == interaction.id ) %}
                    {{ "Penalty" | trans }}: {{ hv.hint.penalty }}<br/>
                {% endif %}
            {% endfor %}
            {{ "Mark" | trans }}: {{ responses[i].mark }}/{{ maxScore }}
            {% set exoMark = exoMark + responses[i].mark %}
            {% set exoScoreMax = exoScoreMax + maxScore %}
            <br/>
            <hr/>
        </div>

    {% elseif(interaction.type == 'InteractionHole') %}

    {% elseif(interaction.type == 'InteractionOpen') %}

    {% endif %}

    {% set i = i+1 %}
{% endfor %}

{% set scoreFinal = exoMark / exoScoreMax %}
{% set scoreFinal = scoreFinal * 20 %}
<div>{{ scoreFinal }} / 20</div>
<br/>
<a href="{{ path('ujm_exercise_open', { 'exerciseId': exoId }) }}">Back</a>
{% endblock %}