{% if blogOptions.tagCloud == 1 %}
<canvas width="320" height="320" id="tagCloudCanvas">
{% endif %}
    <ul id="tagList" class="tag-cloud list-unstyled list-inline">
        {% for tag in blog_tags(blog) %}
        <li><a class="w{{ tag.weight }}" href="{{ path('icap_blog_view', {'blogId' : blog.id}) }}#/tag/{{ tag.slug }}" title="{{ tag.name }}">{{ tag.name }}{% if blogOptions.tagCloud == 2 %} ({{ tag.countPosts }}){% endif %}</a></li>
        {% else %}
        <li>{{ 'no_tags'|trans({}, 'icap_blog') }}</li>
        {% endfor %}
    </ul>
{% if blogOptions.tagCloud == 1 %}
</canvas>
{% endif %}