{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {{ macros.sectionHeader('dashboard'|trans({}, 'platform')) }}
{% endblock %}

{% block tabs %}
    <ul class="nav nav-tabs">
        <li class="{% if 'claro_dashboard_info' == app.request.get('_route') %}active{% endif %}">
            <a href="{{ path('claro_dashboard_info') }}" id="dashboard_info_link">{{ 'dashboard_tab_info'|trans({}, 'platform') }}</a>
        </li>
        <li class="{% if 'claro_dashboard_perso' == app.request.get('_route') %}active{% endif %}">
            <a href="{{ path('claro_dashboard_perso') }}" id="dashboard_perso_link">{{ 'dashboard_tab_perso'|trans({}, 'platform') }}</a>
        </li>
        <li class="{% if 'claro_dashboard_resources' == app.request.get('_route') %}active{% endif %}">
            <a href="{{ path('claro_dashboard_resources') }}" id="resource_manager_link">{{ 'dashboard_tab_resources'|trans({}, 'platform') }}</a>
        </li>
    </ul>
{% endblock %}
