{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Path Editor styles #}
    {% stylesheets debug=false filter='less, cssmin' output='vendor/innovapath/wizards.css'
        'packages/angular-ui-tree/dist/angular-ui-tree.min.css'
        '@InnovaPathBundle/Resources/less/wizards.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="visible-xs">
        {{ block("leftbar") }}
    </div>

    {% block path_wizard %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'path_wizards' }) }}"></script>
{% endblock %}
