{% extends 'ClarolineCoreBundle:workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "dashboard" | trans({}, "tools") }}{% endblock %}

{% block content %}
    <div
        class="page-container dashboard-container"
        data-workspace="{{ workspace | api_serialize | json_encode | raw | escape }}"
        data-actions="{{ actions | json_encode | raw | escape }}"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-items="{{ items | json_encode | raw | escape }}"
        data-level-max="{{ levelMax | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-dashboard-tool') }}"></script>
{% endblock %}
