{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="page-container">
        <main class="page">
            <header class="page-header">
                <h1>
                    <span class="fa fa-fw fa-frown-o"></span>
                    Oops ! Something goes wrong...
                    {{ 'exception_page_title'|trans({}, 'platform') }}
                </h1>
            </header>

            <div class="page-content">
                <div class="alert alert-danger">
                    {% block message %}{% endblock %}
                </div>

                {% if app.user %}
                    <div class="text-center">
                        {% set menu = knp_menu_get(
                            'ClarolineCoreBundle:Builder:exceptionActionsMenu',
                            [],
                            {
                                'user': app.user,
                                'message': exception.getMessage(),
                                'exception_class': exception.getClass(),
                                'file': exception.getFile(),
                                'line': exception.getLine(),
                                'url': app.request.uri,
                                'referer': app.request.headers.get('referer'),
                                'httpCode': httpCode is defined ? httpCode: null
                            }
                        ) %}
                        {{ knp_menu_render(menu, {}, 'exception_actions') }}
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      $('.exception-action-btn').on('click', function () {
        const url = $(this).data('url')
        const displayMode = $(this).data('display-mode')

        if (displayMode === 'modal_form') {
          window.exceptionData = {}
          window.exceptionData.message = `{{ exception.getMessage() }}`
          window.exceptionData.stackTrace = {{ exception.getTrace()|json_encode|raw }}
          window.exceptionData.exceptionClass = "{{ exception.getClass() }}"
          window.exceptionData.file = "{{ exception.getFile() }}"
          window.exceptionData.line = {{ exception.getLine() }}
          window.exceptionData.url = "{{ app.request.uri }}"
          window.exceptionData.referer = "{{ app.request.headers.get('referer') }}"
          window.exceptionData.httpCode = {{ httpCode is defined ? httpCode: null }}
          window.Claroline.Modal.fromUrl(url)
        } else {
          window.location = url
        }
      })
    </script>
{% endblock %}
