{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
<form novalidate="novalidate"
      action="{{ path('claro_resource_create', {'resourceType':resourceType, 'parentInstanceId':'_instanceId'}) }}"
      method="post" {{ form_enctype(form) }}
      id="generic-form"
      class="form-horizontal">
   {{ form_errors(form) }}
   {{ form_widget(form) }}
   {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
    </div>
</form>