{% extends "ClarolineCoreBundle:Administration:administration.html.twig" %}
{% block section_content %}
<link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/js/jquery/plugin/dynatree/src/skin/ui.dynatree.css') }}'>
<link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/js/jquery/plugin/contextMenu-rod/src/jquery.contextMenu.css') }}'>
<script src='{{ asset('bundles/clarolinecore/js/jquery/plugin/dynatree/src/jquery.dynatree.js') }}' type="text/javascript"></script>
<script src='{{ asset('bundles/clarolinecore/js/jquery/plugin/contextMenu-rod/src/jquery.contextMenu.js')}}'></script>
<script src='{{ asset('bundles/clarolinecore/js/resource/index.js') }}' type="text/javascript"></script>

     {% form_theme form_resource 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form action="{{ path('claro_resource_show_form', {'id':id}) }}" method="post" {{ form_enctype(form_resource) }} id="form_resource">
        {{ form_errors(form_resource) }}
        {{ form_widget(form_resource) }}
        <input type="submit" />
    </form>
    <br><br>
    NAVIGABLE
    {% for resource in resources %}
        {% if resource.getResourceType.getNavigable() == true %}
            <div class="row_resource"><a href="{{path('claro_resource_default_click', {'id':resource.getId(), 'type':resource.getResourceType().getType()})}}" id="link_resource_{{resource.getId()}}" class="link_resource_view">{{resource.getName()}}</a> | {{resource.getResourceType().getType()}} | <a id="link_resource_delete_{{resource.getId()}}" href="{{path('claro_resource_delete', {'id':resource.getId()})}}" class="link_delete_resource">delete</a> | <a id="link_resource_open_{{resource.getId()}}" href="{{path('claro_resource_open', {'id':resource.getId()})}}" class="link_open_resource">open</a> </div>
            
        {% endif %}
    {% endfor %}            
    NOT NAVIGABLE
    {%for resource in resources %}
        {% if resource.getResourceType.getNavigable() == false %}
            <div class="row_resource"><a href="{{path('claro_resource_default_click', {'id':resource.getId(), 'type':resource.getResourceType().getType()})}}" id="link_resource_view_{{resource.getId()}}" class="link_resource_view">{{resource.getName()}}</a> | {{resource.getResourceType().getType()}} | <a id="link_resource_delete_{{resource.getId()}}" href="{{path('claro_resource_delete', {'id':resource.getId()})}}" class="link_delete_resource">delete</a> | <a id="link_resource_open_{{resource.getId()}}" href="{{path('claro_resource_open', {'id':resource.getId()})}}" class="link_open_resource">open</a></div>
        {% endif %}
    {% endfor %}         
            
    <button id="dialog_tree_button" onclick="openTreeDialog();"C>resources</button>
    <div id="formDialog"></div>
    <div id="treeDialog"></div>
{% endblock %}