{% extends "ClarolineCoreBundle:Administration:administration.html.twig" %}
{% block section_content %}
<script> 
   dojo.require("dojo.data.ObjectStore");
   dojo.require( "dijit.Tree" );
   dojo.require("dojo.store.Memory");
   require(['dojo/parser']);

   dojo.addOnLoad(function(){

        var objectStore = new dojo.store.Memory({
        data : [
        {id:"A", label: "Root", children:[
            {id:"1", label:"First"},
            {id:"2", label:"Second", children:[
                {id:"2a", label:"First child"},
                {id:"2b", label:"Second child"},
            ]},
            {id:"3", label:"Third"},
            {id:"4", label:"Fourth"},
        ]}]/*,
        getChildren: function(object){
            return this.query({parent: object.id});
        }*/
    });
    
    var dataStore = new dojo.data.ObjectStore({objectStore: objectStore});
    var treeModel = new dijit.tree.TreeStoreModel({store: dataStore});
    
    var tree = new dijit.Tree({
        model: treeModel
        }, 'treeNode');
        
    tree.startup();
});        
</script>
     {% form_theme form_resource 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form action="{{ path('claro_resource_add_to_directory', {'id':'null'}) }}" method="post" {{ form_enctype(form_resource) }} id="form_resource">
        {{ form_errors(form_resource) }}
        {{ form_widget(form_resource) }}
        <input type="submit" />
    </form>

    NAVIGABLE
    {% for resource in resources %}
        {% if resource.getResourceType.getNavigable() == true %}
            <div class="row_resource"><a href="{{path('claro_resource_view', {'id':resource.getId()})}}" id="link_resource_{{resource.getId()}}" class="link_resource_view">{{resource.getName()}}</a> | {{resource.getResourceType().getType()}} | <a id="link_resource_delete_{{resource.getId()}}" href="{{path('claro_resource_delete', {'id':resource.getId()})}}" class="link_delete_resource">delete</a></div>
            
        {% endif %}
    {% endfor %}            
    NOT NAVIGABLE
    {%for resource in resources %}
        {% if resource.getResourceType.getNavigable() == false %}
            <div class="row_resource"><a href="{{path('claro_resource_view', {'id':resource.getId()})}}" id="link_resource_view_{{resource.getId()}}" class="link_resource_view">{{resource.getName()}}</a> | {{resource.getResourceType().getType()}} | <a id="link_resource_delete_{{resource.getId()}}" href="{{path('claro_resource_delete', {'id':resource.getId()})}}" class="link_delete_resource">delete</a></div>
        {% endif %}
    {% endfor %}
            
        <h1>Tree structure using the new Dojo Object Store</h1>
		<div id="treeNode"></div>
        <a href="{{path('claro_resource_JSON_tree', {'id':53})}}">get tree 53</a>
{% endblock %}