<form novalidate="novalidate"
      action="{{ path('claro_resource_edit_properties', {'node': '_nodeId'}) }}"
      method="post" {{ form_enctype(form) }}
      id="resource-properties-form"
      class="form-horizontal">

    <div class="tab-content">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.newIcon) }}
        {{ form_row(form.creationDate) }}
        {{ form_row(form.resourceType) }}
        {{ form_row(form.creator) }}
        {{ form_rest(form) }}
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
            <input type="submit" value="{{ 'ok'|trans({}, 'platform') }}"/>
        </div>
    </div>
</form>
