<form novalidate="validate" action="{{ path('claro_resource_create', {'resourceType':resourceType, 'parentInstanceId':'_instanceId'}) }}" method="post" {{ form_enctype(form) }} id="generic_form">
   {{ form_errors(form) }}
   {{ form_widget(form) }}
   {{ form_rest(form) }}
   <input type="submit" formnovalidate="formnovalidate" />
</form>