<div id="{{divPrefix}}-active-filters"></div></br>
<select id="{{divPrefix}}-select-root" style="width:125px" multiple="multiple">
    {% for workspaceroot in workspaceroots %}
        <option value={{ workspaceroot.id }}> {{ workspaceroot.name }} </option>
    {% endfor %}
</select><br>
<select id="{{divPrefix}}-select-type" style="width:125px" multiple="multiple">
    {% for resourceType in resourceTypes %}
            <option value={{ resourceType.type }}> {{ resourceType.type }} </option>
    {% endfor %}
</select><br>
<input type="text" style="width:120px" placeholder="text"></input><br>
<input id="{{divPrefix}}-date-from" type="text" style="width:120px" placeholder="date début"></input><br>
<input id="{{divPrefix}}-date-to" type="text" style="width:120px" placeholder="date fin"></input><br>
<button id="{{divPrefix}}-filter-button">filter</button>
<button id="{{divPrefix}}-reset-button">reset</button>
<script>
    $('#{{divPrefix}}-date-from').datepicker({dateFormat: "yy-mm-dd"});
    $('#{{divPrefix}}-date-to').datepicker({dateFormat: "yy-mm-dd"});
</script>