<div id="{{divPrefix}}-active-filters"></div></br>
<select id="{{divPrefix}}-select-root" style="width:125px" multiple="multiple">
    {% for workspaceroot in workspaceroots %}
        <option value={{ workspaceroot.id }}> {{ workspaceroot.name }} </option>
    {% endfor %}
</select><br>
<select id="{{divPrefix}}-select-type" style="width:125px" multiple="multiple">
    {% for resourceType in resourceTypes %}
            <option value={{ resourceType.type }}> {{ resourceType.type }} </option>
    {% endfor %}
</select><br>
<div class="input-append date" id="{{divPrefix}}-date-from" data-date="21/12/2012" data-date-format="dd/mm/yyyy">
    <input class="span8" size="10" type="text" value="21/12/2012" style="display:inline-block;">
    <span class="add-on"><i class="icon-th"></i></span>
</div>
<div class="input-append date" id="{{divPrefix}}-date-to" data-date="21/12/2012" data-date-format="dd/mm/yyyy">
    <input class="span8" size="10" type="text" value="21/12/2012" style="display:inline-block;">
    <span class="add-on"><i class="icon-th"></i></span>
</div>
<button id="{{divPrefix}}-filter-button">filter</button>
<button id="{{divPrefix}}-reset-button">reset</button>
<script>
    $('#{{divPrefix}}-date-from').datepicker();
    $('#{{divPrefix}}-date-to').datepicker();
</script>