<tr class="role-permissions" data-name="{{ role.getTranslationKey() }}">
    <td>
        {{ role.getTranslationKey()|trans({}, 'platform') }}
        {% if role.getWorkspace() %}
            <br/><em>({{ role.getWorkspace().getCode() }})</em>
        {% endif %}
    </td>
    <td>
        <input name="roles[{{ role.getId() }}][delete]" type="checkbox"
        {% if canDelete %}
            checked
        {% endif %}
        />
    </td>
    <td>
        <input name="roles[{{ role.getId() }}][open]" type="checkbox"
        {% if canOpen %} checked {% endif %}
        />
    </td>
    <td>
        <input name="roles[{{ role.getId() }}][edit]" type="checkbox"
        {% if canEdit %}
            checked
        {% endif %}
        />
    </td>
    <td>
        <input name="roles[{{ role.getId() }}][copy]" type="checkbox"
        {% if canCopy %}
            checked
        {% endif %}
        />
    </td>
    <td>
        <input name="roles[{{ role.getId() }}][export]" type="checkbox"
        {% if canExport %}
            checked
        {% endif %}
        />
    </td>
    {% if isDirectory %}
    <td>
        <a data-resource-id="{{ resource.getId() }}"
           class="res-creation-options"
           href="{{ path('claro_resource_right_creation_form', {'resourceId': resource.getId(), 'roleId': role.getId() }) }}">
            {{ 'options'|trans({}, 'platform') }}
        </a>
    </td>
    {% endif %}
</tr>