{% extends 'ClarolineCoreBundle:Resource:rights_form_resource.html.twig' %}

{% block createHeader %}
    <th>{{ 'create'|trans({}, 'platform') }}</th>
{% endblock %}

{% block createCell %}
    <td>
        <a data-resource-id="{{ resource.getId() }}"
           class="res-creation-options"
           href="{{ path('claro_resource_right_creation_form', {'resourceId': resource.getId(), 'roleId': permissions.getRole().getId() }) }}">
            {{ 'options'|trans({}, 'platform') }}
        </a>
    </td>
{% endblock %}

{% block recursiveOption %}
    <div class="control-group">
        <div class="controls">
            <input name="isRecursive" type="checkbox"/> {{ 'recursive_dir_action'|trans({}, 'platform')}}
        </div>
    </div>
{% endblock %}
