<form novalidate="novalidate"
      action="{{ path('claro_resource_rights_edit', {'node':resourceRights.getResourceNode().getId()}) }}"
      method="post"
      class="form-vertical form-right-resource"
      id="resource-right-form">
    {% set roleId = resourceRights.getRole().getId() %}
    {{ 'open'|trans({}, 'platform') }} <input type="checkbox" name="roles[{{ roleId }}][open]" type="checkbox" {% if resourceRights.canOpen() %} checked {% endif %} />
    {{ 'copy'|trans({}, 'platform') }} <input  type="checkbox" name="roles[{{ roleId }}][copy]" type="checkbox" {% if resourceRights.canCopy() %} checked {% endif %} />
    {{ 'edit'|trans({}, 'platform') }} <input type="checkbox" name="roles[{{ roleId }}][edit]" type="checkbox" {% if resourceRights.canEdit() %} checked {% endif %} />
    {{ 'export'|trans({}, 'platform') }} <input type="checkbox" name="roles[{{ roleId }}][export]" type="checkbox" {% if resourceRights.canExport() %} checked {% endif %} />
    {{ 'delete'|trans({}, 'platform') }} <input type="checkbox" name="roles[{{ roleId }}][delete]" type="checkbox" {% if resourceRights.canDelete() %} checked {% endif %} />
    {% if isDir %}
        <br><input name="isRecursive" type="checkbox"/> {{ 'recursive_dir_action'|trans({}, 'platform')}}
        <br><a data-resource-id="{{ resource.getId() }}"
           class="res-creation-options"
           href="{{ path('claro_resource_right_creation_form', {'node': resourceRights.getResourceNode().getId(), 'role': resourceRights.getRole().getId() }) }}">
           {{ 'options'|trans({}, 'platform') }}
        </a>
    {% endif %}
    <div class="form-actions">
        <button id="submit-right-form-button" type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
    </div>
</form>
