<ul>

    {% for log in logs %}
    <li>
        <span class="notification-date">
            {% if log.getDate()|date('d-m-Y') == ''|date('d-m-Y') %}
                {{ 'today'|trans({}, 'platform') ~ ', ' }}
            {% else %}
                {{ log.getDate()|date('d-m-Y') ~ ', ' }}
            {% endif %}{{ log.getDate()|date('H:i') }}
        </span> :
        {{ log.getUpdator().getFirstName() ~ ' ' ~ log.getUpdator().getLastName() }}
        {{ ('log_' ~ log.getAction() ~ '_verb')|trans({}, 'platform') }}
        {% if log.getResource() != null %}
            <a href="{{ path('claro_resource_open', {'resourceType': log.getResourceType().getName(), 'action': 'open', 'resourceId': log.getResource().getId()})}}"> {{ log.getPath() }}</a>
        {% else %}
            <em>{{ log.getPath() }}</em>
        {% endif %}
    </li>

    {% endfor %}

</ul>