{% for log in logs %}
<p>
   {{ 'action'|trans({}, 'platform') }} {{ log.getAction()|trans({}, 'platform') }} {{ 'done_on'|trans({}, 'platform') }} {{ log.getPath()|trans({}, 'platform') }} {{ 'by'|trans({}, 'platform') }} {{ log.getUpdator().getUsername() }}
</p>
{% endfor %}