{% if isAnon %}
    <div class="alert alert-warning">
        {{ 'no_workspace'|trans({}, 'platform') }}
    </div>
{% else %}
    {% set widgetInstanceId = widgetInstance.getId() %}

    <div class="panel-body">
        <ul class="nav nav-pills">
            <li id="all-my-workspaces-btn-{{ widgetInstanceId }}">
                <a href="">
                    {{ 'all_my_workspaces'|trans({}, 'platform') }}
                </a>
            </li>
            <li id="favourite-workspaces-btn-{{ widgetInstanceId }}">
                <a href="">
                    {{ 'my_favourite_workspaces'|trans({}, 'platform') }}
                </a>
            </li>
        </ul>

        <br>

        <div id="workspaces-list-element-{{ widgetInstanceId }}">
            {% if workspaces|length == 0 %}
                <div class="alert alert-warning">{{ 'no_workspace'|trans({}, 'platform') }}</div>
            {% else %}
                {% for workspace in workspaces %}
                    {% set hasWsAccess = has_access_to_workspace(workspace.getId()) %}
                    <div>
                        {% if hasWsAccess %}
                            <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}">
                        {% endif %}
                        <i class="fa fa-book"></i>
                        {{ workspace.getName() }}
                        <span>
                            <small>
                                ({{ workspace.getCode() }})
                            </small>
                        </span>
                        {% if hasWsAccess %}
                            </a>
                        {% else %}
                            <i class="fa fa-warning pointer-hand"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="{{ 'workspace_access_disabled'|trans({}, 'platform') }}"
                            >
                            </i>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript">
            (function () {
                'use strict';

                var widgetInstanceId = {{ widgetInstanceId }};

                function menuHighlightMode()
                {
                    var mode = {{ mode }};

                    if (mode === 1) {
                        $('#all-my-workspaces-btn-' + widgetInstanceId).removeClass('active');
                        $('#favourite-workspaces-btn-' + widgetInstanceId).addClass('active');
                    } else {
                        $('#favourite-workspaces-btn-' + widgetInstanceId).removeClass('active');
                        $('#all-my-workspaces-btn-' + widgetInstanceId).addClass('active');
                    }
                }

                $('#all-my-workspaces-btn-' + widgetInstanceId).on('click', function (e) {
                    e.stopImmediatePropagation();
                    e.preventDefault();

                    var active = $(this).hasClass('active');

                    if (!active) {
                        $.ajax({
                            url: Routing.generate('claro_display_workspaces_widget', {'mode': 0}),
                            type: 'GET',
                            success: function (datas) {
                                $('#workspaces-list-element-' + widgetInstanceId).html(datas);
                                $('#favourite-workspaces-btn-' + widgetInstanceId).removeClass('active');
                                $('#all-my-workspaces-btn-' + widgetInstanceId).addClass('active');
                            }
                        });
                    }
                });

                $('#favourite-workspaces-btn-' + widgetInstanceId).on('click', function (e) {
                    e.stopImmediatePropagation();
                    e.preventDefault();

                    var active = $(this).hasClass('active');

                    if (!active) {
                        $.ajax({
                            url: Routing.generate('claro_display_workspaces_widget', {'mode': 1}),
                            type: 'GET',
                            success: function (datas) {
                                $('#workspaces-list-element-' + widgetInstanceId).html(datas);
                                $('#all-my-workspaces-btn-' + widgetInstanceId).removeClass('active');
                                $('#favourite-workspaces-btn-' + widgetInstanceId).addClass('active');
                            }
                        });
                    }
                });

                $(document).ready(function () {
                    menuHighlightMode();
                });
            })();
        </script>
    {% endblock %}
{% endif %}
