{% if resourceNodes|length > 0 %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>{{ 'name'|trans({}, 'platform') }}</th>
                <th>{{ 'type'|trans({}, 'platform') }}</th>
                <th>{{ 'path'|trans({}, 'platform') }}</th>
            </tr>
            {% for resourceNode in resourceNodes %}
                <tr>
                    <td>
                        <a href="{{ path('claro_resource_open_short', {'node': resourceNode['id']}) }}">
                            {{ resourceNode['name'] }}
                        </a>
                    </td>
                    <td>{{ resourceNode['type']|trans({}, 'resource') }}</td>
                    <td>{{ resourceNode['path'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">
        {{ 'no_resource'|trans({}, 'platform') }}
    </div>
{% endif %}