{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolineannouncement/js/create_form.js') }}' type="text/javascript"></script>
{% endblock %}

{% if type == 'create' %}
    {% set typeText = 'announcement_creation' %}
    {% set validationPath = path('claro_announcement_create', {'aggregateId': _resource.getId()}) %}
{% else %}
    {% set typeText = 'announcement_edition' %}
    {% set validationPath = path('claro_announcement_edit', {'announcementId': announcement.getId()}) %}
{% endif %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_announcements_list', {'aggregateId': _resource.getId()}) }}">
        {{ _resource.getResourceNode().getName() }}
    </a></li>
    <li class="active">{{ typeText|trans({}, 'announcement') }}</li>
{% endblock %}

{% block section_content %}
<div class="panel-heading">
    <h3 class="panel-title">{{ typeText|trans({}, 'announcement') }}</h3>
</div>
<div>
    {{ macros.flashBox() }}
</div>
<form
    class="form-horizontal"
    action="{{ validationPath }}"
    method="post" {{ form_enctype(form) }}
    id="announcement-form"
>
    <div class="panel-body">
        {{ form_row(form.title) }}
        {{ form_row(form.announcer) }}
        {{ form_row(form.content) }}
        {{ form_row(form.visible) }}
        {{ form_row(form.visible_from) }}
        {{ form_row(form.visible_until) }}
        <div class="form-group row">
            <label class="control-label col-md-3" for="announcement_form_notify_user">
                {{ 'send_email_to_users'|trans({}, 'announcement') }}
                <i class="fa fa-info-circle pointer-hand"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'notification_option_info'|trans({}, 'announcement') }}"
                >
                </i>
            </label>
            <div class="col-md-9">
                {{ form_widget(form.notify_user) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
    <div class="form-actions panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_announcements_list', {'aggregateId': _resource.getId()}) }}">
            <button  type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>

{% endblock %}
