{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'Export LDAP users' | trans({}, 'ldap') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'third_party_authentication'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_third_party_authentication_index')
            },
            {
                'name': 'LDAP'|trans({}, 'ldap'),
                'href': path('claro_admin_ldap')
            },
            {
                'name': 'export'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Export LDAP users' | trans({}, 'ldap') }}</h3>
    </div>
    {% if servers is empty %}
        <div class="panel-body">
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> {{ 'There are no configured servers' | trans({}, 'ldap') }}
            </div>
            <a class="btn btn-primary" href="{{ path('claro_admin_ldap_settings') }}" class="alert-link">
                <i class="fa fa-wrench"></i> {{ 'LDAP settings' | trans({}, 'ldap')}}
            </a>
        </div>
    {% else %}
        <div class="list-group ldap-export">
            {% for server in servers %}
                <div class="list-group-item clearfix" data-name="{{ server.name }}">
                    {{ server.name }} <span class="text-muted">({{ server.host }})</span>
                    <a class="badge" data-type="XML">
                        <i class="fa fa-download"></i> {{ 'XML' | trans({}, 'ldap') }}
                    </a>
                    <a class="badge" data-type="JSON">
                        <i class="fa fa-download"></i> {{ 'JSON' | trans({}, 'ldap') }}
                    </a>
                    <a class="badge" data-type="YML">
                        <i class="fa fa-download"></i> {{ 'YML' | trans({}, 'ldap') }}
                    </a>
                    <a class="badge" data-type="CSV">
                        <i class="fa fa-download"></i> {{ 'CSV' | trans({}, 'ldap') }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'ldap' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolineldap/js/ldap.js') }}"></script>
{% endblock %}
