{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - LDAP ' ~ ' users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'third_party_authentication'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_third_party_authentication_index')
            },
            {
                'name': 'LDAP'|trans({}, 'ldap'),
                'href': path('claro_admin_ldap')
            },
            {
                'name': 'Users and groups'|trans({}, 'ldap'),
                'href': path('claro_admin_ldap_servers')
            },
            {
                'name': 'users'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% macro row(id, name, users, server) %}
    <div class="row margin-bottom-md">
        <div class="col-sm-3">
            <label for="{{ id }}">{{ name | trans({}, 'platform') }}:</label>
        </div>
        <div class="col-sm-9">
            <select class="form-control" name="{{ id }}" id="{{ id }}">
                {% if users is defined and not users is empty %}
                    <option></option>
                    {% for i in 0..(users[1].count - 1) %}
                        <option
                            {% if server is defined and not server is empty and server[id] == users[1][i] %}selected="selected"{% endif %}
                        >
                            {{ users[1][i] }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
{% endmacro %}

{% block section_content %}
    {% import _self as select %}
    <div class="panel-heading">
        <h3 class="panel-title">{{  'LDAP - ' ~ 'users' | trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body">
        <form id='ldapForm'>
            <input type="hidden" name="name" value="{{ server.name }}">
            {% if error is defined %}
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> {{ 'ldap_error_conexion' | trans({}, 'ldap') }}
                </div>
                <a class="btn btn-primary" href="{{ path('claro_admin_ldap_settings') }}" class="alert-link">
                    <i class="fa fa-wrench"></i> {{ 'LDAP settings' | trans({}, 'ldap')}}
                </a>
            {% else %}
                <div class="row margin-bottom-md">
                    <div class="col-sm-3">
                        <label for="ldapObjectClass">{{ 'ldap_user_class' | trans({}, 'ldap') }}:</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" name="objectClass" id="ldapObjectClass" data-type="users" data-name="{{ server.name }}">
                            <option></option>
                            {% for objectClass in classes %}
                                <option
                                    {% if server is defined and not server is empty and server['objectClass'] is defined and server['objectClass'] == objectClass %}selected="selected"{% endif %}
                                >
                                    {{ objectClass }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div{% if users is defined and users is empty %} class="hide"{% endif %} id="ldapAttributes">
                    {{ select.row('userName', 'username', users, server) }}
                    {{ select.row('firstName', 'firstName', users, server) }}
                    {{ select.row('lastName', 'lastName', users, server) }}
                    {{ select.row('email', 'email', users, server) }}
                    {{ select.row('code', 'administrative_code', users, server) }}
                    {{ select.row('locale', 'Language', users, server) }}
                </div>
                <div class="hide table-responsive" id="ldapPreview">
                    <p class='text-muted'><i class="fa fa-eye"></i> {{ 'Preview' | trans({}, 'theme') }}</p>
                    <table class="table table-bordered">
                        <tr>
                            <th>{{ 'username' | trans({}, 'platform') }}</th>
                            <th>{{ 'firstName' | trans({}, 'platform') }}</th>
                            <th>{{ 'lastName' | trans({}, 'platform') }}</th>
                            <th>{{ 'email' | trans({}, 'platform') }}</th>
                            <th>{{ 'administrative_code' | trans({}, 'platform') }}</th>
                            <th>{{ 'Language' | trans({}, 'platform') }}</th>
                        </tr>
                        {% for i in 0..4 %}
                            <tr id="users{{ i }}">
                                <td class="userName"></td>
                                <td class="firstName"></td>
                                <td class="lastName"></td>
                                <td class="email"></td>
                                <td class="code"></td>
                                <td class="locale"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="panel-footer text-right{% if users is defined and users is empty %} hide{% endif %}" id='ldapFooter'>
        <a class="btn btn-default" href="{{ path('claro_admin_ldap') }}">{{ 'cancel' | trans({}, 'platform') }}</a>
        <a class="btn btn-primary"><i class='fa fa-check'></i> {{ 'Save settings' | trans({}, 'ldap') }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'ldap' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolineldap/js/ldap.js') }}"></script>
    {% if users is defined and not users is empty %}
        <script>
            (function () {
                'use strict';

                var ldap = window.Claroline.LDAP;

                ldap.setAttribute('entries', {{ usersJSON | raw }});
                {% if server.userName is defined and not server.userName is empty %}ldap.setAttribute('userName', '{{ server.userName }}');{% endif %}
                {% if server.firstName is defined and not server.firstName is empty %}ldap.setAttribute('firstName', '{{ server.firstName }}');{% endif %}
                {% if server.lastName is defined and not server.lastName is empty %}ldap.setAttribute('lastName', '{{ server.lastName }}');{% endif %}
                {% if server.email is defined and not server.email is empty %}ldap.setAttribute('email', '{{ server.email }}');{% endif %}
                {% if server.code is defined and not server.code is empty %}ldap.setAttribute('code', '{{ server.code }}');{% endif %}
                {% if server.locale is defined and not server.locale is empty %}ldap.setAttribute('locale', '{{ server.locale }}');{% endif %}
                ldap.showPreview();
            }());
        </script>
    {% endif %}
{% endblock %}
