{% extends 'ClarolineCoreBundle::layout.html.twig' %}
{% block content %}
    {% if error %}
        <div id="login-error" class="alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
    {% endif %}
    <form id="login-form" class="form-horizontal" action="{{ path('claro_security_send_token') }}" method="post" {{ form_enctype(form) }}>
         {{ form_widget(form) }}
   {{ form_rest(form) }}
    <div class="text-center">
    	<button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
    </div>

   	</form>
    {% if user is not empty %}
     <div class="alert alert-success"> {{ 'mail_sent'|trans({}, 'platform') }} </div>
    {% endif %}
{% endblock %}
