{% extends 'ClarolineCoreBundle::layout.html.twig' %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
    {% if error %}
        <div id="login-error" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
    {% endif %}
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'forgot_password'|trans({}, 'platform') }}</h3>
        </div>
        <div class="panel-body">
            <form id="login-form" class="form-horizontal" action="{{ path('claro_security_send_token') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                {{ form_rest(form) }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
                </form>
            </div>
    </div>
    {% if user is not empty %}
    <div class="alert alert-success"> {{ 'mail_sent'|trans({}, 'platform') }} </div>
    {% endif %}
</div>
{% endblock %}
