{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{#
    This form doesn't include the usual form theme as we want it to always display the
    same message when authentication has failed (no precise validation errors).
#}

{% block content %}
    {% if error %}
        <div id="login-error" class="alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ 'login_failure'|trans({}, 'platform') }}
        </div>
    {% endif %}
    <form id="login-form" class="form-horizontal" action="{{ path('claro_security_login_check') }}" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">{{ 'username'|trans({}, 'platform') }} :</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">{{ 'password'|trans({}, 'platform') }} :</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" required="required" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'login'|trans({}, 'platform') }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}