{% extends 'ClarolineCoreBundle::common_layout.html.twig' %}

{% block global_content %}

<form id="login_form" action="{{ path('claro_security_login_check') }}" method="post">

{% if error %}
     <div class="failure_msg">{{ 'login_failure'|trans({}, 'platform') }}</div>
{% endif %}

    <label for="username">{{ 'username'|trans({}, 'platform') }} :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'password'|trans({}, 'platform') }} :</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" id="submit" name="_submit" value="{{ 'login'|trans({}, 'platform') }}" />
</form>

{% endblock global_content %}