{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    {% if error %}
        <div id="login-error" class="alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
    {% endif %}
    <form id="login-form" class="form-horizontal" action="{{ path('claro_security_new_password') }}" method="post">
    	new password <input type="password" name="pwd" />
    	repeat password<input type="password" name="repeat"/>
    	<input type="hidden" name="id" value="{{user.getId()}}" />
    	<button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
   	</form>
        {% if message is not empty %}
        {{ 'password_ok'|trans({}, 'platform') }}
    {% endif %}
{% endblock %}
