{% extends 'ClarolineCoreBundle::layout.html.twig' %}
{% block content %}
    {% if error %}
        <div id="login-error" class="alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
    {% endif %}
    {% if form is not empty %}
        <form id="login-form" class="form-horizontal" action="{{ path('claro_security_new_password') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}
            </button>
        </form>
    {% endif %}
    {% if message is not empty %}
        <div class="alert alert-success"> 
            {{ 'password_ok'|trans({}, 'platform') }} 
        </div>
    {% endif %}
{% endblock %}
