{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ '' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'competence_subscription_management'|trans({},'competence'),
                'href': path('claro_admin_competences_subscription_menu')
            },
            {
                'name': 'users_competences'|trans({}, 'competence'),
                'href': path('claro_admin_competences_list_users')
            }
        ])
    }}
{% endblock %}
{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'users_competences'|trans({}, 'competence') }}</h3>
    </div>
    {% for key,uc in listUsers %}
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <th><a href="{{ path('claro_admin_competences_subscription_details',{competenceId:uc.id}) }}"> 
                    {{ key }} </a>
                    <th> <input type="checkbox" name="all" class="chkAll"> </th>
                </thead>
                {% for u in uc.users %}
                    <tr>
                        <td> {{u.getUser().getUserName()}}</td> 
                        <td class="right"> <input type="checkbox" name="cpt" class="cpt"  /></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </table>
             </div>
        </div>
{% endblock %}