{% if buttons|length > 0 %}
{% for button in buttons %}
    <a
        id="{{ button['service'] }}-connect-btn"
        href="{{ url("hwi_oauth_service_redirect", {service: button['service']}) }}"
        class="btn {{ button['service'] }}-connect btn-third-party-login"
    >
        {% if button['display_name'] is not empty %}
            {{ button['display_name'] }}
        {% else %}
            {{ 'login_with_third_party_btn'|trans({'%name%':button['service']|trans({}, 'icap_oauth')}, 'platform') }}
        {% endif %}
    </a>
{% endfor %}
{% endif %}
