{% extends "InnovaCollecticielBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class=" fa fa-pencil-square-o"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">

        <h2>
            <!-- InnovaERV : ajout du traitement car les onglets ne sont pas identiques -->
            <!-- suivant si on est ADMIN ou pas -->
            {% if adminInnova %}
                {{ 'Edit evaluation admin'|trans({}, 'innova_collecticiel') }}
            {% else %}
                {{ 'Edit evaluation user'|trans({}, 'innova_collecticiel') }}
            {% endif %}

            <div class="btn-group pull-right">
                <!-- Suivre cette ressource -->
                {% render controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': dropzone.resourceNode.id, 'resourceClass': dropzone.resourceNode.class}) %}
                <!-- ERV/Modif car changement de nom car on renvoie vers une nouvelle page -->
                <!-- Accéder à la vue personnelle
                <a class="btn btn-default" href="{% block drops_awaiting_link %}{{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }} {% endblock %}">
                    <span class="fa fa-list"></span>
                    {{ 'See personal view'|trans({}, 'innova_collecticiel') }}
                </a>
                -->
            </div>
        </h2>

        {{ macros.flashBox() }}

        <ul class="nav nav-tabs  margin-bottom-md margin-top-md">
            <!-- InnovaERV : ajout du traitement car les onglets ne sont pas identiques -->
            <!-- suivant si on est ADMIN ou pas -->
            {% if adminInnova %}
                {% include "InnovaCollecticielBundle:Dropzone:editAdmin.html.twig" %}
            {% else %}
                <!-- (Mon) Espace collecticiel -->
                {% include "InnovaCollecticielBundle:Dropzone:editNotAdmin.html.twig" %}
            {% endif %}
        </ul>

        {% block drop_zone_content_edit %}
        {% endblock %}
    </div>
{% endblock %}