<!--
            {% block dropzone_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block dropzone_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block dropzone_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Critères d'évaluation par les pairs
                    </a>
                </li>
            {% endblock %}
-->


            <!-- Espaces partagés -->
            <!-- A priori, c'est pour la V2 -->
            <!--
            {% block collecticiel_demande_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_demande_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_demande_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria_innova',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Espaces partagés
                    </a>
                </li>
            {% endblock %}
            -->

            <!-- Demandes adressées  -->
            {% block collecticiel_espace_partage_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_espace_partage_edit_navTabs_criteria_element_class %}active {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_espace_partage_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Demandes adressées
                    </a>
                </li>
            {% endblock %}

            <!-- Paramètres -->
            <li class="hometab-element {% block dropzone_edit_navTabs_param_element_class %}active {% endblock %}">
                <a href="{% block dropzone_edit_navTabs_param_link %}
                        {{ path('innova_collecticiel_edit_common',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                    {{ 'Parameters'|trans({}, 'innova_collecticiel') }}
                </a>
            </li>

            <!-- ne pas toucher : bloc d'origine qui sert d'exemple -->
            <!-- Critères d'évaluation par l'enseignant -->
            {% block collecticiel_edit_navTabs_criteria_block %}
                <!-- class "peer-review-options" make this tab hidden when peerReview is not activated.  -->
                <li class="hometab-element peer-review-options {% block collecticiel_edit_navTabs_criteria_element_class %}active {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria_innova',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Critères d'évaluation par l'enseignant
                    </a>
                </li>
            {% endblock %}


            <!-- Vu avec Donovan : quand on est admin, on peut accéder à UN espace collecticiel d'UN étudiant -->
            <!-- Accès à un espace collecticiel -->
            {% block collecticiel_mon_espace_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_mon_espace_edit_navTabs_criteria_element_class %}active {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_mon_espace_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_drop', {'resourceId': dropzone.id, 'resourceId2': dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Accès à un espace collecticiel
                    </a>
                </li>
            {% endblock %}
