{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="glyphicon icon-edit"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ 'Edit evaluation'|trans }}</h2>
            </div>
            <div class="col-md-6">
                <a class="pull-right" href="{{ path('icap_dropzone_drops', {'resourceId': dropzone.id}) }}">{{ 'Check the list of copies made'|trans }}</a>
            </div>
        </div>
        {{ macros.flashBox() }}
        {% block drop_zone_content_edit %}
        {% endblock %}
    </div>
{% endblock %}