{% extends "InnovaCollecticielBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class=" fa fa-pencil-square-o"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">

        <h2>
            {{ 'Edit evaluation'|trans({}, 'innova_collecticiel') }}
            <div class="btn-group pull-right">
                <!-- Suivre cette ressource -->
                {% render controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': dropzone.resourceNode.id, 'resourceClass': dropzone.resourceNode.class}) %}
                <!-- ERV/Modif car changement de nom car on renvoie vers une nouvelle page -->
                <!-- Accéder à la vue personnelle
                <a class="btn btn-default" href="{% block drops_awaiting_link %}{{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }} {% endblock %}">
                    <span class="fa fa-list"></span>
                    {{ 'See personal view'|trans({}, 'innova_collecticiel') }}
                </a>
                -->
            </div>
        </h2>
        {{ macros.flashBox() }}
        <ul class="nav nav-tabs  margin-bottom-md margin-top-md">


<!--
            {% block dropzone_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block dropzone_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block dropzone_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Critères d'évaluation par les pairs
                    </a>
                </li>
            {% endblock %}
-->

            <!-- (Mon) Espace collecticiel -->
            {% block collecticiel_mon_espace_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_mon_espace_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_mon_espace_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_drop', {'resourceId': dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        (Mon) Espace collecticiel
                    </a>
<!--
                        <a href="{{ path('innova_collecticiel_drop', {'resourceId': dropzone.id}) }}"
                           class="btn btn-primary pull-right">{{ 'Start evaluation'|trans({}, 'innova_collecticiel') }}</a>
-->

                </li>
            {% endblock %}

            <!-- Espaces partagés -->
            <!-- A priori, c'est pour la V2 -->
            <!--
            {% block collecticiel_demande_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_demande_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_demande_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria_innova',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Espaces partagés
                    </a>
                </li>
            {% endblock %}
            -->

            <!-- Demandes adressées  -->
            {% block collecticiel_espace_partage_edit_navTabs_criteria_block %}
                <li class="hometab-element peer-review-options {% block collecticiel_espace_partage_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_espace_partage_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Demandes adressées
                    </a>
                </li>
            {% endblock %}

            <!-- Paramètres -->
            <li class="hometab-element {% block dropzone_edit_navTabs_param_element_class %}active {% endblock %}">
                <a href="
                    {% block dropzone_edit_navTabs_param_link %}
                        {{ path('innova_collecticiel_edit_common',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                    {{ 'Parameters'|trans({}, 'innova_collecticiel') }}
                </a>
            </li>

            <!-- ne pas toucher : bloc d'origine qui sert d'exemple -->
            <!-- Critères d'évaluation par l'enseignant -->
            {% block collecticiel_edit_navTabs_criteria_block %}
                <!-- class "peer-review-options" make this tab hidden when peerReview is not activated.  -->
                <li class="hometab-element peer-review-options {% block collecticiel_edit_navTabs_criteria_element_class %} {% endblock %}">
                    <a id="editCriteriaLink" href="
                    {% block collecticiel_edit_navTabs_criteria_element_link %}
                        {{ path('innova_collecticiel_edit_criteria_innova',{'resourceId':dropzone.id}) }}
                    {% endblock %}" class="hometab-link">
                        Critères d'évaluation par l'enseignant
                    </a>
                </li>
            {% endblock %}



        </ul>

        {% block drop_zone_content_edit %}
        {% endblock %}
    </div>
{% endblock %}