{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="glyphicon icon-file"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <h2>{{ dropzone.resourceNode.name|capitalize }}</h2>

        {{ macros.flashBox() }}

        {% if dropzone.isNotStarted %}
            <p class="text-muted">
                {{ 'Evaluation not started'|trans }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'Start %date%'|trans({'%date%': dropzone.startAllowDrop|date('formatDatetime'|trans) }) }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isAllowDrop %}
            <p class="text-muted">
                {{ 'Deposit phase'|trans }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'From %startDate% to %endDate%'|trans({'%startDate%': dropzone.startAllowDrop|date('formatDatetime'|trans), '%endDate%': dropzone.endAllowDrop|date('formatDatetime'|trans)}) }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isPeerReview %}
            <p class="text-muted">
                {{ 'Peer review phase'|trans }}
                {% if not dropzone.manualPlanning %}
                     - {{ 'From %startDate% to %endDate%'|trans({'%startDate%': dropzone.startReview|date('formatDatetime'|trans), '%endDate%': dropzone.endReview|date('formatDatetime'|trans)}) }}
                {% endif %}
            </p>
        {% endif %}
        {% if dropzone.isFinished %}
            <p class="text-muted">
                {{ 'Evaluation finished'|trans }}
            </p>
        {% endif %}

        <hr/>

        {% if drop is not null and drop.finished == true %}
            <div>
                {% set nbDocument = drop.documents|length %}
                {{ 'nbDocumentsInThisEvaluation'|transchoice(drop.documents|length) }}
                <ul>
                    {%  for document in drop.documents%}
                        <li>
                            {% include 'IcapDropzoneBundle:Dropzone:simpleShowDocument.html.twig' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if not dropzone.isAllowDrop and ((drop is null or drop.finished == false) and (dropzone.isPeerReview or dropzone.isFinished)) %}
            <div class="row">
                <div class="text-danger col-md-12">
                    {{ 'You have not made ​​a copy. It is too late to take part in this evaluation.'|trans }}
                </div>
            </div>
        {% endif %}

        {% if dropzone.isAllowDrop %}
            {% if drop is null or drop.finished == false %}
                <div class="row">
                    <div class="text-danger col-md-8">
                        {% if not dropzone.manualPlanning %}
                            {% set minutesRemainingBeforeEndAllowDrop = (dropzone.timeRemainingBeforeEndAllowDrop/60) %}
                            {% set hoursRemainingBeforeEndAllowDrop = (minutesRemainingBeforeEndAllowDrop/60) %}
                            {% set daysRemainingBeforeEndAllowDrop = (hoursRemainingBeforeEndAllowDrop/24) %}

                            {% if daysRemainingBeforeEndAllowDrop >= 1 %}
                                {{ 'There are only nb days to get your copy'|transchoice(daysRemainingBeforeEndAllowDrop|number_format) }}
                            {% elseif hoursRemainingBeforeEndAllowDrop >= 1 %}
                                {{ 'There are only nb hours to get your copy'|transchoice(hoursRemainingBeforeEndAllowDrop|number_format) }}
                            {% else %}
                                {{ 'There are only nb minutes to get your copy'|transchoice(minutesRemainingBeforeEndAllowDrop|number_format) }}
                            {% endif %}
                        {% else %}
                            {% if drop is not null and drop.finished == false %}
                                {{ 'You have an incomplete copy in progress'|trans }}
                            {% else %}
                                {{ 'You have not yet made a copy'|trans }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if drop is not null and drop.finished == false %}
                            <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Complete my copy'|trans }}</a>
                        {% else %}
                            <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Start evaluation'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if dropzone.timeRemainingBeforeStartReview > 0 and drop is not null and drop.finished == true %}
            <div class="row">
                <div class="col-md-12 text-danger">
                    {% set minutesRemainingBeforeStartReview = (dropzone.timeRemainingBeforeStartReview/60) %}
                    {% set hoursRemainingBeforeStartReview = (minutesRemainingBeforeStartReview/60) %}
                    {% set daysRemainingBeforeStartReview = (hoursRemainingBeforeStartReview/24) %}

                    {% if daysRemainingBeforeStartReview >= 1 %}
                        {{ 'There are only nb days before the beginning of the peer review'|transchoice(daysRemainingBeforeStartReview|number_format) }}
                    {% elseif hoursRemainingBeforeStartReview >= 1 %}
                        {{ 'There are only nb hours before the beginning of the peer review'|transchoice(hoursRemainingBeforeStartReview|number_format) }}
                    {% else %}
                        {{ 'There are only nb minutes before the beginning of the peer review'|transchoice(minutesRemainingBeforeStartReview|number_format) }}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if dropzone.peerReview %}
            {% set expectedCorrections = dropzone.expectedTotalCorrection - nbCorrections %}
        {% else %}
            {% set expectedCorrections = 0 %}
        {% endif %}
        {% if dropzone.isPeerReview and expectedCorrections > 0 %}
            {% if drop is not null and drop.finished == true %}
                {% if not dropzone.manualPlanning %}
                    <div class="row">
                        <div class="col-md-12 text-danger">
                            {% set minutesRemainingBeforeEndReview = (dropzone.timeRemainingBeforeEndReview/60) %}
                            {% set hoursRemainingBeforeEndReview = (minutesRemainingBeforeEndReview/60) %}
                            {% set daysRemainingBeforeEndReview = (hoursRemainingBeforeEndReview/24) %}
                            {% if daysRemainingBeforeEndReview >= 1 %}
                                {{ 'There are only nb days before the end of the peer review'|transchoice(daysRemainingBeforeEndReview|number_format) }}
                            {% elseif hoursRemainingBeforeEndReview >= 1 %}
                                {{ 'There are only nb hours before the end of the peer review'|transchoice(hoursRemainingBeforeEndReview|number_format) }}
                            {% else %}
                                {{ 'There are only nb minutes before the end of the peer review'|transchoice(minutesRemainingBeforeEndReview|number_format) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="text-danger col-md-9">
                        {{ 'nb correction remains'|transchoice(expectedCorrections) }}
                    </div>

                    <div class="col-md-3">
                        {% if hasCopyToCorrect == true and hasUnfinishedCorrection == false %}
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Correct a copy'|trans }}</a>
                        {% endif %}
                    </div>
                </div>

                {% if hasUnfinishedCorrection == true %}
                    <br/>
                    <div class="row">
                        <div class="col-md-9 text-danger">
                            {{ 'You have already begun a correction.'|trans }}
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Complete my correction'|trans }}</a>
                        </div>
                    </div>
                {% elseif hasCopyToCorrect == false %}
                    <br/>
                    <div class="row">
                        <div class="col-md-9 text-danger">
                            {{ 'Unfortunately there is no copy to correct for the moment. Please try again later'|trans }}
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('icap_dropzone_correct', {'resourceId': dropzone.id}) }}" class="btn btn-primary pull-right">{{ 'Retry'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if drop is not null and drop.finished == true and expectedCorrections <= 0 %}
            <hr/>
            <div class="row">
                {% if drop.countFinishedCorrections >= dropzone.expectedTotalCorrection %}
                    {% if drop.calculatedGrade >= dropzone.minimumScoreToPass %}
                        <div class='text-success'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Bravo ! Vous avez reussi cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Dropzone:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class='text-danger'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Dommage... Vous avez echoué cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Dropzone:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-12">
                        <strong>
                            {{ 'Finished! You have realized the nb corrections expected. Patience your copy is being corrected.'|transchoice(dropzone.expectedTotalCorrection) }}
                        </strong>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if dropzone.instruction is not null %}
            <hr/>
            <p class="text-muted">
                {{ 'Instruction_'|trans }}
            </p>
            <p>
                {{ dropzone.instruction|raw }}
            </p>
        {% else %}
            <br/>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}