{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block select2_widget %}
    {% spaceless %}
        <link rel="stylesheet" type="text/css" href="{{ asset('packages/select2/select2.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('packages/select2/select2-bootstrap.css') }}"/>
        <script src="{{ asset('packages/select2/select2.min.js') }}"></script>
        <div class="select2{% if errors|length > 0 %} has-error{% endif %}">
            {{ block('choice_widget') }}
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("{{"#"~form.vars['id']}}").select2();
            });
        </script>
    {% endspaceless %}
{% endblock %}
