{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false filter='less, cssmin' output='vendor/ujmexo/docimology.css'
        '@UJMExoBundle/Resources/styles/main.less'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div id="docimology" data-exercise="{{ exercise | json_encode | raw | escape }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-exo-docimology.js') }}"></script>
{% endblock %}
