{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-exo-quiz-resource.css') }}" />
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
      class="page-container quiz-container"
      data-quiz="{{ exercise | json_encode | raw | escape }}"
      data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script>
        // adds custom styles to TinyMCE for cloze questions
        window.tinymce.claroline.css = [window.Claroline.Home.asset + 'vendor/ujmexo/exercise.css']
    </script>
    
    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_exo' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'question_types' }) }}"></script>

    {# cannot use jsPlumb with webpack now (https://github.com/sporritt/jsPlumb/issues/314) #}
    <script src="{{ asset('packages/jsPlumb/dist/js/jsPlumb-2.1.3-min.js') }}"></script>

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-exo-quiz.js') }}"></script>
{% endblock %}
