{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Exercise styles #}
    {% stylesheets debug=false filter='less, cssmin' output='vendor/ujmexo/ujm-exo.css'
        'packages/angular-dragula/dist/dragula.min.css'
        '@UJMExoBundle/Resources/less/main.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Title of the Page #}
{% block title %} {{ 'exercise' | trans({}, 'ujm_exo') }} : {{ _resource.resourceNode.name }} {% endblock %}

{# Content of the Page #}
{% block section_content %}
    {# Initialize AngularJS application #}
    <div data-ng-app="ExerciseApp" data-ng-cloak="">
        <exercise
            data-exercise="{{ exercise | json_encode | raw | escape }}"
            data-nb-papers="{{ nbPapers }}"
            data-nb-user-papers="{{ nbUserPapers }}"
            data-edit-enabled="{{ editEnabled }}">
        </exercise>
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_sequence' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_exo' }) }}"></script>

    {# cannot use jsPlumb with webpack now (https://github.com/sporritt/jsPlumb/issues/314) #}
    <script src="{{ asset('packages/jsPlumb/dist/js/jsPlumb-2.1.3-min.js') }}"></script>
    <script src="{{ asset('packages/jquery-ui/jquery-ui.min.js') }}"></script>

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-exo-app.js') }}"></script>
{% endblock %}
