{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="official-support-management-body">
        <div id="official-support-info" class="well well-sm">
            {% if supportToken is empty %}
                {{ 'official_support_get_msg'|trans({}, 'support') }} :
                {% if app.request.locale == 'fr' %}
                    <a href="https://www.claroline.com/offre_support.html">
                        https://www.claroline.com/offre_support.html
                    </a>
                {% elseif app.request.locale == 'en' %}
                    <a href="https://www.claroline.com/EN/offre.html#support">
                        https://www.claroline.com/EN/offre.html#support
                    </a>
                {% else %}
                    <a href="https://www.claroline.com/offre_support.html">
                        https://www.claroline.com/offre_support.html
                    </a>
                {% endif %}
            {% else %}
                {{ 'official_support_look_msg'|trans({}, 'support') }} :
                {% if app.request.locale == 'fr' %}
                    <a href="https://www.claroline.com/offre_support.html">
                        https://www.claroline.com/offre_support.html
                    </a>
                {% elseif app.request.locale == 'en' %}
                    <a href="https://www.claroline.com/EN/offre.html#support">
                        https://www.claroline.com/EN/offre.html#support
                    </a>
                {% else %}
                    <a href="https://www.claroline.com/offre_support.html">
                        https://www.claroline.com/offre_support.html
                    </a>
                {% endif %}
            {% endif %}
        </div>

        {% if supportToken is not empty %}
            <b>{{ 'support_token'|trans({}, 'support') }}</b> : {{ supportToken }}
            <br>
            <b>{{ 'platform_url'|trans({}, 'support') }}</b> : {{ supportPlatformUrl }}

            {% if contactsData['contract'] is defined and contactsData['contract'] is not empty %}
                <br>
                <b>{{ 'contract'|trans({}, 'support') }}</b> : {{ contactsData['contract'] }}
            {% endif %}

            {% if supportData['supportContracts'] is defined and supportData['supportContracts']|length > 0 %}
                <br>
                <b>{{ 'support_contracts'|trans({}, 'support') }}</b> :
                {% for contract in supportData['supportContracts'] %}
                    {{ contract.num }}{% if not loop.last %},&nbsp;{% endif %}
                {% endfor %}
            {% endif %}

            {% if supportData['remainingTokens'] is defined and supportData['remainingTokens'].technical is defined %}
                <br>
                <b>{{ 'remaining_support_credits'|trans({}, 'support') }} ({{ 'technical'|trans({}, 'support') }})</b> :
                {{ supportData['remainingTokens'].technical }}
            {% endif %}

            {% if supportData['remainingTokens'] is defined and supportData['remainingTokens'].functional is defined %}
                <br>
                <b>{{ 'remaining_support_credits'|trans({}, 'support') }} ({{ 'functional'|trans({}, 'support') }})</b> :
                {{ supportData['remainingTokens'].functional }}
            {% endif %}

            {% if contactsData['contacts'] is defined and contactsData['contract']|length > 0 %}
                <br>
                <h3>{{ 'contacts'|trans({}, 'support') }}</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>{{ 'name'|trans({}, 'platform') }}</th>
                            <th>{{ 'email'|trans({}, 'platform') }}</th>
                            <th>{{ 'phone'|trans({}, 'platform') }}</th>
                        </tr>
                        {% for contact in contactsData['contacts'] %}
                            <tr>
                                <td>{{ contact.details.name }}</td>
                                <td>{{ contact.details.email }}</td>
                                <td>
                                    {% if contact.details.telephone is not empty %}
                                        <i class="fa fa-phone"></i>
                                        {{ contact.details.telephone }}
                                    {% endif %}
                                    {% if contact.details.cellPhone is not empty %}
                                        {% if contact.details.telephone is not empty %}
                                            <br>
                                        {% endif %}
                                        <i class="fa fa-mobile"></i>
                                        {{ contact.details.cellPhone }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% else %}
            <br>
            <div id="official-support-form">
                <div id="support-token-form-row" class="form-group row">
                    <label class="control-label col-md-3">
                        {{ 'support_token'|trans({}, 'support') }}
                    </label>
                    <div class="col-md-6">
                        <input id="support-token-input"
                               type="text"
                               class="form-control"
                        >
                        <div id="token-error-block" class="help-block field-error">
                        </div>
                    </div>
                </div>
                <div id="support-platform-url-form-row" class="form-group row">
                    <label class="control-label col-md-3">
                        {{ 'platform_url'|trans({}, 'support') }}
                    </label>
                    <div class="col-md-6">
                        <input id="support-platform-url-input"
                               type="text"
                               class="form-control"
                               value="{{ platformUrl }}"
                        >
                        <div id="platform-url-error-block" class="help-block field-error">
                        </div>
                    </div>
                </div>
                <button id="support-token-validate-btn" class="btn btn-primary">
                    {{ 'ok'|trans({}, 'platform') }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-official-support-management.js') }}"></script>
{% endblock %}