<div id="modal-admin-ticket-create-form"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'create_ticket'|trans({}, 'support') }}
            </h3>
        </div>
        <div class="modal-body">
            <form id="admin-ticket-create-form"
                  action="{{ path('formalibre_admin_ticket_create') }}"
                  method="POST"
                  {{ form_enctype(form) }}
            >
                <div class="form-group row">
                    <label class="control-label col-md-3">
                        {{ 'creator'|trans({}, 'platform') }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               value="{{ user.getFirstName() }} {{ user.getLastName() }}"
                               disabled
                        >
                    </div>
                </div>
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="submit" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>