{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_admin_support_forwarded_tickets',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'formalibre_admin_support_forwarded_tickets',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    <div id="forwarded-ticket-tab-body"
         {% if tickets|length == 0 %}class="hidden" {% endif %}
    >
        {% if tickets.getNbPages() > 1 %}
            {{ renderPager(tickets, search, orderedBy, order, max) }}
        {% endif %}
        <div class="table-responsive" id="forwarded-tickets-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a href="{{ sortUrl(search, 'title', order, max) }}">
                                {{ 'title'|trans({}, 'platform') }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ sortUrl(search, 'user', order, max) }}">
                                {{ 'forwarded_by'|trans({}, 'support') }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ sortUrl(search, 'creationDate', order, max) }}">
                                {{ 'forwarded_on'|trans({}, 'support') }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ sortUrl(search, 'type', order, max) }}">
                                {{ 'type'|trans({}, 'platform') }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ sortUrl(search, 'status', order, max) }}">
                                {{ 'status'|trans({}, 'support') }}
                            </a>
                        </th>
                        <th class="text-center">
                            {{ 'actions'|trans({}, 'platform') }}
                        </th>
                    </tr>
                </thead>
                <tbody id="forwarded-tickets-list">
                    {% for ticket in tickets %}
                        {% set ticketId = ticket.getId() %}
                        {% set ticketDescription = ticket.getDescription() %}
                        {% set comments = ticket.getComments() %}
                        <tr id="row-ticket-{{ ticketId }}">
                            <td>
                                <a href="{{ path('formalibre_admin_ticket_open', {'ticket': ticketId}) }}">
                                    {{ ticket.getTitle() }}
                                </a>
                            </td>
                            <td>
                                {% set user = ticket.getUser() %}
                                {{ user.getFirstName() }}
                                {{ user.getLastName() }}
                            </td>
                            <td>
                                {{ ticket.getCreationDate()|intl_date_format }}
                            </td>
                            <td>
                                {{ ticket.getType().getName()|trans({}, 'support') }}
                                {% if ticket.getType().getDescription() is not empty %}
                                    <i class="fa fa-info-circle pointer-hand"
                                       data-toggle="tooltip"
                                       data-container="body"
                                       data-placement="top"
                                       data-html="true"
                                       title="{{ ticket.getType().getDescription() }}"
                                    >
                                    </i>
                                {% endif %}
                            </td>
                            <td>
                                {% if ticket.getStatus() is not empty %}
                                    {{ ticket.getStatus().getName()|trans({}, 'support') }}
                                    {% if ticket.getStatus().getDescription() is not empty %}
                                        <i class="fa fa-info-circle pointer-hand"
                                           data-toggle="tooltip"
                                           data-container="body"
                                           data-placement="top"
                                           data-html="true"
                                           title="{{ ticket.getStatus().getDescription() }}"
                                        >
                                        </i>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if ticket.getLinkedTicket() is not empty %}
                                    <a href="{{ path('formalibre_admin_ticket_open', {'ticket': ticket.getLinkedTicket().getId()}) }}"
                                       class="btn btn-default btn-sm"
                                       data-toggle="tooltip"
                                       title="{{ 'original_ticket'|trans({}, 'support') }}"
                                    >
                                        <i class="fa fa-asterisk"></i>
                                    </a>
                                {% else %}
                                    <button class="btn btn-default btn-sm disabled"
                                            data-toggle="tooltip"
                                            title="{{ 'no_linked_ticket'|trans({}, 'support') }}"
                                    >
                                        <i class="fa fa-asterisk"></i>
                                    </button>
                                {% endif %}
                                {#<button class="btn btn-default cancel-ticket-btn btn-sm"#}
                                        {#data-ticket-id="{{ ticketId }}"#}
                                        {#data-toggle="tooltip"#}
                                        {#title="{{ 'cancel_support_request'|trans({}, 'support') }}"#}
                                {#>#}
                                    {#<i class="fa fa-times-circle"></i>#}
                                {#</button>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if tickets.getNbPages() > 1 %}
            {{ renderPager(tickets, search, orderedBy, order, max) }}
        {% endif %}
    </div>
    <div id="no-forwarded-ticket-alert"
         class="alert alert-warning {% if tickets|length > 0 %}hidden{% endif %}"
    >
        {{ 'no_ticket'|trans({}, 'support') }}
    </div>

    <button id="create-ticket-btn" class="btn btn-primary">
        {{ 'create_ticket'|trans({}, 'support') }}
    </button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-forwarded-tickets.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-admin-support-tabs.js') }}"></script>
{% endblock %}