{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-exo-question-bank-tool.css') }}" />
{% endblock %}

{# Title of the Page #}
{% block title %}{{ 'bank_of_questions' | trans({}, 'ujm_exo') }}{% endblock %}

{# Override breadcrumbs #}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([{
            'name': 'desktop'|trans({}, 'platform'),
            'href': path('claro_desktop_open')
        }, {
            'name': 'bank_of_questions'|trans({}, 'ujm_exo'),
            'href': ''
        }])
    }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        id="questions-bank"
        class="page-container"
        data-initial="{{ initialSearch | json_encode | raw | escape }}"
        data-user="{{ currentUser | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_exo' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'question_types' }) }}"></script>

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-exo-bank.js') }}"></script>
{% endblock %}
