{% extends 'ClarolineCommonBundle::app_layout.html.twig' %}

{% block content %}
    
<h4>{{ 'global.desktop'|trans({}, 'ClarolineCommonBundle') }}</h4>

<a href="{{ path('claro_workspace_new_workspace') }}">{{ 'workspace.create'|trans({}, 'ClarolineWorkspaceBundle') }}</a>
<a href="{{ path('claro_security_logout') }}">{{ 'security.logout'|trans({}, 'ClarolineSecurityBundle') }}</a>

<ul id="workspaces" >

    {% for workspace in workspaces %}
        <li>
            <a href="">{{ workspace.name }}</a> 
            <form action="{{ path('claro_workspace_delete_workspace', {'id': workspace.id}) }}" method="post">
                <input type="submit" value="Delete" {% if not is_granted('DELETE', workspace) %}disabled="true"{% endif %}/>
            </form>
        </li>
    {% endfor %}

</ul>

{% endblock %}
