{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<div class="homespans span6">
    <center>
        <img src="{{ asset("bundles/clarolinecore/images/logo/claroline-logo-bulles-177x200.png") }}"  style="height:137px" />

    </center>
    <br>
    <div class="border">
        <div class="margin">
            <h3 class="sub-section-header">ClarolineConnect&#169; Demo</h3>

            <table width="100%">
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ 'admin'|trans({}, 'platform')}}</td>
                    <td>{{ 'teacher'|trans({}, 'platform')}}</td>
                </tr>
                <tr>
                    <th>{{ 'username'|trans({}, 'platform')}}:</th>
                    <td><em class="text-info">JohnDoe</em></td>
                    <td><em class="text-info">JaneDoe</em></td>
                </tr>
                <tr>
                    <th>{{ 'password'|trans({}, 'platform')}}:</th>
                    <td><em class="text-info">JohnDoe</em></td>
                    <td><em class="text-info">JaneDoe</em></td>
                </tr>
            </table>

            <a href="{{ path('claro_desktop_open') }}" class="btn btn-primary">{{ 'login'|trans({}, 'platform')}} &raquo;</a>
        </div>
    </div>
</div>

<div class="homespans span6">
    <div class="border">
        <div class="margin">
            <h3 class="sub-section-header">ClarolineConnect&#169;</h3>

            <p>
            <a href="http://dev.claroline.net/claronext-master/web/" target="_blank">ClarolineConnect&#169;</a> : plateforme <b>Claroline</b> de nouvelle g&eacute;n&eacute;ration.<br><br> 
            Cet espace de d&eacute;monstration  propose un aper&ccedil;u des diverses fonctionnalit&eacute;s de ce <a href="" target="_blank">LMS</a> <i>(Learning Management System)</i> r&eacute;solument tourn&eacute; vers les usages d'aujourd'hui et les technologies de demain, tout en respectant les objectifs fondamentaux du projet <b>Claroline</b>: simplicit&eacute; d'utilisation, souplesse de mise en oeuvre et stabilit&eacute; du code.<br><br>
            La volont&eacute; des auteurs est aussi de permettre l'utilisation du logiciel par le plus grand nombre, d'o&ugrave; le choix d'une licence <b>Open Source</b> pour sa diffusion.

            <hr>

            <div id="collapse" class="collapse">
                Conçue pour satisfaire le monde de l’enseignement, de la formation mais aussi de l'entreprise, la plateforme <a href="http://dev.claroline.net/claronext-master/web/" target="_blank">ClarolineConnect&#169;</a> <i>(dont la version Bêta sortira en septembre 2013)</i>, permet aux utilisateurs une plus grande ouverture vers le web et les outils collaboratifs. <br><br>
                Davantage centrée sur l'utilisateur, <a href="http://dev.claroline.net/claronext-master/web/" target="_blank">ClarolineConnect&#169;</a>  propose des outils d’apprentissage performants en intégrant des fonctions de type réseau social ainsi que des outils communautaires et interactifs <i>(wiki, forum, blog ...)</i>.<br><br>
                Libre d'élaborer son environnement personnel d'apprentissage ou de construire un dispositif pédagogique au moyen d'outils variés et adaptés au contexte, dans un environnement ultra-personnalisable, l'utilisateur pourra partager, gérer, stocker, diffuser l'information tout en disposant d'un haut niveau de suivi des activités.<br><br>
Interconnectée avec son environnement, la nouvelle plateforme <a href="http://dev.claroline.net/claronext-master/web/" target="_blank">ClarolineConnect&#169;</a>, actualisée sur le plan ergonomique, permettra à l'ensemble des utilisateurs de travailler davantage ensemble, avec un accès à plus de technologies et de fonctionnalités, tout en conservant la simplicité d'usage, la souplesse de mise en oeuvre et la stabilité du code.
            </div>

            </p>

            <a data-toggle="collapse" data-parent="#accordion" href="#collapse" class="btn btn-primary">En savoir plus &raquo;</a>

        </div>
    </div>
</div>

{% endblock %}
