<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ "Content regions" | trans({}, "home") }}</h3>
</div>
<div class="modal-body" data-id="{{ id }}">
    <div class="content row-fluid">
        <a class="span12 border" data-region="header">{{ "Header" | trans({}, "home") }}</a>
        <a class="span2 border" data-region="left">{{ "Left" | trans({}, "home") }}</a>
        <a class="span8 border" data-region="content">{{ "Content" | trans({}, "home") }}</a>
        <a class="span2 border" data-region="right">{{ "Right" | trans({}, "home") }}</a>
        <a class="span12 border" data-region="footer">{{ "Footer" | trans({}, "home") }}</a>
    </div>
</div>
