<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ "Size of content" | trans({}, "home")}}</h4>
        </div>
        <div class="modal-body clearfix" data-id="{{ id }}" data-type="{{ type }}">
            {% for i in 4..7 %}
                <div class="content-{{ i }}"><div class="panel panel-default{% if size == i %} active{% endif %}">{{ i }}</div></div>
                <div class="content-{{ 8-i }}"><div class="panel panel-default{% if size == 8-i %} active{% endif %}">{{ 8-i }}</div></div>
            {% endfor %}
                <div class="content-8"><div class="panel panel-default{% if size == 8 %} active{% endif %}">8</div></div>
        </div>
    </div>
</div>
