{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

<form id="form_log_update_desktop_widget"
    method="POST"
    action="{{ path('claro_log_update_desktop_widget_config', {'isDefault': isDefault, 'redirectToHome': app.request.isXMLHttpRequest ? 1 : 0})}}"

    class="form-horizontal"
    {{ form_enctype(form) }}>

    <div class="panel-body">
        {% if not isDefault %}
            <legend>{{ 'Choose workspaces displayed in the widget'|trans({}, 'platform') }}</legend>
        {% endif %}
        {{ form_widget(form._token) }}
        {{ form_widget(form) }}
    </div>

    {{ macros.flashBox() }}
    {% if app.request.isXMLHttpRequest %}
            {% set cancelUrl = path('claro_desktop_open_tool', {'toolName': 'home'}) %}
        {% else %}
            {% if isDefault %}
                {% set cancelUrl = path('claro_admin_widgets') %}
            {% else %}
                {% set cancelUrl = path('claro_desktop_widget_properties') %}
            {% endif %}
        {% endif %}
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ cancelUrl }}">
            <button type="button" class="btn btn-default claro-widget-form-cancel">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>
