<div class='list-group'>
    <div class='list-group-item'>
        <h4>{{ 'result'|trans }}</h4>
        <dl class="dl-horizontal">
            <dt>{{ 'score'|trans }}<dt>
            <dd>{{ log.details.result }}</dd>

            <dt>{{ 'score_max'|trans }}<dt>
            <dd>{{ log.details.resultMax }}</dd>
        </dl>
    </div>
</div>
