{% if log.getDetails().receiverUser is defined %}
    <strong>
        {% if log.getReceiver() != null %}
            <a href="{{ path('claro_public_profile_view', {'publicUrl': log.getReceiver().getPublicUrl()}) }}">
                {{ log.getDetails().receiverUser.firstName }} {{ log.getDetails().receiverUser.lastName }}
            </a>
        {% else %}
            <em>{{ log.getDetails().receiverUser.firstName }} {{ log.getDetails().receiverUser.lastName }}</em>
        {% endif %}
    </strong>
{% endif %}
