<div id="modal-event-form" class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ 'import.resources_title'|trans({}, 'reservation') }}</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-info">
                <span class="fa fa-info-circle"></span>
                {{ 'import.resources_info'|trans({}, 'reservation')|nl2br }}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>resource_type</th>
                        <th>name</th>
                        <th>max_time_reservation</th>
                        <th>description</th>
                        <th>localisation</th>
                        <th>quantity</th>
                        <th>color</th>
                    </tr>
                    <tr>
                        <td>Salles</td>
                        <td>{{ 'import.tv'|trans({}, 'reservation') }}</td>
                        <td>01:00</td>
                        <td></td>
                        <td>{{ 'import.tv_localisation'|trans({}, 'reservation') }}</td>
                        <td>3</td>
                        <td>#FFFFFF</td>
                    </tr>
                </table>
            </div>
            <form method="post"
                  action="{{ action }}"
                  id="import-resources" {{ form_enctype(form) }}
                  role="form"
                    >
                <div class="form-group">
                    {{ form_widget(form) }}

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="btn btn-default" data-dismiss="modal">{{'cancel'|trans({}, 'platform') }}</div>
            <button type="submit" class="btn btn-primary">{{ 'import.resources_submit'|trans({}, 'reservation') }}</button>
        </div>
    </div>
</div>