<div id="modal-event-form" class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{% if editMode %} {{ 'modify_resource'|trans({}, 'reservation') }} {% else %}{{ 'add_resource'|trans({}, 'reservation') }} {% endif %}</h4>
        </div>
        <form method="post"
              action="{{ action }}"
              id="form-resource" {{ form_enctype(form) }}
              role="form"
        >
            <div class="modal-body">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.localisation) }}
                {{ form_row(form.maxTimeReservation) }}
                {{ form_row(form.quantity) }}
                <div class="form-group row">
                    <label for="resource_form_color" class="col-md-3 control-label">{{ 'form.color'|trans({}, 'reservation') }}</label>
                    <div class="col-md-9">
                        <div class="input-group color-picker">
                            {{ form_widget(form.color) }}
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info">
                    <span class="fa fa-info-circle"></span> {{ 'form.information_about_quantity_modification'|trans({}, 'reservation') }}
                </div>
                <div class="roles-list">
                    {% for role in roles %}
                        {% if role.getName != 'ROLE_ADMIN' %}
                            <div class="row" data-role-id="{{ role.getId() }}">
                                <div class="col-sm-3">
                                    {{ role.getTranslationKey()|trans({}, 'platform') }}
                                </div>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-justified roles-list-btn">
                                        {% set classNameMask0 = 'btn-default' %}
                                        {% set classNameMask1 = 'btn-default' %}
                                        {% set classNameMask3 = 'btn-default' %}
                                        {% set classNameMask7 = 'btn-default' %}
                                        {% if resourcesRights is defined %}
                                            {% if resourcesRights[role.getId()] is defined %}
                                                {% set mask = resourcesRights[role.getId()] %}
                                                {% if mask == 0 %}
                                                    {% set classNameMask0 = 'btn-primary'%}
                                                {% elseif mask == 1 %}
                                                    {% set classNameMask1 = 'btn-primary' %}
                                                {% elseif mask == 3 %}
                                                    {% set classNameMask3 = 'btn-primary' %}
                                                {% else %}
                                                    {% set classNameMask7 = 'btn-primary' %}
                                                {% endif %}
                                            {% else %}
                                                {% set classNameMask0 = 'btn-primary' %}
                                            {% endif %}
                                        {% else %}
                                            {% set classNameMask0 = 'btn-primary' %}
                                        {% endif %}
                                        <span class="btn {{ classNameMask0 }}" data-mask="0">{{ 'agenda.resource.cannot_see'|trans({}, 'reservation') }}</span>
                                        <span class="btn {{ classNameMask1 }}" data-mask="1">{{ 'agenda.resource.see'|trans({}, 'reservation') }}</span>
                                        <span class="btn {{ classNameMask3 }}" data-mask="3">{{ 'agenda.resource.book'|trans({}, 'reservation') }}</span>
                                        <span class="btn {{ classNameMask7 }}" data-mask="7">{{ 'agenda.resource.admin'|trans({}, 'reservation') }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <div>{{ 'agenda.resource.cannot_see'|trans({}, 'reservation') }}: {{ 'agenda.resource.cannot_see_info'|trans({}, 'reservation') }}</div>
                        <div>{{ 'agenda.resource.see'|trans({}, 'reservation') }}: {{ 'agenda.resource.see_info'|trans({}, 'reservation') }}</div>
                        <div>{{ 'agenda.resource.book'|trans({}, 'reservation') }}: {{ 'agenda.resource.book_info'|trans({}, 'reservation') }}</div>
                        <div>{{ 'agenda.resource.admin'|trans({}, 'reservation') }}: {{ 'agenda.resource.admin_info'|trans({}, 'reservation') }}</div>
                        <div class="bold">{{ 'agenda.resource.rights_info'|trans({}, 'reservation') }}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-default" data-dismiss="modal">{{'cancel'|trans({}, 'platform') }}</div>
                {% if editMode %}
                    <span class="btn btn-danger delete-resource" data-dismiss="modal" data-resource-id="{{ resource.getId() }}">{{ 'delete_resource'|trans({}, 'reservation') }}</span>
                {% endif %}
                <button type="submit" class="btn btn-primary">{% if editMode %} {{ 'modify_resource'|trans({}, 'reservation') }} {% else %}{{ 'add_resource'|trans({}, 'reservation') }} {% endif %}</button>
            </div>
        </form>
    </div>
</div>