<div id="modal-event-form" class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="agendaModalLabel">{{ 'form.change_resource_type_name_title'|trans({}, 'reservation') }}</h4>
        </div>
        <form method="post"
              action="{{ action }}"
              id="form-resource" {{ form_enctype(form) }}
              role="form"
                >
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <div class="btn btn-default" data-dismiss="modal">{{'cancel'|trans({}, 'platform') }}</div>
                <button type="submit" class="btn btn-primary">{{ 'form.change_resource_type_name'|trans({}, 'reservation') }}</button>
            </div>
        </form>
    </div>
</div>