<form novalidate="novalidate"
      action="{{ path('claro_resource_rights_edit', {'resource':resourceRights.getResource().getId()}) }}"
      method="post"
      class="form-horizontal form-right-resource"
      id="resource-right-form">
        <input name="roles[{{ roleId }}][open]" type="checkbox" {% if resourceRight.canOpen() %} checked {% endif %}
        <input name="roles[{{ roleId }}][copy]" type="checkbox" {% if resourceRight.canCopy() %} checked {% endif %}
        <input name="roles[{{ roleId }}][edit]" type="checkbox" {% if resourceRight.canEdit() %} checked {% endif %}
        <input name="roles[{{ roleId }}][export]" type="checkbox" {% if resourceRight.canExport() %} checked {% endif %}
        <input name="roles[{{ roleId }}][delete]" type="checkbox" {% if resourceRight.canDelete() %} checked {% endif %}
        {% if isDir %}
            <a data-resource-id="{{ resource.getId() }}"
               class="res-creation-options"
               href="#">
               {{ 'options'|trans({}, 'platform') }}
            </a>
        {% endif %}
    <div class="form-actions">
        <button id="submit-right-form-button" type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
    </div>
</form>

