{% extends 'ClarolineCoreBundle:administration:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'competencies'|trans({}, 'tools')|striptags|raw }}
{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'competencies'|trans({}, 'tools'),
        'href': ''
    }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container competencies-container"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ hotAsset('claroline-distribution-plugin-competency-competencies') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-competency-competency.css') }}" />
{% endblock %}