{% for tool in tools %}
<a class="list-group-item{{ path('claro_desktop_open_tool', {'toolName': tool.getName() }) | compareRoute(" active") | raw }}"
    href="{{ path('claro_desktop_open_tool', {'toolName': tool.getName() }) }}"
    id="{{ tool.getName() }}-link"
    data-original-title="{{ tool.getName()|trans({}, 'tools') }}"
    >
    <i class="{{ tool.getClass() }}"></i>
    {% if tool.getDisplayName is empty %}
        <span>{{ tool.getName()|trans({}, 'tools') }}</span>
    {% else %}
        <span>{{ tool.getDisplayName()|trans({}, 'tools') }}</span>
    {% endif %}
</a>
{% endfor %}
