{% for tool in tools %}
    <li{% if path('claro_desktop_open_tool', {'toolName': tool.getName() }) == app.request.requesturi %} class="active"{% endif %}>
    <a href="{{ path('claro_desktop_open_tool', {'toolName': tool.getName() }) }}"
        id="{{ tool.getName() }}-link"
        data-original-title="{{ tool.getName()|trans({}, 'tools') }}"
        >
        <i class="{{ tool.getClass() }}"></i>
        <i class="icon-chevron-right pull-right"></i>
        {% if tool.getDisplayName is empty %}
            <span>{{ tool.getName()|trans({}, 'tools') }}</span>
        {% else %}
            <span>{{ tool.getDisplayName()|trans({}, 'tools') }}</span>
        {% endif %}
    </a>
{% endfor %}


