<div class="form-group row">
    <div id="Instructions" class="alert alert-info col-md-12">
        <a class="close" onclick="HideInstruction();">&times;</a>
        <p>{{ 'instruction_add_hole' | trans }}</p>
    </div>
    <label class="control-label col-md-1">{{ 'hole' | trans }}</label> 
    <div id="holeEditor" class="col-md-9">{{ form_widget(form.html) }}</div>
</div>
<div class="form-group">
    <div class="btn-group">
        <a id="create_hole" class="btn btn-primary" onclick="createHole();"><i class="fa fa-plus"></i> {{ 'create_hole' | trans }}</a>
        <a class="btn btn-default" onclick="DisplayInstruction();" id="showInstruct"><i class="fa fa-question"></i></a>
        <a class="btn btn-default" onclick="HideInstruction();" id="hideInstruct"><i class="fa fa-question"></i></a>
    </div>  
</div>
{#{ form_row(form.holes) }#}
<div id="holeError" class="form-group {% if not form.holes.vars.valid %} has-error{% endif %}">
    {{ form_errors(form.holes) }}
</div>
<div id="tableHoles" class="form-group" >
     {{ form_widget(form.holes) }}
</div>
