<div>
    {{ form_row(form.typeMatching) }}
    <div class="form-group row">
        {{ form_label(form.shuffle) }}
        <div class="col-md-9">{{ form_widget(form.shuffle) }}</div>
    </div>
        <center>
            <table>
                <tr>
                    <td>
                        <div id="proposalError"></div>
                        <div id="tableProposal" style='text-align: center;'></div>
                        {{ form_row(form.proposals) | replace({"col-md-3": "col-md-12"}) | raw }}
                        {{ form_errors(form.proposals) }}
                    </td>
                    <td style='padding: 100px;'> </td>
                    <td>
                        <div id="labelError"></div>
                        <div id="tableLabel" style='text-align: center;'></div>
                        {{ form_row(form.labels) | replace({"col-md-3": "col-md-12"}) | raw }}
                        {{ form_errors(form.labels) }}
                    </td>
                </tr>
            </table>
        </center>
</div>
