<div>
    {{ form_row(form.typeopenquestion) }}

    <div id="qOpenScoreMaxLongResp">
        <div class="form-group row">
            {{ form_label(form.scoreMaxLongResp) }}
            <div class="col-md-9">
                {{ form_widget(form.scoreMaxLongResp) }}
                {{ form_errors(form.scoreMaxLongResp) }}
            </div>
        </div>
    </div>

    <div id="qOpenOrthography" style="display: none;">
        <p>
            {{ form_label(form.orthographyCorrect) }}
            {{ form_widget(form.orthographyCorrect) }}
        </p>
    </div>

    <!--<div id="qOpenUnit" style="display: none;">
        <p>
            {#{ form_row(form.unit) }#}
        </p>
    </div>-->

    <div id="qOpenKeyword" style="display: none;">
        <p>
            {{ form_row(form.wordResponses) }}
        </p>
    </div>
</div>