<div>
    <div>
        <div class="form-group row">
            {{ form_errors(form.scoreRightResponse) }}
            <div class="col-md-3">{{ form_widget(form.scoreRightResponse) }}</div>
            {{ form_errors(form.scoreFalseResponse) }}
            <div class="col-md-3">{{ form_widget(form.scoreFalseResponse) }}</div>
        </div>
        <div class="form-group row">
            {{ form_label(form.weightResponse) }}
            <div class="col-md-2">{{ form_widget(form.weightResponse) }}</div>
            <br> <a class="btn btn-default" data-toggle="collapse" data-target="#collepseinteraction">Feedback général   </a><br>
        </div>
    </div>

    <div>
        <div class="form-group row">
            {{ form_label(form.shuffle) }}
            <div class="col-md-9">{{ form_widget(form.shuffle) }}</div>
        </div>
        {{ form_row(form.typeQCM) }}
         <div id="choiceError"></div>
         <div id="tableChoice"></div>
         {{ form_row(form.choices) | replace({"col-md-3": "col-md-12"}) | raw }}
         {{ form_errors(form.choices) }}
    </div>
</div>