<div>
<div class="form-group row">
<div id="QCMweightChoice">
    {{ form_label(form.weightResponse) }}
    <div id="weightChoiceCheckbox" class="col-md-1">{{ form_widget(form.weightResponse) }}</div>
</div>
<!-- disabled -->
    <div id="scoreReponse">
        {{ form_errors(form.scoreRightResponse) }}
        <label id="labelRightResponse" class="control-label col-md-1">{{'Inter_QCM.ScoreRightResponse' | trans }}</label>           
        <div class="col-md-2">{{ form_widget(form.scoreRightResponse) }}</div>
  
        {{ form_errors(form.scoreFalseResponse) }}
        <label id="labelFalseResponse" class="control-label col-md-1">{{ 'Inter_QCM.ScoreFalseResponse' | trans }}</label>
        <div class="col-md-2">{{ form_widget(form.scoreFalseResponse) }}</div>
    </div>
</div>
<!-- disabled off-->

<div id="QCMshuffle" class="form-group row">
    {{ form_label(form.shuffle) }}
    <div class="col-md-9">{{ form_widget(form.shuffle) }}</div>
</div>
{{ form_row(form.typeQCM) }}
<div id="choiceError"></div>
<div id="tableChoice"></div>
{{ form_errors(form.choices) }}
{{ form_row(form.choices) | replace({"col-md-3": "col-md-12"}) | raw }}
</div>
