<div>
    <div>
        <div id="QCMweightChoice" class="form-group row">
            {{ form_label(form.weightResponse) }}
            <div id="weightChoiceCheckbox" class="col-md-2">{{ form_widget(form.weightResponse) }}</div>
        </div>
        <!-- disabled -->
        <div id="QCMRightResponse" class="form-group row">
            {{ form_errors(form.scoreRightResponse) }}
            <div class="col-md-3">{{ form_widget(form.scoreRightResponse) }}</div>
            {{ form_errors(form.scoreFalseResponse) }}
            <div id="QCMFalseResponse" class="col-md-3">{{ form_widget(form.scoreFalseResponse) }}</div>
        </div>
    </div>
        <!-- disabled off-->
    <div>
        <div id="QCMshuffle" class="form-group row">
            {{ form_label(form.shuffle) }}
            <div class="col-md-9">{{ form_widget(form.shuffle) }}</div>
        </div>
        {{ form_row(form.typeQCM) }}
         <div id="choiceError"></div>
         <div id="tableChoice"></div>
         {{ form_row(form.choices) | replace({"col-md-3": "col-md-12"}) | raw }}
         {{ form_errors(form.choices) }}
    </div>
</div>