<div class="show-during-add" style="display: none;">
    <hr/>
    <div class="container-inline"></div>
</div>

<h4>{{ 'Add a document'|trans({}, 'innova_collecticiel') }}</h4>

<div class='div-test well'>

    {# ****************************************************** #}
    {# InnovaERV                                              #}
    {# Partie "affichage des menus"                           #}
    {# A noter : si l'ordre est changé                        #}
    {# alors il faut modifier l'autre partie, voir ci-dessous #}
    {# ****************************************************** #}
    {% if allowedTypes|length <= 0 %}
        <span class="text-danger">{{ 'No document type allowed'|trans({}, 'innova_collecticiel') }}</span>
    {% else %}
        {% if (adminInnova == false and collecticielOpenOrNot == false) %}
            <div class="alert alert-warning">
                {{ 'NotAllowToAddAnyDocument'|trans({}, 'innova_collecticiel') }}
            </div>
        {% else %}
            {% set activeClass = " active " %}
            <ul class="nav nav-tabs">
                {# Déposer un fichier #}
                {% if 'file' in allowedTypes %}
                    {% if lastType == 'file' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <li class="{{ activeClass }}">
                        <a href="#file-tab" data-toggle="tab">{{ 'file' |trans({}, 'innova_collecticiel') }}</a>
                    </li>
                    {% set activeClass = "" %}
                {% endif %}
                {# Saisir une URL #}
                {% if 'url' in allowedTypes %}
                    {% if lastType == 'url' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <li class="{{ activeClass }}">
                        <a href="#url-tab" data-toggle="tab">{{ 'url' |trans({}, 'innova_collecticiel') }}</a>
                    </li>
                    {% set activeClass = "" %}
                {% endif %}
                {# Ajouter une ressource #}
                {% if 'resource' in allowedTypes %}
                    {% if lastType == 'resource' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <li class="{{ activeClass }}">
                        <a href="#resource-tab" data-toggle="tab">{{ 'resource' |trans({}, 'innova_collecticiel') }}</a>
                    </li>
                    {% set activeClass = "" %}
                {% endif %}
                {# Rédiger un texte #}
                {% if 'text' in allowedTypes %}
                    {% if lastType == 'text' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <li class="{{ activeClass }}">
                        <a href="#text-tab" data-toggle="tab">{{ 'text' |trans({}, 'innova_collecticiel') }}</a>
                    </li>
                    {% set activeClass = "" %}
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}

    {# ******************************************** #}
    {# InnovaERV                                    #}
    {# Partie "affichage des zones de saisies"      #}
    {# A noter : c'est ici qu'il faut faire         #}
    {# les modifications si on change l'ordre       #}
    {# et que l'on veut garder les zones de saisies #}
    {# ******************************************** #}
     {% if not (adminInnova == false and collecticielOpenOrNot == false) %}
        {% if allowedTypes|length > 0 %}
            <div class="tab-content">
                {# Déposer un fichier #}
                {% if 'file' in allowedTypes %}
                    {% if lastType == 'file' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <div class="tab-pane {{ activeClass }}" id="file-tab">
                        {% include 'InnovaCollecticielBundle:Document:documentForm.html.twig'
                        with {'form':form_file, 'documentType': 'file'} %}
                    </div>
                {% endif %}
                {# Saisir une URL #}
                {% if 'url' in allowedTypes %}
                    {% if lastType == 'url' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <div class="tab-pane {{ activeClass }}" id="url-tab">
                        {% include 'InnovaCollecticielBundle:Document:documentForm.html.twig'
                        with {'form':form_url, 'documentType': 'url'} %}
                    </div>
                {% endif %}
                {# Ajouter une ressource #}
                {% if 'resource' in allowedTypes %}
                    {% if lastType == 'resource' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <div class="tab-pane {{ activeClass }}" id="resource-tab">
                        {% include 'InnovaCollecticielBundle:Document:documentForm.html.twig'
                        with {'form':form_resource, 'documentType': 'resource'} %}
                    </div>
                {% endif %}
                {# Rédiger un texte #}
                {% if 'text' in allowedTypes %}
                    {% if lastType == 'text' %}
                        {% set activeClass = " active " %}
                    {% else %}
                        {% set activeClass = "" %}
                    {% endif %}
                    <div class="tab-pane {{ activeClass }}" id="text-tab">
                        {% include 'InnovaCollecticielBundle:Document:documentForm.html.twig'
                        with {'form':form_text, 'documentType': 'text'} %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
