<form class="form-horizontal" role="form" method="POST"
 action="{{ path('innova_collecticiel_add_notation') }}">
          
    <div class="innova_collecticiel_notation_form container">

        <div class="row">
            <div class="form-group col-md-6">
                {# Bloc "Rappel des instructions ..." #}
                {% if dropzone.instruction != null %}
                    {% include 'InnovaCollecticielBundle:Dropzone:recallInstructionTeacher.html.twig' %}
                {% endif %}
            </div>
            <div class="form-group col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group col-md-6">
                {{ 'Review on'|trans({}, 'innova_collecticiel') }}
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group row col-md-6">
                <table class="table table-responsive table-condensed well table-striped">
                    <tbody class="table">
                        <tr>
                            <td>{{ 'Type'|trans({}, 'innova_collecticiel') }}</td>
                            <td>{{ 'Document'|trans({}, 'innova_collecticiel') }}</td>
                        </tr>
                        <tr>
                            <td>{{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}</td>
                            <td>{{ documentTitle }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group row col-md-6">
                {{ 'Author'|trans({}, 'innova_collecticiel') }}
                {{ drop.user.firstName }} {{ drop.user.lastName }}
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        {% if dropzone.evaluationType == "notation" %}
            <div class="row text-left">
                <div class="form-group row col-md-6">
                    {{ 'Grade'|trans({}, 'innova_collecticiel') }}
                    <label>
                        <input id="innova_collecticiel_notation_form_note" name="innova_collecticiel_notation_form[note]" required="required" min="0" max="9999" placeholder="{{ notationDocument }}" class="form-control" type="integer">
                    </label>
                    {{ 'Notation Max'|trans({}, 'innova_collecticiel') }}
                    {{ maximumNotation }}
                    {{ ')' }}
                </div>
                <div class="form-group row col-md-6">
                </div>
            </div>
        {% endif %}

        {% if dropzone.evaluationType == "ratingScale" %}
            <div class="row text-left">
                <div class="form-group col-md-6">
                    {{ 'Global comment'|trans({}, 'innova_collecticiel') }}
                </div>
            </div>

            <div class="row text-left">
                <div class="form-group col-md-6">
                    <textarea id="innova_collecticiel_notation_form_commentText" name="innova_collecticiel_notation_form[commentText]" required="required" value="{{ notationCommentDocument }}" class="claroline-tiny-mce hide">
                    </textarea>
                </div>
            </div>

            <div class="row text-left">
                <div class="form-group col-md-6">
                    {{ 'Quality argument'|trans({}, 'innova_collecticiel') }}
                </div>
            </div>

            <div class="row text-left">
                <div class="form-group col-md-6">
                        <textarea id="innova_collecticiel_notation_form_qualityText" name="innova_collecticiel_notation_form[qualityText]" required="required" value="{{ notationQualityDocument }}" class="claroline-tiny-mce hide">
                        </textarea>
                </div>
            </div>
        {% endif %}

    </div>
</form>
