{% extends 'ClarolineCoreBundle:Administration:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false output='vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css'
    '../vendor/xaguilars/bootstrap-colorpicker/css/bootstrap-colorpicker.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}

    {% image debug=false output='vendor/bootstrap-colorpicker/img/bootstrap-colorpicker/alpha.png'
        '../vendor/xaguilars/bootstrap-colorpicker/img/bootstrap-colorpicker/alpha.png' %}
    {% endimage %}

    {% image debug=false output='vendor/bootstrap-colorpicker/img/bootstrap-colorpicker/hue.png'
        '../vendor/xaguilars/bootstrap-colorpicker/img/bootstrap-colorpicker/hue.png' %}
    {% endimage %}

    {% image debug=false output='vendor/bootstrap-colorpicker/img/bootstrap-colorpicker/saturation.png'
        '../vendor/xaguilars/bootstrap-colorpicker/img/bootstrap-colorpicker/saturation.png' %}
    {% endimage %}

{% endblock %}

{% block section_content %}
    <div id="homePath" class="hide">{{ path("claro_index") }}</div>

    <div class="theme-generator">
        <h3 class="sub-section-header">
            {% if theme is defined %}
            {{ "Edit theme" | trans({}, "theme") }}<em> ({{ theme.name }})</em>
            {% else %}
                {{ "New theme" | trans({}, "theme") }}
            {% endif %}
        </h3>
        {% if parameters is defined %}
            <div class="row">
                <div class="col-lg-6">
                    <h4>{{ "Theme parameters" | trans({}, "theme") }}</h4>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>{{ "Theme name" | trans({}, "") }}:</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="theme-name"{% if theme is defined %} value="{{ theme.getName() }}"{% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-actions" colspan="2">
                                <button class="btn save btn-primary"{% if theme is defined %} data-id="{{ theme.getId() }}"{% endif %}><i class="icon-ok"></i> {{ "Save" | trans({}, "") }}</button>
                                <a href="{{ path("claroline_admin_theme_list") }}" class="btn btn-default"><i class="icon-reply"></i> {{ "Cancel" | trans({}, "") }}</a>
                                <button class="btn btn-default preview"{% if theme is defined %} data-id="{{ theme.getId() }}"{% endif %}><i class="icon-eye-open"></i> {{ "Preview" | trans({}, "") }}</button>
                                {% if theme is defined %}
                                    <button class="btn btn-default dele" data-id="{{ theme.getId() }}"><i class="icon-trash"></i> {{ "Delete" | trans({}, "") }}</button>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <h4>{{ "Colors" | trans({}, "theme")}}</h4>
                    <table class="table table-bordered table-striped">
                        {% for code,value in parameters.getColors() %}
                            <tr>
                                <td class="theme-code"><code>{{ code }}</code></td>
                                <td class="theme-value"><input class="picker input-small" type="text" value="{{ value }}"></td>
                                <td class="theme-swatch"><span style="background-color: {{ value }};"></span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#moreoptions">
                            {{ "More options" | trans({}, "theme") }}
                        </a>
                    </div>
                    <div id="moreoptions" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for name,array in parameters.getParameters() %}
                                {% if loop.index is divisibleby(2) %}<div class="row">{% endif %}
                                    <div class="col-lg-6">
                                        <h4>{{ name }}</h4>
                                        <table class="table table-bordered table-striped">
                                            {% for code,value in array %}
                                                <tr>
                                                    <td class="theme-code"><code>{{ code }}</code></td>
                                                    <td class="theme-value"><input class="input-small" type="text" value="{{ value }}"></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    {% if loop.index is divisibleby(2) %}</div>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts debug=false output='vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js'
    '../vendor/xaguilars/bootstrap-colorpicker/js/bootstrap-colorpicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/theme/theme.js') }}"></script>

{% endblock %}
