{% extends 'ClarolineCoreBundle:Administration:layout.html.twig' %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'Theme Generator'|trans({}, 'theme'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ "Theme Generator" | trans({}, "theme") }}</h3>
    </div>
    <div class="panel-body">
        {% for theme in themes %}
            <a href="{{ path("claroline_admin_theme_edit", {"id": theme.id }) }}" class="col-md-4 label">
                <h5>&nbsp;&nbsp;&nbsp;<i class="icon-edit"></i> {{ theme.name }}&nbsp;&nbsp;&nbsp;</h5>
            </a>
        {% endfor %}
        <a href="{{ path("claroline_admin_theme_edit") }}" class="col-md-4 label label-info">
            <h5>&nbsp;&nbsp;&nbsp;<i class="icon-plus-sign"></i> {{ "Create New Theme" | trans({}, "theme") }}&nbsp;&nbsp;&nbsp;</h5>
        </a>
    </div>
{% endblock %}
