{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block title %} {{ 'docimology' | trans }} {% endblock %}

{% block section_content %}
    <style>
        .jqplot-title {
            margin-bottom: 10px;
            font-size: large;
            font-weight: bold;
        }

        .jqplot-xaxis {
            margin-top: 10px;
        }

        .jqplot-yaxis {
            margin-right: 30px;
            margin-left: 10px;
        }

        .jqplot-yaxis-tick {
            left: 35px;
        }

        .jqplot-xaxis-tick {
            margin-bottom: 10px;
        }

        table.jqplot-table-legend {
            position: absolute;
            border: #06A1E3 double thick;
            margin-left: 1%;
            margin-top: 10%;
        }

        div.jqplot-table-legend-swatch {
            margin: 10px;
            width: 20px;
            height: 20px;
        }

        td.jqplot-table-legend.jqplot-table-legend-label {
            padding-right: 10px;
        }

        tr.jqplot-table-legend {
            display: inline;
        }
    </style>

    <div class="panel-heading" style="padding-left: 50px;">
        <h1>{{ 'docimology' | trans }}</h1>
    </div><br/>

    <a href="{{ path('ujm_exercise_open', { 'exerciseId': exoID }) }}" style="margin-left: 50px;">
        <i class="icon-arrow-left"></i> {{ "back" | trans }}
    </a>

    <hr/>
<!--------------------------------------------------- Legend ----------------------------------------------------------------------------------->
    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 160px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ 'legend' | trans }}</h1>
        </legend>
            <h4>{{ "number of papers" | trans }} : {{ nbPapers }}</h4>
            <hr/>
        <div id="questionList">
            <h3>{{ "list of question" | trans }}</h3>
            <ol>
                {% for questionTitle in questionsList %}
                    <li>{{ questionTitle }}</li>
                {% endfor %}
            </ol>
        </div>
    </fieldset><br/>
<!--------------------------------------------------- Histogramm of marks --------------------------------------------------------------------->
    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 400px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ "histoMarks" | trans }}</h1>
        </legend>
        <div id="histoMarks" style="height:100%; width:100%;"></div>
    </fieldset><br/>
<!--------------------------------------------------- Histogramm of success ------------------------------------------------------------------->
    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px;
            border-radius: 10px; box-shadow: 5px 5px 5px #ccf; height: 570px;">
        <legend style="border: transparent hidden 0; width: 420px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ "histoSuccess" | trans }}</h1>
        </legend>
        <div id="histoSuccess" style="height:80%; width:100%;"></div>
    </fieldset><br/>
<!--------------------------------------------------- Histogramm of discrimination ----------------------------------------------------------->
    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 470px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ "histoDiscrimination" | trans }}</h1>
        </legend>
        <div id="histoDiscrimination" style="height:100%; width:100%;"></div><br/>
        {% if coeffQ == 'none' %}
            {{ 'explainCoeffDis0' | trans }}
            <br/><br/><br/>
        {% endif %}
        <p>
            {{ 'explainCoeffDis1' | trans }}<br/>
            {{ 'explainCoeffDis2' | trans }}<br/>
            {{ 'explainCoeffDis3' | trans }}
        </p>
    </fieldset><br/>
<!--------------------------------------------------- Histogramm of measure of diffculty ----------------------------------------------------->
    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 600px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ "histoMeasureOfDifficulty" | trans }}</h1>
        </legend>
        <div id="histoMeasureOfDifficulty" style="height:100%; width:100%;"></div><br/>
        <p>
            {{ 'explainMeasureDifficulty' | trans }}.<br/>
            {{ 'calculationMeasureDifficulty' | trans }}.<br/>
            {{ 'meaningMeasureDifficulty' | trans }}.<br/>
            {{ 'infoMeasureDifficulty' | trans }}.
        </p>
    </fieldset><br/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.barRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.pointLabels.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.categoryAxisRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            /*********************************histo mark******************************************************/
            var s1 = [{{ frequencyMarks }}];
            var marks = [{{ scoreList }}];

            $.jqplot('histoMarks', [s1], {
                //title:'{#{ "histoMarks" | trans }#}',

                series:[{renderer:$.jqplot.BarRenderer}],

                seriesDefaults:{
                    color: '#06A1E3',
                    rendererOptions: {fillToZero: true}
                },

                axes: {
                    xaxis: {
                        label: '{{ 'mark'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: marks,
                        tickOptions: {showGridline: false}
                    },

                    yaxis: {
                        label: '{{ 'frequency'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        pad: 1,
                        min: 0,
                        max: {{ maxY }},
                        tickOptions: {formatString: '%d'}
                    }
                }
            });

            /*********************************histoSuccess******************************************************/

            {% set series = '' %}
            {% set i = 1 %}
            {% for serie in seriesResponsesTab %}
                {% set sname = 's' ~ i %}
                    var {{ sname }} = [{{ serie }}];
                {% if series == '' %}
                    {% set series = 's' ~ i %}
                {% else %}
                    {% set series = series ~ ',' ~ 's' ~ i %}
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}

            plot3 = $.jqplot('histoSuccess', [{{ series }}], {
                //title:'{#{ "histoSuccess" | trans }#}',

                stackSeries: true,
                captureRightClick: true,

                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,

                    rendererOptions: {
                        barMargin: 30,
                        highlightMouseDown: true,
                        fillToZero: true
                    },

                    pointLabels: {
                        show: true,
                        hideZeros: true
                    }

                },
                axes: {

                    xaxis: {
                        label: '{{ 'question'|trans }}',
                        renderer: $.jqplot.CategoryAxisRenderer,

                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },

                        tickOptions: {showGridline: false}
                    },

                    yaxis: {
                        label: '{{ 'frequency'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,

                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },

                        pad: 1,
                        min: 0,
                        max: {{ maxY2 }},

                        tickOptions: {formatString: '%d'}
                    }
                },
                legend: {
                    show: true,
                    location: 's',
                    placement: 'outside'
                },

                series:[
                    {label:'{{ 'correct'|trans }}', color: 'green'},
                    {label:'{{ 'partially'|trans }}', color: 'blue'},
                    {label:'{{ 'wrong'|trans }}', color: 'red'},
                    {label:'{{ 'no answer'|trans }}', color: 'yellow'}
                ]
            });

            /*********************************histoDiscrimination******************************************************/
            var s1 = [{{ coeffQ }}];

            if (s1 != 'none') {
                $.jqplot('histoDiscrimination', [s1], {
                    //title:'{#{ "histoDiscrimination" | trans }#}',
                    stackSeries: true,
                    series:[{renderer:$.jqplot.BarRenderer}],

                    seriesDefaults:{
                        color: '#06A1E3',
                        rendererOptions: {fillToZero: true},
                        pointLabels: {
                            show: true,
                            hideZeros: false,
                            formatString: '%.3f'
                        }
                    },

                    axes: {
                        xaxis: {
                            label: '{{ 'question'|trans }}',
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            labelOptions:{
                                fontFamily:'Helvetica',
                                fontSize: '14pt'
                            },
                            renderer: $.jqplot.CategoryAxisRenderer,
                            tickOptions: {showGridline: false}
                        },

                        yaxis: {
                            label: '{{ 'Coefficient'|trans }}',
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            labelOptions:{
                                fontFamily:'Helvetica',
                                fontSize: '14pt'
                            },
                            pad: 0.5,
                            min: -1,
                            max: 1,
                            tickOptions: {formatString: '%.1f'}
                        }
                    }
                });
            }

            /*********************************histoMeasureOfDifficulty******************************************************/
            var percent = [{{MeasureDifficulty}}];

            $.jqplot('histoMeasureOfDifficulty', [percent], {
                //title:'{#{ "histoMeasureOfDifficulty" | trans }#}',

                series:[{renderer:$.jqplot.BarRenderer}],

                seriesDefaults:{
                    color: '#06A1E3',
                    rendererOptions: {fillToZero: true},
                    pointLabels: {
                        show: true,
                        formatString: '%.1f %'
                    }
                },

                axes: {
                    xaxis: {
                        label: '{{ 'question'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        renderer: $.jqplot.CategoryAxisRenderer,
                        tickOptions: {showGridline: false}
                    },

                    yaxis: {
                        label: '{{ 'percentage'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        pad: 10,
                        min: 0,
                        max: 100,
                        tickOptions: {formatString: '%d%'}
                    }
                }
            });
        });
    </script>
{% endblock %}