{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <style>
        .jqplot-title {
            margin-bottom: 10px;
            font-size: large;
            font-weight: bold;
        }

        .jqplot-xaxis {
            margin-top: 10px;
        }

        .jqplot-yaxis {
            margin-right: 30px;
            margin-left: 10px;
        }

        .jqplot-yaxis-tick {
            left: 35px;
        }

        .jqplot-xaxis-tick {
            margin-bottom: 10px;
        }
        
        table.jqplot-table-legend {
            position: absolute;
            border: #06A1E3 double thick;
            left: 80%;
            margin-left: 20px;
            top: 0px;
        }
        
        div.jqplot-table-legend-swatch {
            margin: 10px;
            width: 20px;
            height: 20px;
        }
        
        td.jqplot-table-legend.jqplot-table-legend-label {
            padding-right: 10px;
        }
    </style>

    <h1>{{ "docimology" | trans }}</h1>
    <a href="{{ path('ujm_exercise_open', { 'exerciseId': exoID }) }}" ><i class="icon-arrow-left"></i> {{ "back" | trans }}</a>
    <br/><br/>
    {{ "number of papers" | trans }}: {{ nbPapers }}
    <hr/>
    <div id="histoMarks" style="height:100%; width:100%;"></div>
    <hr/>
    <div id="histoSuccess" style="height:100%; width:80%;"></div>
    <hr/>
    <div id="histoDiscrimination" style="height:100%; width:80%;">
        {% if coeffQ == 'none' %}
            {{ "explainCoeffDis0" | trans }}
            <br/><br/><br/>
        {% endif %}
    </div>
    <p>
        {{ "explainCoeffDis1" | trans }}<br/>
        {{ "explainCoeffDis2" | trans }}<br/>
        {{ "explainCoeffDis3" | trans }}
    </p>
    <hr/>
    <div id="questionList">
        <h4>{{ "list of question" | trans }}</h4>
        <ol>
            {% for questionTitle in questionsList %}
                <li>{{ questionTitle }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.barRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.pointLabels.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.categoryAxisRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            /*********************************histo mark******************************************************/
            var s1 = [{{ frequencyMarks }}];
            var marks = [{{ scoreList }}];

            $.jqplot('histoMarks', [s1], {
                title:'{{ "histoMarks" | trans }}',

                series:[{renderer:$.jqplot.BarRenderer}],

                seriesDefaults:{
                    color: '#06A1E3',
                    rendererOptions: {fillToZero: true}
                },

                axes: {
                    xaxis: {
                        label: '{{ 'mark'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: marks,
                        tickOptions: {showGridline: false}
                    },

                    yaxis: {
                        label: '{{ 'frequency'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        pad: 1,
                        min: 0,
                        max: {{ maxY }},
                        tickOptions: {formatString: '%d'}
                    }
                }
            });
            
            /*********************************histoSuccess******************************************************/
            
            {% set series = '' %}
            {% set i = 1 %}
            {% for serie in seriesResponsesTab %}
                {% set sname = 's' ~ i %}
                    var {{ sname }} = [{{ serie }}];
                {% if series == '' %}
                    {% set series = 's' ~ i %}
                {% else %}
                    {% set series = series ~ ',' ~ 's' ~ i %}
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}

            plot3 = $.jqplot('histoSuccess', [{{ series }}], {
                title:'{{ "histoSuccess" | trans }}',

                stackSeries: true,
                captureRightClick: true,
                
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    
                    rendererOptions: {
                        barMargin: 30,
                        highlightMouseDown: true, 
                        fillToZero: true
                    },
                    
                    pointLabels: {
                        show: true,
                        hideZeros: true
                    },
                    
                },
                axes: {
                    
                    xaxis: {
                        label: '{{ 'question'|trans }}',
                        renderer: $.jqplot.CategoryAxisRenderer,
                        
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        
                        tickOptions: {showGridline: false}
                    },
                    
                    yaxis: {
                        label: '{{ 'frequency'|trans }}',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        
                        labelOptions:{
                            fontFamily:'Helvetica',
                            fontSize: '14pt'
                        },
                        
                        pad: 1,
                        min: 0,
                        max: {{ maxY2 }},
                        
                        tickOptions: {formatString: '%d'}
                    }
                },
                legend: {
                    show: true,
                    location: 'e',
                    placement: 'outside',
                },
                
                series:[
                    {label:'{{ 'correct'|trans }}', color: 'green'}, 
                    {label:'{{ 'partially'|trans }}', color: 'blue'}, 
                    {label:'{{ 'wrong'|trans }}', color: 'red'}, 
                    {label:'{{ 'no answer'|trans }}', color: 'yellow'}
                ],
            });
            
            /*********************************histoDiscrimination******************************************************/
            var s1 = [{{ coeffQ }}];

            if (s1 != 'none') {
                $.jqplot('histoDiscrimination', [s1], {
                    title:'{{ "histoDiscrimination" | trans }}',
                    stackSeries: true,
                    series:[{renderer:$.jqplot.BarRenderer}],

                    seriesDefaults:{
                        color: '#06A1E3',
                        rendererOptions: {fillToZero: true},
                        pointLabels: {
                            show: true,
                            hideZeros: false,
                            formatString: '%.3f'
                        }
                    },

                    axes: {
                        xaxis: {
                            label: '{{ 'question'|trans }}',
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            labelOptions:{
                                fontFamily:'Helvetica',
                                fontSize: '14pt'
                            },
                            renderer: $.jqplot.CategoryAxisRenderer,
                            tickOptions: {showGridline: false}
                        },

                        yaxis: {
                            label: '{{ 'Coefficient'|trans }}',
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            labelOptions:{
                                fontFamily:'Helvetica',
                                fontSize: '14pt'
                            },
                            pad: 0.5,
                            min: -1,
                            max: 1,
                            tickOptions: {formatString: '%.1f'}
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}