{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block title %} {{ 'exercise edit' | trans }} {% endblock %}

{% block section_content %}

    {{ tinymce_init() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/ujmexo/js/dateTimePicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <div class="panel-heading" style="padding-left: 50px;">
        <h1>{{'exercise edit'|trans}}</h1>
    </div><br/>

    <a href="{{ path('claro_resource_open', { 'resourceType': entity.resourceNode.resourceType.name(), 'node': entity.id }) }}" style="margin-left: 50px;">
        <i class="icon-arrow-left"></i> {{ 'back' | trans }}
    </a>

    <hr/>

    <form class="well label_bold" action="{{ path('ujm_exercise_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<!--------------------------------------------- Definition of the exercise ----------------------------------------------->
        <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; padding-top: 10px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
            <legend style="border: transparent hidden 0; width: 190px; margin: 0; color: skyblue;">
                <h4>&nbsp;{{ 'exercise definition' | trans }}</h4>
            </legend>
            {{ form_row(edit_form.title) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_row(edit_form.description) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            <div class="input-append date picker">
                <div style="float: left;">
                    {{ form_label(edit_form.start_date) }} &nbsp;
                    {{ form_widget(edit_form.start_date) }}
                </div>
                <span class="add-on" style="float: left; margin-left: 10px; position: relative; top: 3px; display: inline;">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>

            <br/><hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_widget(edit_form.useDateEnd, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
            {{ form_label(edit_form.useDateEnd) }}
            <div class="input-append date picker">
                <div style="float: left;">
                    {{ form_label(edit_form.end_date) }} &nbsp;
                    {{ form_widget(edit_form.end_date) }}
                </div>
                <span class="add-on" style="float: left; margin-left: 10px; position: relative; top: 3px; display: inline;">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
        </fieldset><br/>
<!--------------------------------------------- Questions ----------------------------------------------->
        <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; padding-top: 10px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
            <legend style="border: transparent hidden 0; width: 90px; margin: 0; color: skyblue;">
                <h4>&nbsp;{{ 'questions' | trans }}</h4>
            </legend>
            {{ form_widget(edit_form.shuffle, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
            {{ form_label(edit_form.shuffle) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_row(edit_form.nbQuestion) }}
        </fieldset><br/>
<!--------------------------------------------- End of Assessment ----------------------------------------------->
        <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; padding-top: 10px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
            <legend style="border: transparent hidden 0; width: 130px; margin: 0; color: skyblue;">
                <h4>&nbsp;{{ 'At the end of assessment' | trans }}</h4>
            </legend>
            {{ form_widget(edit_form.doprint, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
            {{ form_label(edit_form.doprint) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_row(edit_form.correctionMode) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            <div class="input-append date picker">
                <div style="float: left;">
                    {{ form_label(edit_form.dateCorrection) }} &nbsp;
                    {{ form_widget(edit_form.dateCorrection) }}
                </div>
                <span class="add-on" style="float: left; margin-left: 10px; position: relative; top: 3px; display: inline;">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>

            <br/><hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_row(edit_form.markMode) }}
        </fieldset><br/>
<!--------------------------------------------- Passage ----------------------------------------------->
        <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; padding-top: 10px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
            <legend style="border: transparent hidden 0; width: 80px; margin: 0; color: skyblue;">
                <h4>&nbsp;{{ 'paper' | trans }}</h4>
            </legend>
            {{ form_row(edit_form.duration) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_row(edit_form.maxAttempts) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_widget(edit_form.dispButtonInterrupt, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
            {{ form_label(edit_form.dispButtonInterrupt) }}

            <hr style=" height: 1px; color: teal; background-color: teal"/>

            {{ form_widget(edit_form.lockAttempt, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
            {{ form_label(edit_form.lockAttempt) }}
        </fieldset><br/>

        {{ form_rest(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary">{{ "edit" | trans }}</button>
        </p>
    </form>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/jquery/plugin/datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ujmexo/css/dateTimePicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}