{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}

{{ tinymce_init() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ asset('bundles/ujmexo/js/dateTimePicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

<h1>{{'Exercise edit'|trans}}</h1>

<form action="{{ path('ujm_exercise_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {#{ form_widget(edit_form) }#}
        
    {{ form_row(edit_form.title) }}
        
    {{ form_row(edit_form.description) }}
        
    {{ form_row(edit_form.shuffle) }}
        
    {{ form_row(edit_form.nbQuestion) }}
        
    {{ form_row(edit_form.duration) }}
        
    {{ form_row(edit_form.doprint) }}
        
    {{ form_row(edit_form.maxAttempts) }}
        
    {{ form_row(edit_form.correctionMode) }}
        
    <div class="input-append date picker">
        {{ form_label(edit_form.dateCorrection) }}
        {{ form_widget(edit_form.dateCorrection) }}
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    <br/>
    
    {{ form_row(edit_form.markMode) }}
        
    <div class="input-append date picker">
        {{ form_label(edit_form.start_date) }}
        {{ form_widget(edit_form.start_date) }}
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    <br/>
    
    {{ form_row(edit_form.useDateEnd) }}
    
    <div class="input-append date picker">
        {{ form_label(edit_form.end_date) }}
        {{ form_widget(edit_form.end_date) }}
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    <br/>
        
    {{ form_row(edit_form.dispButtonInterrupt) }}
    
    {{ form_row(edit_form.lockAttempt) }}
    
    {{ form_rest(edit_form) }}
    <p>
        <button type="submit">{{ "Edit" | trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('claro_resource_open', { 'resourceType': entity.resourceType.name, 'resourceId': entity.id }) }}">
            {{ "Back" | trans }}
        </a>
    </li>
</ul>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/jquery/plugin/datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ujmexo/css/dateTimePicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}