{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %} {{ 'Paper' | trans }} {% endblock %}

{% block section_content %}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/paper.js') }}"></script>

    {% set indexMax = 1 %}
    <table>
        <tr>
        {% for interactionID in tabOrderInter %}
            {% if loop.index != numQ %}
                <td>
                    <a href="#" onClick="submitForm({{ loop.index }}, '{{ interactionType }}');">{{ loop.index }}</a>
                    {% set indexMax = loop.index %}
                </td>
            {% else %}
                <td>
                    {{ loop.index }}
                    {% set indexMax = loop.index %}
                </td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>

    <form class="well" action="{{ path('ujm_exercise_paper_nav') }}" method="post" name="formResponse" id="formResponse">
        <input type="hidden" name="numQuestionToDisplayed" id="numQuestionToDisplayed" value=""/>

<!--------------------------------------------------- QCM ------------------------------------------------------------->

        {% if interactionType == 'InteractionQCM' %}
            <h1>{{ interactionToDisplayed.interaction.question.title }}</h1>

            <input type="hidden" name="interactionQCMToValidated" value="{{ interactionToDisplayed.id }}"/>
            <input type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
            <input type="hidden" name="typeInteraction" value="InteractionQCM"/>

            {% if interactionToDisplayed.interaction.question.description != null %}
                <div name="description">
                    <p>{{ interactionToDisplayed.interaction.question.description|raw }}<p/>
                </div>
            {% endif %}

            <h3 name="question">
                <p>{{ interactionToDisplayed.interaction.invite|raw }}<p/>
            </h3>

            <p>
                <table>
                    {% for choice in interactionToDisplayed.choices %}
                        {% set checked = "" %}
                        <tr>
                            <td>{{ choice.label|raw }}</td>
                            {% if regexTwig('/' ~ choice.id ~ ';/', response) > 0 %}
                                {% set checked = "checked" %}
                            {% endif %}
                            {% if interactionToDisplayed.typeQCM.id == 2 %}
                                <td><INPUT type="radio" name="choice" value="{{ choice.id }}" {{ checked }}/></td>
                            {% else %}
                                <td><INPUT type="checkbox" name="choice[]" value="{{ choice.id }}" {{ checked }}/></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

                <table>
                    {% set nbr_hint = 1 %}
                    {% for hint in interactionToDisplayed.interaction.hints %}
                        <tr>
                            <td><a href="#"  id="indice_popup" onclick="show_hint('{{hint.id}}',
                                    '{{path('ujm_hint_show')}}', '{{ "consult_hint" | trans }}', '{{nbr_hint}}',
                                    '{{paper}}')">{{ "Hint" | trans }} {{nbr_hint}}</a>
                            </td>
                            <td id="div_hint{{nbr_hint}}"></td>
                        </tr>
                        {% set nbr_hint = nbr_hint + 1 %}
                    {% endfor %}
                </table>

                <input type="hidden" name="testQCM" value="testQCM" />
                <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>
            </p>

<!------------------------------------------------- Graphic ----------------------------------------------------------->

        {% elseif interactionType == 'InteractionGraphic' %}

            <h1>{{ interactionToDisplayed.interaction.question.title }}</h1>

            <input type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
            <input type="hidden" name="typeInteraction" value="InteractionGraphic"/>

            <div name="description">
                <p>{{ interactionToDisplayed.interaction.question.description|raw }}</p>
            </div>

            <h3 name="question">
                <p>{{ interactionToDisplayed.interaction.invite|raw }}</p>
            </h3>

            <h5>{{ "consignes" | trans }} :</h5>
            <h6><em>{{ "position" | trans }}<br/>{{ "selection" | trans }}<br/>{{ "raz" | trans }}<br/>
                {{ "onlyOnce" | trans }}</em>
            </h6>

            <div style="position: relative;" id="Answer">
                <p id="ContainerCursor">
                    {% set i = 1 %}
                    {% for coords in listCoords %}
                        <img src="{{ asset('bundles/ujmexo/images/graphic/answer.png') }}" alt="AnswerZone{{ i }}"
                             id="cursor{{ i }}" style="position: absolute;"/>
                        {% set i = i + 1 %}
                   {% endfor %}
                </p><p>

                    {% if response is empty %}
                        {% set response = 'empty' %}
                    {% endif %}

                    <img src="{{ asset(interactionToDisplayed.document.url) }}" alt="AnswerImg" id="AnswerImg"
                         width="{{ interactionToDisplayed.width }}" height="{{ interactionToDisplayed.height }}"
                         style="margin-top: 30px" onload="displayAnswersGraph('{{ response }}')"/>
                </p>
            </div>

            <input type="hidden" id="nbpointer" name="nbpointer" value="{{ i }}"/>
            <input type="hidden" id="answers" name="answers" value=""/>
            <input type="hidden" id="graphId" name="graphId" value="{{ interactionToDisplayed.id }}"/>
            <input type="hidden" id="PositionInit" name="PositionInit" value="false"/>

            <table>
                {% set nbr_hint = 1 %}
                    {% for hint in interactionToDisplayed.interaction.hints %}
                        <tr>
                            <td><a href="#"  id="indice_popup" onclick="show_hint('{{hint.id}}',
                                    '{{path('ujm_hint_show')}}', '{{ "consult_hint" | trans }}', '{{nbr_hint}}',
                                    '{{paper}}')">{{ "Hint" | trans }} {{nbr_hint}}</a>
                            </td>
                            <td id="div_hint{{nbr_hint}}"></td>
                        </tr>
                        {% set nbr_hint = nbr_hint + 1 %}
                    {% endfor %}
            </table><br/>

            <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>

<!-------------------------------------------------- Hole ------------------------------------------------------------->

        {% elseif interactionType == 'InteractionHole' %}
        {% endif %}
    </form>

    <table>
        <tr>
            {% if numQ != 1 %}
                <td>
                    <a href="#" onClick="submitForm(1, '{{ interactionType }}');">
                        <i class="icon-chevron-left"></i><i class="icon-chevron-left"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">&nbsp;&nbsp;
                        <i class="icon-chevron-left">&nbsp;</i>
                    </a>
                </td>
            {% else %}
                <td><i class="icon-chevron-left"></i><i class="icon-chevron-left"></i></td>
                <td>&nbsp;&nbsp;<i class="icon-chevron-left">&nbsp;</i></td>
            {% endif %}
            {% if numQ != indexMax %}
                <td>
                    <a href="#" onClick="submitForm({{ numQ+1 }}, '{{ interactionType }}');">&nbsp;
                        <i class="icon-chevron-right"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onClick="submitForm({{ indexMax }}, '{{ interactionType }}');">&nbsp;&nbsp;
                        <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;
                    </a>
                </td>
            {% else %}
                <td>&nbsp;<i class="icon-chevron-right"></i></td>
                <td>&nbsp;&nbsp;<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>&nbsp;&nbsp;</td>
            {% endif %}
            {% if dispButtonInterrupt %}
                <td><input type="button" value="{{ "Interupt" | trans }}" onClick="interupt('{{ interactionType }}')"/>
                </td>
            {% endif %}
            <td><input type="button" value="{{ "Finish" | trans }}" onClick="finish('{{ interactionType }}')"/></td>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if interactionType == 'InteractionGraphic' %}
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/graphicdisplay.js') }}"></script>
    {% endif %}
{% endblock %}