{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% set resource = exercise.getResourceNode() %}
{% set workspace = resource.getWorkspace() %}
{% set published = resource.isPublished() %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'exercise' | trans({}, 'ujm_exo') }} : {{ exercise.title }} {% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'exercise'|trans({}, 'ujm_exo') }} : {{ exercise.title }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% if isDesktop() %}
                <a class="btn btn-primary" href="{{ path('claro_desktop_open_tool', { 'toolName': 'resource_manager', 'workspaceId': workspace.getId() }) ~ "#resources/" ~ resource.getParent().getId() }}">
                    <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
                </a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('claro_workspace_open_tool', { 'toolName': 'resource_manager', 'workspaceId': workspace.getId() }) ~ "#resources/" ~ resource.getParent().getId() }}">
                    <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
                </a>
            {% endif %}
        </div>

        {% if qtiError is defined %}
            <div class="alert alert-warning">{{ qtiError }}</div>
        {% endif %}

        {% if not published and not exercise.wasPublishedOnce() %}
            <div class="alert alert-info">
                {{ 'info_exercise_never_published'|trans({}, 'ujm_exo') }}
            </div>
        {% endif %}

        <div class="list-group">
            <div class="list-group-item">
                <table class="record_properties table table-striped table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <th class="classic">{{ 'title' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">{{ exercise.title }}</td>
                        </tr>
                        <tr>
                            <th class="classic">{{ 'description' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">
                                {% if exercise.description is not empty %}
                                    {{ exercise.description|raw }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="classic">{{ 'start_date' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">
                                {% if resource.getAccessibleFrom() %}
                                    {{ resource.getAccessibleFrom()|date('d/m/Y \\- H\\hi\\ms\\s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="classic">{{ 'end_date' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">
                                {% if resource.getAccessibleUntil() %}
                                    {{ resource.getAccessibleUntil()|date('d/m/Y \\- H\\hi\\ms\\s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        {% if is_granted('ADMINISTRATE', exercise) %}
                            <tr class="hiddencells">
                                <th class="classic">{{ 'random_questions' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if exercise.shuffle == 0 %}
                                        <i class="fa fa-times-circle"></i>
                                    {% else %}
                                        <i class="fa fa-check-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="hiddencells">
                                <th class="classic">{{ 'number_questions_draw' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if exercise.nbQuestion != 0 %}
                                        {{ exercise.nbQuestion }}
                                    {% else %}
                                        {{ 'all_question'|trans({}, 'ujm_exo') }}
                                    {% endif %}
                                </td>
                            </tr>

                            {#---not operational---#}
                            {#<tr class="hiddencells">
                            <th class="classic">{{ 'keep_same_question' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">
                                {% if exercise.keepSameQuestion == 0 %}
                                    <i class="fa fa-times-circle"></i>
                                {% else %}
                                    <i class="fa fa-check-circle"></i>
                                {% endif %}
                            </td> #}
                            </tr>

                            {#---not operational---#}
                            {#<tr class="hiddencells">
                            <th class="classic">{{ 'keep_same_question' | trans({}, 'ujm_exo') }}</th>
                            <td class="classic">
                                {% if exercise.keepSameQuestion == 0 %}
                                    <i class="fa fa-times-circle"></i>
                                {% else %}
                                    <i class="fa fa-check-circle"></i>
                                {% endif %}
                            </td>
                        </tr>#}

                            <tr class="hiddencells">
                                <th class="classic">{{ 'creation_date' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">{{resource.getCreationDate()|date('d/m/Y \\- H\\hi\\ms\\s') }}</td>
                            </tr>
                            <tr style="display: none;">
                                <th class="classic">{{ 'duration' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if exercise.duration != 0 %}
                                        {{ exercise.duration }}
                                    {% else %}
                                        {{ 'none'|trans({}, 'ujm_exo') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <th class="classic">{{ 'print_paper' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if exercise.doprint == 0 %}
                                        <i class="fa fa-times-circle"></i>
                                    {% else %}
                                        <i class="fa fa-check-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="hiddencells">
                                <th class="classic">{{ 'maximum_tries' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if exercise.maxAttempts != 0 %}
                                        {{ exercise.maxAttempts }}
                                    {% else %}
                                        {{ 'infiny'|trans({}, 'ujm_exo') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="hiddencells">
                                <th class="classic">{{ 'availability_of_correction' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if(exercise.correctionMode == 1) %}
                                        {{ 'at_the_end_of_assessment' | trans({}, 'ujm_exo') }}
                                    {% elseif (exercise.correctionMode == 2) %}
                                        {{ 'after_the_last_attempt' | trans({}, 'ujm_exo') }}
                                    {% elseif (exercise.correctionMode == 3) %}
                                        {{ 'from' | trans({}, 'ujm_exo') }} : {{ exercise.dateCorrection|date('d/m/Y \\- H\\hi\\ms\\s') }}
                                    {% elseif (exercise.correctionMode == 4) %}
                                        {{ 'never' | trans({}, 'ujm_exo') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="hiddencells">
                                <th class="classic">{{ 'availability_of_score' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if(exercise.markMode == 1) %}
                                        {{ 'at_the_same_time_that_the_correction' | trans({}, 'ujm_exo') }}
                                    {% else %}
                                        {{ 'at_the_end_of_assessment' | trans({}, 'ujm_exo') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="hiddencells">
                                <th class="classic">{{ 'test_exit' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if  exercise.dispButtonInterrupt == 0 %}
                                        <i class="fa fa-times-circle"></i>
                                    {% else %}
                                        <i class="fa fa-check-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <th class="classic">{{ 'lock_attempt' | trans({}, 'ujm_exo') }}</th>
                                <td class="classic">
                                    {% if  exercise.lockAttempt == 0 %}
                                        <i class="fa fa-times-circle"></i>
                                    {% else %}
                                        <i class="fa fa-check-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if is_granted('ADMINISTRATE', exercise) %}
                    <button type="button" id="more" class="btn btn-primary" onclick="moreInformation();">
                        <i class="fa fa-plus"></i> {{ 'more_info' | trans({}, 'ujm_exo') }}
                    </button>
                     <button type="button" id="less" class="btn btn-primary" onclick="lessInformation();">
                        <i class="fa fa-minus"></i> {{ 'less_information' | trans({}, 'ujm_exo') }}
                    </button>
                {% endif %}
            </div>
            <div class="text-center panel-footer">
                {% if allowedToCompose and nbQuestion > 0 %}
                    <a class="btn btn-primary" href="{{ path('ujm_exercise_play', { 'id': exercise.id }) }}">
                        <i class="fa fa-check-square-o"></i> Jouer
                    </a>
                {% endif %}
                {% if allowedToCompose and nbQuestion > 0 %}
                    {% if nbUserPaper == 0 %}
                        <a class="btn btn-primary" href="{{ path('ujm_exercise_paper', { 'id': exercise.id }) }}">
                            <i class="fa fa-check-square-o"></i> {{ 'compose' | trans({}, 'ujm_exo') }}
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('ujm_paper_list', { 'exoID': exercise.id }) }}">
                            <i class="fa fa-check-square-o"></i> {{ 'compose' | trans({}, 'ujm_exo') }}
                        </a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ADMINISTRATE', exercise) %}
                    <a class="btn btn-primary" href="{{ path('ujm_exercise_edit', { id: exercise.id }) }}">
                        <i class="fa fa-pencil"></i> {{ 'parameters' | trans({}, 'ujm_exo') }}
                    </a>
                    <a class="btn btn-primary" href="{{ path('ujm_exercise_questions', { id: exercise.id }) }}">
                        <i class="fa fa-question"></i> {{ 'questions' | trans({}, 'ujm_exo') }}
                    </a>
                    {% if published and nbPapers == 0 %}
                        <form method="POST" action="{{ path('ujm_exercise_unpublish', { id: exercise.id }) }}" style="display: inline" >
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-times"></i> {{ 'unpublish' | trans({}, 'ujm_exo') }}
                            </button>
                        </form>
                    {% elseif not published %}
                        <form method="POST" action="{{ path('ujm_exercise_publish', { id: exercise.id }) }}" style="display: inline" >
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check"></i> {{ 'publish' | trans({}, 'ujm_exo') }}
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-primary" href="{{ path('ujm_paper_list', { exoID: exercise.id }) }}">
                        <i class="fa fa-list"></i> {{ 'result' | trans({}, 'ujm_exo') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/exercise.js') }}"></script>

    <script language="JavaScript">
        $('#less').css({"display": "none"});
        lessInformation();

        function moreInformation() {
            $('.hiddencells').show();
            $('#less').css({"display": "block"});
            $('#more').css({"display": "none"});
        }

        function lessInformation() {
            $('.hiddencells').hide();
            $('#more').css({"display": "block"});
            $('#less').css({"display": "none"});
        }
    </script>
{% endblock %}
