{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
{{ tinymce_init() }}

<h1>{{ 'Exercise'|trans }}</h1>

<a href="{{ path('claro_workspace_open_tool', { 'toolName': 'resource_manager', 'workspaceId': userId  }) }}" >
    <i class="icon-arrow-left"></i> {{ "Back" | trans }}
</a>
<br/><br/>
<table class="record_properties table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th style="text-align: center">{{ 'Title' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">{{ entity.title }}</td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Description' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.description is not empty %}
                    {{ entity.description|raw }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Random order of questions' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.shuffle == 0 %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                {% else %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Number of questions to draw' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.nbQuestion != 0 %}
                    {{ entity.nbQuestion }}
                {% else %}
                    {{ 'allQuestion'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'creationDate' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">{{ entity.dateCreate|date('d/m/Y \\- H\\hi\\ms\\s') }}</td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Duration' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.duration != 0 %}
                    {{ entity.duration }}
                {% else %}
                    {{ 'noOne'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Print paper' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.doprint == 0 %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                {% else %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Maximum number of tries' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.maxAttempts != 0 %}
                    {{ entity.maxAttempts }}
                {% else %}
                    {{ 'infiny'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Availability of correction' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if(entity.correctionMode == 1) %}
                    {{ 'At the end of assessment' | trans }}
                {% elseif (entity.correctionMode == 2) %}
                    {{ 'After the last attempt' | trans }}
                {% elseif (entity.correctionMode == 3) %}
                    {{ 'From' | trans }}
                {% elseif (entity.correctionMode == 4) %}
                    {{ 'Never' | trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Availability of score' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if(entity.markMode == 1) %}
                    {{ 'At the same time that the correction' | trans }}
                {% else %}
                    {{ 'At the end of assessment' | trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Start date' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">{{ entity.startdate|date('d/m/Y \\- H\\hi\\ms\\s') }}</td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Use date of end' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if entity.useDateEnd == 0 %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                {% else %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                {% endif %}
            </td>
        </tr>
        {% if entity.useDateEnd != 0 %}
            <tr>
                <th style="text-align: center">{{ 'End date' | trans }}</th>
                <td style="text-align: center; vertical-align: middle;">{{ entity.enddate|date('d/m/Y \\- H\\hi\\ms\\s') }}</td>
            </tr>
        {% endif %}
        <tr>
            <th style="text-align: center">{{ 'Test exit' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if  entity.dispButtonInterrupt == 0 %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                {% else %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align: center">{{ 'Lock attempt' | trans }}</th>
            <td style="text-align: center; vertical-align: middle;">
                {% if  entity.lockAttempt == 0 %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_off.gif') }}">
                {% else %}
                    <img src="{{ asset('bundles/ujmexo/images/checkbox_on.gif') }}">
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    {% if allowToCompose == 1 and nbQuestion > 0 %}
        <li>
            <a href="{{ path('ujm_exercise_paper', { 'id': entity.id }) }}">{{ 'Compose' | trans }}</a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('ujm_paper_list', { 'exoID': entity.id }) }}">{{ 'Paper list' | trans }}</a>
    </li>
    {% if exoAdmin == 1 %}
        <li>
            <a href="{{ path('ujm_exercise_edit', { 'id': entity.id }) }}">
                {{ 'Edit' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('ujm_exercise_questions', { 'id': entity.id }) }} " > <img src="{{ asset('bundles/ujmexo/images/icon_question-reponse.png') }}">
                {{ 'List of question' | trans }}
            </a>
        </li>
    {% endif %}
</ul>

{% endblock %}