{% if 0 < userPager|length %}
<table class="table user_badge_list">
    <thead>
        <th class="username">{{ 'username'|trans({}, 'platform') }}</th>
        <th>{{ 'awarded_badges'|trans({}, 'badge') }}</th>
    </thead>
    <tbody>
        {% for user in userPager %}
            <tr>
                <td>{{ user.lastName ~ ' ' ~ user.firstName }}</td>
                <td>
                   <ul class="list-inline">
                   {% for badge in user.badges %}
                       <li>
                            <a href="#" title="{{ badge.name }}">
                                <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" />
                            </a>
                       </li>
                   {% endfor %}
                   </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>{{ 'no_user_subscribed_to_workspace'|trans({}, 'badge') }}</p>
{% endif %}