{% if log.getDetails().source is defined %}
    <div>
        <h4>{{ ('log_copy_source')|trans({}, 'log') }}</h4>

        <dl class="dl-horizontal">
            <dt>{{ ('name')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().source.resource.name }}</dd>
            <dt>{{ ('path')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().source.resource.path }}</dd>
        </dl>
    </div>
    <div>
        <h4>{{ ('log_workspace_source')|trans({}, 'log') }}</h4>

        {% if log.getDetails().source.workspace.id == log.getWorkspace().getId() %}
            <dl class="dl-horizontal">
                <dt></dt>
                <dd>{{ ('log_has_not_changed')|trans({}, 'log') }}</dd>
            </dl>
        {% else %}
            <dl class="dl-horizontal">
                <dt>{{ ('name')|trans({}, 'platform') }}</dt>
                <dd>{{ log.getDetails().source.workspace.name }}</dd>
            </dl>
        {% endif %}
    </div>
{% endif %}
