{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
<div id="tabs" class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="{% if 'claro_message_list_received_layout' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_received_layout') }}" id="link_message_list_received_layout">{{ 'messages_received'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_message_list_sent_layout' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_sent_layout') }}" id="link_message_sent_layout">{{ 'messages_sent'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_message_list_removed_layout' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_removed_layout')}}" id="link_message_removed_layout" class="icon-trash"></a>
            </li>
        </ul>
    </div>
</div>
{% block section_content %}{% endblock %}
{% endblock %}