{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
<div id="tabs" class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="{% if 'claro_message_list_received' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_received') }}" id="link_message_list_received">{{ 'messages_received'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_message_list_sent' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_sent') }}" id="link_message_sent">{{ 'messages_sent'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_message_list_received_removed' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_received_removed')}}" id="link_message_recieved_removed">{{ 'messages_received_removed'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_message_list_sent_removed' == app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('claro_message_list_sent_removed') }}" id="link_message_sent_removed">{{ 'messages_sent_removed'|trans({}, 'platform') }}</a>
            </li>
        </ul>
    </div>
</div>
{% block section_content %}{% endblock %}
{% endblock %}