{% extends 'ClarolineCoreBundle:Message:layout.html.twig' %}

{% block section_content %}
    <button class="btn btn-secondary " id="delete-msg">{{ 'delete'|trans({}, 'platform') }}</button>
    <table class="table table-striped table-bordered table-condensed" id="messages-table">
        <thead>
            <tr>
                <th>{{ 'date'|trans({}, 'platform') }}</th>
                <th>{{ 'to'|trans({}, 'platform') }}</th>
                <th>{{ 'object'|trans({}, 'platform') }}</th>
            </tr>
        </thead>
        <tbody id="group-table-body">
            {% for message in messages %}
                <tr class="row-message">
                    <td>{{ message.getDate()|date('d-m-Y') }}</td>
                    <td>
                        {% for userMessage in message.getUserMessages() %}
                            {{ userMessage.getUser().getUsername() }}{% if not loop.last %}, {%endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('claro_message_show', {'messageId': message.getId()}) }}">{{ message.getObject() }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}