{% for userMessage in userMessages %}
    <tr class="row-user-message">
        <td>
            {% if userMessage.isRead() %}
                <div style="color: green" class="icon-ok-sign"></div>
            {% else %}
                <a href="{{ path('claro_message_mark_as_read', {'userMessageId': userMessage.getId()}) }}" class="mark-as-read"><i class="icon-envelope"></i></a>
            {% endif %}
        </td>
        <td>{{ userMessage.getMessage().getDate()|date('d-m-Y') }}</td>
        <td>{{ userMessage.getMessage().getUser().getUsername() }}</td>
        <td><a href="{{ path('claro_message_show', {'messageId': userMessage.getMessage().getId()}) }}">{{ userMessage.getMessage().getObject() }}</a></td>
        <td><input class="chk-delete" value="{{ userMessage.getId() }}" type="checkbox"></input></td>
    </tr>
{% endfor %}