{% extends 'ClarolineCoreBundle::layout.html.twig' %}
{% block content %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "user" | trans({}, "platform") }}: {{ message.getUser().getUsername() }}</h3>
            </div>
            <div class="panel-body">
                <p class="text-muted">
                    {{ message.getDate()|date('m/d/Y H:i:s') }}
                </p>
            </div>
        </div>

        {% for ancestor in ancestors %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class='panel-title'>{{ ancestor.getObject()|raw }}</h3>
                </div>
                <div class="panel-body">
                    <p class="text-muted">
                        {{ 'from_message'|trans({}, 'platform') }}:  {{ ancestor.getUser().getUsername() }}
                    </p>
                    <p>
                        {{ ancestor.getContent()|raw }}
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ 'fast_answer'|trans({}, 'platform') }}</h3></div>
            <form novalidate="novalidate"
                action="{{ path('claro_message_send', {'parentId': message.getId()}) }}"
                method="post" {{ form_enctype(form) }}
                id="generic-form"
                class="form-horizontal">
                <div class="panel-body">
                    {{ form_widget(form) }}
                    {{ form_rest(form) }}
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:Tool\\WorkspaceResourceParameters:workspaceResourceTypes') %}
    {{ tinymce_init() }}
{% endblock %}

