<form class="form-horizontal" method="POST" action="{{ path('icap_dropzone_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId':document.id}) }}">
    {{ form_errors(form) }}

    <div class="container form-group form-buttons">
        <div class="btn-group pull-right">
            <a href="{{ path('icap_dropzone_drop', {'resourceId': dropzone.id}) }}" class="btn btn-default">
                {{ 'Cancel'|trans({}, 'icap_dropzone') }}
            </a>
            <button type="submit" class="btn btn-danger">
                {{ 'Confirm delete'|trans({}, 'icap_dropzone') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
