{# InnovaERV : Affichage de la ligne du tableau en fonction du type : admin ou pas #}
{% if adminInnova %}
    {% set classArray="warning" %}
{% else %}
    {% set classArray="info" %}
{% endif %}

{% if adminInnova and not document.validate %}
    
    {% else %}
{# InnovaERV : Fin ajout : Affichage ... #}
<tr id="row_{{ document.id }}">
    <td class="{{ classArray }}">
        {{ document.drop.user.lastName }}
    </td>
    <td class={{ classArray }}>
        {{ document.drop.user.firstName }}
    </td>
    <td class={{ classArray }}>
        {{ document.drop.user.username }}
    </td>
    <td class={{ classArray }}>
        {% if document.url is not null %}
            <a target="_blank"
               href="{{ document.url }}">{{ document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url }}</a>
        {% else %}
            <a target="_blank"
               href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a>
        {% endif %}
    </td>
    <td class={{ classArray }}>
        {{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}
    </td>

    <td class={{ classArray }}>
        {# InnovaERV : #19 ajout de l'affichage de la date de dépôt du document et formatage #}
        {{ document.documentDate|date('formatDatetime'|trans({}, 'innova_collecticiel')) }}
    </td>

    {# InnovaERV : Ajout d'id "is-valide" afin d'exécuter le traitement pour l'affichage de "Demande adressée" #}
    <td class="{{ classArray }} centered" id="is-validate-{{ document.id }}">
        {% include 'InnovaCollecticielBundle:Document:documentIsValidate.html.twig' %}
    </td>

    <td class="{{ classArray }} centered">
        <a href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" type="button">
            {{ document.comments|length }}
            {% if document.getUnReadComments( app.user.id ) != 0 %}
                ({{ document.getUnReadComments( app.user.id ) }} nouveau{% if document.getUnReadComments( app.user.id ) > 1 %}x{% endif %})
            {% endif %}
        </a>
    </td>

    {% if mode == 'complete' %}
        <td id="delete_button_td">
        {# Si la document a été validé alors je ne peux pas le supprimer #}
        {% if not document.validate %}
            <a href="{{ path('innova_collecticiel_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}"
               class="btn btn-danger btn-sm launch-modal del_btn_td"
               id="delete_{{ document.id }}" >
                <span class="fa fa-trash-o"></span>
                {{ 'Delete'|trans({}, 'innova_collecticiel') }}
            </a>
        {% endif %}
        </td>
    {% endif %}
</tr>
{% endif %}