{% extends "InnovaCollecticielBundle:Document:documentFormDefault.html.twig" %}

{% block document_body %}
    {#     <div class="row">
            {{ form_row(form.document, {'label_col_size': ' ', 'input_col_size': 'col-md-8', 'attr': {'placeholder': (documentType~'_placeholder')|trans({}, 'innova_collecticiel')}, 'label_attr': {'class': 'sr-only'},'id': 'innova_collecticiel_document_file_form_text'}) }}
            <div class="col-md-4 ">
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary">
                        {{ 'Add'|trans({}, 'innova_collecticiel') }}
                    </button>
                </div>
            </div>
        </div> #}

    <div class="row">
{#  InnovaERV : élargissement de la zone de saisie du texte #}
        <div class='col-md-10'>
            <div class='input-group'>
 
                {{ form_row(form.title, {'input_col_size': 'col-md-8', 'label_attr': {'class': 'control-label title-label'}, 'label_col_size': 'col-md-2','id': 'innova_collecticiel_document_file_form_title'}) }} 

                {{ form_row(form.document,{'label_col_size': ' ', 'attr': {'placeholder': (documentType~'_placeholder')|trans({}, 'innova_collecticiel')}, 'label_attr': {'class': 'sr-only'},'id':'innova_collecticiel_document_file_form_text' }) }}

{#  InnovaERV : ajout de la classe addButtonToTop afin de positionner le bouton "Ajouter" dans le texte #}
                <span class='input-group-btn addButtonToTop'>
                        <button type="submit" class="btn btn-default">
                            {{ 'Add'|trans({}, 'innova_collecticiel') }}
                        </button>
                    </span>
            </div>
            {{ form_rest(form.document) }}
        </div>
    </div>
{% endblock %}
