{# InnovaERV : Affichage de la ligne du tableau en fonction du type : admin ou pas #}
{% if document.sender.id == document.drop.user.id %}
    {% set classArray="warning" %}
{% else %}
    {% set classArray="info" %}
{% endif %}

{# InnovaERV : suppression de la condition "OR" suite retour Nathalie #}
{# InnovaERV : car il fallait voir les documents qund on va sur l'espace d'un étudiant #}
{# voir également macros.html.twig #}

{# InnovaERV : Fin ajout : Affichage ... #}
<tr id="row_{{ document.id }}">
    {# Affichage de l'image de profil #}
    {% if dropzone.picture == 1  %}
    <td class="{{ classArray }}">
        <div class="user-panel">
             <div class="pull-left image">
                {% if document.sender.getPicture() != '' %}
                    <img src="{{ asset('uploads/pictures/') ~ document.sender.getPicture() }}"
                    class=""
                    alt="{{ document.sender.getLastName() ~ ' ' ~ document.sender.getFirstName() }}">
                {% else %}
                    <img class="img-polaroid img-responsive" src="{{ asset('bundles/icapnotification/images/default-avatar.png') }}">
                {% endif %}
            </div>
        </div>
    </td>
    {% endif %}
    <td class="{{ classArray }}">
        {{ document.sender.lastName }}
    </td>
    <td class={{ classArray }}>
        {{ document.sender.firstName }}
    </td>

    {% if dropzone.username == 1  %}
        <td class={{ classArray }}>
            {{ document.sender.username }}
        </td>
    {% endif %}

    <td class={{ classArray }}>
        {% if document.url is not null %}
            <a target="_blank"
               href="{{ document.url }}">{{ document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url }}</a>
        {% else %}
            {% if document.title is not null %}
                <a target="_blank"
                   href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.title }}</a>
            {% else %}
                <a target="_blank"
                   href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a>
            {% endif %}
        {% endif %}
    </td>
    <td class={{ classArray }}>
        {{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}
    </td>

    <td class={{ classArray }}>
        {# InnovaERV : #19 ajout de l'affichage de la date de dépôt du document et formatage #}
        {{ document.documentDate|date('formatDatetime'|trans({}, 'innova_collecticiel')) }}
    </td>

    {# #146 : on affiche cette colonne même en tant qu'enseignant, demande de JJQ #}
    {#  {% if not adminInnova %} #}
    {# InnovaERV : Ajout d'id "is-valide" afin d'exécuter le traitement pour l'affichage de "Demande adressée" #}
    <td class="{{ classArray }} centered" id="is-validate-{{ document.id }}">
        {% include 'InnovaCollecticielBundle:Document:documentIsValidate.html.twig' %}
    </td>
    {# {% endif %} #}

    <td class="{{ classArray }} centered">
        <div class="btn-group ">
           {# Variable qui va compter le nombre de commentaires #}
           {# Affichage d'un bouton si pas de commentaires #}
            {% if document.comments|length == 0 %}
                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ 'See comments'|trans({},'innova_collecticiel') }}" class="fa fa-commenting-o" href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" type="button" class="btn btn-default btn-sm">
                </a>
           {# Sinon affichage du compteur et des nouveaux commentaires #}
            {% else %}
                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ 'See comments'|trans({},'innova_collecticiel') }}" class="fa fa-commenting-o" href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" type="button">
                    <div class="short-div">
                        {{ document.comments|length }}
                        {% if document.getUnReadComments( app.user.id ) != 0 %}
                            (+{{ document.getUnReadComments( app.user.id ) }})
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </div>
    </td>

    {# #187 : ajout de la colonne "Accusé de réception", demande de JJQ #}
    {% if dropzone.returnreceipt == 1  %}
        <td class="{{ classArray }} centered" id="is-validate-{{ document.id }}">
            {# Pour affichage de la valeur de l'accusé de réception #}
            {% render(controller('InnovaCollecticielBundle:Document:renderReturnReceipt', {'documentId': document.id, 'dropzoneId': dropzone.id})) %} 
        </td>
    {% endif %}

    {# #146 : changement de gestion des annulations et des suppressions, demande de JJQ #}
    {% if adminInnova %}
        {% if mode == 'complete' %}
            <td id="delete_button_td" class="td_action">
            {# Si le document a été validé alors je ne peux pas le supprimer #}
            <!-- default state -->
            <a href="{{ path('innova_collecticiel_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}"
                   class="btn btn-danger btn-sm launch-modal del_btn_td"
                   id="delete_{{ document.id }}" style="display:none;" >
                        {# Ajout de l'icône "supprimer" #}
                        <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Delete'|trans({},'innova_collecticiel') }}"></i>
            </a>
            <a href="" class="btn btn-default cancel_button" style="display:none;" id="cancel_{{ document.id }}" data-document_id="{{ document.id }}" >
                    {# Ajout de l'icône "annuler" #}
                    <i class="fa fa-undo" data-toggle="tooltip"  data-placement="top" data-original-title="{{ 'Cancel'|trans({},'innova_collecticiel') }}"></i>
            </a>

            {# Ajout de l'icône "lock" #}
                <i class="fa fa-lock" style="display:none;"  data-toggle="tooltip" data-placement="top" data-original-title="{{ 'No action allowed'|trans({},'innova_collecticiel') }}"></i>

            <input type="hidden" value="{{document.id}}" name="document_id">
            <input type="hidden" value="{{document.validate ? '0':'1'}}" id="document_validate_{{document.id}}">
            <input type="hidden" value="{{document.comments | length }}" id="document_comments_length_{{document.id}}">
            <input type="hidden" value="{{document.sender.id}}" id="document_sender_{{document.id}}">
            <input type="hidden" value="{{document.drop.user.id}}" id="document_drop_user_{{document.id}}">
        </td>
        {% endif %}
    {% else %}
        {% if collecticielOpenOrNot %}
            {% if mode == 'complete' %}
                <td id="delete_button_td">
                {# Si la document a été validé alors je ne peux pas le supprimer #}
                {% if not document.validate or (adminInnova and document.drop.user.id != document.sender.id) %}
                    <a href="{{ path('innova_collecticiel_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}"
                    class="btn btn-danger btn-sm launch-modal del_btn_td" id="delete_{{ document.id }}" >
                        {# Ajout de l'icône "supprimer" #}
                        <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Delete'|trans({},'innova_collecticiel') }}"></i>
                    </a>
                {% elseif document.validate and not adminInnova and document.comments|length == 0 and document.sender.id == document.drop.user.id %}
                    <a href="" class="btn btn-default cancel_button" id="cancel_{{ document.id }}" data-document_id="{{ document.id }}" >
                        {# Ajout de l'icône "annuler" #}
                        <i class="fa fa-undo" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Cancel'|trans({},'innova_collecticiel') }}"></i>
                    </a>
                {% else %}
                    {# Ajout de l'icône "lock" #}
                    <i class="fa fa-lock" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'No action allowed'|trans({},'innova_collecticiel') }}"></i>
                {% endif %}
                </td>
            {% endif %}
        {% endif %}
    {% endif %}
</tr>
