{% twig_js name="ScaleRow" %}

<tr data-id="{{ id }}">
    <td>
        <a href="#" class="view-scale">{{ name }}</a>
    </td>
    <td class="icon-cell">
        {% if abilityCount > 0 %}
            {% set tooltip = 'tooltip.uneditable_scale' ~ (abilityCount > 1 ? '_plural': '') %}
            <span class="fa fa-pencil disabled"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="{{ tooltip|trans({ '%count%': abilityCount }, 'competency') }}">
            </span>
        {% else %}
            <a href="#"
               class="edit-scale"
               data-toggle="tooltip"
               data-placement="left"
               title="{{ 'edit'|trans({}, 'platform') }}">
                <i class="fa fa-pencil"></i>
            </a>
        {% endif %}
    </td>
    <td class="icon-cell">
        {% if frameworkCount > 0 %}
            {% set tooltip = 'tooltip.undeletable_scale' ~ (frameworkCount > 1 ? '_plural' : '') %}
            <span class="fa fa-remove disabled"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="{{ tooltip|trans({ '%count%': frameworkCount }, 'competency') }}">
            </span>
        {% else %}
            <a href="#"
               class="delete-scale"
               data-toggle="tooltip"
               data-placement="left"
               title="{{ 'delete'|trans({}, 'platform') }}">
                <i class="fa fa-remove"></i>
            </a>
        {% endif %}
    </td>
</tr>
