{% extends "ClarolineChatBundle:Chat:layout.html.twig" %}

{% set _resource = chatRoom %}

{% block chat_content %}
    {% block section_content %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ chatRoom.getResourceNode().getName() }}
                
                {% if canEdit %}
                    <i class="fa fa-cogs pointer-hand pull-right"
                       id="chat-room-configuration-btn"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="{{ 'configuration'|trans({}, 'platform') }}"
                    >
                    </i>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <div id="chat-room-app" ng-cloak="" ng-app="ChatRoomModule">
                <chat-room chat-room-xmpp-host="{{ xmppHost }}"
                           chat-room-xmpp-muc-host="{{ xmppMucHost }}"
                           chat-room-bosh-port="{{ boshPort }}"
                           chat-room-id="{{ chatRoom.getId() }}"
                           chat-room-name="{{ chatRoom.getRoomName() }}"
                           chat-room-user-username="{{ chatUser.getChatUsername() }}"
                           chat-room-user-password="{{ chatUser.getChatPassword() }}"
                           chat-room-user-first-name="{{ chatUser.getUser().getFirstName() }}"
                           chat-room-user-last-name="{{ chatUser.getUser().getLastName() }}"
                           chat-room-user-color="{{ color }}"
                >
                </chat-room>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function () {
            'use strict';
            
            $('#chat-room-configuration-btn').on('click', function () {
                window.Claroline.Modal.displayForm(
                    Routing.generate(
                        'claro_chat_room_configure_form',
                        {'chatRoom': {{ chatRoom.getId() }}}
                    ),
                    function () {},
                    function () {}
                );
            });
        })();
    </script>
{% endblock %}