{% extends "ClarolineChatBundle:Chat:layout.html.twig" %}

{% set _resource = chatRoom %}

{% block chat_content %}
    {% block section_content %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ chatRoom.getResourceNode().getName() }}
                
                {% if canEdit %}
                    <i class="fa fa-cogs pointer-hand pull-right"
                       id="chat-room-configuration-btn"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="{{ 'configuration'|trans({}, 'platform') }}"
                    >
                    </i>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <div id="chat-room-app" ng-cloak="" ng-app="ChatRoomModule">
                <chat-room></chat-room>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function () {
            'use strict';
            
            var color = null;
            
            {% if chatUser.getOptions() is not empty and
                  chatUser.getOptions()['color'] is defined and 
                  chatUser.getOptions()['color'] is not empty
            %}
                color = '{{ chatUser.getOptions()['color'] }}';
            {% endif %}
    
            $('#chat-room-app').on('click', '#connection-btn', function () {
                angular.element(document.getElementById('chat-room-main')).scope().connect(
                    '{{ xmppHost }}',
                    '{{ xmppMucHost }}',
                    '{{ boshPort }}',
                    '{{ chatRoom.getId() }}',
                    '{{ chatRoom.getRoomName() }}',
                    '{{ chatUser.getChatUsername() }}',
                    '{{ chatUser.getChatPassword() }}',
                    '{{ chatUser.getUser().getFirstName() }}',
                    '{{ chatUser.getUser().getLastName() }}',
                    color
                );
            });
            
            $('#chat-room-configuration-btn').on('click', function () {
                window.Claroline.Modal.displayForm(
                    Routing.generate(
                        'claro_chat_room_configure_form',
                        {'chatRoom': {{ chatRoom.getId() }}}
                    ),
                    function () {},
                    function () {}
                );
            });
        })();
    </script>
{% endblock %}