{% macro showTag(tagsList, tagWorkspaces, hierarchy, index, displayable) %}
{% for tag in tagsList %}
    {% if displayable[tag.getId()] %}
    {% set currentIndex = index ~ "-" ~ tag.getId() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a  class="accordion-toggle"
                data-toggle="collapse"
                href="#collapse-{{ currentIndex }}"
            >
                <i class="icon-align-justify"></i>
                {{ tag.getName() }}
                <i class="icon-chevron-down pull-right"></i>
            </a>
        </div>
        <div id="collapse-{{ currentIndex }}" class="panel-body collapse">
            {% if hierarchy[tag.getId()]|length > 0 %}
            {{ _self.showTag(hierarchy[tag.getId()], tagWorkspaces, hierarchy, currentIndex, displayable) }}
            {% endif %}
                {% for relWorkspaceTag in tagWorkspaces[tag.id] %}
                {% set workspace = relWorkspaceTag.getWorkspace() %}
                <a class="list-group-item row-workspace row-workspace-id-{{ workspace.getId() }}"
                    {% set granted = is_granted('home', workspace) %}
                    {% if granted == true %}
                        href="{{ path('claro_workspace_open',
                        {'workspaceId': workspace.getId(), 'toolName': 'home'}) }}"
                        id="link-home-{{ workspace.getId() }}"
                    {% endif %}
                >
                    <i class="icon-book"></i>
                    {{ workspace.getName() }}
                    <span><small>({{ workspace.getCode() }})</small></span>
                </a>
                {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% from _self import showTag %}

{% extends 'ClarolineCoreBundle:WorkspaceTag:layout.html.twig' %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'my_workspaces'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'my_workspaces'|trans({}, 'platform') }}</h3>
    </div>

    <div class="panel-body">
        <a href="{{ path('claro_workspace_manage_tag') }}">
            <button type="button" class="btn btn-default">{{ 'tags_management'|trans({}, 'platform') }}</button>
        </a>
        <a href="{{ path('claro_list_workspaces_with_self_registration') }}">
            <button type="button" class="btn btn-default">{{ 'register_to_a_workspace'|trans({}, 'platform') }}</button>
        </a>
        <a href="{{ path('claro_list_workspaces_with_self_unregistration') }}">
            <button type="button" class="btn btn-default">{{ 'unregister_from_a_workspace'|trans({}, 'platform') }}</button>
        </a>

        <hr>
        {% if workspaces is empty %}
            {{ 'no_workspace' | trans({}, 'platform') }}
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a  class="accordion-toggle"
                        data-toggle="collapse"
                        data-parent="#accordion-all"
                        href="#collapse-all"
                    >
                        <i class="icon-align-justify"></i>
                        {{ 'all_my_workspaces'|trans({}, 'platform') }}
                        <i class="icon-chevron-down pull-right"></i>
                    </a>
                </div>
                <div id="collapse-all" class="list-group collapse {% if tags|length == 0 %}in{% endif %}">
                    {% for workspace in workspaces %}
                    <a  class="list-group-item" class="row-workspace row-workspace-id-{{ workspace.getId() }}"
                        {% set granted = is_granted('home', workspace) %}
                        {% if granted == true %}
                            href="{{ path('claro_workspace_open',
                            {'workspaceId': workspace.getId(), 'toolName': 'home'}) }}"
                            id="link-home-{{ workspace.getId() }}"
                        {% endif %}
                    >
                        <i class="icon-book"></i>
                        {{ workspace.getName() }}
                        <span><small>({{ workspace.getCode() }})</small></span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {{ showTag(rootTags, tagWorkspaces, hierarchy, "0", displayable) }}
    </div>

{% endblock %}
