<div id="modal-cursus-create-form" class="modal-dialog" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'cursus_creation'|trans({}, 'cursus') }}
            </h3>
        </div>
        <div class="modal-body">
            <form id="cursus-create-form"
                  action="{{ path('claro_cursus_create') }}"
                  method="POST"
                  {{ form_enctype(form) }}
            > 
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="submit" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>

{% block javascripts %}
{#    {{ parent() }}#}
    <script src='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js') }}'
            type="text/javascript"
    >
    </script>
    <script src="{{ asset('bundles/clarolinecursus/js/cursusForm.js') }}"
            type="text/javascript"
    >
    </script>
{% endblock %}
    
{% block stylesheets %}
{#    {{ parent() }}#}
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css')}}'
    >
{% endblock %}