<div class="table-responsive">
    <table class="table   table-striped table-hover  ">
        <thead>
        <th>{{ 'last update'|trans({}, 'icap_dropzone') }}</th>
        <th>{{ 'Made by'|trans({},'icap_dropzone') }}</th>
        <th>{{ 'tools'|trans({},'icap_dropzone') }}</th>
        </thead>
        <tbody>
        {% for drop in pager.currentPageResults %}
            <tr>
                <td>
                    <a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id, 'dropId': drop.id}) }}"
                       title="{{ 'See copy'|trans({}, 'icap_dropzone') }}">
                        {{ drop.dropDate|date('formatDatetime'|trans({}, 'icap_dropzone')) }}
                        {% if drop.reported %}
                            <span class="text-danger fa fa-exclamation-triangle" data-toggle="tooltip" title=""
                                  data-original-title="{{ 'This copy has been reported'|trans({}, 'icap_dropzone') }}"></span>
                        {% endif %}
                        {% if drop.unlockedDrop %}
                            <span class="text-warning fa fa-info-circle" data-toggle="tooltip" title=""
                                  data-original-title="{{ 'This copy has been unlocked by admin.(it did not received the expected number of correction)'|trans({}, 'icap_dropzone') }}"></span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    {{ drop.user.firstName|capitalize }} {{ drop.user.lastName|upper }}
                </td>
                <td>
                    <a href="{{ path('icap_dropzone_remind_drop', {'resourceId': dropzone.id, 'dropId': drop.id, 'userId':  drop.user.id}) }}"
                       class="btn btn-default btn-xs">{{ 'send reminder'|trans({}, 'icap_dropzone') }}</a>
                    <a href="{{ path('icap_dropzone_close_drop', {'resourceId': dropzone.id, 'dropId': drop.id}) }}"
                       class="btn btn-danger btn-xs launch-modal">{{ 'close copy'|trans({}, 'icap_dropzone') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ asset('bundles/icapdropzone/js/tooltip.js') }}"></script>