{% for subject in subjects %}
<tr class='row-subject'>
    <td>
        <a class="link-subject" href="{{ path('claro_forum_show_message', {'subjectInstanceId': subject.instanceId }) }}">{{ subject.title }}</a><br>
        {{ 'started_by' | trans({}, 'forum') }} {{ subject.subject_creator_firstname }}, {{ subject.subject_created|date('m/d/Y H:i:s') }}
    </td>
    <td>{{ subject.count_messages }}</td>
    <td>
        <p>{{ subject.last_message_creator_firstname }}</p>
        <p>{{ subject.last_message_created|date('m/d/Y H:i:s') }}</p>
    </td>
</tr>
{% endfor %}