{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% if type == 0 %}
    {% set title = 'menu_bar_configuration'|trans({}, 'platform') %}
{% elseif type == 1 %}
    {% set title = 'user_menu_configuration'|trans({}, 'platform') %}
{% else %}
    {% set title = 'tool_parameters'|trans({}, 'platform') %}
{% endif %}

{% block title %}{{ parent() ~ ' - ' ~ title | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'preferences'|trans({}, 'platform'),
                'href': path('claro_desktop_parameters_menu')
            },
            {
                'name': title|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_panel %}
    <form id="desktop-tool-form" action="{{ path('claro_desktop_tools_roles_edit', {'type': type}) }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>

            <table id="tool-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'tool'|trans({}, 'platform') }}</th>
                        <th>{{ 'visible'|trans({}, 'platform') }}</th>
                    </tr>
                </thead>
                <tbody id="tools-table-body">
                {% for adminOrderedTool in adminOrderedTools %}
                    {% set tool = adminOrderedTool.getTool() %}
                    {% set toolName = tool.getName() %}
                    <tr class="row-locked-tool text-muted">
                        <td>
                            <i class="fa fa-{{ tool.getClass() }}"></i>
                            {% if toolName == 'parameters' %}
                                {{ 'preferences'|trans({}, 'platform') }}
                            {% else %}
                                {{ toolName|lower|trans({}, 'tools') }}
                            {% endif %}
                        </td>
                        <td>
                            <input
                                    type="checkbox"
                                    class="chk-tool-visible"
                                    value="1"
                                    disabled
                                    {% if adminOrderedTool.isVisibleInDesktop() %} checked {% endif %}
                            />
                        </td>
                    </tr>
                {% endfor %}

                {% for orderedTool in orderedTools %}
                    {% set tool = orderedTool.getTool() %}
                    {% set toolName = tool.getName() %}
                    <tr class="row-tool-config"
                        data-tool-id="{{ tool.getId () }}"
                        data-ordered-tool-id="{{ orderedTool.getId () }}"
                    >
                        <td>
                            <span class="fa fa-fw fa-sort text-muted"></span>
                            &nbsp;
                            &nbsp;
                            <i class="fa fa-fw fa-{{ tool.getClass() }}"></i>
                            {% if toolName == 'parameters' %}
                                {{ 'preferences'|trans({}, 'platform') }}
                            {% else %}
                                {{ toolName|lower|trans({}, 'tools') }}
                            {% endif %}
                        </td>
                        <td>
                            <input
                                    type="checkbox"
                                    class="chk-tool-visible"
                                    value="1"
                                    name="chk-tool-{{ tool.getId() }}"
                                    {% if tool.isDesktopRequired() or tool.getName() == 'home' %} disabled {% endif %}
                                    {% if tool.isVisible() %} checked {% endif %}
                            />
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="panel-footer">
                <button id="edit-tools-btn" type="submit" class="btn btn-primary">
                    {{ 'edit'|trans({}, 'platform') }}
                </button>
                <a class="btn btn-default" href="{{ path('claro_desktop_parameters_menu') }}">
                    {{ 'cancel'|trans({}, 'platform') }}
                </a>
            </div>
        </div>
    </form>

    <div id="datas-box" data-type="{{ type }}"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clarolinecore/js/tool/desktop/tool_properties.js') }}" type="text/javascript"></script>
{% endblock %}
