{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'parameters' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
{{
    macros.breadcrumbs([
        {
            'icon': 'icon-cog',
            'name': 'administration'|trans({}, 'platform'),
            'href': path('claro_admin_parameters_index')
        },
        {
            'name': 'parameters'|trans({}, 'platform'),
            'href': ''
        }
    ])
}}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'parameters'|trans({}, 'platform') }}</h3>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="{{ path('claro_admin_parameters_general') }}">
            {{ 'general'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_parameters_appearance') }}">
            {{ 'appearance'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_edit_terms_of_service') }}">
            {{ 'Terms of service' | trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_parameters_mail_index') }}">
            {{ 'mail'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_parameters_indexing') }}">
            {{ 'Indexing'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_session') }}">
            {{ 'session'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_parameters_oauth_index') }}">
            {{ 'oauth'|trans({}, 'platform') }}
        </a>
    </div>
{% endblock %}
