{% extends "ClarolineCursusBundle:CursusRegistration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool_registration' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool_registration'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    {% if isAuthorized %}
        <div id="cursus-registration-panel" ng-app="CursusRegistrationModule">
            <div class="panel panel-default" ui-view>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger">
            {{ 'no_use_right_msg'|trans({}, 'cursus') }}
        </div>
    {% endif %}
{% endblock %}

{% if isAuthorized %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-ui-tree/dist/angular-ui-tree.min.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-data-table/release/dataTable.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-data-table/release/material.css') }}" />
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts debug=false
        'js/translations/cursus/*.js'
        'js/translations/tools/*.js'
        %}<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-plugin-cursus-registration.js') }}"></script>
    {% endblock %}
{% endif %}
