{% macro displayCourseSessions(datas, type, events) %}
    {% set course = datas['course'] %}
    {% set userSessions = datas['sessions'] %}

    <div>
        <span class="collapsed pointer-hand"
           role="button"
           data-toggle="collapse"
           href="#sessions-{{ type }}-{{ course.getId() }}"
        >
            {{ course.getTitle() }}
            <small>
                [{{ course.getCode() }}]
            </small>
            &nbsp;
            <i class="fa fa-caret-down"></i>
        </span>
        <ul id="sessions-{{ type }}-{{ course.getId() }}" class="collapse in">
            
            {% for userSession in userSessions %}
                {% set user = userSession.getUser() %}
                {% set session = userSession.getSession() %}
                {% set sessionId = session.getId() %}
                <li id="session-row-{{ userSession.getId() }}">
                    <span class="label label-default pointer-hand" data-toggle="collapse" href="#events-{{ type }}-{{ sessionId }}">
                        {{ session.getName() }}
                    </span>
                    &nbsp;
                    <span class="label label-primary pointer-hand session-event-registration-btn"
                          data-session-id="{{ session.getId() }}"
                          data-session-name="{{ session.getName() }}"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{{ 'session_event_registration'|trans({}, 'cursus') }}"
                    >
                        <i class="fa fa-clock-o"></i>
                    </span>
                    &nbsp;
                    <span class="label label-primary pointer-hand send-session-invitation-btn"
                          data-session-id="{{ session.getId() }}"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{{ 'invite_to_session'|trans({}, 'cursus') }}"
                    >
                        <i class="fa fa-plus-square"></i>
                    </span>
                    &nbsp;
                    <span class="label label-primary pointer-hand generate-session-certificate-btn"
                          data-session-id="{{ session.getId() }}"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{{ 'generate_certificate'|trans({}, 'cursus') }}"
                    >
                        <i class="fa fa-graduation-cap"></i>
                    </span>
                    &nbsp;
                    <span class="label label-danger pointer-hand delete-session-user-btn"
                          data-session-user-id="{{ userSession.getId() }}"
                          data-type="{{ type }}"
                          data-toggle="tooltip"
                          data-placement="top"
                          {% if type == 0 %}
                              title="{{ 'unregister_learner_from_session'|trans({}, 'cursus') }}"
                          {% elseif type == 1 %}
                              title="{{ 'unregister_tutor_from_session'|trans({}, 'cursus') }}"
                          {% endif %}
                    >
                        <i class="fa fa-trash"></i>
                    </span>

                    {% if type == 0 and events[sessionId] is defined %}
                        &nbsp;
                        <i class="fa fa-caret-down pointer-hand" data-toggle="collapse" href="#events-{{ type }}-{{ sessionId }}"></i>
                        <ul id="events-{{ type }}-{{ sessionId }}" class="collapse">
                            {% for eventData in events[sessionId] %}
                                {% set event = eventData['event'] %}
                                {% set eventUser = eventData['eventUser'] %}
                                <li id="event-row-{{ eventUser.getId() }}">
                                    {% if eventUser.getRegistrationStatus == constant('Claroline\\CursusBundle\\Entity\\SessionEventUser::PENDING') %}
                                        <span class="label label-warning">
                                            {{ 'pending'|trans({}, 'platform') }}
                                        </span>
                                        &nbsp;
                                    {% endif %}
                                    {{ event.getName() }}
                                    &nbsp;
                                    <span class="label label-primary pointer-hand send-session-event-invitation-btn"
                                          data-session-event-id="{{ event.getId() }}"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{{ 'invite_to_session_event'|trans({}, 'cursus') }}"
                                    >
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                    &nbsp;
                                    <span class="label label-primary pointer-hand generate-session-event-certificate-btn"
                                          data-session-event-id="{{ event.getId() }}"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{{ 'generate_event_certificate'|trans({}, 'cursus') }}"
                                    >
                                        <i class="fa fa-graduation-cap"></i>
                                    </span>
                                    &nbsp;
                                    <span class="label label-danger pointer-hand delete-session-event-user-btn"
                                          data-session-event-user-id="{{ eventUser.getId() }}"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{{ 'unregister_user_from_session_event'|trans({}, 'cursus') }}"
                                    >
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% from _self import displayCourseSessions %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{
        parent() ~
        ' - ' ~
        user.getFirstName() ~
        ' ' ~
        user.getLastName() ~
        ' - ' ~
        'user_sessions_management' | trans({}, 'cursus') | striptags | raw
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'user_sessions_management'|trans({}, 'cursus') }}
        </h3>
    </div>
    <div id="user-sessions-managament-body" class="panel-body">
        {{ macros.flashBox() }}
        <h3>{{ user.getFirstName() }} {{ user.getLastName() }}</h3>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#learner-sessions-panel">
                        {{ 'learner'|trans({}, 'cursus') }}
                    </a>
                    <a class="pull-right" href="{{ path('claro_cursus_user_sessions_registration_management', {'user': user.getId(), 'type': 0}) }}">
                        <i class="fa fa-sign-in"></i>
                        {{ 'registration'|trans({}, 'platform') }}
                    </a>
                </h4>
            </div>
            <div id="learner-sessions-panel" class="collapse in">
                <div class="panel-body">
                    
                    {% if learnerSessions|length > 0 %}
                        
                        {% for learnerSession in learnerSessions %}
                            {{ displayCourseSessions(learnerSession, 0, sessionEvents) }}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'no_session'|trans({}, 'cursus') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#tutor-sessions-panel">
                        {{ 'tutor'|trans({}, 'cursus') }}
                    </a>
                    <a class="pull-right" href="{{ path('claro_cursus_user_sessions_registration_management', {'user': user.getId(), 'type': 1}) }}">
                        <i class="fa fa-sign-in"></i>
                        {{ 'registration'|trans({}, 'platform') }}
                    </a>
                </h4>
            </div>
            <div id="tutor-sessions-panel" class="collapse in">
                <div class="panel-body">
                    
                    {% if tutorSessions|length > 0 %}
                        
                        {% for tutorSession in tutorSessions %}
                            {{ displayCourseSessions(tutorSession, 1, sessionEvents) }}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'no_session'|trans({}, 'cursus') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="document-selection-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="document-selection-title"></h3>
                </div>
                <div class="modal-body">
                    <select id="document-selection-select" class="form-control">
                    </select>
                    <div id="document-selection-details-box">
                        <hr>
                        <div id="document-selection-details"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'cancel'|trans({}, 'platform') }}
                    </button>
                    <button type="submit" id="submit-document-selection" class="btn btn-primary">
                        {{ 'ok'|trans({}, 'platform') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="session-event-registration-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'session_event_registration'|trans({}, 'cursus') }}</h3>
                    [<span id="session-event-registration-title"></span>]
                </div>
                <div class="modal-body" id="session-event-registration-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'close'|trans({}, 'platform') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="user-sessions-datas-box" data-user-id="{{ user.getId() }}">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}" ></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-cursus-user-management.js') }}"></script>
{% endblock %}