
{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div id="users-panel" class="panel panel-default" ng-app="UsersManager">
        <user-manager>
        </user-manager>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/angular/angular-ui.css')}}"> </link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/angular.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('vendor/angular-ui.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-ui-router/release/angular-ui-router.min.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/angular/services/api.services.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-ui-translation/angular-translation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-bootstrap/ui-bootstrap-tpls.js') }}"> </script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}

        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/module.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Controller/UserController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Directive/UserActionsDirective.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Directive/UserListDirective.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Directive/UserManagerDirective.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Directive/UserSearchDirective.js') }}></script>

    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/modules.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Controller/GroupController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Directive/GroupListDirective.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Directive/GroupSearchDirective.js') }}></script>
{% endblock %}
