{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'users_management'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'users_management'|trans({}, 'platform') }}</h3>
    </div>
    <div class="list-group">
        {% if not canUserBeCreated %} <div {% else %} <a {% endif %} class="list-group-item {% if not canUserBeCreated %}text-muted{% endif %}" href="{{ path('claro_admin_user_creation_form') }}" id="link_add_user">
            {{ 'create_user'|trans({}, 'platform') }}
        {% if not canUserBeCreated %} </div> {% else %} </a> {% endif %}
        <a class="list-group-item" href="{{ path('claro_admin_user_list') }}" id="link_list_user">
            {{ 'list_users'|trans({}, 'platform') }}
        </a>

        {% if not canUserBeCreated %} <div {% else %} <a {% endif %}  class="list-group-item {% if not canUserBeCreated %}text-muted {% endif %}" href="{{ path('claro_admin_import_users_form') }}">
            {{ 'import_users'|trans({}, 'platform') }}
        {% if not canUserBeCreated %} </div> {% else %} </a> {% endif %}
        <a class="list-group-item" href="{{ path('claro_admin_group_creation_form') }}" id="link_group_create_form">
            {{ 'create_group'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_group_list') }}" id="link_group_list">
            {{ 'list_groups'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_facet_index') }}" id="link_facet_index">
            {{ 'profile_management'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_user_form_properties') }}" id="link_user_properties">
            {{ 'properties'|trans({}, 'platform') }}
        </a>
    </div>
{% endblock %}
