
{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div id="users-panel" class="panel panel-default" ng-app="UsersManager">
        <div class="panel panel-body" ui-view>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/angular/angular-ui.css')}}"> </link>
    {# we should be able to remove the following line if it's included in angular-ui.css #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/select.css') }}"></link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}

        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>

    <script src="{{ asset('dist/claroline-core-user-management.js') }}"></script>

    {#
    <script type="text/javascript" src="{{ asset('vendor/angular.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('vendor/angular-ui.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/angular/services/api.services.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-ui-translation/angular-translation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-bootstrap/ui-bootstrap-tpls.js') }}"> </script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/module.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/users/Controller/UserController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/modules.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Controller/GroupController.js') }}></script>    
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Controller/CreateModalController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Controller/EditModalController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Controller/UserListController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/Service/GroupAPIService.js') }}></script>
    #}
{% endblock %}
