
{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'users_management'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}
    <div id="users-panel" class="panel panel-default" ng-app="userManager">
        <div class="panel-body" ng-controller="contentCtrl">
            <div class="col-md-2 panel-group">
                <div class="panel-body">
                    <locales align="center" class="locale-list">
                    </locales>
                </div>
                <div class="panel-body">
                    <repositories class="list-group">
                    </repositories>
                </div>
            </div>
            <div class="col-md-10 panel-group">
                <div class="container panel-body">
                    <div align="center">
                        <searchbar>
                        </searchbar>   
                    </div>
                </div>
                <div class="panel-body">
                    <translations>
                    </translations>
                </div>
                <div class="panel-body">
                    <preferedlang class="locale-list">
                    </preferedlang>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link 
        rel="stylesheet" 
        href="{{ asset('bundles/clarolineangulardatatable/js/release/dataTable.css') }}"
    />
    <link 
        rel="stylesheet" 
        href="{{ asset('bundles/clarolineangulardatatable/js/release/material.css') }}"
    />
    <link href="http://fontastic.s3.amazonaws.com/Jnf54BZCm7mSjGCxNRbfp3/icons.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Angular JS #}
    {% javascripts debug=false filter='jsmin' output='vendor/claroline/js/angular.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-route.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-resource.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-touch.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUITreeBundle/Resources/public/js/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
        '@InnovaAngularUITranslationBundle/Resources/public/js/*'
        '@InnovaAngularUIResourcePickerBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('bundles/clarolineangulardatatable/js/release/dataTable.helpers.min.js') }}">
    </script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}

        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>
<!--
    <script type="text/javascript" src={{ asset('bundles/clarolinetranslator/js/app.js') }}></script>
->
{% endblock %}
