{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-12">
    <div id="homePath" class="hide">{{ path("claro_index") }}</div>

    {% if region['header'] is defined %}
        <div class="row">
            {{  region['header'] | raw }}
        </div>
    {% endif %}

    <div class="row">
        {% if region['left'] is defined or is_granted('ROLE_ADMIN') %}
            <div class="col-md-3">
                <div class="row"> {% if is_granted('ROLE_ADMIN') %}
                    <div class="content-element relative col-md-12">
                        <div class="list-group menu">
                            <div class="list-group-item disabled">{{ "Content Administration" | trans({}, "home") }}</div>
                            <a class="list-group-item {% if path('claro_index') == app.request.requesturi %} active{% endif %}"
                                href="{{ path("claro_index") }}">
                                <i class="icon-home"></i> {{ "home" | trans({}, "platform") }}
                            </a>
                            <a class="list-group-item{{ "/type/menu" | compareRoute(" active") }}"
                                href="{{ path("claro_get_content_by_type", { "type": "menu"}) }}">
                                <i class="icon-th-list"></i> {{ "Menus" | trans({}, "home") }}
                            </a>
                            <a class="list-group-item relative{{ "/types" | compareRoute(" active") }}"²
                                href="{{ path("claroline_types_manager") }}">
                                <i class="icon-th-large"></i> {{ "Content" | trans({}, "home") }}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {{ region['left'] | raw }}
            </div>
            </div>
        {% endif %}

        <div class="{% if
                (is_granted('ROLE_ADMIN') or region['left'] is defined) and
                region['right'] is defined %}col-md-6{% elseif (is_granted('ROLE_ADMIN') or region['left'] is defined) or
                    region['rigth'] is defined %}col-md-9{% else %}col-md-12{% endif %}">
            {% if region['content'] is defined %}
                {{ region['content'] | raw }}
            {% endif %}

            {{ content | raw }}
        </div>

        {% if region['right'] is defined %}
            <div class="col-md-3">
                {{ region['right'] | raw }}
            </div>
        {% endif %}
    </div>
    {% if region['footer'] is defined %}
        <hr>
        <div class="row">
            {{  region['footer'] | raw }}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/frontend/fluidvids/fluidvids.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/home/height.js') }}"></script>
        {% if is_granted('ROLE_ADMIN') %}
            <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/home/content.js') }}"></script>
        {% endif %}
{% endblock %}
