<div class="content-menu float-right-top hide">
    <button type="button" class="btn btn-primary" data-toggle="dropdown">
        <i class="icon-cog"></i>
        <i class="icon-caret-down"></i>
    </button>
    <ul class="dropdown-menu pull-right">
        {% if father is defined and father is not empty  %}
            <li><a class="content-edit"><i class="icon-edit"></i> {{ "Edit" | trans({}, 'home') }}</a></li>
            <li><a class="content-delete"><i class="icon-trash"></i> {{ "Delete" | trans({}, 'home') }}</a></li>
        {% else %}
            {% if region is not defined or (region is defined and region is empty) %}
                {% if type is defined %}<li><a class="content-size"><i class="icon-resize-horizontal"></i> {{ "Size" | trans({}, 'home') }}</a></li>{% endif %}
                <li><a class="content-edit"><i class="icon-edit"></i> {{ "Edit" | trans({}, 'home') }}</a></li>
            {% endif %}
            <li><a class="content-delete"><i class="icon-trash"></i> {{ "Delete" | trans({}, 'home') }}</a></li>
            {% if type != "home" %}
                <li><a class="content-region"><i class="icon-th-large"></i> {{ "Region" | trans({}, 'home') }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
