{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'indexing' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
            'name': 'indexing'|trans({}, 'platform'),
            'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'indexing'|trans({}, 'platform') }}</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{path('claro_admin_parameters_indexing')}}"
          method="post" {{ form_enctype(form) }}>
        <div class="panel-body">
            {{ form_widget(form) }}
            <div class="row">
                <div class="col-md-9 col-md-offset-3 text-muted">
                    {{ 'meta_tag_paste' | trans({}, 'platform') }}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_index') }}">
                <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
{% endblock %}
