{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'email' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'email'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'parameters'|trans({}, 'platform') }}
    <small>{{ 'email'|trans({}, 'platform') }}</small>
{% endblock %}

{% block page_content %}
    <div class="list-group">
        <a class="list-group-item" href="{{ path('claro_admin_parameters_mail_server') }}">
            {{ 'server'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_mail_registration') }}">
            {{ 'registration'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_mail_layout') }}">
            {{ 'layout'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_admin_mail_option_form') }}">
            {{ 'mail_options'|trans({}, 'platform') }}
        </a>
    </div>
{% endblock %}
