{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'email' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'email'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_mail_index')
            },
            {
                'name': 'layout'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'email'|trans({}, 'platform') }}
    <small>{{ 'layout'|trans({}, 'platform') }}</small>
{% endblock %}

{% block page_content %}
    <form role="form" class="data-form form-horizontal" action="{{ path('claro_admin_edit_mail_layout') }}"
          method="post" enctype="multipart/form-data" id="form_settings" enctype='multipart/form-data'
    >
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ 'mail_layout_message_override' | trans({}, 'platform') }}.<br>
                    <br>
                    {{ 'variable_available_message' | trans({}, 'platform') }}:<br>
                    <br>
                    <ul>
                        <li><strong>%content%</strong> {{ 'placeholder_mail_content_message' | trans({}, 'platform') }}.
                        <li><strong>%platform_name%</strong> {{ 'placeholder_platform_name_message' | trans({}, 'platform') }}.
                        <li><strong>%first_name%</strong> {{ 'placeholder_first_name_message' | trans({}, 'platform') }}.
                        <li><strong>%last_name%</strong> {{ 'placeholder_last_name_message' | trans({}, 'platform') }}.
                    </ul>
                    <br>
                    {{ 'fullscreen_text_editor' | trans({}, 'platform') }}.
                </div>
                {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="form-toolbar">
            <button type="submit" class="btn btn-primary">
                <span class="action-icon fa fa-fw fa-save"></span>
                <span class="sr-only">{{ 'save'|trans({}, 'actions') }}</span>
            </button>
            <a href="{{ path('claro_admin_parameters_mail_index') }}" class="btn btn-default">
                <span class="action-icon fa fa-fw fa-sign-out-alt"></span>
                <span class="sr-only">{{ 'exit'|trans({}, 'actions') }}</span>
            </a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('dist/plugin-formula-formula-tinymce-plugin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/administration/email.js') }}"></script>
{% endblock%}
