{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'mail' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'maintenance'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_maintenance')
            },
            {
                'name': 'edit_maintenance_message'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'edit_maintenance_message'|trans({}, 'platform') }}</h3>
    </div>
    <form role="form"
          action="{{ path('claro_admin_parameters_maintenance_message_edit') }}"
          method="post"
          id="maintenance_message_form"
    >
        <div class="panel-body">
            {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_admin_parameters_maintenance') }}" class="btn btn-default">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
