{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'claroline_oauth_apps' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'claroline_oauth_apps'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'claroline_oauth_apps'|trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="{{ path('claro_admin_oauth_clients') }}" class="list-group-item"> {{ 'client_list'|trans({}, 'platform') }}</a>
            <a href="{{ path('claro_admin_oauth_claroline') }}" class="list-group-item">Claroline</a>
        </div>
    </div>
{% endblock %}
