{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'email' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'email'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_mail_index')
            },
            {
                'name': 'mail_options'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'email'|trans({}, 'platform') }}
    <small>{{ 'options'|trans({}, 'platform') }}</small>
{% endblock %}

{% block page_content %}
    {{ macros.flashBox() }}
    {% form_theme form 'ClarolineCoreBundle::form_theme_no_translations.html.twig' %}
    <form role="form" class="form-horizontal" action="{{ path('claro_admin_mail_submit_form') }}" method="post" enctype="multipart/form-data" id="form_settings" enctype='multipart/form-data'>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="form-toolbar">
            <button type="submit" class="btn btn-primary">
                <span class="action-icon fa fa-fw fa-save"></span>
                <span class="sr-only">{{ 'save'|trans({}, 'actions') }}</span>
            </button>
            <a href="{{ path('claro_admin_parameters_mail_index') }}" class="btn btn-default">
                <span class="action-icon fa fa-fw fa-sign-out-alt"></span>
                <span class="sr-only">{{ 'exit'|trans({}, 'actions') }}</span>
            </a>
        </div>
    </form>
{% endblock %}
