{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'registration' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
    'icon': 'fa fa-cog',
    'name': 'administration'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'parameters'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'email'|trans({}, 'platform'),
    'href': path('claro_admin_parameters_mail_index')
    }
    ,
    {
    'name': 'registration'|trans({}, 'platform'),
    'href': ''
    }
    ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'registration'|trans({}, 'platform') }}</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{ path('claro_admin_edit_mail_registration') }}" method="post" {{ form_enctype(form) }} id="form_settings" enctype='multipart/form-data'>
        <div class="panel-body">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ 'registration_mail_content_override' | trans({}, 'platform') }}.<br>
                <br>
                {{ 'variable_available_message' | trans({}, 'platform') }}:<br>
                <br>
                <ul>
                    <li><strong>%platform_name%</strong> {{ 'replace_platform_name_display_message' | trans({}, 'platform') }}.
                    <li><strong>%username%</strong> {{ 'replace_username_display_message' | trans({}, 'platform') }}.
                    <li><strong>%password%</strong> {{ 'replace_password_display' | trans({}, 'platform') }}.
                    <li><strong>%first_name%</strong> {{ 'replace_first_name_display_message' | trans({}, 'platform') }}.
                    <li><strong>%last_name%</strong> {{ 'replace_last_name_display_message' | trans({}, 'platform') }}.
                    <li><strong>%validation_mail%</strong> {{ 'replace_validation_email_message' | trans({}, 'platform') }}.
                </ul>
                <br>
                {{ 'fullscreen_text_editor' | trans({}, 'platform') }}.
            </div>
            {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_parameters_mail_index') }}">
                <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/administration/email.js') }}"></script>
{% endblock%}
