{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'infos_sending_acceptance' | trans({}, 'platform') | striptags | raw }}
{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'infos_sending_acceptance'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'parameters'|trans({}, 'platform') }}
    <small>{{ 'infos_sending_acceptance'|trans({}, 'platform') }}</small>
{% endblock %}

{% block section_content %}
    <div class="sendData">
        <p>{{ 'confirm_send_data'|trans({}, 'platform') }}</p>
        <ul>
            <li>
                {{ 'technical'|trans({}, 'platform') }}
                (<i>{{ 'technical_data'|trans({}, 'platform') }}</i>)
            </li>
            <li>
                {{ 'statistics'|trans({}, 'platform') }}
                (<i>{{ 'statistics_data'|trans({}, 'platform') }}</i>)
            </li>
        </ul>
        <small>
            <p>{{ 'agreeing'|trans({}, 'platform') }}</p>
            <p>{{ 'personal_data'|trans({}, 'platform') }}</p>
        </small>
    </div>

    <div class="form-toolbar">
        <a href="{{ path('claro_admin_send_data_confirm') }}" class="btn btn-primary">
            <span class="action-icon fa fa-fw fa-check"></span>
            <span class="sr-only">{{ 'accept'|trans({}, 'actions') }}</span>
        </a>
        <a href="{{ path('claro_admin_index') }}" class="btn btn-default">
            <span class="action-icon fa fa-fw fa-sign-out-alt"></span>
            <span class="sr-only">{{ 'exit'|trans({}, 'actions') }}</span>
        </a>
    </div>
{% endblock %}
