{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'third_party_authentication' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_index')
    },
    {
        'name': 'third_party_authentication'|trans({}, 'platform'),
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'parameters'|trans({}, 'platform') }}
    <small>{{ 'third_party_authentication'|trans({}, 'platform') }}</small>
{% endblock %}

{% block page_content %}
    <div class="list-group">
        {{ knp_menu_render('ClarolineCoreBundle:Builder:externalAuthenticationMenu', {}, 'external_authentication_renderer') }}
    </div>
{% endblock %}
