{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block section_content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('claro_workspace_properties', {'workspaceId': workspace.getId()}) }}">{{ 'settings'|trans({}, 'platform') }}</a>
        </li>
         <span class="divider"> / </span>
        <li>
            <a href="#">{{ 'widgets'|trans({}, 'platform') }}</a>
        </li>
    </ul>
    <div class="wrapper">
        <a href="{{ path('claro_workspace_widget_properties_display', {'workspaceId': workspace.getId()}) }}">{{ 'display_options'|trans({}, 'platform') }}</a><br>
        <a href="{{ path('claro_workspace_widgets_configuration', {'workspaceId': workspace.getId()}) }}">{{ 'widget_settings'|trans({}, 'platform') }}</a>
    </div>
{% endblock %}