{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'i18n' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'i18n'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="page-container">
        <main class="page">
            <header class="page-header">
                <h1>
                    {{ 'parameters'|trans({}, 'platform') }}
                    <small>{{ 'i18n'|trans({}, 'platform') }}</small>
                </h1>
            </header>

            <div class="page-content">
                <form role="form" class="form-horizontal" action="{{ path('claro_admin_i18n_submit') }}" method="post" {{ form_enctype(form) }}>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_widget(form) }}
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">
                            {{ 'save'|trans({}, 'platform') }}
                        </button>
                        <a href="{{ path('claro_admin_index') }}" class="btn btn-default">
                            {{ 'cancel'|trans({}, 'platform') }}
                        </a>
                    </div>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
