<div class='modal-dialog'>
    <form role="form" class="modal-content node-rights-form" action="{{ path('claro_resource_rights_creation_edit', {'node': nodeId, 'role': roleId}) }}"
          method="post"
          id="form-node-creation-rights">
        <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ 'rights_management' | trans({}, 'platform') }}</h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                     <tr>
                        <th>{{ 'resource'|trans({},'platform') }}</th>
                        {% for config in configs %}
                             <th>{{ config.getRole().getTranslationKey()|trans({}, 'platform') }}</th>
                        {% endfor %}
                    </tr>
                    {% for resourceType in resourceTypes %}
                    <tr>
                        <td>{{ resourceType.getName()|trans({}, 'resource') }}</td>
                        {% for config in configs %}
                            <td>
                                <input name="resourceTypes[{{ resourceType.getId() }}]" type="checkbox"
                                   {% for createType in config.getCreatableResourceTypes() %}
                                        {% if createType.getName() == resourceType.getName() %}
                                            checked
                                        {% endif %}
                                   {% endfor %}
                                />
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input name="isRecursive" type="checkbox"/> {{ 'recursive_dir_action'|trans({}, 'platform')}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal">{{ 'ok'|trans({}, 'platform') }}</button>
        </div>
    </form>
</div>
