<form
  role="form"
  class="form-horizontal panel panel-default"
  id="resource_unlock"
  action="{{ path('claro_resource_form_unlock', {'node': node.getId()}) }}"
  method="post" enctype="multipart/form-data"
>
    <div class="panel-body">
        <div class="well">
            {{ 'unlock_resource_explanation'|trans({}, 'platform') }}
        </div>
        {{ form_widget(form) }}
    </div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a class="btn btn-default" href="{{ path('claro_workspace_list') }}" role="button">
            {{ 'cancel'|trans({}, 'platform') }}
        </a>
    </div>
</form>
