{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'session' | trans({}, 'cursus') }}
{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
        'name': 'catalog'|trans({}, 'cursus'),
        'href': ''
    },
    {
        'name': 'session'|trans({}, 'cursus'),
        'href': ''
    }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container cursus-catalog-session-container"
        data-session="{{ session | json_encode | raw | escape }}"
        data-session-user="{{ sessionUser | json_encode | raw | escape }}"
        data-session-queue="{{ sessionQueue | json_encode | raw | escape }}"
        data-is-full="{{ isFull | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ hotAsset('dist/formalibre-clarolinebundle-plugin-cursus-catalog-session.js') }}"></script>
{% endblock %}
