<div class="col-md-12 list_my_badges">
    <legend>{{ 'my_latest_badges'|trans({}, 'icap_badge') }}</legend>
    <ul class="list-inline my_badges">
        {% set nbBadge = 0 %}
        {% for workspaceBadge in badgePager %}
            {% set badgeType = workspaceBadge.type %}
                {% if 'owned' == badgeType %}
                    <li class="col-md-12">
                        {% set nbBadge = nbBadge + 1 %}
                        {% set badge = workspaceBadge.badge.badge %}
                        {% set userBadge = workspaceBadge.badge %}
                        <div class="panel panel-default badge_panel">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <a href="{{ path('icap_badge_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badge.slug}) }}" title="{{ badge.name }}" class="img_container">
                                        <img src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" class="badge_image_informations" />
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ path('icap_badge_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badge.slug}) }}" title="{{ 'consult_my_badge_details'|trans({}, 'icap_badge') }}">
                                        <h3>{{ badge.name }}</h3>
                                    </a>
                                    <p>{{ badge.description }}</p>
                                    <p class="criteria">
                                        <span class="fa fa-th-list"></span> {{ badge.criteria|truncate(140, true, ' ...')|striptags|raw }}
                                    </p>
                                    <p class="award_text">
                                        <span class="fa fa-check"></span> {{ 'badge_awarded_on'|trans({'%awardingDate%': userBadge.issuedAt|date('date_format'|trans({}, 'platform'))}, 'icap_badge') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
        {% endfor %}
        {% if nbBadge < 1 %}
            <li class="node-thumbnail node">
                {{ 'no_badges_obtained'|trans({}, 'icap_badge')|raw }}
            </li>
        {% endif %}

    </ul>
</div>


<div class="col-md-12 list_my_badges">
    <legend>{{ 'availables_badges'|trans({}, 'icap_badge') }}</legend>
    <ul class="list-inline my_badges">
        {% set nbBadgeWp = 0 %}
        {% for workspaceBadge in badgePager %}
            {% set badgeType = workspaceBadge.type %}
                {% if 'owned' != badgeType %}
                    <li class="col-md-12">
                    {% set nbBadgeWp = nbBadge + 1 %}
                    {% set badge = workspaceBadge.badge %}
                    <div class="panel panel-default badge_panel available_badges">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="img_container">
                                    <a href="{{ path('icap_badge_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badge.slug}) }}" title="{{ badge.name }}" class="img_container">
                                        <img src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" class="badge_image_informations" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>
                                    <a href="{{ path('icap_badge_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badge.slug}) }}" title="{{ badge.name }}" class="img_container">
                                        {{ badge.name }}
                                    </a>
                                    {% if 'inprogress' == badgeType %}<small class="pull-right">{{ 'badge_awarding_in_progress'|trans({}, 'icap_badge') }}</small>{% endif %}
                                    {% if 'finished' == badgeType %}
                                        <a href="{{ path('icap_badge_workspace_tool_claim_badge', {'workspaceId': workspace.id, 'badge_id': badge.id}) }}" class="pull-right btn btn-xs btn-primary finished">{{ 'badge_awarding_finished'|trans({}, 'icap_badge') }}</a>
                                    {% elseif 'claimed' == badgeType%}
                                        <small class="pull-right claimed">{{ 'badge_claimed'|trans({}, 'icap_badge') }}</small>
                                    {% endif %}
                                </h3>
                                <p>{{ badge.description }}</p>
                                <p class="criteria">
                                    <span class="fa fa-th-list"></span> {{ badge.criteria|truncate(140, true, ' ...')|striptags|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                    </li>
                {% endif %}
        {% endfor %}
        {% if nbBadgeWp < 1 %}
            <li class="node-thumbnail node">
                {{ 'no_badges_in_workspace'|trans({}, 'icap_badge')|raw }}
            </li>
        {% endif %}
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var image = $('.panel-body .col-md-4 .badge_image_informations');
        image.each(function(){
            if ($( this ).width() > $( this ).height()) {
                $( this ).css('height', '100px');
                $( this ).css('marginLeft', -($( this ).width())/2);
                $( this ).css('marginTop', -($( this ).height())/2);
            }
            else{
                $( this ).css('width', '100px');
                $( this ).css('marginLeft', -($( this ).width())/2);
                $( this ).css('marginTop', -($( this ).height())/2);
            }
        });

        var image_simple_display = $('.badge_simple_display img');
        image_simple_display.each(function(){
            if ($( this ).width() > $( this ).height()) {
                $( this ).css('height', '100px');
                $( this ).css('marginLeft', -($( this ).width())/2);
                $( this ).css('marginTop', -($( this ).height())/2);
            }
            else{
                $( this ).css('width', '100px');
                $( this ).css('marginLeft', -($( this ).width())/2);
                $( this ).css('marginTop', -($( this ).height())/2);
            }
        });


    });

</script>

{% if badgePager.haveToPaginate %}
<div>
    {{
        pagerfanta(
            badgePager,
            'twitter_bootstrap_translated',
            {
                'proximity' :    1,
                'routeName':     'icap_badge_workspace_tool_my_badges',
                'routeParams':   {'workspaceId': workspace.id},
                'pageParameter': '[badgePage]'
            }
        )
    }}
</div>
{% endif %}
