{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}
{{dirId}}
<form action="{{path('claro_file_upload', {'id':dirId })}}" method="post" {{ form_enctype(formfile) }} id="formfile">
    {{ form_errors(formfile) }}
    {% set label_file %}{{ 'file'|trans({}, 'platformTranslation') }}{% endset %}
    {{ form_label(formfile.file, label_file ) }}
    {{ form_widget(formfile.file) }}
    {{ form_rest(formfile) }}
<input type="submit" />
</form>
{% endblock %}