{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ "preferences" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'preferences'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'preferences'|trans({}, 'platform') }}
        </h3>
    </div>

    <div class="list-group menu">
        <a class="list-group-item" href="{{ path('claro_tool_properties', {'type': 0}) }}">
            <span>{{ 'menu_bar'|trans({}, 'platform') }}</span>
        </a>
        <a class="list-group-item" href="{{ path('claro_tool_properties', {'type': 1}) }}">
            <span>{{ 'user_menu'|trans({}, 'platform') }}</span>
        </a>
        <a class="list-group-item" href="{{ path('claro_user_options_edit_form') }}">
            <span>{{ 'desktop_parameters'|trans({}, 'platform') }}</span>
        </a>
    </div>
{% endblock %}