{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ "parameters" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'parameters'|trans({}, 'platform') }}</h3>
    </div>
    <div class="list-group">
        <a class='list-group-item li-user-parameters' href="{{ path('claro_tool_properties') }}">{{ 'tools'|trans({}, 'platform') }}</a>
        {% for tool in tools %}
            <a class='list-group-item li-user-parameters' href="{{ path('claro_desktop_tool_config', {'tool': tool.getId()}) }}">
                {{ tool.getName()|trans({}, 'tools') }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clarolinecore/js/administration/widgets.js') }}" type="text/javascript"></script>
{% endblock %}
