{% extends 'form_div_layout.html.twig' %}

{% block datepicker_widget %}
    {% spaceless %}
        {% if component %}
        <div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">
            <input class="span2" size="16" type="text" value="12-02-2013" readonly><span class="add-on"><i class="icon-th"></i></span>
        </div>
        {% else %}
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
        {% block datepicker_assets %}
            <link rel="stylesheet" href="{{ asset('bundles/frontend/jquery/plugin/datepicker/css/datepicker.css') }}" screen="media" />
            <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/bootstrap-datepicker.js') }}"></script>
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#{{ form.vars['id'] }}").datepicker();
            });
        </script>
    {% endspaceless %}
{% endblock %}
