{% block dropzone_add_comment %}

    <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}
    action="{{ path('innova_collecticiel_add_comment',
    {'documentId': document.id, 'userId': user.id, 'dropzoneId': dropzone.id, 'correctionId': correction.id}) }}">

        {{ form_errors(form) }}

        <div class="form-group">
            <label for="comment-name">{{ 'Comments add'|trans({}, 'innova_collecticiel') }}</label>
            <input id="comment-name" type="text" class="form-control" name="comment-name" required />
        </div>

        <div class="form-group">
            <input type="submit" value="{{ 'Comment validation'|trans({}, 'innova_collecticiel') }}" class="btn btn-primary pull-left">
        </div>

        {{ form_rest(form) }}

    </form>

{% endblock %}

{% block stylesheets %}
    <style>
        .column-container-div {
            text-align: center;
        }
        .direct-chat-warning .right > .direct-chat-text {
            background: none repeat scroll 0 0 #F39C12;
            border-color: #F39C12;
            color: #FFFFFF;
        }
    </style>
    <link href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
{% endblock %}
