{% block dropzone_add_comment %}

    <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}
    action="{{ path('innova_collecticiel_add_comment',
    {'documentId': document.id, 'userId': user.id, 'dropzoneId': dropzone.id, 'correctionId': correction.id}) }}">

        {{ form_errors(form) }}

        <div class="form-group">
            <label for="comment-name">{{ 'Comments add'|trans({}, 'innova_collecticiel') }}</label>
            <input id="comment-name" type="text" class="form-control" name="comment-name" required />
        </div>

        <div class="form-group">
            <input type="submit" value="{{ 'Comment validation'|trans({}, 'innova_collecticiel') }}" class="btn btn-primary pull-left">
        </div>

        {{ form_rest(form) }}

    </form>

{% endblock %}

{% block stylesheets %}
    <style>
        .column-container-div {
            text-align: center;
        }
    </style>
{% endblock %}
