{% block dropzone_add_comment %}
    <div class="container">
<!--
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}
        action="{{ path('innova_collecticiel_add_comment',
        {'documentId': document.id, 'userId': user.id, 'dropzoneId': dropzone.id, 'correctionId': correction.id}) }}">

            {{ form_errors(form) }}

            <div class="form-group">
                <div class="col-md-12">
                    <label for="comment-name">{{ 'Comments add'|trans({}, 'innova_collecticiel') }}</label>
                    <input id="comment-name" type="text" class="form-control" name="comment-name" required />
                    <textarea id="comment-name" class="tinymce media-description" name="comment-name" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="{{ 'Comment validation'|trans({}, 'innova_collecticiel') }}" class="btn btn-primary pull-left">
                </div>
            </div>

            <hr>

            {{ form_rest(form) }}

            <hr>

        </form>
 -->

        {{ form(formComment) }}

    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .column-container-div {
            text-align: center;
        }
        .direct-chat-warning .right > .direct-chat-text {
            background: none repeat scroll 0 0 #F39C12;
            border-color: #F39C12;
            color: #FFFFFF;
        }
    </style>
    <link href="{{ asset("bundles/innovacollecticiel/css/adminLte.css") }}" rel="stylesheet" />
{% endblock %}
