{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set title = 'desktop_home_tabs'|trans({}, 'platform') %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'desktop_home_tabs'|trans({}, 'platform') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'desktop_and_home'|trans({}, 'platform'),
                'href': path('claro_admin_desktop_configuration_menu')
            },
            {
                'name': title,
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_panel %}
    <div class="page-header">
        <h1 class="panel-title">{{ title }}</h1>
    </div>

    <div id="admin-home-content" data-ng-app="AdminHomeTabsConfigModule">
        <div data-ui-view=""></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false filter='less, cssmin' output='css/clarolinecore/hometabs.css'
        "@ClarolineCoreBundle/Resources/less/home-tabs.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel='stylesheet' type='text/css' href='{{ asset('packages/angular-bootstrap-colorpicker/css/colorpicker.min.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{ asset('packages/angular-gridster/dist/angular-gridster.min.css')}}'>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-admin-home-tabs-config.js') }}"></script>
    <script src="{{ asset('packages/angular-gridster/dist/angular-gridster.min.js') }}"></script>
{% endblock %}
