{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        vars=["locale"]
        "@ClarolineCoreBundle/Resources/views/Resource/roles.html.twigjs"
        filter="twig_js"
    %}
        <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/clarolinecore/js/tool/workspace/resource_rights_form.js') }}" type="text/javascript"></script>
{% endblock %}
{% block section_content %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'resources'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
    <div id="data" data-workspace-id="{{ workspace.getId() }}" data-resource-id="{{ resource.getId() }}"></div>
    {% include 'ClarolineCoreBundle:Tool\\workspace\\resource_manager:resourcesRightsForm.html.twig' %}
{% endblock %}
