{% if log.getDoerType() == 'user' %}
    {% if log.getDetails().doer is defined %}
        <div>
            <h4>{{ ('log_doer')|trans({}, 'log') }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ ('last_name')|trans({}, 'platform') }}</dt>
                <dd>{{ log.getDetails().doer.firstName }}</dd>

                <dt>{{ ('first_name')|trans({}, 'platform') }}</dt>
                    <dd>{{ log.getDetails().doer.lastName }}</dd>

                {% if is_granted('ROLE_ADMIN') and log.doerSessionId %}
                    <dt>{{ ('session_id')|trans({}, 'platform') }}</dt>
                    <dd>{{ log.doerSessionId }}</dd>
                {% endif %}

                {% if log.getDetails().doer.platformRoles is defined %}
                    <dt>{{ ('log_platform_roles')|trans({}, 'log') }}</dt>
                    <dd>
                        {% for role in log.getDetails().doer.platformRoles %}
                            {% if not loop.first %}, {% endif %}
                            {{ role|trans({}, 'platform') }}
                        {% endfor %}
                    </dd>
                {% endif %}
                {% if log.getDetails().doer.workspaceRoles is defined %}
                    <dt>{{ ('log_workspace_roles')|trans({}, 'log') }}</dt>
                    <dd>
                        {% for role in log.getDetails().doer.workspaceRoles %}
                            {% if not loop.first %}, {% endif %}
                            {{ role|trans({}, 'platform') }}
                        {% endfor %}
                    </dd>
                {% endif %}
            </dl>
        </div>
    {% endif %}
{% elseif log.getDoerType() == 'anonymous' %}
    <div>
        <h4>{{ ('log_doer')|trans({}, 'log') }}</h4>
        <dl class="dl-horizontal">
            <dt>{{ ('anonymous')|trans({}, 'platform') }}</dt>
        </dl>
    </div>
{% elseif log.getDoerType() == 'platform' %}
    <div>
        <h4>{{ ('log_doer')|trans({}, 'log') }}</h4>
        <dl class="dl-horizontal">
            <dt>{{ ('log_default_user')|trans({}, 'log') }}</dt>
        </dl>
    </div>
{% endif %}
