{% if log.getDetails().owner is defined %}

    <h4>
        {% if 'resource_' in log.getAction() %}
            {{ ('log_resource_owner')|trans({}, 'log') }}
        {% else %}
            {{ ('log_owner')|trans({}, 'log') }}
        {% endif %}
    </h4>

    {% if log.getOwner() and log.getDoer() and log.getOwner().getId() == log.getDoer().getId() %}
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>{{ ('log_himself')|trans({}, 'log') }}</dd>
        </dl>
    {% else %}
        <dl class="dl-horizontal">
            <dt>{{ ('last_name')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().owner.firstName }}</dd>
            <dt>{{ ('first_name')|trans({}, 'platform') }}</dt>
            <dd>{{ log.getDetails().owner.lastName }}</dd>
        </dl>
    {% endif %}
{% endif %}
