{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <div>
            {{
                macros.breadcrumbs([
                    {
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_index')
                    },
                    {
                        'name': 'profile_management'|trans({}, 'platform'),
                        'href': path('claro_admin_facet_index')
                    },
                    {
                        'name': 'facet_management'|trans({}, 'platform'),
                        'href': ''
                    }
                ])
            }}
        </div>
        <facet-management ng-app="FacetManager"></facet-management>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('packages/angular-dragula/dist/dragula.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-facet-management.js') }}"></script>
{% endblock %}
