<h4> {{ 'others_paths' | trans({}, 'innova_tools') }} </h4>
<div class="panel panel-default">
    <table id="otherpaths" class="table table-hover in" style="margin-top: -1px;">
        <thead>
            <tr>
                <th>{{ 'name' | trans({}, 'innova_tools') }}</th>
                <th>{{ 'description' | trans({}, 'innova_tools') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for path in paths["others"] %}
            {% if path.published %}
            <tr>
                <td>
                    <strong>
                        <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}" />
                        {{ path.resourceNode.name }}
                        </a>
                    </strong>
                </td>
                <td>
                    <em>{{ path.description | striptags | truncate(40, true, ' [...]') }}</em>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>