<h4> {{ 'others_paths' | trans({}, 'innova_tools') }} </h4>
<div class="panel panel-default">
    <table id="otherpaths" class="table table-hover in" style="margin-top: -1px;">
        <thead>
            <tr>
                <th>{{ 'status' | trans({}, 'innova_tools') }}</th>
                <th>{{ 'name' | trans({}, 'innova_tools') }}</th>
                <th>{{ 'description' | trans({}, 'innova_tools') }}</th>
                <th class="text-right">{{ 'available_actions' | trans({}, 'innova_tools') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for path in paths["others"] %}
            {% if path.published %}
            <tr>
                <td>
                    {% if path.published %}
                        {% if not path.modified %}
                            <span class="text-success">[{{ 'published' | trans({}, 'innova_tools') }}]</span>
                        {% else %}
                            <span class="text-warning">
                                [{{ 'published' | trans({}, 'innova_tools') }} {{ 'modified' | trans({}, 'innova_tools') }}]
                            </span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <strong>{{ path.resourceNode.name }}</strong>
                </td>
                <td>
                    {{ path.description | striptags | truncate(40, true, ' [...]') }}
                </td>
                <td align="right">
                    <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}" data-original-title="{{ 'play' | trans({}, 'innova_tools') }}" class="btn btn-xs btn-default" />
                        <span class="icon-play"></span>
                        {{ 'play' | trans({}, 'innova_tools') }}
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>