<h4> {{ 'my_paths' | trans({}, 'innova_tools') }} </h4>
<div class="panel panel-default">
    <table id="mypaths" class="table table-hover in">
        <thead>
            <tr>
                <th>{{ 'status' | trans({}, 'innova_tools') }}</th>
                <th>{{ 'name' | trans({}, 'innova_tools') }}</th>
                <th>{{ 'description' | trans({}, 'innova_tools') }}</th>
                <th class="text-right">{{ 'available_actions' | trans({}, 'innova_tools') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for count, path in paths["me"] %}
            <tr>
                <td>
                    {% if path.published %}
                        {% if not path.modified %}
                            <span class="text-success">{{ 'published' | trans({}, 'innova_tools') }}</span>
                        {% else %}
                            <span class="text-warning">{{ 'published' | trans({}, 'innova_tools') }} {{ 'modified' | trans({}, 'innova_tools') }}</span>
                        {% endif %}
                    {% else %}
                        <span class="text-danger">{{ 'draft' | trans({}, 'innova_tools') }}</span>
                    {% endif %}
                </td>
                <td>
                    <strong>
                    {% if path.published %}
                    <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}" />
                        {{ path.resourceNode.name }}
                    </a>
                    {% else %}
                        {{ path.resourceNode.name }}
                    {% endif %}
                    </strong>
                </td>
                <td>
                    <em>{{ path.description | striptags | truncate(40, true, ' [...]') }}</em>
                </td>
                <td class="text-right">
                    <a href="{{ path('innova_path_editor_edit', {workspaceId: workspace.id, id: path.id}) }}" class="btn btn-xs btn-default">
                        <span class="icon-pencil"></span>
                        {{ 'edit' | trans({}, 'innova_tools') }}
                    </a>
                {% if path.modified or not path.published %}
                    <a href="{{ path('innova_path_publish', {workspaceId: workspace.id, id: path.id}) }}" class="btn btn-xs btn-success">
                        <span class="icon-share"></span>
                        {{ 'publish' | trans({}, 'innova_tools') }}
                    </a>
               {% endif %}
                    <form action="{{ path('innova_path_delete', {workspaceId: workspace.id, id: path.id}) }}" method="post" style="display: inline-block">
                        <input type="hidden" value="DELETE" name="_method" />
                        <a href="#" class="btn btn-xs btn-danger path-delete" id="path-delete-{{ count }}">
                            <span class="icon-trash"></span>
                            {{ 'delete' | trans({}, 'innova_tools') }}
                        </a>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>