{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/new_QI.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %} {{ "Edit a question" | trans }} {% endblock %}

{% block section_content %}

    <form onsubmit="return check_form('{{ "nbr_choices" | trans }}', '{{ "answer_coched" | trans }}', '{{ "label_empty" | trans }}', '{{ "point_answers" | trans }}', '{{ "point_answer" | trans }}', '{{ "invite_question" | trans }}');" action="{{ path('ujm_interactionqcm_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" id="button_submit">{{ "Edit" | trans }}</button>
        </p>
    </form>

{# lien vers category #}
<a href="#" style="margin: 5px 5px 5px 5px;" id="lien_category">{{ "Create a new category" | trans }}</a>

<div id="popupEA">
    <div id="popupContainer" class="hiddenCat"> <a id="close" class="hiddenCat" title="close popup">{{ "close" | trans }}</a><h1>{{ "response" | trans }}</h1><div id="div_input_popup"><textarea id="input_popup" class="tinymce" data-theme="medium"></textarea></div></div><div id="overlayEffect"> </div>
</div>

<div id="listeCategory">
    <div id="popupCategory" class="hiddenCat"> <a id="closeCategory" class="hiddenCat" title="close popup">{{ "close" | trans }}</a><h1>{{ "Create a new category" | trans }}</h1><div id="div_input_category"></div></div><div id="overlayEffect_cat"> </div>
</div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('ujm_question_index') }}">
                {{ "Back to the list" | trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{# tiny MCE #}
{{ tinymce_init() }}

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionQCM.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/editionAv.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>

{# add form choice #}
<script type="text/javascript">
$(document).ready(function() {
    linkCategory('{{ path('ujm_category_new_pop') }}');
    insertStyle();
    addFormChoiceEdit('{{ "Multiple response" | trans }}', '{{ "Unique response" | trans }}', '{{ "add" | trans }}', '{{ "Response number" | trans }}', '{{ "Response" | trans }}', '{{ "point" | trans }}', '{{ "comment" | trans }}', '{{ "expected response" | trans }}', '{{ "order" | trans }}', '{{ asset('bundles/ujmexo/images/ajouter_ligne.jpeg') }}', '{{ nbResponses }}', '{{entity.typeQCM.id}}', '{{ "Choice.positionForce" | trans }}', '{{ asset('bundles/ujmexo/images/delete.png') }}');
    choiceCSSEdit('{{ asset('bundles/ujmexo/images/delete.png') }}', {{ nbResponses }});
    editionAv();
    hintCSSEdit();
    addFormHintEdit('{{ "add hint" | trans }}',  '{{ asset('bundles/ujmexo/images/ajouter_ligne.jpeg') }}');
});
</script>


{% endblock %}