{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.getUsername() }}</h3>
            </div>
            <form class="form-horizontal" action="{{ path('claro_profile_admin_update', {'user': user.getId()} )}}" method="post" {{ form_enctype(profile_form) }} id="profile_form">
                <div class="panel-body">
                    {{ form_widget(profile_form) }}
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-secondary">{{ 'ok'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_admin_user_list') }}" class="btn btn-primary">{{ 'cancel'|trans({}, 'platform') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
