{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block content %}
<form class="form-horizontal" action="{{ path('claro_password', {'user': user.getId()}) }}" method="post" {{ form_enctype(form) }} id="profile_form">
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_profile_view', {'userId': app.user.id}) }}" class="btn btn-default">
            {{ 'cancel' | trans({}, 'platform') }}
        </a>
    </div>
</form>
{% endblock %}