{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'my_account'|trans({}, 'platform') }}</h3>
        </div>
        <form class="form-horizontal" action="{{ path('claro_profile_update', {'user': user.getId()}) }}" method="post" {{ form_enctype(profile_form) }} id="profile_form">
            <div class="panel-body">
                {{ form_widget(profile_form) }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_profile_view', {'userId': app.user.id}) }}" class="btn btn-default">
                    {{ 'cancel' | trans({}, 'platform') }}
                </a>
                <a class="btn btn-default" href="{{ path('claro_password_form', {'user': user.getId()}) }}"> {{ 'reset_password'|trans({}, 'platform') }}</a>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}
{% endblock %}
