{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% set canEdit = (app.user is not null and user.getId() == app.user.getId()) or is_granted('ROLE_ADMIN') %}

{% block content %}
    <div class="panel panel-default panel-user">
        <div class="panel-heading relative">
            <h3 class="panel-title">
                {{ 'public_profile' | trans({}, 'platform') }}
            </h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#public-profile" data-toggle="tab">{{ 'public'|trans({}, 'platform') }}</a>
                </li>
                {% for facet in facets %}
                    {# if the facet is displayable #}
                    <li>
                        <a href="#facet-{{ facet.getId() }}" data-toggle="tab">{{ facet.getName() }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div id="facet-pane" class="tab-content">
                <div class="tab-pane active" id="public-profile">
                    <div class="panel-body">
                        {% include "ClarolineCoreBundle:Profile:publicProfileTab.html.twig"
                        with {'user': user, 'publicProfilePreferences': publicProfilePreferences }
                        %}
                    </div>
                </div>
                {% for facet in facets %}
                    {# if the facet is displayable #}
                    <div class="tab-pane" id="facet-{{ facet.getId() }}">
                        <form
                              id="form-facet-{{ facet.getId() }}"
                              role="form"
                              class="form-horizontal"
                              method="post"
                              action="{{ path('claro_user_facet_edit', {'user': user.getId(), 'facet': facet.getId()}) }}"
                        >
                            <div class="panel-body">
                                {% for field in facet.getFieldsFacet() %}
                                    <div class="form-group row">
                                        <label class="control-label col-md-3" for="field-{{ field.getId() }}">
                                            {{ field.getName() }}
                                        </label>
                                        <div class="col-md-9">
                                            {# if the field is displayable #}
                                            <input
                                                    id="field-{{ field.getId() }}"
                                                    name="field-{{ field.getId() }}[{{ field.getName() }}]"
                                                    {% for fieldFacetValue in fieldFacetValues %}
                                                        {% if fieldFacetValue.getFieldFacet().getId() == field.getId() %}
                                                            {% if field.getInputType == 'date' %}
                                                                value="{{ fieldFacetValue.getValue()|date('date_form_datepicker_php'|trans({}, 'platform')) }}"
                                                                type="text"
                                                                class="datepicker form-control"
                                                                data-date-language="{{ app.request.locale }}"
                                                                data-date-clear-btn="true"
                                                                data-date-format="{{ 'date_form_datepicker_format'|trans({}, 'platform') }}"
                                                            {% else %}
                                                                value="{{ fieldFacetValue.getValue() }}"
                                                                type="{{ field.getInputType() }}"
                                                                class="form-control"
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    >
                                            </input>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="panel-footer">
                                <button
                                    class="btn btn-primary submit-facet-edit-form"
                                    aria-hidden="true"
                                >
                                    {{ 'edit'|trans({}, 'platform') }}
                                </button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        (function () {
            'use strict';

            $('body')
            .on('click', '.submit-facet-edit-form', function(event) {
                event.preventDefault();
                var formId = $($(event.currentTarget)[0].parentElement.parentElement).attr('id');
                var formData = new FormData(document.getElementById(formId));
                var action = $($(event.currentTarget)[0].parentElement.parentElement).attr('action');

                $.ajax({
                    url: action,
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        for (var fieldId in data) {
                            var input = $('#field-' + fieldId);
                            input.attr('value', data[fieldId]);
                        }
                    },
                    error: function(data) {
                        alert('something went wrong');
                    }
                });
            })
            .on('click', 'input.datepicker', function(event) {
                $(event.currentTarget).datepicker('show');
            });

            $('.datepicker').datepicker()
            .on('changeDate', function(event) {
                $(event.currentTarget).datepicker('hide');
            })
            .on('keydown', function(event) {
                event.preventDefault();
                this.$(event.currentTarget).datepicker('hide');
            });
        })();

    </script>
{% endblock %}
