{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% set canEdit = (app.user is not null and user.getId() == app.user.getId()) or is_granted('ROLE_ADMIN') %}

{% block content %}
    {{ macros.flashBox() }}
    <div class="panel panel-default panel-user">
        <div class="panel-heading relative">
            {% if canEdit %}
                <div class="dropdown float-right-top">
                    <a data-toggle="dropdown" href="#" class="btn btn-xs btn-primary">
                        <span class="icon-edit"></span> Modifier <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="{{ path('claro_user_profile_edit') }}">
                                {{ 'edit_profile'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('claro_user_password_edit') }}">
                                {{ 'edit_password'|trans({}, 'platform') }}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <h3 class="panel-title">
                {{ user.getLastName() ~ ' ' ~ user.getFirstName() }}
            </h3>
        </div>
        <div class="panel-body">
            <div>
                <div class="col-md-2">
                    {% if user.getPicture() != "" %}
                        <img src="{{ asset('uploads/pictures/') ~  user.getPicture() }}">
                    {% else %}
                        <h1><i class="icon-user"></i></h1>
                    {% endif %}
                </div>
                <ul class="col-md-10">
                    <li>{{'First name' | trans({}, 'platform') }}: {{user.getFirstName()}}</li>
                    <li> {{'Last name' | trans({}, 'platform') }}: {{user.getLastName()}}</li>
                    <li> {{'User name' | trans({}, 'platform') }}: {{user.getUsername()}}</li>
                </ul>
                    {% if user.getPhone() != "" %}
                        <i class="icon-phone"></i> {{ user.getPhone() }}
                    {% endif %}
                </p>
                <p>{{ user.getDescription() |raw }} </p>
                <p class="text-muted">{{ 'user'|trans({}, 'platform') }} {{ user.getCreationDate()| timeAgo }}</p>
                <p>
                    <a class="btn btn-default" href="{{path('claro_mail_form', {'userId':user.getId()})}}">
                        <i class="icon-comment"></i> {{ 'send_mail'|trans({}, 'platform') }}
                    </a>
                    <a class="btn btn-default" href="{{path('claro_message_show', {'message': 0})}}?ids[]={{ user.getId() }}">
                        <i class="icon-envelope"></i> {{ 'send_message'|trans({}, 'platform') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}