{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% set canEdit = (app.user is not null and user.getId() == app.user.getId()) or is_granted('ROLE_ADMIN') %}

{% block content %}
    <div class="panel panel-default panel-user">
        <div class="panel-heading relative">
            <h3 class="panel-title">
                {{ user.getLastName() ~ ' ' ~ user.getFirstName() }}
            </h3>
            {% if canEdit %}
                <a href="{{ path('claro_profile_form', {'user': user.getId}) }}" class="btn btn-primary float-right-top">
                    <i class="icon-edit"></i> {{ 'edit'|trans({}, 'platform') }}
                </a>
            {% endif %}
        </div>
        <div class="panel-body">
            <div>
                <div class="col-md-2">
                    {% if user.getPicture() != "" %}
                        <img src="{{ asset('uploads/pictures/') ~  user.getPicture() }}">
                    {% else %}
                        <h1><i class="icon-user"></i></h1>
                    {% endif %}
                </div>
                <ul class="col-md-10">
                    <li>{{'First name' | trans({}, 'platform') }}: {{user.getFirstName()}}</li>
                    <li> {{'Last name' | trans({}, 'platform') }}: {{user.getLastName()}}</li>
                    <li> {{'User name' | trans({}, 'platform') }}: {{user.getUsername()}}</li>
                </ul>
                    {% if user.getPhone() != "" %}
                        <i class="icon-phone"></i> {{ user.getPhone() }}
                    {% endif %}
                </p>
                <p>{{ user.getDescription() |raw }} </p>
                <p class="text-muted">{{ 'user'|trans({}, 'platform') }} {{ user.getCreationDate()| timeAgo }}</p>
                <p>
                    <a class="btn btn-default" href="{{path('claro_mail_form', {'userId':user.getId()})}}"><i class="icon-comment"></i> {{ 'send_mail'|trans({}, 'platform') }}</a>
                    <a class="btn btn-default" href="{{path('claro_message_show', {'message': 0})}}?ids[]={{ user.getId() }}"><i class="icon-envelope"></i> {{ 'send_message'|trans({}, 'platform') }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if canEdit %}
        <script type="text/javascript">
            (function () {
                "use strict";

                $('body').on('mouseenter', '.panel-user', function () {
                    $('.panel-heading', this).find('.btn').removeClass('hide');
                });

                $('body').on('mouseleave', '.panel-user', function () {
                    $('.panel-heading', this).find('.btn').addClass('hide');
                });

            }());
        </script>
    {% endif %}
{% endblock %}