{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        {% if error is defined %}
            <div id="login-error" class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% if user is defined %}
            <div class="alert alert-success"> {{ 'mail_sent'|trans({}, 'platform') }} </div>
        {% endif %}
        {% if form is defined %}
            {% form_theme form "ClarolineCoreBundle::form_theme_vertical.html.twig" %}
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'forgot_password'|trans({}, 'platform') }}</h3>
                </div>
                <form role="form" action="{{ path('claro_security_send_token') }}" method="post" {{ form_enctype(form) }}>
                    <div class="panel-body">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
