{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'login' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{#
This form doesn't include the usual form theme as we want it to always display the
same message when authentication has failed (no precise validation errors).
#}

{% block content %}
    {{ macros.flashBox() }}
    {% set externalAuthentication = render(controller('ClarolineCoreBundle:Authentication:renderExternalAuthenticatonButton', {})) %}
    {% set primaryExternalAuthentication = render(controller('ClarolineCoreBundle:Authentication:renderPrimaryExternalAuthenticatonButton', {})) %}
    <div class="row login_form_container" style="background-color: whitesmoke">
        {% if externalAuthentication is empty %}
            {% set containerClass = 'col-lg-2 col-lg-offset-5 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8' %}
            {% set columnClass = '' %}
        {% else %}
            {% set containerClass = 'col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 login-flexbox' %}
            {% set columnClass = 'col-sm-6 cos-xs-12 flex' %}
        {% endif %}
        <h2 class="text-center">{{ 'login' | trans({}, "platform")}}</h2>
        <div class="{{ containerClass }}">
            <div class="{{ columnClass }}">
                {% if primaryExternalAuthentication is not empty %}
                    <div class="primary-external-authentication-column">
                        {{ primaryExternalAuthentication|raw }}
                    </div>
                {% endif %}
                <form role="form" action="{{ path('claro_security_login_check') }}" method="post" id="login-form">
                    {% if error %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ 'login_failure'|trans({}, 'platform') }}
                        </div>
                    {% endif %}
                    {% if is_expired %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ 'closed_account'|trans({}, 'platform') }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'username_or_email'|trans({}, 'platform') }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user" title="{{ 'username_or_email'|trans({}, 'platform') }}"></i>
                            </span>
                            <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'username_or_email' | trans({}, 'platform') }}" tabindex="1" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            {{ 'password'|trans({}, 'platform') }}
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock" title="{{ 'password'|trans({}, 'platform') }}"></i>
                            </span>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'password'|trans({}, 'platform') }}" tabindex="2">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="remember_me" name="_remember_me" /> {{ 'keep_me_logged_in'|trans({}, 'platform') }}
                        </label>
                    </div>
                    <p>
                        <a href ="{{ path('claro_security_forgot_password')}}" tabindex="4" title="{{ 'forgot_password'|trans({}, 'platform') }}">{{ 'forgot_password'|trans({}, 'platform') }}</a>
                    </p>

                    <button type="submit" class="btn btn-primary btn-block" tabindex="3">{{ 'login'|trans({}, 'platform') }}</button>

                    {% if selfRegistrationAllowed and showRegisterButton %}
                        <a class="btn btn-default btn-block" tabindex="3" href="{{ path('claro_registration_user_registration_form') }}" title="{{ 'register'|trans({}, 'platform') }}">
                            {{ 'register'|trans({}, 'platform') }}
                        </a>
                    {% endif %}
                </form>
            </div>
            {% if externalAuthentication is not empty %}
                <div class="{{ columnClass }} external-authentication-column">
                    {{ externalAuthentication|raw }}
                </div>
            {% endif %}
        </div>

    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('.claro-oauth').click(function(event) {
                event.preventDefault();
                var form = $('#login-form');
                form.attr('action', $(event.target).attr('href'));
                form.submit();
            });
        });
    </script>
{% endblock %}
