{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'reset_password' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block content %}
     <div class="col-md-4 col-md-offset-4">
        {% if error is defined %}
            <div id="login-error" class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% if form is defined %}
            {% form_theme form "ClarolineCoreBundle::form_theme_vertical.html.twig" %}
            <div class="panel panel-default" >
                <form role="form" action="{{ path('claro_security_new_password', {'hash': hash}) }}" method="post" {{ form_enctype(form) }}>
                    <div class="panel-body">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
     </div>
{% endblock %}
