<div class="{{ tag }}-options" ng-show="optionsWindow=='{{ tag }}'">
    <div class="float-left">
        <div>
            <button class="btn btn-default" id="has-{{ tag }}" ng-class="{'active':options.{{ tag }}Enabled}" ng-click="options.toggle{{ tag|capitalize }}Enabled()">{{ 'activate'|trans({}, 'icap_website') }}</button>
        </div>
        <div>
            <label for="{{ tag }}-bg-color">{{ 'bg_color'|trans({},'icap_website') }}</label>
            <input class="color form-control" id="{{ tag }}-bg-color" ng-model="options.{{ tag }}BgColor"/>
        </div>
        <div>
            <label for="{{ tag }}-height">{{ 'height'|trans({},'icap_website') }}</label>
            <input type="number" class="form-control" id="{{ tag }}-height" max="200" ng-model="options.{{ tag }}Height"/> px
        </div>
    </div>
    {% include 'IcapWebsiteBundle:Website:Admin/bg_image_repeat.html.twig' with {'tag':tag} %}
    <div class="float-left">
        <label for="{{ tag }}-text">{{ 'rich_content'|trans({}, 'icap_website') }}</label>
        <textarea id="{{ tag }}-text" class="form-control" ui-tinymce ng-model="options.{{ tag }}Text"></textarea>
    </div>
    <div class="clearfix"></div>
</div>