{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'server' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'oauth'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_oauth_index')
    },
    {
        'name': 'Claroline'|trans({}, 'platform'),
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block page_title %}
    {{ 'claroline_oauth_apps'|trans({}, 'platform') }}
    <small>{{ 'oauth_client_list'|trans({}, 'platform') }}</small>
{% endblock %}

{% block page_content %}
    <table class="table table-responsive table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th> {{ 'id'|trans({}, 'platform') }} </th>
            <th> {{ 'redirect_uri'|trans({}, 'platform') }} </th>
            <th> {{ 'grant_type'|trans({}, 'platform') }} </th>
            <th> {{ 'client_name'|trans({}, 'platform')}} </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr id="client-row-{{ client.getId() }}" data-client-id="{{ client.getId() }}">
                <th> {{ client.getId() }} </th>
                <th>
                    {% for uris in client.getRedirectUris() %}
                        {{ uris }}
                    {% endfor %}
                </th>
                <th>
                    {% for grantType in client.getAllowedGrantTypes() %}
                        {{ grantType }}
                    {% endfor %}
                </th>
                <th> {{ client.getName() }} </th>
                <th>
                    <div class="btn-group">
                        <button class="btn btn-default show-client-btn"
                                data-client-id="{{ client.getId() }}"
                                data-client-random="{{ client.getRandomId() }}"
                        >
                            <i class="fa fa-info"
                               data-client-id="{{ client.getId() }}"
                               data-client-random="{{ client.getRandomId() }}">
                            </i>
                        </button>
                        <button class="btn btn-default show-secret-btn"
                                data-secret="{{ client.getSecret() }}"
                        >
                            <i class="fa fa-key" data-secret="{{ client.getSecret() }}"></i>
                        </button>
                        <button class="btn btn-warning edit-client-btn"
                                data-client-id="{{ client.getId() }}"
                        >
                            <i class="fa fa-pencil" data-client-id="{{ client.getId() }}"></i>
                        </button>
                        <button class="btn btn-warning hide-client-btn"
                                data-client-id="{{ client.getId() }}"
                        >
                            <i class="fa fa-eye-slash" data-client-id="{{ client.getId() }}"></i>
                        </button>
                        <button class="btn btn-danger delete-client-btn"
                                data-client-id="{{ client.getId() }}"
                        >
                            <i class="fa fa-trash" data-client-id="{{ client.getId() }}"></i>
                        </button>
                    </div>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button
        id="add-client-btn"
        type="submit"
        class="btn btn-primary"
    >
        {{ 'add'|trans({}, 'platform') }}
    </button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/administration/clients.js') }}"></script>
{% endblock %}
