{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
  {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/clarolineflashcard/css/base.css') }}"
        rel="stylesheet">
  <link href="{{ asset('bundles/clarolineflashcard/css/'~_theme~'.css') }}"
        rel="stylesheet">
{% endblock %}

{% block title %}{{ _resource.getResourceNode().getName()|striptags|raw }}{% endblock %}

{% block section_content %}
  <div class="panel-heading">{{ _resource.getResourceNode().getName()}}</div>
  <div data-flashcard data-ng-app="FlashCardModule">
    <div ng-view></div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'flashcard' }) }}">
  </script>
  <script>
    window.deck = {{ _resource|json_serialize('api_flashcard_deck')|raw }}
    window.deckNode = {{ _resource.getResourceNode()|json_serialize('api_resource_node')|raw }}
    window.canEdit = {{ _canEdit ? 'false' : 'true' }}
  </script>
  <script src="{{ hotAsset('dist/claroline-distribution-plugin-flashcard-list.js') }}"></script>
{% endblock %}
