<tr class='row-widget-config' data-id="{{ config.getId() }}">
    <td>{{ config.getWidget().getName()|trans({}, 'widget') }}</td>
    <td>{% render controller('ClarolineCoreBundle:AdministrationWidget:editWidgetNameForm', {'widgetInstanceId': config.getId()}) %}</td>
    <td>
        {% if config.getWidget().isConfigurable() %}
        <a href="{{ path('claro_admin_widget_configuration', {'widgetInstanceId': config.getId()}) }}">{{ 'configure'|trans({}, 'platform') }}</a>
        {% endif %}
    </td>
    <td> <a class="delete-widget" href="{{ path('claro_admin_remove_widget', {'widgetInstance': config.getId()}) }}">{{ 'delete'|trans({}, 'platform') }}</a></td>
</tr>