
<table id="mytable" class="table table-bordered">
    <thead>
        <tr>
            <th> {{ 'agenda_form_title'|trans({}, 'agenda') }} <i class="icon-resize-vertical"></i></th>
            <th> {{ 'workspace'|trans({}, 'agenda') }} <i class="icon-resize-vertical"></i></th>
            <th> {{ 'length'|trans({}, 'agenda') }} <i class="icon-resize-vertical"></th>
            <th> {{ 'agenda_form_description'|trans({}, 'agenda') }} </th>
            <th> {{ 'agenda_form_priority'|trans({}, 'agenda') }} <i class="icon-resize-vertical"></i></th>
        </tr>
    </thead>
    <tbody>
    {% for e in listEvents  %}
    <tr>
        <td> <h5 style="color:{{ e.priority }}"> {{ e.title }} </h5> </td>
        <td> {{  e.getWorkspace().getName() }} </td>
        <td> {{ e.start|date("F jS \\a\\t g:ia")}}  -> {{ e.end|date("d/m/Y") }} </td>
        <td>
            {% if e.description is not empty %}
                {{ e.description |raw }}
            {% endif %}
        </td>
        <td> {% if e.priority == '#848484' %}
                {{ 'low'|trans({}, 'agenda') }}
            {% elseif e.priority == '#FF0000' %}
                {{ 'agenda_form_priority_High'|trans({}, 'agenda') }}
            {% else %}
                {{ 'medium'|trans({}, 'calendar') }}
            {% endif %}
        </td>
    </tr>
    {% else %}
    {{ 'no event found'|trans({}, 'calendar') }}</li>
    {% endfor %}
    </tbody>
</table>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/table-sorter/jquery.tablesorter.js') }}"></script> <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/tool/calendarDatePicker.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function()
            {
                $("#mytable").tablesorter( {sortList: [[0,0], [1,0],[2,0],[4,0]]} );
            }
    );
</script>
{% endblock javascripts %}

