{% for event in listEvents %}
    <div>
        <span class="fa fa-calendar"></span>
        {% if event.start|date('d/m/Y') == date('+1 day')|date('d/m/Y') %}
            {{ 'tomorrow'|trans({}, 'agenda') }},
        {% elseif event.start|date('d/m/Y') == date('now')|date('d/m/Y') %}
            {{ 'today_widget'|trans({}, 'agenda') }},
        {% elseif event.start|date('U') - date('now')|date('U') <= 0 %}
            {{ 'now'|trans({}, 'agenda') }},
        {% elseif event.start|date('U') - date('now')|date('U') < 518400 %}
            {{ 'in_x_days'|trans({
                '%nbDays%': ((event.start|date('U') - date('now')|date('U'))/86400)|round
            }, 'agenda') }},
        {% else %}
            {{ ('day.' ~ event.start|date('l')|lower())|trans({}, 'agenda') }}
            {{ event.start|date('d/m/Y') }},
        {% endif %}
        <div style="display: inline-block">
            <a href="
            {% if event.workspace is null %}
                {{ path('claro_desktop_open_tool', {'toolName': 'agenda_'}) }}?year={{ event.start|date('Y') }}&month={{ event.start|date('m') }}&day={{ event.start|date('d') }}
            {% else %}
                {{ path('claro_workspace_open_tool', {'workspaceId': event.workspace.id, 'toolName': 'agenda_'}) }}?year={{ event.start|date('Y') }}&month={{ event.start|date('m') }}&day={{ event.start|date('d') }}
            {% endif %}"
            class="info-of-event"
            tabindex="0"
            role="button"
            data-placement="top"
            data-toggle="popover"
            data-trigger="hover"
            title="{{ event.title }}"
            data-container="body"
            data-content="
                <div>
                    {{ 'form.start'|trans({}, 'agenda') }} :
                    {{ event.start|date('d/m/Y H\\hi') }}
                </div>
                <div>
                    {{ 'form.end'|trans({}, 'agenda') }} :
                    {{ event.end|date('d/m/Y H\\hi') }}
                </div>
                {% if event.description is not empty %}
                    <div>
                        {{ 'form.description'|trans({}, 'agenda') }} :
                        <div>{{ event.description |raw }}</div>
                    </div>
                {% endif %}
                <div>
                    {{ 'form.author'|trans({}, 'agenda') }} :
                    {{ event.user.username }}
                </div>
                <div>
                    {{ 'workspace'|trans({}, 'agenda') }} :
                    {% if event.getWorkspace() is not empty %}
                        {{ event.getWorkspace().getName() }}
                    {% else %}
                        {{ 'desktop'|trans({}, 'platform') }}
                    {% endif %}
                </div>
                <div>
                    {{ 'form.priority'|trans({}, 'agenda') }} :
                    {% if event.priority == '#848484' %}
                        <span style='color:{{ event.priority }}'>{{ 'low'|trans({}, 'agenda') }}</span>
                    {% elseif event.priority == '#FF0000' %}
                        <span style='color:{{ event.priority }}'>{{ 'high'|trans({}, 'agenda') }}</span>
                    {% else %}
                        <span style='color:#01A9DB'>{{ 'medium'|trans({}, 'agenda') }}</span>
                    {% endif %}
                </div>
            ">{{ event.title }}</a>,
            {% if event.allDay %}
                {{ 'all_day'|trans({}, 'agenda') }}.
            {% else %}
                {{ 'at'|trans({}, 'agenda') }}
                {% if event.start|date('H\\hi') == '00h00' %}
                    {{ 'midnight'|trans({}, 'agenda') }}.
                {% elseif event.start|date('H\\hi') == '12h00' %}
                    {{ 'noon'|trans({}, 'agenda') }}.
                {% else %}
                    {{ event.start|date('H\\hi') }}.
                {% endif %}
            {% endif %}
        </div>
    </div>
{% else %}
    <em>{{ 'no event found'|trans({}, 'agenda') }}</em>
{% endfor %}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            $('.info-of-event').popover({
                html: true
            });
        });
    </script>
{% endblock javascripts %}
