<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-1.7.1.min.js') }}'></script>
{{ tinymce_init() }}
{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
{% if isDesktop == false %}
{% set isDesktop = 0 %}
{% endif %}
{% if isDefault == false %}
{% set isDefault = 0 %}
{% endif %}
<form class="form-horizontal"
      action="{{ path('claro_simple_text_update_workspace_widget_config', {'isDefault': isDefault, 'workspaceId': workspace.id, 'redirectToHome': app.request.isXMLHttpRequest ? 1 : 0}) }}"
      method="post" {{ form_enctype(form) }}
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ path('claro_admin_widgets') }}">
            <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>