{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

<form role="form" id="form_log_update_desktop_widget" method="POST"
      action="{{ path('innova_path_widget_config', { 'widgetInstance': instance.getId() }) }}"
      class="form-horizontal"
        {{ form_enctype(form) }}>

    <div class="panel-body">
        {{ form_widget(form) }}
    </div>

    {{ macros.flashBox() }}
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="#">
            <button type="button" class="btn btn-default claro-widget-form-cancel">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>
