<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-1.7.1.min.js') }}'></script>
{% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
{{ tinymce_init() }}
 
{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
{% if isDesktop == false %}
{% set isDesktop = 0 %}
{% endif %}
{% if isDefault == false %}
{% set isDefault = 0 %}
{% endif %}
<form class="form-horizontal"
      action="{{ path('claro_simple_text_update_config', {'config': config.getId()}) }}"
      method="post" {{ form_enctype(form) }}
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="panel-footer">
    <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        <a href="{{ cancelUrl }}">
            <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
        </a>
    </div>
</form>