<ul class="list-group">
{% for path in paths if path.published %}
        <span class="list-group-item">
            <a href="{{ path('innova_path_player_index', {workspaceId: path.resourceNode.workspace.id, pathId: path.id, stepId: path.getRootStep().id}) }}">
                {{ path.resourceNode.name }}
            </a>&nbsp;
            <em>{{ path.description | striptags | truncate(40, true, ' [...]') }}</em> 
            {% if app.user.id == path.resourceNode.creator.id %}
                <a href="{{ path('innova_path_editor_edit', {workspaceId: path.resourceNode.workspace.id, id: path.id}) }}" class="btn btn-default btn-xs pull-right">
                    <span class="icon-pencil"></span> 
                    {{ 'edit'|trans({}, 'innova_tools') }}
                </a>
            {% endif %}
        </span>
{% endfor %}
</ul>
