<div class="list-group">
{% for path in paths if path.entity.published %}
    <span class="list-group-item">
        <a href="{{ path('innova_path_player_wizard', { id: path.entity.id }) }}">
            {{ path.entity.resourceNode.name }}
        </a>&nbsp;
        <em>{{ path.entity.description | striptags | truncate(40, true, ' [...]') }}</em>
        {% if path.canEdit %}
            <a href="{{ path('innova_path_editor_wizard', { id: path.entity.id}) }}" class="btn btn-default btn-xs pull-right">
                <span class="fa fa-pencil"></span>
                {{ 'edit'|trans({}, 'innova_tools') }}
            </a>
        {% endif %}
    </span>
{% endfor %}
</div>
