<form name="blog_widegt_list_form" class="form-inline" method="post" action="{{ path("icap_blog_widget_list_configure", {'id': widgetInstance.id}) }}">
    {{ form_errors(form) }}
    {{ form_row(form.blog) }}
    {{ form_rest(form) }}
</form>
<ul class="list-group">
    {% for widgetItem in widgetItems %}
    <li class="list-group-item">
        {{ widgetItem.blog.resourceNode.name }}
    </li>
    {% else %}
    <span>{{ 'no_blog'|trans({}, 'icap_blog') }}</span>
    {% endfor %}
</ul>