{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{{ macros.flashBox() }}

<div id="hometab-type-div"
    hometab-type-value="{% if isDesktop %}desktop{% else %}workspace{% endif %}"
></div>

<div class="panel-group" id="widgets-list-panel">
    {% for widgetDatas in widgetsDatas %}
    {% set widgetHomeTabConfig = widgetDatas.config %}
    {% set widgetInstance = widgetHomeTabConfig.getWidgetInstance() %}
    {% set widget = widgetInstance.getWidget() %}
        <div class="panel panel-default
            {% if not widgetHomeTabConfig.isVisible() %}
                toggle-visible
                {% if withConfig == 0 %} hidden {% endif %}
            {% endif %}"
         >
            <div class="panel-heading relative">
                <div class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{ widgetInstance.getId() }}">
                        {{ widgetInstance.getName() }}
                    </a>
                    <span class="toggle-visible {% if withConfig == 0 %} hidden {% endif %}">
                        <small>
                            [{{ widget.getName()|trans({}, 'widget') }}]
                        </small>
                    </span>
                    <span class="toggle-visible {% if withConfig == 0 %} hidden {% endif %} pull-right"
                        widget-hometab-config-id="{{ widgetHomeTabConfig.getId() }}"
                    >
                        {% if widgetHomeTabConfig.isLocked() or isLockedHomeTab %}
                            <i class="icon-lock"></i>
                        {% else %}
                            <i class="pointer-hand widget-visibility-btn
                                {% if widgetHomeTabConfig.isVisible() %}
                                    icon-eye-open

                                {% else %}
                                    icon-eye-close
                                {% endif %}"
                                visiblility-value="{% if widgetHomeTabConfig.isVisible() %}visible{% else %}invisible{% endif %}"
                                id="visible-widget-id-{{ widgetHomeTabConfig.getId() }}"
                            ></i>

                            {% if widgetHomeTabConfig.getType() == 'desktop' or widgetHomeTabConfig.getType() == 'workspace' %}
                                <span class="widget-order-btn-group">
                                    {% if widgetHomeTabConfig.getWidgetOrder() > 1 %}
                                        <i class="icon-arrow-up widget-order-up pointer-hand"></i>
                                    {% endif %}
                                    {% if widgetHomeTabConfig.getWidgetOrder() < lastWidgetOrder %}
                                        <i class="icon-arrow-down widget-order-down pointer-hand"></i>
                                    {% endif %}
                                </span>
                                <i class="pointer-hand widget-delete-btn icon-trash"></i>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
                {#{% if widgetDatas.configurable %}
                    <a data-url="{{ path('claro_widget_configuration', {'widgetInstance': widgetInstance.getId()}) }}" class="btn btn-primary hide">
                        <i class="icon-edit"></i> {{ 'edit'|trans({}, 'platform') }}
                    </a>
                {% endif %}#}
            </div>
            <div id="collapse{{ widgetInstance.getId() }}" class="collapse-widget collapse in">
                <div class="panel-body view">
                   {{ widgetDatas.content|raw }}
               </div>
               <div class="edition hide"></div>
            </div>
        </div>
    {% endfor %}

    {% if isVisibleHomeTab and not isLockedHomeTab %}
        <br>
        <div class="panel panel-default toggle-visible {% if withConfig == 0 %} hidden {% endif %}">
            <div class="panel-heading pointer-hand text-center">
                <i class="icon-plus-sign">
                    {{ 'add_widget_to_home_tab'|trans({}, 'platform') }}
                </i>
            </div>
        </div>
    {% endif %}
</div>

<div id="delete-widget-hometab-validation-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'widget_home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'widget_home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="delete-widget-hometab-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';

            $('body').on('mouseenter', '.panel-group > .panel', function () {
                $('.panel-heading', this).find('.btn').removeClass('hide');
            });

            $('body').on('mouseleave', '.panel-group > .panel', function () {
                $('.panel-heading', this).find('.btn').addClass('hide');
            });

            $('body').on('click', '.panel-group > .panel .panel-heading .btn', function (event) {
                event.preventDefault();

                var accordionGroup = $(this).parent().parent();

                if ($(this).hasClass('editing')) {

                    $(this).removeClass('btn-danger editing');
                    $(this).addClass('btn-primary');
                    $(this).html('<i class="icon-edit"></i> {{ 'edit'|trans({}, 'platform') }}');
                    $('.view', accordionGroup).removeClass('hide');
                    $('.edition', accordionGroup).addClass('hide');

                } else {

                    if ($('.edition', accordionGroup).html() == '') {
                        $.get($(this).data('url'))
                        .done(function (data) {
                            $('.edition', accordionGroup).html(data);
                        });
                    }

                    $(this).removeClass('btn-primary');
                    $(this).addClass('btn-danger editing');
                    $(this).html('<i class="icon-ban-circle"></i> {{ 'cancel'|trans({}, 'platform') }}');
                    $('.view', accordionGroup).addClass('hide');
                    $('.edition', accordionGroup).removeClass('hide');
                }

                if(!$('.collapse-widget', accordionGroup).hasClass('collapse in')){
                    $('.collapse-widget', accordionGroup).collapse('show'); //show if is hide
                }
            });

            $('body').on('click', '.panel-group > .panel .panel-group .claro-widget-form-cancel', function (event) {
                event.preventDefault();

                var accordionGroup = $(this).parents('.panel-group');

                $('.panel-heading .btn', accordionGroup).removeClass('btn-danger editing');
                $('.panel-heading .btn', accordionGroup).addClass('btn-primary');
                $('.panel-heading .btn', accordionGroup).html('<i class="icon-edit"></i> {{ 'edit'|trans({}, 'platform') }}');
                $('.view', accordionGroup).removeClass('hide');
                $('.edition', accordionGroup).addClass('hide');
            });

            $('body').on('submit', '.panel form', function(e) {
                e.preventDefault();
                var formAction = $(e.currentTarget).attr('action');
                var form = e.currentTarget;
                var formData = new FormData(form);
                submitForm(formAction, formData);
                var accordionGroup = $(this).parents('.panel-group');
                $('.edition', accordionGroup).addClass('hide');
                $('.view', accordionGroup).removeClass('hide');
            });
        });

       var submitForm = function (formAction, formData) {
            $.ajax({
                url: formAction,
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function () {

                }
            });
        };
    </script>
    <script
        src='{{ asset('bundles/clarolinecore/js/widget/widgets.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
