{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{{ macros.flashBox() }}

<div id="hometab-type-div"
    hometab-type-value="{% if isDesktop %}desktop{% else %}workspace{% endif %}"
></div>

<div class="panel-group">
    <div id="widgets-list-panel">
        {% for widgetDatas in widgetsDatas %}
        {% set widgetHomeTabConfig = widgetDatas.config %}
        {% set widgetInstance = widgetHomeTabConfig.getWidgetInstance() %}
        {% set widget = widgetInstance.getWidget() %}
            <div class="relative widget-instance-panel"
                widget-instance-id="{{ widgetInstance.getId() }}"
                widget-hometab-config-id="{{ widgetHomeTabConfig.getId() }}">
                <div class="panel panel-default margin-top-md">
                    <div class="panel-heading">
                        <div class="panel-title{% if not widgetHomeTabConfig.isVisible() %} strike{% endif %}">
                            <a class="accordion-toggle widget-instance-name"
                                data-toggle="collapse"
                                href="#collapse{{ widgetInstance.getId() }}"
                            >
                                {{ widgetInstance.getName() }}
                            </a>
                        </div>
                    </div>
                    <div id="collapse{{ widgetInstance.getId() }}" class="collapse-widget collapse in">
                        <div class="panel-body widget-instance-view" {% if not widgetHomeTabConfig.isVisible() %} style="display: none;" {% endif %}>                           
                            {{ widgetDatas.content|raw }}
                       </div>
                       <div class="panel-body widget-instance-edition hide"></div>
                    </div>
                </div>
                <div class="float-right-top">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class='icon-cog'></i> <i class='icon-caret-down'></i>
                    </button>
                    <ul class="widget-instance-menu dropdown-menu pull-right" role="menu">
                        {% if not widgetInstance.isAdmin() %}
                            {% if widgetDatas.configurable %}
                                <li>
                                    <a class="widget-instance-config pointer-hand">
                                        <i class="icon-pencil"></i> {{ "edit" | trans({}, 'platform') }}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class='widget-instance-rename pointer-hand'>
                                    <i class="icon-pencil"></i> {{ "rename" | trans({}, 'platform') }}
                                </a>
                            </li>
                        {% endif %}
                        {% if widgetHomeTabConfig.isLocked() or isLockedHomeTab %}
                            <li class='disabled'><a class="pointer-hand"><i class="icon-eye-close"></i> {{ "hide" | trans({}, 'platform') }}</a></li>
                            <li class='disabled'><a class="pointer-hand"><i class="icon-trash"></i> {{ "delete" | trans({}, 'platform') }}</a></li>
                        {% else %}
                            <li>
                                {% if widgetHomeTabConfig.isVisible() %}
                                    <a class="widget-visibility-btn pointer-hand"  visiblility-value="visible" id="visible-widget-id-{{ widgetHomeTabConfig.getId() }}">
                                        <i class="icon-eye-close"></i> <span>{{ "hide" | trans({}, 'platform') }}</span>
                                    </a>
                                {% else %}
                                    <a class="widget-visibility-btn pointer-hand" visiblility-value="invisible" id="visible-widget-id-{{ widgetHomeTabConfig.getId() }}">
                                        <i class="icon-eye-open"></i> <span>{{ "display" | trans({}, 'platform') }}</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% if widgetHomeTabConfig.getType() == 'desktop' or widgetHomeTabConfig.getType() == 'workspace' %}
                                <li>
                                    <a class="widget-delete-btn pointer-hand">
                                        <i class="icon-trash"></i> {{ "delete" | trans({}, 'platform') }}
                                    </a>
                                </li>
                                {% if widgetHomeTabConfig.getWidgetOrder() > 1 or widgetHomeTabConfig.getWidgetOrder() < lastWidgetOrder %}
                                    <li class="divider"></li>
                                {% endif %}
                                {% if widgetHomeTabConfig.getWidgetOrder() > 1 %}
                                    <li>
                                        <a class="widget-order-up pointer-hand">
                                            <i class="icon-arrow-up"></i> {{ "up" | trans({}, 'platform') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if widgetHomeTabConfig.getWidgetOrder() < lastWidgetOrder %}
                                    <li>
                                        <a class="widget-order-down pointer-hand">
                                            <i class="icon-arrow-down"></i> {{ "down" | trans({}, 'platform') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if isVisibleHomeTab and not isLockedHomeTab %}
        <br>
        <div class="panel panel-default add-widget-instance">
            <div class="panel-heading pointer-hand text-center">
                <i class="icon-plus-sign">
                    {{ 'add_widget_to_home_tab'|trans({}, 'platform') }}
                </i>
            </div>
        </div>
    {% endif %}
</div>

<div id="delete-widget-hometab-validation-box" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'widget_home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'widget_home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="delete-widget-hometab-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

<div id="widget-modal-box" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="widget-modal-title">
                    {{ 'rename_widget_instance'|trans({}, 'platform') }}
                </h3>
            </div>
            <div id="widget-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="create-widget-instance-modal-box" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="create-widget-instance-modal-title">
                    {{ 'create_widget_instance'|trans({}, 'platform') }}
                </h3>
            </div>
            <div id="create-widget-instance-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script
        src='{{ asset('bundles/clarolinecore/js/widget/widgetsWithConfig.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
