{% extends '::base.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% set themePath = 'bundles/clarolinecore/css/themes/' ~ config.getParameter('theme') %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='{{ asset(themePath ~ '/bootstrap.css') }}' class="maincss"/>
    <link rel='stylesheet' type='text/css' href='{{ asset(themePath ~ '/bootstrap-responsive.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/font-awesome.css') }}'/>
    <!--[if IE 7]>
        <link rel="stylesheet" href='{{ asset('bundles/clarolinecore/css/font-awesome-ie7.min.css') }}'>
    <![endif]-->
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-1.7.1.min.js') }}'></script>
{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('bundles/clarolinecore/images/ico/favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/clarolinecore/images/ico/apple-touch-icon.png')}}"/>
{% endblock %}

{% block layout %}
    <div id="sf-environement" data-env="{{ app.environment }}"></div>
    <div id="wrapper">
        <div class="please-wait">
            <span class="label label-warning"> {{ 'please_wait'|trans({}, 'platform') }} </span>
        </div>
        {% if not is_path_mode %}
            {% if workspace is defined %}
            {% render controller('ClarolineCoreBundle:Layout:topBar', {'workspaceId': workspace.getId()}) %}
            {% else %}
            {% render controller('ClarolineCoreBundle:Layout:topBar') %}
            {% endif %}
        {% endif %}

        <div id="grid" class="container container-fluid">
            {% if has_role('ROLE_USURPATE_WORKSPACE_ROLE') %}
                {% render controller('ClarolineCoreBundle:Layout:renderWarningImpersonation') %}
            {% endif %}
            {% block sectionHeader %}
            &nbsp;
            {% endblock %}

            <div class="row-fluid content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% if not is_path_mode %}
        {% render controller('ClarolineCoreBundle:Layout:footer') %}
    {% endif %}
    <div id="ajax-login-modal" class="modal hide fade">
        <div class="modal-header">
        </div>
        <div class="modal-body" id="ajax-login-modal-body">
            <div id="ajax-login-validation-box-body">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='{{ asset('twig.js') }}'></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/twitter-bootstrap/docs/assets/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/utilities.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/startup.js') }}"></script>
{% endblock %}


