{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/administration/adminHomeTabEdit.js') }}'
        type="text/javascript">
    </script>
{% endblock %}

{% block section_content %}

    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-th-large',
                'name': 'home_tabs'|trans({}, 'platform'),
                'href': path('claro_admin_home_tabs_configuration')
            },
            {
                'name': 'workspace_home_tab_edition'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <h3>{{ 'workspace_home_tab_edition'|trans({}, 'platform') }}</h3>
    <h4>
        {{ 'home_tab'|trans({}, 'platform') }} :
        {{ homeTabName }}
    </h4>
    <br>

    <button id="delete-home-tab-button" class="btn btn-default">
        {{ 'delete_home_tab'|trans({}, 'platform') }}
    </button>
    <br>
    <br>
    <form
        class="form-horizontal"
        action="{{ path(
            'claro_admin_workspace_home_tab_edit',
            {'homeTabId': homeTab.getId(), 'homeTabName': homeTabName}
        ) }}"
        method="post"
        {{ form_enctype(form) }}
    >
        {{ form_widget(form) }}

        <div class="form-actions panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_admin_home_tabs_configuration') }}">
                <button  type="button" class="btn btn-default">
                    {{ 'cancel'|trans({}, 'platform') }}
                </button>
            </a>
        </div>
    </form>

    <div id="twig-home-tab-id" data-home-tab-id="{{ homeTab.getId() }}">
    </div>

    <div id="delete-home-tab-validation-box" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
