{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
       #top_criteria.form-inline div {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-right: 10px;
        }
        #top_criteria.form-inline div label {
            margin-right: 5px;
        }
        #top_criteria.form-inline {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block section_content %}
    {% include 'ClarolineCoreBundle:Administration:analytics_navbar.html.twig'%}
    <div class="margin clearfix">
        <form id="top_criteria" action="{{ path('claro_admin_analytics_top') }}" method="POST" class="form-inline">
            {{ form_widget(form_criteria) }}
            <div> <input type="submit" value="{{ 'Show'|trans({}, 'platform') }}" class="btn btn-primary"/> </div>
        </form>
    </div>
    <div class="margin clearfix">
        <div class="results_list">
            <table id="top_analytics_table" class="table table-condensed">
                {% for row in list_data %}
                    <tr>
                        {% for key, col in row %}
                            {% if key != 'id' %}
                                <td>{{ col }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
