{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .bar-chart{
            height: 200px;
            width: 90%;
            margin: 0 5%;
        }
        table td.text-right{
            text-align:right!important;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/jqplot/jquery.jqplot.css') }}" type="text/css" />
{% endblock %}
{% block section_content %}
    
    {% include 'ClarolineCoreBundle:Administration:analytics_navbar.html.twig'%}

    <div class="accordion widget">
        <div class="accordion-group widget">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-barchart" href="#collapse-barchart">
                    <i class="icon-bar-chart"></i>
                    {{'last_30_days_activity'|trans({}, 'platform')}}
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="collapse-barchart" class="accordion-body collapse in">
                <div id="container-barchart" class="accordion-inner">
                    <div id="activity-bar-chart" class="bar-chart"></div>
                </div>
            </div>
        </div>

        <div class="accordion-group widget">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-userstats" href="#collapse-userstats">
                    <i class="icon-user"></i>
                    {{'account_general_statistics'|trans({}, 'platform')}}
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="collapse-userstats" class="accordion-body collapse in">
                <div id="container-userstats" class="accordion-inner">
                    {{usersCount}} {{'user_accounts'|trans({}, 'platform')}}
                </div>
            </div>
        </div>

        <h3>
            {{'yesterday_activity'|trans({}, 'platform')}}            
        </h3>

        <div class="accordion-group widget">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#most-viewed-ws" href="#most-viewed-ws">
                    <i class="icon-book"></i>
                    {{'ws_most_viewed'|trans({}, 'platform')}}
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="most-viewed-ws" class="accordion-body collapse in">
                <div id="container-most-viewed-ws" class="accordion-inner">
                    <table class="table table-condensed table-hovered">
                    <tr><th>#</th><th>{{'name'|trans({}, 'platform')}}</th><th>{{'connections'|trans({}, 'platform')}}</th></tr>
                    {% for ws in mostViewedWS %}
                        <tr><td>{{loop.index}}</td><td>{{ws.name}} ({{ws.code}})</td><td>{{ws.actions}}</td></tr>
                    {% endfor %}
                    <tr><td colspan="3" class="text-right"><a href="{{ path('claro_admin_analytics_top', { 'top_type': 'top_workspaces_connections' }) }}">{{'see_more'|trans({}, 'platform')}}...</a></td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-group widget">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#most-viewed-media" href="#most-viewed-media">
                    <i class="icon-file"></i>
                    {{'media_most_viewed'|trans({}, 'platform')}}
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="most-viewed-media" class="accordion-body collapse in">
                <div id="container-most-viewed-media" class="accordion-inner">
                    <table class="table table-condensed table-hovered">
                    <tr><th>#</th><th>{{'name'|trans({}, 'platform')}}</th><th>{{'views'|trans({}, 'platform')}}</th></tr>
                    {% for media in mostViewedMedia %}
                        <tr><td>{{loop.index}}</td><td>{{media.name}}</td><td>{{media.actions}}</td></tr>
                    {% endfor %}
                    <tr><td colspan="3" class="text-right"><a href="{{ path('claro_admin_analytics_top', { 'top_type': 'top_media_views' }) }}">{{'see_more'|trans({}, 'platform')}}...</a></td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-group widget">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#most-downloaded-resources" href="#most-downloaded-resources">
                    <i class="icon-download"></i>
                    {{'resources_most_downloaded'|trans({}, 'platform')}}
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="most-downloaded-resources" class="accordion-body collapse in">
                <div id="container-most-downloaded-resources" class="accordion-inner">
                    <table class="table table-condensed table-hovered">
                    <tr><th>#</th><th>{{'name'|trans({}, 'platform')}}</th><th>{{'downloads'|trans({}, 'platform')}}</th></tr>
                    {% for resource in mostDownloadedResources %}
                        <tr><td>{{loop.index}}</td><td>{{resource.name}}</td><td>{{resource.actions}}</td></tr>
                    {% endfor %}
                    <tr><td colspan="3" class="text-right"><a href="{{ path('claro_admin_analytics_top', { 'top_type': 'top_resources_downloads' }) }}">{{'see_more'|trans({}, 'platform')}}...</a></td></tr>
                    </table>
                </div>
            </div>
        </div>

    </div>   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/excanvas.min.js') }}"></script><![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.highlighter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.dateAxisRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.barRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>

    <script type="text/javascript">
        var chartData = {{ barChartData|json_encode|raw }};
        var bg_color = "transparent";
        if ($.browser.msie && parseInt($.browser.version, 10) <= 8) bg_color = "#fff"; 
        $(document).ready(function(){
            console.log(Date.MonthNames);
            if (chartData.length>0) {
                var actionsPlot = $.jqplot(
                    'activity-bar-chart',
                    [chartData],
                    {
                        title: {show: false},
                        grid: {
                            drawBorder: false,
                            borderWidth: 1.0,
                            shadow: false,
                            background: bg_color
                        },
                        axesDefaults: {
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer
                        },
                        axes: {
                            xaxis: {
                                renderer: $.jqplot.DateAxisRenderer,
                                pad:1.2,
                                tickOptions: {
                                    formatString:'%d %b',
                                    showGridline: false,
                                    showMark: true,
                                    angle: 0,
                                    fontSize: '11px'
                                },
                                numberTicks:7
                            },
                            yaxis: {
                                min:0,
                                showTickMarks: true,
                                numberTicks: 7,
                                tickOptions: {
                                    fontSize: '11px'
                                }
                            }
                        },
                        highlighter: {
                            show: true,
                            showMarker:false,
                            sizeAdjust: 0,
                            tooltipOffset:10,
                            tooltipLocation:'n',
                            tooltipAxes:'xy',
                            formatString:'%s <br/> %d',
                            tooltipFadeSpeed:'fast'
                        },
                        cursor: {
                            show: false,
                            zoom: false, 
                            style:"pointer"
                        },
                        seriesDefaults: {
                            showMarker:false,
                            renderer:$.jqplot.BarRenderer,
                            showLabel:false,
                            pointLabels: { show: false },
                            rendererOptions:{
                                barPadding: 0,
                                barMargin: 10,
                                barDirection: 'vertical',
                                barWidth: 20
                            },
                            shadow:false 
                        }
                    }
                );
            }
        });
    </script>

{% endblock %}