{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .pie-chart{
            height:600px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/common/jqplot/jquery.jqplot.css') }}" type="text/css" />
{% endblock %}
{% block section_content %}
    {% include 'ClarolineCoreBundle:Administration:analytics_navbar.html.twig'%}

    <div class="margin">
        <h1>{{ wsCount }}</h1>
        <p><i class="icon-book"></i> {{'workspaces'|trans({}, 'platform')}}</p>
    </div>
    <div class="accordion widget row">
        <div class="accordion-group widget col-lg-6">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-piechart" href="#collapse-piechart">
                    <i class="icon-bar-chart"></i>
                    {{'resources_usage_ratio'|trans({}, 'platform')}}
                    <i class="icon-chevron-up pull-right"></i>
                </a>
            </div>
            <div id="collapse-piechart" class="accordion-body collapse in">
                <div id="container-piechart" class="accordion-inner">
                    <div id="resources-pie-chart" class="pie-chart"></div>
                </div>
            </div>
        </div>
        <div class="accordion-group widget col-lg-6">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-list" href="#collapse-list">
                    <i class="icon-list"></i>
                    {{'resources_usage_list'|trans({}, 'platform')}}
                    <i class="icon-chevron-up pull-right"></i>
                </a>
            </div>
            <div id="collapse-list" class="accordion-body collapse in">
                <div id="container-list" class="accordion-inner">
                    <div id="resources-list" class="bar-chart">
                        <table class="table table-condensed">
                            <tr><th>{{'resource'|trans({}, 'platform')}}</th><th>#</th></tr>
                            {% for resource in resourceCount %}
                                <tr><td>{{resource.name|trans({}, 'resource')}}</td><td>{{resource.total}}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/excanvas.min.js') }}"></script><![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.pieRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jqplot/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>

    <script type="text/javascript">
        var chartData = [];
        {% for resource in resourceCount %}
            chartData.push(["{{resource.name|trans({}, 'resource')}}",{{resource.total}}]);
        {% endfor %}
        var bg_color = "transparent";
        if ($.browser.msie && parseInt($.browser.version, 10) <= 8) bg_color = "#fff";
        $(document).ready(function(){
            $(".accordion-body").bind("hide", function(){
                var arrowIcon = $(this).parents(".accordion-group").find(".icon-chevron-up");
                arrowIcon.addClass("icon-chevron-down");
                arrowIcon.removeClass("icon-chevron-up");
            });

            $(".accordion-body").bind("show", function(){
                var arrowIcon = $(this).parents(".accordion-group").find(".icon-chevron-down");
                arrowIcon.addClass("icon-chevron-up");
                arrowIcon.removeClass("icon-chevron-down");
            });

            if (chartData.length>0) {
                var resourcesPlot = $.jqplot(
                    'resources-pie-chart',
                    [chartData],
                    {
                        title: {show: false},
                        grid: {
                            drawBorder: false,
                            shadow: false,
                            background: bg_color,
                            useNegativeColors: false
                        },
                        highlighter: {
                            show: false
                        },
                        cursor: {
                            show: false,
                            zoom: false,
                            showTooltip: false
                        },
                        seriesDefaults: {
                            showMarker:true,
                            renderer:$.jqplot.PieRenderer,
                            rendererOptions:{
                                showDataLabels: true,
                                dataLabelThreshold: 2,
                                dataLabels: 'percent',
                                sliceMargin:0.3,
                                dataLabelFormatString: '%.1f%%',
                                highlightMouseOver:false
                            },
                            shadow:false
                        },
                        legend:{
                            location: 's',
                            border:'none',
                            renderer: $.jqplot.CavasTextRenderer,
                            show:true,
                            showMarker:true,
                            rendererOptions:{
                                numberRows:7
                            },
                            backgroundColor:bg_color,
                            placement:'outsideGrid'
                        },
                    }
                );
            }
        });
    </script>

{% endblock %}
