{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block section_content %}
<div class="margin">
    <table id="tool-table"  class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'name'|trans({}, 'platform') }}</th>
            <th>{{'tool_form_displayName'|trans({}, 'platform') }}</th>
            <th>{{'validate'|trans({}, 'platform') }}</th>
        </tr>
    </thead>
    <tbody id="widget-table-body">
 	{% for key,value in tools  %}
            <tr class='row-tool-config' data-tool-id={{ tools[key].getId () }}>
                <td>{{ tools[key].getName()|lower|trans({}, 'tools') }}</td>
                <td> {% form_theme forms[key] 'ClarolineCoreBundle::form_theme.html.twig' %}
                    <form method="post" action="{{ path('claro_admin_tool_modify', {'id': tools[key].getId() }) }}" method="post" {{ form_enctype(forms[key]) }}
                    class="form-inline" >
                    {{ form_label(forms[key].displayName) }}
                    {{ form_widget(forms[key].displayName) }}
                    {{ form_widget(forms[key]) }}
                </td>
                <td>
                    <input type="submit" value="{{ 'ok'|trans({}, 'platform') }}" class="btn"/> </form>
                </td>
            </tr>
	{% endfor %}

    </tbody>
</table>
</div>
{% endblock %}