{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {% form_theme form_group 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form class="form-horizontal" action="{{ path('claro_admin_create_group') }}" method="post" {{ form_enctype(form_group) }} id="form_group">
        <fieldset>
            <legend>{{ 'create_group'|trans({}, 'platform') }} :</legend>
            {{ form_widget(form_group) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_admin_group_list') }}">
                    <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}