{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
<h6>
    {{ 'group'|trans({}, 'platformTranslation') }}: {{ group.getName() }} |
    <a id="link_add_user_to_group" href="{{ path('claro_admin_user_list_addable_to_group', {'groupId' : group.getId()}) }}">{{ 'add_user'|trans({}, 'platformTranslation') }}</a> |
    <a id="link_setting" href="{{ path('claro_admin_group_settings_form', {'groupId': group.getId()}) }}">{{ 'settings'|trans({}, 'platformTranslation') }}</a>
</h6>
<table class="claroTable userList" width="100%" cellspacing="2" border="0">
    <thead>
        <tr class="headerX" align="center" valign="top">
            <th id="c0" scope="col">{{ 'id'|trans({}, 'platformTranslation') }}</th>
            <th id="c1" scope="col">{{ 'username'|trans({}, 'platformTranslation') }}</th>
            <th id="c2" scope="col">{{ 'last_name'|trans({}, 'platformTranslation') }}</th>
            <th id="c3" scope="col">{{ 'first_name'|trans({}, 'platformTranslation') }}</th>
            <th id="c4" scope="col">{{ 'mail'|trans({}, 'platformTranslation') }}</th>
            <th id="c5" scope="col">{{ 'administrative_code'|trans({}, 'platformTranslation') }}</th>
            <th id="c6" scope="col">{{ 'delete'|trans({}, 'platformTranslation') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in group.getUsers() %}
    <tr id="{{user.getId()}}" class="row_user">
        <td align="center" headers="c0 L0">{{user.getId()}}</td>
        <td align="center" headers="c1 L0">{{user.getUsername()}}</td>
        <td align="center" headers="c2 L0">{{user.getLastName()}}</td>
        <td align="center" headers="c3 L0">{{user.getFirstName()}}</td>
        <td align="center" headers="c4 L0">{{user.getMail()}}</td>
        <td align="center" headers="c5 L0">{{user.getAdministrativeCode()}}</td>
        <td align="center" headers="c6 L0"><a href="{{ path('claro_admin_delete_user_from_group', {'userId': user.getId(), 'groupId': group.getId()}) }}" id="link_delete_{{ user.getId() }}">{{ 'delete'|trans({}, 'platformTranslation') }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
