{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'group_creation'|trans({}, 'platform') }}</h3>
    </div>
    <form class="form-horizontal" action="{{ path('claro_admin_create_group') }}" method="post" {{ form_enctype(form_group) }} id="form_group">
        <div class="panel-body">
            {{
                macros.breadcrumbs([
                    {
                        'icon': 'icon-user',
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_management')
                    },
                    {
                        'name':'create_group'|trans({}, 'platform'),
                        'href':''
                    }
                ])
            }}
            {{ form_widget(form_group) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_group_list') }}" class="btn btn-default">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
