{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'group_configuration'|trans({}, 'platform') }}: {{ group.getName() }}</h3>
    </div>
    <form class="form-horizontal" action="{{ path('claro_admin_update_group_settings', {'groupId': group.getId()}) }}" method="post" {{ form_enctype(form_settings) }} id="form_settings">
        <div class="panel-body">
            {{
                macros.breadcrumbs([
                {
                       'icon': 'icon-user',
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_management')
                    },
                    {
                        'name': 'groups_list'|trans({}, 'platform'),
                        'href': path('claro_admin_group_list')
                    },
                    {
                        'name': 'group_parameter'|trans({}, 'platform'),
                        'href': ''
                    }
                ])
            }}
            {{ form_widget(form_settings) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_group_list') }}" class="btn btn-default">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}
