{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {% form_theme form_settings 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form class="form-horizontal" action="{{ path('claro_admin_update_group_settings', {'groupId': group.getId()}) }}" method="post" {{ form_enctype(form_settings) }} id="form_settings">
        <fieldset>
            <legend>{{ 'settings'|trans({}, 'platform') }} :</legend>
            {{ form_widget(form_settings) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_admin_group_list') }}">
                    <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
