{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'import_users'|trans({}, 'platform') }}</h3>
    </div>
    <form class="form-horizontal" action="{{ path('claro_admin_import_users_into_group', {'groupId': group.getId()}) }}" method="post" {{ form_enctype(form) }} >
        <div class="panel-body">
            {{
            macros.breadcrumbs([
                    {
                        'icon': 'icon-user',
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_management')
                    },
                    {
                        'name': 'groups'|trans({}, 'platform'),
                        'href': path('claro_admin_group_list')
                    },
                    {
                        'name':  group.getName(),
                        'href': path('claro_admin_user_of_group_list', {'groupId': group.getId()})
                    },
                    {
                        'name': 'import_users'|trans({}, 'platform'),
                        'href': ''
                    }
            ])
            }}
            {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
            <div>{{ macros.flashBox() }}</div>
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a class="btn btn-default" href="{{ path('claro_admin_user_of_group_list', {'groupId': group.getId()}) }}">{{ 'cancel' | trans({}, 'platform' )}}</a>
        </div>
    </form>
{% endblock %}
