{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}
<div class="row-fluid administration">
    <div class="span2">
        <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">{{ 'administration'|trans({}, 'platformTranslation') }}</li>
            <li><a href="{{ path('claro_admin_user_creation_form') }}" id="link_add_user"> {{ 'add_user'|trans({}, 'platformTranslation') }} </a></li>
            <li><a href="{{ path('claro_admin_user_list') }}" id="link_list_user"> {{ 'list_users'|trans({}, 'platformTranslation') }} </a></li>
            <li><a href="{{ path('claro_admin_group_creation_form') }}" id="link_group_create_form"> {{ 'create_group'|trans({}, 'platformTranslation') }} </a></li>
            <li><a href="{{ path('claro_admin_group_list') }}" id="link_group_list"> {{ 'list_groups'|trans({}, 'platformTranslation') }} </a> </li>
            <li><a href="{{ path('claro_admin_platform_settings_form') }}" id="link_platform_parameters">{{ 'platform_parameters'|trans({}, 'platformTranslation') }}</a></li>
        </ul>
        </div><!--/.well -->
    </div>
    <div class="span10">
        <!--Body content-->
        {% block section_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}