{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="span3 administration">
        <ul class="nav nav-list well">
            <li class="nav-header">{{ 'administration'|trans({}, 'platform') }}</li>
            <li>
                <a href="{{ path('claro_admin_user_creation_form') }}" id="link_add_user">{{ 'add_user'|trans({}, 'platform') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_user_list') }}" id="link_list_user">{{ 'list_users'|trans({}, 'platform') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_group_creation_form') }}" id="link_group_create_form">{{ 'create_group'|trans({}, 'platform') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_group_list') }}" id="link_group_list">{{ 'list_groups'|trans({}, 'platform') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_platform_settings_form') }}" id="link_platform_parameters">{{ 'platform_parameters'|trans({}, 'platform') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_plugins') }}" id="link_platform_plugins">{{ 'platform_plugins'|trans({}, 'plugin') }}</a>
            </li>
            <li>
                <a href="{{ path('claro_admin_widgets') }}" id="link_platform_widgets">{{ 'platform_widgets'|trans({}, 'plugin') }}</a>
            </li>

        </ul>
    </div>
    <div class="span9">
        {% block section_content %}{% endblock %}
    </div>
{% endblock %}