{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'administration'|trans({}, 'platform') }}{% endblock %}

{% block content %}

    <div class="col-md-3 administration">
        <div class="list-group menu">
            <div class="list-group-item disabled">{{ 'administration'|trans({}, 'platform') }}</div>
            <a class="list-group-item{% if path('claro_admin_platform_settings_form') == app.request.requesturi or app.request.requesturi == '/Claroline/web/app_dev.php/admin/' %} active{% endif %}"
                href="{{ path('claro_admin_platform_settings_form') }}" id="link_platform_parameters">
                <i class="icon-cog"></i>
                {{ 'platform_parameters'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item" href="{{ path('claro_admin_users_management') }}" id="link_add_user">
                <i class="icon-user"></i>
                {{ 'users_management'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item{% if path('claro_admin_badges') == app.request.requesturi %} active{% endif %}" href="{{ path('claro_admin_badges') }}" id="link_badges">
                <i class="icon-certificate"></i>
                {{ 'badges_management'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item" href="{{ path('claro_admin_registration_management') }}">
                <i class="icon-book"></i>
                {{ 'registration_to_workspaces'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item{% if path('claro_admin_plugins') == app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_plugins') }}" id="link_platform_plugins">
                <i class="icon-wrench"></i>
                {{ 'platform_plugins'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item{% if path('claro_admin_home_tabs_configuration') == app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_home_tabs_configuration') }}" id="link_platform_home_tabs">
                <i class="icon-th-large"></i>
                {{ 'home_tabs'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item {% if path('claro_admin_widgets') == app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_widgets') }}" id="link_platform_widgets">
                <i class="icon-dashboard"></i>
                {{ 'platform_widgets'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item {% if path('claro_admin_tool_show') == app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_tool_show') }}" id="link_platform_widgets">
                <i class="icon-pencil"></i>
                {{ 'desktop_tools'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item {% if path('claro_admin_logs_show') == app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_logs_show') }}" id="link_logs">
                <i class="icon-reorder"></i>
                {{ 'admin_logs'|trans({}, 'platform') }}
            </a>
            <a class="list-group-item {% if path('claro_admin_analytics_show') in app.request.requesturi %} active{% endif %}"
                href="{{ path('claro_admin_analytics_show') }}" id="link_analytics">
                <i class="icon-bar-chart"></i>
                {{ 'admin_analytics'|trans({}, 'platform') }}
            </a>
        </div>
    </div>
    <div class="col-md-9 section-content">
        <div class="panel panel-default">
            {% block section_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
