{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'platform_parameters'|trans({}, 'platform') }}</h3>
    </div>
    <form class="form-horizontal" action="{{path('claro_admin_update_platform_settings')}}" method="post" {{ form_enctype(form_settings) }} id="form_settings">
        <div class="panel-body">
            {{ form_widget(form_settings) }}
            <label class="control-label"></label>
            <div class="controls">
                <a href="{{ path("claroline_admin_theme_list") }}"><i class="icon-edit"></i> {{ "Theme Generator" | trans({}, "theme") }}</a>
            </div>

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_index') }}">
                <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
{% endblock %}
