{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Plugins'|trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for plugin in plugins %}
                <div class="col-md-3">
                    <div>
                        {% if plugin.hasOptions() %}
                            <a href="{{ path('claro_admin_plugin_options', {'domain': plugin.getShortName()}) }}">
                        {% endif %}

                    <img src="{{ asset(plugin.getIcon()) }}" height="100">

                    {% if plugin.hasOptions() %}
                        </a>
                    {% endif %}

                        <div class="plugin-figcaption">
                        {% if plugin.hasOptions() %}
                            <a href="{{ path('claro_admin_plugin_options', {'domain': plugin.getShortName()}) }}">{{  plugin.getShortName()|lower|trans({}, 'plugin_description') }}</a>
                        {% else %}
                            {{  plugin.getShortName()|trans({}, 'plugin_description') }}
                        {% endif %}
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
