{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/administration/registrationManagement.js') }}'
        type="text/javascript"
    >
    </script>
    <script
        src="{{ asset('bundles/clarolinecore/js/workspace/workspace_list_registration.js') }}"
        type="text/javascript"
    >
    </script>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'select_workspaces_for_registration'|trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body" id="workspace-list-div">
        {{
            macros.breadcrumbs([
                {
                    'icon': 'icon-book',
                    'name':'registration_to_workspaces'|trans({}, 'platform'),
                    'href':'#'
                }
            ])
        }}

        <div class="search-bar row">
            <div class="col-md-6">
                <button
                    class="btn btn-default subscribe-user-button"
                    subject-type="user"
                    disabled="disabled"
                >
                    {{ 'subscribe_users'|trans({}, 'platform') }}
                </button>
                <button
                    class="btn btn-default subscribe-group-button"
                    subject-type="group"
                    disabled="disabled"
                >
                    {{ 'subscribe_groups'|trans({}, 'platform') }}
                </button>
            </div>
            <div class="col-md-6">
                 <div class="input-group">
                    <input class="form-control" type="text" id="search-items-txt" placeholder="{{ 'search'|trans({}, 'platform') }}">
                    <span class="input-group-btn">
                        <button class="filter btn btn-default" type="button" id="search-workspace-button">
                            <i class="icon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <br>

        {% if search == '' %}
            <div id="search-mode" search=""></div>
            {% include 'ClarolineCoreBundle:Administration:registrationManagementCompleteWorkspacesList.html.twig' %}
        {% else %}
            <div id="search-mode" search="{{ search }}"></div>
            {% include 'ClarolineCoreBundle:Workspace:workspaceSearchedListRegistrationPager.html.twig' %}
        {% endif %}

        <br>
        <button
            class="btn btn-default subscribe-user-button"
            subject-type="user"
            disabled="disabled"
        >
            {{ 'subscribe_users'|trans({}, 'platform') }}
        </button>
        <button
            class="btn btn-default subscribe-group-button"
            subject-type="group"
            disabled="disabled"
        >
            {{ 'subscribe_groups'|trans({}, 'platform') }}
        </button>
    </div>
{% endblock %}
