{% for user in users %}
    <tr id="{{ user.getId() }}" class="row-user">
        <td>{{ user.getId() }}</td>
        <td>{{ user.getUsername() }}</td>
        <td>{{ user.getLastName() }}</td>
        <td>{{ user.getFirstName() }}</td>
        <td>{{ user.getMail() }}</td>
        <td>
            <div>
                {% for role in user.getEntityRoles() %}
                    {{ role.getTranslationKey()|trans({}, 'platform')  }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        </td>
        {% if is_granted('user', 'EDIT') %}
            {% if app.user.id == user.getId() %}
                <td> - </td>
            {% else %}
                <td>
                   <input type="checkbox" value="{{ user.id }}" class="chk-user" align="center"></input>
                </td>
            {% endif %}
        {% endif %}
        <td>
            <a href="{{ path('claro_profile_view', {'userId': user.getId()}) }}">
                {{ 'show'|trans({}, 'platform') }}
            </a>
        </td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>
            <a href="{{ path('claro_desktop_open', {'_switch': user.getUsername()}) }}">
                {{ 'show'|trans({}, 'platform') }}
            </a>
        </td>
        {% endif %}
    </tr>
{% endfor %}