{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <table class="claroTable userList" width="100%" cellspacing="2" border="0">
        <thead>
            <tr class="headerX" align="center" valign"=top">
                <th>{{ 'id'|trans({}, 'platform') }}</th>
                <th>{{ 'username'|trans({}, 'platform') }}</th>
                <th>{{ 'last_name'|trans({}, 'platform') }}</th>
                <th>{{ 'first_name'|trans({}, 'platform') }}</th>
                <th>{{ 'mail'|trans({}, 'platform') }}</th>
                <th>{{ 'role'|trans({}, 'platform') }}</th>
                <th>{{ 'delete'|trans({}, 'platform') }}</th>
                <th>{{ 'show'|trans({}, 'platform') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr id="{{ user.getId() }}" class="row_user">
            <td align="center">{{ user.getId() }}</td>
            <td align="center">{{ user.getUsername() }}</td>
            <td align="center">{{ user.getLastName() }}</td>
            <td align="center">{{ user.getFirstName() }}</td>
            <td align="center">{{ user.getMail() }}</td>
            <td align="center">
                <div>
                    {%for role in user.getOwnedRoles() %}
                        {{role.getTranslationKey()}}<br/>
                    {% endfor %}
                </div>
            </td>
            {% if is_granted('user', 'EDIT') %}
                {% if app.user.id == user.getId() %}
                    <td align="center"> - </td>
                {% else %}
                    <td align="center">
                        <a class="link_delete"
                           href="{{ path('claro_admin_delete_user', {'userId': user.getId()}) }}">
                            {{ 'delete'|trans({}, 'platform') }}
                        </a>
                    </td>
                {% endif %}
            {% endif %}
            <td align="center">
                <a href="{{ path('claro_profile_view', {'userId': user.getId()}) }}">
                    {{ 'show'|trans({}, 'platform') }}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}