{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <h6>
        {{ group.getName() }}: {{ 'add_user'|trans({}, 'platform') }}
    </h6>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>{{ 'id'|trans({}, 'platform') }}</th>
                <th>{{ 'username'|trans({}, 'platform') }}</th>
                <th>{{ 'last_name'|trans({}, 'platform') }}</th>
                <th>{{ 'first_name'|trans({}, 'platform') }}</th>
                <th>{{ 'manage'|trans({}, 'platform') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr id="row_user_{{ user.getId() }}" class="row_user">
                    <td>{{ user.getId() }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getLastName() }}</td>
                    <td>{{ user.getFirstName() }}</td>
                    <td>
                        <a id="link_add_user_{{ user.getId() }}" href="{{ path('claro_admin_add_user_to_group', {'groupId': group.getId(), 'userId': user.getId()}) }}">{{ 'add'|trans({}, 'platform') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}