{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {% form_theme form_complete_user 'ClarolineCoreBundle::form_theme.html.twig' %}
<form class="form-horizontal" action="{{ path('claro_admin_create_user') }}" method="post" {{ form_enctype(form_complete_user) }} id="form_complete_user" autocomplete="off">
        <fieldset>
            <legend>{{ 'add_user'|trans({}, 'platform') }} :</legend>
            {{ form_widget(form_complete_user) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_admin_index') }}">
                    <button  type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
