{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'workspaces_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_parameters_index')
            },
            {
                'name': 'workspaces_management'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
  <div
    class="page-container workspace-administration-container"
    data-workspaces="{{ results | json_encode | raw | escape }}"
    data-count="{{ total }}"
    data-filters="{{ filters | json_encode | raw | escape }}"
    data-orderby="{{ orderBy | json_encode | raw | escape }}"
    data-page="0"
    data-pageSize="20"
  >
  </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-workspace-management.js') }}"></script>
{% endblock %}
