{% macro renderPager(pager, widgetInstanceId, search, max, orderedBy, order) %}
    {% if search is empty %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_cursus_courses_list_for_registration_widget',
                    'routeParams': {
                        'widgetInstance': widgetInstanceId,
                        'max': max,
                        'orderedBy': orderedBy,
                        'order': order
                    }
                }
            )
        }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_cursus_courses_list_for_registration_widget',
                    'routeParams': {
                        'widgetInstance': widgetInstanceId,
                        'search': search,
                        'max': max,
                        'orderedBy': orderedBy,
                        'order': order
                    }
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}
        
{% if search != '' %}
    <div class="alert alert-info">
        {{ 'results_for_search_on'|trans({}, 'platform') }} :
        "{{ search }}"
    </div>
{% endif %}

<div class="row">
    <div class="col-md-4 pull-right">
        <div class="input-group margin-bottom-md">
            <input class="form-control search-course"
                   type="text"
                   id="search-course-input"
                   placeholder="{{ 'search'|trans({}, 'platform') }}"
                   value="{{ search }}"
            >
            <span class="input-group-btn">
                <button class="filter btn btn-default search-course-btn"
                        type="button"
                        id="search-course-btn"
                >
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <button id="calendar-view-button"
            class="btn btn-default pull-right"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ 'calendar_view'|trans({}, 'cursus') }}"
    >
        <i class="fa fa-calendar"></i>
    </button>
</div>

{% if courses|length > 0 %}
    {% if courses.getNbPages() > 1 %}
        {{ renderPager(courses, widgetInstance.getId(), search, max, orderedBy, order) }}
    {% endif %}

    <div class="panel-group" role="tablist">
        {% for course in courses %}
            {% set courseId = course.getId() %}
            {% set icon = course.getIcon() %}
            {% set description = course.getDescription() %}

            {% if icon is empty %}
                {% set iconPath = asset('bundles/clarolinecursus/images/no_icon.png') %}
            {% else %}
                {% set iconPath = asset('uploads/thumbnails/' ~ course.getIcon()) %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-toggle="collapse"
                              href="#course-content-{{ widgetInstance.getId() }}-{{ courseId }}"
                              class="pointer-hand"
                        >
                            {{ course.getTitle() }}
                            <small>[{{ course.getCode() }}]</small>
                        </span>
                    </h3>
                </div>
                <div id="course-content-{{ widgetInstance.getId() }}-{{ courseId }}" class="panel-collapse collapse {% if collapseCourses %}in{% endif %}">
                    <div class="panel-body">
                        {% if icon is not empty or description is not empty %}
                            <div class="media">
                                {% if icon is not empty %}
                                    <div class="media-left col-md-2 text-center">
                                        <img class="media-object" src="{{ iconPath }}" alt="" width="150px">
                                    </div>
                                {% endif %}
                                {% if course.getDescription() is not empty %}
                                    <div class="media-body col-md-10">
                                        <div>
                                            {{ description|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <hr>
                        {% endif %}

                        {% if sessions[courseId] is not defined %}
                            <div class="alert alert-warning">
                                {{ 'no_session'|trans({}, 'cursus') }}.

                                {% if courseQueues[courseId] is defined %}
                                    <span class="cancel-course-queue-request-btn pointer-hand"
                                          id="course-queue-btn-{{ courseId }}"
                                          data-course-id="{{ courseId }}"
                                    >
                                        <span class="label label-success">
                                            {{ 'request_done'|trans({}, 'platform') }}
                                        </span>
                                    </span>
                                {% else %}
                                    <span class="course-queue-request-btn pointer-hand"
                                          id="course-queue-btn-{{ courseId }}"
                                          data-course-id="{{ courseId }}"
                                    >
                                        <span class="label label-info">
                                            {{ 'next_session_registration_request'|trans({}, 'platform') }}
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                        {% else %}
                            <div>
                                <h4>{{ 'sessions'|trans({}, 'cursus') }}</h4>
                                <ul>
                                    {% for session in sessions[courseId] %}
                                        {% set sessionId = session.getId() %}
                                        {% set startDate = session.getStartDate() %}
                                        {% set endDate = session.getEndDate() %}
                                        <li>
                                            <span>
                                                {% if session.getEvents()|length > 0 %}
                                                    <i class="fa fa-chevron-circle-right pointer-hand"
                                                       data-toggle="collapse"
                                                       href="#collapse-events-{{ widgetInstance.getId() }}-{{ session.getId() }}"
                                                       style="color: #337AB7"
                                                    >
                                                    </i>
                                                {% endif %}
                                                <a href="" class="session-info-link" data-session-id="{{ sessionId }}">
                                                    {{ session.getName() }}
                                                </a>
                                                [
                                                {% if startDate is empty %}
                                                    ?
                                                {% else %}
                                                    {{ startDate|date('d/m/Y') }}
                                                {% endif %}
                                                <i class="fa fa-long-arrow-right"></i>

                                                {% if endDate is empty %}
                                                    ?
                                                {% else %}
                                                    {{ endDate|date('d/m/Y') }}
                                                {% endif %}
                                                ]
                                            </span>

                                            <span id="session-registration-btn-{{ sessionId }}">
                                                {% if registeredSessions[sessionId] is defined %}
                                                    &nbsp;
                                                    <span class="label label-success">
                                                        {{ 'registered'|trans({}, 'platform') }}
                                                    </span>
                                                {% elseif pendingSessions[sessionId] is defined %}
                                                    &nbsp;
                                                    <span class="label label-warning">
                                                        {{ 'pending'|trans({}, 'platform') }}
                                                    </span>
                                                {% elseif session.getPublicRegistration() %}
                                                    &nbsp;
                                                    <span class="btn btn-default btn-sm session-register-btn"
                                                          data-session-id="{{ sessionId }}"
                                                    >
                                                        <i class="fa fa-sign-in"></i>
                                                        {{ 'self_register'|trans({}, 'cursus') }}
                                                    </span>
                                                {% endif %}
                                            </span>

                                            {% if session.getPublicUnregistration() and (registeredSessions[sessionId] is defined or pendingSessions[sessionId] is defined) %}
                                                &nbsp;
                                                <span  id="session-unregistration-btn-{{ sessionId }}">
                                                    <span class="label label-danger pointer-hand session-unregister-btn"
                                                          data-session-id="{{ sessionId }}"
                                                    >
                                                        <i class="fa fa-times"></i>
                                                        {{ 'self_unregister'|trans({}, 'cursus') }}
                                                    </span>
                                                </span>
                                            {% endif %}

                                            {% if session.getEvents()|length > 0 %}
                                                <div id="collapse-events-{{ widgetInstance.getId() }}-{{ session.getId() }}" class="collapse {% if collapseSessions %}in{% endif %}">
                                                    <br>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tr>
                                                                <th>{{ 'session_event'|trans({}, 'cursus') }}</th>
                                                                <th>{{ 'duration'|trans({}, 'platform') }}</th>
                                                                <th>{{ 'location'|trans({}, 'platform') }}</th>
                                                                {% if not disableSessionEventRegistration %}
                                                                    <th></th>
                                                                {% endif %}
                                                            </tr>
                                                            {% for event in session.getEvents() %}
                                                                {% set eventId = event.getId() %}
                                                                {% set location = event.getLocation() %}
                                                                <tr>
                                                                    <td>
                                                                        <a href="" class="event-info-link" data-event-id="{{ eventId }}">
                                                                            {{ event.getName() }}
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        {{ event.getStartDate()|intl_date_format }}
                                                                        <i class="fa fa-long-arrow-right"></i>
                                                                        {{ event.getEndDate()|intl_date_format }}
                                                                    </td>
                                                                    <td>
                                                                        {% if location is not empty %}
                                                                            {{ location.getTown() }}
                                                                        {% else %}
                                                                            {{ 'location_to_specify'|trans({}, 'cursus') }}
                                                                        {% endif %}
                                                                    </td>
                                                                    {% if not disableSessionEventRegistration %}
                                                                        <td class="text-center">
                                                                            {% if sessionEventUsersStatus[eventId] is defined %}
                                                                                {% if sessionEventUsersStatus[eventId] == constant('Claroline\\CursusBundle\\Entity\\SessionEventUser::REGISTERED') %}
                                                                                    <span class="label label-success">
                                                                                        {{ 'registered'|trans({}, 'platform') }}
                                                                                    </span>
                                                                                {% elseif sessionEventUsersStatus[eventId] == constant('Claroline\\CursusBundle\\Entity\\SessionEventUser::PENDING') %}
                                                                                    <span class="label label-warning">
                                                                                        {{ 'pending'|trans({}, 'platform') }}
                                                                                    </span>
                                                                                {% endif %}
                                                                            {% elseif (session.getPublicRegistration() or registeredSessions[sessionId] is defined) and
                                                                                      (event.getRegistrationType() == constant('Claroline\\CursusBundle\\Entity\\CourseSession::REGISTRATION_PUBLIC'))
                                                                            %}
                                                                                {% if event.getEventSet() is empty %}
                                                                                    <span id="session-event-registration-btn-{{ eventId }}">
                                                                                        <button class="btn btn-default btn-sm register-to-session-event-btn"
                                                                                                data-session-event-id="{{ eventId }}"
                                                                                        >
                                                                                            {{ 'self_register_to_session_event'|trans({}, 'cursus') }}
                                                                                        </button>
                                                                                    </span>
                                                                                {% else %}
                                                                                    {% set eventSet = event.getEventSet() %}
                                                                                    <button class="btn btn-default btn-sm register-to-session-event-set-btn"
                                                                                            data-session-event-set-id="{{ eventSet.getId() }}"
                                                                                    >
                                                                                        <span class="label label-info">
                                                                                            {{ eventSet.getName() }}
                                                                                        </span>
                                                                                        &nbsp;
                                                                                        {{ 'self_register_to_session_event_set'|trans({}, 'cursus') }}
                                                                                    </button>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if courses.getNbPages() > 1 %}
        {{ renderPager(courses, widgetInstance.getId(), search, max, orderedBy, order) }}
    {% endif %}
{% else %}
    <div class="alert alert-warning">
        {{ 'no_course'|trans({}, 'cursus') }}
    </div>
{% endif %}