<form role="form"
      class="form-horizontal widget-content-config-form"
      action="{{ path('claro_cursus_courses_registration_widget_configure', {'config': config.getId(), 'admin': admin}) }}"
      method="post"
      novalidate
>
    <div class="panel-body">
        {% if admin is not empty %}
            {{ form_row(form.displayAll) }}
        {% endif %}
        {{ form_row(form.cursus) }}
        {{ form_row(form.defaultMode) }}
        <hr>
        <h4 class="text-center">{{ 'calendar_view_options'|trans({}, 'cursus') }}</h4>
        {{ form_row(form.publicSessionsOnly) }}
        <hr>
        <h4 class="text-center">{{ 'list_view_options'|trans({}, 'cursus') }}</h4>
        {{ form_rest(form) }}
    </div>
</form>
