{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block title %}{{ 'competence' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
	    'icon': 'icon-cog',
	    'name': 'administration'|trans({}, 'platform'),
	    'href': path('claro_admin_index')
    },
    {
	    'name': 'competence_referencial'|trans({}, 'platform'),
	    'href': path('claro_admin_competences')
    },
    {
    	'name': cpt.getCompetence().getName(),
    	'href': path('claro_admin_competence_show_referential', {'competence': cpt.getId() })
    }
    ])
    }}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "competence_referencial" | trans({}, "platform" )}}: {{cpt.getCompetence.getName() }}</h3>
            <span data-id="{{cpt.getId() }}"></span>
        </div>
        <div class="panel-body">
            {% include "ClarolineCoreBundle:Administration\\Competence:competenceNodeItem.html.twig" with {'competence': cpt.getId()} %}
        <div class="panel-footer">
            <a 
                id="show-referential-comptence-form" 
                class="btn btn-primary"
                href="{{path('claro_admin_competence_hierarchy_form', {'competence': cpt.getId()})}}"
            >{{'competence_add'|trans({},'competence')}}
            </a>
        </div>
    </div
	<div id="tree">
	<div class="panel panel-default">
        <div class="panel-heading">
         	<h3 class="panel-title" > structure </h3> 
        </div>
    	<div class="panel-body">
        {{ tree|raw }}
    	</div>
    	<div class="panel-footer">

    	</div>
    </div>
   	</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'src='{{ asset('bundles/clarolinecore/js/administration/competences.js') }}'></script>
{% endblock %}