{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set competenceNodeId = competenceNode.getId() %}
{% set competenceName = competenceNode.getCompetence().getName() %}

{% block title %}
    {{ competenceName | striptags | raw }}
{% endblock %}


{% block breadcrumb %}
    {{
        macros.breadcrumbs([
        {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
        },
        {
                'name': 'learning_outcomes'|trans({}, 'platform'),
                'href': path('claro_admin_learning_outcomes_list')
        },
        {
            'name': competenceName,
            'href': ''
        }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ competenceName }}
            </h3>
            <span data-id="{{ competenceNodeId }}"></span>
        </div>
        <div class="panel-body">
            {% include "ClarolineCoreBundle:Administration\\Competence:competenceNodeItem.html.twig" %}
        </div>
        <div class="panel-footer">
            <a href="{{ path('claro_admin_learning_outcomes_list') }}" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i>
                {{ 'back'|trans({},'platform') }}
            </a>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'src='{{ asset('bundles/clarolinecore/js/administration/competences.js') }}'></script>
{% endblock %}