{% twig_js name = 'CompetencyRow' %}

{# renders the path of a competency/ability as a nested list #}
{% macro renderSteps(steps, index, max) %}
    <ul>
        <li>
            - {{ steps[index] }}
            {% if index < max - 1 %}
                {{ _self.renderSteps(steps, index + 1) }}
            {% endif %}
        </li>
    </ul>
{% endmacro %}

{# renders a competency/ability path along with its level #}
{% macro renderPath(path) %}
    <td class="icon-cell">{{ path.level }}</td>
    <td class="competency-path">
        {{ _self.renderSteps(path.steps, 0, path.steps|length) }}
    </td>
{% endmacro %}

{# using "_self" produces an error with twig.js... #}
{% import 'HeVinciCompetencyBundle:Activity:competencyRow.html.twig' as util %}

{% set pathCount = target.paths|length %}

<tr data-id="{{ target.id }}" data-type="{{ target.type }}">
    <td rowspan="{{ pathCount }}">{{ target.name }}</td>
    <td rowspan="{{ pathCount }}">
        {# handle client side translation for dynamically added rows #}
        {% if target.translatedType is defined %}
            {{ target.translatedType }}
        {% else %}
            {{ target.type|trans({}, 'competency') }}
        {% endif %}
    </td>
    {{ util.renderPath(target.paths[0]) }}
    {% if isEditMode is defined and isEditMode %}
        <td rowspan="{{ pathCount }}" class="icon-cell">
            <a href="#" class="delete-association">
                <i class="fa fa-remove"></i>
            </a>
        </td>
    {% endif %}
</tr>

{% if pathCount > 1 %}
    <tr data-id="{{ target.id }}" data-type="{{ target.type }}">
        {% for i in 1..pathCount - 1 %}
            {{ util.renderPath(target.paths[i]) }}
        {% endfor %}
    </tr>
{% endif %}