{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.resourceNode.name ~ ' - ' ~ "activity" | trans({}, "resource") | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-body">
        {% if is_granted('edit', _resource) %}
            <div class="float-right-top margin-right-md">
                <a href="{{ path('claro_activity_edit', {'resource':  _resource.getId() }) }}" class="btn btn-primary"><i class="icon-pencil"></i></a>
            </div>
        {% endif %}

        <ul class="activity-tabs nav nav-tabs margin-bottom-md">
            <li class="active activity-primary"><a class="pointer-hand" data-id="activity-primary">{{ _resource.getTitle() }}</a></li>
            {% for resource in _resource.getParameters().getSecondaryResources() %}
                <li class="activity-tab-{{ resource.getId() }}">
                    <a class="pointer-hand" data-id="resource-{{ resource.getId() }}">
                        {{ resource.getName() }}
                        {% if is_granted('edit', _resource) %}
                            <div class="dropdown">
                                <i class="icon-chevron-down pointer-hand" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                        <i role="menuitem"
                                           class="activity-remove-resource icon-trash"
                                           data-resource="{{ resource.getId() }}"
                                           data-activity="{{ _resource.getId() }}"
                                        >
                                            {{ 'remove' | trans({}, 'platform') }}
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            {% if is_granted('edit', _resource) %}
                <li>
                    <a class="add-resource pointer-hand" data-id="{{ _resource.getId() }}">
                        <i class="icon-plus"></i> {{ 'add_resource' | trans({}, 'platform') }}
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="activities">
            <div id="activity-primary">
                {% if not _resource.getDescription() is empty %}
                    <div>{{ _resource.getDescription() | raw }}</div>
                {% endif %}
                {% if not _resource.getPrimaryResource() is empty %}
                    <hr>
                    <h3>{{ _resource.getPrimaryResource().getName() }}</h3>
                    {% set mimetype = _resource.getPrimaryResource().getMimeType() | split('/') %}
                    {{
                        render(
                            controller(
                                'ClarolineCoreBundle:Resource:embedResource',
                                {
                                    'node': _resource.getPrimaryResource().getId(),
                                    'type': mimetype[0],
                                    'extension': mimetype[1]
                                }
                            )
                        )
                    }}
                {% endif %}
            </div>
            {% for resource in _resource.getParameters().getSecondaryResources() %}
                <div class="hide" id="resource-{{ resource.getId() }}">
                    <h3>{{ resource.getName() }}</h3>
                    {% set mimetype = resource.getMimeType() | split('/') %}
                    {{
                        render(
                            controller(
                                'ClarolineCoreBundle:Resource:embedResource',
                                {
                                    'node': resource.getId(),
                                    'type': mimetype[0],
                                    'extension': mimetype[1]
                                }
                            )
                        )
                    }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('edit', _resource) %}
        <script src="{{ asset('bundles/clarolinecore/js/activity/edit.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/clarolinecore/js/activity/activity.js') }}"></script>
{% endblock %}
