{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'icon' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'appearance'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_appearance')
    },
    {
        'name': 'resource_icon_set_management'|trans({}, 'platform'),
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'resource_icon_set_management'|trans({}, 'platform') }}</h3>
    </div>
    <div class="icon-set-list panel-body">
        <div>
            {{ macros.flashBox() }}
        </div>
        {% if isReadOnly %}
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i>
                    {{ 'icon_set_dir_not_writable'|trans({}, 'platform') }}
                </div>
            </div>
        {% endif %}

        <resource-icon-set-list></resource-icon-set-list>

        {% if not isReadOnly %}
            <div class="col-md-6">
                <div class="alert alert-info">
                    <strong>
                        <a class="alert-link" href="{{ path('claro_admin_resource_icon_set_new') }}">
                            <i class="fa fa-plus-circle"></i> {{ 'create_new_icon_set'|trans({}, 'platform') }}
                        </a>
                    </strong>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" screen="media"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.iconSets = {{ iconSets|json_serialize(['Default'])|raw }};
    </script>
    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-main-core-resource-icon-set-list.js') }}"></script>
{% endblock%}