{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'icon' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'appearance'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_appearance')
    },
    {
        'name': 'resource_icon_set_management'|trans({}, 'platform'),
        'href': path('claro_admin_resource_icon_set_list')
    },
    {
        'name': iconSet.name,
        'href': ''
    },
    ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'resource_icon_set_management'|trans({}, 'platform') }}: {{ iconSet.name }}</h3>
    </div>
    <div class="panel-body">
        <div class="row callout callout-info">
            <div class="col-md-12">
                <div class="text-info fa fa-info-circle fa-lg"></div>
                <div>{{ 'resource_icon_set_info_text'|trans({}, 'platform')|raw }}</div>
                <div style="margin-top: 10px;"><abbr title="" class="text-info" uib-tooltip-html="{{ '\"' ~ ('resource_icon_set_illustrator_options'|trans({}, 'platform')) ~ '\"'  }}|trust_html"><i class="fa fa-lightbulb-o fa-lg"></i> {{ 'resource_icon_set_illustrator_help'|trans({}, 'platform')  }}</abbr></div>
            </div>
        </div>
        <form role="form" class="form-horizontal" action="{{path('claro_admin_resource_icon_set_update', {'id' : iconSet.id})}}" method="post" {{ form_enctype(form) }} id="form_settings" enctype='multipart/form-data'>
            {{ form_widget(form) }}
            <div class="form-group row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">{{ 'upgrade'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_admin_resource_icon_set_list') }}" type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</a>
                </div>
            </div>
        </form>
        <resource-icon-item-list></resource-icon-item-list>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('packages/bootstrap-additions/dist/modules/callout.min.css') }}" screen="media"/>
    <link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" screen="media"/>
    {% stylesheets
    debug=false
    filter='less, cssmin'
    output='css/clarolinecore/resource-icon-sets.css'
    "@ClarolineCoreBundle/Resources/less/resource-icon-sets.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.iconSet = {{ iconSet|json_serialize(['Default'])|raw }};
        window.iconItemsByTypes = {{ iconNamesForTypes|json_serialize(['Default'])|raw }};
    </script>
    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-main-core-resource-icon-item-list.js') }}"></script>
{% endblock%}