{% block log_action %}
    <div id="status_bar">
    {% if connected %}
        <span>{{ username }}</span>
        <a href="{{ path('claro_security_logout') }}">
            {{ 'security.logout'|trans({}, 'ClarolineSecurityBundle') }}
        </a>
    {% else %}
        {% if login_target %}
        <a href="{{ path(login_target) }}">
            {{ 'security.login'|trans({}, 'ClarolineSecurityBundle') }}
        </a>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}