{% block stylesheets %}

    {% stylesheets debug=false filter='lessphp, cssmin' output='vendor/innova/video-recorder/css/innova-video-recorder.min.css'
        '@InnovaVideoRecorderBundle/Resources/public/less/app.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock %}

<!-- MODAL FORM -->

<div class="modal-dialog video-recorder-creation-modal" id="video-recorder-modal">
    <form id="arForm" action="{{ path('claro_resource_create', {'resourceType':resourceType, 'parentId':'_nodeId'}) }}" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Video Recorder</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="form-error-msg-row" style="display: none;">
                    <div class="col-md-12 text-center">
                        <div class="alert alert-danger" role="alert">
                            <span class="fa fa-exclamation-circle"></span>
                            <span id="form-error-msg">{{ 'resource_creation_error'|trans({}, 'innova_video_recorder') }}</span>
                            <hr/>
                            <span id="form-error-msg">{{ 'resource_creation_error_download'|trans({}, 'innova_video_recorder') }}</span>
                            <hr/>
                            <button type="button" title="{{ 'download_video'|trans({}, 'innova_video_recorder') }}" role="button" class="btn btn-danger fa fa-download" id="btn-video-download" onclick="downloadVideo()" style="display: none;"></button>
                        </div>
                    </div>
                </div>
                <div id="form-content">
                    <div id="videoRecorderRow" class="row">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button type="button" role="button" class="btn btn-danger fa fa-circle" id="video-record-start" title="Commencer l'enregistrement" onclick="recordVideo()"></button>
                                <button type="button" role="button" class="btn btn-default fa fa-stop" id="video-record-stop" title="Arrêter l'enregistrement" disabled="disabled" onclick="stopRecordingVideo()"></button>

                            </div>
                            <canvas class="pull-right" id="analyser" title="Mic level" width="34px" height="25px"></canvas>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <label for="resource-name-input">{{ 'resource_name'|trans({}, 'innova_video_recorder') }}</label>
                                <input required="required" id="resource-name-input" type="text" value="recorded-video-{{"now"|date("YmdHs")}}" class="form-control" name="resourceName" placeholder="">
                            </div>

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="video-records-container">
                                            <h3>
                                                <small>{{ 'my_recordings'|trans({}, 'innova_video_recorder') }}</small>
                                            </h3>
                                            <hr/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="progress"></div>
                <button type="button" role="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                <button type="button" role="button" onclick="uploadVideo()" id="submitButton" disabled="disabled" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
        </div>
    </form>
</div>

{% block javascripts %}

    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain':'innova_video_recorder' }) }}"></script>

    {% javascripts debug=false filter='jsmin' output='vendor/innova/video-recorder/js/innova-video-recorder.js'
  '@InnovaVideoRecorderBundle/Resources/public/js/libs/*'
  '@InnovaVideoRecorderBundle/Resources/public/js/video_recorder.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
