{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block section_content %}
    {% spaceless %}
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('claro_desktop_open_tool', {'toolName': 'parameters'}) }}">{{ 'parameters'|trans({}, 'platform') }}</a>
            </li>
            <span class="divider"> / </span>
            <li>
                <a href="#">{{ 'home'|trans({}, 'platform') }}</a>
            </li>
        </ul>
    {% endspaceless %}

    <ul>
        <li>
            <a href="{{ path('claro_desktop_widget_properties') }}">
                {{ 'widgets'|trans({}, 'platform') }}
            </a>
        </li>
    </ul>

{% endblock %}