{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/home/desktopHomeTabWidgetsConfig.js') }}'
        type="text/javascript">
    </script>
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-briefcase',
                'name': 'desktop'|trans({}, 'platform'),
                'href': path('claro_desktop_open')
            },
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_desktop_open_tool', {'toolName': 'parameters'})
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': path('claro_desktop_tool_config', {'tool': tool.getId()})
            },
            {
                'name': 'home_tabs'|trans({}, 'platform'),
                'href': path('claro_desktop_home_tab_properties')
            },
            {
                'name': 'home_tab_widgets'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'home_tab_widgets_configuration'|trans({}, 'platform') }}
        </h3>
    </div>
    <div class="panel-body">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">{{ homeTab.getName() }}</a></li>
            </ul>
            <br>
            <br>

            {% for widgetConfig in widgetConfigs %}
            {% set widget = widgetConfig.getWidget() %}
            <div id="widget-panel-{{ widgetConfig.getId() }}"
                class="panel panel-default"
                widget-config-id="{{ widgetConfig.getId() }}"
            >
                <div class="panel-body">
                    {{ widget.getName()|trans({}, 'widget') }}
                    <span class="pull-right">
                        {% if widgetConfig.getWidgetOrder() > 1 %}
                            <i class="icon-arrow-up widget-order-up pointer-hand"></i>
                        {% endif %}
                        {% if widgetConfig.getWidgetOrder() < lastWidgetOrder %}
                            <i class="icon-arrow-down widget-order-down pointer-hand"></i>
                        {% endif %}
                        &nbsp;
                        <i class="icon-remove-sign widget-remove pointer-hand"></i>
                        &nbsp;
                        <span class="whtc-visible-btn pointer-hand label {% if widgetConfig.isVisible() %} label-success {% else %} label-default {% endif %}">
                            {{ 'visible'|trans({}, 'platform') }}
                        </span>
                        &nbsp;
                    </span>
                </div>
            </div>
            {% endfor %}

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{ path(
                        'claro_desktop_home_tab_addable_widgets_list',
                        {'homeTabId': homeTab.getId()}
                    ) }}">
                        <i class="icon-plus-sign">
                            {{ 'add_widget_to_home_tab'|trans({}, 'platform') }}
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-widget-home-tab-validation-box" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'widget_home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'widget_home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}