{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/home/homeTabsProperties.js') }}'
        type="text/javascript">
    </script>
{% endblock %}

{% block section_content %}

    <div class="panel-body">
        {{
            macros.breadcrumbs([
                {
                    'icon': 'icon-cog',
                    'name': 'parameters'|trans({}, 'platform'),
                    'href': path('claro_desktop_open_tool', {'toolName': 'parameters'})
                },
                {
                    'name': 'home'|trans({}, 'platform'),
                    'href': path('claro_desktop_tool_config', {'tool': tool.getId()})
                },
                {
                    'name': 'home_tabs'|trans({}, 'platform'),
                    'href': ''
                }
            ])
        }}

        <div>
            <h3>{{ 'home_tabs_configuration'|trans({}, 'platform') }}</h3>
        </div>
        <br>

        <div>
            <a href="{{ path('claro_user_desktop_home_tab_create_form') }}">
                <button class="btn btn-default">
                    {{ 'create_new_home_tab'|trans({}, 'platform') }}
                </button>
            </a>
        </div>
        <br>

        <div>
            <table id="widget-table" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'name'|trans({}, 'platform') }}</th>
                        <th>{{ 'visible'|trans({}, 'platform') }}</th>
                        <th>{{ 'active_widgets'|trans({}, 'platform') }}</th>
                    </tr>
                </thead>
                <tbody id="widget-table-body">
                    {% for adminHomeTabConfig in adminHomeTabConfigs %}
                    {% set adminHomeTab = adminHomeTabConfig.getHomeTab() %}
                        <tr class='row-home-tab-config {% if adminHomeTabConfig.isLocked() %}text-muted{% endif %}'
                            data-id={{ adminHomeTabConfig.getId() }}
                        >
                            <td>
                                {{ adminHomeTab.getName() }}
                            </td>
                            <td>
                                <input type="checkbox"
                                    class="chk-visible"
                                   {% if adminHomeTabConfig.isVisible() %} checked {% endif %}
                                   {% if adminHomeTabConfig.isLocked() %} disabled {% endif %}
                                >
                            </td>
                            <td>
                                {% if not adminHomeTabConfig.isLocked() %}
                                    <a href="{{ path('claro_desktop_admin_home_tab_widgets_configuration',
                                        {'homeTabId': adminHomeTab.getId()}) }}"
                                    >
                                        {{ nbWidgets[adminHomeTabConfig.getId()] }}
                                    </a>
                                {% else %}
                                    {{ nbWidgets[adminHomeTabConfig.getId()] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for homeTabConfig in homeTabConfigs %}
                    {% set homeTab = homeTabConfig.getHomeTab() %}
                        <tr class='row-home-tab-config' data-id={{ homeTabConfig.getId() }}>
                            <td>
                                <a href="{{
                                    path(
                                        'claro_user_desktop_home_tab_edit_form',
                                        {'homeTabConfigId': homeTabConfig.getId()})
                                }}">
                                    <i class="icon-edit"></i>
                                </a>
                                {{ homeTab.getName() }}
                            </td>
                            <td>
                                <input type="checkbox"
                                    class="chk-visible"
                                   {% if homeTabConfig.isVisible() %} checked {% endif %}
                                >
                            </td>
                            <td>
                                <a href="{{ path('claro_desktop_home_tab_widgets_configuration',
                                    {'homeTabId': homeTab.getId()}) }}"
                                >
                                    {{ nbWidgets[homeTabConfig.getId()] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}