{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'home' | trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs tabs">
            <li{% if "desktop/tool/open" in app.request.requesturi or 'claro_tool_desktop_info' == app.request.get('_route') %} class="active"{% endif %}>
            <a href="{{ path('claro_tool_desktop_info') }}" id="desktop_info_link">{{ 'informations'|trans({}, 'platform') }}</a>
            </li>
            <li class="{% if 'claro_tool_desktop_perso' == app.request.get('_route') %}active{% endif %}">
            <a href="{{ path('claro_tool_desktop_perso') }}" id="desktop_perso_link">{{ 'misc'|trans({}, 'platform') }}</a>
            </li>
        </ul>

        {% block homeTab %}{% endblock %}
    </div>
{% endblock %}
