{% block content %}
<form action="{{path('claro_document_upload', {'id': currentDirectory.id})}}" method="post" {{ form_enctype(formdoc) }} id="formdoc">
    {{ form_errors(formdoc) }}
    {% set label_file %}{{ 'file'|trans({}, 'document') }}{% endset %}
    {{ form_label(formdoc.file, label_file ) }}
    {{ form_widget(formdoc.file) }}
    {{ form_rest(formdoc) }}
<input type="submit" />
</form>
<form action="{{path('claro_directory_add', {'id': currentDirectory.id})}}" method="post" {{ form_enctype(formdir) }} id="formdir">
    {{ form_errors(formdir) }}
    {% set label_nom %}{{ 'name'|trans({}, 'document') }}{% endset %}
    {{ form_label(formdir.name, label_nom ) }}
    {{ form_widget(formdir.name) }}
    {{ form_rest(formdir) }}
<input type="submit" />
</form>

<script>
    document.getElementById('formdoc').style.display='none';
    document.getElementById('formdir').style.display='none';
</script>
<a HREF="javascript:showUpload();" id="link_upload" alt="link_upload">{{ 'upload_document'|trans({}, 'document') }}</a>
<a HREF="javascript:showDir();" id="link_delete" alt="link_delete">{{ 'new_directory'|trans({}, 'document') }}</a>
</br>
{{ 'directory_name'|trans({}, 'document') }}: 
{% for directory in listParent %}
<a href="{{path('claro_directory_show', {'id': directory.id}) }}">\{{directory.name}}</a>
{% endfor %}
<ul id="directory_list">
    {% for directory in directories %}
        <li class="directory_item" id="{{ directory.getName() }}" name="_directory_item">
            <a href="{{path('claro_directory_show', {'id': directory.id})}}"  class="link_directory_show">{{directory.name}}</a>
            <a href="{{ path('claro_directory_delete', {'id': directory.id}) }}" class="link_delete_directory" name="_link_delete_directory">{{ 'delete_document'|trans({}, 'document') }}</a>
            <a href="{{ path('claro_directory_download', {'id': directory.id,}) }}" class="link_download_directory" name="_link_download_directory"> <img src="{{ asset('bundles/clarolinedocument/images/image.png') }}" alt="download"/>  </a>
         </li>
    {% endfor %}
</ul>
<ul id="document_list">
    {% for document in documents %}
    <li class="document_item" id="{{ document.getName() }}">
        <a href="{{ path('claro_document_download', {'id': document.id}) }}" class="link_download_document" name="_link_download_document">{{document.name}}</a>
        {{ 'size'|trans({}, 'document') }} {{document.getFormatSize()}}    
        <a href="{{ path('claro_document_delete', {'dir':currentDirectory.id, 'id': document.id}) }}" class="link_delete_document" name="_link_delete_document">{{ 'delete_document'|trans({}, 'document') }}</a>
        <a href="{{ path('claro_document_move', {'dir': currentDirectory.id, 'id': document.id}) }}" class="link_move_document" name="_link_move_document">{{ 'move_document'|trans({}, 'document') }}</a>
    </li>
{% endfor %}
</ul>

<script>
function showUpload()
{
      document.getElementById('formdoc').style.display='';
}
function showDir()
{
      document.getElementById('formdir').style.display='';
}
</script> 
{% endblock %}
