{% extends "ClarolineCoreBundle::content_layout.html.twig" %}
{% block content %}
{% include "ClarolineDocumentBundle:Document:addDocument.html.twig" %}
{% include "ClarolineDocumentBundle:Document:addDirectory.html.twig" %}
<script>
    document.getElementById('formdoc').style.display='none';
    document.getElementById('formdir').style.display='none';
</script>
<a HREF="javascript:showUpload();" id="link_upload" alt="link_upload">{{ 'upload_document'|trans({}, 'document') }}</a>
<a HREF="javascript:showDir();" id="link_delete" alt="link_delete">{{ 'new_directory'|trans({}, 'document') }}</a>
</br>
{{ 'directory_name'|trans({}, 'document') }}: 
{% for directory in listParent %}
<a href="{{path('claro_directory_show', {'id': directory.id}) }}">\{{directory.name}}</a>
{% endfor %}
<ul id="directory_list">
    {% for directory in directories %}
    <li class="directory_item" id="{{ directory.getName() }}" name="_directory_item">
        <a href="{{path('claro_directory_show', {'id': directory.id})}}"  class="link_directory_show">{{directory.name}}</a>
        <a href="{{ path('claro_directory_delete', {'id': directory.id}) }}" class="link_delete_directory" name="_link_delete_directory">{{ 'delete_document'|trans({}, 'document') }}</a>
        <a href="{{ path('claro_directory_download', {'id': directory.id,}) }}" class="link_download_directory" name="_link_download_directory"> <img src="{{ asset('bundles/clarolinedocument/images/image.png') }}" alt="download"/>  </a>
    </li>
{% endfor %}
</ul>
<ul id="document_list">
    {% for document in documents %}
    <li class="document_item" id="{{ document.getName() }}">
        <a href="{{ path('claro_document_download', {'id': document.id}) }}" class="link_download_document" name="_link_download_document">{{document.name}}</a>
        {{ 'size'|trans({}, 'document') }} {{document.getFormatSize()}}    
        <a href="{{ path('claro_document_delete', {'dir':currentDirectory.id, 'id': document.id}) }}" class="link_delete_document" name="_link_delete_document">{{ 'delete_document'|trans({}, 'document') }}</a>
        <a href="{{ path('claro_document_move', {'dir': currentDirectory.id, 'id': document.id}) }}" class="link_move_document" name="_link_move_document">{{ 'move_document'|trans({}, 'document') }}</a>
    </li>
</ul>
{% endfor %}
<script>
function showUpload()
{
      document.getElementById('formdoc').style.display='';
}
function showDir()
{
      document.getElementById('formdir').style.display='';
}


</script> 
{% endblock %}
