{% extends 'ClarolineCoreBundle:desktop:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ ' - ' ~ "open-badge" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{% block content %}
    <div class="page-container open-badge-container" data-current-context="{{ "desktop" | json_encode | raw | escape }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://backpack.openbadges.org/issuer.js"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-open-badge-badge.js') }}"></script>
{% endblock %}
