{% extends 'ClarolineCoreBundle:workspace:layout.html.twig'  %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ ' - ' ~ "open-badge" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{% block content %}
    <div class="page-container open-badge-container" data-workspace="{{ workspace | api_serialize | json_encode | raw | escape }}" data-current-context="{{ "workspace" | json_encode | raw | escape }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-open-badge-badge.js') }}"></script>
{% endblock %}
