<div> {{ 'initialize_your_password' | trans({}, 'platform') }} </div>
<div> {{ 'your_username' | trans({}, 'platform') }} : {{ user.getUsername() }}</div>
<a href='{{ link }}'>{{ 'mail_click' | trans({}, 'platform') }}</a>
