<div id="top_bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if config.getParameter('logo') != "" %}
                <a class="navbar-brand logo" href="{{ path('claro_index') }}">
                    <img src="{{ asset("") ~ "uploads/logos/" ~ config.getParameter('logo') }}" height="35"
                         {% if config.getParameter('name') != "" %}alt="{{ config.getParameter('name') }}"{% endif %}>
                </a>
            {% endif %}
            {% if config.getParameter('name') != "" and config.getParameter('nameActive') %}
                <a class="navbar-brand" href="{{ path('claro_index') }}">
                    {{ config.getParameter('name') }}
                </a>
            {% endif %}
        </div>
    </div>
</div>