{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ "users_import" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'users'|trans({}, 'platform'),
                    'href': path('claro_workspace_registered_user_list', {'workspace': workspace.getId()})
                },
                {
                    'name': 'import'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            <li class="active">
                <a href="{{ path('claro_workspace_registered_user_list', {'workspace': workspace.getId()}) }}">
                    {{'users'|trans({}, 'platform') }}
                </a>
            </li>
            <li>
                <a href="{{ path('claro_workspace_registered_group_list', {'workspace': workspace.getId() }) }}">
                    {{'groups'|trans({}, 'platform') }}
                </a>
            </li>
            <li>
                <a href="{{ path('claro_workspace_roles', {'workspace': workspace.getId()} ) }}">
                    {{ 'roles'|trans({}, 'platform') }}
                </a> 
            </li>
            <li>
                <a href="{{path('claro_users_pending',{'workspace':workspace.getId()})}}"> 
                    {{'pending'|trans({},'platform') }} 
                </a> 
            </li>
        </ul>
        <h3>{{ 'users_import'|trans({}, 'platform') }}</h3>
    </div>
    <hr>

    <form role="form"
          class="form-horizontal"
          action="{{ path('claro_workspace_users_tool_import', {'workspace': workspace.getId()}) }}"
          method="post"
          {{ form_enctype(form) }}
    >
        <div class="panel-body">
            <div>{{ macros.flashBox() }}</div>
            {% if error is defined %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ 'role_limit_reached'|trans({'%translationKey%': 'user'|trans({}, 'platform')}, 'platform') }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="well">
                <p>
                    <b>{{ 'csv_users_import_infos'|trans({}, 'platform') }}</b>
                </p>
                <p>{{ 'csv_users_import_infos_format'|trans({}, 'platform') }} :</p>
                <ul>
                    <li> {% if isImportByFullNameEnabled %}{{ 'csv_users_import_infos_by_full_name_2_texts'|trans({}, 'platform') }} <br/>{% endif %}
                        &lt;{{ 'username'|trans({}, 'platform') }}&gt;;&lt;{{ 'role'|trans({}, 'platform') }}&gt;
                        {% if isImportByFullNameEnabled %} / <br/>;&lt;{{ 'role'|trans({}, 'platform') }}&gt;;&lt;{{ 'firstName'|trans({}, 'platform') }}&gt;;&lt;{{ 'lastName'|trans({}, 'platform') }}&gt;
                            {{ 'csv_users_import_infos_by_full_name_semicolon'|trans({}, 'platform') }}<br/>
                            {{ 'csv_users_import_infos_by_full_name_nb'|trans({}, 'platform')|raw }}
                        {% endif %}
                    </li>
                    {% if 'collaborator' in defaultRoleNames or 'manager' in defaultRoleNames %}
                        <li>{{ 'csv_users_import_infos_ws_role_a'|trans({}, 'platform') }}</li>
                        <li>{{ 'csv_users_import_infos_ws_role_b'|trans({}, 'platform') }}</li>
                    {% else %}
                        <li>{{ 'csv_users_import_infos_ws_role_alt'|trans({'%roleNames%': defaultRoleNames|join('", "')}, 'platform') }}</li>
                    {% endif %}
                    <li>{{ 'csv_users_import_infos_format_a'|trans({}, 'platform') }}</li>
                    <li>{{ 'csv_users_import_infos_format_b'|trans({}, 'platform') }}</li>
                    <li>{{ 'csv_users_import_infos_format_c'|trans({}, 'platform') }}</li>
                    {% if isImportByFullNameEnabled %}
                    <li>{{ 'csv_users_import_infos_by_full_name_a'|trans({}, 'platform') }}</li>
                    <li>{{ 'csv_users_import_infos_by_full_name_b'|trans({}, 'platform') }}</li>
                    {% endif %}
                </ul>
            </div>

            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_workspace_registered_user_list', {'workspace': workspace.getId()}) }}"
               class="btn btn-default"
               role="button"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}