{% extends "ClarolineCoreBundle:Badge/Admin:layout.html.twig" %}

{% form_theme form _self %}

{% trans_default_domain "badge" %}

{% block title %}{{ parent() ~ ' - ' ~ 'add_badge' | trans }}{% endblock %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_prototype') }) %}
        {% endif %}
        <div class="row badges_rules" {{ block('widget_container_attributes') }}>
            <p class="row">{{ form_label(form) }}</p>
            {{ form_errors(form) }}
            {% set tabPrototype = '<li id="tabrule__name__"><a href="#rule__name__" data-toggle="tab">' ~ "rule"|trans ~ ' __name__ <span class="btn btn-sm btn-danger icon-trash delete_rule delete_rule_no_confirm pull-right" data-id-tab="rule__name__" style="display: none;"></span></a></li>' %}
            <ul class="nav nav-tabs nav-stacked col-md-2" id="ruleTabs" data-tab-prototype="{{ tabPrototype|e }}">
                {% if allow_add %}
                <li id="add_rule"><a href="#"><span class="icon-plus"></span>{{ 'add_rule'|trans }}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content rules col-md-10">
                <p id="no_rule">{{ 'no_rule'|trans }}</p>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_prototype %}
    {{ _self.collection_prototype_row(prototype) }}
{% endblock collection_prototype %}

{% macro collection_prototype_row(rows) %}
    {% spaceless %}
        <div class="tab-pane" id="rule__name__">
            <h4>{{ 'rule'|trans }} __name__</h4>

            <div class="row">
                <div class="col-md-2">
                    <p class="form-control-static">{{ 'badge_form_execute'|trans }}</p>
                </div>
                <div class="col-md-2">
                    {{ form_widget(rows.children.occurrence, {'attr': {'value': 1}}) }}
                </div>
                <div class="col-md-2">
                    <p class="form-control-static">{{ 'badge_form_times'|trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p class="form-control-static">{{ 'badge_form_action'|trans }}</p>
                </div>
                <div class="col-md-10">
                    {{ form_widget(rows.children.action) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="badge_result_awarding" data-tab-id="rule__name__"> {{ 'badge_form_awarding_on_result_action'|trans }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row rule_result hidden">
                <div class="col-md-2 col-md-offset-1">
                    {{ form_widget(rows.children.resultComparison) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(rows.children.result) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'badges_management'|trans({}, 'platform'),
                'href': path('claro_admin_badges')
            },
            {
                'name': 'add_badge'|trans({}, 'badge'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_title %}{{ 'add_badge'|trans }}{% endblock %}

{% block section_body %}
    <form action="{{ path('claro_admin_badges_add') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
        {% if 0 < form.vars.errors|length %}
            {% for error in form.vars.errors %}
            <div class="alert alert-danger">
                {{ error.message }}.
            </div>
            {% endfor %}
        {% endif %}
        <div class="row badges_infos">
            <div class="col-md-2 text-center{% if 0 < form.file.vars.errors|length %} has-error{% endif %}">
                <a href="#" class="thumbnail upload_image_placeholder">
                    <img title="{{ 'badge_form_choose_image'|trans }}" class="badge_image" src="{{ asset('bundles/clarolinecore/images/upload-placeholder.jpg') }}">
                </a>
                {{ form_errors(form.file) }}
                {{ form_widget(form.file) }}
            </div>
            <div class="col-md-10">
                <ul class="nav nav-tabs" id="translationFormTabs">
                    {% set frErrorClass = (0 < form.frTranslation.name.vars.errors|length or 0 < form.frTranslation.description.vars.errors|length or 0 < form.frTranslation.criteria.vars.errors|length) ? 'has-error' : '' %}
                    {% set enErrorClass = (0 < form.enTranslation.name.vars.errors|length or 0 < form.enTranslation.description.vars.errors|length or 0 < form.enTranslation.criteria.vars.errors|length) ? 'has-error' : '' %}
                    <li class="active"><a href="#fr" {% if '' != frErrorClass %} class="{{ frErrorClass }}"{% endif %} data-toggle="tab">{{ 'badge_form_frTranslation'|trans }}<img src="{{ asset('bundles/clarolinecore/images/lang/fr.png') }}" alt="fr" class="flag" /></a></li>
                    <li><a href="#en" {% if '' != enErrorClass %} class="{{ enErrorClass }}"{% endif %} data-toggle="tab">{{ 'badge_form_enTranslation'|trans }}<img src="{{ asset('bundles/clarolinecore/images/lang/en.png') }}" alt="en" class="flag" /></a></li>
                </ul>

                <div class="tab-content well well-sm badge_translations">
                    <div class="tab-pane active{% if '' != frErrorClass %} {{ frErrorClass }}{% endif %}" id="fr">
                        {{ form_errors(form.frTranslation) }}
                        <div class="form-group{% if 0 < form.frTranslation.name.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_name'|trans }} :</label>
                            {{ form_errors(form.frTranslation.name) }}
                            {{ form_widget(form.frTranslation.name) }}
                        </div>
                        <div class="form-group{% if 0 < form.frTranslation.description.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_description'|trans }} :</label>
                            {{ form_errors(form.frTranslation.description) }}
                            {{ form_widget(form.frTranslation.description) }}
                        </div>
                        <div class="form-group{% if 0 < form.frTranslation.criteria.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_criteria'|trans }} :</label>
                            {{ form_errors(form.frTranslation.criteria) }}
                            {{ form_widget(form.frTranslation.criteria) }}
                        </div>
                        {{ form_widget(form.frTranslation) }}
                    </div>
                    <div class="tab-pane{% if '' != enErrorClass %} {{ enErrorClass }}{% endif %}" id="en">
                        {{ form_errors(form.enTranslation) }}
                        <div class="form-group{% if 0 < form.enTranslation.name.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_name'|trans }} :</label>
                            {{ form_errors(form.enTranslation.name) }}
                            {{ form_widget(form.enTranslation.name) }}
                        </div>
                        <div class="form-group{% if 0 < form.enTranslation.description.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_description'|trans }} :</label>
                            {{ form_errors(form.enTranslation.description) }}
                            {{ form_widget(form.enTranslation.description) }}
                        </div>
                        <div class="form-group{% if 0 < form.enTranslation.criteria.vars.errors|length %} has-error{% endif %}">
                            <label class="required" for="badge_form_frTranslation_description">{{ 'badge_form_criteria'|trans }} :</label>
                            {{ form_errors(form.enTranslation.criteria) }}
                            {{ form_widget(form.enTranslation.criteria) }}
                        </div>
                        {{ form_widget(form.enTranslation) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="control-label required" for="badge_form_version">{{ 'badge_form_version'|trans }} :</label>
                        {{ form_widget(form.version) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label required" for="badge_form_expired_at">{{ 'badge_form_expired_at'|trans }} :</label>
                            {{ form_widget(form.expired_at) }}
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                {{ form_widget(form.automatic_award) }}{{ 'badge_form_automatic_award'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form.badgeRules) }}

        {{ form_rest(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'add'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_badges') }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'platform') }}</a>
        </div>

    </form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
{{ tinymce_init() }}
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/add.js') }}'></script>
<script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/rules.js') }}'></script>
{% endblock %}
