{% extends "ClarolineCoreBundle:Badge/Admin:layout.html.twig" %}

{% form_theme form _self %}

{% trans_default_domain "badge" %}

{% block title %}{{ parent() ~ ' - ' ~ 'view_badge' | trans({'%badge_name%' : badge.name}) | striptags | raw }}{% endblock %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_prototype') }) %}
        {% endif %}
        <div class="row badges_rules" {{ block('widget_container_attributes') }}>
            <p class="row">{{ form_label(form) }}</p>
            {{ form_errors(form) }}
            {% set tabPrototype = '<li id="tabrule__name__"><a href="#rule__name__" data-toggle="tab">' ~ "rule"|trans ~ ' __indexname__ <span class="btn btn-sm btn-danger icon-trash delete_rule delete_rule_no_confirm pull-right" data-id-tab="rule__name__" style="display: none;"></span></a></li>' %}
            <ul class="nav nav-tabs nav-stacked col-md-2" id="ruleTabs" data-tab-prototype="{{ tabPrototype|e }}">
                {% for rows in form %}
                    {% set loopIndex = loop.index - 1 %}
                    <li id="tabrule{{ loopIndex }}">
                        <a href="#rule{{ loopIndex }}" data-toggle="tab">{{ 'rule'|trans }} {{ loop.index }}
                            {% if allow_delete %}
                            <span class="btn btn-sm btn-danger icon-trash delete_rule delete_rule_confirm pull-right" data-id-tab="rule{{ loopIndex }}" data-confirm-title="{{ 'badge_rule_delete_confirm_title'|trans }}" data-confirm-message="{{ 'badge_rule_delete_confirm_message'|trans }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-confirm-style="danger"></span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                {% if allow_add %}
                <li id="add_rule"><a href="#"><span class="icon-plus"></span>{{ 'add_rule'|trans }}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content rules col-md-10">
                {% for rows in form %}
                    {% set loopIndex = loop.index - 1 %}
                    <div class="tab-pane" id="rule{{ loopIndex }}">
                        <h4>{{ 'rule_details'|trans }}</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="form-control-static">{{ 'badge_form_execute'|trans }} : </p>
                            </div>
                        </div>
                        <div class="row action_panel">
                            <div class="col-md-12">
                                {{ form_widget(rows.children.action) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="checkbox" style="margin-left: 20px;">
                                    <label>
                                        <input type="checkbox">{{ 'badge_form_user_target_of_action'|trans }}<strong> *</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="form-control-static">{{ 'badge_form_execute_times'|trans }} </p>
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(rows.children.occurrence) }}
                            </div>
                            <div class="col-md-2">
                                <p class="form-control-static">{{ 'badge_form_times'|trans }}</p>
                            </div>
                        </div>
                        <div class="row hide badge_panel">
                            <div class="col-md-5">
                                <p class="form-control-static">{{ 'badge_form_badge'|trans }} </p>
                            </div>
                            <div class="col-md-5">
                                {{ form_widget(rows.children.badge) }}
                            </div>
                        </div>
                        <div class="row">
                            <p><small><strong>* </strong><span class="text-muted">{{ 'badge_form_badge_help'|trans }}</span></small></p>
                        </div>
                        <div class="panel-group" id="advancedOptionsAccordion{{ loopIndex }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#advancedOptionsAccordion{{ loopIndex }}" href="#advancedOptions{{ loopIndex }}">
                                            <span class="icon-gear"></span> {{ 'badge_form_advance_options'|trans }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="advancedOptions{{ loopIndex }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{ 'badge_form_awarding_on_result_action'|trans }} </p>
                                            </div>
                                            <div class="col-md-2">
                                                {{ form_widget(rows.children.resultComparison) }}
                                            </div>
                                            <div class="col-md-1">
                                                <p class="form-control-static text-center">{{ 'badge_form_awarding_on_result_action_to'|trans }}</p>
                                            </div>
                                            <div class="col-md-2">
                                                {{ form_widget(rows.children.result) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <p id="no_rule">{{ 'no_rule'|trans }}</p>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_prototype %}
    {{ _self.collection_prototype_row(prototype) }}
{% endblock collection_prototype %}

{% macro collection_prototype_row(rows) %}
    {% spaceless %}
        <div class="tab-pane" id="rule__name__">
            <h4>{{ 'rule_details'|trans }}</h4>

            <div class="row">
                <div class="col-md-12">
                    <p class="form-control-static">{{ 'badge_form_execute'|trans }} : </p>
                </div>
            </div>
            <div class="row action_panel">
                <div class="col-md-12">
                    {{ form_widget(rows.children.action) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="checkbox" style="margin-left: 20px;">
                        <label>
                            <input type="checkbox">{{ 'badge_form_user_target_of_action'|trans }}<strong> *</strong>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="form-control-static">{{ 'badge_form_execute_times'|trans }} </p>
                </div>
                <div class="col-md-2">
                    {{ form_widget(rows.children.occurrence, {'attr': {'value': 1}}) }}
                </div>
                <div class="col-md-2">
                    <p class="form-control-static">{{ 'badge_form_times'|trans }}</p>
                </div>
            </div>
            <div class="row hide badge_panel">
                <div class="col-md-5">
                    <p class="form-control-static">{{ 'badge_form_badge'|trans }} </p>
                </div>
                <div class="col-md-5">
                    {{ form_widget(rows.children.badge) }}
                </div>
            </div>
            <div class="row">
                <p><small><strong>* </strong><span class="text-muted">{{ 'badge_form_badge_help'|trans }}</span></small></p>
            </div>
            <div class="panel-group" id="advancedOptionsAccordion__name__">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#advancedOptionsAccordion__name__" href="#advancedOptions__name__">
                                <span class="icon-gear"></span> {{ 'badge_form_advance_options'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="advancedOptions__name__" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="form-control-static">{{ 'badge_form_awarding_on_result_action'|trans }} </p>
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(rows.children.resultComparison) }}
                                </div>
                                <div class="col-md-1">
                                    <p class="form-control-static text-center">{{ 'badge_form_awarding_on_result_action_to'|trans }}</p>
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(rows.children.result) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'badges_management'|trans({}, 'platform'),
                'href': path('claro_admin_badges')
            },
            {
                'name': 'view_badge'|trans({'%badge_name%': badge.name}, 'badge'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_title %}{{ 'view_badge'|trans({'%badge_name%': badge.name}, 'badge') }}{% endblock %}

{% block section_body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#view" data-toggle="tab">{{ 'view'|trans({}, 'platform') }}</a></li>
        <li><a href="#edit" data-toggle="tab">{{ 'edit'|trans({}, 'platform') }}</a></li>
    </ul>
    <div class="tab-content view_badge">
        <div class="tab-pane active" id="view">
            <h3 class="sub-section-header">
                {{ badge.name }}
                {% if badge.expiredAt is not null %}
                <small>{{ 'badge_expired_on_date'|trans({'%expirationDate%': badge.expiredAt|date('date_format'|trans({}, 'platform'))}) }}</small>
                {% endif %}
            </h3>
            <div class="media">
                <img class="pull-left media-object badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" />
                <div class="media-body">
                    <h4 class="media-heading">{{ badge.description }}</h4>
                    <p>{{ 'badge_form_version'|trans }} {{ badge.version }}</p>
                    {{ badge.criteria|raw }}
                </div>
            </div>
            <div class="margin">
                <div id="award_users_container">
                    <h3 class="sub-section-header">
                        {{ 'badge_awarded_to'|trans }} :
                        <a href="{{ path('claro_admin_badges_award', {'id': badge.id}) }}" id="awardUser" role="button" class="btn pull-right" data-toggle="tooltip" data-placement="left" title="{{ 'award_badge'|trans }}"><i class="icon-plus-sign"></i></a>
                    </h3>

                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'admin_form_firstName'|trans({}, 'platform') }}</th>
                            <th>{{ 'admin_form_lastName'|trans({}, 'platform') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in pager.currentPageResults %}
                            <tr>
                                <td>
                                    <a class="close delete" href="{{ path('claro_admin_badges_unaward', {'id': badge.id, 'username': user.username}) }}" data-toggle="tooltip" title="{{ 'badge_unaward_confirm_title'|trans }}" data-confirm-title="{{ 'badge_unaward_confirm_title'|trans }}" data-confirm-message="{{ 'badge_unaward_confirm_message'|trans({'%badgeName%': badge.name, '%user%': user.firstname ~ ' ' ~ user.lastname}) }}" data-confirm-ok="{{ 'unaward'|trans }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}"><i class="icon-remove-circle"></i></a>
                                </td>
                                <td><a href="{{ path('claro_profile_view', {'userId': user.id}) }}" title="{{ user.firstname }} {{ user.lastname }}">{{ user.firstname }}</a></td>
                                <td>{{ user.lastname }}</td>
                            </tr>
                        {% else %}
                            <tr><td colspan="3">{{ 'bagde_awarded_to_none_user'|trans }}.</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if pager.haveToPaginate %}
                    {{
                        pagerfanta(
                            pager,
                            'twitter_bootstrap_translated',
                            {
                                'proximity' : 1,
                                'routeName': 'claro_admin_badges_edit',
                                'routeParams': {'id': badge.id}
                            }
                        )
                    }}
                    {% endif %}
                </div>
                <div id="award_form_container">
                    <h3 class="sub-section-header">
                        {{ 'award_badge'|trans }} :
                    </h3>

                    {{ render(controller('ClarolineCoreBundle:Badge/Admin:award', { 'id': badge.id })) }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="edit">
            <h3 id='user-list-block' class="sub-section-header">
                {{ 'edit_badge'|trans({'%badge_name%' : badge.name}) }}
                <a href="{{ path('claro_admin_badges_delete', {'id': badge.id}) }}" title="{{ 'delete'|trans({}, 'platform') }}" class="btn btn-sm btn-danger delete pull-right" data-confirm-title="{{ 'badge_delete_confirm_title'|trans }}" data-confirm-message="{{ 'badge_delete_confirm_message'|trans({'%badgeName%': badge.name}) }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-confirm-style="danger"><span class="icon-trash"></span></a>
            </h3>
            <form action="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}#!edit" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
                {{ form_errors(form) }}
                <div class="row badges_infos">
                    <div class="col-md-2{% if form.file.vars.errors|length > 0 %} has-error{% endif %}">
                        <button type="button" id="change_image" class="btn btn-xs btn-default">
                            <span class="icon-edit">{{ 'badge_form_change_image'|trans }}</span>
                        </button>
                        <a href="#" class="thumbnail upload_image_placeholder">
                            <img src="{{ asset(badge.webPath) }}" id="current_image" class="badge_image" />
                        </a>
                        {{ form_widget(form.file) }}
                        {{ form_errors(form.file) }}
                    </div>
                    <div class="col-md-10">
                        <ul class="nav nav-tabs" id="translationFormTabs">
                            {% set frErrorClass = (not form.frTranslation.vars.valid) ? 'has-error' : null %}
                            {% set enErrorClass = (not form.enTranslation.vars.valid) ? 'has-error' : null %}
                            {% set frErrorClass = (not form.frTranslation.name.vars.valid or not form.frTranslation.description.vars.valid or not form.frTranslation.criteria.vars.valid) ? 'has-error' : '' %}
                            {% set enErrorClass = (not form.enTranslation.name.vars.valid or not form.enTranslation.description.vars.valid or not form.enTranslation.criteria.vars.valid) ? 'has-error' : '' %}
                            <li class="active"><a href="#fr" {% if null != frErrorClass %} class="{{ frErrorClass }}"{% endif %} data-toggle="tab">{{ 'badge_form_frTranslation'|trans }}<img src="{{ asset('bundles/clarolinecore/images/lang/fr.png') }}" alt="fr" class="flag" /></a></li>
                            <li><a href="#en" {% if null != enErrorClass %} class="{{ enErrorClass }}"{% endif %} data-toggle="tab">{{ 'badge_form_enTranslation'|trans }}<img src="{{ asset('bundles/clarolinecore/images/lang/en.png') }}" alt="en" class="flag" /></a></li>
                        </ul>

                        <div class="tab-content well well-sm badge_translations">
                            <div class="tab-pane active" id="fr">
                                {{ form_errors(form.frTranslation) }}
                                <div class="form-group{% if not form.frTranslation.name.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_frTranslation_name">{{ 'badge_form_name'|trans }} :</label>
                                    {{ form_errors(form.frTranslation.name) }}
                                    {{ form_widget(form.frTranslation.name) }}
                                </div>
                                <div class="form-group{% if not form.frTranslation.description.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_frTranslation_description">{{ 'badge_form_description'|trans }} :</label>
                                    {{ form_errors(form.frTranslation.description) }}
                                    {{ form_widget(form.frTranslation.description) }}
                                </div>
                                <div class="form-group{% if not form.frTranslation.criteria.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_frTranslation_criteria">{{ 'badge_form_criteria'|trans }} :</label>
                                    {{ form_errors(form.frTranslation.criteria) }}
                                    {{ form_widget(form.frTranslation.criteria) }}
                                </div>
                                {{ form_widget(form.frTranslation) }}
                            </div>
                            <div class="tab-pane" id="en">
                                {{ form_errors(form.enTranslation) }}
                                <div class="form-group{% if not form.enTranslation.name.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_enTranslation_name">{{ 'badge_form_name'|trans }} :</label>
                                    {{ form_errors(form.enTranslation.name) }}
                                    {{ form_widget(form.enTranslation.name) }}
                                </div>
                                <div class="form-group{% if not form.enTranslation.description.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_enTranslation_description">{{ 'badge_form_description'|trans }} :</label>
                                    {{ form_errors(form.enTranslation.description) }}
                                    {{ form_widget(form.enTranslation.description) }}
                                </div>
                                <div class="form-group{% if not form.enTranslation.criteria.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_enTranslation_criteria">{{ 'badge_form_criteria'|trans }} :</label>
                                    {{ form_errors(form.enTranslation.criteria) }}
                                    {{ form_widget(form.enTranslation.criteria) }}
                                </div>
                                {{ form_widget(form.enTranslation) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group{% if not form.version.vars.valid %} has-error{% endif %}">
                                <label class="control-label required" for="badge_form_version">{{ 'badge_form_version'|trans }} :</label>
                            </div>
                            {{ form_errors(form.version) }}
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group{% if not form.version.vars.valid %} has-error{% endif %}">
                                {{ form_widget(form.version) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group{% if not form.expired_at.vars.valid %} has-error{% endif %}">
                                    <label class="control-label required" for="badge_form_expired_at">{{ 'badge_form_expired_at'|trans }} :</label>
                                    {{ form_widget(form.expired_at) }}
                                </div>
                                <div class="form-group">
                                    <label class="checkbox">
                                        {{ form_widget(form.automatic_award) }}{{ 'badge_form_automatic_award'|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form.rules) }}

                {{ form_rest(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_admin_badges') }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'platform') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/jquery/plugin/select2/select2.css') }}" screen="media" />
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/select2/select2_locale_' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/jquery.optionTree.js') }}"></script>
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/edit.js') }}'></script>
<script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/rules.js') }}'></script>
{% endblock %}
