{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {{ macros.flashBox() }}

    <div class="panel-heading">
        <h3 class="panel-title">
            <ol class="breadcrumb">
                {% block section_title_first %}<li><a href="{{ path('claro_admin_badges') }}" title="{{ 'back_to_badges_list'|trans }}">{{ 'Badges'|trans }}</a>{% endblock %}
                {% block section_title %}{% endblock %}
            </ol>
        </h3>
    </div>

    <div class="panel-body">
        {% block section_body %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp'  output='bundles/clarolinecore/css/badge.css'
      "@ClarolineCoreBundle/Resources/views/Badge/less/badge.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}
