{% extends "ClarolineCoreBundle:Badge/Admin:layout.html.twig" %}

{% trans_default_domain "badge" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'badges_management'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_title_first %}<li><a href="{{ path('claro_admin_badges') }}" title="{{ 'back_to_badges_list'|trans }}">{{ 'Badges'|trans }}</a></li>{% endblock %}

{% block section_body %}
    {% if 0 < badgeClaims|length %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#claimedBadges">
                {{ 'badge_current_claimed_badges'|transchoice(badgeClaims|length, {'%claimedBadgeCount%': badgeClaims|length}) }}
            </a>
        </div>
        <div id="claimedBadges" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table no_margin">
                    <thead>
                        <th>{{ 'actions'|trans }}</th>
                        <th>{{ 'badge'|trans }}</th>
                        <th>{{ 'user'|trans({}, 'platform') }}</th>
                        <th>{{ 'claim_date'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for badgeClaim in badgeClaims %}
                        <tr>
                            <td>
                                <a href="{{ path('claro_admin_manage_claim', {'id': badgeClaim.id, 'validate': true}) }}" class="btn confirm" data-toggle="tooltip" title="{{ 'badge_validate_award'|trans }}" data-confirm-title="{{ 'badge_award_confirm_title'|trans }}" data-confirm-message="{{ 'badge_award_confirm_message'|trans({'%badgeName%': badgeClaim.badge.name(language), '%user%': badgeClaim.user.firstname ~ ' ' ~ badgeClaim.user.lastname }) }}" data-confirm-ok="{{ 'award'|trans }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">
                                    <i class="icon-ok-circle"></i>
                                </a>
                                <a href="{{ path('claro_admin_manage_claim', {'id': badgeClaim.id, 'validate': false}) }}" class="btn confirm" data-toggle="tooltip" title="{{ 'badge_reject_award'|trans }}" data-confirm-title="{{ 'badge_dont_award_confirm_title'|trans }}" data-confirm-message="{{ 'badge_dont_award_confirm_message'|trans({'%badgeName%': badgeClaim.badge.name(language), '%user%': badgeClaim.user.firstname ~ ' ' ~ badgeClaim.user.lastname}) }}" data-confirm-ok="{{ 'dont_award'|trans }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">
                                    <i class="icon-remove-circle"></i>
                                </a>
                            </td>
                            <td><a href="{{ path('claro_view_badge', {'id': badgeClaim.badge.id}) }}" title="{{ badgeClaim.badge.name(language) }}">{{ badgeClaim.badge.name(language) }}</a></td>
                            <td><a href="{{ path('claro_profile_view', {'userId': badgeClaim.user.id}) }}" title="{{ badgeClaim.user.firstname }} {{ badgeClaim.user.lastname }}">{{ badgeClaim.user.firstname }} {{ badgeClaim.user.lastname }}</a></td>
                            <td>{{ badgeClaim.claimedAt|date('date_format'|trans({}, 'platform')) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    <ul class="nodes badge_list">
        {% for badge in pager %}
        <li class="node-thumbnail node">
            <a href="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}" title="{{ badge.name(language) }}" class="thumbnail">
                <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name(language) }}" />
            </a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle name dropdown-thumbnail" role="button" data-toggle="dropdown" >
                    <div class="node-name">{{ badge.name(language) }} <i class="icon-caret-down"></i></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}" class="node-menu-action">
                            {{ 'view'|trans({}, 'platform') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}#!edit" class="node-menu-action">
                            {{ 'edit'|trans({}, 'platform') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('claro_admin_badges_delete', {'id': badge.id}) }}" class="node-menu-action confirm" data-confirm-title="{{ 'badge_delete_confirm_title'|trans }}" data-confirm-message="{{ 'badge_delete_confirm_message'|trans({'%badgeName%': badge.name(language)}) }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-confirm-style="danger">
                            {{ 'delete'|trans({}, 'platform') }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endfor %}
        <li class="node-thumbnail node">
            <a href="{{ path('claro_admin_badges_add') }}" title="{{ 'add_badge'|trans({}, 'badge') }}" class="add_button btn btn-lg col-md-12">
                <img class="badge_image" src="{{ asset('bundles/clarolinecore/images/add-badge.png') }}" alt="{{ 'add_badge'|trans }}" />
            </a>
        </li>
    </ul>

    {% if pager.haveToPaginate %}
    <div>
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_admin_badges'
                }
            )
        }}
    </div>
    {%  endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript">
    $(function(){
        $("[data-toggle=tooltip]").tooltip();

        $(".confirm").confirmModal();
    });
</script>
{% endblock %}