{% extends 'IcapPortfolioBundle::layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'adding_portfolio' | trans({}, 'icap_portfolio') | striptags | raw }}{% endblock %}

{% block content_title %}{{ 'adding_portfolio'|trans({}, 'icap_portfolio') }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-list-alt',
                'name': 'my_portfolios'|trans({}, 'platform'),
                'href': path('icap_portfolio_list')
            },
            {
                'icon': 'fa fa-list-alt',
                'name': 'adding_portfolio'|trans({}, 'icap_portfolio'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content_body %}
    <form action="{{ path('icap_portfolio_add') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'add'|trans({}, 'platform') }}</button>
                <a href="{{ path("icap_portfolio_list") }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</a>
            </div>
        </div>
    </form>
{% endblock %}