<div data-widget-container="{{ widgetType.name }}">
    <button type="button" class="btn btn-default" data-ng-click="createWidget()">{{ 'add_data_widget'|trans({}, 'icap_portfolio') }}</button>
    <div class="panel-group ng-cloak" id="data_widget_list" role="tablist" aria-multiselectable="true" data-ng-show="widgets.length && widgets.$resolved">
        {% verbatim %}
        <div class="panel panel-default" data-ng-repeat="widget in typedWidgets = (widgets | toArray : false | filter:{type: widgetType}) ">
            <div class="panel-heading" role="tab" id="heading-widget{{ widget.id }}">
                <h4 class="panel-title" id="collapsible-widget{{ widget.id }}">
                    <a class="collapsed" data-toggle="collapse" data-parent="#data_widget_list" href="#collapse{{ widget.id }}" aria-expanded="false" aria-controls="collapse{{ widget.id }}">
                        {{ widget.label }}
                    </a>
                    <a class="anchorjs-link" href="#collapsible-widget{{ widget.id }}"><span class="anchorjs-icon"></span></a>
                </h4>
            </div>
            <div id="collapse{{ widget.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-widget{{ widget.id }}" aria-expanded="false">
                <div class="panel-body" data-ng-bind-html="widget.views.view">
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
    <p class="no-data well ng-cloak" data-ng-show="!typedWidgets.length && widgets.$resolved">{{ 'no_data_widget'|trans({}, 'icap_portfolio') }}</p>

    <div class="loading_container" data-ng-show="!widgets.$resolved"><p class="loading loading_view"></p></div>
</div>