{% extends 'IcapPortfolioBundle::layout.html.twig' %}

{% block content_title %}
    {{ parent() }} <a href="{{ path('icap_portfolio_add') }}" title="{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}" class="btn btn-default btn-xs">{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}</a>
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-list-alt',
                'name': 'my_portfolios'|trans({}, 'platform'),
                'href': path('icap_portfolio_list')
            }
        ])
    }}
{% endblock %}

{% block content_body %}
    {% if 0 < pager.nbResults %}
        <table class="table table-hover table_portfolios">
            <colgroup>
                <col class="nameCol">
                <col class="statusCol">
                <col class="actionsCol">
            </colgroup>
            <thead>
                <tr>
                    <th>{{ 'title'|trans({}, 'icap_portfolio') }}</th>
                    <th>{{ 'visibility'|trans({}, 'icap_portfolio') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for portfolio in pager %}
                    <tr class="portfolio">
                        <td>
                            <a href="{{ path('icap_portfolio_view', {'portfolioSlug': portfolio.widgets.0.slug}) }}" title="" class="block">{{ portfolio.widgets.0.title }}</a>
                            <a href="{{ path('icap_portfolio_view', {'portfolioSlug': portfolio.widgets.0.slug}) }}" title="" class="text-muted">{{ path('icap_portfolio_view', {'portfolioSlug': portfolio.widgets.0.slug}) }}</a>
                        </td>
                        <td>
                            <span class="block">
                                <span class="badge {{ portfolio.visibility|visibilityLabel }}"></span>
                                {{ portfolio.visibility|visibilityLabel|trans({}, 'icap_portfolio') }}
                            </span>
                            <small class="text-muted">
                                {{ 'updated_on'|trans({'%date%': portfolio.widgets.0.updatedAt|date('date_format'|trans({}, 'platform') ~ ' H:i:s')}, 'icap_portfolio') }}
                            </small>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('icap_portfolio_view', {'portfolioSlug': portfolio.widgets.0.slug}) }}" class="btn btn-xs btn-primary">{{ 'update'|trans({}, 'icap_portfolio') }}</a>
                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('icap_portfolio_rename', {'id': portfolio.id}) }}" title="{{ 'rename'|trans({}, 'icap_portfolio') }}">
                                            <span class="fa fa-pencil"></span> {{ 'rename'|trans({}, 'icap_portfolio') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('icap_portfolio_update_visibility', {'id': portfolio.id}) }}" title="{{ 'update_visibility'|trans({}, 'icap_portfolio') }}">
                                            <span class="fa fa-cogs"></span> {{ 'update_visibility'|trans({}, 'icap_portfolio') }}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('icap_portfolio_delete', {'id': portfolio.id}) }}" class="delete"
                                                 data-confirm-title="{{ 'portfolio_deletion_confirm_title'|trans({}, 'icap_portfolio') }}"
                                                 data-confirm-message="{{ 'portfolio_deletion_confirm_message'|trans({'%portfolioName%': portfolio.widgets.0.title}, 'icap_portfolio') }}"
                                                 data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}"
                                                 data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip"
                                                 data-container="body" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top"
                                                 data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                                            <span class="fa fa-trash-o"></span> {{ 'delete'|trans({}, 'platform') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="well text-center">
            {{ 'no_portfolios_create_one'|trans({'%newPortfolioUrl%': path('icap_portfolio_add')}, 'icap_portfolio')|raw }}
        </p>
    {% endif %}

    {% if pager.haveToPaginate %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'icap_portfolio_list'
                }
            )
        }}
    {%  endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type="text/javascript">
        (function($) {
            $(function() {
                $('.delete').confirmModal();
            });
        })(jQuery);
    </script>
{% endblock %}
