<h2 class="pull-left">{{ 'my_owned_portfolio'|trans({}, 'icap_portfolio') }}</h2>

<div class="btn-toolbar pull-left portfolio_toolbar" role="toolbar" aria-label="portfolio options">
    <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}">
        <a href="{{ path('icap_portfolio_add') }}" title="{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}" class="btn btn-default modal_action">
            <span class="fa fa-plus"></span> {{ 'add_portfolio'|trans({}, 'icap_portfolio') }}
        </a>
    </div>
    <div class="btn-group btn-group-sm" role="group" id="import_action">
        <a href="{{ path('icap_portfolio_import') }}" class="btn btn-primary">
            {{ 'import'|trans({}, 'icap_portfolio') }}
        </a>
        <button id="importButtonDropdown" type="button" class="btn btn-default dropdown-toggle import-dropdown" aria-expanded="false"
                data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{ 'import'|trans({}, 'icap_portfolio') }}</span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="importButtonDropdown">
            {% for availableImportFormatKey, availableImportFormat in availableImportFormats %}
            <li><a href="{{ path('icap_portfolio_import', {'format': availableImportFormatKey}) }}">{{ availableImportFormat }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="list_content">
    {% include 'IcapPortfolioBundle:Portfolio:list_content.html.twig' %}
</div>