<p>
    {{ 'my_portfolios_help_text'|trans({}, 'icap_portfolio') }}
</p>

<h2 class="pull-left">{{ 'my_owned_portfolio'|trans({}, 'icap_portfolio') }}</h2>

<div class="btn-toolbar pull-left portfolio_toolbar" role="toolbar" aria-label="portfolio options">
    <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}">
        <a href="{{ path('icap_portfolio_add') }}" title="{{ 'add_portfolio'|trans({}, 'icap_portfolio') }}" class="btn btn-default modal_action">
            <span class="fa fa-plus"></span> {{ 'add_portfolio'|trans({}, 'icap_portfolio') }}
        </a>
    </div>
    <div class="btn-group btn-group-sm" role="group" id="import_action">
        <a href="{{ path('icap_portfolio_import') }}" class="btn btn-primary">
            {{ 'import'|trans({}, 'icap_portfolio') }}
        </a>
        <button id="importButtonDropdown" type="button" class="btn btn-default dropdown-toggle import-dropdown" aria-expanded="false"
                data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{ 'import'|trans({}, 'icap_portfolio') }}</span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="importButtonDropdown">
            {% for availableImportFormatKey, availableImportFormat in availableImportFormats %}
            <li><a href="{{ path('icap_portfolio_import', {'format': availableImportFormatKey}) }}">{{ availableImportFormat }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if 0 < portfoliosPager.nbResults %}
    <table class="table table_portfolios">
        <colgroup>
            <col class="nameCol">
            <col class="statusCol">
            <col class="actionsCol">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'title'|trans({}, 'icap_portfolio') }}</th>
                <th>{{ 'visibility'|trans({}, 'icap_portfolio') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfoliosPager %}
                <tr class="portfolio">
                    <td>
                        {% set portfolioUrl = path('icap_portfolio_view', {'portfolioSlug': portfolio.slug}) %}
                        <a href="{{ portfolioUrl }}"
                           title="{{ portfolio.title }}">{{ portfolio.title }}</a>

                        <a href="{{ portfolioUrl }}"
                           title="{{ portfolioUrl }}" class="block text-muted">{{ url('icap_portfolio_view', {'portfolioSlug': portfolio.slug}) }}</a>
                    </td>
                    <td>
                        <span class="block visibility">
                            <span class="badge {{ portfolio.visibility|visibilityLabel }}"></span>
                            {{ portfolio.visibility|visibilityLabel|trans({}, 'icap_portfolio') }}
                        </span>
                        <small class="text-muted">
                            {{ 'updated_on'|trans({'%date%': portfolio.lastUpdateDate|date('date_format'|trans({}, 'platform') ~ ' H:i:s')}, 'icap_portfolio') }}
                        </small>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a href="{{ path('icap_portfolio_view', {'portfolioSlug': portfolio.slug}) }}"
                               class="btn btn-xs btn-primary">{{ 'update'|trans({}, 'icap_portfolio') }}</a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('icap_portfolio_rename', {'id': portfolio.id}) }}"
                                       title="{{ 'rename'|trans({}, 'icap_portfolio') }}" class="rename_link">
                                        <span class="fa fa-pencil"></span> {{ 'rename'|trans({}, 'icap_portfolio') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('icap_portfolio_update_visibility', {'id': portfolio.id}) }}"
                                       title="{{ 'update_visibility'|trans({}, 'icap_portfolio') }}" class="update_visibility_link">
                                        <span class="fa fa-cogs"></span> {{ 'update_visibility'|trans({}, 'icap_portfolio') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('icap_portfolio_update_guides', {'id': portfolio.id}) }}"
                                       title="{{ 'manage_guides'|trans({}, 'icap_portfolio') }}" class="update_guides_link">
                                        <span class="fa fa-users"></span> {{ 'manage_guides'|trans({}, 'icap_portfolio') }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('icap_portfolio_delete', {'id': portfolio.id}) }}" class="delete"
                                             data-confirm-title="{{ 'portfolio_deletion_confirm_title'|trans({}, 'icap_portfolio') }}"
                                             data-confirm-message="{{ 'portfolio_deletion_confirm_message'|trans({'%portfolioName%': portfolio.title}, 'icap_portfolio') }}"
                                             data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}"
                                             data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">
                                        <span class="fa fa-trash-o"></span> {{ 'delete'|trans({}, 'platform') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% set countUnreadComments = portfolio.countUnreadComments %}
                        <button type="button" value="{{ portfolio.id }}"
                           title="{{ 'guide_exchange'|trans({}, 'icap_portfolio') }}"
                           class="btn btn-xs btn-default exchange_link{% if 0 < countUnreadComments %} highlight{% endif %}"
                           data-toggle="tooltip" data-container="body" data-placement="left">
                            <span class="fa fa-comment-o"></span>
                            {% if 0 < countUnreadComments %} <span class="badge">{{ countUnreadComments }}</span>{% endif %}
                        </button>
                        <a href="{{ path('icap_portfolio_export', {'portfolioSlug': portfolio.slug, 'format': 'leap2a'}) }}"
                           download="{{ portfolio.slug }}.leap2a.xml" title="{{ 'export_portfolio'|trans({}, 'icap_portfolio') }}"
                           data-toggle="tooltip" data-container="body" data-placement="left" class="btn btn-xs btn-default">
                            <span class="fa fa-download"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="well text-center clear" id="no_portfolio">
        {{ 'no_portfolios_create_one'|trans({'%newPortfolioUrl%': path('icap_portfolio_add')}, 'icap_portfolio')|raw }}
    </p>
{% endif %}

{% if portfoliosPager.haveToPaginate %}
    {{
        pagerfanta(
            portfoliosPager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeParams': {'guidedPage': guidedPage},
                'routeName': 'icap_portfolio_index'
            }
        )
    }}
{%  endif %}