{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName ~ ' - ' ~ 'portfolio' | trans({}, 'icap_portfolio') ~ ' - ' ~ titleWidget.title | striptags | raw }}{% endblock %}

{% set editMode = (constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EDIT') == openingMode) %}
{% set evaluateMode = (constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EVALUATE') == openingMode) %}

{% block content_container %}
    <div id="portfolio-section" data-portfolio-container="{{ portfolio.id }}">
        <div id="portfolio-container" data-ng-if="portfolio.$resolved">
            <header>
                <div class="container">
                    <p class="pull-right alert alert-warning beta_message" role="alert">
                    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
                        {{ 'beta_message' | trans({}, 'icap_portfolio') | raw }}
                    {% else %}
                        {{ 'beta_message_public' | trans({}, 'icap_portfolio') | raw }}
                    {% endif %}
                    </p>
                    <h1 id="username">{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName }}</h1>

                    <!-- ugly hack to avoid tinymce field to appear after popover apperance, and make it move-->
                    <div class="hidden">
                        <textarea ui-tinymce class="form-control" rows="3" name="userInformation[presentation]" data-ng-model="evaluatedWidget.comment"></textarea>
                    </div>

                    <div data-ng-repeat="widget in widgets | filter:{type: 'title'}" data-ng-show="widgets.length > 0">
                        <div class="portfolio-title-container" data-widget>
                            {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
                                <div class="widget-actions">
                                {% if editMode %}
                                    <button class="widget-action btn btn-sm btn-primary" data-ng-click="edit(widget);"
                                            data-ng-if="!widget.isEditing()">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                {% endif %}
                                </div>
                                <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
                            {% else %}
                                {% include 'IcapPortfolioBundle:templates:title.html.twig' with {'widget': titleWidget} only %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>

            <section>
                {% if editMode %}
                <ul class="col-md-2 widget-menu-container list-unstyled" data-design-container>
                    <li>
                        <button type="button" class="widget-menu-item btn btn-lg btn-default" data-template="templates/menu_disposition.tpl.html"
                            data-trigger="focus" data-placement="right" data-animation="am-fade-and-slide-left" data-bs-popover>
                            Disposition
                        </button>
                    </li>
                    <li>
                        <button type="button" class="widget-menu-item btn btn-lg btn-default" data-template="templates/menu_widget-type.tpl.html"
                            data-trigger="focus" data-placement="right" data-animation="am-fade-and-slide-left" data-bs-popover>
                            Contenu
                        </button>
                    </li>
                </ul>
                {% endif %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-default communication_panel">
                            <div class="panel-heading">Communication<button class="btn btn-default btn-xs pull-right"><span class="fa fa-arrow-left"></span></button></div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-body">
                                            <p class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                            <p class="pull-right author">
                                                <small>Jane Doe, 24/09/2014 18:15</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <p class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                            <p class="pull-right author">
                                                <small>Jane Doe, 24/09/2014 18:15</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <p class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                            <p class="pull-right author">
                                                <small>Jane Doe, 24/09/2014 18:15</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <p class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                            <p class="pull-right author">
                                                <small>Jane Doe, 24/09/2014 18:15</small>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <p>
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="main-content col-md-8"{% if evaluateMode %} data-design-container{% endif %}>
                        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
                            <div data-ng-repeat="widget in widgets | filter:{type: '!title'} | orderBy:widget.row" data-ng-if="0 == portfolio.disposition">
                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                            </div>
                            <div data-ng-if="1 == portfolio.disposition">
                                <ul class="col-md-6 list-unstyled" data-ng-repeat="col in cols">
                                    <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col} | orderBy:'+row'">
                                        {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                            <div data-ng-if="2 == portfolio.disposition">
                                <ul class="col-md-4 list-unstyled" data-ng-repeat="col in cols">
                                    <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col} | orderBy:'+row'">
                                        {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                            <p class="no-data well" data-ng-show="widgets.length <= 1">{{ 'no_widget'|trans({}, 'icap_portfolio')|raw }}</p>
                        {% else %}
                            {% set widgets = portfolio.widgets %}
                            {% if 1 < widgets.count %}
                                {% if 0 == portfolio.disposition %}
                                    {% for widget in widgets | orderByRow if 'title' != widget.widgetType %}
                                        {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                    {% endfor %}
                                {% elseif 1 == portfolio.disposition %}
                                    {% for col in cols %}
                                        <ul class="col-md-6 list-unstyled">
                                            {% for widget in widgets | orderByRow if 'title' != widget.widgetType and col == widget.column  %}
                                                <li>
                                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                {% elseif 2 == portfolio.disposition %}
                                    {% for col in cols %}
                                        <ul class="col-md-4 list-unstyled">
                                            {% for widget in widgets | orderByRow if 'title' != widget.widgetType and col == widget.column %}
                                                <li>
                                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <p class="no-data well">{{ 'portfolio_empty'|trans({}, 'icap_portfolio') }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>

        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            <div data-ng-show="!portfolio.$resolved" id="portfolio-loading"></div>
        {% endif %}
    </div>
    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EDIT') == openingMode %}
        <div class="form-container" data-ng-controller="editWidgetsController">
            <form name="form" class="edit-container" data-loading-form="save(editedWidget)" data-ng-repeat="editedWidget in editedWidgets">
                <div class="panel panel-default widget-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span data-ng-bind="editedWidget.getType() + '_form_title'|trans"></span>
                            <button type="button" class="close" aria-hidden="true" data-ng-click="cancel(editedWidget);">&times;</button>
                        </h3>
                    </div>
                    <div class="panel-body panel-loading" data-ng-show="!editedWidget.views.form"></div>
                    <div class="panel-body" data-ng-show="editedWidget.views.form" data-bind-html="editedWidget.views.form"></div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                        <button type="button" class="btn btn-default" data-ng-click="cancel(editedWidget)">{{ 'cancel'|trans({}, 'platform') }}</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='css/icapportfolio/style_view.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
      "@IcapPortfolioBundle/Resources/views/less/interface.less"
      "bundles/frontend/jquery/plugin/datepicker/css/datepicker.css"
      "bundles/icapportfolio/css/angular-motion/angular-motion.min.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
        <script type="text/javascript">
            'use strict';
            (function() {
                window.widgetsConfig = '{{ widgetsConfig|json_encode()|raw }}';
                window.resourceTypes = {
                    {% for resourceType in resourceTypes %}
                        "{{ resourceType.getName() }}": {
                            "name": "{{ resourceType.getName()|trans({}, 'resource') }}"
                        }{% if loop.last != true %},{% endif %}
                    {% endfor %}
                };
                window.assetPath = "{{ asset('') }}";
            })();
        </script>
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/tinymce.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/jquery.tinymce.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/tinymce/tinymce.js') }}"></script>
        <script type='text/javascript' src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/bootstrap-datepicker.js') }}"></script>
        {% if 'en' != app.request.locale %}
            <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}"></script>
        {% endif %}
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/badge/badge_picker.js') }}"></script>

        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-resource.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-sanitize.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-animate.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/angular-ui/ui-tinymce/tinymce.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/dateTimeInput.js') }}"></script>

        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular-strap.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/dimensions.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/tooltip.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/tooltip.tpl.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/popover.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/popover.tpl.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'icap_portfolio' }) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/utils/Array.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/app.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/portfolioController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/widgetController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/editWidgetsController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/designController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/collectionFormController.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolio.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsConfig.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsFactory.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/urlInterpolator.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/translation.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/widgetsDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/portfolioDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/bindHtmlDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/loadingFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/confirmClickDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/collectionFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/designDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/resourcePickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/datepickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/badgePickerDirective.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trustAsHtml.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trans.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/templates/menu_disposition.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/templates/menu_widget-type.tpl.js') }}"></script>
    {% endif %}
{% endblock %}