{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName ~ ' - ' ~ 'portfolio' | trans({}, 'icap_portfolio') ~ ' - ' ~ titleWidget.title | striptags | raw }}{% endblock %}

{% set viewMode = (constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') == openingMode) %}
{% set editMode = (constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EDIT') == openingMode) %}

{% block content_container %}
    <div id="portfolio-section" data-portfolio-container="{{ portfolio.id }}">
        <div id="portfolio-container" data-ng-if="portfolio.$resolved">
            <header>
                <div class="container">
                    <p class="pull-right alert alert-warning beta_message" role="alert">
                    {% if editMode %}
                        {{ 'beta_message' | trans({}, 'icap_portfolio') | raw }}
                    {% else %}
                        {{ 'beta_message_public' | trans({}, 'icap_portfolio') | raw }}
                    {% endif %}
                    </p>
                    <h1 id="username">{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName }}</h1>

                    <div data-ng-repeat="widget in widgets | filter:{type: 'title'}" data-ng-show="widgets.length > 0">
                        <div class="portfolio-title-container{% if not editMode %} margin{% endif %}" data-widget>
                            {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
                                <div class="widget-actions">
                                {% if editMode %}
                                    <button class="widget-action btn btn-sm btn-primary" data-ng-click="edit(widget);"
                                            data-ng-if="!widget.isEditing()">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                {% endif %}
                                </div>
                                <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
                            {% else %}
                                {% include 'IcapPortfolioBundle:templates:title.html.twig' with {'widget': titleWidget} only %}
                            {% endif %}
                        </div>
                    </div>
                    {% if editMode %}
                    <div class="configuration_panel">
                        <div class="row">
                            <p class="configuration_panel_button col-md-2 col-md-offset-5" data-ng-click="configurationPanelOpen = !configurationPanelOpen" role="button">
                                <span class="fa fa-cog"></span> {{ 'configuration' | trans({}, 'icap_portfolio') }}
                            </p>
                        </div>
                        <div class="row configuration_panel_container" data-ng-show="configurationPanelOpen">
                            <h3>{{ 'disposition' | trans({}, 'icap_portfolio') }}</h3>
                            <ul class="dispositions">
                                <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 0, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(0)">
                                    <div>
                                        <div class="col-md-12 border">1</div>
                                    </div>
                                </li>
                                <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 1, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(1)">
                                    <div>
                                        <div class="col-md-6 border">1</div>
                                        <div class="col-md-6 border">2</div>
                                    </div>
                                </li>
                                <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 2, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(2)">
                                    <div>
                                        <div class="col-md-4 border">1</div>
                                        <div class="col-md-4 border">2</div>
                                        <div class="col-md-4 border">3</div>
                                    </div>
                                </li>
                                <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 3, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(3)">
                                    <div>
                                        <div class="col-md-3 border">1</div>
                                        <div class="col-md-3 border">2</div>
                                        <div class="col-md-3 border">3</div>
                                        <div class="col-md-3 border">4</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </header>
            <section class="col-md-12">
                {% if not viewMode %}
                <div class="communication_panel_toggle" data-ng-init="displayComment=false">
                    <button class="btn btn-default btn-sm pull-right"data-ng-click="displayComment=!displayComment">
                        {{ 'communication_panel' | trans({}, 'icap_portfolio') }} <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
                <div class="panel panel-default communication_panel col-md-4" data-comments-container="portfolio.comments" data-ng-show="displayComment">
                    <div class="panel-heading">
                        {{ 'communication_panel' | trans({}, 'icap_portfolio') }}
                        <button class="btn btn-default btn-xs pull-right"data-ng-click="displayComment=!displayComment">
                            <span class="fa fa-chevron-left"></span>
                        </button>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list" data-scroll-container="comments">
                            {% verbatim %}
                            <li class="media" data-ng-repeat="comment in comments | orderBy:['+date']">
                                <div class="media-body">
                                    <p class="message">
                                        {{ comment.message }}
                                    </p>
                                    <p class="pull-right author" data-ng-if="comment.date">
                                        <small>{{ comment.sender.lastName }} {{ comment.sender.firstName }}, {{ comment.date|date : 'dd/MM/yyyy' }}</small>
                                    </p>
                                    <p class="pull-right author loading" data-ng-if="!comment.date">
                                    </p>
                                </div>
                            </li>
                            {% endverbatim %}
                            <li class="media media-empty" ng-show="!comments.length">
                                <div class="media-body">
                                    <p class="message">{{ 'no_comments'|trans({}, 'icap_portfolio') }}</p>
                                </div>
                            </li>
                        </ul>
                        <form class="form" data-ng-submit="create()">
                            <p class="comment_field">
                                <label for="portfolioComment">Commentaire</label><button type="submit" class="btn btn-primary btn-xs pull-right">{{ 'comment_send'|trans({}, 'icap_portfolio') }}</button>
                                <input type="text" id="portfolioComment" class="form-control input-sm"
                                       placeholder="{{ 'comment_type_your_message'|trans({}, 'icap_portfolio') }}"
                                    data-ng-model="message">
                            </p>
                        </form>
                    </div>
                </div>
                {% endif %}

                <div class="main-content col-md-10 col-md-offset-1"{% if not viewMode %} data-design-container{% endif %}>
                    {% if not viewMode %}
                        <div data-ng-repeat="widget in widgets | filter:{type: '!title'} | orderBy:widget.row" data-ng-if="0 == portfolio.disposition">
                            {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                        </div>
                        <div data-ng-include="'templates/menu_widget-type.tpl.html'" data-ng-if="0 == portfolio.disposition">
                        </div>
                        <div data-ng-if="1 == portfolio.disposition">
                            <ul class="col-md-6 list-unstyled" data-ng-repeat="col in cols">
                                <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col} | orderBy:'+row'">
                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                </li>
                                {% if editMode %}
                                <li data-ng-include="'templates/menu_widget-type.tpl.html'">
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div data-ng-if="2 == portfolio.disposition">
                            <ul class="col-md-4 list-unstyled" data-ng-repeat="col in cols">
                                <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col} | orderBy:'+row'">
                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                </li>
                                {% if editMode %}
                                <li data-ng-include="'templates/menu_widget-type.tpl.html'">
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div data-ng-if="3 == portfolio.disposition">
                            <ul class="col-md-3 list-unstyled" data-ng-repeat="col in cols">
                                <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col} | orderBy:'+row'">
                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                </li>
                                {% if editMode %}
                                <li data-ng-include="'templates/menu_widget-type.tpl.html'">
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if editMode %}
                        <p class="no-data well" data-ng-show="widgets.length <= 1">{{ 'no_widget'|trans({}, 'icap_portfolio')|raw }}</p>
                        {% else %}
                        <p class="no-data well" data-ng-show="widgets.length <= 1">{{ 'portfolio_empty'|trans({}, 'icap_portfolio')|raw }}</p>
                        {% endif %}
                    {% else %}
                        {% set widgets = portfolio.widgets %}
                        {% if 1 < widgets.count %}
                            {% if 0 == portfolio.disposition %}
                                {% for widget in widgets | orderByRow if 'title' != widget.widgetType %}
                                    {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                {% endfor %}
                            {% elseif 1 == portfolio.disposition %}
                                {% for col in cols %}
                                    <ul class="col-md-6 list-unstyled">
                                        {% for widget in widgets | orderByRow if 'title' != widget.widgetType and col == widget.column  %}
                                            <li>
                                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% elseif 2 == portfolio.disposition %}
                                {% for col in cols %}
                                    <ul class="col-md-4 list-unstyled">
                                        {% for widget in widgets | orderByRow if 'title' != widget.widgetType and col == widget.column %}
                                            <li>
                                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% elseif 3 == portfolio.disposition %}
                                {% for col in cols %}
                                    <ul class="col-md-3 list-unstyled">
                                        {% for widget in widgets | orderByRow if 'title' != widget.widgetType and col == widget.column %}
                                            <li>
                                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <p class="no-data well">{{ 'portfolio_empty'|trans({}, 'icap_portfolio') }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </section>
        </div>

        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            <div data-ng-show="!portfolio.$resolved" id="portfolio-loading"></div>
        {% endif %}
    </div>
    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EDIT') == openingMode %}
        <div class="form-container">
            <form name="form" class="edit-container" data-loading-form="save(editedWidget)" data-ng-repeat="editedWidget in editedWidgets">
                <div class="panel panel-default widget-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span data-ng-bind="editedWidget.getType() + '_form_title'|trans"></span>
                            <button type="button" class="close" aria-hidden="true" data-ng-click="cancel(editedWidget);">&times;</button>
                        </h3>
                    </div>
                    <div class="panel-body panel-loading" data-ng-show="!editedWidget.views.form"></div>
                    <div class="panel-body" data-ng-show="editedWidget.views.form" data-bind-html="editedWidget.views.form"></div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                        <button type="button" class="btn btn-default" data-ng-click="cancel(editedWidget)">{{ 'cancel'|trans({}, 'platform') }}</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='css/icapportfolio/style_view.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
      "@IcapPortfolioBundle/Resources/views/less/interface.less"
      "bundles/frontend/jquery/plugin/datepicker/css/datepicker.css"
      "bundles/icapportfolio/css/angular-motion/angular-motion.min.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
        <script type="text/javascript">
            'use strict';
            (function() {
                window.widgetsConfig = '{{ widgetsConfig|json_encode()|raw }}';
                window.resourceTypes = {
                    {% for resourceType in resourceTypes %}
                        "{{ resourceType.getName() }}": {
                            "name": "{{ resourceType.getName()|trans({}, 'resource') }}"
                        }{% if loop.last != true %},{% endif %}
                    {% endfor %}
                };
                window.assetPath = "{{ asset('') }}";
            })();
        </script>
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/tinymce.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/jquery.tinymce.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/tinymce/tinymce.js') }}"></script>
        <script type='text/javascript' src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/bootstrap-datepicker.js') }}"></script>
        {% if 'en' != app.request.locale %}
            <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}"></script>
        {% endif %}
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/badge/badge_picker.js') }}"></script>

        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-resource.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-sanitize.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-animate.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/angular-ui/ui-tinymce/tinymce.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/dateTimeInput.js') }}"></script>

        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular-strap.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/dimensions.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/tooltip.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/tooltip.tpl.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/popover.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-strap/popover.tpl.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'icap_portfolio' }) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/utils/Array.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/app.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/portfolioController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/widgetController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/designController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/collectionFormController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/commentController.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolio.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsConfig.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetFactory.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/urlInterpolator.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/translation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/commentsManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/commentFactory.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/widgetDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/portfolioDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/bindHtmlDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/loadingFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/confirmClickDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/collectionFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/designDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/resourcePickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/datepickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/badgePickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/commentsDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/scrollContainerDirective.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trustAsHtml.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trans.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/templates/menu_widget-type.tpl.js') }}"></script>
    {% endif %}
{% endblock %}