{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName ~ ' - ' ~ 'portfolio' | trans({}, 'icap_portfolio') ~ ' - ' ~ titleWidget.title | striptags | raw }}{% endblock %}

{% block content_container %}
    <div id="portfolio-section" data-portfolio-container="{{ portfolio.id }}">
        <div id="portfolio-container" data-ng-if="portfolio.$resolved">
            <header>
                <div class="container">
                    <h1 id="username">{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName }}</h1>

                    <div data-ng-repeat="widget in widgets | filter:{type: 'title'}" data-ng-show="widgets.length > 0">
                        <div data-widget>
                            <div class="portfolio-title-container">
                                {% if editMode %}
                                    <div class="widget-actions">
                                        <button class="widget-action btn" data-ng-click="edit(widget);" data-ng-if="!widget.isEditing()">
                                            <span class="icon-pencil"></span>
                                        </button>
                                    </div>
                                    <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
                                {% else %}
                                    {% include 'IcapPortfolioBundle:templates:title.html.twig' with {'widget': titleWidget} only %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section>
                {% if editMode %}
                <div class="col-md-2 widget-menu-container" data-design-container>
                    <h2 data-toggle="collapse" data-target="#dispositions" role="button">Disposition</h2>
                    <ul id="dispositions" class="dispositions collapse">
                        <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 0, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(0)">
                            <div>
                                <div class="col-md-12 border">1</div>
                            </div>
                        </li>
                        <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 1, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(1)">
                            <div>
                                <div class="col-md-6 border">1</div>
                                <div class="col-md-6 border">2</div>
                            </div></li>
                        <li class="disposition" data-ng-class="{'selected': portfolio.disposition == 2, 'idle': !changing, 'loading': changing}" data-ng-click="changeDisposition(2)">
                            <div>
                                <div class="col-md-4 border">1</div>
                                <div class="col-md-4 border">2</div>
                                <div class="col-md-4 border">3</div>
                            </div></li>
                    </ul>
                    <h2 data-toggle="collapse" data-target="#contents" role="button">Contenu</h2>
                    <div id="contents" class="collapse in">
                        <div class="btn-group-vertical contents" role="buttongroup">
                            <button type="button" class="btn btn-default" data-ng-repeat="widgetType in widgetTypes" data-ng-click="createWidget(widgetType)">
                                <span class="icon-plus"></span>
                                {% verbatim %}{{ widgetType + '_title' | trans }}{% endverbatim %}
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="main-content col-md-8{% if false == editMode %} col-md-offset-2{% endif %}">
                {% if editMode %}
                    <div data-ng-repeat="widget in widgets | filter:{type: '!title'}" data-ng-if="0 == portfolio.disposition">
                        {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                    </div>
                    <div data-ng-if="1 == portfolio.disposition">
                        <ul class="col-md-6 list-unstyled" data-ng-repeat="col in cols">
                            <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col}">
                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                            </li>
                        </ul>
                    </div>
                    <div data-ng-if="2 == portfolio.disposition">
                        <ul class="col-md-4 list-unstyled" data-ng-repeat="col in cols">
                            <li data-ng-repeat="widget in widgets | filter:{type: '!title', column: col}">
                                {% include 'IcapPortfolioBundle:templates:widget.html.twig' %}
                            </li>
                        </ul>
                    </div>
                    <div class="no-data" data-ng-show="widgets.length <= 1">
                        <p class="well">{{ 'no_widget'|trans({}, 'icap_portfolio')|raw }}</p>
                    </div>
                {% else %}
                    {% for widget in portfolio.widgets if 'title' != widget.widgetType %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ (widget.widgetType ~ '_title') | trans({}, 'icap_portfolio') }}
                            </div>
                            <div class="panel-body">
                                {% include 'IcapPortfolioBundle:templates:' ~ widget.widgetType ~ '.html.twig' with {'widget': widget} only %}
                            </div>
                        </div>
                    {% else %}
                        no widget
                    {% endfor %}
                {% endif %}
                </div>
            </section>
        </div>

        {% if editMode %}
            <div data-ng-show="!portfolio.$resolved" id="portfolio-loading"></div>
        {% endif %}
    </div>
    {% if editMode %}
        <div class="form-container" data-ng-controller="editWidgetsController">
            <form name="form" class="edit-container" data-loading-form="save(editedWidget)" data-ng-repeat="editedWidget in editedWidgets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span data-ng-bind="editedWidget.getType() + '_form_title'|trans"></span>
                            <button type="button" class="close" aria-hidden="true" data-ng-click="cancel(editedWidget);">&times;</button>
                        </h3>
                    </div>
                    <div class="panel-body panel-loading" data-ng-show="!editedWidget.views.form"></div>
                    <div class="panel-body" data-ng-show="editedWidget.views.form" data-bind-html="editedWidget.views.form"></div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                        <button class="btn btn-default" data-ng-click="cancel(editedWidget)">{{ 'cancel'|trans({}, 'platform') }}</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='css/icapportfolio/style_view.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
      "@IcapPortfolioBundle/Resources/views/less/interface.less"
      "bundles/frontend/jquery/plugin/datepicker/css/datepicker.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if editMode %}
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/tinymce.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/jquery.tinymce.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/tinymce/tinymce.js') }}"></script>
        <script type='text/javascript' src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/bootstrap-datepicker.js') }}"></script>

        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-resource.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular/angular-sanitize.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/vendor/angular-ui/ui-tinymce/tinymce.js') }}"></script>

        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'icap_portfolio' }) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/utils/Array.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/portfolioController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/widgetController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/editWidgetsController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/designController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/collectionFormController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolio.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsConfig.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsFactory.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/urlInterpolator.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/translation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/widgetsDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/portfolioDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/bindHtmlDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/loadingFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/confirmClickDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/collectionFormDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/designDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/resourcePickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/datepickerDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trustAsHtml.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trans.js') }}"></script>
        <script type="text/javascript">
            'use strict';
            (function() {
                window.widgetsConfig = '{{ widgetsConfig|json_encode()|raw }}';
                window.appPath       = "{{ app.request.getBaseUrl }}";
                window.webPath       = "{{ asset('') }}";
                window.resourceTypes = {
                    {% for resourceType in resourceTypes %}
                        "{{ resourceType.getName() }}": {
                            "name": "{{ resourceType.getName()|trans({}, 'resource') }}"
                        }{% if loop.last != true %},{% endif %}
                    {% endfor %}
                };
            })();
        </script>
    {% endif %}
{% endblock %}