{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName ~ ' - ' ~ 'portfolio' | trans({}, 'icap_portfolio') ~ ' - ' ~ portfolio.title | striptags | raw }}{% endblock %}

{% block content_container %}
    <div id="portfolio-section" data-portfolio-container>
        {% if editMode %}
            <ul id="configbar" class="list-unstyled">
                <li class="configbar-item">
                    <span class="icon-plus"></span>
                    Contenu
                </li>
                <li class="configbar-item"><span class="icon-cogs"></span>
                    Paramètres
                </li>
            </ul>
        {% endif %}


        <div id="portfolio-container" data-ng-show="portfolio.$resolved">
            <header>
                <div class="container">
                    <h1 id="username">{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName }}</h1>
                    <div data-widget-portlet="title" data-ng-show="widgets.length > 0">
                        <div class="portfolio-title-container" data-ng-repeat="widget in widgets">
                            {% if editMode %}
                                <div class="portfolio-title-actions">
                                    <button class="portfolio-title-edit-action btn" data-ng-click="edit(widget);" data-ng-show="!widget.isEditing()"><span class="icon-pencil"></span></button>
                                </div>
                                <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
                            {% else %}
                                {% include 'IcapPortfolioBundle:templates:title.html.twig' with {'portfolioTitle': portfolio.title} only %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>

            <section class="container">
                Content container.
            </section>
        </div>

        {% if editMode %}
            <div data-ng-show="!portfolio.$resolved" id="portfolio-loading"></div>
        {% endif %}
    </div>
    {% if editMode %}
        <div class="form-container" data-ng-controller="editWidgetsController">
            <form name="form" class="edit-container" data-ng-submit="save(editedWidget)" data-ng-repeat="editedWidget in editedWidgets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span data-ng-bind="(editedWidget.title) || (editedWidget.getType() + '.form.title')"></span>
                            <button type="button" class="close" aria-hidden="true" data-ng-click="cancel(editedWidget);">&times;</button>
                        </h3>
                    </div>
                    <div class="panel-body" data-ng-show="editedWidget.views.form" data-bind-html="editedWidget.views.form">
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                        <button class="btn btn-default" data-ng-click="cancel(editedWidget)">{{ 'cancel'|trans({}, 'platform') }}</button>
                    </div>
                </div>
            </form>

            <div class="panel panel-default edit-container">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title <button type="button" class="close" aria-hidden="true">&times;</button></h3>
                </div>
                <div class="panel-body">
                    <p>Panel content</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                    <button class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
                </div>
            </div>

            <div class="panel panel-default edit-container">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title <button type="button" class="close" aria-hidden="true">&times;</button></h3>
                </div>
                <div class="panel-body">
                    <p>Panel content</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                    <button class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='bundles/icapportfolio/css/portfolio_view.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
      "@IcapPortfolioBundle/Resources/views/less/interface.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if editMode %}
        {# Angular #}
        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-resource.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-sanitize.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/utils/Array.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/portfolioController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/widgetsController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/editWidgetsController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolio.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsManager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsConfig.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/widgetsFactory.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/urlInterpolator.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/widgetsDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/portfolioDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/bindHtmlDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trustAsHtml.js') }}"></script>
    {% endif %}
{% endblock %}