{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName ~ ' - ' ~ 'portfolio' | trans({}, 'icap_portfolio') ~ ' - ' ~ portfolio.title | striptags | raw }}{% endblock %}

{% block content_container %}
    <div id="portfolio_section" data-ng-controller="PortfolioController">
        {% if editMode %}
            <ul id="configbar" class="list-unstyled">
                <li class="configbar_item">
                    <span class="icon-plus"></span>
                    Contenu
                </li>
                <li class="configbar_item"><span class="icon-cogs"></span>
                    Paramètres
                </li>
            </ul>
        {% endif %}


        <div id="portfolio_container">
            <header>
                <div class="container">
                    <h1 id="username">{{ portfolio.user.firstName ~ ' ' ~ portfolio.user.lastName }}</h1>
                    <div class="portfolio_title_container" data-widget data-ng-controller="WidgetController" data-ng-model="widgets" data-widget-type="title" data-ng-repeat="widget in (portfolio | filter:{$index: 'title'})">
                        {% if editMode %}
                            <div class="portfolio_title_actions">
                                <button class="portfolio_title_edit_action btn" data-ng-click="editTitle(widget);"><span class="icon-pencil"></span></button>
                            </div>
                            <div data-ng-bind-html="portfolio.title.view | trustAsHtml"></div>
                        {% else %}
                            {% include 'IcapPortfolioBundle:templates:title.html.twig' with {'portfolioTitle': portfolio.title} only %}
                        {% endif %}
                    </div>
                </div>
            </header>

            <section class="container">
                Content container.
            </section>
        </div>

        {% if editMode %}
            <div data-ng-show="!portfolio.$resolved" id="portfolio_loading"></div>
        {% endif %}
    </div>
    <div class="form_container">
        <div class="panel panel-default edit_container">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title <button type="button" class="close" aria-hidden="true">&times;</button></h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Enregistrer</button>
                <button class="btn btn-default">Annuler</button>
            </div>
        </div>
        <div class="panel panel-default edit_container">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title <button type="button" class="close" aria-hidden="true">&times;</button></h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Enregistrer</button>
                <button class="btn btn-default">Annuler</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='bundles/icapportfolio/css/portfolio_view.css'
      "@IcapPortfolioBundle/Resources/views/less/portfolio.less"
      "@IcapPortfolioBundle/Resources/views/less/interface.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if editMode %}
        {# Angular #}
        {% javascripts debug=true filter='jsmin' output='js/portfolio/angular.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-resource.min.js'
            '@IcapPortfolioBundle/Resources/public/js/vendor/angular-sanitize.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/directives/widgetDirective.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/services/portfolioService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/portfolioController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/controllers/widgetController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/icapportfolio/js/filters/trustAsHtml.js') }}"></script>
    {% endif %}
{% endblock %}