{% extends 'ClarolineGUIBundle::core_layout.html.twig' %}

{% block global_content %}

{% if error %}
     <span id="login_failure">{{ 'security.login_failure'|trans({}, 'ClarolineSecurityBundle') }}</span>
{% endif %}

<form action="{{ path('claro_security_login_check') }}" method="post">
    <label for="username">{{ 'security.username'|trans({}, 'ClarolineSecurityBundle') }} :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.password'|trans({}, 'ClarolineSecurityBundle') }} :</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login_submit'|trans({}, 'ClarolineSecurityBundle') }}" />
</form>

{% endblock global_content %}