{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'edit_password' | trans({}, 'platform') }}
            </div>
            <form role="form" action="{{ path('claro_user_password_edit', {'user': user.getId()}) }}"
                  method="post" {{ form_enctype(form) }}
                  id="profile_form">
                <div class="panel-body">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_public_profile_view', {'publicUrl': user.getPublicUrl()}) }}" class="btn btn-default" role="button">
                        {{ 'cancel' | trans({}, 'platform') }}
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
