{% extends editYourself == true ? "ClarolineCoreBundle:Desktop:layout.html.twig": "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ 'profil_edition'|trans({}, 'platform') }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        {% if editYourself %}
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'profil_edition'|trans({}, 'platform') }}</h3>
            </div>
        {% endif %}
        <div class="panel panel-body">
           {{
                macros.breadcrumbs([
                    {
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_index')
                    },
                    {
                        'name':'profile_edition'|trans({}, 'platform'),
                        'href':''
                    }
                ])
            }}
        </div>
        {% if not user.isMailValidated() and is_mailer_available() and editYourself %}
            <div class="alert alert-warning">
                {{ 'email_not_activated_part_1'|trans({'%email%': app.user.mail}, 'platform') }}
                <a href="{{ path('claro_security_validate_email_send', {'hash': app.user.emailValidationHash}) }}" class="confirm-email"> {{ 'email_not_activated_part_2'|trans({}, 'platform') }}</a>
                {{ 'email_not_activated_part_3'|trans({}, 'platform') }}.
            </div>
        {% endif %}
        {% set actionForm = editYourself ? path('claro_user_profile_edit') : path('claro_user_profile_edit', {'user': user.getId()}) %}
        {% set cancelUrl  = editYourself ? path('claro_public_profile_view', {'publicUrl': user.publicUrl}) : path('claro_admin_users_index') %}
        <form role="form" class="form-horizontal" action="{{ actionForm }}" method="post" {{ form_enctype(form) }} id="profile_form">
            <div class="panel-body">
                {% for role in unavailableRoles %}
                    <div class="alert alert-warning"> {{ 'role_limit_reached'|trans({'%translationKey%': role.getTranslationKey()|trans({}, 'platform')}, 'platform') }}</div>
                {% endfor %}
                {{ form_widget(form) }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
                <a href="{{ cancelUrl }}" class="btn btn-default" role="button">{{ 'cancel' | trans({}, 'platform') }}</a>
                <a href="{{path('claro_user_password_edit', {'user': user.getId()})}}"  class="btn btn-default" role="button">
                    {{'edit_password'|trans({}, 'platform')}}
                </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/angular/angular-ui.css')}}"> </link>

{% endblock %}
