{% if isAnon %}
    <div class="alert alert-warning">
        {{ 'public_profile_undiscoverable_anonymously'|trans({}, 'platform') }}
    </div>
{% else %}
    <div class="row">
        <aside class="col-md-2 profile_aside" role="complementary">
            <div class="avatar">
                {% if user.getPicture() != "" %}
                    <img src="{{ asset('uploads/pictures/') ~  user.getPicture() }}"
                         class="profile_picture img-circle"
                         alt="{{ user.getLastName() ~ ' ' ~ user.getFirstName() }}"
                         width="150px"
                         height="150px"
                    >
                {% else %}
                    <h1 class="profile_picture_placeholder"><i class="fa fa-user"></i></h1>
                {% endif %}
            </div>
            <div class="informations">
                <p class="text-center text-muted">
                    {{ 'registered'|trans({}, 'platform') }} {{ user.getCreationDate()| timeAgo }}
                </p>
                {% if completion is not null %}
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completion }}%;">

                        </div>
                    </div>
                    <p class="text-center text-muted">
                        {{ 'your_profile_is_n_complete'|trans({'%n%': completion}, 'platform') }}
                    </p>
                {% endif %}
                <p class="text-center"><a href="{{ path('claro_user_profile', {'publicUrl': user.getPublicUrl()}) }}">{{ 'click_to_view_modify_profile'|trans({}, 'platform') }}</a></p>
            </div>
        </aside>
        <div class="col-md-10 profile_informations">
            <h3>{{ user.getLastName() ~ ' ' ~ user.getFirstName() }}</h3>
            {% if publicProfilePreferences['email'] %}
                <p><span class="fa fa-envelope"> <a href="mailto:{{ user.getmail() }}" title="{{ user.getmail() }}">{{ user.getmail() }}</a></span></p>
            {% endif %}
            {% if publicProfilePreferences['phone'] and  user.getPhone() is not null%}
                <p><span class="fa fa-phone-square"></span> {{ user.getPhone() }}</p>
            {% endif %}
            {% for link in links %}
                <p><a href="{{ link.url }}">{{ link.name|trans({}, 'resource') }}</a></p>
            {% endfor %}
            {% if '' != user.getDescription() and publicProfilePreferences['baseData'] %}
                <div class="description_block">
                    <p class="lead">{{ 'description'|trans({}, 'platform') }}</p>
                    <div class="description">
                        {{ user.getDescription()|raw|url_detect }}
                    </div>
                </div>
            {% endif %}
            {% for facet in facets %}
                <div class="description_block">
                    <p class="lead">{{ facet.name }}</p>
                    <div class="facet_contents">
                        {% for panel in facet['panels'] %}
                            <p><strong>{{ panel.name }}</strong></p>
                            <ul class="list-unstyled">
                            {% for field in panel.getFieldsFacet() %}
                                {% for fieldFacet in fieldFacets %}
                                    {% if fieldFacet.getId() == field.getId() %}
                                        <li>
                                            <strong>{{ field.getName() }}</strong>
                                            {% set hasValue = false %}
                                            {% for fieldFacetValue in fieldFacetValues %}
                                                {% if fieldFacetValue.getFieldFacet().getId() == field.getId() %}
                                                    {% if fieldFacetValue.getValue() is not empty %}
                                                        {% set hasValue = true %}
                                                        {% if field.getInputType == 'date' %}
                                                            {{ fieldFacetValue.getValue()|date('date_form_datepicker_php'|trans({}, 'platform')) }}
                                                        {% else %}
                                                            {{ fieldFacetValue.getValue()|url_detect }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if hasValue is not defined or hasValue == false %}
                                                <span class="text-muted">-</span>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if badges is defined and badges is not empty %}
    <div class="row">
        <div class="col-md-12">{{ badges|raw }}</div>
    </div>
    {% endif %}
{% endif %}
