{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}{{ 'portal' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% block meta %}
    <base href="{{ path('claro_portal_index') }}">
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-home',
                'name': 'home'|trans({}, 'platform'),
                'href': path('claro_index')
            },
            {
                'name': 'portal'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'portal'|trans({}, 'platform') }}</h3>
    </div>
    <div class="panel-body">
        <div data-ng-view></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}' type='text/css' media='all' />
    {% stylesheets debug=false filter='less, cssmin' output='css/corebundle/portal.css'
    '@ClarolineCoreBundle/Resources/less/portal/portal.less'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset("dist/claroline-distribution-main-core-portal.js") }}"></script>
    <script>
        (function() {
            'use strict';
            angular
                .module('portalApp')
                .constant('portal.types', {{ types|json_encode|raw }});
        })();
    </script>
{% endblock %}

