{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_support_archives',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'formalibre_support_archives',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}
    {{ 'formalibre_support_tool' | trans({}, 'tools') }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'formalibre_support_tool'|trans({}, 'tools'),
                'href': path('formalibre_support_ongoing_tickets', {})
            },
            {
                'name': 'archives'|trans({}, 'support'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="archives-tab">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'archives'|trans({}, 'support') }}
            </h3>
        </div>
        <div class="panel-body">
            {% if supportType is defined %}
                {% render(controller('FormaLibreSupportBundle:Support:supportTabs', {'type': supportType})) %}
                <br>
            {% endif %}

            {% if tickets|length > 0 %}
                {% if tickets.getNbPages() > 1 %}
                    {{ renderPager(tickets, search, orderedBy, order, max) }}
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                <a href="{{ sortUrl(search, 'title', order, max) }}">
                                    {{ 'title'|trans({}, 'platform') }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ sortUrl(search, 'creationDate', order, max) }}">
                                    {{ 'creation_date'|trans({}, 'platform') }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ sortUrl(search, 'type', order, max) }}">
                                    {{ 'type'|trans({}, 'platform') }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ sortUrl(search, 'status', order, max) }}">
                                    {{ 'status'|trans({}, 'support') }}
                                </a>
                            </th>
                            <th class="text-center">
                                {{ 'actions'|trans({}, 'platform') }}
                            </th>
                        </tr>

                        {% for ticket in tickets %}
                            {% set ticketId = ticket.getId() %}
                            <tr id="row-ticket-{{ ticketId }}">
                                <td>
                                    <a href="{{ path('formalibre_ticket_open', {'ticket': ticketId}) }}">
                                        {{ ticket.getTitle() }}
                                    </a>
                                </td>
                                <td>
                                    {{ ticket.getCreationDate()|intl_date_format }}
                                </td>
                                <td>
                                    {{ ticket.getType().getName()|trans({}, 'support') }}
                                    {% if ticket.getType().getDescription() is not empty %}
                                        <i class="fa fa-info-circle pointer-hand"
                                           data-toggle="tooltip"
                                           data-container="body"
                                           data-placement="top"
                                           data-html="true"
                                           title="{{ ticket.getType().getDescription() }}"
                                        >
                                        </i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ticket.getStatus() is not empty %}
                                        {{ ticket.getStatus().getName()|trans({}, 'support') }}
                                        {% if ticket.getStatus().getDescription() is not empty %}
                                            <i class="fa fa-info-circle pointer-hand"
                                               data-toggle="tooltip"
                                               data-container="body"
                                               data-placement="top"
                                               data-html="true"
                                               title="{{ ticket.getStatus().getDescription() }}"
                                            >
                                            </i>
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger delete-ticket-btn btn-sm"
                                            data-ticket-id="{{ ticketId }}"
                                            data-toggle="tooltip"
                                            title="{{ 'delete'|trans({}, 'platform') }}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                {% if tickets.getNbPages() > 1 %}
                    {{ renderPager(tickets, search, orderedBy, order, max) }}
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'no_ticket'|trans({}, 'support') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-archives.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-support-tabs.js') }}"></script>
{% endblock %}