{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_support_ongoing_tickets',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'formalibre_support_ongoing_tickets',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}
    {{ 'formalibre_support_tool' | trans({}, 'tools') }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'formalibre_support_tool'|trans({}, 'tools'),
                'href': ''
            },
            {
                'name': 'ongoing_tickets'|trans({}, 'support'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="ongoing-tickets-tab">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'formalibre_support_tool'|trans({}, 'tools') }}
            </h3>
        </div>
        <div class="panel-body">
            {% if supportType is defined %}
                {% render(controller('FormaLibreSupportBundle:Support:supportTabs', {'type': supportType})) %}
                <br>
            {% endif %}

            <div id="ongoing-ticket-tab-body"
                 {% if tickets|length == 0 %}class="hidden" {% endif %}
            >
                {% if tickets.getNbPages() > 1 %}
                    {{ renderPager(tickets, search, orderedBy, order, max) }}
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a href="{{ sortUrl(search, 'title', order, max) }}">
                                        {{ 'title'|trans({}, 'platform') }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ sortUrl(search, 'creationDate', order, max) }}">
                                        {{ 'creation_date'|trans({}, 'platform') }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ sortUrl(search, 'type', order, max) }}">
                                        {{ 'type'|trans({}, 'platform') }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ sortUrl(search, 'status', order, max) }}">
                                        {{ 'status'|trans({}, 'support') }}
                                    </a>
                                </th>
                                <th class="text-center">
                                    {{ 'actions'|trans({}, 'platform') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody id="ongoing-tickets-list">
                            {% for ticket in tickets %}
                                {% set ticketId = ticket.getId() %}
                                <tr id="row-ticket-{{ ticketId }}">
                                    <td>
                                        <a href="{{ path('formalibre_ticket_open', {'ticket': ticketId}) }}">
                                            <span class="ticket-title">
                                                {{ ticket.getTitle() }}
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        {{ ticket.getCreationDate()|intl_date_format }}
                                    </td>
                                    <td class="ticket-type">
                                        {{ ticket.getType().getName()|trans({}, 'support') }}
                                        {% if ticket.getType().getDescription() is not empty %}
                                            <i class="fa fa-info-circle pointer-hand"
                                               data-toggle="tooltip"
                                               data-container="body"
                                               data-placement="top"
                                               data-html="true"
                                               title="{{ ticket.getType().getDescription() }}"
                                            >
                                            </i>
                                        {% endif %}
                                    </td>
                                    <td class="ticket-status">
                                        {% if ticket.getStatus() is not empty %}
                                            {{ ticket.getStatus().getName()|trans({}, 'support') }}
                                            {% if ticket.getStatus().getDescription() is not empty %}
                                                <i class="fa fa-info-circle pointer-hand"
                                                   data-toggle="tooltip"
                                                   data-container="body"
                                                   data-placement="top"
                                                   data-html="true"
                                                   title="{{ ticket.getStatus().getDescription() }}"
                                                >
                                                </i>
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if (ticket.getStatus() is empty or ticket.getStatus().getCode() == 'NEW') and ticket.getInterventions()|length <= 1 %}
                                            <button class="btn btn-default btn-sm edit-ticket-btn"
                                                    data-ticket-id="{{ ticketId }}"
                                                    data-toggle="tooltip"
                                                    title="{{ 'edit'|trans({}, 'platform') }}"
                                            >
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm delete-ticket-btn"
                                                    data-ticket-id="{{ ticketId }}"
                                                    data-toggle="tooltip"
                                                    title="{{ 'delete'|trans({}, 'platform') }}"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-default btn-sm disabled"
                                                    data-toggle="tooltip"
                                                    title="{{ 'cannot_edit_msg'|trans({}, 'support') }}"
                                            >
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm disabled"
                                                    data-toggle="tooltip"
                                                    title="{{ 'cannot_delete_msg'|trans({}, 'support') }}"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if tickets.getNbPages() > 1 %}
                    {{ renderPager(tickets, search, orderedBy, order, max) }}
                {% endif %}
            </div>
            <div id="no-ongoing-ticket-alert"
                 class="alert alert-warning {% if tickets|length > 0 %}hidden{% endif %}"
            >
                {{ 'no_ticket'|trans({}, 'support') }}
            </div>

            <button id="create-ticket-btn" class="btn btn-primary">
                {{ 'create_ticket'|trans({}, 'support') }}
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-ongoing-tickets.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-support-tabs.js') }}"></script>
{% endblock %}