<ul class="nav nav-tabs">
    <li role="presentation" {% if supportType == 'ongoing_tickets' %}class="active"{% endif %}>
        <a href="{{ path('formalibre_support_ongoing_tickets') }}">
            {{ 'ongoing_tickets'|trans({}, 'support') }}
            <span id="ongoing-tickets-tab-badge" class="badge">{{ nbOngoingTickets }}</span>
        </a>
    </li>
    <li role="presentation" {% if supportType == 'archives' %}class="active"{% endif %}>
        <a href="{{ path('formalibre_support_archives') }}">
            {{ 'archives'|trans({}, 'support') }}
            <span id="archives-tab-badge" class="badge">{{ nbClosedTickets }}</span>
        </a>
    </li>

    {% for ticket in activeTickets %}
        <li role="presentation"
            {% if supportType == ticket.getId() %}class="active"{% endif %}
            id="ticket-tab-{{ ticket.getId() }}"
        >
            <a href="{{ path('formalibre_ticket_open', {'ticket': ticket.getId()}) }}">
                {{ ticket.getTitle() }}
                &nbsp;
                <i class="fa fa-times pointer-hand text-muted close-ticket-tab-btn"
                   data-ticket-id="{{ ticket.getId() }}"
                >
                </i>
            </a>
        </li>
    {% endfor %}
</ul>