{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'formalibre_support_tool'|trans({}, 'tools'),
                'href': path('formalibre_support_ongoing_tickets', {})
            },
            {
                'name': ticket.getTitle(),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="support-tool">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'archives'|trans({}, 'support') }}
            </h3>
        </div>
        <div class="panel-body">
            {% if supportType is defined %}
                {% render(controller('FormaLibreSupportBundle:Support:supportTabs', {'type': supportType})) %}
                <br>
            {% endif %}

            <div class="panel-group" id="support-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="informations-heading">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#support-accordion"
                               href="#informations-box"
                               aria-expanded="true"
                               aria-controls="informations-box"
                            >
                                {{ 'informations'|trans({}, 'platform') }}
                            </a>
                        </h4>
                    </div>
                    <div id="informations-box"
                         class="panel-collapse collapse in"
                         role="tabpanel"
                         aria-labelledby="informations-heading"
                    >
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th class="col-md-2">{{ 'title'|trans({}, 'platform') }}</th>
                                        <td class="col-md-10">
                                            {{ ticket.getTitle() }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'creator'|trans({}, 'platform') }}</th>
                                        <td class="col-md-10">
                                            {{ ticket.getUser().getFirstName() }}
                                            {{ ticket.getUser().getLastName() }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'contact'|trans({}, 'platform') }}</th>
                                        <td class="col-md-10">
                                            <i class="fa fa-envelope-o"></i> :
                                            {{ ticket.getContactMail() }}
                                            <br>
                                            <i class="fa fa-phone"></i> :
                                            {{ ticket.getContactPhone() }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'creation_date'|trans({}, 'platform') }}</th>
                                        <td class="col-md-10">
                                            {{ ticket.getCreationDate()|intl_date_format }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'description'|trans({}, 'platform') }}</th>
                                        <td class="col-md-10">
                                            {{ ticket.description()|raw }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'type'|trans({}, 'platform') }}</th>
                                        <td id="ticket-type-column" class="col-md-10">
                                            {{ ticket.getType().getName()|trans({}, 'support') }}
                                            {% if ticket.getType().getDescription() is not empty %}
                                                <i class="fa fa-info-circle pointer-hand"
                                                   data-toggle="tooltip"
                                                   data-container="body"
                                                   data-placement="top"
                                                   data-html="true"
                                                   title="{{ ticket.getType().getDescription() }}"
                                                >
                                                </i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">{{ 'status_list'|trans({}, 'support') }}</th>
                                        <td class="col-md-10">
                                            <ul id="interventions-list">
                                                {% for intervention in ticket.getInterventions() %}
                                                    {% if intervention.getStatus() is not empty %}
                                                        <li>
                                                            {{ intervention.getStatus().getName()|trans({}, 'support') }}
                                                            ({{ intervention.getEndDate()|intl_date_format }})
                                                            {% if intervention.getStatus().getDescription() is not empty %}
                                                                <i class="fa fa-info-circle pointer-hand"
                                                                   data-toggle="tooltip"
                                                                   data-container="body"
                                                                   data-placement="top"
                                                                   data-html="true"
                                                                   title="{{ intervention.getStatus().getDescription() }}"
                                                                >
                                                                </i>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="public-comments-heading">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#support-accordion"
                               href="#public-comments-box"
                               aria-expanded="true"
                               aria-controls="public-comments-box"
                            >
                                {{ 'discussion'|trans({}, 'support') }}
                            </a>
                        </h4>
                    </div>
                    <div id="public-comments-box"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="public-comments-heading"
                    >
                        <div class="panel-body">
                            <div id="ticket-comment-form-box">
                                {% render(controller("FormaLibreSupportBundle:Support:ticketCommentCreateForm", {'ticket': ticket.getId()})) %}
                            </div>
                            <br>
                            <br>
                            <hr>
                            <div id="public-comments-list">
                                {% for comment in ticket.getPublicComments() %}
                                    {% set commentUser = comment.getUser() %}
                                    <div class="media comment-row">
                                        {% if comment.getIsAdmin() %}
                                            <div class="comment-content col-md-10 col-sm-10 comment-content-left">
                                                <div id="comment-content-{{ comment.getId() }}">
                                                    {{ comment.getContent()|raw }}
                                                </div>
                                            </div>
                                            <div class="comment-contact col-md-2 col-sm-2 text-center comment-contact-right">
                                                {% if commentUser.getPicture() != '' %}
                                                    <img src="{{ asset('uploads/pictures/') ~  commentUser.getPicture() }}"
                                                         class="media-object comment-picture"
                                                         alt="{{ commentUser.getLastName() ~ ' ' ~ commentUser.getFirstName() }}"
                                                    >
                                                {% else %}
                                                    <h1 class="profile_picture_placeholder">
                                                        <i class="fa fa-user"></i>
                                                    </h1>
                                                {% endif %}
                                                {{ commentUser.getFirstName() }}
                                                {{ commentUser.getLastName() }}
                                                <br>
                                                {{ comment.getCreationDate()|intl_date_format }}

                                                {% if comment.getEditionDate() is not empty %}
                                                    <br>
                                                    ({{ comment.getEditionDate()|intl_date_format }})
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="comment-contact col-md-2 col-sm-2 text-center comment-contact-left">
                                                {% if commentUser.getPicture() != '' %}
                                                    <img src="{{ asset('uploads/pictures/') ~  commentUser.getPicture() }}"
                                                         class="media-object comment-picture"
                                                         alt="{{ commentUser.getLastName() ~ ' ' ~ commentUser.getFirstName() }}"
                                                    >
                                                    {{ commentUser.getFirstName() }}
                                                    {{ commentUser.getLastName() }}
                                                    <br>
                                                    {{ comment.getCreationDate()|intl_date_format }}
                                                {% else %}
                                                    <h1 class="profile_picture_placeholder">
                                                        <i class="fa fa-user"></i>
                                                    </h1>
                                                    {{ commentUser.getFirstName() }}
                                                    {{ commentUser.getLastName() }}
                                                    <br>
                                                    {{ comment.getCreationDate()|intl_date_format }}
                                                {% endif %}
                                            </div>
                                            <div class="comment-content col-md-10 col-sm-10 comment-content-right">
                                                <div>
                                                    {{ comment.getContent()|raw }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    {% if not loop.last %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-ticket-display.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-support-support-tabs.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/formalibresupport/css/comments.css')}}">
{% endblock %}