<div id="modal-ticket-create-form"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'ticket_creation'|trans({}, 'support') }}
            </h3>
        </div>
        <div id="ticket-modal-form-body" class="modal-body">
            <div id="title-form-group" class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-title">
                    {{ 'title'|trans({}, 'platform') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-title"
                           class="form-control"
                    >
                    <div id="title-help-block" class="help-block field-error hidden">
                        {{ 'form_not_blank_error'|trans({}, 'support') }}
                    </div>
                </div>
            </div>
            <div id="email-form-group" class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-email">
                    {{ 'email'|trans({}, 'platform') }}
                </label>
                <div class="col-md-9">
                    <input type="email"
                           id="input-ticket-email"
                           class="form-control"
                           value="{{ user.getEmail() }}"
                    >
                    <div id="email-help-block" class="help-block field-error hidden">
                        {{ 'form_not_blank_error'|trans({}, 'support') }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="input-ticket-phone">
                    {{ 'phone'|trans({}, 'platform') }}
                </label>
                <div class="col-md-9">
                    <input type="text"
                           id="input-ticket-phone"
                           class="form-control"
                           value="{{ user.getPhone() }}"
                    >
                </div>
            </div>
            <div id="description-form-group" class="form-group row">
                <label class="control-label col-md-3" for="textarea-ticket-description">
                    {{ 'additional_infos'|trans({}, 'support') }}
                </label>
                <div class="col-md-9">
                    <textarea id="textarea-ticket-description"
                              rows="5"
                              placeholder="{{ 'description_placeholder_text'|trans({}, 'support') }}"
                    ></textarea>
                    <div id="description-help-block" class="help-block field-error hidden">
                        {{ 'form_not_blank_error'|trans({}, 'support') }}
                    </div>
                </div>
            </div>
            <hr>
            <b>{{ 'description'|trans({}, 'platform') }}</b>
                <i class="fa fa-eye pointer-hand"
                   data-toggle="collapse"
                   href="#collapse-exception-description"
                >
                </i>
            </label>
            <br>
            <br>
            <div id="collapse-exception-description" class="collapse">
                <div id="ticket-exception-info" class="well well-sm">
                </div>
            </div>
        </div>
        <div id="ticket-modal-form-footer" class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </button>
            <button type="submit" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ hotAsset('dist/es6_dll.js') }}"></script>
    <script src="{{ hotAsset('dist/angular_dll.js') }}"></script>
    {#<script src="{{ hotAsset('dist/commons.js') }}"></script>#}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script>
        const message = window['exceptionData']['message']
        const exceptionClass = window['exceptionData']['exceptionClass']
        const file = window['exceptionData']['file']
        const line = window['exceptionData']['line']
        const url = window['exceptionData']['url']
        const referer = window['exceptionData']['referer']
        const httpCode = window['exceptionData']['httpCode']

        const exceptionInfo = `
          <div>
              <div>
                  <b>Uncaught PHP Exception</b>
              </div>
              <div>
                  ${message}
              </div>
              <hr>
              <div>
                  <b>File</b>
              </div>
              <div>
                  ${file}
              </div>
              <hr>
              <div>
                  <b>Line</b>
              </div>
              <div>
                  ${line}
              </div>
              <hr>
              <div>
                  <b>URL</b>
              </div>
              <div>
                  ${url}
              </div>
              <hr>
              <div>
                  <b>Referer</b>
              </div>
              <div>
                  ${referer}
              </div>
              <hr>
              <div>
                  <b>HTTP code</b>
              </div>
              <div>
                  ${httpCode}
              </div>
          </div>
        `
        $('#ticket-exception-info').html(exceptionInfo)

        if (message !== undefined && message !== null && message !== '') {
          const messageTitle = message.length <= 50 ? message : `${message.substr(0, 50)}...`
          $('#input-ticket-title').val(messageTitle)
        }

        $('#modal-ticket-create-form').on('click', '#create-btn', function () {
          let hasErrors = false
          const title = $('#input-ticket-title').val()
          const email = $('#input-ticket-email').val()
          const phone = $('#input-ticket-phone').val()
          const description = $('#textarea-ticket-description').val()

          if (title === undefined || title === null || title === '') {
            $('#title-form-group').addClass('has-error')
            $('#title-help-block').removeClass('hidden')
            hasErrors = true
          } else {
            $('#title-form-group').removeClass('has-error')
            $('#title-help-block').addClass('hidden')
          }

          if (email === undefined || email === null || email === '') {
            $('#email-form-group').addClass('has-error')
            $('#email-help-block').removeClass('hidden')
            hasErrors = true
          } else {
            $('#email-form-group').removeClass('has-error')
            $('#email-help-block').addClass('hidden')
          }

          if ((message === undefined || message === null || message === '') &&
              (description === undefined || description === null || description === '')) {
            $('#description-form-group').addClass('has-error')
            $('#description-help-block').removeClass('hidden')
            hasErrors = true
          } else {
            $('#description-form-group').removeClass('has-error')
            $('#description-help-block').addClass('hidden')
          }

          if (!hasErrors) {
            $.ajax({
              url: Routing.generate('formalibre_ticket_from_issue_create'),
              type: 'POST',
              data: {
                title: title,
                email: email,
                phone: phone,
                description: description,
                infos: exceptionInfo
              },
              success: function () {
                const createdMessage = `
                  <div class="alert alert-info">
                      ${Translator.trans('ticket_created_msg', {}, 'support')}
                  </div>
                `
                const closeBtn = `
                  <button class="btn btn-default" data-dismiss="modal">
                      ${Translator.trans('close', {}, 'platform')}
                  </button>
                `
                $('#ticket-modal-form-body').html(createdMessage)
                $('#ticket-modal-form-footer').html(closeBtn)
              }
            })
          }
        })
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/formalibresupport/css/ticketFromIssue.css')}}">
{% endblock %}
