<footer id="footer" class="footer-container">
    <div class="footer-content container-fluid">
        <div class="row">
            <p>
                {% if app.security.token is not null %}
                    {% if not is_granted('ROLE_USER') and footerLogin %}
                        <a href="{{ path("claro_desktop_open") }}"><i class="fa fa-user"></i> {{ "login" | trans({}, "platform") }}</a> &nbsp;&nbsp;&nbsp;&nbsp;

                        {% if selfRegistration %}
                            <a href="{{ path("claro_registration_user_registration_form") }}">
                                <i class="fa fa-user-plus"></i>
                                {{ "register" | trans({}, "platform") }}
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endif %}
                    {% if not is_granted('ROLE_USER') and footerWorkspaces %}
                        <a href="{{ path("claro_workspace_list") }}"><i class="fa fa-book"></i> {{ "workspaces" | trans({}, "platform") }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}

                    {% if is_granted('ROLE_USER') or (not is_granted('ROLE_USER') and not headerLocale) %}
                        <span class="pull-right locale-select label label-default">{{ app.request.locale | upper }}</span>
                    {% endif %}
                {% endif %}

                {% if not footerMessage is empty %}{{ footerMessage|raw }}{% endif %}
                <span{% if ((footerLogin or footerWorkspaces) and app.security.token is not null) or not footerMessage is empty %} class="pull-right"{% endif %}>
                    {{ 'powered_by' | trans({}, 'platform') }} <a href="http://www.claroline.net">Claroline</a> ({{ coreVersion }})
                </span>
            </p>
        </div>
    </div>
</footer>
