{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <br /><br />
        
            Bonjour {{user.getUsername()}}, nous sommes le {{ "now"|date("d-m-Y W") }} il est {{ "now"|date("H:i") }}
            
            <br /><br /><br />
            Semaine n°: {{ "now"|date("W") }}
            <br /><br />
            
            {# Calcul des dates#}
            
            {% if "Monday"|date("d-m-y") >"now"|date("d/m/y") and "Monday"|date("D") <"now"|date("D")  %}
            {% set Monday = "Monday"|date_modify("-7days")|date("d-m-y") %}
            {% else %}
            {% set Monday = "Monday"|date("d-m-y") %}
            {% endif %}
            
            {% if "Tuesday"|date("d-m-y") >"now"|date("d/m/y") and "now"|date("D") != "Mon"%}
            {% set Tuesday = "Tuesday"|date_modify("-7days")|date("d-m-y") %}
            {% else %}
            {% set Tuesday = "Tuesday"|date("d/m/y") %}
            {% endif %}
            
            {% if "Wednesday"|date("d-m-y") >"now"|date("d-m-y") and "now"|date("D") != "Mon"  and "now"|date("D") != "Tue"%}
            {% set Wednesday = "Wednesday"|date_modify("-7days")|date("d-m-y") %}
            {% else %}
            {% set Wednesday = "Wednesday"|date("d-m-y") %}
            {% endif %}
            
            {% if "Thursday"|date("d-m-y") >"now"|date("d-m-y") and "now"|date("D") != "Mon"  and "now"|date("D") != "Tue"  and "now"|date("D") != "Wed" %}
            {% set Thursday = "Thursday"|date_modify("-7days")|date("d-m-y") %}
            {% else %}
            {% set Thursday = "Thursday"|date("d-m-y") %}
            {% endif %}
            
            {% if "Friday"|date("d-m-y") >"now"|date("d-m-y") and "now"|date("D") != "Mon"  and "now"|date("D") != "Tue"  and "now"|date("D") != "Wed"and "now"|date("D") != "Thu" %}
            {% set Friday = "Friday"|date_modify("-7days")|date("d-m-y") %}
            {% else %}
            {% set Friday = "Friday"|date("d-m-y") %}
            {% endif %}
            
            <div class="table-responsive">
                <table class="table" border="2" >
                    <thead>
                        <tr>
                            <th class="text-center">Lundi {{Monday}} </th>
                            <th class="text-center">Mardi {{Tuesday}}</th>
                            <th class="text-center">Mecredi {{Wednesday}}</th>
                            <th class="text-center">Jeudi {{Thursday}}</th>
                            <th class="text-center">Vendredi {{Friday}}</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr>
                            <td>
                                {%for period in periods%}
                                {% if period.getDay() =="Lundi"%}
                                    <a class="btn btn-default" href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":Monday})}}" role="button">   
                                         {{period.getName}}
                                    </a>
                                <br />
                                {% endif %}
                                {%endfor%}
                            </td>
                            <td>
                              {%for period in periods%}
                                {% if period.getDay() =="Mardi"%}
                                     <a class="btn btn-default" href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":Tuesday})}}" role="button"> 
                                         {{period.getName}}
                                    </a>
                                <br />
                                {% endif %}
                                {%endfor%}
                            </td>
                            <td>
                               {%for period in periods%}
                                {% if period.getDay() =="Mercredi"%}
                                     <a class="btn btn-default" href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":Wednesday})}}" role="button"> 
                                         {{period.getName}}
                                    </a>
                                <br />
                                {% endif %}
                                {%endfor%}
                            </td>
                            <td>
                               {%for period in periods%}
                                {% if period.getDay() =="Jeudi"%}
                                     <a class="btn btn-default" href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":Thursday})}}" role="button">  
                                         {{period.getName}}
                                    </a>
                                <br />
                                {% endif %}
                                {%endfor%}
                            </td>
                            <td>
                                {%for period in periods%}
                                {% if period.getDay() =="Vendredi"%}
                                     <a class="btn btn-default" href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":Friday})}}" role="button">   
                                         {{period.getName}}
                                    </a>
                                <br />
                                {% endif %}
                                {%endfor%}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}