{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}


{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-body"> 
            
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="{{path("formalibre_presence_admin_tool_index")}}">Configurations</a></li>
                  <li role="presentation"><a href="{{path("formalibre_presence_horaire")}}">Horaire Type</a></li>
                </ul>
            </div>
            
            <br /><br />
            <div class="table-responsive">
                <table class="table">
                    
                    <tr>
                        <th>Rôles</th>
                        {% for onename in rightName%}
                            <th>
                                {{onename}}
                            </th>
                        {% endfor %}
                    </tr>
                    {% for right in rightsValue%}
                        <tr>
                            <td>{{right['right'].getRole().getTranslationKey()|trans({},"platform")}}</td>
                            {% for onename in rightNameId%}
                                <td>
                                    <input 
                                        data-right-id="{{right['right'].getId()}}"
                                        data-one-name="{{onename}}"
                                        class="rightCheckbox"
                                        type="checkbox" 
                                           {% if right[onename] %}
                                               checked
                                           {% endif %}>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>
                  
                  
{% endblock %}

{% block stylesheets %}
       {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        $(".rightCheckbox").on("change",function(){
      
            var rightId=$(this).data("right-id");
            var name=$(this).data("one-name");
            
            $.ajax({
                url: Routing.generate('formalibre_presence_admin_right',{'right':rightId,'rightValue':name}),
                type:'POST'
            })
          
            
            
        });
        
        
    </script>

{% endblock javascripts %}
