{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}


{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-body"> 
            
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li role="presentation"><a href="{{path("formalibre_presence_admin_tool_index")}}">Appel</a></li>
                  <li role="presentation"><a href="{{path("formalibre_presence_archives")}}">Archives</a></li>
                  <li role="presentation"><a href="{{path("formalibre_presence_horaire")}}">Horaire</a></li>
                  <li role="presentation" class="active"><a href="{{path("formalibre_presence_configurations")}}">Configurations</a></li>
                </ul>
            </div>
            
            <br /><br />
        pages de configurations
        </div>
    </div>
                  
                  
{% endblock %}

{% block stylesheets %}
       {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}
