{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <br /><br />
            Vous souhaitez faire l'appel pour la  <a  href="{{path("formalibre_presence_admin_tool_index")}}" role="button">{{period.getNumPeriod()}} période du {{period.getDay()}} {{date}}</a>
            <br /><br />
            Classe: <a  href="{{path("formalibre_choix_classe", {"period":period.getId(),"date":period.getDay()})}}" role="button"> {{classe.getName()}} </a>
            <br /><br /> <br /><br />
            
   
            {% for presence in presences %}
   
             <form action="" method="post">
                    <div class="col-md-2" align="center" >
                   
                        <img style="height:220px; background-color: {{presence.getStatus().getStatusColor()}};" class="img-thumbnail" src="{{asset('uploads/pictures/') ~ presence.getUserStudent().getPicture()}}" width="150" alt="Photo de l'élève"><br />
                        {{presence.getUserStudent().getFirstName()}}
                        {{presence.getUserStudent().getLastName()}}
                        
                        <br /><br />
             
                        {{form_widget(presForm.idPresence,{ 'attr': {'value': presence.getId() } } ) }}
                        
                        <button class="btn btn-primary" type="submit" name="Releve[Pres]">Pres</button>
                        <button class="btn btn-primary" type="submit" name="Releve[Abs]">Abs</button>
                        <button class="btn btn-primary" type="submit" name="Releve[Ret]">Ret</button>
                        
                        <span class="dropdown">
                            
                            <span class="btn btn-primary" data-toggle="dropdown">...</span>
                            
                            <ul class="dropdown-menu" role="menu">
                                
                               {# {% for stat in status %}
                                    <li class="margin-bottom-sm" role="presentation"><button class="btn btn-primary" type="submit" name="Releve[{{stat.getStatusName()}}]" > {{stat.getStatusName()}}</button></li>                                
                                {% endfor %}#}
                                
                              
                            </ul>
                            
                        </span>

       
                    </div>
                </form>
            {% endfor %} 
            
        </div>
    </div>
{% endblock %}