{#{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}#}
{% extends "ClarolineCursusBundle:CursusRegistration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool_registration' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool_registration'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div id="cursus-registration-panel" ng-app="CursusRegistrationModule">
        <div class="panel panel-default" ng-view>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{#    <link rel="stylesheet" href="{{ asset('vendor/angular-ui.css')}}"> </link>#}
    <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-ui-tree/dist/angular-ui-tree.min.css') }}" />
    <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-data-table/release/dataTable.css') }}" />
    <link rel="stylesheet"  href="{{ asset('bundles/frontend/angular-data-table/release/material.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'tools' }) }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-route/angular-route.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-ui-tree/dist/angular-ui-tree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-data-table/release/dataTable.helpers.js') }}"></script>
{#    <script type="text/javascript" src="{{ asset('vendor/angular-ui.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/angular/services/api.services.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-ui-translation/angular-translation.js') }}"></script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}
        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Cursus/module.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Cursus/Service/CursusService.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/module.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusRegistrationCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusRegistrationSearchCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusRegistrationManagementCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusGroupUnregistrationModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusGroupsUnregistrationModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusGroupsListRegistrationModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusUserUnregistrationModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusUsersUnregistrationModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusRegistrationSessionsModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/CursusDescriptionModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Controller/SimpleModalCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Directive/CursusRegistrationListDirective.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Directive/CursusRegistrationInformationsDirective.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Directive/CursusRegistrationGroupsDirective.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Cursus/Directive/CursusRegistrationUsersDirective.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Queue/Controller/CursusQueueManagementCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecursus/js/Registration/Queue/Directive/RegistrationQueueCoursesDirective.js') }}"></script>
{% endblock %}