{% macro showCursus(cursus, hierarchy, selectedCursusId) %}
    {% set cursusId = cursus.getId() %}
    {% set cursusTitle = cursus.getTitle() %}

    {% if cursus.getCourse() is empty %}
        <div class="cursus-element">
            <span class="pointer-hand {% if cursusId == selectedCursusId %}claroline-tag-highlight{% endif %}"
                  data-toggle="collapse"
                  href="#collapse-{{ cursusId }}"
            >
                {{ cursusTitle }}
            </span>

            {% if hierarchy[cursusId] is defined %}
                &nbsp;
                <i class="fa fa-caret-down pointer-hand"
                   data-toggle="collapse"
                   href="#collapse-{{ cursusId }}"
                >
                </i>
            {% endif %}
            &nbsp;
            <a href="{{ path('claro_cursus_registration_management', {'cursus': cursusId}) }}"
               class="fa fa-user registration-btn hidden"
            >
            </a>
        </div>
    {% else %}
        <span>
            <span class="label label-primary {% if cursusId == selectedCursusId %}claroline-tag-highlight{% endif %}">
                {{ cursusTitle }}
            </span>
        </span>
    {% endif %}

    {% if hierarchy[cursusId] is defined %}
        <ul id="collapse-{{ cursusId }}" class="collapse in">
        {% for child in hierarchy[cursusId] %}
            <li>
                {{ _self.showCursus(child, hierarchy, selectedCursusId) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import showCursus %}

{% if hierarchy['root'] is defined %}
    {% for root in hierarchy['root'] %}
        {{ showCursus(root, hierarchy, cursus.getId()) }}
    {% endfor %}
{% endif %}