{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_cursus_tool_registration_index_with_search',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{ 
        path(
            'claro_cursus_tool_registration_index_with_search',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder ,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool_registration' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool_registration'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'claroline_cursus_tool_registration'|trans({}, 'tools') }}
        </h3>
    </div>
    <div id="cursus-registration-panel" class="panel-body">
        {{ macros.flashBox() }}
        
        <br>
        <div class="alert alert-info">
            <span id="close-search-alert-btn" class="close">&times;</span>
            {{ 'results_for_search_on'|trans({}, 'platform') }} :
            "{{ search }}"
        </div>
        
        <div id="selected-cursus-display-box" class="well hidden">
        </div>
        
        <div class="input-group col-md-6 pull-right">
            <input class="form-control"
                   type="text"
                   id="search-cursus-input"
                   placeholder="{{ 'search'|trans({}, 'platform') }}"
                   value="{{ search }}"
            >
            <span class="input-group-btn">
                <button class="filter btn btn-default"
                        type="button"
                        id="search-cursus-btn"
                >
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <br>
        <br>
        <br>
        <div>
            {% if searchedCursus|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                <a href="{{ sortUrl(search, 'title', order, max) }}">
                                    {{ 'title'|trans({}, 'platform') }}
                                </a>
                            </th>
                            <th>
                                {{ 'code'|trans({}, 'platform') }}
                            </th>
                            <th class="text-center">
                                {{ 'description'|trans({}, 'platform') }}
                            </th>
                            <th>
                                <a href="{{ sortUrl(search, 'root', order, max) }}">
                                    {{ displayedWords['cursus'] }}
                                </a>
                            </th>
                            <th class="text-center">
                                {{ 'type'|trans({}, 'platform') }}
                            </th>
                        </tr>

                        {% for cursus in searchedCursus %}
                            {% set course = cursus.getCourse() %}
                            <tr>
                                <td>
                                    <a href=""
                                       class="searched-cursus-title-btn"
                                       data-cursus-id="{{ cursus.getId() }}"
                                    >
                                        {{ cursus.getTitle() }}
                                    </a>
                                </td>
                                <td>
                                    {% if course is empty %}
                                        {{ cursus.getCode() }}
                                    {% else %}
                                        {{ course.getCode() }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if course is empty %}
                                        {% if cursus.getDescription() is empty %}
                                            -
                                        {% else %}
                                            <i class="fa fa-eye view-cursus-description-btn pointer-hand"
                                               data-cursus-id="{{ cursus.getId() }}"
                                               data-cursus-title="{{ cursus.getTitle() }}"
                                            >
                                            </i>
                                        {% endif %}
                                    {% else %}
                                        {% if course.getDescription() is empty %}
                                            -
                                        {% else %}
                                            <i class="fa fa-eye view-course-description-btn pointer-hand"
                                               data-course-id="{{ course.getId() }}"
                                               data-course-title="{{ course.getTitle() }}"
                                            >
                                            </i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if roots[cursus.getRoot()] is defined and roots[cursus.getRoot()] is not empty %}
                                        <span class="view-cursus-hierarchy pointer-hand"
                                              data-cursus-id="{{ roots[cursus.getRoot()].getId() }}"
                                              data-cursus-title="{{ roots[cursus.getRoot()].getTitle() }}"
                                        >
                                            {{ roots[cursus.getRoot()].getTitle() }}
                                        </span>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if course is empty %}
                                        {{ 'node'|trans({}, 'cursus') }}
                                    {% else %}
                                        {{ displayedWords['course'] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            
                {% if searchedCursus.getNbPages() > 1 %}
                    {{ renderPager(searchedCursus, search, orderedBy, order, max) }}
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'no_result'|trans({}, 'cursus') }}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="view-cursus-hierarchy-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-cursus-hierarchy-header" class="modal-header">
                </h3>
                <div id="view-cursus-hierarchy-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>

    <div id="view-description-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-description-header" class="modal-header">
                </h3>
                <div id="view-description-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinecursus/js/cursusToolRegistrationIndex.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}