{% macro showCursus(cursus, hierarchy, lockedHierarchy, selectedCursusId) %}
    {% set cursusId = cursus.getId() %}
    {% set cursusTitle = cursus.getTitle() %}

    {% if cursus.getCourse() is empty %}
        <div class="cursus-element">
            <a href="{{ path('claro_cursus_registration_management', {'cursus': cursusId}) }}"
               {% if cursusId == selectedCursusId %}class="claroline-tag-highlight"{% endif %}
               style="color: #333339"
            >
                {{ cursusTitle }}
            </a>
            
            {% if cursus.isBlocking() %}
                &nbsp;
                <i class="fa fa-lock"></i>
            {% endif %}

            {% if hierarchy[cursusId] is defined %}
                &nbsp;
                <i class="fa fa-caret-down pointer-hand"
                   data-toggle="collapse"
                   href="#collapse-{{ cursusId }}"
                >
                </i>
            {% endif %}
                
            {%
                if (cursusId == selectedCursusId) or
                (
                    lockedHierarchy[cursusId] is defined and
                    (lockedHierarchy[cursusId] == 'up' or lockedHierarchy[cursusId] == 'down')
                )
            %}
                &nbsp;
                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
            {% else %}
                &nbsp;
                <i class="fa fa-times-circle" style="color: #D9534F"></i>
            {% endif %}
        </div>
    {% else %}
        <span>
            <a href=""
               class="label label-primary {% if cursusId == selectedCursusId %}claroline-tag-highlight{% endif %}"
            >
                {{ cursusTitle }}
            </a>
            {%
                if (cursusId == selectedCursusId) or
                (
                    lockedHierarchy[cursusId] is defined and
                    (lockedHierarchy[cursusId] == 'up' or lockedHierarchy[cursusId] == 'down')
                )
            %}
                &nbsp;
                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
            {% else %}
                &nbsp;
                <i class="fa fa-times-circle" style="color: #D9534F"></i>
            {% endif %}
        </span>
    {% endif %}

    {% if hierarchy[cursusId] is defined %}
        <ul id="collapse-{{ cursusId }}" class="collapse in">
        {% for child in hierarchy[cursusId] %}
            <li>
                {{ _self.showCursus(child, hierarchy, lockedHierarchy, selectedCursusId) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import showCursus %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{
        parent() ~
        ' - ' ~
        'claroline_cursus_tool_registration' | trans({}, 'tools') | striptags | raw  ~
        ' - ' ~
        cursus.getTitle()
    }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool_registration'|trans({}, 'tools'),
                'href': path('claro_cursus_tool_registration_index')
            },
            {
                'name': cursus.getTitle(),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ cursus.getTitle() }}
        </h3>
    </div>
    <div class="panel-body">
        {% set course = cursus.getCourse() %}
        
        {% if course is not empty and course.getDescription() is not empty %}
            <div class="well">
                {{ course.getDescription()|raw }}
            </div>
        {% elseif cursus.getDescription() is not empty %}
            <div class="well">
                {{ cursus.getDescription()|raw }}
            </div>
        {% endif %}
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse-hierarchy">
                    {{ 'informations'|trans({}, 'platform') }}
                </a>
            </div>
            <div id="collapse-hierarchy" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                    {% if hierarchy['root'] is defined %}
                        {% for root in hierarchy['root'] %}
                            {{ showCursus(root, hierarchy, lockedHierarchy, cursus.getId()) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse-groups-list">
                    {{ 'groups'|trans({}, 'platform') }}
                </a>
                <span class="pull-right">
                    <i id="register-groups-btn"
                       class="fa fa-users pointer-hand"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="{{ 'register_groups_to_cursus'|trans({}, 'cursus') }}"
                    >
                    </i>
                </span>
            </div>
            <div id="collapse-groups-list" class="panel-collapse collapse in">
                <div class="panel-body">

                    {% if cursusGroups|length > 0 %}
                        <div id="groups-list" class="table-responsive">
                            <table id="groups-list-table" class="table">
                                <tr>
                                    <th><input type="checkbox" name="all" id="check-all-groups"/></th>
                                    <th>{{ 'name'|trans({}, 'platform') }}</th>
                                    <th>{{ 'registration_date'|trans({}, 'cursus') }}</th>
                                    <th class="text-center">
                                        <button id="unregister-selected-groups-btn"
                                                class="btn btn-default disabled"
                                        >
                                            {{ 'unregister_selected_groups'|trans({}, 'cursus') }}
                                        </button>
                                    </th>
                                </tr>

                                {% for cursusGroup in cursusGroups %}
                                    {% set group = cursusGroup.getGroup() %}
                                    <tr id="row-group-{{ cursusGroup.getId() }}">
                                        <td>
                                            <input type="checkbox" value="{{ cursusGroup.getId() }}" class="chk-group-item"/>
                                        </td>
                                        <td>{{ group.getName() }}</td>
                                        <td>{{ cursusGroup.getRegistrationDate()|intl_date_format }}</td>
                                        <td class="text-center">
                                            <span class="btn btn-danger btn-sm pointer-hand unregister-group-btn"
                                                  data-cursus-group-id="{{ cursusGroup.getId() }}"
                                                  data-group-name="{{ group.getName() }}"
                                            >
                                                {{ 'unregister'|trans({}, 'cursus') }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div id="no-group-alert" class="alert alert-warning">
                            {{ 'no_group'|trans({}, 'platform') }}
                        </div>
                        <div id="groups-list" class="table-responsive hidden">
                            <table id="groups-list-table" class="table">
                                <tr>
                                    <th>{{ 'name'|trans({}, 'platform') }}</th>
                                    <th>{{ 'registration_date'|trans({}, 'platform') }}</th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse-users-list">
                    {{ 'users'|trans({}, 'platform') }}
                </a>
                <span class="pull-right">
                    <i id="register-users-btn"
                       class="fa fa-user pointer-hand"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="{{ 'register_users_to_cursus'|trans({}, 'cursus') }}"
                    >
                    </i>
                </span>
            </div>
            <div id="collapse-users-list" class="panel-collapse collapse in">
                <div class="panel-body">

                    {% if cursusUsers|length > 0 %}
                        <div id="users-list" class="table-responsive">
                            <table id="users-list-table" class="table">
                                <tr>
                                    <th>{{ 'firstName'|trans({}, 'platform') }}</th>
                                    <th>{{ 'lastName'|trans({}, 'platform') }}</th>
                                    <th>{{ 'username'|trans({}, 'platform') }}</th>
                                    <th>{{ 'registration_date'|trans({}, 'cursus') }}</th>
                                    <th></th>
                                </tr>

                                {% for cursusUser in cursusUsers %}
                                    {% set user = cursusUser.getUser() %}
                                    <tr id="row-user-{{ cursusUser.getId() }}">
                                        <td>{{ user.getFirstName() }}</td>
                                        <td>{{ user.getLastName() }}</td>
                                        <td>{{ user.getUsername() }}</td>
                                        <td>{{ cursusUser.getRegistrationDate()|intl_date_format }}</td>
                                        <td class="text-center">
                                            <span class="btn btn-danger btn-sm pointer-hand unregister-user-btn"
                                                  data-cursus-user-id="{{ cursusUser.getId() }}"
                                                  data-user-first-name="{{ user.getFirstName() }}"
                                                  data-user-last-name="{{ user.getLastName() }}"
                                                  data-user-username="{{ user.getUsername() }}"
                                            >
                                                {{ 'unregister'|trans({}, 'cursus') }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div id="no-user-alert" class="alert alert-warning">
                            {{ 'no_user'|trans({}, 'platform') }}
                        </div>
                        <div id="users-list" class="table-responsive hidden">
                            <table id="users-list-table" class="table">
                                <tr>
                                    <th>{{ 'firstName'|trans({}, 'platform') }}</th>
                                    <th>{{ 'lastName'|trans({}, 'platform') }}</th>
                                    <th>{{ 'username'|trans({}, 'platform') }}</th>
                                    <th>{{ 'registration_date'|trans({}, 'platform') }}</th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="view-registration-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-registration-header" class="modal-header">
                </h3>
                <div id="view-registration-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>

    <div id="course-registration-session-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close close-course-registration-session-box-btn"
                            aria-hidden="true"
                    >
                        &times;
                    </button>
                    <h3 id="course-registration-session-header">
                        {{ 'sessions_for_registration_selection'|trans({}, 'cursus') }}
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden"
                         id="course-registration-session-unchecked-warning"
                    >
                        <button type="button"
                                id="close-course-registration-session-unchecked-warning"
                                class="close"
                                aria-hidden="true"
                        >
                            &times;
                        </button>
                        {{ 'empty_choices_msg'|trans({}, 'cursus') }}
                    </div>
                    <div id="course-registration-session-content">
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="pull-right">
                        <span class="btn btn-default pointer-hand close-course-registration-session-box-btn">
                            {{ 'cancel'|trans({}, 'platform') }}
                        </span>
                        <span id="confirm-sessions-selection-btn"
                              class="btn btn-primary pointer-hand"
                        >
                            {{ 'ok'|trans({}, 'platform') }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="cursus-datas-box"
         data-cursus-id="{{ cursus.getId() }}"
         data-unlocked-cursus-ids="{{ unlockedIdsTxt }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinecursus/js/cursusRegistrationManagement.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}