{% extends "IcapBadgeBundle::layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ badge.name | striptags | raw }}{% endblock %}

{% trans_default_domain "icap_badge" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{ path('icap_badge_profile_view_badges') }}" class="pull-right" data-toggle="tooltip" data-placement="bottom" title="{{ 'back_to_my_badges'|trans }}"><i class="fa fa-reply"></i></a>
                {{ 'badge'|trans }} "{{ badge.name }}"
            </h3>
        </div>
        <div class="panel-body badge_infos">
            {% if null == userBadge.issuer %}
                <p>{{ 'badge_awarded_automatically_on'|trans({'%awardingDate%': userBadge.issuedAt|date('date_format'|trans({}, 'platform'))}, 'icap_badge') }}</p>
            {% else %}
                <p>{{ 'badge_awarded_on_by'|trans({'%awardingDate%': userBadge.issuedAt|date('date_format'|trans({}, 'platform')), '%awardingIssuer%': '<a href="' ~ path("claro_public_profile_view", {'publicUrl': userBadge.issuer.getPublicUrl()}) ~ '" title="' ~ userBadge.issuer.firstname ~ ' ' ~ userBadge.issuer.lastname ~ '">' ~ userBadge.issuer.firstname ~ ' ' ~ userBadge.issuer.lastname ~ '</a>'}, 'icap_badge')|raw }}</p>
            {% endif %}
            {% if userBadge.isExpiring %}
                {% if userBadge.isExpired %}
                    <p class="alert alert-danger">{{ 'badge_expired_on_date'|trans({'%expirationDate%': userBadge.expiredAt|date('date_format'|trans({}, 'platform'))}) }}</p>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="col-md-2 text-center img_container" style="background-image: url({{ app.request.getSchemeAndHttpHost() ~ asset(badge.webPath) }});"></div>
                <div class="col-md-7">
                    <div class="table-responsive">
                        <table class="badge_informations table table-condensed">
                            <colgroup>
                                <col class="fieldLabelCol">
                                <col class="dataCol">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td class="section-head text-muted" colspan="2">{{ 'badge_details'|trans }}</td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">{{ 'badge_form_name'|trans }}</td>
                                <td>{{ badge.name }}</td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">{{ 'badge_version'|trans }}</td>
                                <td>{{ badge.version }}</td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">{{ 'badge_form_description'|trans }}</td>
                                <td>{{ badge.description }}</td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">{{ 'badge_form_criteria'|trans }}</td>
                                <td>{{ badge.criteria|raw }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if '' != userBadge.comment %}
                <div>
                    <h3>{{ 'comment'|trans({}, 'icap_badge') }} :</h3>
                    {{ userBadge.comment|raw }}
                </div>
            {% endif %}
            {% set nbRules = badge.rules|length %}
            {% if 0 < nbRules %}
                {% if 0 == validatedRules.validRules %}
                    <div class="alert alert-danger">{{ 'badge_awarding_rules_not_respected'|trans({}, 'icap_badge') }}.</div>
                {% elseif validatedRules.validRules < nbRules %}
                    <div class="alert alert-info">{{ 'badge_awarding_some_rules_respected'|trans({'%nbvalidRules%': validatedRules.validRules, '%nbRules%': nbRules}, 'icap_badge') }}.</div>
                {% else %}
                    <div class="badge_rules_resources">
                        <h4>{{ 'actions_lead_to_badge_awarding'|trans({}, 'icap_badge') }} :</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{ 'action'|trans({}, 'platform') }}</th>
                                    <th>{{ 'date'|trans({}, 'platform') }}</th>
                                    <th>{{ 'resource'|trans({}, 'platform') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for validatedRule in validatedRules.rules %}
                                    {% for validatedLog in validatedRule.logs %}
                                        {% set log    = validatedLog.log %}
                                        {% set action = 'log_' ~ log.action ~ '_title' %}
                                        <tr>
                                            <td>{{ action|trans({}, 'log') }}</td>
                                            <td>{{ log.dateLog|date('date_format'|trans({}, 'platform')) }}</td>
                                            <td>
                                                {% if validatedLog.url is not null %}
                                                    {{ validatedLog.url | raw }}
                                                {% else %}
                                                    {% if log.resourceNode != null %}
                                                        <a href="{{ path('claro_resource_open', {'resourceType': log.resourceType.name, 'action': 'open', 'node': log.resourceNode.id})}}">
                                                            {{ log.resourceNode.pathForDisplay }}
                                                        </a>
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
