{% extends 'IcapWikiBundle::layout.html.twig' %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% set nbResults = pager.getNbResults() %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('icap_wiki_view', {"wikiId": _resource.id}) }}">{{_resource.resourceNode.name}}</a></li>
    <li class="active">{{(section.isRoot())?_resource.resourceNode.name:section.activeContribution.title}}</li>
{% endblock %}

{% block wiki_buttons %}
    <div class="wiki-header-buttons">
        <a href="{{ path('icap_wiki_view', { 'wikiId': _resource.id }) }}" class="btn btn-primary"> {{'back_to_wiki'|trans({},'icap_wiki')}}</a>
    </div>
{% endblock %}

{% block wiki_panel %}
    {% block wiki_content %}
        <div class="page-header">
            <h2 class="wiki-title-header">
                {% if section.isRoot() %}
                    {{_resource.resourceNode.name}}
                {% else %}
                    {{section.activeContribution.title}}
                {% endif %}
                : {{'revision_history'|trans({},'icap_wiki')}}
            </h2>     
        </div>
        <div>
            {% if nbResults > 10 %}
            <div class="wiki-history-max-per-page">
                {{'items_per_page'|trans({},'icap_wiki')}} 
                (
                    {% for maxPage in maxPerPageArray %}
                        {% if not loop.first %} |{% endif %}
                        {% if maxPage == pager.getMaxPerPage() %}
                            {{maxPage}}
                        {% else %}
                        <a href="{{ path("icap_wiki_section_history", {'wikiId': _resource.id, 'sectionId' : section.id, 'maxPerPage': maxPage }) }}">{{maxPage}}</a>
                        {% endif %}
                    {% endfor %}
                )
            </div>
            {% endif %}
            {% if pager.haveToPaginate %}
            <div>
                {{
                    pagerfanta(
                        pager,
                        'twitter_bootstrap_translated',
                        {
                            'proximity' : 1,
                            'routeName': 'icap_wiki_section_history',
                            'routeParams': {'wikiId': _resource.id, 'sectionId': section.id, 'maxPerPage': pager.getMaxPerPage()}
                        }
                    )
                }}
            </div>
            {%  endif %}
            <form id="revision-history-form-{{section.id}}" name="icap_wiki_section_revision" method="GET" class="form-vertical wiki-revision-history-form" action="{{ path("icap_wiki_compare_contributions", {'wikiId': _resource.id, 'sectionId' : section.id }) }}">
                {% if nbResults > 1 %}
                <div>
                    <input type="submit" class="btn btn-default btn-sm" value="{{'compare_versions'|trans({},'icap_wiki')}}" class="btn btn-primary"/>
                </div>
                {% endif %}
                <ul id="wiki-section-revision-history-list" class="list-unstyled">
                    {% for contribution in pager %}
                        <li class="wiki-contribution-version">
                            {% if nbResults > 1 %}
                            <input id="wc-oldid-{{contribution.id}}" {% if loop.index == 2 %} checked {% endif %} type="radio" name="oldid" value="{{contribution.id}}"/>
                            <input id="wc-diff-{{contribution.id}}" {% if loop.first %} checked {% endif %} type="radio" name="diff" value="{{contribution.id}}">
                            {% endif %}
                            <a class="wiki-contribution-link" href="{{ path('icap_wiki_contribution_view', {"wikiId": _resource.id, "sectionId": section.id, "contributionId": contribution.id}) }}">
                                {{contribution.creationDate|date("date_format"|trans({},'icap_wiki'))}}
                            </a>
                            <span class="wiki-contribution-contributor"> 
                                {{contribution.contributor.username}} ({{ contribution.contributor.firstName ~ " " ~ contribution.contributor.lastName}}) 
                            </span>
                            {% if contribution.id == section.activeContribution.id %}
                                <span class="wiki-contribution-active text-success">{{'active_contribution'|trans({}, 'icap_wiki')}}</span>
                            {% elseif isAdmin %}
                                <a class="wiki-contribution-set-active btn btn-default btn-xs" href="{{ path('icap_wiki_contribution_active', {"wikiId": _resource.id, "sectionId": section.id, "contributionId": contribution.id})}}">
                                    {{'set_active_contribution'|trans({}, 'icap_wiki')}}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if nbResults > 1 %}
                <div>
                    <input type="submit" class="btn btn-default btn-sm" value="{{'compare_versions'|trans({},'icap_wiki')}}" class="btn btn-primary"/>
                </div>
                {% endif %}
            </form>
        </div>
        {% if pager.haveToPaginate %}
        <div>
            {{
                pagerfanta(
                    pager,
                    'twitter_bootstrap_translated',
                    {
                        'proximity' : 1,
                        'routeName': 'icap_wiki_section_history',
                        'routeParams': {'wikiId': _resource.id, 'sectionId': section.id, 'maxPerPage': pager.getMaxPerPage()}
                    }
                )
            }}
        </div>
        {%  endif %}
        {% if nbResults > 10 %}
        <div class="wiki-history-max-per-page">
            {{'items_per_page'|trans({},'icap_wiki')}} 
            (
                {% for maxPage in maxPerPageArray %}
                    {% if not loop.first %} |{% endif %}
                    {% if maxPage == pager.getMaxPerPage() %}
                        {{maxPage}}
                    {% else %}
                    <a href="{{ path("icap_wiki_section_history", {'wikiId': _resource.id, 'sectionId' : section.id, 'maxPerPage': maxPage }) }}">{{maxPage}}</a>
                    {% endif %}
                {% endfor %}
            )
        </div>
        {% endif %}
    {% endblock %}
{% endblock%}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icapwiki/css/contribution.css') }}'/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'src='{{ asset('bundles/icapwiki/js/history.js') }}'></script>
{% endblock %}