<form id="newSection-form-{{ parentSectionId }}" name="icap_wiki_new_section" method="POST" class="form-vertical" action="{{ path("icap_wiki_new_section", {'wikiId': _resource.id, 'parentSectionId' : parentSectionId }) }}">
	{% if _resource.mode is sameas(1) %}
	<div class="alert alert-warning">{{'moderate_mode_warning'|trans({},'icap_wiki')|raw}}</div>
	{% endif %}
    <div class="control-group">
        <div class="controls">
            {{ form_row(form.activeContribution.title) }}
            {{ form_row(form.activeContribution.text) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <a class="btn btn-default cancel-btn" href="{{ path('icap_wiki_view', {"wikiId": _resource.id}) }}">{% trans %}Cancel{% endtrans %}</a>&nbsp;
    <input type="submit" value="{% trans %}Create{% endtrans %}" class="btn btn-primary"/>
</form>