{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

{% if error %}
    {{ 'security.login_failure'|trans({}, 'ClarolineUserBundle') }}
{% endif %}

<form action="{{ path('claro_user_login_check') }}" method="post">
    <label for="username">{{ 'security.username'|trans({}, 'ClarolineUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.password'|trans({}, 'ClarolineUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login_submit'|trans({}, 'ClarolineUserBundle') }}" />
</form>

{% endblock content %}