<div class="creator content-12" data-type="{{ type }}" {% if content is defined %}data-id="{{ content.id }}"{% endif %}>
    <form role="form" action="{{ path('claroline_content_create') }}" method="post">
        {{ form_widget(form | first) }}
        <div class="panel panel-default">
            <div class="navbar navbar-default navbar-static-top">
                <ul class="nav navbar-nav">
                    <li><a class="pointer-hand addlink"><i class="icon-link"></i> {{ "Add a link" | trans({}, 'home') }}</a></li>
                    <li class="divider-vertical"></li>
                </ul>
                <div class="navbar-form pull-right">
                    {% if content is defined %}
                        <a class="cancel-button btn btn-default">{{ 'Cancel' | trans({}, 'home') }}</a>
                        <a class="edit-button btn btn-primary">{{ 'Edit' | trans({}, 'home') }}</a>
                    {% else %}
                        <a class="creator-button btn btn-primary">{{ 'Create' | trans({}, 'home') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
