{% if content != null %}
    <div class="content-element  {% if region is defined %}col-md-12{% else %}{{ size }}{% endif %}" data-id="{{ content.id }}" data-type="{{ type }}">
        <div class="panel panel-default relative">
            {% render controller("ClarolineCoreBundle:Home:menu", { 'id': content.id, 'size': size, 'type': type, 'father': father, 'region': region }) %}

            {% if content.title != "" %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ content.title }}</h3>
                </div>
            {% endif %}
            <div class="panel-body">
                {% if content.content is defined and content.content != "" %}
                    <p class="text">{{ content.content | autoLink | raw | nl2br }}</p>
                {% endif %}
                {% if content.generatedcontent != "" and content.generatedcontent != null %}
                <div class="generated">
                    <div class="generated-content">
                        {{ content.generatedcontent | raw }}
                    </div>
                </div>
                {% endif %}
                <i class="text-muted">{{ content.created | timeAgo }}</i>
            </div>
        </div>
    </div>
{% endif %}
