<hr/>
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ 'hints' | trans({}, 'ujm_exo') }}</h3></div>
    <div class="panel-body">
        <table>
            {% set nbr_hint = 1 %}
            {% for hint in tryInteraction.question.hints %}
                <tr>
                    <td class="classic">
                        <a href="#"  id="indice_popup" onclick="show_hint('{{hint.id}}',
                            '{{path('ujm_hint_show')}}', '{{ 'consult_hint' | trans({}, 'ujm_exo') }} ?',
                            '{{nbr_hint}}', {{hint.penalty}});event.preventDefault();">
                            {{ 'hint' | trans({}, 'ujm_exo') }} {{nbr_hint}}
                        </a>
                    </td>
                    <td id="div_hint{{nbr_hint}}" class="classic"></td>
                </tr>
                {% set nbr_hint = nbr_hint + 1 %}
            {% endfor %}
        </table>
    </div>
</div>
