{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'teams_creation' | trans({}, 'team') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'claroline_team_tool'|trans({}, 'tools'),
                    'href': path('claro_team_manager_menu', {'workspace': workspace.getId()})
                },
                {
                    'name': 'teams_creation'|trans({}, 'team'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'teams_creation'|trans({}, 'team') }}</h3>
    </div>
    <form role="form"
          class="form-horizontal"
          action="{{ path('claro_team_multiple_create', {'workspace': workspace.getId()}) }}"
          method="post"
          {{ form_enctype(form) }}
          id="form_settings"
          novalidate
    >
        <div class="panel-body">
            {{ form_widget(form) }}
            <div>
                <span id="show-advanced-params-btn"
                      class="btn btn-default btn-sm pointer-hand pull-right"
                >
                    <i id="show-advanced-btn-icon" class="fa fa-eye"></i>
                    <span id="show-advanced-btn-text">
                        {{ 'show_advanced_parameters'|trans({}, 'team') }}
                    </span>
                </span>
            </div>
        </div>
        <br>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_team_manager_menu', {'workspace': workspace.getId()}) }}"
               class="btn btn-default"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'team' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolineteam/js/teamCreateForm.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}
