{% macro renderPager(pager, team, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_team_registration_unregistered_users_list',
                'routeParams': {
                    'team': team.getId(),
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(team, search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}
    {{ 
        path(
            'claro_team_registration_unregistered_users_list',
            {
                'team': team.getId(), 
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% if search != '' %}
    <div class="alert alert-info">
        {{ 'results_for_search_on'|trans({}, 'platform') }} :
        "{{ search }}"
    </div>
{% endif %}

<div class="input-group col-md-6 pull-right">
    <input class="form-control search-user"
           type="text"
           id="search-user-input"
           placeholder="{{ 'search'|trans({}, 'platform') }}"
           value={{search}}
    >
    <span class="input-group-btn">
        <button class="filter btn btn-default search-user-btn"
                type="button"
                id="search-user-btn"
                data-team-id="{{ team.getId() }}"
        >
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
<br>
<br>
<br>

{% if users|length == 0 %}
    <div class="alert alert-warning">
        {{ 'no_user'|trans({}, 'platform') }}
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>
                    <a href="{{ sortUrl(team, search, 'firstName', order, max) }}"
                       data-ordered-by="firstName"
                    >
                        {{ 'firstName'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                    <a href="{{ sortUrl(team, search, 'lastName', order, max) }}"
                       data-ordered-by="firstName"
                    >
                        {{ 'lastName'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                    <a href="{{ sortUrl(team, search, 'username', order, max) }}"
                       data-ordered-by="username"
                    >
                        {{ 'username'|trans({}, 'platform') }}
                    </a>
                </th>
                <th>
                </th>
            </tr>
            
            {% for user in users %}
                {% set userId = user.getId() %}
                <tr id="registration-row-user-{{ user.getId() }}">
                    <td>{{ user.getFirstName() }}</td>
                    <td>{{ user.getLastName() }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td class="text-center">
                        {% if (params.getMaxTeams() is not empty) and
                              (nbTeams[userId] is defined) and
                              (nbTeams[userId] >= params.getMaxTeams())
                        %}
                            <span class="label label-info">
                                {{ 'max_teams_limit_reached'|trans({}, 'team') }}
                            </span>
                        {% else %}
                            {% if (team.getMaxUsers() is not empty) and (team.getUsers()|length >= team.getMaxUsers()) %}
                                {% set disabled = 'disabled' %}
                            {% else %}
                                {% set disabled = '' %}
                            {% endif %}
                            <span class="btn btn-success btn-sm pointer-hand register-btn {{ disabled }}"
                                  data-user-id="{{ userId }}"
                                  data-user-username="{{ user.getUsername() }}"
                                  data-user-first-name="{{ user.getFirstName() }}"
                                  data-user-last-name="{{ user.getLastName() }}"
                            >
                                {{ 'register'|trans({}, 'team') }}
                            </span>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
    {% if users.getNbPages() > 1 %}
        {{ renderPager(users, team, search, orderedBy, order, max) }}
    {% endif %}
{% endif %}