{% macro renderPager(pager, search, max, orderedBy, order) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_users_list_for_user_picker',
                'routeParams': {
                    'search': search,
                    'max': max,
                    'orderedBy': orderedBy,
                    'order': order
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_users_list_for_user_picker',
            {
                'search': search,
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}

<div class="modal-dialog user-picker-modal" id="user-picker-modal">
    <form novalidate="novalidate"
          action=""
          id="user-picker-modal-form" 
          class="modal-content"
    >
        <div class='modal-header'>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
            >
                &times;
            </button>
            <h4 class="modal-title">
                {{ 'user_selector'|trans({}, 'platform') }}
            </h4>
        </div>
        <div class='modal-body' id="user-picker-body">
            {{ render(controller('ClarolineCoreBundle:User:usersListForUserPicker')) }}
        </div>
            
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </button>
            <button type="button"
                    class="btn btn-primary submit"
            >
                {{ 'ok'|trans({}, 'platform') }}
            </button>
        </div>
    </form>
</div>

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinecore/js/user/userPicker.js') }}"
    >
    </script>
{% endblock %}