{% macro renderPager(pager, search, max, orderedBy, order) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_users_list_for_user_picker',
                'routeParams': {
                    'search': search,
                    'max': max,
                    'orderedBy': orderedBy,
                    'order': order
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, max, orderedBy, order) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_users_list_for_user_picker',
            {
                'search': search,
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}

<div class="modal-dialog user-picker-modal" id="user-picker-modal">
    <form novalidate="novalidate"
          action=""
          id="user-picker-modal-form" 
          class="modal-content"
    >
        <div class='modal-header'>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
            >
                &times;
            </button>
            <h4 class="modal-title">
                {{ 'user_selector'|trans({}, 'platform') }}
            </h4>
        </div>
        <div class='modal-body' id="user-picker-body">
            <div>
                <h3 class="col-md-12">{{ 'filters'|trans({}, 'platform') }}</h3>
                <div class="col-md-12 margin-bottom-sm" id="box-filter-level-1">
                    <select class="form-control" id="filter-level-1">
                        <option value="none">
                            --- {{ 'select_a_type'|trans({}, 'platform') }} ---
                        </option>
                        <option value="group">
                            {{ 'group'|trans({}, 'platform') }}
                        </option>
                        <option value="role">
                            {{ 'role'|trans({}, 'platform') }}
                        </option>
                        <option value="workspace">
                            {{ 'workspace'|trans({}, 'platform') }}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 margin-bottom-sm hidden" id="box-filter-level-2">
                    <select class="form-control" id="filter-level-2">
                        <option value="none">
                            {{ 'none'|trans({}, 'platform') }}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 margin-bottom-sm hidden" id="box-filter-level-3">
                    <select class="form-control" id="filter-level-3">
                        <option value="none">
                            {{ 'none'|trans({}, 'platform') }}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 hidden" id="box-filter-create-btn">
                    <span class="btn btn-primary" id="filter-create-btn">
                        {{ 'add_filter'|trans({}, 'platform') }}
                    </span>
                </div>
            </div>
            <hr>
            {{ render(controller('ClarolineCoreBundle:User:usersListForUserPicker')) }}
        </div>
            
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </button>
            <button type="button"
                    class="btn btn-primary submit"
            >
                {{ 'ok'|trans({}, 'platform') }}
            </button>
        </div>
    </form>
</div>

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinecore/js/user/userPicker.js') }}"
    >
    </script>
{% endblock %}