{% macro renderPager(pager, search, max, orderedBy, order, mode, showAllUsers, showUsername, showMail, showCode) %}
    {% if search is empty %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_users_list_for_user_picker',
                    'routeParams': {
                        'max': max,
                        'orderedBy': orderedBy,
                        'order': order,
                        'mode': mode,
                        'showAllUsers': showAllUsers,
                        'showUsername': showUsername,
                        'showMail': showMail,
                        'showCode': showCode
                    }
                }
            )
        }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_searched_users_list_for_user_picker',
                    'routeParams': {
                        'search': search,
                        'max': max,
                        'orderedBy': orderedBy,
                        'order': order,
                        'mode': mode,
                        'showAllUsers': showAllUsers,
                        'showUsername': showUsername,
                        'showMail': showMail,
                        'showCode': showCode
                    }
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% macro sortUrl(search, max, orderedBy, order, mode, showAllUsers, showUsername, showMail, showCode) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{
        path(
            'claro_users_list_for_user_picker',
            {
                'search': search,
                'max': max,
                'orderedBy': orderedBy,
                'order': newOrder,
                'mode': mode,
                'showAllUsers': showAllUsers,
                'showUsername': showUsername,
                'showMail': showMail,
                'showCode': showCode
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}
        
{% if search != '' %}
    <div class="alert alert-info">
        {{ 'results_for_search_on'|trans({}, 'platform') }} :
        "{{ search }}"
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="input-group margin-bottom-md">
            <input class="form-control search-user"
                   type="text"
                   id="search-user-input"
                   placeholder="{{ 'search'|trans({}, 'platform') }}"
                   value="{{ search }}"
            >
            <span class="input-group-btn">
                <button class="filter btn btn-default search-user-btn"
                        type="button"
                        id="search-user-btn"
                >
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group margin-bottom-md pull-right">
            {{ maxResultsSelectBox(max, "$('#max-results-button').trigger('click');", 'users_per_page') }}
        </div>
    </div>
</div>

{% if users.getNbPages() > 1 %}
    {{ renderPager(users, search, max, orderedBy, order, mode, showAllUsers, showUsername, showMail, showCode) }}
{% endif %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    {% if mode == 'multiple' %}
                        <input type="checkbox" id="picker-all-users-chk">
                    {% endif %}
                </th>
                <th>
                    <a href="{{ sortUrl(search, max, 'lastName', order, mode, showAllUsers, showUsername, showMail, showCode) }}">
                        {{ 'name'|trans({}, 'platform') }}
                    </a>
                </th>
                
                {% if showUsername == '1' %}
                    <th>
                        <a href="{{ sortUrl(search, max, 'username', order, mode, showAllUsers, showUsername, showMail, showCode) }}">
                            {{ 'username'|trans({}, 'platform') }}
                        </a>
                    </th>
                {% endif %}
                
                {% if showMail == '1' %}
                    <th>
                        <a href="{{ sortUrl(search, max, 'mail', order, mode, showAllUsers, showUsername, showMail, showCode) }}">
                            {{ 'mail'|trans({}, 'platform') }}
                        </a>
                    </th>
                {% endif %}
                
                {% if showCode == '1' %}
                    <th>
                        <a href="{{ sortUrl(search, max, 'administrativeCode', order, mode, showAllUsers, showUsername, showMail, showCode) }}">
                            {{ 'code'|trans({}, 'platform') }}
                        </a>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

            {% for user in users %}
                {% set userId = user.getId() %}
                <tr>
                    <td class="text-center">
                        {% if mode == 'multiple' %}
                            <input type="checkbox"
                                   class="picker-user-chk"
                                   id="picker-user-chk-{{ userId }}"
                                   value="{{ userId }}"
                                   data-user-first-name="{{ user.getFirstName() }}"
                                   data-user-last-name="{{ user.getLastName() }}"
                                   {% if showUsername == '1' %}
                                       data-user-username="{{ user.getUsername() }}"
                                   {% endif %}
                            >
                        {% elseif mode == 'single' %}
                            <input type="radio"
                                   name="picker-user-radio"
                                   class="picker-user-chk"
                                   id="picker-user-chk-{{ userId }}"
                                   value="{{ userId }}"
                                   data-user-first-name="{{ user.getFirstName() }}"
                                   data-user-last-name="{{ user.getLastName() }}"
                                   {% if showUsername == '1' %}
                                       data-user-username="{{ user.getUsername() }}"
                                   {% endif %}
                            >
                        {% endif %}
                    </td>
                    <td>
                        <span class="picker-user-select pointer-hand"
                              data-user-id="{{ userId }}"
                        >
                            {{ user.getFirstName() }} {{ user.getLastName() }}
                        </span>
                    </td>
                
                    {% if showUsername == 1 %}
                        <td>
                            <span class="picker-user-select pointer-hand"
                                  data-user-id="{{ userId }}"
                            >
                                {{ user.getUsername() }}
                            </span>
                        </td>
                    {% endif %}
                
                    {% if showMail == 1 %}
                        <td>
                            <span class="picker-user-select pointer-hand"
                                  data-user-id="{{ userId }}"
                            >
                                {{ user.getMail() }}
                            </span>
                        </td>
                    {% endif %}

                    {% if showCode == 1 %}
                        <td>
                            <span class="picker-user-select pointer-hand"
                                  data-user-id="{{ userId }}"
                            >
                                {{ user.getAdministrativeCode() }}
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if users.getNbPages() > 1 %}
    {{ renderPager(users, search, max, orderedBy, order, mode, showAllUsers, showUsername, showMail, showCode) }}
{% endif %}

<div id="user-picker-datas-box"
     data-search="{{ search }}"
     data-page="{{ page }}"
     data-max="{{ max }}"
     data-ordered-by="{{ orderedBy }}"
     data-order="{{ order }}"
</div>