{# Affichage du tableau de l'onglet "Espaces partagés" #}
<tr>
    <td>{{ drop.user.lastName|upper }}</td>
    <td>{{ drop.user.firstName|capitalize }}</td>
    <td>{{ drop.user.userName|capitalize }}</td>
    <td>{{ document.documentDate|date('formatDatetime'|trans({}, 'innova_collecticiel')) }}</td>
    <td>
        <!-- Afficher ici la valeur "Devoirs à corriger" modifiée en "Etat" -->
        {% include 'InnovaCollecticielBundle:Document:documentsNbTextToRead.html.twig' %}
    </td>
    <td> <!-- Appel de la vue "Vue d'un fichier" où seront affichés les différents commentaires. -->
        <div class="btn-group ">
            <a href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id}) }}" type="button" class="btn btn-default btn-sm">
                {{ 'To display'|trans({}, 'innova_collecticiel') }}
            </a>
        </div>
    </td>
</tr>
