{# Affichage du tableau de l'onglet "Espaces partagés" #}
<tr>
    <td>{{ drop.user.lastName|upper }}</td>
    <td>{{ drop.user.firstName|capitalize }}</td>
    <td>{{ drop.user.userName|capitalize }}</td>
    <td>
        {# Afficher ici la valeur "Documents déposés" #}
        {% include 'InnovaCollecticielBundle:Document:documentsNbDocDropped.html.twig' %}
    </td>
    <td>
        {# Afficher ici la valeur "Demandes adressées" #}
        {% include 'InnovaCollecticielBundle:Document:documentsNbAddressedRequests.html.twig' %}
    </td>
    <td> {# Appel de la vue "Espaces collecticiel". #}
        <div class="btn-group ">
            <a href="{{ path('innova_collecticiel_drop_switch',
            {'resourceId': dropzone.id, 'userId': drop.user.id}
            ) }}" type="button" class="btn btn-default btn-sm">
                {{ 'To display'|trans({}, 'innova_collecticiel') }}
            </a>
        </div>
    </td>
</tr>
