<!-- Vue donnant la liste des espaces partagés. Exemple d'URL : innovacollecticielbundle/4/shared/spaces -->
<table class="table table-striped table-hover sharedSpacesTable datatable">
    <thead>
    {% if dropzone.picture == 1  %}
        <th class="centered"></th>
    {% endif %}

    <th class="nameColumn">{{ 'Name'|trans({},'innova_collecticiel') }}</th>
    <th class="nameColumn">{{ 'First name'|trans({},'innova_collecticiel') }}</th>

    {% if dropzone.username == 1  %}
        <th class="usernameColumn">{{ 'Nickname'|trans({},'innova_collecticiel') }}</th>
    {% endif %}

    <th class="centered">{{ 'Submissions'|trans({},'innova_collecticiel') }}</th>
    <th class="centered">{{ 'Addressed requests'|trans({},'innova_collecticiel') }}</th>
    <th class="centered no-sort">{{ 'Spaces collecticiel'|trans({},'innova_collecticiel') }}</th>
    </thead>
    <tbody>
        {# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
        {% for drop in pager.currentPageResults %}
            {# Séparation de l'affichage de la vue. InnovaERV #}
            {% include 'InnovaCollecticielBundle:Drop:Shared/dropsSharedList.html.twig'%}
        {% endfor %}

        {# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
        {% for usersByWorkspace in usersByWorkspaces %}
            {% set findUser = false %}
            {% for userName in pager.currentPageResults %}
                {% if usersByWorkspace.userName == userName.user.userName %}
                    {% set findUser = true %}
                {% endif %}
            {% endfor %}
            {# J'affiche la ligne si l'utilisateur n'a pas déjà été affiché. InnovaERV #}
            {# Ce cas signifie que l'étudiant est inscrit mais qu'il n'a pas encore déposé. InnovaERV #}
            {% if findUser == false %}
                {% include 'InnovaCollecticielBundle:Drop:Shared/dropsSharedListUsersByWorkspaces.html.twig'%}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
