<div id="modal-resource-tag-form" 
     class="modal-dialog" 
     role="dialog" 
     aria-labelledby="modalLabel" 
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'tag_resource'|trans({}, 'tag') }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="well well-sm">
                <b>{{'resource'|trans({}, 'platform') }} :</b>
                {{ resourceNode.getName() }}
                <br>
                <b>{{'type'|trans({}, 'platform') }} :</b>
                {{ resourceNode.getResourceType().getName()|trans({}, 'resource') }}
            </div>
            <br>
            <div id='tags-display-box'>
                {% for resourceTag in resourceTags %}
                    <span class="label label-success margin-bottom-sm margin-right-sm tag-element"
                          data-tag-id="{{ resourceTag.getId() }}"
                          data-resource-id="{{ resourceNode.getId() }}"
                    >
                        <i class="fa fa-tag"></i>
                        {{ resourceTag.getName() }}
                        {% if is_granted('EDIT', resourceNode) %}
                            <i class="fa fa-remove remove-tag-from-object-btn pointer-hand" ></i>
                        {% endif %}
                    </span>
                {% endfor %}
            </div>
            <br>
             {% if is_granted('EDIT', resourceNode) %}
                <form id="resource-tag-form"
                      action="{{ path('claro_tag_resource_tag', {'resourceNode': resourceNode.getId()}) }}"
                      method="POST"
                      novalidate="novalidate"
                      autocomplete="off"
                >
                    {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
                    {{ form_widget(form) }}
                     <div><small class='text-muted'>{{ 'tag_resource_help'|trans({}, 'tag') }}</small></div>
                    <br>
                    <span class="pull-right">
                        <span class="btn btn-default" data-dismiss="modal">
                            {{ 'cancel'|trans({},'platform') }}
                        </span>
                        <button type="submit" id='tag-btn' class="btn btn-primary">
                            {{ 'ok'|trans({},'platform') }}
                        </button>
                    </span>
                </form>
             {% endif %}
            <br>
            <br>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src='{{ asset('bundles/clarolinetag/js/bootstrap3-typeahead.js') }}'
            type="text/javascript"
    >
    </script>
    <script src='{{ asset('bundles/clarolinetag/js/tag-typeahead.js') }}'
            type="text/javascript"
    >
    </script>
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'tag' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinetag/js/tagsManagement.js') }}'
            type="text/javascript"
    >
    </script>
    <script type="text/javascript">
        var allTags = [{% for tag in tags %}'{{ tag.getName() }}'{% if not loop.last %}, {% endif %}{% endfor %}];
        new TagTypeAhead({'tags': allTags});
    </script>
{% endblock %}