<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h3 class="modal-title">
        {{ 'tag_workspace'|trans({}, 'tag') }}
        <br>
        <small>{{ workspace.getName() }} ({{ workspace.getCode() }})</small>
    </h3>
</div>
<form
    id="workspace-tag-form"
    action="{{ path('claro_tag_workspace_tag', {'workspace': workspace.getId()}) }}"
    method="POST"
    novalidate="novalidate"
    autocomplete="off"
>
    <div class="modal-body">
        <div>
            {% for workspaceTag in workspaceTags %}
            <span class="label label-primary margin-bottom-sm margin-right-sm">
                <span class="fa fa-fw fa-tag"></span>
                {{ workspaceTag.getName() }}
            </span>
            {% endfor %}
        </div>

        <br />

        {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
        {{ form_widget(form) }}
    </div>

    <div class="modal-footer text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {{ 'cancel'|trans({},'platform') }}
        </button>

        <button type="submit" id="tag-btn" class="btn btn-primary">
            {{ 'ok'|trans({},'platform') }}
        </button>
    </div>
</form>

{% block javascripts %}
    <script src="{{ asset('bundles/clarolinetag/js/bootstrap3-typeahead.js') }}"></script>
    <script src="{{ asset('bundles/clarolinetag/js/tag-typeahead.js') }}"></script>
    <script>
        var allTags = [{% for tag in tags %}'{{ tag.getName() }}'{% if not loop.last %}, {% endif %}{% endfor %}];
        new TagTypeAhead({'tags': allTags});
    </script>
{% endblock %}
