{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'admin_third_party_application' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'admin_third_party_application'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    {{ macros.flashBox() }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'admin_third_party_application'|trans({}, 'platform') }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'name'|trans({}, 'api') }}</th>
                            <th>{{ 'urls'|trans({}, 'api') }}</th>
                            <th>{{ 'grant_types'|trans({}, 'api') }}</th>
                            <th>{{ 'actions'|trans({}, 'api') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>{{ client.name }}</td>
                            <td>
                                {% for redirectUrl in client.redirectUris %}
                                    <span><a href="{{ redirectUrl }}" title="{{ redirectUrl }}" class="label label-default">{{ redirectUrl }}</a></span>
                                {% else %}
                                    <span>{{ 'no_redirect_urls'|trans({}, 'api') }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% for grantType in client.allowedGrantTypes %}
                                    {% set grantTypeKey = grantType ~ '_grant_type' %}
                                    <span class="label label-primary">{{ grantTypeKey|trans({}, 'api') }}</span>
                                {% else %}
                                    <span>{{ 'no_grant_types'|trans({}, 'api') }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin_application_delete', {'client_id': client.id}) }}" title="{{ 'thrid_party_application_delete_confirm_title'|trans({}, 'api') }}" class="btn btn-danger delete" data-confirm-title="{{ 'thrid_party_application_delete_confirm_title'|trans({}, 'api') }}" data-confirm-message="{{ 'thrid_party_application_delete_confirm_message'|trans({'%application%': client.name}, 'api')|raw }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-confirm-style="danger" role="button">
                                    {{ 'delete'|trans({}, 'platform') }}
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">{{ 'no_app_connect_to_platform'|trans({}, 'api') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type="text/javascript">
        $(function() {
            $('.delete').confirmModal();
        });
    </script>
{% endblock %}
