{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% import 'InnovaCollecticielBundle::macros.html.twig' as dropzoneMacros %}
{#  Ajout de l'appel aux macros Collecticiel InnovaERV #}
{% import 'InnovaCollecticielBundle::macrosCollecticiel.html.twig' as collecticielMacros %}
{% import 'InnovaCollecticielBundle::macrosCollecticielDocumentDisplay.html.twig' as collecticielDocumentMacros %}
{% import 'InnovaCollecticielBundle::macrosCollecticielDocumentDisplayAddComments.html.twig' as collecticielDocumentMacrosAddComments %}

{#
Modification ERV (août 2015) InnovaERV
suite demande JJQ, voir son document de référence d'août 2015
il faut venir sur l'onglet "Mon espace collecticiel" et non plus sur "Drop"
Point 5 du document, vu avec Axel
#}

{% block resourceBreadcrumb %}
    <li class="active">
        <span class="fa fa-file"></span> <a href="{{ path('innova_collecticiel_drop', {'resourceId': _resource.getId() }) }}">
            {{ _resource.getResourceNode().getName() }}
        </a>
    </li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false filter='less, cssmin' output='css/innovacollecticiel/style.css'
      "@InnovaCollecticielBundle/Resources/views/less/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset("bundles/innovacollecticiel/css/player.css") }}" />
    <link rel="stylesheet" href="{{ asset("bundles/innovacollecticiel/css/datatables.css") }}" />
{% endblock %}

{% block section_content %}
    {% block dropzone_content %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ url('bazinga_jstranslation_js', { 'domain':'innova_collecticiel' }) }}"></script>
    <script src="{{ asset("bundles/innovacollecticiel/js/datatables.min.js") }}" ></script>
    <script src="{{ asset("bundles/innovacollecticiel/js/datatables-init.js") }}" ></script>
{% endblock %}
