{% macro innovaDocumentDisplay(dropzone, width, mode, documentListText, arrayDocsToView) %}
    <div class="row">
        <div class="col-md-{{ width }}">
            {% if documentListText is not null %}
                <h4 class="text-muted">{{ documentListText }}</h4>
            {% endif %}
            <table class="table table-responsive {% if mode == "condensed" %}table-condensed{% endif %} well table-striped">
                    <thead>
                        <tr class="text-left">
                            <th></th>
                            <th>{{ 'Type of document'|trans({}, 'innova_collecticiel') }}</th>
                            <th>{{ 'Name of document'|trans({}, 'innova_collecticiel') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in arrayDocsToView %}
                            <tr id="row_{{ document.id }}">
                                {# Suppression de l'ID
                                <td>{{ document.id }}</td> #}
                                <td></td>
                                <td>{{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}</td>
                                <td>
                                {% if document.url is not null %}
                                    <a target="_blank"
                                       href="{{ document.url }}">{{ document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url }}</a>
                                {% else %}
                                    <a target="_blank"
                                       href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
{% endmacro %}
