{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'external_user_group_parameters' | trans({}, 'claro_external_user_group') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'external_user_group_parameters'|trans({}, 'claro_external_user_group'),
        'href': path('claro_admin_external_sync_config_index')
    },
    {
        'name': 'new_source'|trans({}, 'claro_external_user_group'),
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'new_source'|trans({}, 'claro_external_user_group') }}</h1>
    </div>
    {{ macros.flashBox() }}
    <div class="page-body">
        <form role="form" class="form-horizontal" autocomplete="false" action="{{path('claro_admin_external_sync_post_new_source')}}" method="post" {{ form_enctype(form) }} id="form_settings" enctype='multipart/form-data'>
            {{ form_widget(form) }}
            <div class="form-group row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">{{ 'create'|trans({}, 'platform') }}</button>
                    <a href="{{ path('claro_admin_external_sync_config_index') }}" type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}