{% extends 'ClarolineCoreBundle:Install:layout.html.twig' %}
{% block content %}
<div class="col-md-3">
    <h3> Progression</h3>
    <ol class="nav nav-list">
        {%block naviguation %}
         {{ parent() }}
        {%endblock %}
    </ol>
    <p>  Progression</p>
    <div class="progress">
        <div class="bar" style="width: 95%;"></div>
    </div>
    </div>
    <div class="col-md-6">
        {%block data %}
            <h3> {{ 'step_4'|trans({}, 'install') }} </h3>
            <form role="form" action="{{ path('claro_execute') }}" method="post" >
                <fieldset>
                    <legend> {{'general'|trans({},'install')}}</legend>
                    <ul>
                        <li><strong> {{ 'language'|trans({}, 'install') }}</strong> :{{ value.locale }} </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend> {{ 'database'|trans({}, 'install') }} </legend>
                    <ul>
                        <li><strong> {{ 'db_host'|trans({}, 'install') }}</strong> :{{ value.dbHost }}</li>
                        <li><strong>{{ 'db_name'|trans({}, 'install') }}</strong> :{{ value.dbName }}</li>
                        <li><strong>{{ 'username'|trans({}, 'install') }}</strong> :{{ value.dbUser }}</li>
                        <li><strong>{{ 'password'|trans({}, 'install') }}</strong> :{{ value.dbPassword }}</li>
                        <li><strong>{{ 'driver'|trans({}, 'install') }}</strong> :{{ value.dbDriver }}</li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend> {{ 'administrator_profil'|trans({}, 'install') }} </legend>
                    <ul>
                        <li><strong>{{'last_name'|trans({}, 'platform') }}</strong> <span class="orange"> :{{ value.lastName }} </span></li>
                        <li><strong> {{'first_name'|trans({}, 'platform') }} </strong> :{{ value.firstName }}</li>
                        <li><strong>{{'username'|trans({}, 'platform') }}</strong> :{{ value.username }}</li>
                        <li><strong>{{'password'|trans({}, 'platform') }} </strong> :{{ value.plainPassword.first }}</li>
                        <li><strong>Adresse E-email</strong> :{{ value.email }}</li>
                    </ul>
                </fieldset>
                <input type="submit" value="{{ 'next'|trans({}, 'install') }}" class="btn btn-primary"/>
            </form>
            <form action="{{ path('claro_showAdminForm') }}" method="post" >
                <input type="submit" name="submit" value="{{ 'back'|trans({}, 'install') }}" class="btn btn-default"/>
            </form>
        </form>


        {%endblock data %}
</div>
<div class="col-md-2">
    <h3> {{ 'hint'|trans({}, 'install') }}</h3>
    <div class="action">
       <div class="well"> {{ 'hint_5'|trans({}, 'install') }}</div>
    </div>
</div>
<div class="col-md-12">

</div>

</div>
<div class="alert alert-danger">
        {% for key, flash in app.session.getFlashes() %}
        {{ flash }}
        {% endfor %}
    </div>
{% endblock %}
