{% extends "ClarolineForumBundle::layout.html.twig" %}

{% block title %}{{ 'edit_message' | trans({}, 'forum') ~ ' (' ~ subject.getTitle() ~ ')' ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_forum_subjects', { 'category': subject.getCategory().getId() }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li><a href="{{ path('claro_forum_messages', {'subject': subject.getId()}) }}">{{ subject.getTitle() }}</a></li>
    <li class="active">{{ 'new_message'|trans({}, 'forum') }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'edit_message'|trans({}, 'forum') }}</h3>
    </div>
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form novalidate="novalidate" action="{{ path('claro_forum_edit_message', {'message': message.getId()}) }}" method="post" {{ form_enctype(form) }} id="message_form">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">{{ 'ok' | trans({}, 'platform' )}}</button>
            <a class="btn btn-default" href="{{ path('claro_forum_messages', {'subject': subject.getId()}) }}">{{ 'cancel' | trans({}, 'platform' )}}</a>
        </div>
    </form>
{% endblock %}
