{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <div class="col-lg-3">
            <div class="list-group menu">
                <div class="list-group-item disabled">
                    {{ 'workspaces' | trans({}, "platform")}}
                </div>
                <a class="list-group-item{{ "/workspaces/" | activeLink  }}" href="{{ path('claro_workspace_list') }}">
                    <i class="icon-book"></i>
                    {{ 'all_workspaces'|trans({}, 'platform') }}
                </a>
                <a class="list-group-item {{ "/workspaces/user" | activeLink  }}" href="{{ path('claro_workspace_by_user') }}">
                    <i class="icon-book"></i>
                    {{ 'my_workspaces'|trans({}, 'platform') }}
                </a>
                {% if is_granted('ADMIN') %}
                    <a class="list-group-item {{ "/workspaces/new/form" | activeLink  }}" href="{{ path('claro_workspace_creation_form') }}">
                        <i class="icon-pencil"></i>
                        {{ 'create_workspace'|trans({}, 'platform') }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="{% if is_granted('ROLE_USER') %}col-lg-9{% else %}col-lg-12{% endif %}">
        <div class="panel panel-default">
            {% block section_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
