{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked">
                <li class="disabled">
                <a><b>{{ 'workspaces' | trans({}, "platform")}}</b></a>
                </li>
                <li class="{{ "/workspaces/" | activeLink  }}">
                <a href="{{ path('claro_workspace_list') }}">
                    <i class="icon-book"></i>
                    <i class="icon-chevron-right pull-right"></i>
                    {{ 'all_workspaces'|trans({}, 'platform') }}
                </a>
                </li>
                <li class="{{ "/workspaces/user" | activeLink  }}">
                <a href="{{ path('claro_workspace_by_user') }}">
                    <i class="icon-book"></i>
                    <i class="icon-chevron-right pull-right"></i>
                    {{ 'my_workspaces'|trans({}, 'platform') }}
                </a>
                </li>
                {% if is_granted('ADMIN') %}
                    <li>
                    <a href="{{ path('claro_workspace_creation_form') }}">
                        <i class="icon-pencil"></i>
                        <i class="icon-chevron-right pull-right"></i>
                        {{ 'create_workspace'|trans({}, 'platform') }}
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="border {% if is_granted('ROLE_USER') %}span9{% else %}span12{% endif %}">
        {% block section_content %}
        {% endblock %}
    </div>
{% endblock %}
