{% extends "ClarolineCoreBundle:WorkspaceTag:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'create_new_tag'|trans({}, 'platform') }}</h3>
    </div>

    <form class="form-horizontal"
          id="workspace_tag_form"
          action="{{ path('claro_workspace_tag_create', {'userId': user.getId()}) }}"
          method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_workspace_manage_tag') }}">
                    <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
