{% extends "ClarolineCoreBundle:WorkspaceTag:layout.html.twig" %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'my_workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_by_user', {'userId': user.getId()})
            },
            {
                'name': 'tags_management'|trans({}, 'platform'),
                'href': 'claro_workspace_manage_tag'
            },
            {
                'name': 'creation'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'create_new_tag'|trans({}, 'platform') }}</h3>
    </div>
    <form class="form-horizontal"
          id="workspace_tag_form"
          action="{{ path('claro_workspace_tag_create', {'userId': user.getId()}) }}"
          method="post" {{ form_enctype(form) }}>
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_workspace_manage_tag') }}">
                <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
{% endblock %}
