{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block content %}
<div class="span2">
  <img height="100px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/user.png')}}" />
</div>
<div class="span10">
    {{ 'first_name'|trans({}, 'platform') }}: {{ user.getFirstName() }}<br/>
    {{ 'last_name'|trans({}, 'platform') }}: {{ user.getLastName() }}<br/>
    {{ 'username'|trans({}, 'platform') }}: {{ user.getUsername() }}<br/>
    {{ 'mail'|trans({}, 'platform') }}: {{ user.getMail() }}<br/>
    {{ 'phone'|trans({}, 'platform') }}: {{ user.getPhone() }}<br/>
    {{ 'creation_date'|trans({}, 'platform') }} : {{ user.getCreationDate()|date("d-m-Y H:i:s") }}
</div>

<a href="{{path('claro_mail_form', {'userId':user.getId()})}}">{{ 'send_mail'|trans({}, 'platform') }}</a><br/>
<a href="{{path('claro_message_form')}}?ids[]={{ user.getId() }}">{{ 'send_message'|trans({}, 'platform') }}</a><br/>
{% endblock %}