{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ user.getLastName() }} {{ user.getFirstName() }}
                    <em class="muted"> ({{ user.getUsername() }})</em>
                </h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        {% if user.getPhoto() != "" %}
                            <img src="{{ user.getPhoto() }}">
                        {% else %}
                            <div class="jumbotron">
                                <h1><i class="icon-user"></i><h1>
                            </div>
                        {% endif %}
                    </div>

                    <p>
                        {% if user.getMail() != "" %}
                            <i class="icon-envelope"></i> {{ user.getMail() }}
                            &nbsp;
                        {% endif %}
                        {% if user.getPhone() != "" %}
                            <i class="icon-phone"></i> {{ user.getPhone() }}
                        {% endif %}
                    </p>
                    <p class="muted">{{ 'user'|trans({}, 'platform') }} {{ user.getCreationDate()| timeAgo }}</p>
                    <p>
                        <a class="btn btn-default" href="{{path('claro_mail_form', {'userId':user.getId()})}}"><i class="icon-envelope"></i> {{ 'send_mail'|trans({}, 'platform') }}</a>
                        <a class="btn btn-default" href="{{path('claro_message_show', {'message': 0})}}?ids[]={{ user.getId() }}"><i class="icon-comment"></i> {{ 'send_message'|trans({}, 'platform') }}</a>
                    </p>
                </div>
                <div class="badges">
                    <h3>{{ 'badges'|trans({}, 'badge') }}</h3>

                    {% include 'ClarolineBadgeBundle:Badge:display.html.twig' with {'badgeUrl': 'claro_view_badge', 'paginationurl': 'claro_profile_view', 'routeParams': {'userId': user.id}} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
