{% extends "IcapDropzoneBundle:Drop:dropsByBase.html.twig" %}
{% block resourceBreadcrumb %}
    <li><a href="{{ path('icap_dropzone_edit_common',{'resourceId':dropzone.id}) }}"><span
                    class="glyphicon icon-list"></span>  {{ dropzone.resourceNode.name }}</a></li>
    <li class="active">
        {{ 'Examiners'|trans({}, 'icap_dropzone') }}
    </li>
{% endblock %}
{% block dropzone_content_drops_by_navbar %}
    <ul class="nav navbar-nav">
        <li >
            <a href="{{ path('icap_dropzone_drops_by_default', {'resourceId': dropzone.id}) }}">
                {{ 'Copies evaluation finished'|trans({}, 'icap_dropzone') }} <span class="badge">{{ nbDropCorrected }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('icap_dropzone_drops_awaiting', {'resourceId': dropzone.id}) }}">
                {{ 'Copies being evaluated'|trans({}, 'icap_dropzone') }} <span class="badge">{{ nbDrop - nbDropCorrected }}</span>
            </a>
        </li>
        <li class="active">
            <a href='{{ path('icap_dropzone_examiners', {'resourceId': dropzone.id}) }}'>
                {{ 'Examiners'|trans({}, 'icap_dropzone') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block dropzone_content_drops_by_default %}
{% endblock %}
{% block dropzone_content_drops_by_user %}
{% endblock %}
{% block dropzone_content_drops_by_date %}  
{% endblock %}
{% block dropzone_content_drops_by_reported %}  
{% endblock %}

{% block dropzone_content_drops_by_list_title %}
    {{ 'List of examiners'|trans({}, 'icap_dropzone') }}
{% endblock %}
{% block dropzone_content_drops_by_list_subtitle %}
    {{ 'People that have a copy in this dropzone'|trans({}, 'icap_dropzone') }}
{% endblock %}

{% block dropzone_content_drops_by_Listing %}
    {% include 'IcapDropzoneBundle:Drop:Listing/examinersListing.html.twig' %}
{% endblock %}

{% block dropzone_content_drops_by_pager %}
        {% if pager.haveToPaginate %}
            {{
            pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
            'proximity' : 1,
            'routeName': 'icap_dropzone_examiners_paginated',
            'routeParams': {'resourceId': dropzone.id}
            }
            )
            }}
        {% endif %}
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('document').ready(function () {
            $('.popoverItem').popover({
                'trigger': 'hover',
                'html': true
            });
        });
    </script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        table th div.popover {
            font-weight: normal;
        }
    </style>
{% endblock %}