{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% set blogOptions = _resource.options %}
{% block content %}
    <blog-main>
        <h1 data-ng-cloak data-ng-if="main.blog.options.display_title">
            <a class="blog_title" data-ng-click="main.goToHome()" data-ng-bind-html="main.blog.name | trust_html"></a>
        </h1>

        <banner-configurator></banner-configurator>
        <banner></banner>

        <div class="row button_block">
            {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('ADMINISTRATE', _resource) or is_granted('POST', _resource) or is_granted('ROLE_ADMIN') or config.getParameter('is_pdf_export_active') == true %}
            <div class="col-md-12">
                <button
                    data-ng-if="main.blog.isGrantedAdmin || main.blog.isGrantedPost"
                    class="btn btn-default"
                    data-ng-click="main.newPost()">
                    <span class="fa fa-plus"></span> {{ 'new_post'|trans({}, 'icap_blog') }}
                </button>

                <button
                    data-ng-click="main.displayOptions()"
                    data-ng-if="main.blog.isGrantedAdmin"
                    class="btn btn-default">
                    <i class="fa fa-wrench"></i> {{ 'options'|trans({}, 'platform') }}
                </button>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class})) }}
                {% endif %}
                {% if config.getParameter('is_pdf_export_active') == true %}
                    <a href="{{ path('icap_blog_view_pdf', {'blogId':_resource.id}) }}" target="_blank" class="btn btn-default"><i class="fa fa-file-pdf-o text-danger"></i> {{ 'pdf_export'|trans({}, 'platform') }}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye"></span>{{ 'show_as'|trans({}, 'platform') }} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% if has_role_access_to_workspace('ROLE_ANONYMOUS', _resource.resourceNode.workspace.id) %}
                                <li>
                                    <a href="?view_as=ROLE_ANONYMOUS_{{ _resource.resourceNode.workspace.id }}">
                                        {{ 'anonymous'|trans({}, 'platform') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% for role in _resource.resourceNode.workspace.roles %}
                                {% if has_role_access_to_workspace(role.getName(), _resource.resourceNode.workspace.id) %}
                                    <li>
                                        <a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}?view_as={{ role.getName() }}">
                                            {{ role.getTranslationKey()|trans({}, 'platform') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="row">
            <section class="col-lg-8">
                <blog-messages></blog-messages>
                <ng-view></ng-view>
            </section>

            <aside class="col-lg-4" data-blog-panels>
                <div
                    data-ng-repeat="panel in panelsCtrl.blog.panels"
                    data-ng-include="panelsCtrl.getPanelUrl(panel.nameTemplate)"
                    class="panel panel-default archives_panel"
                    data-ng-class="{'hidden': !panel.visibility}"></div>
            </aside>
        </div>

    </blog-main>
{% endblock %}

{% set calendarPath = 'bundles/frontend/fullcalendar/dist/' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/common/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css') }}'/>
    <link rel="stylesheet" type='text/css' href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" />
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'fullcalendar.min.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ asset(calendarPath ~ 'fullcalendar.print.css') }}' media='print' />

    {% stylesheets debug=false filter='less'  output='css/icapblog/style.css'
    "@IcapBlogBundle/Resources/views/less/style.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}

    {% if blogOptions.isBannerActivate or (false == blogOptions.isBannerActivate and is_granted('ADMINISTRATE', _resource)) %}
        <link rel="stylesheet" href="{{ asset('packages/angular-bootstrap-colorpicker/css/colorpicker.min.css') }}" screen="media" />
    {% endif %}

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        window.blogConfiguration = {

            id: {{ _resource.id }},
            name: "{{ _resource.resourceNode.name }}",
            user: {{ user | default('null') }},
            rssUrl: "{{ path('icap_blog_rss', {'blogId': blog.id}) }}",
            loginUrl: "{{ path('claro_security_login') }}",
            eventSources: [{url: '{{ path('icap_blog_calendar_datas', {'blogId': _resource.id}) }}'}],
            img_dir: "{{ asset('uploads/pictures/') }}",
            banner_dir: "{{ asset(get_blog_upload_dir()) }}",
            bannerImgStyle: "{% if null == get_blog_banner(_resource) %}none{% else %}url('{{ asset(get_blog_banner_web_path(_resource)) }}'){% endif %}",
            options: {{ options | raw }},
            panels: {{ orderPanels | json_encode() | raw }},
            archives: {{ archiveData | json_encode() | raw }},
            authors: {{ blog_authors(_resource) | json_encode() | raw }},
            tags: {{ blog_tags(blog) | json_encode() | raw }},
            isGrantedAdmin: {{ is_granted('ADMINISTRATE', _resource) ? 'true':'false' }},
            isGrantedEdit: {{ is_granted('EDIT', _resource) ? 'true':'false' }},
            isGrantedPost: {{ is_granted('POST', _resource) ? 'true':'false' }},

        }
    </script>


    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'agenda' }) }}?locales=fr,en"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'icap_blog' }) }}?locales=fr,en"></script>

    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-plugin-blog-app.js') }}" ></script>


    {% block icap_blog_javascripts %}
    {% endblock icap_blog_javascripts %}
{% endblock javascripts %}
