<ul>
    {# Current workspace #}
    <li>
        <a href="{{ path('claro_workspace_open_tool', {workspaceId: workspace.id, toolName: 'innova_path'}) }}">
            <span class="icon-book"></span>
            {{ workspace.getName() ~ ' - ' ~ workspace.getCode() }}
        </a>
    </li>
    
    {# Display all step chain to current selected step #}
    {% set parents = currentStep.getParents() %}
    {% for parent in parents %}
    <li>
        <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: parent.id}) }}">
            {{ parent.name }}
        </a>
    </li>
    {% endfor %}
    
    {# Display current step #}
    <li>
        <a href="{{ path('innova_path_player_index', {workspaceId: workspace.id, pathId: path.id, stepId: currentStep.id}) }}">
            {{ currentStep.name }}
        </a>
    </li>
</ul>