<div class="panel-step">
    <div class="panel panel-default">
        <div class="lvl-indicator lvl-{{ currentStep.lvl }}">&nbsp;</div>

        <div class="panel-body">
            <div class="row">
                <!-- Previous step button -->
                <div class="col-md-1 col-sm-2 col-xs-2 text-left">
                    {% set previousStep = currentStep.getPrevious() %}
                    {% if null != previousStep %}
                    <a href="{{ path('innova_path_player_wizard', { id: _resource.id, stepId: previousStep.id }) }}" class="btn btn-block btn-default">
                        <span class="fa fa-arrow-left"></span>
                        <span class="sr-only">previous</span>
                    </a>
                    {% endif %}
                </div>

                <!-- Step title -->
                <div class="col-md-10 col-sm-8 col-xs-8 text-center">
                    <h4 class="panel-step-title">{{ currentStep.name }}</h4>
                </div>

                <!-- Next step button -->
                <div class="col-md-1 col-sm-2 col-xs-2 text-right">
                    {% set nextStep = currentStep.getNext() %}
                    {% if null != nextStep %}
                    <a href="{{ path('innova_path_player_wizard', { id: _resource.id, stepId: nextStep.id }) }}" class="btn btn-block btn-default">
                        <span class="sr-only">next</span>
                        <span class="fa fa-arrow-right"></span>
                    </a>
                    {% endif %}
                </div>
            </div>

            <div>
                {{ currentStep.description | raw }}
            </div>

            {% if currentStep.activity is not empty and currentStep.activity.primaryResource is not empty %}
                <div id="resource{{ currentStep.activity.primaryResource.id }}" class="resource-tab">
                    <iframe style="border:none; padding:0;" id="{{ currentStep.activity.primaryResource.id }}" seamless width="100%" class="resource-frame" src=""></iframe>
                </div>
            {% endif %}
        </div>
    </div>
</div>