{% macro displayResourceButton(resource, lvl) %}
    <li rel="tooltip" data-original-title="{{ resource.resourceType.name | trans({}, 'resource') }}">
        <a target="_blank" class="path-tab-btn resource-link lvl-{{ lvl }} resource-tab-btn" href="{{ path('claro_resource_open', {'node': resource.id, 'resourceType': resource.resourceType.name }) }}">
            <span class="resource-name">{{ resource.name }}</span>
        </a>
    </li>
{% endmacro %}

{% macro displayResourceFrame(resource, step) %}
    <div id="resource{{ resource.id }}" class="path-tab resource-tab">
        <iframe style="border:none; padding:0;" id="{{ resource.id }}" seamless width="100%" class="resource-frame" src="{{ path('claro_resource_open', {'node': resource.id, 'resourceType': resource.resourceType.name }) }}"></iframe>
    </div>
{% endmacro %}

{% macro displayTreeItem(item, currentStep, path, workspace) %}
    {% import _self as macros %}

    <li>
        <div class="tree-item{% if item == currentStep %} active-step{% endif %}">
            <div class="lvl lvl-{{ item.lvl }}"></div>
            <a class="step" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId: item.id }) }}">{{ item.name }}</a>
        </div>

        {% if item.children is not empty %}
        <ul>
            {% for child in item.children %}
                {{ macros.displayTreeItem(child, currentStep, path, workspace) }}
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro breadcrumbItem(workspace, path, step) %}
    {% set isTerminalClass = "" %}
    {% if step.children is empty %}
        {% set isTerminalClass = "terminal" %}
    {% endif %}

    <li class="lvl-{{ step.lvl }} {{ isTerminalClass }}">
        <a {#class="step"#} href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId: step.id }) }}">
        {{ step.name }}
        </a>
    </li>
{% endmacro %}

{% macro dropdownBreadcrumb(workspace, path, step, class) %}
    {% import _self as macros %}

    {% set isTerminalClass = "" %}
    {% if step.children is empty %}
        {% set isTerminalClass = "terminal" %}
    {% endif %}

    <li class="dropdown lvl-{{ step.lvl }} {{ isTerminalClass }} {{ class }}">
        <a class="dropdown-label" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId: step.id }) }}">
            {{ step.name }}
        </a>
        {% set stepSiblings = step.siblings %}
        {% if stepSiblings is not empty %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            {% set stepDisplayed = false %}

            {% for sibling in stepSiblings %}
                {% if sibling.order >= step.order + 1 and not stepDisplayed %}
                    {% set stepDisplayed = true %}
                    {{ macros.breadcrumbItem(workspace, path, step) }}
                {% endif %}
                {{ macros.breadcrumbItem(workspace, path, sibling) }}
            {% endfor %} 

            {% if stepDisplayed == false %}
                {{ macros.breadcrumbItem(workspace, path, step) }}
            {% endif %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
