{# Affichage des parents et leurs frères. #}
{% set allParents = currentStep.getParents() %}
{% if allParents is defined and allParents is not empty %}
    {% for parent in allParents %}
        <div class="parent-siblings parent-siblings-{{ parent.lvl + 1 }}">
            {% set parentSiblings = parent.getSiblings() %}
            {% set parentIsDisplayed = false %}
            {% for parentSibling in parentSiblings %}
                {% if parentSibling.stepOrder == parent.stepOrder + 1 and not parentIsDisplayed %}
                    {% set parentIsDisplayed = true %}
                    <a rel="tooltip" data-original-title="{{ parent.name}}" class="parent step current lvl-{{ parent.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : parent.id }) }}"></a>
                {% endif %}
                <a rel="tooltip" data-original-title="{{ parentSibling.name }}" class="hidden parent-sibling step lvl-{{ parentSibling.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : parentSibling.id }) }}"></a>
            {% endfor %}
	        {% if not parentIsDisplayed %}
	            <a rel="tooltip" data-original-title="{{ parent.name }}" class="parent step current lvl-{{ parent.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : parent.id }) }}"></a>
	        {% else %}
                <div class="show-sibling" data-lvl="{{ parent.lvl + 1 }}">
                    <span class="icon icon-plus-sign"></span>
                </div>
            {% endif %}

           
        </div>
        
        <div class="separator icon-chevron-right icon"></div>
    {% endfor %}
{% endif %}

{# Affichage de l'élément courant et de ses frères. #}
{% set siblings = currentStep.getSiblings() %}
{% set currentStepIsDisplayed = false %}
{% for sibling in siblings %}
    {% if sibling.stepOrder == currentStep.stepOrder + 1 and not currentStepIsDisplayed %}
        {% set currentStepIsDisplayed = true %}
        <a rel="tooltip" data-original-title="{{ currentStep.name }}" class="current step lvl-{{ currentStep.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : currentStep.id }) }}"></a>
    {% endif %}
    <a rel="tooltip" data-original-title="{{ sibling.name }}" class="hidden step lvl-{{ sibling.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : sibling.id }) }}">
    </a>
{% endfor %}

{% if not currentStepIsDisplayed %}
    <a rel="tooltip" data-original-title="{{ currentStep.name }}" class="current step lvl-{{ currentStep.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : currentStep.id }) }}"></a>
    {% else %}
    <div class="show-sibling" data-lvl="{{ currentStep.lvl + 1 }}">
        <span class="icon icon-plus-sign"></span>
    </div>
{% endif %}



{# Affichage des enfants de l'élément courant #}
{% if currentStep.children is not empty %}
    <div class="separator icon-chevron-right icon"></div>
    {% for child in currentStep.children %}
    <a rel="tooltip" data-original-title="{{ child.name }}" class="btn step lvl-{{ child.lvl + 1 }}" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId : child.id }) }}">
    </a>
    {% endfor %}
{% endif %}
