{% import _self as macros %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                <span class="fa fa-list"></span> {{ path.resourceNode.name }}
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12"  id="do-not-display-anymore-container">
                    <label class="text-muted pull-right" for="do-not-display-anymore">
                        {{ 'do_not_display_automatically' | trans({}, 'path_player') }}
                        <input type="checkbox" id="do-not-display-anymore" name="do-not-display-anymore" {% if not autoDisplayEnabled %}checked="checked"{% endif %} />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="tree">
                        {% set parents = currentStep.getParents() %}
                        {{ macros.displayTreeItem(path.getRootStep(), currentStep, path, workspace) }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close' | trans({}, 'innova_tools') }}</button>
        </div>
    </div>
</div>

{# Macros #}
{% macro displayTreeItem(item, currentStep, path, workspace) %}
    {% import _self as macros %}

    <li>
        <div class="tree-item{% if item == currentStep %} active-step{% endif %}">
            <div class="lvl lvl-{{ item.lvl }}"></div>
            <a class="step" href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId: item.id }) }}">{{ item.name }}</a>
        </div>

        {% if item.children is not empty %}
            <ul>
                {% for child in item.children %}
                    {{ macros.displayTreeItem(child, currentStep, path, workspace) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}