{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'import_users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'users_management'|trans({}, 'platform'),
                'href': path('claro_admin_users_index')
            },
            {
                'name': 'groups'|trans({}, 'platform'),
                'href': path('claro_admin_group_list')
            },
            {
                'name':  group.getName(),
                'href': path('claro_admin_user_of_group_list', {'groupId': group.getId()})
            },
            {
                'name': 'import_users'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock%}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'import_users'|trans({}, 'platform') }}</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{ path('claro_admin_import_users_into_group', {'groupId': group.getId()}) }}" method="post" {{ form_enctype(form) }} >
        <div class="panel-body">
            {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
            <div>{{ macros.flashBox() }}</div>
            <div class="well">
                <p>
                    <b>{{ 'csv_group_import_infos'|trans({}, 'platform') }}</b>
                </p>
                <p>
                    {{ 'csv_group_import_infos_format'|trans({}, 'platform') }}
                </p>
            {% if error is defined %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{'role_limit_reached'|trans({'%translationKey%': 'user'|trans({}, 'platform')}, 'platform') }}
                    </div>
                {% endif %}
            {% endif %}
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a class="btn btn-default" href="{{ path('claro_admin_user_of_group_list', {'groupId': group.getId()}) }}" role="button">{{ 'cancel' | trans({}, 'platform' )}}</a>
        </div>
    </form>
{% endblock %}
