{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'groups' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'users_management'|trans({}, 'platform'),
                'href': path('claro_admin_users_index')
            },
            {
                'name': 'group_list'|trans({}, 'platform'),
                'href':''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div id="groups-panel" class="panel panel-default" ng-app="groupsManager">
        <div class="panel-body">
            {% include 'ClarolineCoreBundle:Administration:Users\\actionbar.html.twig' %}
            <h1>{{ 'group_list'|trans({}, 'platform') }}</h1>
            <groupsearch>
            </groupsearch>
            <grouplist>
            </grouplist>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/angular/angular-ui.css')}}"> </link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/angular/angular.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('vendor/angular/angular-ui.js')}}"> </script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}

        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/groups/groups.app.js') }}></script>

{% endblock %}