{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'group_parameter' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'users_management'|trans({}, 'platform'),
                'href': path('claro_admin_users_index')
            },
            {
                'name': 'groups'|trans({}, 'platform'),
                'href': path('claro_admin_group_list')
            },
            {
                'name': 'group_parameter'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'group_configuration'|trans({}, 'platform') }} ({{ group.getName() }})</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{ path('claro_admin_update_group_settings', {'groupId': group.getId()}) }}" method="post" {{ form_enctype(form_settings) }} id="form_settings">
        <div class="panel-body">
            {% for role in unavailableRoles %}
                <div class="alert alert-warning"> {{ 'role_limit_reached'|trans({'%translationKey%': role.getTranslationKey()|trans({}, 'platform')}, 'platform') }}</div>
            {% endfor %}
            {{ form_widget(form_settings) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_group_list') }}" class="btn btn-default" role="button">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // disable unavailable checkboxes
        {% for role in unavailableRoles %}
        $('#group_form_platformRoles_' + {{ role.getId() }}).attr('disabled', true);
        {% endfor %}
    </script>
{% endblock %}
