{% for heritedResourceName,heritedResource  in heritedResources %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ 'heritated_from' | trans({}, 'innova_tools') }} <strong>{{ heritedResourceName }}</strong></div>
		<div class="panel-body">

		{% for resource in heritedResource["digital"] %}
            <a target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path"><img rel="tooltip" data-original-title="{{ resource.name }}" width="32px" src="{{asset(resource.icon.relativeUrl) }}"/></a>
        {% endfor %}
        {% for resource in heritedResource["nonDigital"] %}
            <img rel="tooltip" data-original-title="{{ resource.resourceNode.name }}" width="32px" src="{{ asset('bundles/innovapath/images/icons/document/32x32/'~ resource.nonDigitalResourceType.name  ~'.png') }}"/>
        {% endfor %}
		</div>
	</div>
{% endfor %}
