{% for heritedResourceName,heritedResource  in heritedResources %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ 'heritated_from' | trans({}, 'tools') }} <strong>{{ heritedResourceName }}</strong></div>
		<div class="panel-body">
		{% for resource  in heritedResource %}
		    {% if resource.id %}
		        <li> 
		         <a target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path">
		         	<img rel="tooltip" data-original-title="{{ resource.name }}" width="32px" src="{{asset(resource.icon.relativeUrl) }}"/>
		       	</a>
		        </li>
		    {% endif %}
		{% endfor %}
		</div>
	</div>
{% endfor %}
