{% trans_default_domain "icap_wiki" %}
<div class='icap-wiki-delete-section-message'>
    {{ 'delete_confirmation'|trans({'%sectionTitle%': section.title}, 'icap_wiki') }}
</div>
<form id="deleteSection-form-{{section.id}}" name="icap_wiki_delete_section" method="POST" class="form-vertical" action="{{ path("icap_wiki_remove_section", {'wikiId': wiki.id, 'sectionId' : section.id }) }}">
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <a class="btn btn-default cancel-btn" href="{{ path('icap_wiki_view', {"wikiId": wiki.id}) }}">{% trans %}Cancel{% endtrans %}</a>&nbsp;
    <input type="submit" value="{% trans %}Confirm{% endtrans %}" class="btn btn-primary"/>
</form>