{% extends 'ICAPWikiBundle::layout.html.twig' %}
{% block wiki_content %}
    {{ wiki.name }}
    <div>
        <a href="{{ path('icap_wiki_create_section_form', { 'resourceId': wiki.id }) }}" class="new-section" >Creer une nouvelle section</a>
        {% for section in wiki.sections %}
            <div>
                <div>{{ section.name }}</div>
                <div>{{ section.text }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
    <script src="{{ asset('bundles/icapwiki/js/new.js') }}"></script>
{% endblock %}
