<form id="newSection-form-{{ parentSectionId }}" name="icap_wiki_new_section" method="POST" class="form-vertical" action="{{ path("icap_wiki_add_section", {'wikiId': wiki.id, 'parentSectionId' : parentSectionId }) }}">
    <div class="control-group">
        <div class="controls">
            {{ form_errors(form.title) }}
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <a class="btn btn-default cancel-btn" href="{{ path('icap_wiki_view', {"wikiId": wiki.id}) }}">{% trans %}Cancel{% endtrans %}</a>&nbsp;
    <input type="submit" value="{% trans %}Create{% endtrans %}" class="btn btn-primary"/>
</form>

{{ tinymce_init() }}