{% extends 'IcapWikiBundle::layout.html.twig' %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block wiki_buttons %}
    {% if user is not empty and (isAdmin or _resource.mode is not sameas(2)) %}
    <div class="wiki-header-buttons">        
        <a href="{{ path('icap_wiki_new_section', { 'wikiId': _resource.id, 'parentSectionId' : tree[0].id }) }}" class="new-section btn btn-primary" data-section="{{tree[0].id}}" >
            <i class="fa fa-plus"></i> {{ 'create_new_section'|trans({}, 'icap_wiki') }}
        </a>
        {% if isAdmin %}
        <a href="{{ path('icap_wiki_configure', { 'wikiId': _resource.id }) }}" class="btn btn-default"><i class="fa fa-wrench"></i> {{'options'|trans({},'icap_wiki')}}</a>
        {% endif %}
        {% render controller('IcapNotificationBundle:FollowerResource:renderForm', {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class}) %}
    </div>
    {% endif %}
{% endblock %}

{% block wiki_content %}
    <div class="wiki-page-header page-header">
        <h1 class="wiki-title-header">
            {{ _resource.resourceNode.name }}
            {% if user is not empty and (isAdmin or _resource.mode is not sameas(2)) %} 
            <small class="wiki-actions"> 
                [ 
                <a href="{{ path('icap_wiki_edit_section', { 'wikiId': _resource.id, 'sectionId' : tree[0].id }) }}" class="edit-section" data-section="{{tree[0].id}}" >
                    {{ 'edit'|trans({}, 'icap_wiki') }}
                </a>
                |
                <a href="{{ path('icap_wiki_section_history', { 'wikiId': _resource.id, 'sectionId' : tree[0].id }) }}" class="history-section" data-section="{{tree[0].id}}" >
                    {{ 'history'|trans({}, 'icap_wiki') }}
                </a>   
                ]
            </small>
            {% endif %}
        </h1>        
    </div>

    {% if tree is not empty and tree[0] is not empty and tree[0].activeContribution.text is not empty%}
        <div id="wst-{{ tree[0].id }}" class="wiki-description">
            {{ tree[0].activeContribution.text|raw }}
        </div>
    {% endif %}
    <div id="wesc-{{tree[0].id}}" class="wiki-edit-section-container"></div>

    {% if tree is not empty and tree[0] is not empty and tree[0].__children is not empty %}
        <div class="wiki-contents">
            <div class="wiki-contents-inner well">
                <div class="wiki-contents-title">
                    {{ 'wiki_contents'|trans({},'icap_wiki') }}
                    {% if isAdmin %}
                    <span id="move-contents-trigger" class="btn btn-default btn-xs pull-right">
                        <i class="fa fa-resize-vertical"></i> <span class="fa fa-arrows"></span>
                    </span>
                    {% endif %}
                </div>
                {% include "IcapWikiBundle:Wiki:wikiContents.html.twig" with {'sections' : tree[0].__children, 'isAdmin' : isAdmin, 'delimeter' : '.', 'rootId' : tree[0].id } %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="wnsc-{{tree[0].id}}" class="wiki-new-section-container"></div>
        <div class="wiki-sections">
            {% include "IcapWikiBundle:Wiki:wikiSections.html.twig" with {'sections' : tree[0].__children, 'wikiId' : _resource.id, 'isAdmin' : isAdmin, 'wikiMode' : _resource.mode, 'user' : user } %}
        </div>
    {% else %}
        <div id="wnsc-{{tree[0].id}}" class="wiki-new-section-container"></div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/frontend/jquery/plugin/sortable/css/jquery.sortable.css') }}'/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'src='{{ asset('bundles/frontend/jquery/plugin/sortable/js/jquery-sortable-min.js') }}'></script>
    <script type='text/javascript'>
        var moveSectionRoute = "{{ path('icap_wiki_move_section', { 
            'wikiId' : _resource.id, 
            'sectionId' : "0", 
            'referenceSectionId' : "0",
            'isBrother' : "true"}) }}";
    </script>
    <script type='text/javascript' src="{{ asset('bundles/icapwiki/js/script.js') }}"></script>
{% endblock %}

