{% macro wiki_sections(sections, isAdmin, wikiId) %}
    {% for section in sections %}
        {% if isAdmin or section.visible %}
            {% set level = section.level %}
            {% if section.level > 3 %}
                {% set level = 3 %}
            {% endif %}
            <li id="section-{{section.id}}">
                <div class="page-header"><h{{level}}>
                    {{section.title}}
                    {% if isAdmin %}
                        <small class="wiki-actions">
                            [
                                <a href="{{ path('icap_wiki_new_section', { 'wikiId': wikiId, 'parentSectionId' : section.id }) }}" class="new-section" >
                                    {{ 'add_new_subsection'|trans({}, 'icap_wiki') }}
                                </a> 
                                | 
                                <a href="{{ path('icap_wiki_new_section', { 'wikiId': wikiId, 'parentSectionId' : section.id }) }}" class="edit-section" >
                                    {{ 'edit'|trans({}, 'icap_wiki') }}
                                </a> 
                                | 
                                <a href="{{ path('icap_wiki_new_section', { 'wikiId': wikiId, 'parentSectionId' : section.id }) }}" class="delete-section" >
                                    {{ 'delete'|trans({}, 'icap_wiki') }}
                                </a> 
                            ]
                        </small>
                    {% endif%}
                </h{{level}}></div>
                <p>{{section.text}}</p>
                {% if section.__children is not empty %}
                    <ul>
                        {{ _self.wiki_sections(section.__children, isAdmin, wikiId) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul id="wiki-sections-list">
    {{ _self.wiki_sections(sections, isAdmin, wikiId) }}
</ul>