<div id="modal-session-event-set-registration-{{ widgetInstance.getId() }}"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'session_event_set_registration'|trans({}, 'cursus') }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="well well-sm">
                {{ 'session_event_set_limit_info'|trans({'%limit%': eventSet.getLimit()}, 'cursus') }}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        {% for event in eventSet.getEvents() %}
                            {% set location = event.getLocation() %}
                            {% set locationExtra = event.getLocationExtra() %}
                            {% set tutors = event.getTutors() %}
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="collapse" href="#collapse-{{ event.getId() }}">
                                          <b>{{ event.getName() }}</b>
                                        </a>
                                        <div class="collapse" id="collapse-{{ event.getId() }}">
                                            {{ event.getStartDate()|intl_date_format }}
                                            <i class="fa fa-long-arrow-right"></i>
                                            {{ event.getEndDate()|intl_date_format }}

                                            {% if event.getDescription is not empty %}
                                                <hr/>
                                                <div>
                                                    {{ event.getDescription()|raw }}
                                                </div>
                                            {% endif %}

                                            {% if location is not empty or locationExtra is not empty %}
                                                <hr/>
                                                <b>{{ 'location'|trans({}, 'platform') }}</b>

                                                {% if location is not empty %}
                                                    <div>
                                                        {{ location.getName() }}
                                                        <br/>
                                                        {{ location.getStreet() }},
                                                        {{ location.getStreetNumber() }}{% if location.getBoxNumber() is not empty %}/{{ location.getBoxNumber() }}{% endif %}
                                                        <br/>
                                                        {{ location.getPc() }}
                                                        {{ location.getTown() }}
                                                        <br/>
                                                        {{ location.getCountry() }}

                                                        {% if location.getPhone() is not empty %}
                                                            <br/>
                                                            {{ location.getPhone }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                {% if locationExtra is not empty %}
                                                    <div>
                                                        {{ locationExtra|raw }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            {% if tutors is not empty and tutors|length > 0 %}
                                                <hr/>
                                                <b>{{ 'tutors'|trans({}, 'cursus') }}</b>
                                                <ul>
                                                    {% for tutor in tutors %}
                                                        <li>{{ tutor.getFirstName() }} {{ tutor.getLastName() }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    {% if registrations[event.getId()] is defined %}
                                        {% if registrations[event.getId()].getRegistrationStatus() == constant('Claroline\\CursusBundle\\Entity\\SessionEventUser::REGISTERED') %}
                                            <span class="label label-success">
                                                {{ 'registered'|trans({}, 'platform') }}
                                            </span>
                                        {% elseif registrations[event.getId()].getRegistrationStatus() == constant('Claroline\\CursusBundle\\Entity\\SessionEventUser::PENDING') %}
                                            <span class="label label-warning">
                                                {{ 'pending'|trans({}, 'platform') }}
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        {% if eventSet.getLimit() > registrations|length %}
                                            <span id="set-event-register-btn-{{ event.getId() }}">
                                                <button class="btn btn-default register-to-session-event-btn"
                                                        data-session-event-id="{{ event.getId() }}"
                                                >
                                                    {{ 'register'|trans({}, 'platform') }}
                                                </button>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">
                {{ 'close'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
      const mainElement = $('#modal-session-event-set-registration-{{widgetInstance.getId()}}')
      const limit = {{ eventSet.getLimit() }}
      let nbRegistrations = {{ registrations|length }}

      const removeSessionEventRegistrationBtn = function (event, sessionEventId) {
        $('#set-event-register-btn-' + sessionEventId).empty()
        const element = `
          <span class="label label-success">
            <i class="fa fa-check"></i>
          </span>
        `
        $('#set-event-register-btn-' + sessionEventId).html(element)
        ++nbRegistrations

        if (nbRegistrations >= limit) {
          $('.register-to-session-event-btn').remove()
        }
      }

      mainElement.on('click', '.register-to-session-event-btn', function () {
        const sessionEventId = $(this).data('session-event-id')
        window.Claroline.Modal.confirmRequest(
          Routing.generate('claro_cursus_session_event_self_register', {sessionEvent: sessionEventId}),
          removeSessionEventRegistrationBtn,
          sessionEventId,
          Translator.trans('session_event_self_registration_message', {}, 'cursus'),
          Translator.trans('session_event_registration', {}, 'cursus')
        )
      })
    </script>
{% endblock %}