<div id="modal-session-informations" class="modal-dialog" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ event.getName() }}
            </h3>
        </div>
        <div class="modal-body">
            <div class="panel-group" id="accordion-panel" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-panel" href="#collapse-course" aria-expanded="true">
                                {{ 'course'|trans({}, 'cursus') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-course" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <b>{{ 'title'|trans({}, 'platform') }} :</b>
                            {{ course.getTitle() }}
                            <br>
                            <b>{{ 'code'|trans({}, 'platform') }} :</b>
                            {{ course.getCode() }}
                            {% if course.getDescription() is not empty %}
                                <br>
                                <b>{{ 'description'|trans({}, 'platform') }} :</b>
                                {{ course.getDescription()|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-panel" href="#collapse-session" aria-expanded="true">
                                {{ 'session'|trans({}, 'cursus') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-session" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <b>{{ 'name'|trans({}, 'platform') }} :</b>
                            {{ session.getName() }}
                            <br>
                            <b>{{ 'duration'|trans({}, 'platform') }} :</b>
                            {{ session.getStartDate()|date('d/m/Y') }}
                            <i class="fa fa-long-arrow-right"></i>
                            {{ session.getEndDate()|date('d/m/Y') }}
                            {% if session.getDescription() is not empty %}
                                <br>
                                <b>{{ 'description'|trans({}, 'platform') }} :</b>
                                {{ session.getDescription()|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-panel" href="#collapse-event" aria-expanded="true">
                                {{ 'session_event'|trans({}, 'cursus') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-event" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-clock-o"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{ 'duration'|trans({}, 'platform') }}"
                                    >
                                    </i>
                                </div>
                                <div class="col-md-11">
                                    {{ event.getStartDate()|intl_date_format }}
                                    <i class="fa fa-long-arrow-right"></i>
                                    {{ event.getEndDate()|intl_date_format }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-file-text-o"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{ 'description'|trans({}, 'platform') }}"
                                    >
                                    </i>
                                </div>
                                <div class="col-md-11">
                                    {% if event.getDescription() is not empty %}
                                        {{ event.getDescription()|raw }}
                                    {% else %}
                                        <div class="alert alert-warning">
                                            {{ 'no_description'|trans({}, 'cursus') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{ 'location'|trans({}, 'platform') }}"
                                    >
                                    </i>
                                </div>
                                <div class="col-md-11">
                                    {% if location is not empty or locationExtra is not empty %}
                                        {% if location is not empty %}
                                            {{ location.getName() }}
                                            <br>
                                            {{ location.getStreet() }}, {{ location.getStreetNumber() }}
                                            {% if location.getBoxNumber() is not empty %}
                                                / {{ location.getBoxNumber() }}
                                            {% endif %}
                                            <br>
                                            {{ location.getPc() }}
                                            {{ location.getTown() }}
                                            <br>
                                            {{ location.getCountry() }}
                                            {% if location.getPhone() is not empty %}
                                                <br>
                                                {{ location.getPhone() }}
                                            {% endif %}
                                            {% if locationExtra is not empty %}
                                                <hr>
                                            {% endif %}
                                        {% endif %}
                                        {% if locationExtra is not empty %}
                                            {{ locationExtra|raw }}
                                        {% endif %}
                                    {% else %}
                                        <div class="alert alert-warning">
                                            {{ 'no_location'|trans({}, 'cursus') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-user"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{ 'tutors'|trans({}, 'cursus') }}"
                                    >
                                    </i>
                                </div>
                                <div class="col-md-11">
                                    {% if tutors|length > 0 %}
                                        <div class="table-responsive">
                                            <table class="table">
                                            {% for tutor in tutors %}
                                                <tr>
                                                    <td>
                                                        {{ tutor.getFirstName() }}
                                                        {{ tutor.getLastName() }}
                                                    </td>
                                                    {% if withMail %}
                                                        <td>
                                                            <a href="{{ path('claro_message_form_for_user', {'user': tutor.getId()}) }}">
                                                                <i class="fa fa-envelope"></i>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning">
                                            {{ 'no_tutor'|trans({}, 'cursus') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">
                {{ 'close'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>