<div class="form-group row">
    {{ form_label(form.interaction.question.title) }}
    <div class="col-md-9">{{ form_widget(form.interaction.question.title) }}</div>
</div>

<br><hr><br>

<div>
    <div class="form-group row">
        <label class="control-label col-md-3">{{ 'category' | trans }}</label>
        <div class="col-md-9">
            {{ form_widget(form.interaction.question.category) }}
            {{ form_errors(form.interaction.question.category) }}
        </div>
    </div>
    <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop', {'edit': 1} ) }}');"><i class="icon-pencil"></i> {{ 'alter category' | trans }}</a>
    <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop') }}');"><i class="icon-plus"></i> {{ 'create a new category' | trans }}</a>
    <a id="linkedCategory" style="display: none;" class="btn btn-primary" id="lien_category_drop" onclick="dropCategory();"><i class="icon-trash"></i> {{ 'drop category' | trans }}</a>
</div>

<br><hr><br>

<div>
    <a class="btn btn-primary" data-toggle="collapse" data-target="#collepsedescription">
        <i class="icon-pencil"></i> {{ 'Question.description' | trans }}
    </a>
    <div id="collepsedescription" class="list-group collapse">
        <div class="list-group-item">{{ form_widget(form.interaction.question.description) }}</div>
    </div>
</div>

<br><hr><br>

<div>
    <label class="control-label col-md-3">{{ 'question' | trans }}</label>
    <br><br>
    {{ form_widget(form.interaction.invite) }}
</div>

<br><hr><br>

<div>
    <a class="btn btn-primary" data-toggle="collapse" data-target="#collepseinteraction">
        <i class="icon-pencil"></i> {{ 'Interaction.feedback' | trans }}
    </a>
    <div id="collepseinteraction" class="list-group collapse">
        <div class="list-group-item">{{ form_widget(form.interaction.feedBack) }}</div>
    </div>
</div>

<br><hr><br>

<div id="divHint" class="panel-body">
    <div id="hintError"></div>
    <div id="tableHint"></div>
    {{ form_widget(form.interaction.hints) }}
    {{ form_errors(form.interaction.hints) }}
</div>

<br><hr><br>

<input type="hidden" id="pathDrop" value="{{ path('ujm_category_drop') }}"/>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>