{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>

{% set al = '' %}

{% for key,value in linkedCategory %}
    {% set al = al ~ key ~ '/' ~ value ~ ';' %}
{% endfor %}

<input type="hidden" id="categoryArray" value="{{al}}"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'title' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            {{ form_label(edit_form.interaction.question.title) }}
            <div class="col-md-9">{{ form_widget(edit_form.interaction.question.title) }}</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'category' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <label class="label-control col-md-3">{{ 'choose' | trans }}</label>
            <div class="col-md-9">{{ form_widget(edit_form.interaction.question.category) }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop', {'edit': 1} ) }}');"><i class="icon-pencil"></i> {{ 'alter category' | trans }}</a>
        <a class="btn btn-primary" onclick="openCat('{{ path('ujm_category_new_pop') }}');"><i class="icon-plus"></i> {{ 'create a new category' | trans }}</a>
        <a id="linkedCategory" style="display: none;" class="btn btn-primary" id="lien_category_drop" onclick="dropCategory();"><i class="icon-trash"></i> {{ 'drop category' | trans }}</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'description' | trans }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" data-toggle="collapse" data-target="#collapsedescription">
            <i class="icon-pencil"></i> {{ 'Question.description' | trans }}
        </a>

        <div id="collapsedescription" class="collapse">
            <br>
            {{ form_widget(edit_form.interaction.question.description) }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'model' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            {{ form_label(edit_form.interaction.question.model) }}
            <div class="col-md-9">{{ form_widget(edit_form.interaction.question.model) }}</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'question' | trans }}</h3>
    </div>
    <div class="panel-body">
        {{ form_widget(edit_form.interaction.invite) }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'comment' | trans }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" data-toggle="collapse" data-target="#collapsecomment">
            <i class="icon-pencil"></i> {{ 'Interaction.feedback' | trans }}
        </a>

        <div id="collapsecomment" class="collapse">
            <br>
            {{ form_widget(edit_form.interaction.feedBack) }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'hints' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div id="hintError"></div>
        <div id="tableHint"></div>
        {{ form_widget(edit_form.interaction.hints) }}
        {{ form_errors(edit_form.interaction.hints) }}
    </div>
</div>

<input type="hidden" id="pathDrop" value="{{ path('ujm_category_drop') }}"/>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>