<div class="form-group row">
    <div class="col-md-5">{{ form_widget(form.interaction.question.title) }}</div>
    <a class="btn btn-default" data-toggle="collapse" data-target="#collepseinteraction">Catégorie</a>
    <div class="col-md-5">
            {{ form_widget(form.interaction.question.category) }}
            {{ form_errors(form.interaction.question.category) }}
        </div>
    <a class="btn btn-default" href="#" >Description</a> 
    
        
</div>

<div class="form-group row">
    <div class="control-label col-md-8"> {{ form_widget(form.interaction.invite) }}</div>
            <a class="btn btn-default" href="#">Indice</a>
           <!---- <a class="btn btn-default" href="#">Edition avancée</a>--->
           
</div>
    <a class="btn btn-default" data-toggle="collapse" data-target="#collepseinteraction">Feedback général</a>
        <div id="collepseinteraction" class="list-group collapse">
        <div class="list-group-item">{{ form_widget(form.interaction.feedBack) }}</div>

    </div>
<hr>

<input type="hidden" id="pathDrop" value="{{ path('ujm_category_drop') }}"/>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>
