{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'title' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            {{ form_label(form.interaction.question.title) }}
            <div class="col-md-9">{{ form_widget(form.interaction.question.title) }}</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'category' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <label class="control-label col-md-3">{{ 'choose' | trans }}</label>
            <div class="col-md-9">{{ form_widget(form.interaction.question.category) }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" id="lien_category_alter" onclick="show();"><i class="icon-pencil"></i> &nbsp;{{ 'alter category' | trans }}</a>
        <a class="btn btn-primary" id="lien_category"><i class="icon-plus"></i> &nbsp;{{ 'create a new category' | trans }}</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'description' | trans }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" data-toggle="collapse" data-target="#collepsedescription">
            <i class="icon-pencil"></i> {{ 'Question.description' | trans }}
        </a>
    </div>
    <div id="collepsedescription" class="list-group collapse">
        <div class="list-group-item">{{ form_widget(form.interaction.question.description) }}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'model' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            {{ form_label(form.interaction.question.model) }}
            <div class="col-md-3">{{ form_widget(form.interaction.question.model) }}</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'question' | trans }}</h3>
    </div>
    <div class="panel-body">
        {{ form_widget(form.interaction.invite) }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'comment' | trans }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" data-toggle="collapse" data-target="#collepseinteraction">
            <i class="icon-pencil"></i> {{ 'Interaction.feedback' | trans }}
        </a>
    </div>
    <div id="collepseinteraction" class="list-group collapse">
        <div class="list-group-item">{{ form_widget(form.interaction.feedBack) }}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'hints' | trans }}</h3>
    </div>
    <div class="panel-body">
        {{ form_widget(form.interaction.hints) }}
    </div>
</div>

<div id="linkedCategory" style="display: none;">
    <hr style=" height: 1px; color: powderblue; background-color: powderblue;"/>
    <a href="#" id="lien_category_drop" onclick="dropCategory();"><i class="icon-trash"></i> {{ 'drop category' | trans }}</a>
</div>

<div id="popupEA">
    <div id="popupContainer" class="hiddenCat">
        <a id="close" class="hiddenCat" title="close popup">{{ 'close' | trans }}</a>
        <h1>{{ 'response' | trans }}</h1><div id="div_input_popup">
            <textarea id="input_popup" class="tinymce" data-theme="medium"></textarea>
        </div>
    </div>
    <div id="overlayEffect"> </div>
</div>

<div id="listeCategory">
    <div id="popupCategory" class="hiddenCat">
        <a id="closeCategory" class="hiddenCat" title="close popup">{{ 'close' | trans }}</a>
        <h1>{{ 'create a new category' | trans }}</h1>
        <div id="div_input_category"></div>
    </div>
    <div id="overlayEffect_cat"></div>
</div>

<div id="alterCategory" style="position: fixed; left: 40%; top: 20%; background-color: #ccf; border: #000 thin solid;
    width: 400px; height: 200px; display: none; opacity: 0.95; text-align: center;">

    <a href="#" style="color: red; float: right;" onclick="hide();"><i class="icon-remove"></i> {{ 'close' | trans }}&nbsp;</a><br/>

    <h3 style="text-align: center;">{{ 'alter category' | trans }}</h3>

    <p>{{ 'newCategoryName' | trans }} ?</p>
    <input type="text" id='newlabel' name='newlabel'/><br/><br/>
    <button id="updateSubmit" type="button" class="btn btn-primary">{{ 'change' | trans }} !</button>

    <input type="hidden" id="pathAlter" value="{{ path('ujm_category_alter') }}"/>
    <input type="hidden" id="pathDrop" value="{{ path('ujm_category_drop') }}"/>
</div>

<script type="text/javascript">
    var translations = {
        'alreadyExist' : '{{ 'alreadyExist'|trans }}',
        'wrongName' : '{{ 'wrongName'|trans }}'
    };
</script>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>
