{# Affichage du tableau de l'onglet "Demandes adressées" #}
<tr>
    <td>{{ drop.user.lastName|upper }}</td>
    <td>{{ drop.user.firstName|capitalize }}</td>
    <td>{{ drop.user.userName|capitalize }}</td>
    {# En date du #}
    <td>{{ document.documentDate|date('formatDatetime'|trans({}, 'innova_collecticiel')) }}</td>
    <td>
        <a target="_blank" href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a>
        {#  Afficher ici la valeur "Commentaires non lus"
        {% include 'InnovaCollecticielBundle:Drop:dropsNbComments.html.twig' %}  #}
    </td>
    <td>
        {# Afficher ici la valeur "Devoirs à corriger" modifiée en "Etat" #}
        {% include 'InnovaCollecticielBundle:Document:documentsNbTextToRead.html.twig' %}
    </td>
    <td> {# Appel de la vue "Vue d'un fichier" où seront affichés les différents commentaires. #}
        <div class="btn-group ">
            <a href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id}) }}" type="button" class="btn btn-default btn-sm">
                {{ 'To drop'|trans({}, 'innova_collecticiel') }}
            </a>
        </div>
    </td>
</tr>
