<!-- Vue donnant la liste des copies. Exemple d'URL : innovacollecticielbundle/2/drops/awaiting -->
<div class="table-responsive">
    <table class="table table-striped table-hover sharedSpacesTable">
        <thead>
        <!-- Colonne supprimée : 'Copie rendue le' -->
        <!-- <th>{{ 'Established on'|trans({}, 'innova_collecticiel') }}</th> -->
        <!-- Colonne modifiée de "Rendue par" par "Etudiant" -->
        <th class="nameColumn">{{ 'Name'|trans({},'innova_collecticiel') }}</th>
        <th class="nameColumn">{{ 'First name'|trans({},'innova_collecticiel') }}</th>
        <th class="usernameColumn">{{ 'Nickname'|trans({},'innova_collecticiel') }}</th>
        <th class="dateColumn">{{ 'Dated'|trans({},'innova_collecticiel') }}</th>
        <!-- Colonnes supprimées : -->
        <!-- 'Dernière correction le' -->
        <!-- 'Note' -->
        <!-- 'Corr.' -->
        <!-- <th>{{ 'Last correction'|trans({}, 'innova_collecticiel') }}</th> -->
        <!-- <th>{{ 'Grade'|trans({}, 'innova_collecticiel') }}</th> -->
        <!-- {% if AwaitingMode is defined and  AwaitingMode == true %}
            <th> {{ 'Corr.'|trans({}, 'innova_collecticiel') }} </th>
        {% endif %} -->
        <!-- Colonne supprimée : 'Outils' -->
        <!-- <th>{{ 'tools'|trans({},'innova_collecticiel') }}</th> -->
        <!-- Colonne ajoutée "Commentaires non lus" modifiée en "Document" -->
        <th>{{ 'Document'|trans({},'innova_collecticiel') }}</th>
        <!-- Colonne ajoutée "Devoirs à corriger" modifiée en "Etat" -->
        <th style="width:50px;" class="centered">{{ 'Condition'|trans({},'innova_collecticiel') }}</th>
        <!-- Colonne ajoutée "Voir" modifiée en "Commentaire  - Evaluation"  -->
        <th style="width:140px;" class="centered">{{ 'Comment evaluation'|trans({},'innova_collecticiel') }}</th>
        </thead>
        <tbody>

        {# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
        {% for drop in pager.currentPageResults %}
            {% for document in drop.documents %}
                {# Séparation de l'affichage de la vue. InnovaERV #}
                {% include 'InnovaCollecticielBundle:Drop:Listing/dropsListingList.html.twig' %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
