<form class="form-horizontal" method="GET" 
action="{{ path('innova_collecticiel_return_receipt')}}">

{# 
    <a href="{{ path('innova_collecticiel_add_more_comments', {'resourceId': dropzone.id}) }}"
    type="button" class="btn btn-default btn-sm">{{ 'Comment Auto'|trans({}, 'innova_collecticiel') }}</a>
#}
<!-- Vue donnant la liste des copies. Exemple d'URL : innovacollecticielbundle/2/drops/awaiting -->
<table class="table table-striped table-hover datatable sharedSpacesTable">
    <thead>
    {# Affichage de l'image de profil #}
    <th class="nameColumn"></th>
    <th class="nameColumn">{{ 'Name'|trans({},'innova_collecticiel') }}</th>
    <th class="nameColumn">{{ 'First name'|trans({},'innova_collecticiel') }}</th>
    <th class="usernameColumn">{{ 'Nickname'|trans({},'innova_collecticiel') }}</th>
    <th class="dateColumn centered">
    <i class="fa fa-calendar-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Dated'|trans({},'innova_collecticiel') }}"></i>
    </th>

    <!-- Colonne ajoutée "Commentaires non lus" modifiée en "Document" -->
    <th class="centered">
    <i class="fa fa-file-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Document'|trans({},'innova_collecticiel') }}"></i>
    </th>

    {% if dropzone.evaluation != 1  %}
        <!-- Colonne ajoutée "Devoirs à corriger" modifiée en "Etat" -->
        <th class="centered"><i class="fa fa-yelp"></i></th>
    {% endif %}

    <!-- Colonne ajoutée "Voir" modifiée en "Commentaire  - Evaluation"  -->
    <th class="centered no-sort">
    <i class="fa fa-commenting-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Comment evaluation'|trans({},'innova_collecticiel') }}"></i>
    </th>

    {% if adminInnova %}
        {# On affiche cette colonne si le créateur du collecticiel veut afficher les accusés de réception. #}
        {# Demande JJQ. InnovaERV #}
        {% if dropzone.returnReceipt == 1  %}
            <th class="centered">
            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
            {# Ajout d'une alerte avec le nombre d'éléments non traités. InnovaERV, demande JJQ #}
            {% if alertNbDocumentWithoutReturnReceipt > 1  %}
                <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                data-original-title="{{ alertNbDocumentWithoutReturnReceipt }} {{ 'Deals Pending'|trans({},'innova_collecticiel') }}">
            {% endif %}
            {% if alertNbDocumentWithoutReturnReceipt == 1  %}
                <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                data-original-title="{{ alertNbDocumentWithoutReturnReceipt }} {{ 'Deal Pending'|trans({},'innova_collecticiel') }}">
            {% endif %}
            </i>
            <i class="fa fa-hand-o-right">
            </th>
        {% endif %}

        {# On affiche cette colonne si le créateur du collecticiel veut afficher/gérer les évaluations. #}
        {# Demande JJQ. InnovaERV #}
        {% if dropzone.evaluation == 1  %}
            <th class="centered"><i class="fa fa-graduation-cap"></th>
        {% endif %}
        {% if dropzone.evaluation == 1  %}
            <th class="centered"><i class="fa fa-mail-forward"></th>
        {% endif %}

        <th class="centered">
        {# Demande JJQ. InnovaERV
            {{ 'Selection'|trans({}, 'innova_collecticiel') }}
        #}
            <div class="btn-group-vertical">
                <button type="submit" class="btn btn-primary btn-xs comment_validate"
                id="dropzone_id_{{dropzone.id}}" name="dropzoneId" data-dropzone_id="{{ dropzone.id }}">
                    {{ 'Comment Auto'|trans({}, 'innova_collecticiel') }}
                </button>
                <button type="submit" class="btn btn-primary btn-xs"
                data-toggle="modal" data-target="#validate-modal-return-receipt" data-dropzone_id="{{ dropzone.id }}">
                    {{ 'Return receipt'|trans({}, 'innova_collecticiel') }}
                </button>
            </div><br />
            <input id="document_id_0" data-dropzone-select_id={{ dropzone.id }} type="checkbox" name="documentId" data-document_id="0" class="btn btn-danger btn-sm" />
        </th>
    {% endif %}
 
    </thead>

    <tbody>
        {# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
        {% for drop in pager.currentPageResults %}
            {% for document in drop.documents %}
                {# Séparation de l'affichage de la vue. InnovaERV #}
                {% include 'InnovaCollecticielBundle:Drop:Listing/dropsListingList.html.twig' %}
            {% endfor %}
        {% endfor %}
    </tbody>

</table>
</form>

{# Déclaration de la modal pour confirmation de la validation #}
<div class="modal fade" id="validate-modal-return-receipt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Choix de l'accusé de réception</h4>
        </div>
        <div class="modal-body">
                <div class="step-1">
                    <span>{{ 'user_picker.select_target'|trans({}, 'competency') }}:</span>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix0" value="0" />{{ 'No return recept'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix2" value="2" />{{ 'Document received'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix3" value="3" />{{ 'Document unreadable'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix4" value="4" />{{ 'Incomplete document'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix5" value="5" />{{ 'Error document'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix1" value="1" />{{ 'Doubloon'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button data-dropzone_id="{{dropzone.id}}" id="modal_confirm_return_receipt" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">Ok</button>
        </div>
        </div>
    </div>
</div>
{# Fin de la déclaration de la modal pour confirmation de la validation #}

<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
<script src="{{ asset('bundles/innovacollecticiel/js/popup.js') }}"></script>
