<dl class="dl-horizontal">
    <dt>{{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}</dt>
    {% if document.url is not null %}
        <dd><a href="{{ document.url }}">{{ document.url }}</a> </dd>
    {% elseif document.resourceNode is not null %}
        <dd><a href="{{ path('innova_collecticiel_open_resource', {'resourceId': log.details.dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a></dd>
    {% else %}
        <dd>{{ 'Unrecognized type'|trans({}, 'innova_collecticiel') }}</dd>
    {% endif %}
</dl>