{% extends "ClarolineForumBundle::layout.html.twig" %}

{% block title %}{{ 'new_category'|trans({}, 'forum') ~ ' (' ~  _resource.getResourceNode().getName() ~ ')' ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_forum_categories', { 'forum': _resource.getId() }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'new_category'|trans({}, 'forum') }} </h3>
    </div>
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form novalidate="novalidate" action="{{ path('claro_forum_create_category',{'forum': _resource.getId() }) }}" method="post" {{ form_enctype(form) }} id="message_form">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">{{ 'ok' | trans({}, 'platform' )}}</button>
            <a class="btn btn-default" href="{{ path('claro_forum_categories', {'forum': _resource.getId()}) }}">{{ 'cancel' | trans({}, 'platform' )}}</a>
        </div>
    </form>
{% endblock %}
