{% set nbMessages = messages|length %}
{% if nbMessages > 0 %}
    <div id="desktop-widget-pager">
        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">
                    <div class="list-group-item-text">
                        <p>{{ message.getContent()| truncate(400, true, " [...]") | raw }}</p>
                        <ul class="breadcrumb">
                            <span class="text-muted">
                                {{ 'forum_last_message_owner'|trans({}, 'widget') }}
                                {{ message.getAuthor() }}
                                {{ message.getCreationDate()| timeAgo }}
                                {{ 'in'|trans({}, 'widget') }}
                            </span>
                            <li>
                                <a 
                                    title="{{ message.subject.category.forum.resourceNode.workspace.name}}" 
                                    href="{{ path('claro_workspace_open', {'workspaceId': message.subject.category.forum.resourceNode.workspace.id, 'toolName': 'home'}) }}"
                                >
                                    {{ message.subject.category.forum.resourceNode.workspace.name | truncate(20) }}
                                </a>
                            </li>
                            <li>
                                <a 
                                    title="{{ message.subject.category.forum.resourceNode.name}}" 
                                    href="{{ path('claro_forum_categories', { 'forum': message.subject.category.forum.id }) }}"
                                >
                                    {{ message.subject.category.forum.resourceNode.name | truncate(20) }}
                                </a>
                            </li>
                             <li>
                                <a 
                                    title="{{ message.subject.category.name }}" 
                                    href="{{ path('claro_forum_subjects', { 'category': message.subject.category.id }) }}"
                                >
                                    {{ message.subject.category.name | truncate(20) }}
                                 </a>
                            </li>
                            <li>
                                <a 
                                    class="link-subject" 
                                    title="{{ message.getSubject().getTitle() }}" 
                                    href="{{ path('claro_forum_messages', {'subject': message.getSubject().getId() }) }}">
                                    {{ message.getSubject().getTitle() | truncate(80) }}
                                </a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    {{ 'no_forum_widget_message'|trans({}, 'widget') }}
{% endif %}