{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
   {% spaceless %}
        <ul class="breadcrumb">
            <li>
                <a href="#">{{ 'parameters'|trans({}, 'platform') }}</a>
            </li>
        </ul>
    {% endspaceless %}
    <ul>
        <li>
            <a href="{{ path('claro_workspace_edit_form', {'workspaceId': workspace.getId()}) }}">{{ 'general'|trans({}, 'platform') }}</a>
        </li>
        <li>
            <a href="{{ path('claro_workspace_widget_properties', {'workspaceId': workspace.getId()}) }}">{{ 'widgets'|trans({}, 'platform') }}</a>
        </li>
        <li>
            <a href="{{ path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()}) }}">{{ 'tools'|trans({}, 'platform') }}</a>
        </li>
        <li>
            <a href="{{ path('claro_workspace_resource_rights_form', {'workspaceId': workspace.getId()}) }}">{{ 'resources'|trans({}, 'platform') }}</a>
        </li>
    </ul>
{% endblock %}