{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.getName(),
                'href': path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'})
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'parameters'|trans({}, 'platform') }}</h3>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="{{ path('claro_workspace_edit_form', {'workspace': workspace.getId()}) }}">
            {{ 'general'|trans({}, 'platform') }}
        </a>
        <a class="list-group-item" href="{{ path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()}) }}">
            {{ 'tools'|trans({}, 'platform') }}
        </a>
        {% for tool in tools %}
            <a class="list-group-item" href="{{ path('claro_workspace_tool_config', {'tool': tool.getId(), 'workspace': workspace.getId()}) }}">
                {{ tool.getName()|trans({}, 'tools') }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
