{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('claro_workspace_open_tool',
               {'workspaceId': workspace.getId(), 'toolName': 'parameters'}) }}">
               {{ 'parameters'|trans({}, 'platform') }}
            </a>
        </li>
         <span class="divider"> / </span>
        <li>
            <a href="#">{{ 'rights'|trans({}, 'platform') }}</a>
        </li>
    </ul>

    <table id="right-table" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{{ 'rights'|trans({}, 'platform') }}</th>
            <th><a href="{{ path('claro_workspace_workspace_rights_form', {'workspaceId': workspace.getId()}) }}">{{ 'configure'|trans({}, 'platform') }}</a></th>
        </tr>
    </table>
{% endblock %}