{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}

    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'roles'|trans({}, 'platform'),
                'href': path('claro_workspace_roles', {'workspace': workspace.getId()})
            },
            {
                'name': role.getTranslationKey()|trans({}, 'platform'),
                'href': path('claro_workspace_role_parameters', {'workspace': workspace.getId(), 'role': role.getId()})
            },
            {
                'name': 'edit'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <div class="wrapper">
    <form class="form-horizontal"
          action="{{ path('claro_workspace_role_edit', {'workspace': workspace.getId(), 'role': role.getId()} ) }}"
          method="post" {{ form_enctype(form) }}
          id="workspace-role-creation"
      >
        <fieldset>
            <legend>{{ 'role_creation'|trans({}, 'platform') }} :</legend>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_workspace_role_parameters', {'workspace': workspace.getId(), 'role': role.getId()} ) }}">
                    <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}
