{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clarolinecore/js/tool/workspace/roles.js') }}" type="text/javascript"></script>
{% endblock %}

{% block section_content %}

    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'roles'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <a href="{{ path('claro_workspace_role_create_form', {'workspace': workspace.getId() }) }}">{{ 'role_creation'|trans({}, 'platform') }}</a>

    <div>
        <table  class="table-striped table-bordered table-condensed">
            <thead>
                <th> {{ 'name'|trans({}, 'platform') }} </th>
                <th> {{ 'edit'|trans({}, 'platform') }} </th>
                <th> {{ 'delete'|trans({}, 'platform') }} </th>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr>
                        <td> {{ role.getTranslationKey }} </td>
                        <td> <a href='{{ path('claro_workspace_role_parameters', {'workspace': workspace.getId(), 'role': role.getId()} ) }}' class='role-edit-btn btn btn-secondary'> {{ 'edit'|trans({}, 'platform') }} </a> </td>
                        <td> <a href='{{ path('claro_workspace_role_remove', {'workspace': workspace.getId(), 'role': role.getId()} ) }}' class='role-delete-btn btn btn-secondary {% if role.isReadOnly %} disabled {% endif %}'> {{ 'delete'|trans({}, 'platform') }} </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
