{% macro renderPager(search, workspaceId, roleId, pager) %}
{% if search == '' %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_workspace_role_groups',
                'routeParams': {'workspace': workspaceId, 'role': roleId}
            }
        )
    }}
{% else %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_workspace_role_groups_search',
                'routeParams': {'search': search, 'workspace': workspaceId, 'role': roleId}
            }
        )
    }}
{% endif %}
{% endmacro %}

{% macro displayControls(workspaceId, roleId) %}
{% if app.user %}
    <button class="btn btn-secondary action-button" data-action="remove">
        <i class="icon-trash"></i>
        {{ 'delete'|trans({}, 'platform') }}
    </button>
    <a href="{{ path('claro_workspace_unregistered_role_groups', {'workspace': workspaceId, 'role': roleId} ) }}" class="btn btn-secondary">
    {{ 'add'|trans({}, 'platform') }}</a>
{% endif %}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import displayControls %}

{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        vars=["locale"]
        "@ClarolineCoreBundle/Resources/views/ConfirmationMessage/removeGroupConfirm.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/modal.html.twigjs"
        "@ClarolineCoreBundle/Resources/views/Modal/validationFooter.html.twigjs"
        filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src='{{ asset('bundles/clarolinecore/js/table.js') }}' type="text/javascript"></script>
    <script>
        parameters = {};
        parameters.route = {};
        parameters.route.action = {};
        parameters.route.normal = {"route": "claro_workspace_role_groups", "parameters": {'workspace': {{ workspace.getId() }}, 'role': {{ role.getId() }} }};
        parameters.route.search = {"route": "claro_workspace_role_groups_search", "parameters": {'workspace': {{ workspace.getId() }}, 'role': {{ role.getId() }} }};
        parameters.route.action.remove = {"route": "claro_workspace_remove_role_from_group", "parameters": {'workspace': {{ workspace.getId() }}, 'role': {{ role.getId() }} }, "confirmTemplate": removeGroupConfirm};
        Claroline.Table.initialize(parameters);
    </script>
{% endblock %}

{% block section_content %}
        {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'roles'|trans({}, 'platform'),
                'href': path('claro_workspace_roles', {'workspace': workspace.getId()})
            },
            {
                'name': role.getTranslationKey()|trans({}, 'platform'),
                'href': path('claro_workspace_role_parameters', {'workspace': workspace.getId(), 'role': role.getId()})
            },
            {
                'name': 'groups'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <div class="margin">
        <div class="search-bar">
            {{ displayControls(workspace.getId(), role.getId()) }}
            <div class="input-append pull-right">
                <input class="input-medium" type="text" id="search-items-txt" placeholder="{{ 'search'|trans({}, 'platform') }}">
                <button class="filter btn" type="button" id="search-button">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
        {{ renderPager(search, workspace.getId(), role.getId(), pager) }}

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <th>{{ 'name'|trans({}, 'platform') }}</th>
                <th>{{ 'role'|trans({}, 'platform') }}</th>
                {% if app.user %}
                    <th><input type="checkbox" name="all" id="check-all-items"></input></th>
                {% endif %}
            </thead>
            <tbody id="group-table-body">
                {% for group in pager.currentPageResults %}
                    <tr class="row-group">
                        <td align="center">{{ group.name }}</td>
                        <td align="center">
                            {% for role in group.getEntityRoles() %}
                                {% if role.getWorkspace() == workspace %}
                                    {{ role.getTranslationKey()|trans({}, 'platform') }} {% if not loop.last %},{% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if app.user %}
                            <td>
                                <input type="checkbox" class="chk-item" value="{{ group.id }}"></input>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ renderPager(search, workspace.getId(), role.getId(), pager) }}
        {{ displayControls(workspace.getId(), role.getId()) }}
    </div>
{% endblock %}

