{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block section_content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('claro_workspace_open_tool',
                {'workspaceId': workspace.getId(), 'toolName': 'parameters'}) }}">
                {{ 'parameters'|trans({}, 'platform') }}
            </a>
        </li>
        <span class="divider"> / </span>
        <li>
            <a href="#">{{ 'widgets'|trans({}, 'platform') }}</a>
            </li>
        <span class="divider"> / </span>
        <li>
            <a href="#">{{ 'configure'|trans({}, 'platform') }}</a>
        </li>
    </ul><br>
    {{ content|raw }}
{% endblock %}
