{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/tool/workspace/workspace_parameters_edit.js') }}' type="text/javascript"></script>
{% endblock %}

{% block section_content %}

    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'})
            },
            {
                'name': 'general'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}

    <h3>{{ 'general_parameters'|trans({}, 'platform') }}</h3>
    <br>

    {% if is_granted('DELETE', workspace ) %}
        <a href="#" class="workspace-delete-confirmation btn btn-default">
            {{ 'workspace_delete'|trans({}, 'platform') }}
        </a>
    {% endif %}
    <a href="{{ path('claro_workspace_export_form', {'workspace': workspace.getId() }) }}" class='btn btn-default'>
        {{ 'save_as_template'|trans({}, 'platform') }}
    </a>
    <br>
    <br>

    <form class="form-horizontal" action="{{ path('claro_workspace_edit', {'workspace': workspace.getId()}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'}) }}">
                    <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>

    <div id="twig-workspace-id" data-workspaceId="{{workspace.getId()}}">
    </div>

    <div id="delete-ws-validation-box" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>{{ 'workspace_delete_confirm_title'|trans({}, 'platform') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'workspace_delete_confirm_message'|trans({}, 'platform') }}</p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
