{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': 'parameters'}) }}">
               {{ 'parameters'|trans({}, 'platform') }}
            </a>
        </li>
        <span class="divider"> / </span>
        <li>
            <a href="{{ path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()}) }}">
                {{ 'tools'|trans({}, 'platform') }}
            </a>
        </li>
        <span class="divider"> / </span>
        <li>
            <a href="#">{{ 'edit'|trans({}, 'platform') }}</a>
        </li>
    </ul>

    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form class="form-horizontal" action="{{ path('claro_workspace_order_tool_edit', {'workspaceId': workspace.getId(), 'workspaceOrderToolId': wot.getId()}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_workspace_tools_roles', {'workspaceId': workspace.getId()}) }}">
                    <button type="button" class="btn">{{ 'cancel'|trans({}, 'platform') }}</button>
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}