{% extends 'IcapWebsiteBundle::layout.html.twig' %}
{% import 'IcapWebsiteBundle:Website:Macros/common_macros.html.twig' as commonMacros %}

{% set options = _resource.options %}

{% block content %}
    <div class="website-container" ng-controller="designViewController">
        <div class="loading text-center" ng-if="!pageLoaded" >
            {{ 'loading'|trans({},'icap_website') }}
        </div>
        <div class="website-body">
            {% if options.bannerEnabled %}
                <header>
                    <div class="banner">
                        {% if options.bannerText is not empty %}
                            <div class="bannerContent">{{ options.bannerText|raw }}</div>
                        {% endif %}
                    </div>
                </header>
            {% endif %}
            {% if options.menuOrientation == 'horizontal' %}
                <nav ng-if="false">
                    {{commonMacros.buildMenu(_resource.pages[0], _resource.id)}}
                </nav>
                <flexnav menu="menu" nav-style="options" options="flexnavOptions" breakpoint="breakPoint"></flexnav>
            {% endif %}
            <div class="website-content" ng-style="{height: contentHeight+'px'}">
                {% if options.menuOrientation == 'vertical' %}
                    <aside ng-if="false">
                        <nav>
                            {{commonMacros.buildMenu(_resource.pages[0], _resource.id)}}
                        </nav>
                    </aside>
                    <wxy-push-menu menu="menu" menu-style="options" options="pushMenuOptions" menu-width="options.menuWidth"></wxy-push-menu>
                {% endif %}
                <div class="website-page-content" change-height="contentHeight" style="min-height: 400px;">
                    <div>
                        {% if currentPage is defined and currentPage is not empty %}
                            {% if currentPage.type == pageTypes.blank %}
                                <div>{{ currentPage.richText|raw }}</div>
                            {% elseif currentPage.type == pageTypes.url %}
                                <iframe width="100%" iframe-height-on-load="contentHeight" src="{{ currentPage.url }}"></iframe>
                            {% elseif currentPage.type == pageTypes.resource %}
                                <iframe width="100%" iframe-height-on-load="contentHeight" src="{{ path('claro_resource_open', {
                                'resourceType': currentPage.resourceNodeType,
                                'node': currentPage.resourceNode.id
                                }) }}"></iframe>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if options.footerEnabled %}
                <footer>
                    <div class="footer">
                        {% if options.footerText is not empty %}
                            <div class="footerContent">{{ options.footerText|raw }}</div>
                        {% endif %}
                        {% if options.copyrightEnabled is not empty %}
                            <div class="copyright-text">© Copyright {{ options.copyrightText }}</div>
                        {% endif %}
                    </div>
                </footer>
            {% endif %}
            {% if options.analyticsProvider=="xiti" and options.analyticsId is not empty %}
                <a href="http://www.xiti.com/xiti.asp?s=<%=webSite.options.analyticsAccountId%>" title="WebAnalytics" target="_top">
                    <script type="text/javascript">
                        //<!--
                        Xt_param = 's={{ options.analyticsId }}&p={{ _resource.name~" - "~currentPage.title }}';
                        try {Xt_r = top.document.referrer;}
                        catch(e) {Xt_r = document.referrer; }
                        Xt_h = new Date();
                        Xt_i = '<img width="39" height="25" border="0" alt="" ';
                        Xt_i += 'src="http://logv17.xiti.com/hit.xiti?'+Xt_param;
                        Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
                        if(parseFloat(navigator.appVersion)>=4)
                        {Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
                        document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
                        //-->
                    </script>
                    <noscript>
                        <img width="39" height="25" src="http://logv17.xiti.com/hit.xiti?s={{ options.analyticsId }}&p={{ _resource.name~" - "~currentPage.title }}" alt="WebAnalytics" />
                    </noscript></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.menuNgPlugin = "{{ options.menuOrientation=='horizontal'?'ui.flexnav':'wxy.pushmenu' }}";
        window.websiteId = {{ _resource.id }};
        window.websitePath = "{{ path('icap_website_view',{'websiteId': _resource.id}) }}";
        window.websiteOptions = {{ _resource.options|serialize('json', serialization_context().setSerializeNull(true))|raw }};
        window.pages = {{ _resource.pages|serialize('json', serialization_context().setSerializeNull(true))|raw }};
    </script>
    {{ commonMacros.angularScripts() }}
    <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/services/utilitiesFactory.js') }}"></script>
    {% if options.menuOrientation == 'horizontal' %}
        <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/vendor/angular-ui/ui-flexnav/flexnav.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/vendor/angular-ui/multi-level-push-menu/pushmenu.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/viewWebApp.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/controllers/resizeController.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/controllers/designViewController.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/icapwebsite/js/directives/resizeDirective.js') }}"></script>

    {% if options.analyticsProvider=="google" and options.analyticsId is not empty %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ options.analyticsId }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if options.menuOrientation == 'horizontal' %}
        <link rel="stylesheet" href="{{ asset('bundles/icapwebsite/css/angular/flexnav.css') }}" screen="media" />
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/icapwebsite/css/angular/pushmenu.css') }}" screen="media" />
    {% endif %}
    {% stylesheets debug=false filter='lessphp, cssmin' output='bundles/icapwebsite/css/style-view.css'
    "@IcapWebsiteBundle/Resources/views/less/view.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
    {% include 'IcapWebsiteBundle:Website:View/view.css.twig' with {'options': _resource.options, 'commonMacros': commonMacros} %}
{% endblock %}