{% extends "ClarolineScormBundle:Export:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .full-size {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    {% include "ClarolineWebResourceBundle:Layout:javascripts_header.html.twig" %}
{% endblock %}

{% set absolutePath = '../files/' ~ path %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ _resource.resourceNode.name }} </h3>
        </div>

        <div class="panel-body">
            {% if not path is empty %}
                <div class="text-right">
                    <a class="btn btn-primary pointer-hand" onClick="javascript:enterFullScreen()">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="full-size">
                    {# SRC attribute is set in JS to be able to resize screen using iFrame height #}
                    <iframe id="web-resource-frame" class="full-size" src="" frameborder="0"></iframe>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    {{ 'an_error_occured_message' | trans({}, 'platform') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="../commons/jquery.min.js"></script>
    <script src="../commons/translator.js"></script>
    <script src="../translations/platform.js"></script>

    {% include "ClarolineWebResourceBundle:Layout:javascripts.html.twig" %}
{% endblock %}
