{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% trans_default_domain "badge" %}

{% block content %}
<div class="margin border">
    <h3 class="sub-section-header">{{ 'claim_badge_form'|trans }}</h3>

    <form action="{{ path('claro_claim_badge') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'claim'|trans }}</button>
            <a href="{{ path('claro_profile_view_badges') }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'platform') }}</a>
        </div>
    </form>
</div>
{% endblock %}