<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'editor'|trans({}, 'path_editor') }} <small data-ng-bind="path.name"></small></h3>
    </div>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <li data-ng-class="{ 'disabled': historyDisabled.undo }">
                <a href="#" data-ng-click="undo()" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ 'undo'|trans({}, 'path_editor') }}">
                    <span class="fa fa-reply"></span>
                    <span class="sr-only">{{ 'undo'|trans({}, 'path_editor') }}</span>
                </a>
            </li>
            <li data-ng-class="{ 'disabled': historyDisabled.redo }">
                <a href="#" data-ng-click="redo()" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ 'redo'|trans({}, 'path_editor') }}">
                    <span class="fa fa-share"></span>
                    <span class="sr-only">{{ 'redo'|trans({}, 'path_editor') }}</span>
                </a>
            </li>
            <li>
                <a data-pageslide="left" data-ps-speed="0.5" href="#templates-sidebar">
                    <span class="fa fa-download"></span> {{ 'open_templates'|trans({}, 'path_editor') }}
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" data-ng-click="save()">
                    <span class="fa fa-floppy-o"></span> {{ 'save'|trans({}, 'path_editor') }}
                </a>
            </li>
            <li>
                <a href="#" data-ng-click="closeEditor('{{ path('claro_workspace_open_tool', { workspaceId: workspace.id, toolName: 'innova_path' }) }}')" >
                    <span class="fa fa-times-circle"></span>
                    <span class="">{{ 'back'|trans({}, 'path_editor') }}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="panel-body">
        {{ form_row(form.name, {
            'attr': {
                'placeholder' :   'name_help'|trans({}, 'path_editor'),
                'data-ng-model':  'path.name',
                'data-ng-change': 'renameRootStep(); updateHistory();'
            }
        }) }}

        {{ form_row(form.description, {
            'attr': {
                'placeholder' :   'description_help'|trans({}, 'path_editor'),
                'data-ng-model':  'path.description',
                'data-ng-change': 'updateHistory();'
            }
        }) }}

        {{ form_row(form.structure, {
            'attr': {
                'value' : '{{ path | path_to_json }}'
            }
        }) }}

        {{ form_row(form.saveAndClose, {
            'attr': {
                'value' : '{{ saveAndClose }}'
            }
        }) }}
    </div>
</div>