{% if question.getType() == 'multiple_choice_multiple' %}
    {% set choiceType = "checkbox" %}
{% else %}
    {% set choiceType = "radio" %}
{% endif %}

<div>
    <h3>{{ question.getQuestion()|raw }}</h3>
    <div id="question-body" style="padding-left: 50px">
        
        {% if choices|length == 0 %}
            <div class="alert alert-danger" role="alert">
                {{ 'no_choice_warning'|trans({}, 'survey') }}
            </div>
        {% else %}
        
            {% if horizontal %}
                {% set otherChoice = '' %}
        
                <div class="table-responsive">
                    <table class="table table-borderless table-condensed text-center">
                        <tr>
                            {% for choice in choices %}
                                {% if not choice.isOther() %}
                                    <td>
                                        <input type="{{ choiceType }}" id="question-{{question.getId()}}-choice-{{choice.getId()}}"
                                               name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ choice.getId() }}]{% endif %}"
                                               value="{{ choice.getId() }}"
                                            {% if answers[choice.getId()] is defined %}checked{% endif %}
                                            {% if not canEdit %}disabled{% endif %}
                                        >
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for choice in choices %}
                                {% if choice.isOther() %}
                                    {% set otherChoice = choice %}
                                {% else %}
                                    {% set choiceContent = choice.getContent() %}
                                    <td>
                                        <label class="no-wrap" for="question-{{question.getId()}}-choice-{{choice.getId()}}">
                                            {{ choiceContent|raw }}
                                        </label>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        
                        {% if otherChoice is not empty %}
                            <tr>
                                <td>
                                    <input type="{{ choiceType }}" id="question-{{question.getId()}}-choice-{{otherChoice.getId()}}"
                                           name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ otherChoice.getId() }}]{% endif %}"
                                           value="{{ otherChoice.getId() }}"
                                           {% if answers[otherChoice.getId()] is defined %}checked{% endif %}
                                           {% if not canEdit %}disabled{% endif %}
                                    >
                                </td>
                                <td colspan="{{ choices|length - 1 }}">
                                    <input class="form-control"
                                           type="text"
                                           name="{{ question.getId() }}[other]"
                                           {% if answers['other'] is defined %}value="{{answers['other']}}"{% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="no-wrap" for="question-{{question.getId()}}-choice-{{otherChoice.getId()}}">
                                        {{ otherChoice.getContent() }}
                                    </label>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% else %}
        
                {% for choice in choices %}
                    {% set choiceContent = choice.getContent() %}
                    <div class="{{ choiceType }}">
                        <label>
                            <input type="{{ choiceType }}"
                                   name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ choice.getId() }}]{% endif %}"
                                   value="{{ choice.getId() }}"
                                {% if answers[choice.getId()] is defined %}checked{% endif %}
                                {% if not canEdit %}disabled{% endif %}
                            >
                            {{ choiceContent|raw }}
                        </label>
                        
                        {% if choice.isOther() %}
                            <div>
                                <input class="form-control"
                                       type="text"
                                       name="{{ question.getId() }}[other]"
                                       {% if not canEdit %}disabled{% endif %}
                                       {% if answers['other'] is defined %}value="{{answers['other']}}"{% endif %}>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %} 
            {% endif %}  
        {% endif %}
        
        {% if question.isCommentAllowed() %}
            <br>
            <div>
                <label>
                    {% if question.getCommentLabel() is empty %}
                        {{ 'comment'|trans({}, 'survey') }}
                    {% else %}
                        {{ question.getCommentLabel() }}
                    {% endif %}
                </label>
                <textarea class="form-control"
                          rows="4"
                          name="{{ question.getId() }}[comment]"
                          {% if not canEdit %}disabled{% endif %}
                >{% if answers['comment'] is defined %}{{ answers['comment'] }}{% endif %}</textarea>
            </div>
        {% endif %}
    </div>
</div>