{% if question.getType() == 'multiple_choice_multiple' %}
    {% set choiceType = "checkbox" %}
{% else %}
    {% set choiceType = "radio" %}
{% endif %}

<div>
    <h3>{{ question.getQuestion()|raw }}</h3>
    <div id="question-body" style="padding-left: 50px">
        
        {% if choices|length == 0 %}
            <div class="alert alert-danger" role="alert">
                {{ 'no_choice_warning'|trans({}, 'survey') }}
            </div>
        {% else %}
        
            {% if horizontal %}
            <div class="table-responsive">
                <table class="table table-borderless table-condensed text-center">
                    <tr>
                        {% for choice in choices %}
                            <td>
                                <input type="{{ choiceType }}" id="question-{{question.getId()}}-choice-{{choice.getId()}}"
                                       name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ choice.getId() }}]{% endif %}"
                                       value="{{ choice.getId() }}"
                                    {% if answers[choice.getId()] is defined %}checked{% endif %}
                                    {% if not canEdit %}disabled{% endif %}
                                >
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for choice in choices %}
                            {% set choiceContent = choice.getContent() %}
                            <td>
                                <label class="no-wrap" for="question-{{question.getId()}}-choice-{{choice.getId()}}">
                                    {{ choiceContent|raw }}
                                </label>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% else %}
        
                {% for choice in choices %}
                    {% set choiceContent = choice.getContent() %}
                    <div class="{{ choiceType }}">
                        <label>
                            <input type="{{ choiceType }}"
                                   name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ choice.getId() }}]{% endif %}"
                                   value="{{ choice.getId() }}"
                                {% if answers[choice.getId()] is defined %}checked{% endif %}
                                {% if not canEdit %}disabled{% endif %}
                            >
                            {{ choiceContent|raw }}
                            
                        </label>
                        
                        {% if choice.isOther() %}
                            <div>
                                <input class="form-control"
                                       type="text"
                                       name="{{ question.getId() }}[other]"
                                       {% if answers['other'] is defined %}value="{{answers['other']}}"{% endif %}>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %} 
            {% endif %}  
        {% endif %}
        
        {% if question.isCommentAllowed() %}
            <br>
            <div>
                <label>
                    {% if question.getCommentLabel() is empty %}
                        {{ 'comment'|trans({}, 'survey') }}
                    {% else %}
                        {{ question.getCommentLabel() }}
                    {% endif %}
                </label>
                <textarea class="form-control"
                          rows="4"
                          name="{{ question.getId() }}[comment]"
                          {% if not canEdit %}disabled{% endif %}
                >{% if answers['comment'] is defined %}{{ answers['comment'] }}{% endif %}</textarea>
            </div>
        {% endif %}
    </div>
</div>