<div>
    <h3>{{ question.getQuestion()|raw }}</h3>
    <br>
    <div id="question-body" style="padding-left: 50px">
        <textarea class="claroline-tiny-mce"
                  name="{{ question.getId() }}[answer]"
        >{% if answers['answer'] is defined %}{{ answers['answer']|raw }}{% endif %}</textarea>
        
        {% if question.isCommentAllowed() %}
            <br>
            <div>
                <label>
                    {% if question.getCommentLabel() is empty %}
                        {{ 'comment'|trans({}, 'survey') }}
                    {% else %}
                        {{ question.getCommentLabel() }}
                    {% endif %}
                </label>
                <textarea rows="4"
                          name="{{ question.getId() }}[comment]"
                          {% if not canEdit %}disabled{% endif %}
                >{% if answers['comment'] is defined %}{{ answers['comment'] }}{% endif %}</textarea>
            </div>
        {% endif %}
    </div>
</div>