{% if allowMultipleResponse %}
    {% set choiceType = "checkbox" %}
{% else %}
    {% set choiceType = "radio" %}
{% endif %}

<div>
    <h3>{{ question.getQuestion()|raw }}</h3>
    <div id="question-body" style="padding-left: 50px">
        {% if choices|length == 0 %}
            <div class="alert alert-danger" role="alert">
                {{ 'no_choice_warning'|trans({}, 'survey') }}
            </div>
        {% else %}
            {% for choice in choices %}
                {% set choiceContent = choice.getContent() %}
                <div class="{{ choiceType }}">
                    <label>
                    <input type="{{ choiceType }}"
                           name="{% if choiceType == 'radio' %}{{ question.getId() }}[choice]{% else %}{{ question.getId() }}[{{ choice.getId() }}]{% endif %}"
                           value="{{ choice.getId() }}"
                        {% if answers[choice.getId()] is defined %}checked{% endif %}
                        {% if not canEdit %}disabled{% endif %}
                    >
                    
                    {% if choiceContent is defined and choiceContent is not empty %}
                        {{ choiceContent|raw }}
                    {% else %}
                        <input type="text"
                               name="other[{{ choice.getId() }}][answer]"
                               {% if not canEdit %}disabled{% endif %}
                        >
                    {% endif %}
                    </label>
                </div>
            {% endfor %} 
        {% endif %}
        
        {% if question.isCommentAllowed() %}
            <br>
            <div>
                <label>{{ 'comment'|trans({}, 'survey') }}</label>
                <textarea rows="4"
                          name="{{ question.getId() }}[comment]"
                          {% if not canEdit %}disabled{% endif %}
                >{% if answers['comment'] is defined %}{{ answers['comment'] }}{% endif %}</textarea>
            </div>
        {% endif %}
    </div>
</div>