{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% set _resource = survey %}
{% set startDate = survey.getStartDate() %}
{% set endDate = survey.getEndDate() %}

{% extends layout %}

{% block title %}
    {{ survey.getResourceNode().getName() | striptags | raw  }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ survey.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        {% if status == 'unpublished' %}
            <div class="alert alert-warning" role="alert">
                {{ 'unpublished_user_message'|trans({}, 'survey') }}
                
                {% if startDate is not empty %}
                    <br>
                    <b>{{ 'publication_date'|trans({}, 'survey') }} :</b>
                    {{ startDate|intl_date_format }}
                    
                    {% if endDate is not empty %}
                        <br>
                        <b>{{ 'closing_date'|trans({}, 'survey') }} :</b>
                        {{ endDate|intl_date_format }}
                    {% endif %}
                {% endif %}
            </div>
        {% elseif status == 'published' %}
            <div class="alert alert-info" role="alert">
                {{ 'published_user_message'|trans({}, 'survey') }}
                
                {% if endDate is not empty %}
                    <br>
                    <b>{{ 'closing_date'|trans({}, 'survey') }} :</b>
                    {{ endDate|intl_date_format }}
                {% endif %}
            </div>
        {% elseif status == 'closed' %}
            <div class="alert alert-danger" role="alert">
                {{ 'closed_user_message'|trans({}, 'survey') }}
                
                {% if startDate is not empty and endDate is not empty and currentDate < startDate and currentDate < endDate %}
                    <br>
                    <b>{{ 'publication_date_next'|trans({}, 'survey') }} :</b>
                    {{ startDate|intl_date_format }}
                    <br>
                    <b>{{ 'closing_date_next'|trans({}, 'survey') }} :</b>
                    {{ endDate|intl_date_format }}
                {% endif %}
            </div>
        {% endif %}
                
        {% if status == 'published' %}
            <hr>
            <a href="{{ path('claro_survey_answer_form', {'survey': survey.getId()}) }}" class="btn btn-primary">
                <i class="fa fa-check-square-o"></i>
                {{ 'answer_to_survey'|trans({}, 'survey') }}
            </a>
        {% elseif status == 'closed' and survey.getHasPublicResult() %}
            <hr>
            <a href="" class="btn btn-primary">
                {{ 'view_survey_results'|trans({}, 'survey') }}
            </a>
        {% endif %}
    </div>
{% endblock %}