{# Si le document a été demandé en évaluation alors je ne peux plus le faire #}
{# Cf popup.js #}
{# Ajout de la classe document_validate pour la validation du document #}
{# Si le collecticiel n'est pas ouvert, il n'est pas possible de demander une évaluation. InnovaERV #}

{# Si aucune demande n'a pas transmise ... #}
{% if not document.validate %}
	{# Si le collecticiel est ouvert ... #}
    {% if collecticielOpenOrNot %}
		{# flèche bleue : arrow right #}
		{% if dropzone.evaluation != 1  %}
			<a href="#" data-target="#validate-modal" data-toggle="modal" 
			data-document_comment_length="{{ document.comments|length }}" 
			data-document_sender_id="{{ document.sender.id }}" 
			data-document_dropuser_id="{{ document.drop.user.id }}" 
			data-document_adminInnova="{{ adminInnova }}" 
			data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}" id="document_id_{{ document.id }}" name="document_id_{{ document.id }}" class="document_validate" >
				<i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Comment transmission'|trans({},'innova_collecticiel') }}" class="fa fa-arrow-right"></i>
			</a>
		{% else %}
			<a href="#" data-target="#validate-modal" data-toggle="modal"
			data-document_comment_length="{{ document.comments|length }}" 
			data-document_sender_id="{{ document.sender.id }}" 
			data-document_dropuser_id="{{ document.drop.user.id }}" 
			data-document_adminInnova="{{ adminInnova }}" 
			data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}" id="document_id_{{ document.id }}" name="document_id_{{ document.id }}" class="document_validate" >
				<i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Evaluation transmission'|trans({},'innova_collecticiel') }}" class="fa fa-arrow-right"></i>
			</a>
		{% endif %}
	{% endif %}
{% else %}
	<span class="fa fa-check" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Request sent'|trans({},'innova_collecticiel') }}"></span>
{% endif %}
