aaa
        {# TODO : On affiche cette colonne si le créateur du collecticiel veut gérer les évaluations. Demande JJQ. InnovaERV #}
      
         <td class="centered" id="is-transmit-{{ document.id }}">
                {#  0 : enregistrer et pas transmise #}
                {#  1 : transmise #}
                {# 99 : pas de notation #}
                {% if recordOrTransmitNotation == 0  %}
                    <a data-target="#transmit-modal"  data-toggle="modal" data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}" id="document_id_{{ document.id }}" name="document_id_{{ document.id }}" class="document_validate" >
                        <i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Not Transmitted review'|trans({},'innova_collecticiel') }}" class="fa fa-mail-forward">
                        </i>
                    </a>
                {% endif %}
                {% if recordOrTransmitNotation == 1  %}
                    <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Transmitted review'|trans({},'innova_collecticiel') }}" class="fa fa-mail-forward"></span>
                {% endif %}
                {% if recordOrTransmitNotation == 99  %}
                    <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Transmitted review'|trans({},'innova_collecticiel') }}" class="fa fa-times"></span>
                {% endif %}
            </td>
  
bbb