<a href="#validate-modal-notation" data-toggle="modal"
data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}"
data-document_type="{{ document.type }}"
id="document_id_{{ document.id }}" name="document_id_{{ document.id }}"
class="document_validate">
	<span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To post a review'|trans({},'innova_collecticiel') }}" class="fa fa-graduation-cap">
	</span>
</a>