<a href="#validate-modal-notation" data-toggle="modal"
data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}"
data-document_type="{{ document.type }}"
id="document_id_{{ document.id }}" name="document_id_{{ document.id }}"
class="document_validate">
	<span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To post a review'|trans({},'innova_collecticiel') }}" class="fa fa-graduation-cap">
	</span>
</a>

{# Déclaration de la modal pour saisir la notation #}
<div class="modal" id="validate-modal-notation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="modal-body">
                {% include 'InnovaCollecticielBundle:Drop:notationForm.html.twig' 
                    with {'documentTitle': documentTitle, 'maximumNotation': maximumNotation}
                %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel_button" data-dismiss="modal">
                {{ 'Cancel'|trans({}, 'innova_collecticiel') }}
                </button>
                <button
                data-dropzone_id="{{dropzone.id}}" data-document_id="{{document.id}}"
                data-document_url="{{document.url}}" data-document_title="{{document.title}}"
                data-document_name="{{document.resourceNode.name}}"
                data-document_sender_firstname="{{document.sender.firstname}}"
                data-document_sender_lastname="{{document.sender.lastname}}"
                data-document_record_or_transmit="0"
                id="modal_confirm_notation_record" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">{{ 'To record'|trans({}, 'innova_collecticiel') }}</button>
                <button
                data-dropzone_id="{{dropzone.id}}" data-document_id="{{document.id}}"
                data-document_url="{{document.url}}" data-document_title="{{document.title}}"
                data-document_name="{{document.resourceNode.name}}"
                data-document_sender_firstname="{{document.sender.firstname}}"
                data-document_sender_lastname="{{document.sender.lastname}}"
                data-document_record_or_transmit="1"
                id="modal_confirm_notation_transmit" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">{{ 'To transmit'|trans({}, 'innova_collecticiel') }}</button>
            </div>
        </div>
    </div>
</div>
{# Fin de la déclaration de la modal pour confirmation de la validation #}

<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
<script src="{{ asset('bundles/innovacollecticiel/js/popup.js') }}"></script>
