<a href="#study-modal-evaluation_{{ document.id }}" data-toggle="modal" data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}" id="document_id_{{ document.id }}" name="document_id_{{ document.id }}" class="document_validate">
    <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To see a review'|trans({},'innova_collecticiel') }}">
        {% if dropzone.evaluationType == "notation" %}
            {{ notationDocuments[document.id] ~ "/" ~ dropzone.maximumNotation }}
        {% else %}
            {% if notationScaleDocument == '0' %}
                <i class="fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Review'|trans({},'innova_collecticiel') }}"></i>
            {% else %}
                {{notationScaleDocument}}
            {% endif %}
        {% endif %}
    </span>
</a>

{# VIEW NOTATION MODAL #}
<div class="modal fade" id="study-modal-evaluation_{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- #MODAL BODY -->
            <div class="modal-body">
                {% if dropzone.instruction != null %}
                  <div class="row">
                      <div class="col-md-12">
                          {# Bloc "Rappel des instructions" #}
                          {% include 'InnovaCollecticielBundle:Dropzone:recallInstructionTeacherNotation.html.twig' %}
                      </div>
                  </div>
                  <hr>
                {% endif %}
                <div class="row text-left">
                    <div class="col-md-12">
                        <h5><b>{{ 'Review on'|trans({}, 'innova_collecticiel') }}</b></h5>
                    </div>
                </div>

                {% if document.url is not null %}
                    {% set documentTitle = document.url | length > 40
                        ? document.url | slice(0, 40) ~ '...'
                        : document.url %}
                {% else %}
                    {% if document.title is not null %}
                        {% set documentTitle = document.title %}
                    {% else %}
                        {% set documentTitle = document.resourceNode.name %}
                    {% endif %}
                {% endif %}

                <div class="row text-left">
                    <div class="col-md-12">
                        <table class="table table-responsive table-condensed well table-striped">
                            <thead></thead>
                            <tbody class="table">
                                <tr>
                                    <td>{{ 'Type'|trans({}, 'innova_collecticiel') }}</td>
                                    <td>{{ 'Document'|trans({}, 'innova_collecticiel') }}</td>
                                </tr>
                                <tr>
                                    <td>{{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}</td>
                                    <td>{{ documentTitle }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row text-left">
                    <div class="col-md-12">
                        <h5>
                          <b>{{ 'Author'|trans({}, 'innova_collecticiel') }}</b>
                          {{ drop.user.firstName }}
                          {{ drop.user.lastName }}
                        </h5>
                        <h5>
                          <b>{{ 'Assessor'|trans({}, 'innova_collecticiel') }}</b>
                          {{ notationAssessorDocument.firstName }}
                          {{ notationAssessorDocument.lastName }}
                        </h5>
                    </div>
                </div>
                <hr>
                {% if dropzone.evaluationType == "notation" %}

                    <div class="row text-left">
                        <div class="col-md-12">
                            <b>{{ 'Grade'|trans({}, 'innova_collecticiel') }}</b>
                            {{ notationDocuments[document.id] }}
                            {{ 'Notation Max'|trans({}, 'innova_collecticiel') }}
                            {{ maximumNotation }}
                            {{ ')' }}
                        </div>
                    </div>
                    <hr>
                    {% for notation in notationsArray %}
                        <div class="row text-left">
                            <div class="col-md-12">
                                <b>{{ notation.notationName }}</b>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-12">
                                {# Pour affichage de la valeur de l'accusé de réception #}
                                {% render(controller('InnovaCollecticielBundle:ChoiceNotation:renderChoiceText', {'gradingNotationId': notation.id, 'documentId': document.id, 'dropzoneId': dropzone.id})) %}
                            </div>
                        </div>
                    {% endfor %}
                  {% endif %}

                  {% if dropzone.evaluationType == "ratingScale" %}

                    <div class="row text-left">
                      <div class="col-md-12">
                        <h5><b>{{ 'Appreciation'|trans({}, 'innova_collecticiel') }}</b></h5>
                      </div>
                    </div>
                    <div class="row text-left">
                      <div class="col-md-12">{{ notationScaleDocument }}</div>
                    </div>
                    <hr>
                    {% for criteria in criteriasArray %}
                      <div class="row text-left">
                        <div class="col-md-12">
                          <h5><b>{{ criteria.criteriaName }}</b></h5>
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col-md-12">
                        {%
                          render(
                            controller(
                              'InnovaCollecticielBundle:ChoiceCriteria:renderChoiceText',
                                { 'gradingCriteriaId': criteria.id, 'documentId': document.id, 'dropzoneId': dropzone.id }
                              )
                            )
                        %}
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
            </div>
            <!-- #END MODAL BODY -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rest" id="cancel_button" data-dismiss="modal">{{ 'Ok'|trans({}, 'innova_collecticiel') }}</button>
            </div>
        </div>
    </div>
</div>
{# VIEW NOTATION MODAL END #}
