<div class="action-bar clearfix">
    <div class="btn-group">
        <a href="#" class="btn btn-default" ng-click="undo()" ng-disabled="undoDisabled">
            <span class="icon-reply"></span> {{ 'undo'|trans({}, 'path_editor') }}
        </a>
    
        <a href="#" class="btn btn-default" ng-click="redo()" ng-disabled="redoDisabled">
            <span class="icon-share-alt"></span> {{ 'redo'|trans({}, 'path_editor') }}
        </a>
    </div>

    <div class="pull-right">
        <button type="submit" class="btn btn-primary">
            <span class="icon-save"></span> {{ 'save'|trans({}, 'path_editor') }}
        </button>

        <a ng-click="closeEditor('{{ path('claro_workspace_open_tool', { workspaceId: workspace.id, toolName: 'innova_path' }) }}')" href="#" class="btn btn-warning">
            <span class="icon-remove-sign"></span> {{ 'back'|trans({}, 'path_editor') }}
        </a>
    </div>
</div>