<div class="row" ng-show="edit.preview">
    <div class="col-md-12 text-right" style="margin-bottom: 15px;">
        <a class="btn btn-sm btn-primary" href="#" role="button" ng-click="validateEditStep()">{{ 'validate'|trans({}, 'path_editor') }}</a>
        <a class="btn btn-sm btn-default" href="#" role="button" ng-click="cancelEditStep()">{{ 'cancel'|trans({}, 'path_editor') }}</a>
    </div>
</div>

<div class="panel panel-default">
    {# Preview header #}
    <div class="panel-heading">
        {# Step level #}
        <div class="preview-lvl lvl-{% verbatim %}{{ previewStep.lvl }}{% endverbatim %}"></div>
        
        {# Step name #}
        <h3 class="panel-title">
            <strong ng-show="previewStep.lvl == 0 || !edit.preview" ng-bind="previewStep.name" style="margin-left: 8px;"></strong>            
        </h3>

        {# Edit step name #}
        <input type="text" style="margin-left: 8px;" class="form-control" name="step-name" ng-model="previewStep.name" ng-show="previewStep.lvl != 0 && edit.preview" />
    </div>
    
    {# Preview info #}
    <div class="panel-body">
        <div class="row">
            {# Step properties #}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    {# Step image #}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                        <img ng-src="{% verbatim %}{{ webDir }}bundles/innovapath/images/steps/{{ previewStep.image }}{% endverbatim %}" />
                        <a ng-show="edit.preview" href="#" class="btn btn-default btn-sm" ng-click="selectImage()" role="button">
                            <span class="icon-picture"></span> {{ 'select_image'|trans({}, 'path_editor') }}
                        </a>
                    </div>
                    
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row" ng-show="!edit.preview">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                                <span class="icon-user icon-large"></span> {% verbatim %}{{ whoList[previewStep.who] || whoDefault.name }}{% endverbatim %}
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                                <span class="icon-map-marker icon-large"></span> {% verbatim %}{{ whereList[previewStep.where] || whereDefault.name }}{% endverbatim %}
                                            </div>
                                        </div>

                                        <div class="row" ng-show="edit.preview">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="icon-user"></span> ?</span>
                                                    <select class="form-control" name="step-who" ng-model="previewStep.who" ng-options="k as v for (k,v) in whoList">
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <br/>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="icon-map-marker"></span> ?</span>
                                                    <select class="form-control" name="step-where" ng-model="previewStep.where" ng-options="k as v for (k,v) in whereList">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            {# Step duration #}
                            <div class="col-lg-12 col-md-12 col-sm-12" ng-show="edit.preview || previewStep.hasDuration">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div ng-show="!edit.preview">
                                            <span class="icon-time icon-large" style="vertical-align: middle;"></span>
                                            <span style="vertical-align: middle;">
                                                {% verbatim %}{{ previewStep.durationHours || "0" }}h{{ previewStep.durationMinutes || "00" }}min{% endverbatim %}
                                            </span>
                                        </div>
                                        
                                        <div class="row" ng-show="edit.preview">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="icon-time"></span></span>
                                                    <label style="margin-bottom: 0; vertical-align: middle; border: 1px solid #ccc; padding: 6px 12px; border-radius: 0 4px 4px 0; width: 100%;">
                                                        <input type="checkbox" name="step-hasDuration" ng-model="previewStep.hasDuration" value="true" />
                                                        {{ 'step_has_duration'|trans({}, 'path_editor') }}
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="previewStep.hasDuration">
                                                <br/>
                                                <div class="input-group">
                                                    <span class="input-group-addon">h</span>
                                                    <input class="form-control text-right" type="text" ng-model="previewStep.durationHours" ng-change="correctDuration('hour')" size="1" />
                                                    <div class="btn-group-vertical" style="display: table-cell;">
                                                        <button ng-click="incrementDuration('hour')" type="button" class="btn btn-xs btn-default" style="font-size: 9px; border-top-left-radius: 0;">
                                                            <span class="icon-chevron-up"></span>
                                                        </button>
                                                        <button ng-click="decrementDuration('hour')" type="button" class="btn btn-xs btn-default" style="font-size: 9px; border-bottom-left-radius: 0;">
                                                            <span class="icon-chevron-down"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="previewStep.hasDuration">
                                                <br/>
                                                <div class="input-group">
                                                    <span class="input-group-addon">min</span>
                                                    <input class="form-control text-right" type="text" ng-model="previewStep.durationMinutes" ng-change="correctDuration('minute')" size="1" />
                                                    <div class="btn-group-vertical" style="display: table-cell">
                                                        <button ng-click="incrementDuration('minute')" type="button" class="btn btn-xs btn-default" style="font-size: 9px; border-top-left-radius: 0;">
                                                            <span class="icon-chevron-up"></span>
                                                        </button>
                                                        <button ng-click="decrementDuration('minute')" type="button" class="btn btn-xs btn-default" style="font-size: 9px; border-bottom-left-radius: 0;">
                                                            <span class="icon-chevron-down"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {# Step with computer #}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="panel panel-default" ng-class="{'clickable-area': edit.preview}" ng-click="previewStep.withComputer = edit.preview ? !previewStep.withComputer : previewStep.withComputer">
                                    <div class="panel-body">
                                        <span ng-show="!previewStep.withComputer" class="icon-stack">
                                            <span class="icon-desktop"></span>
                                            <span class="icon-ban-circle icon-stack-base text-danger"></span>
                                        </span>
                                        <span ng-show="previewStep.withComputer" class="icon-desktop icon-large"></span>
                                        <br/>
                                        <span ng-show="previewStep.withComputer">{{ 'with_computer'|trans({}, 'path_editor') }}</span>
                                        <span ng-show="!previewStep.withComputer">{{ 'without_computer'|trans({}, 'path_editor') }}</span>
                                    </div>
                                </div>
                            </div>

                            {# Step with tutor #}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="panel panel-default" ng-class="{'clickable-area': edit.preview}" ng-click="previewStep.withTutor = edit.preview ? !previewStep.withTutor : previewStep.withTutor">
                                    <div class="panel-body">
                                        <span ng-show="!previewStep.withTutor" class="icon-stack">
                                            <span class="icon-user"></span>
                                            <span class="icon-ban-circle icon-stack-base text-danger"></span>
                                        </span>
                                        <span ng-show="previewStep.withTutor" class="icon-user icon-large"></span>
                                        <br/>
                                        <span ng-show="previewStep.withTutor">{{ 'with_tutor'|trans({}, 'path_editor') }}</span>
                                        <span ng-show="!previewStep.withTutor">{{ 'without_tutor'|trans({}, 'path_editor') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!edit.preview" ng-bind-html="previewStep.description">
            <em>{{ 'step_no_description'|trans({}, 'path_editor') }}</em>
        </div>

        <div ng-show="edit.preview">
            <textarea ui-tinymce="tinymceOptions" class="form-control" name="step-description" ng-model="previewStep.description"></textarea>
        </div>
    </div>

    <div class="navbar navbar-default navbar-static-top navbar-resources">
        <div class="navbar-header">
            <span class="h4 navbar-text">
                <span class="icon-folder-open"></span>
                {{ 'resources'|trans({}, 'path_editor') }}
            </span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ui-resource-picker="resourcePickerConfig"><span class="icon-search"></span> {{ 'resources_browse'|trans({}, 'path_editor') }}</a>
            </li>

            {#<li>
                <a href="#" ng-click="editResource()"><span class="icon-edit"></span> {{ 'resource_add'|trans({}, 'path_editor') }}</a>
            </li>#}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-zoom-in"></span>
                    <span class="sr-only">Zoom</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu zoom">
                    <li ng-class="{ active: 50 == resourceZoom }"><a href="#" ng-click="resourceZoom = 50">50%</a></li>
                    <li ng-class="{ active: 75 == resourceZoom }"><a href="#" ng-click="resourceZoom = 75">75%</a></li>
                    <li ng-class="{ active: 100 == resourceZoom }"><a href="#" ng-click="resourceZoom = 100">100%</a></li>
                    <li ng-class="{ active: 125 == resourceZoom }"><a href="#" ng-click="resourceZoom = 125">125%</a></li>
                    <li ng-class="{ active: 150 == resourceZoom }"><a href="#" ng-click="resourceZoom = 150">150%</a></li>
                    <li ng-class="{ active: 200 == resourceZoom }"><a href="#" ng-click="resourceZoom = 200">200%</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <p class="text-center" ng-show="(null == inheritedResources || inheritedResources.length == 0) && (null == previewStep.resources || previewStep.resources.length == 0)" style="margin-top: 10px;">
        <em>{{ 'step_no_resource'|trans({}, 'path_editor') }}</em>
    </p>

    <ul class="step-resources nodes" ng-show="(null != inheritedResources && inheritedResources.length != 0) || (null != previewStep.resources && previewStep.resources.length != 0)">
        <!-- Inherited resources from parents -->
        <li ng-repeat="resource in inheritedResources" ng-class="{excluded: resource.isExcluded}" class="resource-inherited resource-lvl-{% verbatim %}{{ resource.parentStep.lvl }}{% endverbatim %} node-thumbnail node ui-state-default zoom{% verbatim %}{{ resourceZoom }}{% endverbatim %}">
            <div class="node-element" style="background-image: url('{% verbatim %}{{ resourceIcons[resource.type] }}{% endverbatim %}');"></div>
            <div class="dropdown">
                <a class="dropdown-toggle name dropdown-thumbnail" href="#" data-toggle="dropdown" role="button">
                    <div class="node-name">{% verbatim %}{{ resource.name }}{% endverbatim %} <span class="icon-caret-down"></span></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="node-menu-action" href="#" ng-show="resource.isExcluded" ng-click="includeParentResource(resource)">
                            <span class="icon-eye-open"></span>
                            {{ 'resource_show_parent'|trans({}, 'path_editor') }}
                        </a>
                        <a class="node-menu-action" href="#" ng-show="!resource.isExcluded" ng-click="excludeParentResource(resource)">
                            <span class="icon-eye-close"></span>
                            {{ 'resource_hide_parent'|trans({}, 'path_editor') }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Specific resources -->
        <li ng-repeat="resource in previewStep.resources" ng-class="{propagated: resource.propagateToChildren}" class="resource node-thumbnail node ui-state-default zoom{% verbatim %}{{ resourceZoom }}{% endverbatim %}">
            <div class="node-element" style="background-image: url({% verbatim %}{{ resourceIcons[resource.type] || resourceIcons['custom/default'] }}{% endverbatim %});"></div>

            <div class="dropdown">
                <a class="dropdown-toggle name dropdown-thumbnail" href="#" data-toggle="dropdown" role="button">
                    <div class="node-name">{% verbatim %}{{ resource.name }}{% endverbatim %} <span class="icon-caret-down"></span></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-show="null == resource.resourceId || resource.resourceId.length == 0">
                        <a class="node-menu-action" href="#" ng-click="editResource(resource)">
                            <span class="icon-pencil"></span>
                            {{ 'resource_edit'|trans({}, 'path_editor') }}
                        </a>
                    </li>
                    <li>
                        <a class="node-menu-action" href="#" ng-show="!resource.propagateToChildren" ng-click="enableResourcePropagation(resource)">
                            <span class="icon-eye-open"></span>
                            {{ 'resource_propagate'|trans({}, 'path_editor') }}
                        </a>

                        <a class="node-menu-action" href="#" ng-show="resource.propagateToChildren" ng-click="disableResourcePropagation(resource)">
                            <span class="icon-eye-close"></span>
                            {{ 'resource_no_propagate'|trans({}, 'path_editor') }}
                        </a>
                    </li>
                    <li>
                        <a class="node-menu-action" href="#" ng-click="removeResource(resource)">
                            <span class="icon-trash"></span>
                            {{ 'resource_delete'|trans({}, 'path_editor') }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="row" ng-show="edit.preview">
    <div class="col-md-12 text-right" style="margin-bottom: 15px;">
        <a class="btn btn-sm btn-primary" href="#" role="button" ng-click="validateEditStep()">{{ 'validate'|trans({}, 'path_editor') }}</a>
        <a class="btn btn-sm btn-default" href="#" role="button" ng-click="cancelEditStep()">{{ 'cancel'|trans({}, 'path_editor') }}</a>
    </div>
</div>