{% if blog is not null %}
    <p>{{ blog.resourceNode.name }}</p>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="postheading{{ post.id }}">
                <h4 class="panel-title">
                    <span
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#post{{ post.id }}"
                        aria-expanded="false"
                        aria-controls="post{{ post.id }}"
                        class="pointer-hand collapsed"
                    >
                        {{ post.title }}
                    </span>
                </h4>
            </div>
            <div id="post{{ post.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="postheading{{ post.id }}" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    {{ post.shortContent(path('icap_blog_view', {'blogId' : blog.id}) ~ '#/' ~ post.slug, 'read_more'|trans({}, 'widget'))|raw }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>{{ 'no_blog_selected'|trans({}, 'icap_blog') }}</p>
{% endif %}