{% trans_default_domain "icap_blog" %}

{% block stylesheets %}
    {% stylesheets debug=false filter="less, cssmin"  output="css/icapblog/widget_tag.css"
    "@IcapBlogBundle/Resources/views/less/widget_tag.less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

<form name="blog_widegt_tag_list_blog_form"
      class="configure_blog_form widget-content-config-form"
      action="{{ path("icap_blog_widget_tag_list_blog_configure", {'id': widgetInstance.id}) }}"
      method="post" {{ form_enctype(form) }}
      novalidate="novalidate"
>
    <div class="panel-body">
        {{ form_errors(form) }}
        <div class="form-group row">
            <div class="col-md-12">
                 {{ form_widget(form.resourceNode) }}
            </div>
        </div>
        {{ form_row(form.tag_cloud) }}
        {{ form_rest(form) }}
    </div>
</form>