{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}
    {{ resourceNode.getName() ~ ' - ' ~ 'results'|trans({}, 'platform')|striptags|raw }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            [{{ 'scorm_results'|trans({}, 'scorm') }}]
            {{ resourceNode.getName() }}
        </h3>
    </div>
    <div class="panel-body">
        <div id="scorm-results-panel" data-ng-app="ScormResultsModule" data-scorm-results>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('packages/ng-table/dist/ng-table.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/clarolinescorm/css/scormResults.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'scorm' }) }}"></script>
    <script type='text/javascript' src='{{ asset('packages/angular/angular.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('packages/angular-loading-bar/build/loading-bar.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('packages/ng-table/dist/ng-table.js') }}'></script>
    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-plugin-scorm-results.js') }}"></script>
    <script>
        window.resourceNodeId = {{ resourceNode.getId() }}
        window.type = '{{ type }}'
        window.scos = {{ scos|json_encode|raw }}
        window.trackings = {{ trackings|json_encode|raw }}
    </script>
{% endblock %}