{% macro renderMenu(scos) %}
    <ul>
    {% for sco in scos %}

        {% if sco.getIsBlock() %}
            {% set scoChildren = sco.getScoChildren() %}
            <li><b>{{ sco.getTitle() }}</b></li>

            {% if scoChildren is not null %}
                {{ _self.renderMenu(scoChildren) }}
            {% endif %}

        {% else %}
            <li sco-id="{{sco.getId()}}">
                <a href="{{ path('claro_render_scorm_2004_sco', {'scoId': sco.getId()}) }}"
                   class="sco-menu-link">
                    {{ sco.getTitle() }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% from _self import renderMenu %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-scorm-scorm-resource.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/clarolinescorm/js/iframe.js') }}"></script>
    <script type="text/javascript">
        window.Claroline.Iframe.resize('scorm-frame');
        $(window).resize(function() {
            window.Claroline.Iframe.resize('scorm-frame');
        });
        var trackingDetails = {{ scoTrackingDetails|raw }};
    </script>
    <script src="{{ asset('bundles/clarolinescorm/js/scorm_2004_api.js') }}" type="text/javascript">
    </script>
    {{ parent() }}
    <script type="text/javascript">
        function runPrefixedMethod(obj, method) {
            var pfx = ['webkit', 'moz', 'ms', 'o', ''];
            var p = 0, m = null, t = null;

            while (p < pfx.length && !obj[m]) {
                m = method;

                if (pfx[p] == '') {
                    m = m.substr(0,1).toLowerCase() + m.substr(1);
                }

                m = pfx[p] + m;

                if ('undefined' !== (t = typeof obj[m])) {
                    pfx = [pfx[p]];

                    return t === 'function' ? obj[m]() : obj[m];
                }

                p++;
            }
        }

        function enterFullScreen() {
            if (runPrefixedMethod(document, 'FullScreen') || runPrefixedMethod(document, 'IsFullScreen')) {
                runPrefixedMethod(document, 'CancelFullScreen');
            }
            else {
                runPrefixedMethod(document.getElementById('scorm-frame'), 'RequestFullScreen');
            }
        }

        $('#menu-display-btn').on('click', function () {
            if ($('.scorm-menu').hasClass('opened')) {
                $('.scorm-menu').removeClass('opened');
            } else {
                $('.scorm-menu').addClass('opened');
            }
        });

        $('#configuration-btn').on('click', function () {
            var resourceId = $(this).data('resource-id');
            window.Claroline.Modal.displayForm(
                Routing.generate('claro_scorm_2004_configuration_edit_form', {'scorm': resourceId}),
                refreshPage,
                function() {}
            );
        });

        var refreshPage = function () {
            window.location.reload();
        };
    </script>
{% endblock %}

{% block content %}
    <div class="page-container scorm-container">
        <main class="page">
            <div class="page-header">
                <h1>{{ currentSco.getTitle() }}</h1>

                <div class="page-actions">
                    {% if canEdit %}
                        <button id="configuration-btn"
                                class="btn btn-default btn-sm"
                                data-resource-id="{{ resource.getId() }}"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{ 'configure'|trans({}, 'platform') }}"
                        >
                            <i class="fa fa-cog"></i>
                        </button>
                    {% endif %}
                    <button id="menu-display-btn"
                            class="btn btn-default btn-sm"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="{{ 'display_menu'|trans({}, 'scorm') }}"
                    >
                        <i class="fa fa-list"></i>
                    </button>
                    <a class="btn btn-primary btn-sm"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="{{ 'full_screen'|trans({}, 'scorm') }}"
                       onClick="javascript:enterFullScreen()">
                        <i class="fa fa-expand"></i>
                    </a>
                    {% if canEdit %}
                        <a class="btn btn-default btn-sm"
                           href="{{ path('claro_scorm_results', {'resourceNode': resource.getResourceNode().getId()}) }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="{{ 'display_results'|trans({}, 'scorm') }}"
                        >
                            <i class="fa fa-check"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-default btn-sm"
                            {% if resource.getExitMode() == constant('Claroline\\ScormBundle\\Entity\\ScormResource::WORKSPACE_OPEN') %}
                                href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}"
                            {% elseif resource.getExitMode() == constant('Claroline\\ScormBundle\\Entity\\ScormResource::DESKTOP_OPEN') %}
                                href="{{ path('claro_desktop_open') }}"
                            {% endif %}
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="{{ 'quit'|trans({}, 'resource') }}"
                    >
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="page-content">
                <div id="menu-box" class="scorm-menu">
                    <div id="scorm-menu">
                        {{ renderMenu(scos) }}
                        <br>
                        <div class="center-text">
                            <a href="{{ path('claro_render_scorm_2004_resource', {'scormId': resource.getId(), 'mode': 1}) }}"
                               class="btn btn-default">
                                {{ 'quit'|trans({}, 'resource') }}
                            </a>
                        </div>
                        <br>
                    </div>
                </div>

                <div id="content-box" class="scorm-content">
                    <div id="twig-scorm-data"
                         data-sco-id="{{scoTracking.getSco().getId()}}">
                    </div>
                    <iframe id="scorm-frame" allowfullscreen class="full-size" src="{{ asset(scormUrl) }}" frameborder="0"></iframe>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
