<div id="modal-scorm-configuration-form"
     class="modal-dialog"
     role="dialog"
     aria-labelledby="modalLabel"
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ scorm.getResourceNode().getName() }}
            </h3>
        </div>
        <div class="modal-body">
            <form id="scorm-configuration-form"
                  action="{{ path('claro_scorm_2004_configuration_edit', {'scorm': scorm.getId()}) }}"
                  method="POST"
                  {{ form_enctype(form) }}
            >
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>