<div class="{{ tag }}-options small-inputs row" data-ng-show="optionWindow=='{{ tag }}'">
    <div class="col-md-2">
        <div>
            <div><label>{{ ('display_'~tag)|trans({}, 'icap_website') }}</label></div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" id="has-{{ tag }}" data-ng-class="{'active':vm.options.data.{{ tag }}Enabled}" data-ng-click="vm.options.data.{{ tag }}Enabled=true">{{ 'activate'|trans({}, 'icap_website') }}</button>
                <button class="btn btn-default" id="has-{{ tag }}" data-ng-class="{'active':!vm.options.data.{{ tag }}Enabled}" data-ng-click="vm.options.data.{{ tag }}Enabled=false">{{ 'disable'|trans({}, 'icap_website') }}</button>
            </div>
        </div>
        <div>
            <label for="{{ tag }}-bg-color">{{ 'bg_color'|trans({},'icap_website') }}</label>
            <div class="input-group color-group input-group-sm" bs-colorpicker data-color="vm.options.data.{{ tag }}BgColor"></div>
        </div>
        <div>
            <label for="{{ tag }}-height">{{ 'height'|trans({},'icap_website') }}</label>
            <input type="number" class="form-control" id="{{ tag }}-height" max="200" data-ng-model="vm.options.data.{{ tag }}Height"/> px
        </div>
    </div>
    <div class="col-md-3">
        <label for="{{ tag }}-text">{{ 'rich_content'|trans({}, 'icap_website') }}</label><br/>
        <div>{{ 'rich_content_explain'|trans({}, 'icap_website') }}</div>
        <div class="btn-group" role="group">
            <button data-ng-class="{'active':vm.options.{{ tag }}EditorActive}" data-ng-click="vm.options.{{ tag }}EditorActive=true" class="btn btn-default">{{ 'editor_enable'|trans({}, 'icap_website') }}</button>
            <button data-ng-class="{'active':!vm.options.{{ tag }}EditorActive}" data-ng-click="vm.options.{{ tag }}EditorActive=false" class="btn btn-default">{{ 'editor_disable'|trans({}, 'icap_website') }}</button>
        </div>
    </div>
    {% include 'IcapWebsiteBundle:Website:Edit/bg_image_repeat.html.twig' with {'tag':tag} %}
</div>