{% extends 'ICAPBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.name }}{% endblock %}

{% block content %}
    <p>
        <a href="{{ _path('icap_blog_post_new', {'blogId': _resource.id}) }}">
            <button class="btn">{{ 'new_post'|trans() }}</button>
        </a>
    </p>
    {% for post in posts %}
    <article>
        {{ post.title }}
    </article>
    {% else %}
    <span>{{ 'no_post'|trans() }}</span>
    {% endfor %}
    {% if pager.haveToPaginate %}
    <div>
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'icap_blog_view',
                    'routeParams': {'blogId': _resource.id}
                }
            )
        }}
    </div>
    {%  endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/icapblog/css/blog_view.css') }}"/>
    {% endstylesheets %}
{% endblock %}