{% extends 'ICAPBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.name }}{% endblock %}

{% block content %}
    {% if is_granted('EDIT', blog) %}
    <p>
        <a href="{{ _path('icap_blog_post_new', {'blogId': _resource.id}) }}" class="btn">
            {{ 'new_post'|trans }}
        </a>
    </p>
    {% endif %}
    <div class="alert alert-info">
        <a href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}" class="close" data-toggle="tooltip" title="{{ 'delete_filter'|trans({}, 'icap_blog') }}" data-placement="top" data-original-title="{{ 'delete_filter'|trans({}, 'icap_blog') }}">&times;</a>
        {{ "post_filtered_by_search"|trans({'%searchTerms%': search}, 'icap_blog')|raw }}.
    </div>
    {% for post in pager %}
        {% set isPublished = post.isPublished %}
        <article{% if not isPublished %} class="unpublished"{% endif %}>

            {% include 'ICAPBlogBundle:Post:postHeader.html.twig' with {'mode': 'search_view'} %}

            <div class="content">{{ post.content|highlight(search)|raw }}</div>

            {% include 'ICAPBlogBundle:Post:postFooter.html.twig' with {'mode': 'search_view'} %}
        </article>
    {% else %}
        <span>{{ 'no_post'|trans }}</span>
    {% endfor %}
    {% if pager.haveToPaginate %}
    <div>
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'icap_blog_view_search',
                    'routeParams': {'blogId': _resource.id}
                }
            )
        }}
    </div>
    {%  endif %}
{% endblock %}