{% extends "ClarolineBadgeBundle:Admin:layout.html.twig" %}

{% block content %}
    <form action="{{ path('claro_admin_badges_award', {'id': badge.id}) }}" method="post" class="form-horizontal" id="award_form">

        {{ form_errors(form) }}

        <div class="row-fluid">
            <div class="span5">
                {{ form_label(form.group) }}
                {{ form_errors(form.group) }}
                {{ form_widget(form.group) }}
            </div>

            <div class="span2">
                <p>{{ 'or'|trans({}, 'platform') }}</p>
            </div>

            <div class="span5">
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'award'|trans({}, 'platform') }}</button>
            <button class="btn btn-danger" id="viewAwardedUser" type="button" title="{{ 'cancel'|trans({}, 'platform') }}">{{ 'cancel'|trans({}, 'platform') }}</button>
        </div>
    </form>
{% endblock %}