{% extends "ClarolineBadgeBundle:Admin:layout.html.twig" %}

{% trans_default_domain "badge" %}

{% block section_content %}
    {{ macros.flashBox() }}

    <div class="margin">
        <h3 id='user-list-block' class="sub-section-header">
            {{ 'Badges'|trans }}
            <a href="{{ path('claro_admin_badges_add') }}" class="btn btn-mini" data-toggle="tooltip" data-placement="right" title="{{ 'add_badge'|trans }}"><i class="icon-plus"></i></a>
        </h3>
    </div>

    {% if 0 < badgeClaims|length %}
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    {{ 'badge_current_claimed_badges'|transchoice(badgeClaims|length, {'%claimedBadgeCount%': badgeClaims|length}) }}
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table">
                        <thead>
                            <th>Actions</th>
                            <th>Badge</th>
                            <th>Utilisateur</th>
                            <th>Date</th>
                        </thead>
                        <tbody>
                        {% for badgeClaim in badgeClaims %}
                            <tr>
                                <td>
                                    <a href="{{ path('claro_admin_manage_claim', {'id': badgeClaim.id, 'validate': true}) }}" class="btn confirm" data-toggle="tooltip" title="{{ 'badge_validate_award'|trans }}" data-confirm-title="{{ 'badge_award_confirm_title'|trans }}" data-confirm-message="{{ 'badge_award_confirm_message'|trans({'%badgeName%': badgeClaim.badge.name(language), '%user%': badgeClaim.user.firstname ~ ' ' ~ badgeClaim.user.lastname }) }}" data-confirm-ok="{{ 'award'|trans }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">
                                        <i class="icon-ok-circle"></i>
                                    </a>
                                    <a href="{{ path('claro_admin_manage_claim', {'id': badgeClaim.id, 'validate': false}) }}" class="btn confirm" data-toggle="tooltip" title="{{ 'badge_reject_award'|trans }}" data-confirm-title="{{ 'badge_dont_award_confirm_title'|trans }}" data-confirm-message="{{ 'badge_dont_award_confirm_message'|trans({'%badgeName%': badgeClaim.badge.name(language), '%user%': badgeClaim.user.firstname ~ ' ' ~ badgeClaim.user.lastname}) }}" data-confirm-ok="{{ 'dont_award'|trans }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}">
                                        <i class="icon-remove-circle"></i>
                                    </a>
                                </td>
                                <td><a href="{{ path('claro_view_badge', {'id': badgeClaim.badge.id}) }}" title="{{ badgeClaim.badge.name(language) }}">{{ badgeClaim.badge.name(language) }}</a></td>
                                <td><a href="{{ path('claro_profile_view', {'userId': badgeClaim.user.id}) }}" title="{{ badgeClaim.user.firstname }} {{ badgeClaim.user.lastname }}">{{ badgeClaim.user.firstname }} {{ badgeClaim.user.lastname }}</a></td>
                                <td>{{ badgeClaim.claimedAt|date('date_format'|trans({}, 'platform')) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <ul class="unstyled inline thumbnails badge_list">
    {% for badge in pager %}
        <li class="span2">
            <a href="{{ path('claro_admin_badges_edit', {'id': badge.id}) }}" title="{{ badge.name(language) }}" class="thumbnail">
                <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name(language) }}" />
            </a>
        </li>
    {% else %}
        <li>{{ 'no_badges'|trans({}, 'badge') }}</li>
    {% endfor %}
    </ul>
    {% if pager.haveToPaginate %}
    <div>
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_admin_badges'
                }
            )
        }}
    </div>
    {%  endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
<script type="text/javascript">
    $(function(){
        $('[data-toggle=tooltip]').tooltip();

        $('.confirm').confirmModal();
    });
</script>
{% endblock %}
