{% if noExplain is not defined or not noExplain %}
{# explain block for tinyMCE raw HTML edition #}
<div style="display:none;">
    {{ 'html_explain'|trans({}, 'videojs') }}
</div>
{% endif %}

<video
    height="auto"
    width="320"
    controls
    data-download="{{ canExport }}"
    class="video-js vjs-big-play-centered vjs-default-skin vjs-16-9 vjs-waiting"
    data-setup='{}'
    >
     <source src="{{ url('claro_file_get_media', {'node': video.resourceNode.id}) }}" type="{{ video.resourceNode.mimeType }}" />
     {% for track in get_video_tracks(video) %}
          <track
              kind="{{ track.getKind() }}"
              src="{{ path('api_get_video_track_stream', {'track': track.getId() }) }}"
              srclang="{{ track.getLang() }}"
              label="{{ track.getLabel() }}"
              {% if (track.isDefault()) %}default=""{% endif %}
          >
     {% endfor %}
</video>
