{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-video-player-subtitles.css') }}" />
{% endblock %}

{% block content %}
    <div
        class="page-container video-player-container"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
        data-video="{{ _resource | api_serialize | json_encode | raw | escape }}"
        data-url="{{ url('claro_file_get_media', {'node': _resource.resourceNode.id}) | json_encode | raw | escape }}"
        data-tracks="{{ tracks | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-video-player-resource.js') }}"></script>
{% endblock %}