{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}
{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/errorValidation.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %} {{ 'edit a question' | trans }} {% endblock %}

{% block section_content %}

    <div class="panel-heading" style="padding-left: 50px;">
        <h1>{{'open edition'|trans}}</h1>
    </div><br/>

    <a href="{{ path('ujm_question_index') }}" style="padding-left: 50px;">
        <i class="icon-arrow-left"></i> {{ 'back to the list' | trans }}
    </a>

    <hr/>

    <fieldset style="border: skyblue ridge medium; padding-left: 50px; padding-right: 50px; padding-bottom: 20px; border-radius: 10px; box-shadow: 5px 5px 5px #ccf;">
        <legend style="border: transparent hidden 0; width: 640px; margin: 0; color: skyblue;">
            <h1>&nbsp;{{ 'open edition' | trans }}</h1>
        </legend>

        <form action="{{ path('ujm_interactionopen_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

            {% include "UJMExoBundle:Partial:questionEdit.html.twig" %}

            <fieldset style="border: lightsteelblue dashed thin; padding-left: 20px; padding-right: 20px; padding-bottom: 5px; padding-top: 5px;">
                <legend style="border: transparent hidden 0; width: 120px; margin: 0; color: lightsteelblue;">
                    &nbsp;&nbsp;{{ 'response' | trans }} :
                </legend>

                {{ form_row(edit_form.typeopenquestion) }}

                <hr style=" height: 1px; color: teal; background-color: teal"/>

                <div id="qOpenScoreMaxLongResp">
                    <p>
                        {{ form_label(edit_form.scoreMaxLongResp) }} &nbsp;
                        {{ form_widget(edit_form.scoreMaxLongResp, { 'attr': {'style': 'width: 50px;  text-align: end;'} }) }}
                    </p>
                </div>

                <div id="qOpenOrthography" style="display: none;">
                    <p>
                        {{ form_widget(edit_form.orthographyCorrect, { 'attr': {'style': 'display inline;float:left;position: relative; top: -1px;margin-right: 7px;'} }) }}
                        {{ form_label(edit_form.orthographyCorrect) }}
                    </p>
                </div>

            <!--<div id="qOpenUnit" style="display: none;">
                <p>
                    {#{ form_row(edit_form.unit) }#}
                </p>
            </div>-->

                <div id="qOpenKeyword" style="display: none;">
                    <p>
                        {{ form_row(edit_form.wordResponses) }}
                    </p>
                </div>
            </fieldset>

            <br/>

            <p>
                <input type="hidden" name="exercise" value="{{ exoID }}" />
                <button type="submit" id="button_submit" class="btn btn-primary">{{ 'edit' | trans }}</button>
            </p>

            <div style="display: none;">{{ form_rest(edit_form) }}</div>
            {{ form_errors(edit_form) }}
        </form>
    </fieldset>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# tiny MCE #}
{{ tinymce_init() }}

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionOpen.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/editionAv.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    linkCategory('{{ path('ujm_category_new_pop') }}');
    insertStyle();
    hintCSSEdit();
    addFormHintEdit('{{ 'add hint' | trans }}',  '{{ asset('bundles/ujmexo/images/ajouter_ligne.jpeg') }}');
    editionAv();
});
</script>

{% endblock %}