<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/ujmexo/css/errorValidation.css') }}" type="text/css" rel="stylesheet"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'open_creation' | trans }}</h3>
    </div>
    <form onsubmit="return checkFormOpen();" id="formOpen" action="{{ path('ujm_interactionopen_create') }}" method="post" {{ form_enctype(form) }}>

        <div class="panel-body">
            {% include "UJMExoBundle:Partial:question.html.twig" %}
            {% include "UJMExoBundle:Partial:interactions/open.html.twig" %}
            {% include "UJMExoBundle:Partial:model.html.twig" %}
            {% include "UJMExoBundle:Partial:cloneInterCreation.html.twig" %}
            {% include "UJMExoBundle:Partial:restform.html.twig" %}
        </div>
        <div class="panel-footer">
            <input type="hidden" name="exercise" value="{{ exoID }}" />
            <button type="submit" id="button_submit" class="btn btn-primary">{{ 'create' | trans }}</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages' }) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionOpen.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
{% include "UJMExoBundle:Partial:modal/confirmOneWord.html.twig" %}
{# functions javascript #}
{% if error is defined %}
    <script type="text/javascript">
       insertStyle('{{ typeOpen|raw }}', '{{ 'delete' | trans }}');
       openEdit(0);
       newHintEdit('{{ 'hint' | trans }}', '{{ 'penalty' | trans }}', '{{ 'hint' | trans }}', '{{ 'delete' | trans }}');
    </script>
{% else %}
    <script type="text/javascript">
        insertStyle('{{ typeOpen|raw }}', '{{ 'delete' | trans }}');
        newHint('{{ 'hint' | trans }}', '{{ 'penalty' | trans }}', '{{ 'hint' | trans }}', '{{ 'delete' | trans }}');
    </script>
{% endif %}
