{% for e in listEvents %}
    <li class="list-group-item">
        <button type="button" class="delete-task close" data-event-id="{{e.id}}" data-dismiss="alert">&times;</button>
        <strong data-event-title="{{e.title}}"> {{ e.title }}</strong>

        {% if e.description is not empty %}
           <span>{{ e.description |raw }}</span>
        {% endif %}

        <div class="text-muted">
            <span data-event-start="{{ e.start|date("d/m/Y")}}"> {{ e.start|date("d/m/Y")}}</span>
        </div>
        
        <div>
            <a href="#myModal" class="update-task" role="button">modifier</a>
        </div>
    </li>
{% else %}
    <li class="list-group-item">
        {{ 'no_task_found'|trans({}, 'agenda') }}
    </li>
{% endfor %}