{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() ~ ' - ' ~ parent()|striptags|raw }}{% endblock %}

{% set absolutePath = asset("uploads/webresource/" ~ path) %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title"> {{ _resource.getResourceNode().getName() }} </h3>
    </div>
    <div class="panel-body">
        {% if not path is empty %}
            <div class="text-right">
                <a class="btn btn-primary pointer-hand" onClick="javascript:enterFullScreen()">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
            <div class="full-size">
                {# SRC attribute is set in JS to be able to resize screen using iFrame height #}
                <iframe id="web-resource-frame" class="full-size" src="" frameborder="0"></iframe>
            </div>
        {% else %}
            <div class="alert alert-danger">
                {{ 'an_error_occured_message' | trans({}, 'platform') }}
            </div>
        {% endif %}
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary"
           href="{{ path('claro_resource_download') }}?ids[]={{ _resource.getResourceNode().getId() }}">
            <i class="fa fa-download"></i> {{ 'download'|trans({}, 'platform') }}
        </a>
    </div>
    <style>
        .full-size {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    {% include "ClarolineWebResourceBundle:Layout:javascripts_header.html.twig" %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "ClarolineWebResourceBundle:Layout:javascripts.html.twig" %}
{% endblock %}
