{% for tool in tools %}
<li class="{{ path('claro_desktop_open_tool', {'toolName': tool.getName() }) | compareRoute(" active") | raw }}">
<a href="{{ path('claro_desktop_open_tool', {'toolName': tool.getName() }) }}"
    id="{{ tool.getName() }}-link"
    data-original-title="{{ tool.getName()|trans({}, 'tools') }}"
    title="{{ tool.getDisplayName()|trans({}, 'tools') }}" data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-{{ tool.getClass() }}"></i>
</a>
</li>
{% endfor %}
