{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
    {% block breadcrumb %}
        {{
            macros.breadcrumbs([
                {
                    'icon': 'fa fa-briefcase',
                    'name': 'desktop'|trans({}, 'platform'),
                    'href': path('claro_desktop_open')
                },
                {
                    'name': 'hole_edition' | trans,
                    'href': ''
                }
            ])
        }}
    {% endblock %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/errorValidation.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'edit_question' | trans }} {% endblock %}

{% block section_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'hole_edition'|trans}}</h3>
        </div>

        {% include "UJMExoBundle:Partial:question/linkToBack.html.twig" %}

        <form onsubmit="return check_form('{{ 'nb_hole' | trans }}')"
              action="{{ path('ujm_interactionhole_update', { 'id': entity.id }) }}"
              method="post" {{ form_enctype(edit_form) }}>
            <div class="panel-body">
                {% set form = edit_form %}

                {% include "UJMExoBundle:Partial:questionEdit.html.twig" %}
                {% include "UJMExoBundle:Partial:interactions/hole.html.twig" %}
                {% include "UJMExoBundle:Partial:model.html.twig" %}
                {% include "UJMExoBundle:Partial:restform.html.twig" %}

                <input type="hidden" name="exercise" value="{{ exoID }}" />
            </div>
            <div class="panel-footer">
                <button type="submit" id="button_submit" class="btn btn-primary">{{ 'save' | trans }}</button>
                {% if exoID == -1 %}
                    <a class="btn btn-default" href="{{ path('ujm_question_index') }}">{{ 'cancel' | trans({}, "platform") }}</a>
                {% else %}
                    <a class="btn btn-default" href="{{ path('ujm_exercise_questions', {'id': exoID}) }}">{{ 'cancel' | trans({}, "platform") }}</a>
                {% endif %}
            </div>
            {% if locker != "" %}
        <input type="hidden" id="locker" value="{{locker.value}}">
    {% endif %}
        </form>
        <div id="prototypes" style="display:none"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/instructions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionHole.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>

    {# add form choice #}
    <script type="text/javascript">
        $(document).ready(function() {
            addFormHoleEdit("{{ 'response' | trans }}", "{{ 'size' | trans }}",
            "{{ 'orthography' | trans }}", "{{ 'delete' | trans }}",
            "{{ 'hole_selector' | trans }}", "{{ asset('bundles/ujmexo/images/ajouter_ligne.jpeg') }}",
            "{{ 'key_word' | trans }}", "{{ 'points' | trans  }}",
             {{ nbResponses }}, "{{ 'instruction_add_hole' | trans  }}");

            newHintEdit("{{ 'hint' | trans }}", "{{ 'penalty' | trans }}", "{{ 'hint' | trans }}", "{{ 'delete' | trans }}");
            disableNotYetReady();
        });
    </script>
{% endblock %}
