<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'hole_creation' | trans({}, 'ujm_exo') }}</h3>
    </div>

    <form onsubmit="return check_form('{{ 'nb_hole' | trans({}, 'ujm_exo') }}');" action="{{ path('ujm_interactionhole_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="panel-body">
            {% include "UJMExoBundle:Partial:question.html.twig" %}
            {% include "UJMExoBundle:Partial:interactions/hole.html.twig" %}
            {% include "UJMExoBundle:Partial:model.html.twig" %}
            {% include "UJMExoBundle:Partial:cloneInterCreation.html.twig" %}
            {% include "UJMExoBundle:Partial:restform.html.twig" %}
        </div>
        <div class="panel-footer">
            <input type="hidden" name="exercise" value="{{ exoID }}" />
            <button type="submit" id="button_submit" class="btn btn-primary">{{ 'create' | trans({}, 'ujm_exo') }}</button>
        </div>
    </form>
    <div id="prototypes" style="display:none"></div>
</div>

<script type="text/javascript" src="{{ asset('bundles/frontend/jquery-ui/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/instructions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionHole.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>

{# functions javascript #}
{% if error is defined %}
    <script type="text/javascript">
        addFormHoleEdit("{{ 'response' | trans({}, 'ujm_exo') }}", "{{ 'size' | trans({}, 'ujm_exo') }}",
        "{{ 'orthography' | trans({}, 'ujm_exo') }}", "{{ 'delete' | trans({}, 'ujm_exo') }}",
        "{{ 'hole_selector' | trans({}, 'ujm_exo') }}","{{ 'key_word' | trans({}, 'ujm_exo') }}","{{ 'points' | trans({}, 'ujm_exo')  }}",
        "{{ 'comment' | trans({}, 'ujm_exo') }}","{{ 'advanced_edition' | trans({}, 'ujm_exo') }}");
        newHintEdit("{{ 'hint' | trans({}, 'ujm_exo') }}", "{{ 'penalty' | trans({}, 'ujm_exo') }}", "{{ 'hint' | trans({}, 'ujm_exo') }}", "{{ 'delete' | trans({}, 'ujm_exo') }}");
    </script>
{% else %}
    <script type="text/javascript">
        addFormHole("{{ 'response' | trans({}, 'ujm_exo') }}", "{{ 'size'| trans({}, 'ujm_exo') }}",
        "{{ 'orthography' | trans({}, 'ujm_exo') }}", "{{ 'delete' | trans({}, 'ujm_exo') }}",
        "{{ 'hole_selector' | trans({}, 'ujm_exo') }}","{{ 'key_word' | trans({}, 'ujm_exo') }}","{{ 'points' | trans({}, 'ujm_exo')  }}",
        "{{ 'comment' | trans({}, 'ujm_exo') }}","{{ 'advanced_edition' | trans({}, 'ujm_exo') }}");

    newHint("{{ 'hint' | trans({}, 'ujm_exo') }}", "{{ 'penalty' | trans({}, 'ujm_exo') }}", "{{ 'hint' | trans({}, 'ujm_exo') }}", "{{ 'delete' | trans({}, 'ujm_exo') }}");
    </script>
{% endif %}
