{% if father is defined and content is not defined %}
    <a class="list-group-item" data-toggle="collapse" data-target=".creator{{ father }} .collapse">
        <i class="icon-plus"></i> {{ "Add a link here" | trans({}, 'home') }}
    </a>
    <div class="creator{{ father }}">

        <div class="collapse">
            <div class="creator-collapse">
{% elseif father is defined and content is defined %}
    <div class="creator{{ father }}">
        <div>
            <div class="creator-collapse">
{% endif %}

<div class="creator" data-type="{{ type }}" {% if content is defined %}data-id="{{ content.id }}"{% endif %} {% if father is defined %}data-father="{{ father }}"{% endif %}>
    <div class="row">
        <div class="col-lg-12">
            <input
            type="text"
            placeholder="{% if father is defined %}{{ "Link title" | trans({}, 'home') }}{% else %}{{ "Menu title" | trans({}, 'home') }}{% endif %}..."
            class="form-control content-title"
            {% if content is defined %}value="{{ content.title }}"{% endif %}
            >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel" style="height:auto !important"">
            <textarea
                class="form-control content-text"
                placeholder="{{ "Link address" | trans({}, 'home') }}..."
                >{% if content is defined %}{{ content.content }}{% endif %}</textarea>
            <div class="navbar navbar-static-top">
                <form class="navbar-form pull-right">
                    {% if content is defined %}
                    <button class="cancel-button btn btn-default">{{ 'Cancel' | trans({}, 'home') }}</button>
                    <button class="edit-button btn btn-primary">{{ 'Edit' | trans({}, 'home') }}</button>
                    {% else %}
                    <button class="creator-button btn btn-primary">{{ 'Create' | trans({}, 'home') }}</button>
                    {% endif %}
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% if father is defined %}
    </div></div></div>
{% endif %}
