{% if log.details.post is defined %}
    {% if log.getDetails().post.changeSet is defined and log.getDetails().post.changeSet|length > 0 %}
    <div>
        <h4>{{ ('log_change_set')|trans({}, 'log') }}</h4>
        <h5>{{ ('log_old_values')|trans({}, 'log') }}</h5>
        {% set changeSet = log.getDetails().post.changeSet %}
        <dl class="dl-horizontal">
            {% for key, values in changeSet %}
                <dt>{{ key|trans({}, 'log') }}</dt>
                {% if values[0] is null %}
                    <dd>...</dd>
                {% else %}
                    {% if key == 'icon' %}
                        <dd><img width="71" heigth="80" src="{{asset(values[0])}}"/></dd>
                    {% elseif values[0] is sameas(true) %}
                        <dd>{{ ('yes')|trans({}, 'platform') }}</dd>
                    {% elseif values[0] is sameas(false) %}
                        <dd>{{ ('no')|trans({}, 'platform') }}</dd>
                    {% else %}
                        <dd>{{ values[0]|raw }}</dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </dl>
        <h5>{{ ('log_new_values')|trans({}, 'log') }}</h5>
        <dl class="dl-horizontal">
            {% for key, values in changeSet %}
                <dt>{{ key|trans({}, 'log') }}</dt>
                {% if values[1] is null %}
                    <dd>...</dd>
                {% else %}
                    {% if key == 'icon' %}
                        <dd><img width="71" heigth="80" src="{{asset(values[1])}}"/></dd>
                    {% elseif values[1] is sameas(true) %}
                        <dd>{{ ('yes')|trans({}, 'platform') }}</dd>
                    {% elseif values[1] is sameas(false) %}
                        <dd>{{ ('no')|trans({}, 'platform') }}</dd>
                    {% else %}
                        <dd>{{ values[1]|raw }}</dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </dl>
    </div>
    {% endif %}
{% endif %}