<form novalidate="novalidate"
      action="{{ path('claro_resource_rights_edit', {'node':resourceRights.getResourceNode().getId()}) }}"
      method="post"
      class="form-vertical form-right-node"
      id="node-right-form">
    {% set roleId = resourceRights.getRole().getId() %}
    <input type="hidden" name="role_row[{{ roleId }}]" value="{{ roleId }}"/>
    {% for decoder in resourceRights.getResourceNode().getResourceType().getMaskDecoders() %}
         {{ decoder.getName() }}  <input type="checkbox" name="roles[{{ roleId }}][{{ decoder.getName() }}]" type="checkbox" {% if resourceRights.getMask() b-and decoder.getValue() %} checked {% endif %} />
    {% endfor %}
    {% if isDir %}
        <br><input name="isRecursive" type="checkbox"/> {{ 'recursive_dir_action'|trans({}, 'platform')}}
        <br><a data-node-id="{{ node.getId() }}"
           class="res-creation-options"
           href="{{ path('claro_resource_right_creation_form', {'node': resourceRights.getResourceNode().getId(), 'role': resourceRights.getRole().getId() }) }}">
           {{ 'options'|trans({}, 'platform') }}
        </a>
    {% endif %}
    <div>
        <button id="submit-right-form-button" type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
    </div>
</form>
