{% twig_js name="ResourceRightsRow" %}

<tr>
    <td>
        {{ user.firstName }}
        {{ user.lastName }}
        <input type="hidden" name="role_row[{{ user.user_role_id }}]" value="{{ user.user_role_id }}"/>
    </td>
    <td>
        {{ user.username }}
    </td>

    {% for right in rights %}
        <td>
            <input name="roles[{{ user.user_role_id }}][{{ right }}]"
               type="checkbox"
            >
        </td>
    {% endfor %}

    {% if isDir %}
        <td>
            <a data-resource-id="{{ resource.id }}"
               class="res-creation-options"
               href="{{ path('claro_resource_right_creation_form', {'node': nodeId, 'role': user.user_role_id }) }}"
            >
               <i class="fa fa-cog"></i> {{ 'options'|trans({}, 'platform') }}
            </a>
        </td>
    {% endif %}
</tr>
