{% block log_action %}
    <nav id="top_bar" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    {% if connected %}
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="icon-bar"></span>
                        {% endif %}
                    {% else %}
                        <span class="icon-bar"></span>
                        {% if register_target is not null %}
                            <span class="icon-bar"></span>
                        {% endif %}
                    {% endif %}
                </a>
                <a class="brand" href="{{ path('claro_index')}}">Claroline</a>
                {% if connected %}
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ username }} 
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('claro_profile_form') }}" id="link_account">
                        {{ 'my_account'|trans({}, 'platformTranslation') }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('claro_security_logout') }}" id="link_logout">{{ 'logout'|trans({}, 'platformTranslation') }}</a></li>
                    </ul>
                 </div>
                    {% else %}
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                    {% if register_target is not null %}
                    <li><a id="link_registration" href="{{ path(register_target) }}">
                    {{ 'register'|trans({}, 'platformTranslation') }}
                    </a></li>
                    {% endif %}
                        <li><a href="{{ path(login_target) }}" id="link_login">
                        {{ 'login'|trans({}, 'platformTranslation') }}
                        </a></li>
                        </div>
                    {% endif %}
                <div class="nav-collapse">
                    <ul class="nav">
                {% if connected %}
                    <li>
                        <a href="{{ path('claro_dashboard_index') }}" id="link_dashboard">
                        {{ 'dashboard'|trans({}, 'platformTranslation') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('claro_ws_list') }}" id="link_workspace">
                        {{ 'workspaces'|trans({}, 'platformTranslation') }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('claro_admin_index') }}" id="link_administration">
                            {{ 'administration'|trans({}, 'platformTranslation') }}
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
           </div>
           {% endif %}
        </div>
    </nav>
{% endblock %}
