{% block log_action %}
{% if connected %}
    <div id="section_menu">
        <a href="{{ path('claro_desktop_index') }}">
            {{ 'desktop'|trans({}, 'desktop') }}
        </a>
        |
        <a href="{{ path('claro_profile_show_edit') }}">
            My account
        </a>
    {% if is_granted('ROLE_ADMIN') %}
             |
        <a href="{{ path('claro_admin_index') }}">
            {{ 'administration'|trans({}, 'administration') }}
        </a>
    {% endif %}    
    </div>
{% endif %}
    <div id="status_box">
    {% if connected %}
        <span>{{ username }}</span>
        <a href="{{ path('claro_security_logout') }}">
            {{ 'logout'|trans({}, 'user') }}
        </a>
    {% else %}
        {% if register_target is not null %}
        <a href="{{ path(register_target) }}">
            {{ 'register'|trans({}, 'user') }}
        </a> | 
        {% endif %}
        <a href="{{ path(login_target) }}">
            {{ 'login'|trans({}, 'user') }}
        </a>
    {% endif %}
    </div>
{% endblock %}