
    <div id="top_bar" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="{{ path('claro_index')}}">Claroline</a>

                {% if connected %}
                    <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i> {{ username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('claro_profile_form') }}" id="link_account">
                            {{ 'my_account'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{path('claro_ws_show', {'workspaceId': personalWs.getId()})}}" id="link_my_workspace">
                            {{ 'my_workspace'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li>
                            <a href="my_agenda" id="link_agenda">
                            {{ 'my_agenda'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li>
                            <a href="my_resources" id="link_my_resources">
                            {{ 'my_resources'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li>
                            <a href="my_contacts" id="link_my_contacts">
                            {{ 'my_contacts'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="my_notes" id="link_my_notes">
                            {{ 'my_notes'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li>
                            <a href="my_portfolio" id="link_portfolio">
                            {{ 'my_portfolio'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('claro_security_logout') }}" id="link_logout">
                            {{ 'logout'|trans({}, 'platform') }}
                            </a>
                        </li>
                        </ul>
                    </div>
                    <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ 'workspaces'|trans({}, 'platform') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for workspace in workspaces %}
                            <li>
                                <a href="{{path('claro_ws_show', {'workspaceId': workspace.getId()})}}" id="link_workspace_{{ workspace.getId() }}">
                                {{workspace.getCode()}} - {{ workspace.getName() }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('claro_ws_list') }}" id="link_all_workspaces">
                                    {{ 'all_workspaces'|trans({}, 'platform') }}
                            </a>
                        </li>
                    </ul>
                    </div>

                {% else %}

                    {# Not connected #}
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                        {% if register_target is not null %}
                            <li><a id="link_registration" href="{{ path(register_target) }}">
                                {{ 'register'|trans({}, 'platform') }}
                            </a></li>
                        {% endif %}
                        <li><a href="{{ path(login_target) }}" id="link_login">
                            {{ 'login'|trans({}, 'platform') }}
                        </a></li>
                    </div>

                {% endif %}

                {% if connected %}
                    <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="{{ path('claro_dashboard_index') }}" id="link_dashboard">
                            {{ 'dashboard'|trans({}, 'platform') }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('claro_admin_index') }}" id="link_administration">
                                {{ 'administration'|trans({}, 'platform') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
