{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js') }}"></script>
   <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/activity/parameters.js') }}"></script>
{% endblock %}
{% block section_content %}
<div class="alert-message"></div>
<ul id="sortable" class="nav nav-tabs nav-stacked">
{% for resourceActivity in resourceActivities %}
  <li id={{ resourceActivity.getResource().getId() }}><a href="#">{{ resourceActivity.getResource().getName() }}</a></li>
{% endfor %}
</ul>

<button id="validate-button" class="btn btn-secondary">{{'validate'|trans({},'platform')}}</button>
<div id="twig-attributes" data-activity-id="{{ activity.getId() }}"></div>
{% endblock %}