{% extends "IcapDropzoneBundle:Correction:correct.html.twig" %}

{% block dropzone_correct_content %}
    <h3>
        {{ 'Warning'|trans({}, 'icap_dropzone') }}
    </h3>
{% form_theme form "IcapDropzoneBundle::form_theme_bootstrap3.html.twig" %}

    <form class="form-horizontal" method="POST" action="{{ path('icap_dropzone_correct_validation', {'resourceId': dropzone.id}) }}">
        {{ form_errors(form) }}
        <p>
            {{ 'You are about to make your correction. This action is final. The rating is %grade%/20'|trans({'%grade%': (totalGrade|number_format(2)) }, 'icap_dropzone') }}
        </p>
        <p>
            {{ 'Are you sure you have done?'|trans({}, 'icap_dropzone') }}
        </p>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="btn-group form-buttons pull-right">
                    {% if dropzone.allowCommentInCorrection == false %}
                        <a href="{{ path('icap_dropzone_correct_paginated', {'resourceId': dropzone.id, 'page': nbPages}) }}" class="btn btn-default">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                    {% else %}
                        <a href="{{ path('icap_dropzone_correct_comment', {'resourceId': dropzone.id}) }}" class="btn btn-default">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{{ 'Confirm and finished'|trans({}, 'icap_dropzone') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}