{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block userpicker_widget %}
    {% spaceless %}
        <input type="hidden"

               {% if multiple %}
                   name="{{ full_name }}[]"
               {% else %}
                   name="{{ full_name }}"
               {% endif %}

               {% if value is not empty %}
                   {% if multiple %}
                       value="{% for v in value %}{% if v['id'] is defined %}{{ v['id'] }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}"
                   {% elseif value['id'] is defined %}
                       value="{{ value['id'] }}"
                   {% endif %}
               {% endif %}
               id="user-picker-input-{{ picker_name }}"
               
               {% if multiple and value is not empty %}
                   data-selected-users-names="{% for v in value %}{% if v['name'] is defined %}{{ v['name'] }}{% if not loop.last %};;;{% endif %}{% endif %}{% endfor %}"
               {% endif %}
        >
        <div class="input-group">
            <input type="text"
                   class="form-control user-picker user-picker-input user-picker-{{ picker_name }}"
                       
                   {% if value is not empty %}
                       {% if multiple %}
                           value="{% for v in value %}{% if v['name'] is defined %}{{ v['name'] }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}"
                       {% elseif value['name'] is defined %}
                           value="{{ value['name'] }}"
                       {% endif %}
                   {% endif %}
                   id="user-picker-input-view-{{ picker_name }}"
                   placeholder="{{ 'add_user'|trans({}, 'platform') }}"
            >
            <span class="input-group-btn">
                <span class="btn btn-default user-picker user-picker-{{ picker_name }}"
                      type="button"
                >
                    <i class="fa fa-user"></i>
                </span>
            </span>
        </div>
        
        <script type="text/javascript">
            {% set excludedUserIds = [] %}
            {% set forcedUserIds = [] %}
            {% set selectedUserIds = [] %}
            {% set forcedGroupIds = [] %}
            {% set forcedRoleIds = [] %}
            {% set forcedWorkspaceIds = [] %}

            {% for user in blacklist %}
                {% set excludedUserIds = excludedUserIds|merge([user.getId()]) %}
            {% endfor %}

            {% for user in whitelist %}
                {% set forcedUserIds = forcedUserIds|merge([user.getId()]) %}
            {% endfor %}

            {% for user in selected_users %}
                {% set selectedUserIds = selectedUserIds|merge([user.getId()]) %}
            {% endfor %}

            {% for group in forced_groups %}
                {% set forcedGroupIds = forcedGroupIds|merge([group.getId()]) %}
            {% endfor %}

            {% for role in forced_roles %}
                {% set forcedRoleIds = forcedRoleIds|merge([role.getId()]) %}
            {% endfor %}

            {% for workspace in forced_workspaces %}
                {% set forcedWorkspaceIds = forcedWorkspaceIds|merge([workspace.getId()]) %}
            {% endfor %}

            $('body').on('click', '.user-picker-{{ picker_name }}', function () {
                var userPicker = new UserPicker();
                var settings = {
                    picker_name: "{{ picker_name }}",
                    picker_title: "{{ picker_title }}",
                    multiple: "{% if multiple %}multiple{% else %}single{% endif %}",
                    show_all_users: "{% if show_all_users %}1{% else %}0{% endif %}",
                    show_filters: "{% if show_filters %}1{% else %}0{% endif %}",
                    show_username: "{% if show_username %}1{% else %}0{% endif %}",
                    show_mail: "{% if show_mail %}1{% else %}0{% endif %}",
                    show_code: "{% if show_code %}1{% else %}0{% endif %}",
                    blacklist: {{ excludedUserIds|json_encode }},
                    whitelist: {{ forcedUserIds|json_encode }},
                    selected_users: {{ selectedUserIds|json_encode }},
                    forced_groups: {{ forcedGroupIds|json_encode }},
                    forced_roles: {{ forcedRoleIds|json_encode }},
                    forced_workspaces: {{ forcedWorkspaceIds|json_encode }}
                };
                userPicker.configure(settings, null);
                userPicker.open();
            });
        </script>
    {% endspaceless %}
{% endblock %}
