{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block userpicker_widget %}
    {% spaceless %}
        <input type="hidden"

               {% if multiple %}
                   name="{{ full_name }}[]"
               {% else %}
                   name="{{ full_name }}"
               {% endif %}

               {% if value is not empty %}
                   {% if multiple %}
                       value="{% for v in value %}{{ v['id'] }}{% if not loop.last %},{% endif %}{% endfor %}"
                   {% else %}
                       value="{{ value['id'] }}"
                   {% endif %}
               {% endif %}
               id="user-picker-input-{{ picker_name }}"
               
               {% if multiple and value is not empty %}
                   data-selected-users-names="{% for v in value %}{{ v['name'] }}{% if not loop.last %};;;{% endif %}{% endfor %}"
               {% endif %}
        >
        <div class="input-group">
            <input type="text"
                   class="form-control user-picker user-picker-input"
                       
                   {% if value is not empty %}
                       {% if multiple %}
                           value="{% for v in value %}{{ v['name'] }}{% if not loop.last %},{% endif %}{% endfor %}"
                       {% else %}
                           value="{{ value['name'] }}"
                       {% endif %}
                   {% endif %}
                   id="user-picker-input-view-{{ picker_name }}"
                   placeholder="{{ 'add_user'|trans({}, 'platform') }}"
                   data-picker-name="{{ picker_name }}"
                   data-picker-title="{{ picker_title }}"
                   data-multiple="{% if multiple %}multiple{% else %}single{% endif %}"
                   data-show-all-users="{% if show_all_users %}1{% else %}0{% endif %}"
                   data-show-filters="{% if show_filters %}1{% else %}0{% endif %}"
                   data-show-username="{% if show_username %}1{% else %}0{% endif %}"
                   data-show-mail="{% if show_mail %}1{% else %}0{% endif %}"
                   data-show-code="{% if show_code %}1{% else %}0{% endif %}"
                   data-excluded-users="{% for user in blacklist %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                   data-forced-users="{% for user in whitelist %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                   data-selected-users="{% for user in selected_users %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                   data-forced-groups="{% for group in forced_groups %}{{ group.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                   data-forced-roles="{% for role in forced_roles %}{{ role.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                   data-forced-workspaces="{% for workspace in forced_workspaces %}{{ workspace.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
            >
            <span class="input-group-btn">
                <span class="btn btn-default user-picker"
                        data-picker-name="{{ picker_name }}"
                        data-picker-title="{{ picker_title }}"
                        data-multiple="{% if multiple %}multiple{% else %}single{% endif %}"
                        data-show-all-users="{% if show_all_users %}1{% else %}0{% endif %}"
                        data-show-filters="{% if show_filters %}1{% else %}0{% endif %}"
                        data-show-username="{% if show_username %}1{% else %}0{% endif %}"
                        data-show-mail="{% if show_mail %}1{% else %}0{% endif %}"
                        data-show-code="{% if show_code %}1{% else %}0{% endif %}"
                        data-excluded-users="{% for user in blacklist %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-forced-users="{% for user in whitelist %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-selected-users="{% for user in selected_users %}{{ user.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-forced-groups="{% for group in forced_groups %}{{ group.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-forced-roles="{% for role in forced_roles %}{{ role.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-forced-workspaces="{% for workspace in forced_workspaces %}{{ workspace.getId() }}{% if not loop.last %};{% endif %}{% endfor %}"
                        type="button"
                >
                    <i class="fa fa-user"></i>
                </span>
            </span>
        </div>
    {% endspaceless %}
{% endblock %}
