{% extends 'HeVinciCompetencyBundle:Competency:layout.html.twig' %}

{% block panelBody %}
    <table id="framework-table"
           class="table table-condensed table-bordered"
           {% if frameworks|length == 0 %}style="display: none;"{% endif %}>
        <thead>
            <tr>
                <th>{{ 'framework_'|trans({}, 'competency') }}</th>
                <th>{{ 'description'|trans({}, 'platform') }}</th>
                <th>{{ 'scale_'|trans({}, 'competency') }}</th>
                <th colspan="2">{{ 'actions'|trans({}, 'platform') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for framework in frameworks %}
                {%
                    include 'HeVinciCompetencyBundle:Competency:frameworkRow.html.twig'
                    with {
                        id: framework.getId(),
                        name: framework.getName(),
                        scale: framework.getScale().getName(),
                        description: framework.getDescription()
                    }
                %}
            {% endfor %}
        </tbody>
    </table>

    {% if frameworks|length == 0 %}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>
            <span id="status-info">
                {% if hasScales %}
                    {{ 'info.no_frame'|trans({}, 'competency') }}
                {% else %}
                    {{ 'info.no_frame_no_scale'|trans({}, 'competency') }}
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block panelFooter %}
    <button id="create-framework" class="btn btn-primary">
        {{ 'framework.create'|trans({}, 'competency') }}
    </button>
    <button id="create-first-scale" class="btn btn-primary" {{ hasScales ? 'style="display: none"' : '' }}>
        {{ 'scale.create'|trans({}, 'competency') }}
    </button>
    <a id="manage-scales" href="{{ path('hevinci_scales') }}" class="btn btn-primary" {{ not hasScales ? 'style="display: none"' : '' }}>
        {{ 'manage_scales'|trans({}, 'competency') }}
    </a>
{% endblock %}
