{% extends 'HeVinciCompetencyBundle:Competency:layout.html.twig' %}

{% block panelBody %}
    {% if frameworks|length > 0 %}

    {% else %}
        <br>
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>
            {% if hasScales %}
                {{ 'info.no_frame'|trans({}, 'competency') }}
            {% else %}
                {{ 'info.no_frame_no_scale'|trans({}, 'competency') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block panelFooter %}
    <a href="#" class="btn btn-primary">
        {{ 'create_framework'|trans({}, 'competency') }}
    </a>
    {% if not hasScales %}
        <button id="create-scale" class="btn btn-primary">
            {{ 'create_scale'|trans({}, 'competency') }}
        </button>
    {% else %}
        <a href="#" class="btn btn-primary">
            {{ 'manage_scales'|trans({}, 'competency') }}
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#create-scale').on('click', function () {
            window.Claroline.Modal.displayForm(
                Routing.generate('hevinci_new_scale'),
                reloadPage,
                function() {},
                'scale-form'
            );
        });
        var reloadPage = function () {
            window.tinymce.claroline.disableBeforeUnload = true;
            window.location.reload();
        }
    </script>
{% endblock %}
