{% extends 'HeVinciCompetencyBundle:Competency:layout.html.twig' %}

{% block panelBody %}
    <ul id="framework-list" {% if frameworks|length == 0 %}style="display: none;"{% endif %}>
        {% for framework in frameworks %}
            {%
                include 'HeVinciCompetencyBundle:Competency:frameworkItem.html.twig'
                with {
                    id: framework.getId(),
                    name: framework.getName()
                }
            %}
        {% endfor %}
    </ul>

    {% if frameworks|length == 0 %}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>
            <span id="status-info">
                {% if hasScales %}
                    {{ 'info.no_frame'|trans({}, 'competency') }}
                {% else %}
                    {{ 'info.no_frame_no_scale'|trans({}, 'competency') }}
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block panelFooter %}
    <button id="create-framework" class="btn btn-primary">
        {{ 'framework.create'|trans({}, 'competency') }}
    </button>
    <button id="create-first-scale" class="btn btn-primary" {{ hasScales ? 'style="display: none"' : '' }}>
        {{ 'scale.create'|trans({}, 'competency') }}
    </button>
    <a id="manage-scales" href="{{ path('hevinci_scales') }}" class="btn btn-primary" {{ not hasScales ? 'style="display: none"' : '' }}>
        {{ 'manage_scales'|trans({}, 'competency') }}
    </a>
{% endblock %}
