{% extends 'ClarolineCoreBundle::Administration/layout.html.twig' %}

{% set competencyBreadcrumbs = [
        {
            icon: 'fa fa-cog',
            name: 'administration'|trans({}, 'platform'),
            href: path('claro_admin_index')
        },
        {
            name: 'competencies'|trans({}, 'tools'),
            href: path('hevinci_frameworks')
        }
    ]
%}

{% block title %}
    {{ parent() ~ ' - ' ~ 'competencies'|trans({}, 'tools')|striptags|raw }}
{% endblock %}

{% block breadcrumb %}
    {{ macros.breadcrumbs(competencyBreadcrumbs) }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <div class="panel-title">
            {% block panelTitle %}
                {{ 'competencies'|trans({}, 'tools') }}
            {% endblock %}
        </div>
    </div>
    <div class="panel-body">
        {% block panelBody %}
            TODO
        {% endblock %}
    </div>
    <div class="panel-footer">
        {% block panelFooter %}{% endblock %}
    </div>
    {% block sectionRest %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts debug=false filter='twig_js, jsmin' vars=["locale"]
        "@HeVinciCompetencyBundle/Resources/views/Competency/frameworkRow.html.twig"
        "@HeVinciCompetencyBundle/Resources/views/Competency/competencyItem.html.twig"
        "@HeVinciCompetencyBundle/Resources/views/Competency/abilityRow.html.twig"
        "@HeVinciCompetencyBundle/Resources/views/Scale/row.html.twig"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'competency' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hevincicompetency/js/flasher.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hevincicompetency/js/tree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hevincicompetency/js/competency.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/typeahead.js-bootstrap3.less/typeahead.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hevincicompetency/css/style.css') }}"/>
{% endblock %}
