{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'roles_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'roles_management'|trans({}, 'platform'),
                'href': path('claro_admin_roles_index')
            },
            {
                'name': 'role_list'|trans({}, 'platform'),
                'href': ''
            },
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'role_list'|trans({}, 'platform') }}</h3>
    </div>
    <form action="{{ path('platform_roles_edit') }}" method="post" novalidate>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed" id="group-table">
            <thead>
            <tr>
                <th> {{ 'name'|trans({}, 'platform') }} </th>
                <th> {{ 'limit'|trans({}, 'platform') }} </th>
            </tr>
            </thead>
            <tbody id="group-table-body">
            {% for role in roles %}
                <tr>
                    <td> {{ role.getTranslationKey() | trans({}, 'platform') }} </td>
                    <td
                        {% if errors is defined %}
                            {% for key, error in errors %}
                                {% if key == "max-user-" ~ role.getId() %}
                                    class="has-error"
                                 {% endif %}
                            {% endfor %}
                        {% endif %}
                    >
                        <input class="form-control" name="max-user-{{ role.getId() }}" type="number" value="{{ role.getMaxUsers() }}"> </input>
                        {% if errors is defined %}
                            {% for key, error in errors %}
                                {% if key == "max-user-" ~ role.getId() %}
                                    <div class="control-label">
                                        {{ error[0]|trans({'%newMax%': error[1], '%total%': error[2], '%role%': role.getTranslationKey()|trans({}, 'platform')}, 'platform') }}
                                     </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <input type="submit" class="btn btn-primary"/>
        <a class="btn btn-default" href="{{ path('claro_admin_users_management') }}" role="button">
            {{ 'cancel'|trans({}, 'platform') }}
        </a>
    </div>
    </form>
{% endblock %}