{% extends "UJMExoBundle:Sequence:layout.html.twig" %}



{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <div class="ujm-sequence-container" data-ng-app="SequencePlayerApp" data-ng-cloak="">
        <sequence-play class="player-container" data-paper="{{ paper }}" data-user="{{user}}" data-sequence="{{ sequence }}"></sequence-play>       
    </div>
{% endblock %}


{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}

    {% javascripts debug=false filter='jsmin' output='vendor/ujmexo/ujm-exo-player.js'
        
        '@UJMExoBundle/Resources/public/js/sequence/Common/*'
        '@UJMExoBundle/Resources/public/js/sequence/Common/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Sequence/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Sequence/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Sequence/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Sequence/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/player.module.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        window.onbeforeunload = function () {
            //return 'Are you sure you want to leave?';
        };

    </script>


{% endblock %}