{% extends "UJMExoBundle:Sequence:layout.html.twig" %}



{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <div class="ujm-sequence-container" data-ng-app="SequencePlayerApp" data-ng-cloak="">
        <sequence-play class="player-container" data-steps="{{ steps }}" data-sequence="{{ sequence }}"></sequence-play>       
    </div>
{% endblock %}


{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}



    {% javascripts debug=false filter='jsmin' output='vendor/ujmexo/ujm_sequence_show.js'

        
        '@UJMExoBundle/Resources/public/js/sequence/Common/*'
        '@UJMExoBundle/Resources/public/js/sequence/Common/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Sequence/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Correction/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Question/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Step/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/player.module.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}