{% if paths is not empty %}
<table class="table table-striped" style="margin-bottom: 0;">
    <thead class="sr-only">
        <tr>
            <th scope="col">{{ 'path_status'|trans({}, 'path_wizards') }}</th>
            <th scope="col">{{ 'path_name'|trans({}, 'path_wizards') }}</th>
            <th scope="col">{{ 'path_description'|trans({}, 'path_wizards') }}</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
    {% for path in paths %}
        <tr>
            {# Status of the Path #}
            <td>
                {% if not path.entity.published %}
                <span class="text-danger">[{{ 'draft'|trans({}, 'path_wizards') }}]</span>
                {% elseif path.entity.published and not path.entity.modified %}
                <span class="text-success">[{{ 'published'|trans({}, 'path_wizards') }}]</span>
                {% elseif path.entity.published and path.entity.modified %}
                <span class="text-warning">[{{ 'published'|trans({}, 'path_wizards') }} {{ 'modified'|trans({}, 'path_wizards') }}]</span>
                {% endif %}
            </td>

            <td>
                <a href="{{ path('innova_path_player_wizard', { id: path.entity.id }) }}">
                    {{ path.entity.resourceNode.name }}
                </a>
            </td>

            <td>
                <em>{{ path.entity.description | striptags | truncate(40, true, ' [...]') | raw }}</em>
            </td>

            <td class="text-right">
                {% if path.canEdit %}
                <a href="{{ path('innova_path_publish', { id: path.entity.id }) }}" class="btn btn-default btn-xs">
                    <span class="fa fa-share-square-o"></span>
                    {{ 'publish'|trans({}, 'innova_tools') }}
                </a>

                <a href="{{ path('innova_path_editor_wizard', { id: path.entity.id }) }}" class="btn btn-default btn-xs">
                    <span class="fa fa-pencil"></span>
                    {{ 'edit'|trans({}, 'innova_tools') }}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<em style="display: block;margin-top: 15px;" class="text-center">{{ 'no_path'|trans({}, 'innova_tools') }}</em>
{% endif %}
