{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/app.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/step-edit.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/navbar.css') }}"/>
{% endblock %}

{% block content %}
    <div ng-cloak class="col-md-12 section-content" ng-app="EditorApp">
        <div class="panel panel-default panel-path-editor" ng-controller="MainCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <button class="btn btn-default btn-xs" ng-click="openHelp()" tooltip="Help">
                        <span class="icon-question-sign"></span>
                    </button>
                    Editing Path : &lt;{% verbatim %}{{ path.name }}{% endverbatim %}&gt; in Workspace &lt;{{ workspace.name }}&gt;
                </h3>
                
                <div class="editor-buttons">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" ng-click="undo()" ng-disabled="undoDisabled"><span class="icon-reply"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="redo()" ng-disabled="redoDisabled"><span class="icon-share-alt"></span></button>
                    </div>
                    <button class="btn btn-sm btn-primary" ng-click="save(path)" tooltip="Save"><span class="icon-save"></span></button>
                    <a href="{{ path('claro_workspace_open_tool', {workspaceId: workspace.id, toolName: 'innova_path'}) }}" class="btn btn-danger btn-sm" tooltip="Back to list"><span class="icon-remove"></span></a>
                </div>
                
            </div>
            
            <div ng-include="templateRoute + 'Editor/navbar.html'"></div>
            
            <div ng-view class="panel-body"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    {# Load Angular Libraries #}
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-cookies.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-loader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-sanitize.min.js') }}"></script>
    
    {# Angular UI #}
    <script type="text/javascript" src="{{ asset('bundles/innovaangularui/js/ui-bootstrap-0.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularui/js/ui-bootstrap-tpls-0.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularpageslide/js/angular-pageslide-directive.js') }}"></script>
    
    {# History #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/History/Factory/HistoryFactory.js') }}"></script>
    
    {# Clipboard #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Clipboard/Factory/ClipboardFactory.js') }}"></script>
    
    {# Main #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Editor/Controller/MainCtrl.js') }}"></script>
    
    {# Help  #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Help/Controller/HelpModalCtrl.js') }}"></script>
    
    {# Path #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Path/Factory/PathFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Editor/Controller/TreeCtrl.js') }}"></script>
    
    {# Steps #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Step/Factory/StepFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Step/Controller/StepModalCtrl.js') }}"></script>
    
    {# Resources #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Resource/Factory/ResourceFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Resource/Controller/ResourceModalCtrl.js') }}"></script>
    
    {# Templates #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Factory/TemplateFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Controller/TemplateCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Controller/TemplateModalCtrl.js') }}"></script>
    
    {# Global APP #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Editor/EditorApp.js') }}"></script>
    <script type="text/javascript">
        // TODO : find more beautiful
        EditorApp.pathId = "{{ path.id }}";
        EditorApp.workspaceId = "{{ workspace.id }}";
        EditorApp.templateRoute = "{{ asset('bundles/innovapath/partials/') }}";
    </script>
{% endblock %}