{% extends "InnovaPathBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false filter='cssmin'  output='vendor/innovapath/editor.css'
        '@InnovaPathBundle/Resources/public/css/Editor/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% include 'InnovaPathBundle:Editor:components/breadcrumbs.html.twig' with { workspace: workspace } %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': true}}) }}
    <div ng-cloak="" ng-app="EditorApp" class="path-editor">
        <div ng-controller="AlertCtrl" class="alerts">
            {% include 'InnovaPathBundle:Editor:components/messages.html.twig' %}
        </div>
        
        <div ng-controller="MainCtrl">
            <div ng-controller="TemplateCtrl" id="templates-sidebar" style="display:none;" >
                {% include 'InnovaPathBundle:Editor:components/templates-sidebar.html.twig' %}
            </div>
            
            {% include 'InnovaPathBundle:Editor:components/actions-bar.html.twig' with { workspace: workspace } %}
            
            <div ng-controller="GlobalCtrl" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step1-global.html.twig' %}
                </div>
            </div>
            
            <div class="row">
                <div ng-controller="ScenarioCtrl" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step2-scenario.html.twig' %}
                </div>
                
                <div ng-controller="PreviewStepCtrl" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step3-step-config.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    {# Load translations #}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'path_editor' }) }}"></script>

    {# Angular #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-js.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-route.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-animate.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-cookies.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-loader.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-mocks.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-resource.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-scenario.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-touch.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUISortableBundle/Resources/public/js/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
        '@InnovaAngularUITranslationBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% javascripts debug=false filter='jsmin' output='vendor/innovapath/path_editor.js'
        '@InnovaPathBundle/Resources/public/angularjs/Alert/Factory/AlertFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Alert/Controller/AlertCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/History/Factory/HistoryFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Clipboard/Factory/ClipboardFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Path/Factory/PathFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/MainCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/GlobalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/ScenarioCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/PreviewStepCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Step/Factory/StepFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Step/Controller/SelectImageModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Confirm/Controller/ConfirmModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Factory/ResourceFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Controller/ResourceModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Controller/ResourcePickerModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Factory/TemplateFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Controller/TemplateCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Controller/TemplateModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/TruncateText/Filter/TruncateTextFilter.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/EditorApp.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        EditorApp.currentPath   = {{ form.vars.value.structure | raw }};
        EditorApp.appDir        = "{{ app.request.getBaseUrl }}";
        EditorApp.webDir        = "{{ asset('') }}";
        EditorApp.wsDirectoryId = {{ wsDirectoryId }};
        EditorApp.wsDirectoryId = {{ wsDirectoryHistory | raw }};
        EditorApp.resourceTypes = {
            {% for resourceType in resourceTypes %}
            "{{ resourceType.getName() }}": {
                "name": "{{ resourceType.getName()|trans({}, 'resource') }}",
                "actions": {
                    {% for action in resourceType.getActions() %}
                    "{{ action.getName() }}": {
                        "name":     "{{ action.getName() }}",
                        "route":    "{{ path('claro_resource_action', {'resourceType': resourceType.getName(), 'action': action.getName(), 'node': '_nodeId' }) }}",
                        "async":    {% if action.isAsync() %} 1 {% else %} 0 {% endif %},
                        "mask":     {{ action.getValue() }},
                        "isCustom": {% if action.isCustom() %} "yes" {% else %} "no" {% endif %},
                        "isForm":   {% if action.isForm() %} true {% else %} false {% endif %}
                    }
                    {% if loop.last != true %},{% endif %}
                    {% endfor %}
                }
            }{% if loop.last != true %},{% endif %}
            {% endfor %}
        };
    </script>
{% endblock %}