{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='cssmin'  output='vendor/innova/path/editor.css'
        '@InnovaPathBundle/Resources/public/css/Editor/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% include 'InnovaPathBundle:Editor:components/breadcrumbs.html.twig' with {workspace: workspace} %}

    <div ng-cloak="" ng-app="EditorApp" class="path-editor">
        <div ng-controller="MainCtrl">
{#             <div class="alerts" ng-controller="AlertCtrl">#}
{#                 <div ng-repeat="alert in alerts" class="alert alert-dismissable alert-{% verbatim %}{{ alert.type }}{% endverbatim %}">#}
{#                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert({% verbatim %}{{ $index }}{% endverbatim %})">&times;</button>#}
{#                     {% verbatim %}{{ alert.msg }}{% endverbatim %}#}
{#                 </div>#}
{#             </div>#}
            
            <div id="templates-sidebar" style="display:none" ng-controller="TemplateCtrl">
                <a id="templates-sidebar-close" href="#" class="btn btn-default btn-xs pull-right"><i class="icon-remove"></i></a>
                <div ng-include="'{{ asset('bundles/innovapath/angularjs/Template/Partial/templates-sidebar.html') }}'"></div>
            </div>
            
            {% include 'InnovaPathBundle:Editor:components/action-bar.html.twig' with {workspace: workspace} %}
            
            <div ng-controller="GlobalCtrl" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step1-global.html.twig' %}
                </div>
            </div>
            
            <div ng-controller="TreeCtrl" class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step2-scenario.html.twig' %}
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% include 'InnovaPathBundle:Editor:components/step3-step-config.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}

    {# Load translations #}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'path_editor' }) }}"></script>

    {# Angular #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-js.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-route.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-animate.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-cookies.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-loader.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-mocks.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-resource.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-scenario.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-touch.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUISortableBundle/Resources/public/js/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% javascripts debug=false filter='jsmin' output='vendor/innovapath/path_editor.js'
        '@InnovaPathBundle/Resources/public/angularjs/Alert/Factory/AlertFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Alert/Controller/AlertCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/History/Factory/HistoryFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Clipboard/Factory/ClipboardFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/MainCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Path/Factory/PathFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/GlobalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/Controller/TreeCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Step/Factory/StepFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Step/Controller/StepModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Step/Controller/SelectImageModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Factory/ResourceFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Controller/ResourceModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Resource/Controller/ResourcePickerModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Factory/TemplateFactory.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Controller/TemplateCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/Template/Controller/TemplateModalCtrl.js'
        '@InnovaPathBundle/Resources/public/angularjs/TruncateText/Filter/TruncateTextFilter.js'
        '@InnovaPathBundle/Resources/public/angularjs/Editor/EditorApp.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        // TODO : find more beautiful
        EditorApp.pathId = "{{ pathId }}";
        EditorApp.workspaceId = "{{ workspace.id }}";
        EditorApp.webDir = "{{ asset('bundles/innovapath/') }}";
    </script>
{% endblock %}