{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li><a href="{{ path('icap_dropzone_edit_common',{'resourceId':dropzone.id}) }}"><span
                    class="glyphicon icon-list"></span>  {{ dropzone.resourceNode.name }}</a></li>
    <li class="active"> {{ 'List of copies'|trans({}, 'icap_dropzone') }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <h2>
            {{ 'List of copies'|trans({}, 'icap_dropzone') }}
            <a class=" btn btn-default pull-right" href="{{ path('icap_dropzone_edit', {'resourceId': dropzone.id}) }}"><span class="glyphicon icon-edit"></span> {{ 'Edit evaluation'|trans({}, 'icap_dropzone') }}</a>
        </h2>

        {% if unterminated_drops is defined %}
            <p>{{ unterminated_drops }} {{ 'unterminated drops'|trans({},'icap_dropzone') }}
                {% if unterminated_drops > 0 and (dropzone.manualState ==  'finished' or dropzone.manualState == 'peerReview' ) %}
                    <a href="{{ path('icap_dropzone_auto_close_drops_confirmation',{'resourceId':dropzone.id}) }}"
                       class="btn btn-default btn-xs launch-modal">Close unterminated drops</a>
                {% endif %}
            </p>

        {% endif %}
        {{ macros.flashBox() }}

        {% block dropzone_content_drops %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
{% endblock %}