{% extends "InnovaCollecticielBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li><a href="{{ path('innova_collecticiel_edit_common',{'resourceId':dropzone.id}) }}"><span
                    class="fa fa-list"></span>  {{ dropzone.resourceNode.name }}</a></li>
    <li class="active"> {{ 'List of copies'|trans({}, 'innova_collecticiel') }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="panel-body container-dropzone">
        <h2>
            <!-- ERV/liste des copies, page modifiée en "Liste des vues personnelles" -->
<!--
             {{ 'List of copies'|trans({}, 'innova_collecticiel') }}
            <a class=" btn btn-default pull-right" href="{{ path('innova_collecticiel_edit', {'resourceId': dropzone.id}) }}"><span
                        class="fa fa-pencil-square-o"></span> {{ 'Edit evaluation'|trans({}, 'innova_collecticiel') }}</a>
-->
        </h2>

        {% if unterminated_drops is defined %}
            <p>{{ unterminated_drops }} {{ 'unterminated drops'|trans({},'innova_collecticiel') }}
                {% if unterminated_drops > 0 and (dropzone.manualState ==  'finished' or dropzone.manualState == 'peerReview' ) %}
                    <a href="{{ path('innova_collecticiel_auto_close_drops_confirmation',{'resourceId':dropzone.id}) }}"
                       class="btn btn-default btn-xs launch-modal"><span
                                class="fa fa-check"></span> {{ 'Close unterminated drops'|trans({},'innova_collecticiel' ) }}
                    </a>
                {% endif %}
            </p>
        {% endif %}

        {{ macros.flashBox() }}

        <ul class="nav nav-tabs  margin-bottom-md margin-top-md">
            <!-- ERV/Onglet "Copies évaluation terminée" -->
<!--
            <li class="hometab-element {% block drops_completed_active %}{% endblock %}">
                <a href="{% block drops_completed_link %}{{ path('innova_collecticiel_drops_by_default', {'resourceId': dropzone.id}) }} {% endblock %}">
                    {{ 'Copies evaluation finished'|trans({}, 'innova_collecticiel') }} <span
                            class="badge">{{ nbDropCorrected }}</span>
                </a>
            </li>
-->
            <!-- ERV/Onglet "Copies en cours d'évaluation" -->
            <!-- InnovaERV : supprimé, 02/04/2015 -->
<!--
            <li class="hometab-element {% block drops_awaiting_active %}{% endblock %}">
                <a href="{% block drops_awaiting_link %}{{ path('innova_collecticiel_drops_awaiting', {'resourceId': dropzone.id}) }} {% endblock %}">fsfsdf
                    {{ 'Copies being evaluated'|trans({}, 'innova_collecticiel') }}
                </a>
            </li>
-->

            <!-- ERV/Onglet "Correcteurs" -->
<!--
            <li class="hometab-element {% block drops_examiners_active %}{% endblock %}">
                <a href="{% block drops_examiners_link %}{{ path('innova_collecticiel_examiners', {'resourceId': dropzone.id}) }} {% endblock %}">
                    {{ 'Examiners'|trans({}, 'innova_collecticiel') }}
                </a>
            </li>
-->
        </ul>

        {% block dropzone_content_drops %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/innovacollecticiel/js/popup.js') }}"></script>
{% endblock %}