{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="glyphicon icon-list"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <h2>
            {{ 'List of copies'|trans({}, 'icap_dropzone') }}
            <a class=" btn btn-default pull-right" href="{{ path('icap_dropzone_edit', {'resourceId': dropzone.id}) }}"><span class="glyphicon icon-edit"></span> {{ 'Edit evaluation'|trans({}, 'icap_dropzone') }}</a>
        </h2>
        {{ macros.flashBox() }}

        {% block dropzone_content_drops %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
    <script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
{% endblock %}