<ul class="unstyled inline thumbnails badge_user_list">
{% for badge in pager.currentPageResults %}
    <li>
        <a href="{{ path(badgeUrl, {'id': badge.id}) }}" title="{{ badge.name(language) }}" class="thumbnail">
            <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name(language) }}" />
        </a>
    </li>
{% else %}
    <li>{{ 'no_badges'|trans({}, 'badge') }}</li>
{% endfor %}
</ul>

{% if pager.haveToPaginate %}
{{
    pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': paginationurl,
            'routeParams': routeParams
        }
    )
}}
{% endif %}
