{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='{{ asset('packages/font-awesome/css/font-awesome.min.css') }}'/>

    <style type="text/css">
        /* only kept for retro-compatibility purpose.
         *
         * The reset is now done in LESS through the class .claroline-app-iframe
         * added to the parent <iframe> tag
         */
        html,
        body {
            background: none !important;
            padding: 0 !important;
            margin: 0 !important;
            overflow: auto !important;
        }

        .widget {
            height: 100%;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}

    <script src='{{ asset('packages/jquery/dist/jquery.min.js') }}'></script>
{% endblock %}

{% block layout %}
    {% if widget is not null%}
    <div
        class="widget"
    >
        <div class="widget-header">
            <h3
                class="widget-title"
            >
                {{ widget.title|raw }}
            </h3>
        </div>

        <div class="widget-content panel-body">
            {{ widget.content|raw }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts debug=false filter='jsmin' output='vendor/twitter/bootstrap/js/bootstrap.js'
        'packages/bootstrap/js/transition.js'
        'packages/bootstrap/js/alert.js'
        'packages/bootstrap/js/button.js'
        'packages/bootstrap/js/carousel.js'
        'packages/bootstrap/js/collapse.js'
        'packages/bootstrap/js/dropdown.js'
        'packages/bootstrap/js/modal.js'
        'packages/bootstrap/js/scrollspy.js'
        'packages/bootstrap/js/tab.js'
        'packages/bootstrap/js/tooltip.js'
        'packages/bootstrap/js/popover.js'
        'packages/bootstrap/js/affix.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}