{% for item in rss %} 
    <h4> {{ item.title }} </h4> 
    <br>

    <div class="wrapper">
        <h5>{{ item.date }} <a href="{{ item.link }}">{{ item.title }}</a></h5>
        {% if item.description is defined %}
            {{ item.description|raw }} 
        {% endif %}
    </div>
{% endfor %}