{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% block stylesheets %}
    {% if config.getParameter('theme') != '' %}
        <link rel="stylesheet" href="{{ asset('') ~ 'themes/' ~ config.getParameter('theme') ~ '/bootstrap.css' }}" screen="media" />
    {% endif %}

    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/frontend/font-awesome/css/font-awesome.min.css') }}'/>

    <style>
        body{
            background: none;
            padding: 0;
            margin: 0;
        }
    </style>
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/dist/jquery.min.js') }}'></script>
{% endblock %}

{% block layout %}
    {% if widget is not null%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ widget.title|raw }}</h3>
        </div>
        <div class="panel-body">
            {{ widget.content|raw }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
