{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
    {% block breadcrumb %}
        {{
            macros.breadcrumbs([
                {
                    'icon': 'fa fa-briefcase',
                    'name': 'desktop'|trans({}, 'platform'),
                    'href': path('claro_desktop_open')
                },
                {
                    'name': 'matching_edition' | trans({}, 'ujm_exo'),
                    'href': ''
                }
            ])
        }}
    {% endblock %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/errorValidation.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/ujmexo/css/matchingBind.css') }}"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'edit_question' | trans({}, 'ujm_exo') }} {% endblock %}

{% block section_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'matching_edition' | trans({}, 'ujm_exo') }}</h3>
        </div>

        {% include "UJMExoBundle:Partial:question/linkToBack.html.twig" %}

        <form onsubmit="return check_form('{{ 'nb_proposal' | trans({}, 'ujm_exo') }}', '{{ 'nb_label' | trans({}, 'ujm_exo') }}');"
              action="{{ path('ujm_interactionmatching_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="panel-body">
                {% set form = edit_form %}

                {% include "UJMExoBundle:Partial:questionEdit.html.twig" %}
                {% include "UJMExoBundle:Partial:interactions/matching.html.twig" %}
                {% include "UJMExoBundle:Partial:model.html.twig" %}
                {% include "UJMExoBundle:Partial:restform.html.twig" %}

                <input type="hidden" name="exercise" value="{{ exoID }}"/>
            </div>
            <div class="panel-footer">
                <button type="submit" id="button_submit" class="btn btn-primary" onclick="setOrderProposal();setOrderLabel();">{{ 'save' | trans({}, 'ujm_exo') }}</button>
                <a class="btn btn-default" href="{{ path('ujm_question_index') }}">{{ "cancel" | trans({}, "platform") }}</a>
            </div>
             {% if locker != "" %}
        <input type="hidden" id="locker" value="{{locker.value}}">
    {% endif %}
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/frontend/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/instructions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionMatching.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/allQuestionsType.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            creationMatchingEdit('{{ 'add_label' | trans({}, 'ujm_exo') }}', '{{ 'add_proposal' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}', '{{ 'label' | trans({}, 'ujm_exo') }}',
            '{{ 'score_right_label_matching' | trans({}, 'ujm_exo') }}', '{{ 'proposal' | trans({}, 'ujm_exo') }}', '{{ 'number_proposal'| trans({}, 'ujm_exo') }}', '{{ 'correspondence' | trans({}, 'ujm_exo') }}',
             '{{ typeMatching | raw }}', '{{ 'advanced_edition' | trans({}, 'ujm_exo') }}', '{{ 'remove_advanced_edition' | trans({}, 'ujm_exo') }}', '{{ 'correspondence_empty' | trans({}, 'ujm_exo') }}', {{ nbResponses }}, '{{ correspondence }}', '{{ tableLabel }}', '{{ tableProposal }}', '{{ 'correspondence_error' | trans({}, 'ujm_exo') }}', '{{ 'score_error'| trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}','{{ 'advanced_edition' | trans({}, 'ujm_exo') }}','{{ 'comment' | trans({}, 'ujm_exo') }}');
            newHint('{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'penalty' | trans({}, 'ujm_exo') }}', '{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}');
        });
    </script>
{% endblock %}
