{#matching#}
<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/ujmexo/css/matchingBind.css') }}"  type="text/css" rel="stylesheet"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'matching_creation' | trans({}, 'ujm_exo') }}</h3>
    </div>

    <form onsubmit="return check_form('{{ 'nb_proposal' | trans({}, 'ujm_exo') }}', '{{ 'nb_label' | trans({}, 'ujm_exo') }}');"
          action="{{ path('ujm_interactionmatching_create') }}" method="post" {{ form_enctype(form) }}>

        <div class="panel-body">
            {% include "UJMExoBundle:Partial:question.html.twig" %}
            {% include "UJMExoBundle:Partial:interactions/matching.html.twig" %}
            {% include "UJMExoBundle:Partial:model.html.twig" %}
            {% include "UJMExoBundle:Partial:cloneInterCreation.html.twig" %}
            {% include "UJMExoBundle:Partial:restform.html.twig" %}
        </div>
        <div class="panel-footer">
            <input type="hidden" name="exercise" value="{{ exoID }}" />
            <button type="submit" id="button_submit" class="btn btn-primary" onclick="setOrderProposal();setOrderLabel();">{{ 'create' | trans({}, 'ujm_exo') }}</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/instructions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionMatching.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>

{# functions javascript #}
{% if error is defined %}
    <script type="text/javascript">
        creationMatchingEdit('{{ 'add_label' | trans({}, 'ujm_exo') }}', '{{ 'add_proposal' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}', '{{ 'label' | trans({}, 'ujm_exo') }}', '{{ 'score_right_label_matching' | trans({}, 'ujm_exo') }}', '{{ 'proposal' | trans({}, 'ujm_exo') }}', '{{ 'number_proposal'| trans({}, 'ujm_exo') }}', '{{ 'correspondence' | trans({}, 'ujm_exo') }}',  '{{ typeMatching | raw }}', '{{ 'advanced_edition' | trans({}, 'ujm_exo') }}',  '{{ 'remove_advanced_edition' | trans({}, 'ujm_exo') }}', '{{ 'correspondence_empty' | trans({}, 'ujm_exo') }}', 0, '{}', '{}', '{}', '{{ 'correspondence_error' | trans({}, 'ujm_exo') }}', '{{ 'score_error'| trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}','{{ 'advanced_edition' | trans({}, 'ujm_exo') }}');
        newHintEdit('{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'penalty' | trans({}, 'ujm_exo') }}', '{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}');
    </script>
{% else %}
    <script type="text/javascript">
        creationMatching('{{ 'add_label' | trans({}, 'ujm_exo') }}', '{{ 'add_proposal' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}', '{{ 'label' | trans({}, 'ujm_exo') }}', '{{ 'score_right_label_matching' | trans({}, 'ujm_exo') }}', '{{ 'proposal' | trans({}, 'ujm_exo') }}', '{{ 'number_proposal'| trans({}, 'ujm_exo') }}', '{{ 'correspondence' | trans({}, 'ujm_exo') }}', '{{ typeMatching|raw }}', '{{ 'advanced_edition' | trans({}, 'ujm_exo') }}', '{{ 'remove_advanced_edition' | trans({}, 'ujm_exo') }}',  '{{ 'correspondence_empty' | trans({}, 'ujm_exo') }}', '{{ 'correspondence_error' | trans({}, 'ujm_exo') }}', '{{ 'score_error'| trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}','{{ 'advanced_edition' | trans({}, 'ujm_exo') }}');
        newHint('{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'penalty' | trans({}, 'ujm_exo') }}', '{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}');
    </script>
{% endif %}
