{#matching#}
<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/ujmexo/css/matchingBind.css') }}"  type="text/css" rel="stylesheet"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'matching_creation' | trans }}</h3>
    </div>

    <form onsubmit="return check_form('{{ 'nb_proposal' | trans }}', '{{ 'nb_label' | trans }}');"
          action="{{ path('ujm_interactionmatching_create') }}" method="post" {{ form_enctype(form) }}>

        <div class="panel-body">
            {% include "UJMExoBundle:Partial:question.html.twig" %}
            {% include "UJMExoBundle:Partial:interactions/matching.html.twig" %}
            {% include "UJMExoBundle:Partial:model.html.twig" %}
            {% include "UJMExoBundle:Partial:cloneInterCreation.html.twig" %}
            {% include "UJMExoBundle:Partial:restform.html.twig" %}
        </div>
        <div class="panel-footer">
            <input type="hidden" name="exercise" value="{{ exoID }}" />
            <button type="submit" id="button_submit" class="btn btn-primary" onclick="setOrderProposal();setOrderLabel();">{{ 'create' | trans }}</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/instructions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionMatching.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery.jsplumb-1.6.2-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/dom.jsPlumb-1.7.0-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>

{# functions javascript #}
{% if error is defined %}
    <script type="text/javascript">
        creationMatchingEdit('{{ 'add_label' | trans }}', '{{ 'add_proposal' | trans }}', '{{ 'delete' | trans }}', '{{ 'Label.value' | trans }}', '{{ 'Label.scoreRight' | trans }}', '{{ 'Proposal.value' | trans }}', '{{ 'numberProposal'| trans }}', '{{ 'correspondence' | trans }}',  '{{ typeMatching | raw }}', '{{ 'advanced_edition' | trans }}',  '{{ 'remove advanced edition' | trans }}', '{{ 'correspondence_empty' | trans }}', 0, '{}', '{}', '{}', '{{ 'correspondence_error' | trans }}', '{{ 'scoreError'| trans}}', '{{ 'Proposal.positionForce' | trans }}', '{{ 'Label.positionForce' | trans }}','{{ 'advanced_edition' | trans }}');
        newHintEdit('{{ 'hint' | trans }}', '{{ 'penalty' | trans }}', '{{ 'hint' | trans }}', '{{ 'delete' | trans }}');
    </script>
{% else %}
    <script type="text/javascript">
        creationMatching('{{ 'add_label' | trans }}', '{{ 'add_proposal' | trans }}', '{{ 'delete' | trans }}', '{{ 'Label.value' | trans }}', '{{ 'Label.scoreRight' | trans }}', '{{ 'Proposal.value' | trans }}', '{{ 'numberProposal'| trans }}', '{{ 'correspondence' | trans }}', '{{ typeMatching|raw }}', '{{ 'advanced_edition' | trans }}', '{{ 'remove advanced edition' | trans }}',  '{{ 'correspondence_empty' | trans }}', '{{ 'correspondence_error' | trans }}', '{{ 'scoreError'| trans}}', '{{ 'Proposal.positionForce' | trans }}', '{{ 'Label.positionForce' | trans }}','{{ 'advanced_edition' | trans }}');
        newHint('{{ 'hint' | trans }}', '{{ 'penalty' | trans }}', '{{ 'hint' | trans }}', '{{ 'delete' | trans }}');
    </script>
{% endif %}
