<p>{{ widget.name }}</p>
<p>{{ widget.startDate|date('date_format'|trans({}, 'platform')) }} - {% if widget.endDate is not null %}{{ widget.endDate|date('date_format'|trans({}, 'platform')) }}{% else %}{{ 'today'|trans({}, 'icap_portfolio') }}{% endif %}</p>
{% if widget.establishmentName is not null %}<p>{{ widget.establishmentName }}</p>{% endif %}
{% if widget.diploma is not null %}<p>{{ widget.diploma }}</p>{% endif %}
<ul class="list-group">
{% for formationWidgetResource in widget.resources %}
    {% if formationWidgetResource.uri is null and formationWidgetResource.resource is not null %}
    <li class="list-group-item">
        <a href="{{ url('claro_resource_open', {'node': formationWidgetResource.resource.id, 'resourceType': formationWidgetResource.resource.resourceType.name }) }}"
           title="{{ formationWidgetResource.resource.name }}">{{ formationWidgetResource.resource.name }}</a>
    </li>
    {% else %}
    <li class="list-group-item">
        <a href="{{ formationWidgetResource.uri }}" title="{{ formationWidgetResource.uriLabel }}">{{ formationWidgetResource.uriLabel }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>