<div {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}data-widget {% endif %}class="panel panel-default widget-panel ng-cloak">
    <div class="panel-heading" data-ng-show="!widget.editing">
        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            {% verbatim %}{{ widget.label }}{% endverbatim %}
            <div class="widget-actions pull-right" data-ng-if="!widget.isEditing() && !widget.isNew() && !widget.isUpdating()">
                {% if editMode %}
                <button class="widget-action btn btn-xs btn-danger" data-ng-class="{'btn-loading': widget.isDeleting}" data-confirm-click="delete(widget);" data-ng-if="isDeletable(widget)">
                    <span class="loading" data-ng-if="widget.isDeleting"></span>
                    <span class="fa fa-trash-o" data-ng-if="!widget.isDeleting"></span>
                </button>
                <button class="widget-action btn btn-xs btn-primary" data-ng-click="edit(widget);">
                    <span class="fa fa-pencil"></span>
                </button>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default dropdown-toggle" type="button" id="columnMenu" data-toggle="dropdown" data-ng-if="0 < portfolio.disposition">
                        <span class="fa fa-exchange"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="columnMenu">
                        <li role="presentation" data-ng-repeat="col in cols" data-ng-click="changeColumn(widget, col)"><a role="menuitem" tabindex="-1" href="#">{% verbatim %}{{ col }}{% endverbatim %}</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" data-ng-disabled="$last" data-ng-click="increaseRow(widget)"><span class="fa fa-arrow-down"></span></button>
                    <button type="button" class="btn btn-default" data-ng-disabled="1 == widget.row" data-ng-click="decreaseRow(widget)"><span class="fa fa-arrow-up"></span></button>
                </div>
                {% endif %}
            </div>
        {% else %}
            {{ widget.label }}
        {% endif %}
    </div>
    <div class="panel-body" data-ng-show="!widget.editing && !widget.views.form">
        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
        {% else %}
            {% include 'IcapPortfolioBundle:templates:' ~ widget.widgetType ~ '.html.twig' with {'widget': widget} %}
        {% endif %}
    </div>
    {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_EDIT') == openingMode %}
    <div class="panel-heading" data-ng-show="widget.editing && widget.views.form">
        <input type="text" class="input-sm form-control" name="widget_label" data-ng-model="widget.label">
    </div>
    <div class="panel-body col-md-12 loading" data-ng-show="widget.editing && !widget.views.form"></div>
    <form name="form" class="edit-container" data-loading-form="save(widget)" data-ng-show="widget.editing && widget.views.form">
        <div class="panel-body" data-bind-html="widget.views.form"></div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
            <button type="button" class="btn btn-default" data-ng-click="cancelEdition(widget)">{{ 'cancel'|trans({}, 'platform') }}</button>
        </div>
    </form>
    {% endif %}
</div>