{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'integration' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block breadcrumb %}
    {{ macros.breadcrumbs([{
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    }, {
        'name': 'integration'|trans({}, 'tools'),
        'href': ''
    }]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container integration-container"
    >
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-swagger.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-integration') }}"></script>
{% endblock %}
