{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'administration'|trans({}, 'platform')|striptags|raw }}{% endblock %}

{% block claroline_danger %}
    {{ parent() }}

    {% if not is_send_datas_confirmed() %}
        <a class="label label-danger" href="{{ path('claro_admin_send_data_confirm_form') }}">
            {{ 'infos_sending_has_not_been_accepted'|trans({}, 'platform') }}
            <i class="fa fa-question-circle"
               data-container=".alert-claroline-danger"
               data-toggle="tooltip"
               data-placement="bottom"
               title="{{ 'infos_sending_bar_msg'|trans({}, 'platform') }}"
            >
            </i>
        </a>
    {% endif %}
{% endblock %}

{% block leftbar %}
    {{ render(controller("ClarolineCoreBundle:Administration:renderToolbar", {request: app.request})) }}
{% endblock %}

{% block content %}
    {#
        The following HTML is only used to mimic React apps in old twig templates.
        It will be removed when all apps will be in react.
    #}
    <div class="page-container">
        <main class="page">
            {% block page %}
                <header class="page-header">
                    {% block page_header %}
                        <h1 class="page-title">
                            {% block page_title %}{% endblock %}
                        </h1>
                    {% endblock %}
                </header>

                <div class="page-content page-content-shift">
                    {% block page_content %}
                    {% endblock %}
                </div>
            {% endblock %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Administration toolbar #}
    <script src="{{ hotAsset('claroline-distribution-main-core-administration-toolbar') }}"></script>
{% endblock %}
