{% macro renderPager(pager, workspaceTag, search) %}

    {% if search == '' %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_admin_workspace_tag_check_workspace_pager',
                    'routeParams': {'workspaceTagId': workspaceTag.getId()}
                }
            )
        }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {
                    'proximity' : 1,
                    'routeName': 'claro_admin_workspace_tag_check_workspace_pager_search',
                    'routeParams': {'workspaceTagId': workspaceTag.getId(), 'search' : search}
                }
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}
{% set nbPages = workspaces.getNbPages() %}

<div class="panel-body">
     <div class="input-group">
        <input class="form-control"
            type="text"
            id="search-workspace-txt"
            placeholder="{{ 'search'|trans({}, 'platform') }}"
            value={{ search }}
        >
        <span class="input-group-btn">
            <button class="filter btn btn-default" type="button" id="search-workspace-button">
                <i class="icon-search"></i>
            </button>
        </span>
    </div>
    <br>

    {% if nbPages > 1 %}
        <tr>
            <td>
                {{ renderPager(workspaces, workspaceTag, search) }}
            </td>
        </tr>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-condensed">

            {% if workspaces is empty %}
                <tr>
                    <td colspan="2" align="center">
                        {{ 'no_workspace'|trans({}, 'platform') }}
                    </td>
                </tr>
            {% else %}

                {% for workspace in workspaces %}
                    <tr class="workspace-element">
                        <td class="workspace-datas"
                            workspace-id="{{ workspace.getId() }}"
                            workspace-code="{{ workspace.getCode() }}"
                            workspace-name="{{ workspace.getName() }}"
                        >
                            {{ workspace.getName() }}
                            <span><small>({{ workspace.getCode() }})</small></span>
                        </td>
                        <td>
                            <input
                                type="checkbox"
                                name="workspace"
                                class="chk-workspace"
                                value="{{ workspace.getId() }}"
                            >
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<div class="panel-footer">
    <button type="button" class="btn btn-primary add-selected-workspace-btn">
        {{ 'add'|trans({}, 'platform') }}
    </button>
    <button type="button" class="btn btn-default close-current-page-btn">
        {{ 'close'|trans({}, 'platform') }}
    </button>
</div>