{% extends 'ClarolineCoreBundle:WorkspaceTag:layout.html.twig' %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'all_workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': 'organize_categories'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}


{% block section_content %}

<div class="panel-heading">
    <h3 class="panel-title">{{ 'workspace_organization'|trans({}, 'platform') }}</h3>
</div>
<div id="workspace-organization-div" class="panel-body">

    <button class="btn btn-default pull-right" id="view-tag-hierarchy">
        <i class="icon-eye-open" id="view-tag-hierarchy-btn"></i>
        {{ 'view_category_hierarchy'|trans({}, 'platform') }}
    </button>
    <br>
    <br>
    <div id="tag-tracks">
        <i class="icon-home pointer-hand" id="home-track-btn"></i>
    </div>

    <br>
    <div class="well well-sm">
        <span id="current-tag-name-label" class="hide">
            <b>{{ 'current_category'|trans({}, 'platform') }} :</b>
        </span>
        <span id="current-tag-name">
            {{ 'category_root'|trans({}, 'platform') }}
        </span>
    </div>
    <br>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th id="category-title">
                    {{ 'categories'|trans({}, 'platform') }}
                </th>
            </tr>
            <tr>
                <td>
                    <div id="workspace-tag-list">
                        <div class="workspace-tag-group">
                            {% for tag in tags %}
                                <span class="label label-danger tag-element"
                                    workspace-tag-id="{{ tag.getId() }}"
                                >
                                    <span class="open-tag-btn pointer-hand">
                                        {{ tag.getName() }}
                                    </span>
                                    &nbsp;
                                    <i class="icon-pencil pointer-hand edit-tag-btn"></i>
                                </span>
                                &nbsp;
                            {% endfor %}
                        </div>
                        <br>
                        <button type="button" class="btn btn-default create-tag-btn ">
                            {{ 'create_category'|trans({}, 'platform') }}
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    {{ 'workspaces_included_in_category'|trans({}, 'platform') }}
                </th>
            </tr>
            <tr>
                <td>
                    <div id="workspace-list">
                        <a href="{{ path('claro_workspace_list') }}">
                            {{ 'all_workspaces'|trans({}, 'platform') }}
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="form-modal-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="form-modal-title"></h3>
            </div>
            <div id="form-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="tag-modal-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="tag-modal-title"></h3>
            </div>
            <div id="tag-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="workspace-modal-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="workspace-modal-title"></h3>
            </div>
            <div id="workspace-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="remove-workspace-tag-validation-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'workspace_tag_remove_confirm_title'|trans({}, 'platform') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'workspace_tag_remove_confirm_message'|trans({}, 'platform') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="remove-workspace-tag-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

<div id="remove-workspace-from-tag-validation-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'workspace_remove_from_category_confirm_title'|trans({}, 'platform') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'workspace_remove_from_category_confirm_message'|trans({}, 'platform') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="remove-workspace-from-tag-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

<div id="tag-hierarchy-modal-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="tag-hierarchy-modal-title"></h3>
            </div>
            <div id="tag-hierarchy-modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'close'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
        src="{{ asset('bundles/clarolinecore/js/workspace/listAdminWorkspaceTag.js') }}"
        type="text/javascript"
    >
    </script>
    <script
        src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'platform' }) }}"
        type="text/javascript">
    </script>
{% endblock %}