{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ 'messages' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'message'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs margin-bottom-md">
                <li class="{% if 'claro_message_list_received' == app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('claro_message_list_received') }}" id="link_message_list_received_layout"><i class="fa fa-envelope-o"></i> {{ 'messages_received'|trans({}, 'platform') }}</a>
                </li>
                <li class="{% if 'claro_message_list_sent' == app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('claro_message_list_sent') }}" id="link_message_sent_layout"><i class="fa fa-share"></i> {{ 'messages_sent'|trans({}, 'platform') }}</a>
                </li>
                <li class="{% if 'claro_message_list_removed' == app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('claro_message_list_removed')}}" id="link_message_removed_layout"><i class="fa fa-trash-o"></i> {{ 'trash'|trans({}, 'platform') }}</a>
                </li>
                <li class="{% if 'claro_message_show' == app.request.get('_route') and '/message/show/0' | compareRoute(true) %}active{% endif %}">
                    <a href="{{ path('claro_message_show', {'message': 0})}}" id="link_message_removed_layout"><i class="fa fa-plus"></i> {{ 'new'|trans({}, 'platform') }}</a>
                </li>
            </ul>
            {% block section_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
