{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'send_message' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "send_message" | trans({}, "platform" )}}</h3>
        </div>
        <form role="form"
              novalidate="novalidate"
              action="{{path('claro_message_send')}}"
              method="post" {{ form_enctype(form) }}
              id="generic-form"
              class="form-horizontal">
            <div class="panel-body">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
        </form>
    </div>
{% endblock %}
