{% extends 'ClarolineCoreBundle:Message:layout.html.twig' %}
{% block section_content %}
    <div class="row">
        <div class="col-md-6">

            {% for ancestor in ancestors %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class='panel-title'>{{ ancestor.getObject()|raw }}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">
                            {{ 'from_message'|trans({}, 'platform') }}:  {{ ancestor.getSenderUsername() }}
                        </p>
                        <p>
                            {{ ancestor.getContent()|raw }}
                            <p class="text-muted">
                                {{ message.getDate()|timeAgo }}
                            </p>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-{% if ancestors is empty %}12{% else %}6{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">{{ 'new_message'|trans({}, 'platform') }}</h3></div>
                <form novalidate="novalidate"
                    action="{{ path('claro_message_send', {'parentId': message.getId()}) }}"
                    method="post" {{ form_enctype(form) }}
                    id="generic-form"
                    class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label id="message-users-btn" class="control-label btn btn-default pull-right" for="message_form_users">
                                    <b>{{ 'message_form_to'|trans({}, 'platform') }}</b>
                                </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="message_form_users" class="form-control">
                            </div>
                        </div>
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="contacts-box" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'select_contacts_title'|trans({}, 'platform') }}</h3>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active" id="users-nav-tab">
                            <a href="#">
                                {{ 'users'|trans({}, 'platform') }}
                            </a>
                        </li>
                        <li id="groups-nav-tab">
                            <a href="#">
                                {{ 'groups'|trans({}, 'platform') }}
                            </a>
                        </li>
                    </ul>
                    <br>
                    <div id="contacts-list"></div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="add-contacts-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}
    <script
        src='{{ asset('bundles/clarolinecore/js/message/show.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
