{% set interInfo = getInterTwig(interactions[p].id, 'InteractionOpen') %}
{% set inter =  interInfo['question'] %}

<div class="panel-body">

    {% if (display == 'all') %}

        {% include "UJMExoBundle:Partial:correction/open.html.twig" %}

        {% include "UJMExoBundle:Partial:correction/interactionScore.html.twig" %}
        <br/>

        {% if inter.typeopenquestion == 'long' and admin == 1 %}
            {% if responses[p].id != '' %}
                {% set url = path('ujm_paper_mark_open_question', {'respid': responses[p].id, 'maxScore': interInfo['maxScore']}) %}

                <input type="hidden" value="{{ responses[p].mark }}" id="currentOpenMark_{{ responses[p].id }}" />
                <a id="open_mark_{{ responses[p].id }}"
                    onmouseover="body.style.cursor = 'pointer';" onmouseout="body.style.cursor = 'default';"
                    onClick="openMark('{{ url }}');"
                >{{ 'mark_question' | trans({}, 'ujm_exo') }}</a>
            {% endif %}
        {% endif %}

    {% endif %}
</div>
