<div id="modal-content" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    {{ 'close copy'|trans({}, 'icap_dropzone') }}
                </h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ path('icap_dropzone_close_drop', {'resourceId': dropzone.id, 'dropId': drop.id}) }}">
                    {{ 'close copy confirmation text'|trans({}, 'icap_dropzone') }}
                </form>

            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</button>
                    <button type="submit" id="form-submit" class="btn btn-danger">
                        {{ 'close copy'|trans({}, 'icap_dropzone') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form-submit').on('click', function () {
                $('.modal-body form').submit();
            });
        });
    </script>
</div>