{% extends "IcapDropzoneBundle:Drop:drops.html.twig" %}

{% block  drops_unfinished_active %} active {% endblock %}
{% block drops_unfinished_link %} # {% endblock %}

{% block dropzone_content_drops %}

    <h3>{{ 'unfinished copies'|trans({}, 'icap_dropzone') }}</h3>

    <div class="container row">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
            'proximity' : 1,
            'routeName': 'icap_dropzone_drops_unfinished_paginated',
            'routeParams': {'resourceId': dropzone.id}
            }
            ) }}
        {% endif %}
    </div>
    {% set AwaitingMode = true %}
    {% include 'IcapDropzoneBundle:Drop:Listing/dropsUnfinishedListing.html.twig' %}

    {% if pager.nbResults == 0 %}
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                {{ 'no unfinished copies'|trans({}, 'icap_dropzone') }}
            </div>
        </div>
        <br>
    {% endif %}

    <div class="container row">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
            'proximity' : 1,
            'routeName': 'icap_dropzone_drops_unfinished_paginated',
            'routeParams': {'resourceId': dropzone.id}
            }
            ) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
