{% extends "ClarolineCoreBundle:resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-pdf-player-pdf-resource.css') }}" />
{% endblock %}

{% block content %}
    <div
        class="page-container pdf-player-container"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
        data-path="{{ url('claro_pdf', {node: _resource.resourceNode.id}) | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('packages/pdfjs-dist/build/pdf.combined.js') }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-pdf-player-pdf-viewer.js') }}"></script>
{% endblock %}
