{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = pdf.resourceNode.workspace %}
{% endif %}

{% extends layout %}

{% block title %}{{ pdf.resourceNode.name ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-pdf-player-pdf-resource.css') }}" />
{% endblock %}

{% block content %}
    <div class="page-container">
        <main class="page" data-ng-app="PdfViewer" data-ng-cloak="">
            <header class="page-header">
                <h1>{{ pdf.resourceNode.name }}</h1>

                <nav class="page-actions">
                    {% if canDownload %}
                    <a class="btn page-action-btn" href="{{ path('claro_resource_download') }}?ids[]={{ pdf.resourceNode.id }}">
                        <span class="page-action-icon fa fa-download"></span>
                        <span class="sr-only">{{ 'download'|trans({}, 'platform') }}</span>
                    </a>
					<a id="copy-permalink-to-clipboard" class="btn page-action-btn" href="{{ path('claro_pdf', {node: pdf.resourceNode.id}) }}">
                        <span class="page-action-icon fa fa-clipboard"></span> 
						<span class="sr-only">{{ 'copy_permalink_to_clipboard'|trans({}, 'platform') }}</span>
                    </a>
                    {% endif %}
                </nav>
            </header>

            <pdf-viewer
                    data-id="{{ pdf.resourceNode.id }}"
                    data-name="'{{ pdf.resourceNode.name|ng_escape }}'"
                    data-url="'{{ path('claro_pdf', {node: pdf.resourceNode.id}) }}'"
            >
            </pdf-viewer>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-pdf-player-pdf-viewer.js') }}" ></script>

    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-main-core-copy-text-to-clipboard.js') }}" ></script>
    <script>
        document.querySelector('a#copy-permalink-to-clipboard').addEventListener('click', function(event) {
            event.preventDefault();
            copyTextToClipboard('http://' + window.location.hostname + $(this).attr('href'));
        });
    </script>
{% endblock %}