{# This template is only used in debug environments (dev, test) #}
{# The error template for production is still "error.html.twig" from TwigBundle #}
{# Indentation and spacing matters, as it could be displayed as raw text in the console #}

{% if app.environment == 'dev' %}
    <h2>Exception</h2>
{% endif %}

"{{ exception.class }}" thrown with message : "{{ exception.message }}" ({{ status_code }} {{ status_text }})

{% for position, e in exception.toarray %}
{% for i, trace in exception.trace %}
{% if app.environment == 'dev' %}<li>{% endif %}
{% if trace.function %}

at {% autoescape false %}{{ trace.class ~ trace.type ~ trace.function }}{% endautoescape %}{% else %}at n/a{% endif %}{% if trace.file is defined and trace.line is defined %} in {{ trace.file }} line {{ trace.line }}{% endif %}
{% endfor %}
{% endfor %}