{% for favourite in favourites %}
    <div data-resource-node-id="{{ favourite.resourceNode.id }}" class="resource-node">

        <span class="fa fa-star delete-favourite-resource" style="color:gold;cursor: pointer; display: inline-block; width: 7%; vertical-align: top; margin-top: 3px; text-align: center; max-width: 30px" title="{{ 'remove_from_favourite_star'|trans({}, 'widget') }}"></span>
        <div style="display: inline-block; width: 90%">
            {% for path in getFullResourcePath(favourite.resourceNode.path) %}
                <a href="{{ path.nodeOpenUrl }}">{{ path.nodeName }}</a>
                {% if loop.last != true %} / {% endif %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <span><em>{{ 'widget_no_favourite'|trans({}, 'widget') }}</em></span>
{% endfor %}

<script>
    (function () {
        $('.delete-favourite-resource').click(function () {
            var star = $(this);
            var resourceNode = star.parent();
            var resourceNodeId = resourceNode.data('resourceNodeId');
            var routing = window.Routing.generate('hevinci_delete_favourite', {'node': resourceNodeId});

            $.ajax({
                url: routing,
                type: 'GET',
                complete: function () {
                    resourceNode.slideUp('fast', function () {
                        if ((resourceNode.parent().children().length)-1 == 1) {
                            resourceNode.parent().prepend("<span><em>{{ 'widget_no_favourite'|trans({}, 'widget') }}</em></span>");
                        }
                        resourceNode.remove();
                    });
                }
            });
        });
    }) ();
</script>