{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% extends layout %}

{% set _resource = chatRoom %}

{% block chat_content %}
    {% block section_content %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ chatRoom.getResourceNode().getName() }}

                {% if canChat and canEdit %}
                    <i class="fa fa-cogs pointer-hand pull-right"
                       id="chat-room-configuration-btn"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="{{ 'configuration'|trans({}, 'platform') }}"
                    >
                    </i>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <div id="chat-room-app" ng-cloak="" ng-app="ChatRoomModule">
                <div ui-view>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/clarolinechat/css/chatRoom.css') }}"
          type="text/css"
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'chat' }) }}"></script>

    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophejs-1.2.3/strophe.min.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophejs-plugins/disco/strophe.disco.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophe.jingle/strophe.jingle.adapter.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophe.jingle/strophe.jingle.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophe.jingle/strophe.jingle.sdp.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophe.jingle/strophe.jingle.session.js') }}"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('bundles/clarolinechat/js/strophe.jingle/hark.bundle.js') }}"
    >
    </script>
    <script>
        window.resourceId = {{ chatRoom.getResourceNode().getId() }}
        window.roomId = {{ chatRoom.getId() }}
        window.roomName = '{{ chatRoom.getRoomName() }}'
        window.roomStatus = '{{ chatRoom.getRoomStatusText() }}'
        window.roomType = '{{ chatRoom.getRoomTypeText() }}'
        window.xmppHost = '{{ xmppHost }}'
        window.xmppMucHost = '{{ xmppMucHost }}'
        window.boshPort = {{ boshPort }}
        window.iceServers = '{{ iceServers }}'
        window.canChat = {{ canChat ? 'true' : 'false' }}
        window.canEdit = {{ canEdit ? 'true' : 'false' }}
        window.hasAdmin = {{ hasAdmin ? 'true' : 'false' }}
        window.chatAdminUsername = '{{ chatAdminUsername }}'
        window.chatAdminPassword = '{{ chatAdminPassword }}'
        let RTC = null
        let RTCPeerconnection = null
    </script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-chat-room.js') }}"></script>
{% endblock %}