<h3>
    Chat with {{ user.getFirstName() }} {{ user.getLastName() }}.
</h3>
<div class="well">
    <ul id="chat-content" class="list-unstyled">
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" id="msg-input" class="form-control">
            <span class="input-group-btn">
                <button id="send-msg-btn" class="btn btn-default">
                    <i class="fa fa-comment"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<div id="chat-datas-box"
     data-xmpp-ssl="{{ ssl ? 'true' : 'false' }}"
     data-xmpp-host="{{ xmppHost }}"
     data-bosh-port="{{ boshPort }}"
     data-username="{{ chatUser.getChatUsername() }}"
     data-password="{{ chatUser.getChatPassword() }}"
     data-contact-username="{{ user.getUsername() }}"
>
</div>

{% include 'ClarolineCoreBundle:Layout:stylesheets.html.twig' %}
<script src='{{ asset('packages/jquery/dist/jquery.min.js') }}'></script>
{% include 'ClarolineCoreBundle:Layout:javascripts.html.twig' %}

<script src="{{ asset('packages/strophejs/strophe.min.js') }}"></script>
<script src="{{ asset('bundles/clarolinechat/js/userChat.js') }}"></script>

<style type="text/css">
    body {
        overflow: hidden !important;
    }

    #chat-content {
        max-height: 250px;
        overflow-y: scroll;
    }

    .received-message {
        color: red;
    }

    .sent-message {
        color: blue;
    }
</style>
