{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='less, cssmin' output='css/icapbibliography/style.css'
    '@IcapBibliographyBundle/Resources/views/less/style.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ _resource.getResourceNode().getName() }}
            {% if isEditGranted %}
            <a class="pull-right" data-toggle="modal" data-target="#bookReferenceEditModal" href="#">
                <i class="fa fa-pencil"></i> {{ 'edit' | trans({}, 'platform') }}
            </a>
            {% endif %}
        </h3>

    </div>
    <div class="panel-body" id="bookreference_content">

        <div id="lesson-main-container" class="row">

            {% if _resource.url and _resource.coverUrl %}
                <div class="col-md-2">
                    {% if _resource.coverUrl %}
                        <img id="bookreference_cover" src="{{ _resource.coverUrl }}" />
                        <br /><br />
                    {% endif %}

                    {% if _resource.url %}
                        <a id="bookreference_url" href="{{ _resource.url }}" class="btn btn-primary"><i class="fa fa-external-link" aria-hidden="true"></i> {{ 'link' | trans({}, 'icap_bibliography') }}</a>
                    {% endif %}
                </div>
            {% endif %}
<div class="col-md-4">
            <table>
                <tr>
                    <td>{{ 'author' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.author }}</td>
                </tr>
                <tr>
                    <td>{{ 'description' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.description|raw }}</td>
                </tr>
                <tr>
                    <td>{{ 'abstract' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.abstract|raw }}</td>
                </tr>
                <tr>
                    <td>{{ 'isbn' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.isbn }}</td>
                </tr>
                <tr>
                    <td>{{ 'publisher' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.publisher }}</td>
                </tr>
                <tr>
                    <td>{{ 'printer' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.printer }}</td>
                </tr>
                <tr>
                    <td>{{ 'publication_year' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.publicationYear }}</td>
                </tr>
                <tr>
                    <td>{{ 'language' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.language|locale(app.request.locale) }}</td>
                </tr>
                <tr>
                    <td>{{ 'page_count' | trans({}, 'icap_bibliography') }}</td>
                    <td>{{ _resource.pageCount }}</td>
                </tr>
            </table>
</div>

        </div>
    </div>
    <div class="panel-footer">
        {% render controller(
        'IcapNotificationBundle:FollowerResource:renderForm',
        {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class}
        ) %}
    </div>

<div id="bookReferenceEditModal" class="modal fade" tabindex="-1" role="dialog">
    {% render controller(
    'IcapBibliographyBundle:BookReference:changeBookReference',
    {'node': _resource.resourceNode.id}
    ) %}
</div>
{% endblock %}
