{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'icap_bibliography_config' | trans({}, 'icap_bibliography') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': path('claro_admin_plugins')
            },
            {
                'name': 'icap_book_reference_config'|trans({}, 'icap_bibliography'),
                'href': ''
            }
        ])
    }}
{% endblock %}


{% block section_content %}
    {{ parent() }}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'icap_book_reference_config'|trans({}, 'icap_bibliography') }}</h3>
    </div>

    <div class="panel-body">
        {{ form_start(form, {'action': path('icap_bibliography_config_save', {'id':id }) , 'method': 'POST'}) }}

        <div>
            {{ macros.flashBox() }}
        </div>

        <div class="alert alert-warning">
            <button type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-hidden="true"
            >
                &times;
            </button>
            <strong>{{ 'api_options_line1'|trans({}, 'icap_bibliography') }}</strong><br>
            {{ 'api_options_line2'|trans({}, 'icap_bibliography') }} <a href="http://isbndb.com/">http://isbndb.com/</a><br>
        </div>

        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
