{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-announcement-announcement-resource.css') }}" />
{% endblock %}

{% block content %}
    <div
        class="page-container announcement-container"
        data-announcement="{{ _resource | api_serialize | json_encode | raw | escape }}"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'announcement' }) }}"></script>
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-announcement-announcement-resource.js') }}"></script>
{% endblock %}
