{% extends "ClarolineScormBundle:Export:layout.html.twig" %}

{% set tag = 'video' %}
{% if 'audio' in _resource.resourceNode.mimeType %}
    {% set tag = 'audio' %}
{% endif %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.resourceNode.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="panel-body">
                <div class="container">
                    <div class="span12">
                        <div>
                            <video controls preload="auto" class="video-js vjs-big-play-centered vjs-default-skin vjs-16-9" data-setup='{}'>
                                <source src="../files/file_{{ _resource.resourceNode.id }}" type="{{ _resource.resourceNode.mimeType }}" />
                                {% for track in get_video_tracks(_resource) %}
                                    <track
                                            kind="{{ track.getKind() }}"
                                            src="{{ path('api_get_video_track_stream', {'track': track.getId() }) }}"
                                            srclang="{{ track.getLang() }}"
                                            label="{{ track.getLabel() }}"
                                            {% if (track.isDefault()) %} default {% endif %}
                                    >
                                {% endfor %}
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.videoId = {{ _resource.id }}
        window.nodeId  = {{ _resource.resourceNode.id }}
        window.tracks  = {{ tracks|json_serialize('api_resource')|raw }}
    </script>

    <script src="../commons/translator.js"></script>
    <script src="../translations/platform.js"></script>
{% endblock %}
