{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'server' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'oauth'|trans({}, 'platform'),
        'href': path('claro_admin_parameters_oauth_index')
    },
    {
        'name': 'Claroline'|trans({}, 'platform'),
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel">
        <div class="panel-body">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <b>{{ 'oauth_client_list'|trans({}, 'platform') }}</b>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th> {{ 'id'|trans({}, 'platform') }} </th>
                                    <th> {{ 'redirect_uri'|trans({}, 'platform') }} </th>
                                    <th> {{ 'grant_type'|trans({}, 'platform') }} </th>
                                    <th> {{ 'client_name'|trans({}, 'platform')}} </th>
                                    <th> </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr id="client-row-{{ client.getId() }}" data-client-id="{{ client.getId() }}">
                                        <th> {{ client.getId() }} </th>
                                        <th>
                                            {% for uris in client.getRedirectUris() %}
                                                {{ uris }}
                                            {% endfor %}
                                        </th>
                                        <th>
                                            {% for grantType in client.getAllowedGrantTypes() %}
                                                {{ grantType }}
                                            {% endfor %}
                                        </th>
                                        <th> {{ client.getName() }} </th>
                                        <th>
                                            <div class="btn-group">
                                                <button class="btn btn-default show-client-btn"
                                                        data-client-id="{{ client.getId() }}"
                                                        data-client-random="{{ client.getRandomId() }}"
                                                        >
                                                    <i class="fa fa-info"
                                                       data-client-id="{{ client.getId() }}"
                                                       data-client-random="{{ client.getRandomId() }}">
                                                    </i>
                                                </button>
                                                <button class="btn btn-default show-secret-btn"
                                                        data-secret="{{ client.getSecret() }}"
                                                        >
                                                    <i class="fa fa-key" data-secret="{{ client.getSecret() }}"></i>
                                                </button>
                                                <button class="btn btn-warning edit-client-btn"
                                                        data-client-id="{{ client.getId() }}"
                                                        >
                                                    <i class="fa fa-pencil" data-client-id="{{ client.getId() }}"></i>
                                                </button>
                                                <button class="btn btn-warning hide-client-btn"
                                                        data-client-id="{{ client.getId() }}"
                                                        >
                                                    <i class="fa fa-eye-slash" data-client-id="{{ client.getId() }}"></i>
                                                </button>
                                                <button class="btn btn-danger delete-client-btn"
                                                        data-client-id="{{ client.getId() }}"
                                                        >
                                                    <i class="fa fa-trash" data-client-id="{{ client.getId() }}"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button id="add-client-btn"
                                type="submit"
                                class="btn btn-primary">
                            {{ 'add'|trans({}, 'platform') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/administration/clients.js') }}"></script>
{% endblock %}
