<!DOCTYPE html>

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% set isRenderedInIframe = app.request.query.get('iframe') %}

<html lang="{{ app.request.locale|default('fr') }}"
      class="claroline-app-container {{ config.getParameter('theme') }}{% if isRenderedInIframe %} claroline-app-iframe{% endif %}"
>
    <head>
        {% set description = getContent('platformDescription') %}
        {% block meta %}
            {% if not description is empty %}
                <meta name="description" content="{{ description.content | striptags }}" />
            {% endif %}
            <meta charset="utf-8" />
            {#
               The following line is needed for unit testing as the DOMDocument
               used by the SF's crawler doesn't recognize the HTML5 charset meta tag.
               https://github.com/symfony/symfony/issues/3881
            #}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            {% if config.getParameter('google_meta_tag') is not empty %}
                {{ config.getParameter('google_meta_tag') | raw }}
            {% endif %}
        {% endblock %}

        {% if config.getParameter('name') is not empty %}
            {% set pagetitle = config.getParameter('name') %}
        {% else %}
            {% set pagetitle = 'Claroline Connect' %}
        {% endif %}

        <title>{% spaceless %}
            {% block title %}
                {{ pagetitle | striptags | raw }}
                {% if not description is empty and description.content != "" %}
                    - {{ description.content | striptags | raw }}
                {% endif %}
            {% endblock %}
        {% endspaceless %}</title>

        {% block theme %}
            {% if config.getParameter('theme_extending_default') %}
                {# TODO : I think this should be removed (extend should be done in LESS) #}
                <link rel="stylesheet" type="text/css" href="{{ themeAsset('bootstrap.css', 'claroline') }}" />
            {% endif %}

            <link rel="stylesheet" type="text/css" href="{{ themeAsset('bootstrap.css') }}" />
        {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
            <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')}}" />
        {% endblock %}

        {% block javascripts_header %}{% endblock %}
    </head>

    <body class="claroline-app">
        {% block layout %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
