{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block meta %}
    {{ parent() }}

    {% if config.getParameter('google_meta_tag') is not empty %}
        {{ config.getParameter('google_meta_tag') | raw }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% include 'ClarolineCoreBundle:Layout:stylesheets.html.twig' %}

    {% if hideTopBar is defined and hideTopBar and not (has_role('ROLE_USURPATE_WORKSPACE_ROLE') or is_impersonated()) %}
        <style type="text/css">
            body, #left-bar {
                padding-top: 0 !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}

    <script src='{{ asset('packages/jquery/dist/jquery.min.js') }}'></script>
{% endblock %}

{% block layout %}
    {# Claroline default loader #}
    <div class="please-wait">{{ 'please_wait'|trans({}, 'platform') }}</div>

    {# Dumps some server vars in the DOM to make it available in JS #}
    {% include "ClarolineCoreBundle::variables.html.twig" %}

    {# Alerts #}
    {% include "ClarolineCoreBundle::alerts.html.twig" %}

    {# Topbars #}
    {% if (hideTopBar is not defined or not hideTopBar) and not has_role('ROLE_USURPATE_WORKSPACE_ROLE') %}
        {% block topBarRender %}
            {% if workspace is defined %}
                {% render(controller('ClarolineCoreBundle:Layout:topBar', {'workspaceId': workspace.id})) %}
            {% else %}
                {% render(controller('ClarolineCoreBundle:Layout:topBar')) %}
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block impersonation %}
        {% if has_role('ROLE_USURPATE_WORKSPACE_ROLE') or is_impersonated() %}
            {% render(controller('ClarolineCoreBundle:Layout:renderWarningImpersonation')) %}
        {% endif %}
    {% endblock %}

    {# Sidebars #}
    <div class="hidden-xs">
        <div class="hide">
            <div id="left-bar" class="sidebar">
                {% block leftbar %}{% endblock %}
            </div>
        </div>
        <div class="hide">
            <div id="right-bar" class="sidebar">
                {% block rightbar %}{% endblock %}
            </div>
        </div>
    </div>

    <div id="wrap">
        {% block content_container %}
            <div class="container-fluid">
                {% if workspace is defined and
                    workspace.getOptions() is not empty and
                    workspace.getOptions().getDetails() is not empty and
                    workspace.getOptions().getDetails()['hide_breadcrumb'] is defined and
                    workspace.getOptions().getDetails()['hide_breadcrumb']
                %}
                {% else %}
                    {% block breadcrumb %}{% endblock %}
                {% endif %}

                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="push"></div>
        {% endblock %}
    </div>

    {% block footer %}
        {% render(controller('ClarolineCoreBundle:Layout:footer')) %}
    {% endblock%}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ClarolineCoreBundle:Layout:javascripts.html.twig' %}
{% endblock %}
