{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block stylesheets %}
    {% include 'ClarolineCoreBundle:Layout:stylesheets.html.twig' %}

    {# todo : this should be removed and fully managed in LESS #}
    {% if hideTopBar is defined and hideTopBar and not (has_role('ROLE_USURPATE_WORKSPACE_ROLE') or is_impersonated()) %}
        <style type="text/css">
            html, #left-bar {
                padding-top: 0 !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}

    <script src='{{ asset('packages/jquery/dist/jquery.min.js') }}'></script>
{% endblock %}

{% block layout %}
    {# Claroline default loader #}
    <div class="please-wait">{{ 'please_wait'|trans({}, 'platform') }}</div>

    {# Dumps some server vars in the DOM to make it available in JS #}
    <div class="server-vars hide">
        {% include "ClarolineCoreBundle::variables.html.twig" %}

        {% block server_vars %}{% endblock %}
    </div>

    {# Alerts #}
    {% include "ClarolineCoreBundle::alerts.html.twig" %}

    {% if not isRenderedInIframe %}
        {# Main navigation #}
        {% if (hideTopBar is not defined or not hideTopBar) and not has_role('ROLE_USURPATE_WORKSPACE_ROLE') %}
            {% block topBarRender %}
                {% if workspace is defined and workspace is not null %}
                    {% render(controller('ClarolineCoreBundle:Layout:topBar', {'workspaceId': workspace.id})) %}
                {% else %}
                    {% render(controller('ClarolineCoreBundle:Layout:topBar')) %}
                {% endif %}
            {% endblock %}
        {% endif %}

        {# User impersonated notification #}
        {% block impersonation %}
            {% if has_role('ROLE_USURPATE_WORKSPACE_ROLE') or is_impersonated() %}
                {% render(controller('ClarolineCoreBundle:Layout:renderWarningImpersonation')) %}
            {% endif %}
        {% endblock %}

        {% if hideSidebars is not defined or not hideSidebars %}
        {# Sidebars #}
        <div class="hidden-xs">
            <div id="left-bar" class="sidebar hide">
                {% block leftbar %}{% endblock %}
            </div>

            <div id="right-bar" class="sidebar hide">
                {% block rightbar %}{% endblock %}
            </div>
        </div>

        {# FIXME : As is we get the sidebar 2 times in the DOM. Responsivity should be fully managed in LESS #}
        <div class="menu-xs visible-xs">
        {{ block("leftbar") }}
        </div>
        {% endif %}
    {% endif %}

    <div id="wrap"{% block wrap_default_classes %} class="app-content container-fluid"{% endblock %}>
        {% if (hideBreadcrumb is not defined or not hideBreadcrumb) and not isRenderedInIframe %}
            {% block breadcrumb %}{% endblock %}
        {% endif %}

        {% block content %}
            <div class="page-container">
                <main class="page">
                {% block page %}
                    <header class="page-header">
                    {% block page_header %}
                        <h1>
                            {% block page_title %}{% endblock %}
                        </h1>
                    {% endblock %}
                    </header>

                    <div class="page-content">
                    {% block page_content %}
                    {% endblock %}
                    </div>
                {% endblock %}
                </main>
            </div>
        {% endblock %}
    </div>

    {% if not isRenderedInIframe and (hideFooter is not defined or not hideFooter) %}
        {% block footer %}
            {% render(controller('ClarolineCoreBundle:Layout:footer')) %}
        {% endblock%}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ClarolineCoreBundle:Layout:javascripts.html.twig' %}
{% endblock %}
