{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block stylesheets %}
    {% include 'ClarolineCoreBundle:layout:stylesheets.html.twig' %}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}

    <script src='{{ asset('packages/jquery/dist/jquery.min.js') }}'></script>
{% endblock %}

{% block layout %}
    {# Claroline default loader #}
    <div class="please-wait">{{ 'please_wait'|trans({}, 'platform') }}</div>

    {# Dumps some server vars in the DOM to make it available in JS #}
    <div class="server-vars hide">
        {% include "ClarolineCoreBundle::variables.html.twig" %}

        {% block server_vars %}{% endblock %}
    </div>

    {# Alerts #}
    {% include "ClarolineCoreBundle::alerts.html.twig" %}

    {% if not isRenderedInIframe %}
        {# Main navigation #}
        {% if (hideTopBar is not defined or not hideTopBar) and not has_role('ROLE_USURPATE_WORKSPACE_ROLE') %}
            {% block topBarRender %}
                {% if workspace is defined and workspace is not null %}
                    {{ render(controller('ClarolineCoreBundle:Layout:topBar', {'workspaceId': workspace.id, request: app.request})) }}
                {% else %}
                    {{ render(controller('ClarolineCoreBundle:Layout:topBar', {request: app.request})) }}
                {% endif %}
            {% endblock %}
        {% endif %}

        {# User impersonated notification #}
        {% block impersonation %}
            {% if has_role('ROLE_USURPATE_WORKSPACE_ROLE') or is_impersonated() %}
                {{ render(controller('ClarolineCoreBundle:Layout:renderWarningImpersonation')) }}
            {% endif %}
        {% endblock %}
    {% endif %}

    {# Toolbar #}
    {% if hideSidebars is not defined or not hideSidebars %}
        {% block leftbar %}{% endblock %}
    {% endif %}

    {# Content #}
    {# do not use block `wrap_attrs` it will be removed (only used in login) #}
    <div {% block wrap_attrs %}class="app-content"{% endblock %}>
        {% if (hideBreadcrumb is not defined or not hideBreadcrumb) and not isRenderedInIframe %}
            {% block breadcrumb %}{% endblock %}
        {% endif %}

        {% block content %}
            <div class="page-container">
                <main class="page">
                    {% block page %}
                        <header class="page-header">
                            {% block page_header %}
                                <h1 class="page-title">
                                    {% block page_title %}{% endblock %}
                                </h1>
                            {% endblock %}
                        </header>

                        <div class="page-content">
                            {% block page_content %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </main>
            </div>
        {% endblock %}

        {% if not isRenderedInIframe and (hideFooter is not defined or not hideFooter) %}
            {% block footer %}
                {{ render(controller('ClarolineCoreBundle:layout:footer')) }}
            {% endblock%}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ClarolineCoreBundle:layout:javascripts.html.twig' %}
{% endblock %}
