{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-body">
        {{
            macros.breadcrumbs([
                {
                    'name': 'users_management'|trans({}, 'platform'),
                    'href': path('claro_admin_users_index')
                },
                {
                    'name': 'profile_management'|trans({}, 'platform'),
                    'href': path('claro_admin_facet_index')
                },
                {
                    'name': 'profile_properties_management'|trans({}, 'platform'),
                    'href': ''
                }
            ])
        }}
        <div class="well"> {{ 'admin_profile_properties_explanations'|trans({}, 'platform') }}</div>
        <table id="properties-table"  class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th> {{ 'property'|trans({}, 'platform') }}
                    {% for role in platformRoles %}
                        <th> {{ role.getTranslationKey()|trans({}, 'platform') }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for label, default in labels %}
                    <tr>
                        <th>{{ label|trans({}, 'platform') }}</th>
                        {% for role in platformRoles %}
                            {% for property in properties %}
                                {% if property.getProperty() == label and property.getRole() == role %}
                                    <th>
                                        <input
                                            class="property-chk"
                                            type="checkbox"
                                            id="property-{{ property.getId() }}"
                                            data-property-id={{ property.getId() }}
                                            {% if property.isEditable() == true %}
                                                checked
                                            {% endif %}
                                        >
                                        </input>
                                    </th>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/administration/profileProperties.js') }}"></script>
{% endblock %}
