{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set courseTitle = course.getTitle() %}

{% block title %}
    {% if type == 'course' %}
        {{
            parent() ~ 
            ' - ' ~ 
            'claroline_cursus_tool' | trans({}, 'tools') | striptags | raw ~ 
            ' - ' ~ 
            displayedWords['course'] ~ 
            ' - ' ~ 
            courseTitle 
        }}
    {% else %}
        {{
            parent() ~ 
            ' - ' ~ 
            'claroline_cursus_tool' | trans({}, 'tools') | striptags | raw ~ 
            ' - ' ~ 
            displayedWords['cursus'] ~ 
            ' - ' ~ 
            courseTitle 
        }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if type == 'course' %}
        {{
            macros.breadcrumbs([
                {
                    'icon': 'fa fa-cog',
                    'name': 'administration'|trans({}, 'platform'),
                    'href': path('claro_admin_index')
                },
                {
                    'name': 'claroline_cursus_tool'|trans({}, 'tools'),
                    'href': path('claro_cursus_management_tool_menu')
                },
                {
                    'name': displayedWords['course'],
                    'href': path('claro_cursus_tool_course_index')
                },
                {
                    'name': courseTitle,
                    'href': ''
                }
            ])
        }}
    {% else %}
        {{
            macros.breadcrumbs([
                {
                    'icon': 'fa fa-cog',
                    'name': 'administration'|trans({}, 'platform'),
                    'href': path('claro_admin_index')
                },
                {
                    'name': 'claroline_cursus_tool'|trans({}, 'tools'),
                    'href': path('claro_cursus_management_tool_menu')
                },
                {
                    'name': displayedWords['cursus'],
                    'href': path('claro_cursus_tool_index')
                },
                {
                    'name': cursus.getTitle(),
                    'href': path('claro_cursus_management', {'cursus': cursus.getId()})
                },
                {
                    'name': courseTitle,
                    'href': ''
                }
            ])
        }}
    {% endif %}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            [{{ displayedWords['course'] }}]
            {{ courseTitle }}
        </h3>
    </div>
    <div class="panel-body">
        {{ macros.flashBox() }}
        <div>
            <h3>
                {{ courseTitle }}
                
                {% if course.getDescription() is not empty %}
                    &nbsp;
                    <small>
                        <i class="fa fa-file-text-o pointer-hand"
                           data-toggle="collapse"
                           data-target="#course-description-box"
                           data-placement="top"
                           title="{{ 'show_description'|trans({}, 'cursus') }}"
                        >
                        </i>
                    </small>
                {% endif %}
                <small>
                    <a {% if type == 'course' %}
                           href="{{ path('claro_cursus_course_edit_form', {'course': course.getId(), 'source': 1}) }}"
                       {% else %}
                           href="{{ path('claro_cursus_course_edit_form', {'course': course.getId(), 'source': 2, 'cursusId': cursus.getId()}) }}"
                       {% endif %}
                        <i class="fa fa-pencil"></i>
                    </a>
                </small>
            </h3>
            <br>

            {% if course.getDescription() is not empty %}
                <div id="course-description-box" class="well well-sm collapse">
                    {{ course.getDescription()|raw }}
                </div>
                <br>
            {% endif %}
                
            <div id="users-box" class="hidden">
                <div id="users-area" class="well" style="background-color: rgba(255,255,255,0.4);">
                </div>
                <br>
            </div>
                
            {% if queues|length > 0 %}
                <div id="course-queue-users-box">
                    <h4>
                        {{ 'queued_users'|trans({}, 'cursus') }}
                        &nbsp;
                        <i class="fa fa-chevron-right pointer-hand"
                           data-toggle="collapse"
                           data-target="#queued-users-tab"
                        >
                        </i>
                    </h4>
                    <div class="table-responsive collapse" id="queued-users-tab">
                        <br>
                        <table class="table">
                            
                            {% for queue in queues %}
                                {% set queuedUser = queue.getUser() %}
                                <tr id="queued-user-row-{{ queue.getId() }}">
                                    <td>
                                        {{ queuedUser.getFirstName() }}
                                        {{ queuedUser.getLastName() }}
                                        ({{ queuedUser.getUsername() }})
                                        
                                        {% if sessionsTab[0] is defined or sessionsTab[0] is defined %}
                                            &nbsp;
                                            <i class="fa fa-sign-in pointer-hand transfer-to-session-btn"
                                               data-queue-id="{{ queue.getId() }}"
                                            >
                                            </i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br>
            {% endif %}
                
            <div id="sessions-box">
                <h4>
                    {{ 'sessions'|trans({}, 'cursus') }}
                    &nbsp;
                    <i class="fa fa-chevron-right pointer-hand"
                       data-toggle="collapse"
                       data-target="#sessions-tab"
                    >
                    </i>
                </h4>
                <div class="table-responsive collapse in" id="sessions-tab">
                    <br>
                    {% if sessionsTab|length > 0 %}
                        <table class="table">
                            <tr>
                                <th>
                                    {{ 'name'|trans({}, 'platform') }}
                                </th>
                                <th>
                                    {{ 'creation_date'|trans({}, 'platform') }}
                                </th>
                                <th class="text-center">
                                    {{ 'workspace'|trans({}, 'platform') }}
                                </th>
                                <th class="text-center">
                                    {{ 'status'|trans({}, 'platform') }}
                                </th>
                                <th class="text-center">
                                    {{ 'default_session'|trans({}, 'cursus') }}
                                </th>
                                <th class="text-center">
                                    {{ 'actions'|trans({}, 'platform') }}
                                </th>
                            </tr>

                            {% if sessionsTab[0] is defined %}
                                {% for session in sessionsTab[0] %}
                                <tr id="row-session-{{ session.getId() }}">
                                    <td>
                                        <a class="show-users-btn pointer-hand"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                            {{ session.getName() }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ session.getCreationDate()|intl_date_format }}
                                    </td>
                                    <td class="text-center">
                                        {% set workspace = session.getWorkspace() %}

                                        {% if workspace is null %}
                                            -
                                        {% else %}
                                            <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}"
                                               class="fa fa-book"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="{{ workspace.getName() }} ({{ workspace.getCode() }})"
                                            >
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <i class="fa fa-circle"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'session_not_started'|trans({}, 'cursus') }}"
                                           style="color: #706c6c"
                                        >
                                        </i>
                                    </td>
                                    <td class="text-center">
                                        <span class="default-session-btn pointer-hand" data-session-id="{{ session.getId() }}">
                                            
                                            {% if session.isDefaultSession() %}
                                                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle" style="color: #D9534F"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'send_confirmation_mail_to_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                        </i>
                                        <i class="btn btn-default fa fa-edit edit-session-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'edit_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                        </i>
                                        <i class="btn btn-danger fa fa-trash delete-session-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'delete_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                           data-session-name="{{ session.getName() }}"
                                        >
                                        </i>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}

                            {% if sessionsTab[1] is defined %}
                                {% for session in sessionsTab[1] %}
                                <tr id="row-session-{{ session.getId() }}">
                                    <td>
                                        <a class="show-users-btn pointer-hand"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                            {{ session.getName() }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ session.getCreationDate()|intl_date_format }}
                                    </td>
                                    <td class="text-center">
                                        {% set workspace = session.getWorkspace() %}

                                        {% if workspace is null %}
                                            -
                                        {% else %}
                                            <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}"
                                               class="fa fa-book"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="{{ workspace.getName() }} ({{ workspace.getCode() }})"
                                            >
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <i class="fa fa-circle"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'session_open'|trans({}, 'cursus') }}"
                                           style="color: #5CB85C"
                                        >
                                        </i>
                                    </td>
                                    <td class="text-center">
                                        <span class="default-session-btn pointer-hand" data-session-id="{{ session.getId() }}">
                                            
                                            {% if session.isDefaultSession() %}
                                                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle" style="color: #D9534F"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'send_confirmation_mail_to_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                        </i>
                                        <i class="btn btn-default fa fa-edit edit-session-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'edit_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                        >
                                        </i>
                                        <i class="btn btn-danger fa fa-trash delete-session-btn"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ 'delete_session'|trans({}, 'cursus') }}"
                                           data-session-id="{{ session.getId() }}"
                                           data-session-name="{{ session.getName() }}"
                                        >
                                        </i>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}

                            {% if sessionsTab[2] is defined %}
                                <tr>
                                    <td colspan="6">
                                        <span id="show-closed-sessions-btn"
                                              class="btn btn-default pull-right"
                                        >
                                            <i class="fa fa-eye"></i>
                                            {{ 'show_hide_closed_sessions'|trans({}, 'cursus') }}
                                        </span>
                                    </td>
                                </tr>

                                {% for session in sessionsTab[2] %}
                                    <tr id="row-session-{{ session.getId() }}"
                                        class="closed-session hide"
                                    >
                                        <td>
                                            <a class="show-users-btn pointer-hand"
                                                  data-session-id="{{ session.getId() }}"
                                            >
                                                {{ session.getName() }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ session.getCreationDate()|intl_date_format }}
                                        </td>
                                        <td class="text-center">
                                            {% set workspace = session.getWorkspace() %}

                                            {% if workspace is null %}
                                                -
                                            {% else %}
                                                <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}"
                                                   class="fa fa-book"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="{{ workspace.getName() }} ({{ workspace.getCode() }})"
                                                >
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-circle"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="{{ 'session_closed'|trans({}, 'cursus') }}"
                                               style="color: #D9534F"
                                            >
                                            </i>
                                        </td>
                                        <td class="text-center">
                                            <span class="default-session-btn pointer-hand" data-session-id="{{ session.getId() }}">

                                                {% if session.isDefaultSession() %}
                                                    <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                                                {% else %}
                                                    <i class="fa fa-times-circle" style="color: #D9534F"></i>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <i class="btn btn-default fa fa-edit edit-session-btn"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="{{ 'edit_session'|trans({}, 'cursus') }}"
                                               data-session-id="{{ session.getId() }}"
                                            >
                                            </i>
                                            <i class="btn btn-danger fa fa-trash delete-session-btn"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="{{ 'delete_session'|trans({}, 'cursus') }}"
                                               data-session-id="{{ session.getId() }}"
                                               data-session-name="{{ session.getName() }}"
                                            >
                                            </i>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'no_session'|trans({}, 'cursus') }}
                        </div>
                    {% endif %}
                    <span id="course-session-create-btn"
                          class="btn btn-default pointer-hand"
                          data-course-id="{{ course.getId() }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ 'create_session'|trans({}, 'cursus') }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="view-registration-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-registration-header" class="modal-header">
                </h3>
                <div id="view-registration-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>

    <div id="delete-session-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3>
                        {{ 'session_deletion'|trans({}, 'cursus') }}
                        <small>
                            [<span id="delete-session-name-header"></span>]
                        </small>
                    </h3>
                </div>
                <div class="modal-body">
                    {{ 'delete_course_session_confirm_msg'|trans({}, 'cursus') }}
                    <br>
                    <br>
                    <div class="checkbox">
                        <label>
                            <input id="with-workspace-chk" type="checkbox">
                            <b>
                                {{ 'delete_course_session_workspace_confirm_msg'|trans({}, 'cursus') }}
                            </b>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="pull-right">
                        <span class="btn btn-default pointer-hand"
                              data-dismiss="modal"
                        >
                            {{ 'cancel'|trans({}, 'platform') }}
                        </span>
                        <span id="confirm-session-deletion-btn"
                              class="btn btn-primary pointer-hand"
                        >
                            {{ 'ok'|trans({}, 'platform') }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinecursus/js/courseManagement.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}