{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set courseTitle = course.getTitle() %}
{% block title %}
    {{
        parent() ~ 
        ' - ' ~ 
        'claroline_cursus_tool' | trans({}, 'tools') | striptags | raw ~ 
        ' - ' ~ 
        displayedWords['course'] ~ 
        ' - ' ~ 
        courseTitle 
    }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool'|trans({}, 'tools'),
                'href': path('claro_cursus_tool_index')
            },
            {
                'name': displayedWords['course'],
                'href': path('claro_cursus_tool_course_index')
            },
            {
                'name': courseTitle,
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            [{{ displayedWords['course'] }}]
            {{ courseTitle }}
        </h3>
    </div>
    <div class="panel-body">
        {{ macros.flashBox() }}
        {% include 'ClarolineCursusBundle:Cursus:toolMenuIndexTabs.html.twig'%}
        
        <br>
        <div>
            <h3>
                {{ courseTitle }}
                
                {% if course.getDescription() is not empty %}
                    &nbsp;
                    <small>
                        <i class="fa fa-file-text-o pointer-hand"
                           data-toggle="collapse"
                           data-target="#course-description-box"
                           data-placement="top"
                           title="{{ 'show_description'|trans({}, 'cursus') }}"
                        >
                        </i>
                    </small>
                {% endif %}
            </h3>
            <br>

            {% if course.getDescription() is not empty %}
                <div id="course-description-box" class="well well-sm collapse">
                    {{ course.getDescription()|raw }}
                </div>
                <br>
            {% endif %}
                
            <div id="users-box" class="hidden">
                <div id="users-area" class="well">

                </div>
                <br>
            </div>
                
            <div id="sessions-box">
                <h4>
                    {{ 'sessions'|trans({}, 'cursus') }}
                    &nbsp;
                    <i class="fa fa-chevron-right pointer-hand"
                       data-toggle="collapse"
                       data-target="#sessions-tab"
                    >
                    </i>
                </h4>
                <div class="table-responsive collapse in" id="sessions-tab">
                    <br>
                    {% if sessionsTab|length > 0 %}
                        {% 
                            if (sessionsTab[0] is defined and sessionsTab[0]|length > 0) or
                            (sessionsTab[0] is defined and sessionsTab[0]|length > 0)
                        %}
                            <table class="table">
                                <tr>
                                    <th>
                                        {{ 'name'|trans({}, 'platform') }}
                                    </th>
                                    <th>
                                        {{ 'creation_date'|trans({}, 'platform') }}
                                    </th>
                                    <th class="text-center">
                                        {{ 'status'|trans({}, 'platform') }}
                                    </th>
                                </tr>
                                
                                {% if sessionsTab[0] is defined %}
                                    {% for session in sessionsTab[0] %}
                                    <tr>
                                        <td>
                                            {% if session.isDefaultSession() %}
                                                <i class="fa fa-flag"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="{{ 'default_session'|trans({}, 'cursus') }}"
                                                >
                                                </i>
                                                &nbsp;
                                            {% endif %}
                                            <span class="show-users-btn pointer-hand"
                                                  data-session-id="{{ session.getId() }}"
                                            >
                                                {{ session.getName() }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ session.getCreationDate()|intl_date_format }}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-circle pointer-hand"
                                               style="color: #706c6c"
                                            >
                                            </i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                
                                {% if sessionsTab[1] is defined %}
                                    {% for session in sessionsTab[1] %}
                                    <tr>
                                        <td>
                                            {% if session.isDefaultSession() %}
                                                <i class="fa fa-flag"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="{{ 'default_session'|trans({}, 'cursus') }}"
                                                >
                                                </i>
                                                &nbsp;
                                            {% endif %}
                                            <span class="show-users-btn pointer-hand"
                                                  data-session-id="{{ session.getId() }}"
                                            >
                                                {{ session.getName() }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ session.getCreationDate()|intl_date_format }}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-circle pointer-hand"
                                               style="color: #5CB85C"
                                            >
                                            </i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        {% endif %}
                    
                        {% if sessionsTab[2] is defined and sessionsTab[2]|length > 0 %}
                            <a data-toggle="collapse"
                               data-target="#closed-sessions-tab"
                               class="pointer-hand pull-right"
                            >
                                {{ 'closed_sessions'|trans({}, 'cursus') }}
                            </a>
                            <br>
                            <br>
                            <div class="table-responsive collapse" id="closed-sessions-tab">
                                <table class="table">
                                    <tr>
                                        <th>
                                            {{ 'name'|trans({}, 'platform') }}
                                        </th>
                                        <th>
                                            {{ 'creation_date'|trans({}, 'platform') }}
                                        </th>
                                        <th class="text-center">
                                            {{ 'status'|trans({}, 'platform') }}
                                        </th>
                                    </tr>
                                    {% for session in sessionsTab[2] %}
                                        <tr>
                                            <td>
                                                <span class="show-users-btn pointer-hand"
                                                      data-session-id="{{ session.getId() }}"
                                                >
                                                    {{ session.getName() }}
                                                </span>
                                            </td>
                                            <td>
                                                {{ session.getCreationDate()|intl_date_format }}
                                            </td>
                                            <td class="text-center">
                                                <i class="fa fa-circle pointer-hand"
                                                   style="color: #D9534F"
                                                >
                                                </i>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'no_session'|trans({}, 'cursus') }}
                        </div>
                    {% endif %}
                    <span id="course-session-create-btn"
                          class="btn btn-default pointer-hand"
                          data-course-id="{{ course.getId() }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ 'create_session'|trans({}, 'cursus') }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="view-registration-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-registration-header" class="modal-header">
                </h3>
                <div id="view-registration-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain_name': 'cursus' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinecursus/js/courseManagement.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}