{% macro renderPager(pager, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_cursus_tool_course_index',
                'routeParams': {
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{ 
        path(
            'claro_cursus_tool_course_index',
            {
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder ,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ 
        parent() ~
        ' - ' ~
        'claroline_cursus_tool' | trans({}, 'tools') | striptags | raw ~
        ' - ' ~
        displayedWords['course']
    }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool'|trans({}, 'tools'),
                'href': path('claro_cursus_management_tool_menu')
            },
            {
                'name': displayedWords['course'],
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ displayedWords['course'] }}
            <a href="{{ path('claro_cursus_plugin_configure_form') }}"
               class="pull-right"
            >
                <i class="fa fa-cog"></i>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        {{ macros.flashBox() }}
        {% include 'ClarolineCursusBundle:Cursus:toolMenuIndexTabs.html.twig'%}
        
        <br>
        
        {% if search != '' %}
            <div class="alert alert-info">
                {{ 'results_for_search_on'|trans({}, 'platform') }} :
                "{{ search }}"
            </div>
        {% endif %}
        
        <a href="{{ path('claro_cursus_course_create_form') }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            {{ 'create_course'|trans({}, 'cursus') }}
        </a>
        
        {% if search != '' or courses|length > 0 %}
            <div class="input-group col-md-6 pull-right">
                <input class="form-control search-course"
                       type="text"
                       id="search-course-input"
                       placeholder="{{ 'search'|trans({}, 'platform') }}"
                       value="{{ search }}"
                       data-ordered-by="{{ orderedBy }}"
                       data-order="{{ order }}"
                       data-max="{{ max }}"
                >
                <span class="input-group-btn">
                    <button class="filter btn btn-default search-course-btn"
                            type="button"
                            id="search-course-btn"
                            data-ordered-by="{{ orderedBy }}"
                            data-order="{{ order }}"
                            data-max="{{ max }}"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <br>
            <br>
            <br>
        {% endif %}
        
        {% if courses|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            <a href="{{ sortUrl(search, 'title', order, max) }}">
                                {{ 'title'|trans({}, 'platform') }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ sortUrl(search, 'code', order, max) }}">
                                {{ 'code'|trans({}, 'platform') }}
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="{{ sortUrl(search, 'description', order, max) }}">
                                {{ 'description'|trans({}, 'platform') }}
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="{{ sortUrl(search, 'publicRegistration', order, max) }}">
                                <i class="fa fa-sign-in"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="{{ 'public_registration'|trans({}, 'cursus') }}"
                                >
                                </i>
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="{{ sortUrl(search, 'publicUnregistration', order, max) }}">
                                <i class="fa fa-sign-out"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="{{ 'public_unregistration'|trans({}, 'cursus') }}"
                                >
                                </i>
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="{{ sortUrl(search, 'registrationValidation', order, max) }}">
                                <i class="fa fa-check-square-o"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="{{ 'registration_validation'|trans({}, 'cursus') }}"
                                >
                                </i>
                            </a>
                        </th>
                        <th class="text-center">
                            {{ 'actions'|trans({}, 'platform') }}
                        </th>
                    </tr>
                    
                    {% for course in courses %}
                    {% set courseId = course.getId() %}
                    <tr>
                        <td>
                            <a href="{{ path('claro_cursus_course_management', {'course': courseId}) }}">
                                {{ course.getTitle() }}
                            </a>
                        </td>
                        <td>
                            {{ course.getCode() }}
                        </td>
                        <td class="text-center">
                            {% if course.getDescription() is not empty %}
                                <i class="fa fa-eye view-course-description-btn pointer-hand"
                                   data-course-id="{{ courseId }}"
                                   data-course-title="{{ course.getTitle() }}"
                                >
                                </i>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if course.getPublicRegistration() %}
                                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color: #D9534F"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if course.getPublicUnregistration() %}
                                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color: #D9534F"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if course.getRegistrationValidation() %}
                                <i class="fa fa-check-circle" style="color: #5CB85C"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color: #D9534F"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ path('claro_cursus_course_edit_form', {'course': courseId}) }}"
                               class="btn btn-default btn-sm"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="{{ 'edit_course'|trans({}, 'cursus') }}"
                            >
                                <i class="fa fa-edit"></i>
                            </a>
                            <span class="btn btn-danger btn-sm delete-course-btn"
                                  data-course-id="{{ courseId }}"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="{{ 'delete_course'|trans({}, 'cursus') }}"
                            >
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
            {% if courses.getNbPages() > 1 %}
                {{ renderPager(courses, search, orderedBy, order, max) }}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_course'|trans({}, 'cursus') }}
            </div>
        {% endif %}
    </div>

    <div id="view-course-description-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-course-description-header" class="modal-header">
                </h3>
                <div id="view-course-description-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="{{ 'close'|trans({}, 'platform') }}"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ url('bazinga_jstranslation_js', { 'domain': 'cursus' }) }}"
    >
    </script>
    <script src='{{ asset('bundles/clarolinecursus/js/cursusToolCourseIndex.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}