{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set title = 'tasks_scheduling'|trans({}, 'tools') %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'tasks_scheduling'|trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'tasks_scheduling'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'tasks_scheduling'|trans({}, 'tools') }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="page-container admin-task-tool-container"
             data-is-cron-configured="{{ isCronConfigured }}"
             data-tasks="{{ tasks | json_serialize('api_user_min') | raw | escape }}"
             data-total="{{ total }}"
        >
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-admin-task-tool.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-admin-task-tool.js') }}"></script>
{% endblock javascripts %}
