<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ "rename" | trans({}, "platform") }}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="page-name">{{ "select_page" | trans({}, "home") }}</label>
                </div>
                <div class="col-sm-8">
                    <input id="page-name" class="form-control" placeholder="{{ type }}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "cancel" | trans({}, "platform") }}</button>
            <button type="submit" class="btn btn-primary">{{ "rename" | trans({}, "platform") }}</button>
        </div>
    </div>
</div>
