<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ "content_size" | trans({}, "home")}}</h4>
        </div>
        <div class="modal-body clearfix" data-id="{{ id }}" data-type="{{ type }}">
            {% for i in 6..11 %}
                <div class="content-{{ i }}"><div class="panel panel-default{% if size == i %} active{% endif %}">{{ i }}</div></div>
                <div class="content-{{ 12-i }}"><div class="panel panel-default{% if size == 12-i %} active{% endif %}">{{ 12-i }}</div></div>
            {% endfor %}
                <div class="content-12"><div class="panel panel-default{% if size == 12 %} active{% endif %}">12</div></div>
        </div>
    </div>
</div>
