{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}
<div class="section" id="workspaces">
    <h4>{{ 'workspace'|trans({}, 'platform') }}</h4>
    <h5>
        <a href="{{ path('claro_ws_list_user_workspaces', {'userId': app.user.id, 'format':'page'})}}" id="link_owned_WS">{{ 'my_workspaces'|trans({}, 'platform') }} </a> |
        <a href="{{ path('claro_ws_list') }}" id="link_all_WS">{{ 'list_workspaces'|trans({}, 'platform') }}</a>
        {% if is_granted('ROLE_WS_CREATOR') %}
        |
        <a href="{{ path('claro_ws_show_creation_form') }}" id="link_create_WS_form">{{ 'create_workspace'|trans({}, 'platform') }}</a>
        {% endif %}
    </h5>
    {% block section_content %}
    {% endblock %}
</div>
{% endblock %}

