{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    <div class="row-fluid">
        <div class="span12">
            <h2 class="section-header">
                {{ workspace.getName() }}
                <span class="workspace-code">({{ workspace.getCode() }})</span>
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tool-list">
        <div class="workspace-left-toolbox">
            <div class="workspace-toolbox-item">
                <a href="{{ path('claro_workspace_home', {'workspaceId': workspace.getId()}) }}"
                   id="workspace_home_link"
                   rel="tooltip"
                   data-original-title="{{ 'home'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/home_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="{{ path('claro_workspace_resources', {'workspaceId': workspace.getId()}) }}"
                   id="workspace_resource_link"
                   rel="tooltip"
                   data-original-title="{{ 'resources'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/resource_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="{{ path('claro_workspace_tools_users_management', {'workspaceId': workspace.getId()}) }}"
                   id="link_user_management"
                   rel="tooltip"
                   data-original-title="{{ 'user_management'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/user_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="{{ path('claro_workspace_tools_groups_management', {'workspaceId': workspace.getId()}) }}"
                   id="link_group_management"
                   rel="tooltip"
                   data-original-title="{{ 'group_management'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/users_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="#"
                   rel="tooltip"
                   data-original-title="{{ 'desktop'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{asset('bundles/clarolinecore/images/workspaces/tools/chart_pie_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="#"
                   rel="tooltip"
                   data-original-title="{{ 'communication'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/comment_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                 <a href="{{ path('claro_workspace_properties', {'workspaceId': workspace.getId() }) }}"
                    id="link_workspace_parameters"
                    rel="tooltip"
                    data-original-title="{{ 'parameters'|trans({}, 'platform') }}"
                    data-placement="right">
                    <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/process_small.png') }}" />
                </a>
            </div>
            <div class="workspace-toolbox-item">
                <a href="#"
                   rel="tooltip"
                   data-original-title="{{ 'agenda'|trans({}, 'platform') }}"
                   data-placement="right">
                   <img src="{{ asset('bundles/clarolinecore/images/workspaces/tools/calendar_small.png') }}" />
                </a>
            </div>
        </div>
    </div>
    <div class="section-content">
         {% block section_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('[rel=tooltip]').tooltip();
    </script>
{% endblock %}