{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ workspace.getName() }}{% endblock %}

{% block sectionHeader %}
    &nbsp;
{% endblock %}

{% block content %}
    {% if not is_path_mode %}
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked">
                <li class="disabled">
                    <a><b>{{ workspace.getName() }} </b><em>({{ workspace.getCode() }})</em></a>
                </li>
                {% if is_granted('ROLE_WS_MANAGER_' ~ workspace.getId()) %}
                <li>

                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
                        <i class="icon-eye-open"></i>
                        {{ 'show_as'|trans({}, 'platform') }}
                        <i class="icon-chevron-down pull-right"></i>
                    </a>

                    <div id="collapse" class="accordion-body collapse">
                         {% if has_role_access_to_workspace('ROLE_ANONYMOUS', workspace.getId()) %}
                            <div class="accordion-inner">
                                <a href="?view_as=ROLE_ANONYMOUS_{{ workspace.getId() }}">{{ 'anonymous'|trans({}, 'platform') }}</a>
                            </div>
                        {% endif %}
                        {% for role in workspace.getRoles() %}
                            {% if has_role_access_to_workspace(role.getName(), workspace.getId()) %}
                                <div class="accordion-inner">
                                    <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}?view_as={{ role.getName() }}">{{ role.getTranslationKey()|trans({}, 'platform') }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% render controller("ClarolineCoreBundle:Workspace:renderToolList", {'workspaceId': workspace.getId()}) %}
            </ul>
        </div>
    {% endif %}

    <div class="span9 section-content border">
        {% block breadcrumb %}
            {% if _resource is defined %}
                {% render controller("ClarolineCoreBundle:Resource:renderBreadcrumb", {'resourceId': _resource.getId()}) %}
            {% endif %}
        {% endblock %}
        {% block section_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $('body').tooltip({
            selector: '[data-toggle=tooltip]'
        })

    </script>
{% endblock %}
