{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li><a href="{{ path('claro_workspace_user_workspace', {'userId': app.user.id})}}" id="link_owned_WS">{{ 'my_workspaces'|trans({}, 'platformTranslation') }} </a></li>
        <li><a href="{{ path('claro_workspace_list_all') }}" id="link_all_WS">{{ 'list_workspaces'|trans({}, 'platformTranslation') }}</a></li> 
        {% if is_granted('ROLE_WS_CREATOR') %}
        
        <li><a href="{{ path('claro_workspace_new_workspace') }}" id="link_create_WS_form">{{ 'create_workspace'|trans({}, 'platformTranslation') }}</a>
        {% endif %}
        </ul>
        </div><!--/.well -->
    </div>
    <div class="span10">
        <!--Body content-->
        TITLE: (workspace.layout.html.twig) WORKSPACE
        {% block section_content %}
        {% endblock %}
    </div> 
</div>
{% endblock %}