{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7">
            <h2 class="section-header">{{ workspace.getCode() ~' - '~ workspace.getName() }}</h2>
            <div>
                {% for user in workspace.getManagerRole().getUsers() %}
                    {{user.getLastName()}} {{user.getFirstName}}
                    {% if loop.last != true %}, {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="span5 workspace-top-toolbox">
            <br>
            <input id="generic-search-field" type="text" width="100px" class="search-query"/>
            <button class="btn btn-primary">Resource Picker</button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class=row-fluid">
        <div class="span1 workspace-left-toolbox">
            <div class="wrapper">
                <a href="{{ path('claro_workspace_home', {'workspaceId': workspace.getId()}) }}"
                   id="workspace_home_link">
                   <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/home.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="{{ path('claro_workspace_resources', {'workspaceId': workspace.getId()}) }}"
                   id="workspace_resource_link">
                   <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/resource.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="{{ path('claro_workspace_tools_users_management', {'workspaceId': workspace.getId()}) }}"
                id="link_user_management">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/user.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="{{ path('claro_workspace_tools_groups_management', {'workspaceId': workspace.getId()}) }}"
                id="link_group_management">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/users.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="#">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/chart_pie.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="#">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/comment.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="#">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/process.png')}}" />
                </a>
            </div>
            <div class="wrapper">
                <a href="#">
                    <img height="50px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/calendar.png')}}" />
                </a>
            </div>
        </div>
        <div class="span11">
             {% block section_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}