{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block section_content %}
<div id="workspaces">
<ul>
    {% for workspace in workspaces %}
        <li class="row_workspace" id="workspace_{{workspace.getId()}}" data-workspace_id={{workspace.getId()}}>
            {% set bool = 'false' %}
            {% for role in workspace.getWorkspaceRoles() %}
                {% if is_granted(role.getName()) %}
                    {% set bool = 'true' %}
                {% endif %}
            {% endfor %}
            {% if bool == 'true' %}
                <a href="{{path('claro_ws_show', {'workspaceId': workspace.getId()})}}" class="link_show" id="link_show_{{workspace.getId}}"</>
               {{ workspace.name}}</a>
            {% else %}
               {{ workspace.name}}
            {% endif %}
            {% if (is_granted(workspace.getManagerRole().getName())) %}|
                <a href = "{{path('claro_ws_delete', {'workspaceId': workspace.getId()})}}" class="link_delete" id="link_delete_{{workspace.getId}}"</>
                {{ 'delete'|trans({}, 'platform') }}</a>
            {% endif %}
            {% set bool = 'false' %}
            {% for role in workspace.getWorkspaceRoles() %}
                {% if app.user.hasRole(role.getName())==true %}
                    {% set bool = 'true' %}
                {% endif %}
            {% endfor %}
            {% if bool == 'true' %}
                <a href="{{path('claro_ws_remove_user', {'workspaceId': workspace.getId()})}}" class="link_unregistration" id="link_unregistration_{{workspace.getId()}}"> | {{ 'unregister'|trans({}, 'platform') }} </a>
            {% else %}
                <a href="{{path('claro_ws_add_user', {'workspaceId': workspace.getId()})}}" class="link_registration" id="link_registration_{{workspace.getId()}}"> | {{ 'register'|trans({}, 'platform') }}</a>
            {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}



