
{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {{ macros.sectionHeader('workspaces'|trans({}, 'platform')) }}
{% endblock %}

{% block content %}
    <div id="workspaces">
        <ul>
            {% for workspace in workspaces %}
            <li class="row-workspace">
                <a href="{{ path('claro_workspace_open',
                   {'workspaceId': workspace.getId(), 'toolName': 'home'}) }}"
                   id="link-home-{{ workspace.getId() }}">
                   {{ workspace.getName() }}
                   <span class="workspace-code">({{ workspace.getCode() }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



