
{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/workspace/list.js') }}' type="text/javascript"></script>
{% endblock %}

{% block sectionHeader %}
    {{ macros.sectionHeader('workspaces'|trans({}, 'platform')) }}
{% endblock %}

{% block content %}
    <div id="workspaces">
        <ul>
            {% for workspace in workspaces %}
            <li class="row-workspace">
                <a href="{{ path('claro_workspace_open',
                   {'workspaceId': workspace.getId(), 'toolName': 'home'}) }}"
                   id="link-home-{{ workspace.getId() }}">
                   {{ workspace.getName() }}
                </a>
                {% if is_granted('DELETE', workspace ) %}
                   <a href="#" data-workspace-id="{{workspace.getId()}}" class="link-delete-workspace" id="link-delete-{{workspace.getId}}">
                       {{ 'delete'|trans({}, 'platform') }}
                   </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



