{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/workspace/list.js') }}' type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h3 class="sub-section-header">{{ 'workspaces'|trans({}, 'platform') }}</h3>
    <div id="workspaces">
        <ul>
            {% for workspace in workspaces %}
                <li class="row-workspace" id="workspace-{{workspace.getId()}}">
                    {% set bool = 'false' %}
                    {% for role in workspace.getWorkspaceRoles() %}
                        {% if is_granted(role.getName()) %}
                            {% set bool = 'true' %}
                        {% endif %}
                    {% endfor %}
                    {% if bool == 'true' %}
                        <a href="{{path('claro_workspace_home', {'workspaceId': workspace.getId()})}}" class="link-home" id="link-home-{{workspace.getId}}">
                       {{ workspace.name}}</a>
                    {% else %}
                       {{ workspace.name}}
                    {% endif %}
                    {% if (is_granted(workspace.getManagerRole().getName())) %}|
                        <a href="#" data-workspace-id="{{workspace.getId()}}" class="link-delete-workspace" id="link-delete-{{workspace.getId}}">
                        {{ 'delete'|trans({}, 'platform') }}</a>
                    {% endif %}
                    {% set bool = 'false' %}
                    {% for role in workspace.getWorkspaceRoles() %}
                        {% if app.user.hasRole(role.getName())==true %}
                            {% set bool = 'true' %}
                        {% endif %}
                    {% endfor %}
                    {% if bool == 'true' %}
                        <a href="{{path('claro_workspace_delete_user', {'workspaceId': workspace.getId(), 'userId': app.user.id})}}" class="link-unregistration" id="link-unregistration-{{workspace.getId()}}"> | {{ 'unregister'|trans({}, 'platform') }} </a>
                    {% else %}
                        <a href="{{path('claro_workspace_add_user', {'workspaceId': workspace.getId(), 'userId': app.user.id})}}" class="link-registration" id="link-registration-{{workspace.getId()}}"> | {{ 'register'|trans({}, 'platform') }}</a>
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



