<div class="span3">
    <ul class="nav nav-tabs nav-stacked">
        <li class="disabled">
            <a><b>{{ workspace.getName() }} </b><em>({{ workspace.getCode() }})</em></a>
        </li>
        {% if is_granted('ROLE_WS_MANAGER_' ~ workspace.getGuid()) %}
        <li>

            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse">
                <i class="icon-eye-open"></i>
                {{ 'show_as'|trans({}, 'platform') }}
                <i class="icon-chevron-down pull-right"></i>
            </a>
            <ul id="collapse" class="nav nav-tabs nav-stacked collapse">
                {% if has_role_access_to_workspace('ROLE_ANONYMOUS', workspace.getId()) %}
                    <li>
                        <a href="?view_as=ROLE_ANONYMOUS_{{ workspace.getId() }}">
                            <i class="icon-eye-open"></i>
                            {{ 'anonymous'|trans({}, 'platform') }}
                        </a>
                    </li>
                {% endif %}
                {% for role in workspace.getRoles() %}
                    {% if has_role_access_to_workspace(role.getName(), workspace.getId()) %}
                        <li>
                            <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}?view_as={{ role.getName() }}">
                                <i class="icon-eye-open"></i>
                                {{ role.getTranslationKey()|trans({}, 'platform') }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% for orderedTool in orderedTools %}
        <li{{ path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': orderedTool.getTool().getName()}) | compareRoute | raw }}>
            <a href="{{ path('claro_workspace_open_tool', {'workspaceId': workspace.getId(), 'toolName': orderedTool.getTool().getName()}) }}">
                <i class="{{ orderedTool.getTool().getClass() }}"></i>
                <span>{{ orderedTool.getName() }}</span>
                <i class="icon-chevron-right pull-right"></i>
            </a>
            </li>
        {% endfor %}
    </ul>
</div>
