{% extends 'ClarolineCoreBundle:Administration:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/js/jquery/plugin/dynatree/src/skin/ui.dynatree.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/js/jquery/plugin/contextMenu-medialize/src/jquery.contextMenu.css') }}'>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
      "@ClarolineCoreBundle/Resources/views/Templates/move_resource_form.twig"
      "@ClarolineCoreBundle/Resources/views/Templates/resource_filter.twig"
       filter="twig_js"
    %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src='{{ asset('bundles/clarolinecore/js/jquery/plugin/dynatree/src/jquery.dynatree.js') }}' type="text/javascript"></script>
    <script src='{{ asset('bundles/clarolinecore/js/jquery/plugin/contextMenu-medialize/src/jquery.contextMenu.js')}}'></script>
    <script src='{{ asset('bundles/clarolinecore/js/resource/resource_manager.jquery.js') }}' type="text/javascript"></script>
    <script src='{{ asset('bundles/clarolinecore/js/workspace/workspace_show.js')}}'></script>
{% endblock %}

{% block section_content %}
<div id='jsdata' data-ws-id='{{workspace.getId()}}'></div>
<div id="div_WS_show">
{{ 'workspace'|trans({}, 'platform') }}: {{workspace.getName()}}
{% if is_granted(workspace.getManagerRole().getName()) %}
    | <a href ="{{ path('claro_ws_users_ws', {'workspaceId':workspace.getId()}) }}" id="link_workspace_users"> {{ 'add_user'|trans({}, 'platform') }} </a>|
{% endif %}
    <div id="filepicker"></div>
    <div id="currentWorkspaceTree"></div>
</div>
{% endblock %}