{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block section_content %}
{{workspace.getName()}}:
PROPERTIES
<form>
    <table>
        <thead>
            <tr>
                <th> roles </th>
                {% for key, mask in masks %}
                    <th> {{mask}} </th>
                {% endfor %}
            <tr>
        </thead>
        <tbody>
            {% for role in workspace.getWorkspaceRoles() %}
            <tr>
                <td>{{role.getTranslationKey()}}</td>
                {% for mask in masks %}
                    {% for key, permission in role.getPermissions %}
                        {% if permission == mask %}
                            <td><input type='checkbox' checked> {{mask}}</input></td>
                        {% else %}
                            <td><input type='checkbox'> {{mask}}</input></td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type='submit'>
</form>
{% endblock %}