{% extends 'ClarolineCoreBundle:Workspace:base_template.html.twig' %}
{% block section_content %}

<script>
    
    require(["claroline/workspace/workspace_user_list", "dojo/domReady!"], function(workspaceController){
        workspaceController.init({{workspace.getId()}});
        });
        
    require(["dijit/form/Button", "dojo/domReady"]);
     
</script>

{{ 'registered_users'|trans({}, 'platformTranslation') }}
{{workspace.getName()}}

<button id="show_user_dialog_button">{{ 'add_user'|trans({}, 'platformTranslation') }}</button>
<button>{{ 'add_group'|trans({}, 'platformTranslation') }}</button>

<ul id="workspace_users">
    {% for user in users %}
        <li class="row_user" id="user_{{user.getId()}}" >
            {{user.getUsername()}}
            <a href="{{path('claro_workspace_delete_user_workspace', {'userId':user.getId(), 'workspaceId':workspace.getId() })}}" id="link_delete_user_{{user.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>    
    {% endfor %}
</ul>

{{'registered_groups'|trans({},'platformTranslation')}}
<ul id="workspace_groups">
    {% for group in groups %}
        <li class="row_group" id="group_{{group.getId()}}">
 <!--           <a href="todo">{{group.getName()}}</a> -->
           |<a href ="{{path('claro_workspace_delete_group_workspace', {'groupId':group.getId(), 'workspaceId':workspace.getId()})}}" id="link_delete_group_{{group.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}