{% extends 'ClarolineCoreBundle:Workspace:base_template.html.twig' %}
{% block section_content %}
{{ 'registered_users'|trans({}, 'platformTranslation') }}
{{workspace.getName()}}

<input type="button" id="button_user" value="{{ 'add_user'|trans({}, 'platformTranslation') }}" ></input>
<input type="button" id="button_group" value="{{ 'add_group'|trans({}, 'platformTranslation') }}" ></input>

<ul id="workspace_users">
    {% for user in users %}
        <li class="row_user" id="user_{{user.getId()}}" >
            {{user.getUsername()}}
            <a href="{{path('claro_workspace_delete_user_workspace', {'userId':user.getId(), 'workspaceId':workspace.getId() })}}" id="link_delete_user_{{user.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>    
    {% endfor %}
</ul>

{{'registered_groups'|trans({},'platformTranslation')}}
<ul id="workspace_groups">
    {% for group in groups %}
        <li class="row_group" id="group_{{group.getId()}}">
            <a href="todo">{{group.getName()}}</a>
           |<a href ="{{path('claro_workspace_delete_group_workspace', {'groupId':group.getId(), 'workspaceId':workspace.getId()})}}" id="link_delete_group_{{group.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>
    {% endfor %}
</ul>
<!------ TODO : CSS style for AJAX boxes --------------------------------------->
<!----------- user list window ------------------------------------------------->
 <div id="AJAX_list_user_window" title="user_list">
		<div id="AJAX_list_user_window_handle">			
			{{ 'list_users'|trans({}, 'platformTranslation') }}
            <a href="#" id="AJAX_user_close">[x]</a>
		</div>
        <div id="AJAX_list_user_window_content">
            <div id="AJAX_user_search_div">
                <a href="todo">ADVANCED SEARCH</a><br>
                <input type="text" id="AJAX_search_user_txt" value="search">
                <input type="button" id="AJAX_search_user_button" value ="search"><br>
            </div>
            <form id="AJAX_list_user_form" >
                <div id="AJAX_user_checkboxes" style="overflow-y:scroll;">
                    <table id="AJAX_user_table_checkboxes"></table>    
                </div>
                <input type="button" id="AJAX_add_next_users" value="add next"><div class="loading">load...</div>          
            </form>
        </div>
</div>
<!----------- end list --------------------------------------------------------->

<!---------- group list window ------------------------------------------------->
 <div id="AJAX_list_group_window" title="group_list">
		<div id="AJAX_list_group_window_handle">			
			{{ 'list_groups'|trans({}, 'platformTranslation') }}
            <a href="#" id="AJAX_group_close">[x]</a>
		</div>
            <div id="AJAX_list_group_window_content">
                <div id="AJAX_group_search_div">
                    <input type="text" id="AJAX_search_group_txt" value="search by name">
                    <input type="button" id="AJAX_search_group_button" value ="search name"><br>
                </div>
            <form id="AJAX_list_group_form" >
                <div id="AJAX_group_checkboxes" style="overflow-y:scroll;">
                    <table id="AJAX_group_table_checkboxes"></table>
                </div>    
                <input type="button" id="AJAX_add_next_groups" value="add next"> 
                <div class="loading">load...</div> 
            </form>       
        </div>  
</div>

<!------------ end list -------------------------------------------------------->

<script language="Javascript" src="{{ asset('bundles/clarolinecore/js/jquery/ui/jquery.ui.sortable.js') }}" ></script>
<script language="Javascript" src="{{ asset('bundles/clarolinecore/js/jquery/ui/jquery.ui.core.js') }}" ></script>
<script language="Javascript" src="{{ asset('bundles/clarolinecore/js/jquery/ui/jquery.ui.widget.js') }}" ></script>
<script language="Javascript" src="{{ asset('bundles/clarolinecore/js/jquery/ui/jquery.ui.mouse.js') }}" ></script>
<script language="Javascript" src="{{ asset('bundles/clarolinecore/js/jquery/ui/jquery.ui.draggable.js') }}" ></script>
<script language="Javascript">
    
var nbIterationUsers=0;   
var nbIterationGroups=0; 
    
$(document).ready(function() 
{ 
    $(".loading").hide();
    $("#AJAX_list_user_window").draggable();		
    $("#AJAX_list_user_window").hide();
    $("#AJAX_list_group_window").draggable();		
    $("#AJAX_list_group_window").hide();
    
    $('#button_user').click(function()
	{
		$("#AJAX_list_user_window").show();
	});
    
    $('#button_group').click(function()
	{
		$("#AJAX_list_group_window").show();
	});
    
    $('#AJAX_user_close').click(function()
	{
		$("#AJAX_list_user_window").hide();
	});
    
    $('#AJAX_group_close').click(function()
	{
		$("#AJAX_list_group_window").hide();
	});
    
    $('#AJAX_user_checkboxes').on("click", ".checkbox_user_name", function(event){
        var userId = $(this).val();
        if($(this).is(':checked')) 
        {
            setOnAddUserChkBox(userId);
        }
        else
        {
            setOnRemoveUserChkBox(userId);  
        }
    }); 
    
    $('#AJAX_group_checkboxes').on("click", ".checkbox_group_name", function(event){
        var groupId = $(this).val();
        if($(this).is(':checked')) 
        {
            setOnAddGroupChkBox(groupId);
        }
        else
        {
            setOnRemoveGroupChkBox(groupId);  
        }
    });  
});  

$("#AJAX_add_next_users").click(function(){
    $(".loading").show();
    $.ajax({
        type: "POST",
        url: Routing.generate('claro_workspace_ajax_get_add_users_workspace', { "id":{{workspace.getId()}}, "nbIteration":nbIterationUsers}),
        cache: false,
        dataType: 'html',
        success: function(data){
            if(nbIterationUsers == 0)
            {
                $('.checkbox_user_name').remove();
                $('#AJAX_user_checkboxes').empty();               
            }
            nbIterationUsers++;
            $('#AJAX_user_checkboxes').append(data);
            $(".loading").hide(); 
        }, 
        error: function(xhr) {
            alert(xhr.status);
        }
      }); 
});

$("#AJAX_add_next_groups").click(function(){
    $(".loading").show();
    $.ajax({
        type: "POST",
        url: Routing.generate('claro_workspace_ajax_get_add_groups_workspace', { "id":{{workspace.getId()}}, "nbIteration":nbIterationGroups}),
        cache: false,
        dataType: 'html',
        success: function(data){
            if(nbIterationGroups == 0)
            {
                $('.checkbox_group_name').remove();
                $('#AJAX_group_checkboxes').empty();               
            }
            nbIterationGroups++;
            $('#AJAX_group_checkboxes').append(data);
            $(".loading").hide(); 
        }, 
        error: function(xhr) {
            alert(xhr.status);
        }
      });    
});

$('#AJAX_search_user_button').click(function(){
    $('.loading').show();
    var search = document.getElementById('AJAX_search_user_txt').value;
    nbIterationUsers=0;
    $.ajax({
        type: "POST",
        url: Routing.generate('claro_workspace_ajax_generic_user_search_workspace', { 'search': search, 'id':{{workspace.getId()}} }),
        cache: false,
        dataType: 'html',
        success: function(data){
            $('.checkbox_user_name').remove();
            $('#AJAX_user_checkboxes').empty();
            $('#AJAX_user_checkboxes').append(data);
            $(".loading").hide(); 
            },
        error: function(xhr){
            alert(xhr.status);
            }
    });
});

$('#AJAX_search_group_button').click(function(){
    $('.loading').show();
    var search = document.getElementById('AJAX_search_group_txt').value;
    nbIterationGroups=0;
    $.ajax({
        type: "POST",
        url: Routing.generate('claro_workspace_ajax_generic_group_search_workspace', { 'search': search, 'id':{{workspace.getId()}} }),
        cache: false,
        dataType: 'html',
        success: function(data){
            $('.checkbox_group_name').remove();
            $('#AJAX_group_checkboxes').empty();
            $('#AJAX_group_checkboxes').append(data);
            $(".loading").hide(); 
            },
        error: function(xhr){
            alert(xhr.status);
            }
    });
});
            
function setOnAddUserChkBox(userId)
{
     $.ajax({
         type:"POST",
         url: Routing.generate('claro_workspace_ajax_add_user_workspace', {"userId":userId, "workspaceId" : {{workspace.getId()}}}),
         cache: false,
         dataType: 'html',
         success: function(data){
             $('#workspace_users').append(data);
         },
         error: function(xhr){
                 alert(xhr.status);
             }
      });
}

function setOnRemoveUserChkBox(userId)
{
    $.ajax({
        type:"POST",
        url: Routing.generate('claro_workspace_ajax_delete_user_workspace', {"userId":userId, "workspaceId" : {{workspace.getId()}}}),
        cache: false,
        dataType: 'html',
        success: function(data){
            $("#user_"+userId).remove();
            },
        error: function(xhr){
            alert(xhr.status);
            }
    });       
}   

function setOnAddGroupChkBox(groupId)
{
     $.ajax({
         type:"POST",
         url: Routing.generate('claro_workspace_ajax_add_group_workspace', {"groupId":groupId, "workspaceId" : {{workspace.getId()}}}),
         cache: false,
         dataType: 'html',
         success: function(data){
             $('#workspace_groups').append(data);
         },
         error: function(xhr){
                 alert(xhr.status);
             }
      });
}

function setOnRemoveGroupChkBox(groupId)
{
    $.ajax({
        type:"POST",
        url: Routing.generate('claro_workspace_ajax_delete_group_workspace', {"groupId":groupId, "workspaceId" : {{workspace.getId()}}}),
        cache: false,
        dataType: 'html',
        success: function(data){
            $("#group_"+groupId).remove();
            },
        error: function(xhr){
            alert(xhr.status);
            }
    });       
}
</script>
{% endblock %}