{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script src='{{ asset('bundles/clarolinecore/js/workspace/workspace_user_list.js') }}' type="text/javascript"></script>
{% endblock %}
{% block section_content %}
 <a href="{{path('claro_workspace_show_workspace', {'id': workspace.getId()})}}" class="link_show" id="link_show_{{workspace.getId}}">{{workspace.getName()}}</a>
{{ 'registered_users'|trans({}, 'platformTranslation') }}
<!-- twig variables are here in order to make javascript happy -->
<div id="twig_attributes" 
     data-workspaceId="{{workspace.getId()}}" 
     data-translation.delete="{{ 'delete'|trans({}, 'platformTranslation') }}"
/>

<button id="show_user_dialog_button">{{ 'add_user'|trans({}, 'platformTranslation') }}</button>
<button id="show_group_dialog_button">{{ 'add_group'|trans({}, 'platformTranslation') }}</button>

<ul id="workspace_users">
    {% for user in users %}
        <li class="row_user" id="user_{{user.getId()}}" >
            {{user.getUsername()}}
            <a href="{{path('claro_workspace_delete_user_workspace', {'userId':user.getId(), 'workspaceId':workspace.getId() })}}" id="link_delete_user_{{user.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>    
    {% endfor %}
</ul>

{{'registered_groups'|trans({},'platformTranslation')}}
<ul id="workspace_groups">
    {% for group in groups %}
        <li class="row_group" id="group_{{group.getId()}}">
 <!--           <a href="todo">{{group.getName()}}</a> -->
           |<a href ="{{path('claro_workspace_delete_group_workspace', {'groupId':group.getId(), 'workspaceId':workspace.getId()})}}" id="link_delete_group_{{group.getId()}}">{{ 'delete'|trans({}, 'platformTranslation') }}</a>
        </li>
    {% endfor %}
</ul>

<!-- dialog boxes ------------------------------------------------------------------->

<div id="user_dialog" title="{{ 'list_users'|trans({}, 'platformTranslation') }}">
    <div id="user_search_div">
        <input type="text" id="search_user_txt" value="">
        <input type="button" id="search_user_button" value ="search"><br>
    </div>
    <form id="list_user_form" >
        <div id="user_checkboxes">
            <table id="user_table_checkboxes">
                <thead>
                    <th id="c0" scope="col"></th>
                    <th id="c1" scope="col">{{ 'username'|trans({}, 'platformTranslation') }}</th>
                    <th id="c2" scope="col">{{ 'last_name'|trans({}, 'platformTranslation') }}</th>
                    <th id="c3" scope="col">{{ 'first_name'|trans({}, 'platformTranslation') }}</th>
                </thead>
                <tbody id="user_table_checkboxes_body">
                </tbody>
            </table>
        </div>
        <img src="{{ asset('bundles/clarolinecore/images/loading.gif') }}" id="user_loading" class="loading"/><br/>
        <input type="button" id="add_next_users" value="add next">
    </form>
</div>

<div id="group_dialog" title="{{ 'list_groups'|trans({}, 'platformTranslation') }}">
    <div id="group_search_div">
        <input type="text" id="search_group_txt" value="">
        <input type="button" id="search_group_button" value ="search name"><br>
    </div>
    <form id="list_group_form" >
        <div id="group_checkboxes">
            <table id="group_table_checkboxes"></table>
        </div>
        <img src="{{ asset('bundles/clarolinecore/images/loading.gif') }}" id="group_loading" class="loading"/><br/>
        <input type="button" id="add_next_groups" value="add next">
    </form>
</div>
{% endblock %}