{% extends 'ClarolineCoreBundle:Workspace:base_template.html.twig' %}
{% block section_content %}
</script>    
    <div id="div_WS_show">
    {{workspace.getName()}}: {{ 'workspace'|trans({}, 'platformTranslation') }}
    {% if is_granted(workspace.getManagerRole().getName()) %}
        | <a href ="{{path('claro_workspace_show_user_list_workspace', {'id':workspace.getId()})}}" id="link_workspace_users"> {{ 'add_user'|trans({}, 'platformTranslation') }} </a>|
          <button id="file_picker_button">file</button>
    {% endif %}
          <div id='div_resource'>
              {% for resource in workspace.getResources() %}
                  <div id="resource_row"> <div class="row_resource"><a href="{{path('claro_resource_view', {'id':resource.getId()})}}" id="link_resource_{{resource.getId()}}" class="link_resource_view">{{resource.getName()}}</a> <a href="{{path('ClarolineCoreBundle_resource_removeFromWorkspace',{'idResource':resource.getId(), 'idWorkspace':workspace.getId()})}}"> delete </a>
              {% endfor %}
          </div>
    </div>
{% endblock %}