{% macro renderPager(pager, workspaceTagId) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_workspace_list_pager',
                'routeParams': {'workspaceTagId': workspaceTagId}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% set nbPages = relations.getNbPages() %}
{% if nbPages > 1 %}
{{ renderPager(relations, workspaceTagId) }}
{% endif %}
<ul>
    {% for relation in relations.currentPageResults() %}
    {% set workspace = relation.getWorkspace() %}
    <li class="row-workspace row-workspace-id-{{ workspace.getId() }}">
        {% set granted = has_access_to_workspace(workspace.getId(), app.security.getToken()) %}
        {% if granted == true %}
        <a href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId(), 'toolName': 'home'}) }}"
           id="link-home-{{ workspace.getId() }}"
        >
        {% endif %}
        <i class="icon-book"></i>
        {{ workspace.getName() }}
        <span class="workspace-code">({{ workspace.getCode() }})</span>
        {% if granted %}</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% if nbPages > 1 %}
{{ renderPager(relations, workspaceTagId) }}
{% endif %}