{% extends 'ClarolineCoreBundle:Workspace:base_template.html.twig' %}
{% block section_content %}
<div id="workspaces">
<ul>
    {% for workspace in workspaces %}
        <li class="row_workspace" id="workspace_{{workspace.getId()}}" >
            {% set bool = 'false' %}
            {% for role in workspace.getWorkspaceRoles() %}
                {% if app.user.hasRole(role.getName()) == true %}
                    {% set bool = 'true' %}          
                {% endif %}                
            {% endfor %}
            {% if bool == 'true' %}
                <a href="{{path('claro_workspace_show_workspace', {'id': workspace.getId()})}}" class="link_show" id="link_show_{{workspace.getId}}"</>
               {{ workspace.name}}</a>
            {% else %}
               {{ workspace.name}}
            {% endif %}
            {% if (is_granted(workspace.getManagerRole().getName())) %}|
                <a href = "{{path('claro_workspace_delete_workspace', {'id': workspace.getId()})}}" class="link_delete" id="link_delete_{{workspace.getId}}"</>
                {{ 'delete'|trans({}, 'platformTranslation') }}</a>
            {% endif %}
            {% set bool = 'false' %}
            {% for role in workspace.getWorkspaceRoles() %}
                {% if app.user.hasRole(role.getName())==true %}
                    {% set bool = 'true' %}          
                {% endif %}                
            {% endfor %}
            {% if bool == 'true' %}
                <a href="{{path('claro_workspace_unregister_workspace', {'id': workspace.getId()})}}" class="link_unregistration" id="link_unregistration"> | {{ 'unregister'|trans({}, 'platformTranslation') }} </a> 
            {% else %}
                <a href="{{path('claro_workspace_register_workspace', {'id': workspace.getId()})}}" class="link_registration" id="link_registration"> | {{ 'register'|trans({}, 'platformTranslation') }}</a> 
            {% endif %}         
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}



