{% extends 'InnovaPathBundle::Player/main.html.twig' %}


{% block section_content %}
	<div class='panel panel-default' id="resource-container">
		<div class="panel-heading">
            <h3 class="panel-title">
            	{{ activity.getResourceNode().getName() }} -  <a class="pull-right" href="{{ path('innova_step_show', {workspaceId: workspace.id, pathId: path.resourceNode.id, stepId : step.resourceNode.id }) }}"><span class="icon-reply"></span> Revenir sur {{step.resourceNode.name}}</a>
            </h3>
        </div>
        <div class="panel-body" id="text_content">
		    <iframe height="500px" class="col-md-3" src="{{ path('claro_activity_left_menu', {'activity':activity.getId()}) }}" id="left-frame"></iframe>
		    <iframe height="500px" class="col-md-6" src="{{ path('claro_activity_show_instructions', {'activity':activity.getId()}) }}" id="right-frame"></iframe>

		</div>
	</div>
{% endblock %}