{% extends "UJMExoBundle:Player:layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <div class="exercise-player-container" data-ng-app="ExercisePlayerEditorApp" data-ng-cloak="">
        <player-edit class="player-container" data-player="{{ _resource | json_encode() }}"></player-edit>
        <page-edit class="page-container" data-pages="{{ pages | json_encode() }}"></page-edit>
    </div>
{% endblock %}


{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}

    {% javascripts debug=false filter='jsmin' output='vendor/ujmexo/ujm_exo_player_editor.js'
         
        '@UJMExoBundle/Resources/public/js/player/Player/*'
        '@UJMExoBundle/Resources/public/js/player/Player/Controllers/*'
        '@UJMExoBundle/Resources/public/js/player/Player/Directives/*'
        '@UJMExoBundle/Resources/public/js/player/Player/Services/*'

        '@UJMExoBundle/Resources/public/js/player/Page/*'
        '@UJMExoBundle/Resources/public/js/player/Page/Controllers/*'
        '@UJMExoBundle/Resources/public/js/player/Page/Directives/*'
        '@UJMExoBundle/Resources/public/js/player/Page/Services/*'

        '@UJMExoBundle/Resources/public/js/player/editor.module.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

   
{% endblock %}


