{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/app.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/step-edit.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/navbar.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/player.css') }}"/>
{% endblock %}

{% block content %}
    <div ng-cloak class="col-md-12 section-content" ng-app="playerApp">
        <div class="panel panel-default panel-path-editor" ng-controller="mainCtrl">
            <div class="panel-heading">
                <h3 class="panel-title" id="player-header">
                    Parcours : {{ path.resourceNode.name }}
                </h3>
                <div class="editor-buttons">
                    <a href="{{ path('claro_workspace_open_tool', {workspaceId: workspace.id, toolName: 'innova_path'}) }}" class="btn btn-danger btn-sm" tooltip="Back to list"><span class="icon-reply"></span></a>
                </div>
            </div>

            <div ng-view class="panel-body">
                <div class="row" id="step-map">
                    <div id="step-map-body" data-status="closed">
                        <table id="smallTree" class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        {% if step.parent.resourceNode.id %}
                                            <a class="btn btn-default btn-block btn-lg" href="{{ path('innova_step_show', {workspaceId: workspace.id, pathId: path.resourceNode.id, stepId : step.parent.resourceNode.id }) }}">Revenir sur <strong>{{step.parent.resourceNode.name}}</strong> <span class="icon-arrow-left"></span></a> 
                                        {% else %}
                                            <a class="btn btn-success btn-block btn-lg" disabled=disabled href="#">Début du parcours</a>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-lg btn-block" disabled=disabled href="{{ path('innova_step_show', {workspaceId: workspace.id, pathId: path.resourceNode.id, stepId : step.resourceNode.id }) }}">Position courante : <strong>{{step.resourceNode.name}}</strong></a>
                                    </td>
                                    <td>

                                    {% if children %}
                                        <div >
                                            {% for child in children %}
                                                <div class="container">
                                                   <a class="btn btn-default btn-block btn-lg" href="{{ path('innova_step_show', {workspaceId: workspace.id, pathId: path.resourceNode.id, stepId : child.resourceNode.id }) }}"><span class="icon-arrow-right"></span> {{child.resourceNode.name}}</a>
                                                </div>
                                             {% endfor %}
                                        </div>
                                    {% else %}
                                            <a class="btn btn-danger pull-right btn-lg btn-block" disabled=disabled href="#">Fin du parcours</a>
                                    {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="step-map-buttons">
                        <span id="step-map-open">
                            <a class="btn btn-default icon-chevron-down step-map-button"></a>
                        </span>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-md-3">
                        <h3><i class="icon-briefcase"></i> Ressources ({{ resources|length }})</h3>
                        <ul>
                        {% for resource in resources %}
                            {% if resource.id %}
                                <li> 
                                     <a target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path">{{ resource.name }}</a>
                                </li>

                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">{{ step.resourceNode.name }}</h1>
                        <p>Durée :  {{ step.duration|date('H:i:s') }} </p>
                        <p>Consigne du step: {{ step.instructions }}</p>
                        <p>Cliquer sur la ressource ou l'outil de votre choix dans l'une des zones latérales</p>
                        
                        {% block section_content %}
                        {% endblock %}

                    </div>
                    <div class="col-md-3">
                        <h3><i class="icon-wrench"></i> Outils</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    {# Load Angular Libraries #}
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-cookies.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-loader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularjs/js/angular-sanitize.min.js') }}"></script>
    
    {# Angular UI #}
    <script type="text/javascript" src="{{ asset('bundles/innovaangularui/js/ui-bootstrap-0.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularui/js/ui-bootstrap-tpls-0.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovaangularpageslide/js/angular-pageslide-directive.js') }}"></script>
    
   
    {# Main #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/Controller/MainCtrl.js') }}"></script>
    
    {# Help  #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Help/Controller/HelpModalCtrl.js') }}"></script>
    
    {# Resources #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Resource/Factory/ResourceFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Resource/Controller/ResourceModalCtrl.js') }}"></script>
    
    {# Templates #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Factory/TemplateFactory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Controller/TemplateCtrl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Template/Controller/TemplateModalCtrl.js') }}"></script>
    
    {# Global APP #}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/PlayerApp.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/player.js') }}"></script>

    <script type="text/javascript">
        // TODO : find more beautiful
        playerApp.pathId = "{{ path.id }}";
        playerApp.workspaceId = "{{ workspace.id }}";
        playerApp.templateRoute = "{{ asset('bundles/innovapath/js/Player/Partial/') }}";
    </script>
{% endblock %}