{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/main.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/breadcrumbs.css') }}"/>
	<link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/petit-poucet.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/resources.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/current-step.css') }}"/>
{% endblock %}

{% block content %}
<div class="path-player">
    <div class="breadcrumbs">
        {{ render(controller('innova.controller.path_player:displayBreadcrumbsAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep })) }}
    </div>
{#
    <div class="tree-browser">
        {{ render(controller('innova.controller.path_player:displayTreeBrowserAction', { 'path': path, 'currentStep': currentStep } )) }}
    </div>
#}

    <div class="content row">
        <div class="col-md-3">
            <div class="resources">
                {{ render(controller('innova.controller.path_player:displayResourcesAction', { 'currentStep': currentStep } )) }}
            </div>
            <div class="petit-poucet">
                {{ render(controller('innova.controller.path_player:displayPetitPoucetAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep })) }}
            </div>
        </div>
        
        <div class="current-step col-md-9">
            {{ render(controller('innova.controller.path_player:displayCurrentStepAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep } )) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/squares-browser.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/resources.js') }}"></script>
{% endblock %}