{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {# Path Player styles #}
    {% stylesheets debug=false filter='lessphp, cssmin' output='vendor/innovapath/player.css'
        '@InnovaPathBundle/Resources/public/less/Player/app.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="path-player">
        {# Summary #}
        <div id="full-tree" class="modal fade">
            {% include 'InnovaPathBundle:Player:components/tree-browser.html.twig' with { 'path': path, 'currentStep': currentStep, 'autoDisplayEnabled': autoDisplayEnabled } %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-left nav-buttons">
                    {# Tree view #}
                    <a class="tree-browser btn btn-default nav-button" href="#" data-toggle="modal" data-target="#full-tree" rel="tooltip" data-original-title="{{ 'full_tree' | trans({}, 'path_player') }}">
                        <span class="fa fa-list"></span>
                    </a>
                </div>

                {# Breadcrumb #}
                {% if _resource.hasBreadcrumbs() %}
                <div class="breadcrumbs">
                    {% include 'InnovaPathBundle:Player:components/breadcrumbs.html.twig' with { 'path': path, 'currentStep': currentStep, 'roadBack': roadBack } %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="content row">
            {# Resources #}
            <div class="col-md-12">
                {% include 'InnovaPathBundle:Player:components/resources.html.twig' with { currentStep: currentStep } %}
            </div>

            {# Step content #}
            <div class="col-md-12">
                {% include 'InnovaPathBundle:Player:components/current-step.html.twig' with { 'path': path, 'currentStep': currentStep } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Adapt size for the IFrame which contains the primary resource #}
    {% if currentStep.activity.primaryResource %}
        <script type="text/javascript">
            /*$(document).ready(function() {
                // Enable tooltip
                $('*').tooltip({ placement: 'top' });

                var $frame = $('iframe#{{ currentStep.activity.primaryResource.id }}');

                // Resize IFrame on load
                $frame.load(function () {
                    resizeIframe($(this));

                    // Observe DOM modifications to resize IFrame to fit content
                    var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
                    var observer = new MutationObserver(function (mutations, observer) {
                        resizeIframe($frame);
                    });

                    observer.observe($frame.get(0).contentDocument.body, {
                        subtree: true,
                        childList: true
                    });

                    $frame.on('resize', function () {
                        resizeIframe($frame);
                    });
                }).attr('src', '{{ path('claro_resource_open', {'node': currentStep.activity.primaryResource.id, 'resourceType': currentStep.activity.primaryResource.resourceType.name }) }}');

                // Resize IFrame on window resize
                $(window).on('resize', function () {
                    resizeIframe($frame);
                });
            });

            function resizeIframe(frame) {
                var height = frame.contents().height();
                frame.animate({ height: height }, 100, function() {});
            }*/
        </script>
    {% endif %}

    <script type="text/javascript">
        /*$(document).ready(function() {
            {#{% if autoDisplaySummary %}#}
            $('#full-tree').modal('show');
            {#{% endif %}#}

            $('#do-not-display-anymore').on('change', function () {
                var isChecked = $(this).is(':checked');

                $.ajax({
                    url: Routing.generate('innova_path_player_toggle_summary', {
                        pathId      : {{ _resource.id }},
                        disabled    : isChecked ? 1 : 0
                    }),
                    method: 'PUT'
                });
            });
        });*/
    </script>
{% endblock %}
