{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/main.css') }}"/>
{% endblock %}

{% block content %}
    <div class="path-player">
        <div class="breadcrumbs">
            {{ render(controller('innova.controller.path_player:displayBreadcrumbsAction', { 'workspace': workspace, 'path': path })) }}
        </div>
        
        <div class="squares-browser">
            {{ render(controller('innova.controller.path_player:displaySquaresBrowserAction', {'path': path, 'currentStep': currentStep} )) }}
        </div>
        
        <div class="current-step">
            {{ render(controller('innova.controller.path_player:displayCurrentStepAction', {'currentStep': currentStep})) }}
        </div>
    </div>
{% endblock %}