{% extends "InnovaPathBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/main.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/breadcrumbs.css') }}"/>
	<link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/petit-poucet.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/resources.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/tree-browser.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/innovapath/css/Player/current-step.css') }}"/>
{% endblock %}

{% block content %}
{% import 'InnovaPathBundle::Player/components/macros.html.twig' as macros %}

<div id="path-main-container" class="path-player">
    {# Edit #}
    {% include 'InnovaPathBundle::Player/components/edit-step.html.twig' %}

    <div class="tree-browser">
        {{ render(controller('innova_path.controller.path_player:displayTreeBrowserAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep } )) }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left nav-buttons btn-group">
                {# Arborescence #}
                <a class="tree-browser btn btn-default nav-button" href="#" data-toggle="modal" data-target="#full-tree" rel="tooltip" data-original-title="{{ 'full_tree' | trans({}, 'path_player') }}"> 
                    <span class="icon-list"></span>  
                </a>
            </div>
            {# Fil d'ariane #}
            <div class="breadcrumbs">
                {{ render(controller('innova_path.controller.path_player:displayBreadcrumbsAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep })) }}
            </div>
        </div>
    </div>
    
    {% if currentStep == path.getRootStep %}
            {% include 'InnovaPathBundle::Player/components/alerts.html.twig' %}
    {% endif %}
    
    <div class="content row">
        {# Contenu de l'étape #}
        <div class="current-step col-md-12">
            {{ render(controller('innova_path.controller.path_player:displayCurrentStepAction', { 'workspace': workspace, 'path': path, 'currentStep': currentStep, 'edit': edit } )) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/innovapath/js/Player/player.js') }}"></script>
{% endblock %}