{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{# use the section_content block to display yor html #}
{% block section_content %}

    {{ tinymce_init() }}

    <form novalidate="validate" method="post" action="{{ _path('claro_text_edit', {'old':_resource.getId()}) }}" id="edit_form">
        <textarea name="content" cols="50" rows="15" class="tinymce">{{ text|raw }}</textarea>
       <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
    </form>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {% render controller('ClarolineCoreBundle:Tool\\WorkspaceResourceParameters:initPicker') %}
{% endblock %}
