{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_text_open', {'text': _resource.getId()} ) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li class="active">{{ 'history' | trans({}, 'platform') }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        {% for difference in differences %}
            {{ difference|raw }}
                </br>-------------------------------</br>
            {% endfor %}
        {{ original|raw }}
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="{{ _path('claro_text_open', {'text': _resource.getId()}) }}">
            {{ 'back' | trans({}, 'platform') }}
        </a>
    </div>
{% endblock %}
