<!DOCTYPE html>

<html lang="{{ app.request.locale }}" class="claroline-app {{ config.getParameter('theme') }}">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% block baseUrl %}
            <base href="{{ url('claro_index') }}" />
        {% endblock %}

        <meta charset="utf-8" />
        {# This is required to make css responsive work properly #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block meta %}
        {% endblock %}

        {# Adds stylesheets #}
        {# Styles from current theme #}
        <link rel="stylesheet" type="text/css" href="{{ themeAsset('bootstrap.css') }}" />

        {# Styles from loaded plugins #}
        {{ stylesheets | raw }}

        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ asset('js/translations/config.js') }}"></script>
        <script src="{{ asset('js/translations/' ~ app.request.locale ~ '.js') }}"></script>

        {# Adds javascripts #}
        <script src="{{ hotAsset('runtime') }}"></script>
        {# Base libraries #}
        <script src="{{ hotAsset('vendor') }}"></script>
        {# TinyMCE #}
        <script src="{{ asset('packages/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('packages/mathjax/MathJax.js?config=TeX-AMS-MML_SVG') }}"></script>
        {# Frequently used Claroline JS #}
        <script src="{{ hotAsset('app') }}"></script>
        {# Claroline Plugins configuration #}
        <script src="{{ hotAsset('plugins') }}"></script>

        {% block head %}
        {% endblock %}
    </head>

    <body class="app-container">
        {% block content %}
        {% endblock %}

        {# Router #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {# JS from loaded plugins #}
        {{ javascripts | raw }}
        {% block foot %}
        {% endblock %}
    </body>
</html>
