{% extends '@ClarolineApp/base.html.twig' %}

{% block title %}
    {% if config.getParameter('name') is not empty %}
        {{ config.getParameter('name') }}
    {% else %}
        Claroline Connect
    {% endif %}
{% endblock %}

{% block meta %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')}}" />
{% endblock %}

{% block content %}
    {# Anchor for react app to mount in #}
    <div
        id="claroline-app"
        class="app"
        role="presentation"

        data-maintenance="{{ maintenance | json_encode | raw | escape }}"
        data-impersonated="{{ impersonated ? 'true' : 'false' }}"
        data-current-user="{{ currentUser | json_encode | raw | escape }}"
        data-client="{{ client | json_encode | raw | escape }}"
        data-contexts="{{ contexts | json_encode | raw | escape }}"
        data-context-favorites="{{ contextFavorites | json_encode | raw | escape }}"
        data-header="{{ header | json_encode | raw | escape }}"
        data-footer="{{ footer | json_encode | raw | escape }}"
        data-config="{{ parameters | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block foot %}
    {# Main Claroline UI app #}
    <script src="{{ hotAsset('claroline-distribution-main-app-bootstrap') }}"></script>
{% endblock %}
