{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

<div class='panel-heading chapter_title'><h4>{{ 'Chapter Move'|trans({}, 'icap_lesson') }}</h4></div>
<form id='moveform' method="POST" action="{{ path('icap_lesson_move_chapter', { 'resourceId': _resource.id, 'chapterId': chapter.id }) }}" class="form-horizontal">
    <fieldset>
        <div class='chapter_content'>
            <div class="control-group">
                <div class="controls">
                   {{ chapter.title }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="icap_lesson_movechaptertype_choiceChapter">{{ 'move_destination'|trans({}, 'icap_lesson') }}</label>
                {{ form_widget(form.choiceChapter) }}
                <label class="control-label" for="icap_lesson_movechaptertype_brother">{{ 'same_level'|trans({}, 'icap_lesson') }}</label>
                {{ form_widget(form.brother) }}
            </div>
        {{ form_rest(form) }}
        </div>
    </fieldset>
    {{ macros.flashBox() }}
    <br/>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value = '{{ 'Ok'|trans({}, 'icap_lesson') }}' />
        <a href="{{ path('icap_lesson_chapter', { 'resourceId': _resource.id, 'chapterId': chapter.slug }) }}"><button type="button" class="btn btn-default">{{ 'Cancel'|trans({}, 'icap_lesson') }}</button></a>
    </div>
</form>
