{% extends "ClarolineCoreBundle:resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-lesson-lesson-resource.css') }}" />
{% endblock %}

{% block content %}
    <div class="page-container lesson-container"
         data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
         data-lesson="{{ _resource | api_serialize | json_encode | raw | escape }}"
         data-chapter="{{ chapter | api_serialize | json_encode | raw | escape }}"
         data-tree="{{ tree | json_encode | raw | escape }}"
         data-root="{{ root | api_serialize | json_encode | raw | escape }}"
         data-export-pdf-enabled="{{ config.getParameter('is_pdf_export_active') | json_encode | raw | escape }}"
    >

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-plugin-lesson-lesson.js') }}" ></script>
{% endblock javascripts %}