{% macro parseActivity(item) %}
      {% if item.resources is defined %}
        <li>
            <a id="item-{{ item.step }}" href="{{ path('claro_activity_show_instructions', {'activity':item.resource.getId()}) }}" class="activity-instruction">{{ item.resource.getResourceNode().getName() }}</a>
            <ul>
               {% for subItem in item.resources %}
                    {{ _self.parseActivity(subItem) }}
               {% endfor %}
            </ul>
        </li>
        {% else %}
        <li>
            <a id="item-{{ item.step }}" class="activity-step" data-is-passed="false" href="{{ path('claro_resource_open',{'resourceType': item.resource.getResourceNode().getResourceType().getName(), 'node': item.resource.getResourceNode().getId()}) }}?_mode=path">
                {{ item.resource.getResourceNode().getName() }}
            </a>
        </li>
      {% endif %}
{% endmacro %}

{% from _self import parseActivity %}

<html>
    <head>
    {% set themePath = 'themes/' ~ config.getParameter('theme') %}
        {% block stylesheets %}
        <link rel='stylesheet' type='text/css' href='{{ asset(themePath ~ '/bootstrap.css') }}'/>
        <link rel='stylesheet' type='text/css' href='{{ asset('vendor/fortawesome/font-awesome/css/font-awesome.css') }}'/>
    {% endblock %}
    </head>
    <body>
        <div id="twig-attributes"
             data-total-steps="{{ totalSteps }}"
             data-total-items="{{ totalItems }}"
        >
        </div>
        <div id="progress-bar">
            {{ 'avancement'|trans({}, 'platform') }}: 0 /{{ totalSteps }}
        </div>
        <button class="icon-arrow-left"></button>
        <button class="icon-arrow-right"></button>
        <hr/>

        <ul>
            {{ parseActivity(items) }}
        </ul>

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-1.7.1.min.js') }}'></script>
        <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/activity/left_menu.js') }}'></script>
    </body>
</html>
