{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block section_content %}
    <div id="desktop-home-content" class="panel-body">
        
        {% if not isHomeLocked %}
            <i class="fa {% if editionMode %}fa-unlock-alt{% else %}fa-lock{% endif %} pull-right pointer-hand"
               id="desktop-mode-btn"
            ></i>
       {% endif %}
        <ul id="desktop-hometabs-list" class="nav nav-tabs margin-bottom-md">
            
            {% for adminHomeTabConfig in adminHomeTabConfigs %}
                {% set adminHomeTab = adminHomeTabConfig.getHomeTab() %}
                <li id="hometab-element-{{ adminHomeTab.getId() }}"
                    class="hometab-element {% if adminHomeTab.getId() == tabId %} active {% endif %}"
                    data-hometab-config-id="{{ adminHomeTabConfig.getId() }}"
                    data-hometab-id="{{ adminHomeTab.getId() }}"
                >
                    <a href="{{ path('claro_display_desktop_home_tab', {'tabId': adminHomeTab.getId()})}}"
                       class="hometab-link{% if not adminHomeTabConfig.isVisible() %} strike{% endif %}"
                   >
                        {{ adminHomeTab.getName() }}
                        
                        {% if not isHomeLocked and editionMode %}
                        
                            {% if adminHomeTabConfig.isLocked() %}
                                <i class="fa fa-lock"></i>
                            {% else %}
                                &nbsp;
                                <i class="fa fa-times hide-hometab-btn pointer-hand text-muted"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
                
            {% for userHomeTabConfig in userHomeTabConfigs %}
                {% set userHomeTab = userHomeTabConfig.getHomeTab() %}
                <li id="hometab-element-{{ userHomeTab.getId() }}"
                    class="hometab-element movable-hometab {% if userHomeTab.getId() == tabId %} active {% endif %}"
                    data-hometab-config-id="{{ userHomeTabConfig.getId() }}"
                    data-hometab-id="{{ userHomeTab.getId() }}"
                >
                    <a href="{{ path('claro_display_desktop_home_tab', {'tabId': userHomeTab.getId()})}}"
                       class="hometab-link{% if not userHomeTabConfig.isVisible() %} strike{% endif %}"
                    >
                        <span id="hometab-name-{{ userHomeTab.getId() }}">
                            {{ userHomeTab.getName() }}
                        </span>
                        
                        {% if not isHomeLocked and editionMode %}
                            &nbsp;
                            {% if userHomeTab.getId() == tabId %}
                                <i class="fa fa-cog edit-hometab-btn pointer-hand text-muted"></i>
                            {% endif %}
                            <i class="fa fa-times delete-hometab-btn pointer-hand text-muted"></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
                
            {% for workspaceUserHTC in workspaceUserHTCs %}
                {% set workspaceUserHomeTab = workspaceUserHTC.getHomeTab() %}
                <li id="hometab-element-{{ workspaceUserHomeTab.getId() }}"
                    class="hometab-element {% if workspaceUserHomeTab.getId() == tabId %} active {% endif %}"
                    data-hometab-config-id="{{ workspaceUserHTC.getId() }}"
                    data-hometab-id="{{ workspaceUserHomeTab.getId() }}"
                >
                    <a href="{{ path('claro_display_desktop_home_tab', {'tabId': workspaceUserHomeTab.getId()})}}">
                        <span id="hometab-name-{{ workspaceUserHomeTab.getId() }}">
                            {{ workspaceUserHomeTab.getName() }}
                        </span>
                        &nbsp;
                        <i class="fa fa-thumb-tack delete-bookmark-hometab-btn pointer-hand text-muted"></i>
                    </a>
                </li>
            {% endfor %}
                
            {% if not isHomeLocked and editionMode %}
                <li id="add-hometab-btn">
                    <a class="pointer-hand">
                        <span class="text-muted">
                            <i id="add-hometab-button" class="fa fa-plus"></i>
                            {% if adminHomeTabConfigs|length == 0 and userHomeTabConfigs|length == 0 %}
                                {{ 'create_new_home_tab' | trans({}, 'platform') }}
                            {% endif %}
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <br>
        
        {% block homeTab %}{% endblock %}
    </div>
    
    <div id="hometab-datas-box" data-hometab-id="{{ tabId }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/frontend/jquery/jquery-ui-1.11.3/jquery-ui.js') }}'
            type="text/javascript"
    >
    </script>
    <script src='{{ asset('bundles/frontend/gridstack/gridstack.js-0.2.2/dist/gridstack.min.js') }}'
            type="text/javascript"
    >
    </script>
    <script src='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js') }}'
            type="text/javascript"
    >
    </script>
                
    {% if not isHomeLocked and editionMode %}
        <script src='{{ asset('bundles/clarolinecore/js/tool/desktop/home/desktopHomeLayout.js') }}'
                type="text/javascript"
        >
        </script>
    {% endif %}
    <script type="text/javascript">
        $('.grid-stack').gridstack({
            width: 12,
            animate: true
        });
        
        $('#desktop-home-content').on('click', '#desktop-mode-btn', function (e) {
            $.ajax({
                url: Routing.generate('claro_desktop_mode_switch'),
                type: 'POST',
                success: function () {
                    window.location.reload();
                }
            });
        });
    </script>
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/frontend/gridstack/gridstack.js-0.2.2/dist/gridstack.min.css')}}'
    >
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/frontend/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css')}}'
    >
    <link rel='stylesheet'
          type='text/css'
          href='{{ asset('bundles/clarolinecore/css/widget/widget.css')}}'
    >
{% endblock %}