{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'home'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home'|trans({}, 'tools') }}
        </h3>
        <div class="float-right-top">
            <a class="btn btn-primary" href="{{ path('claro_display_desktop_home_tabs_with_config', {'tabId': tabId}) }}" role="button">
                <i id="switch-config-mode" class="icon-pencil"></i>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            {% for adminHomeTabConfig in adminHomeTabConfigs %}
            {% set adminHomeTab = adminHomeTabConfig.getHomeTab() %}
            <li class="hometab-element {% if adminHomeTab.getId() == tabId %} active {% endif %}">
                <a href="{{
                    path(
                        'claro_display_desktop_home_tabs_without_config',
                        {'tabId': adminHomeTab.getId()}
                    )
                    }}"
                    class="hometab-link"
                >
                    {{ adminHomeTab.getName() }}
                </a>
            </li>
            {% endfor %}
            {% for userHomeTabConfig in userHomeTabConfigs %}
            {% set userHomeTab = userHomeTabConfig.getHomeTab() %}
            <li class="hometab-element {% if userHomeTab.getId() == tabId %} active {% endif %}">
                <a href="{{
                    path(
                        'claro_display_desktop_home_tabs_without_config',
                        {'tabId': userHomeTab.getId()}
                    )
                    }}"
                    class="hometab-link"
                >
                    {{ userHomeTab.getName() }}
                </a>
            </li>
            {% endfor %}
        </ul>

        {% block homeTab %}{% endblock %}
    </div>
{% endblock %}
