{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'home'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div id="config-value-div" config-value="{% if withConfig is defined and not withConfig is empty %}{{ withConfig }}{% endif %}"></div>
    <div id="hometab-id-div" hometab-id="{{ tabId }}"></div>

    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home' | trans({}, 'tools') }}
        </h3>
        <div class="float-right-top">
            <a class="btn btn-primary" href="{{ path( 'claro_display_desktop_home_tabs_without_config', {'tabId': tabId}) }}" role="button">
                <i id="switch-config-mode" class="icon-ok"></i>
           </a>
        </div>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            {% for adminHomeTabConfig in adminHomeTabConfigs %}
                {% set adminHomeTab = adminHomeTabConfig.getHomeTab() %}
                <li class="hometab-element {% if adminHomeTab.getId() == tabId %} active {% endif %}"
                    hometab-config-id="{{ adminHomeTabConfig.getId() }}"
                    hometab-id="{{ adminHomeTabConfig.getId() }}"
                >
                    <a href="{{ path('claro_display_desktop_home_tabs_with_config', {'tabId': adminHomeTab.getId()})}}" class="hometab-link{% if not adminHomeTabConfig.isVisible() %} strike{% endif %}">
                        {{ adminHomeTab.getName() }}
                        {% if adminHomeTabConfig.isLocked() %}
                            <i class="icon-lock"></i>
                        {% else %}
                            <div class="dropdown">
                                <i class="icon-chevron-down pointer-hand" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                        {% if adminHomeTabConfig.isVisible() %}
                                            <i role="menuitem" class="hometab-visibility-btn icon-eye-close" visiblility-value="visible"
                                                id="visible-hometab-id-{{ adminHomeTab.getId() }}"> {{ "hide" | trans({}, 'platform') }}</i>
                                        {% else %}
                                            <i role="menuitem" class="hometab-visibility-btn icon-eye-open" visiblility-value="invisible"
                                            id="visible-hometab-id-{{ adminHomeTab.getId() }}"> {{ "display" | trans({}, 'platform') }}</i>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            {% for userHomeTabConfig in userHomeTabConfigs %}
                {% set userHomeTab = userHomeTabConfig.getHomeTab() %}
                <li class="hometab-element {% if userHomeTab.getId() == tabId %} active {% endif %}"
                    hometab-config-id="{{ userHomeTabConfig.getId() }}"
                    hometab-id="{{ userHomeTab.getId() }}"
                    hometab-order="{{ userHomeTabConfig.getTabOrder() }}"
                >
                    <a href="{{ path('claro_display_desktop_home_tabs_with_config', {'tabId': userHomeTab.getId()})}}" class="hometab-link{% if not userHomeTabConfig.isVisible() %} strike{% endif %}">
                        {{ userHomeTab.getName() }}
                        <div class="dropdown">
                          <i class="icon-chevron-down pointer-hand" data-toggle="dropdown"></i>
                          <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><i role="menuitem" class="hometab-reorder-left-btn icon-arrow-left"> {{ "left" | trans({}, 'platform') }}</i></li>
                                <li role="presentation"><i role="menuitem" class="hometab-reorder-right-btn icon-arrow-right"> {{ "right" | trans({}, 'platform') }}</i></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><i role="menuitem" class="hometab-rename-btn icon-pencil"> {{ "rename" | trans({}, 'platform') }}</i></li>
                                <li role="presentation">
                                    {% if userHomeTabConfig.isVisible() %}
                                        <i role="menuitem" class="hometab-visibility-btn icon-eye-close" visiblility-value="visible"
                                        id="visible-hometab-id-{{ userHomeTab.getId() }}"> {{ "hide" | trans({}, 'platform') }}</i>
                                     {% else %}
                                        <i role="menuitem" class="hometab-visibility-btn icon-eye-open" visiblility-value="invisible"
                                        id="visible-hometab-id-{{ userHomeTab.getId() }}"> {{ "display" | trans({}, 'platform') }}</i>
                                     {% endif %}
                                </li>
                                <li role="presentation"><i role="menuitem" class="hometab-delete-btn icon-trash"> {{ "delete" | trans({}, 'platform') }}</i></li>
                          </ul>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li id="add-hometab-btn">
                <a class="pointer-hand">
                    <i id="add-hometab-button" class="icon-plus"></i>
                    {% if userHomeTabConfigs | length == 0 %} {{ 'create_new_home_tab' | trans({}, 'platform') }}{% endif %}
                </a>
            </li>
        </ul>

        {% block homeTab %}{% endblock %}
    </div>

    <div id="delete-hometab-validation-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'home_tab_delete_confirm_title'|trans({}, 'platform') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'home_tab_delete_confirm_message'|trans({}, 'platform') }}</p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="delete-hometab-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
                </div>
            </div>
        </div>
    </div>

    <div id="hometab-modal-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="hometab-modal-title"></h3>
                </div>
                <div id="hometab-modal-body" class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/tool/tabs.js') }}'  type="text/javascript"></script>
    <script
        src='{{ asset('bundles/clarolinecore/js/tool/desktop/home/desktopHomeLayoutWithConfig.js') }}'
        type="text/javascript">
    </script>
{% endblock %}
