<form
    role="form"
    id="widget-instance-form"
    class="form-horizontal"
    action="{{ path('claro_desktop_widget_instance_create') }}"
    method="post"
    {{ form_enctype(form) }}
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="form-actions panel-footer">
        <button id="form-widget-instance-ok-btn" type="submit" class="btn btn-primary">
            {{ 'ok'|trans({}, 'platform') }}
        </button>
        <button id="form-widget-instance-cancel-btn" type="button" class="btn btn-default">
            {{ 'cancel'|trans({}, 'platform') }}
        </button>
    </div>
</form>
