{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-briefcase',
                'name': 'desktop'|trans({}, 'platform'),
                'href': path('claro_desktop_open')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_desktop_open_tool', {'toolName': 'parameters'})
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': path('claro_desktop_tool_config', {'tool': tool.getId()})
            },
            {
                'name': 'home_tabs'|trans({}, 'platform'),
                'href': path('claro_desktop_home_tab_properties')
            },
            {
                'name': 'home_tab_creation'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'home_tab_creation'|trans({}, 'platform') }}
        </h3>
    </div>
    <form
        class="form-horizontal"
        action="{{ path('claro_user_desktop_home_tab_create') }}"
        method="post"
        {{ form_enctype(form) }}
    >
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="form-actions panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_desktop_home_tab_properties') }}">
                <button  type="button" class="btn btn-default">
                    {{ 'cancel'|trans({}, 'platform') }}
                </button>
            </a>
        </div>
    </form>

{% endblock %}
