{% extends 'IcapPortfolioBundle::layout.html.twig' %}

{% block content_body %}
    <div class="portfolio-tabpanel" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist" id="portfolio_space_tabs">
            <li class="presentation-tab active">
                <a href="#presentation" aria-controls="presentation" role="tab" data-toggle="tab">
                    <span class="icon-bg"></span>
                    <span class="option-text">
                        <i class="fa fa-home"></i>
                        <span class="visible-md-inline visible-lg-inline">{{ 'presentation'|trans({}, 'icap_portfolio') }}</span>
                    </span>
                </a>
            </li>
            {% for widgetType in widgetTypes %}
            <li class="widgets-tab {{ widgetType.name }}-tab">
                <a href="#{{ widgetType.name }}" aria-controls="{{ widgetType.name }}" role="tab" data-toggle="tab">
                    <span class="icon-bg"></span>
                    <span class="option-text">
                        <i class="fa fa-{{ widgetType.icon }}"></i>
                        <span class="visible-md-inline visible-lg-inline">{{ (widgetType.name ~ '_title')|trans({}, 'icap_portfolio') }}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
            <li class="list-tab">
                <a href="#list" aria-controls="list" role="tab" data-toggle="tab">
                    <span class="icon-bg"></span>
                    <span class="option-text">
                        <i class="fa fa-list"></i>
                        <span class="visible-md-inline visible-lg-inline">{{ 'portfolio'|trans({}, 'icap_portfolio') }}</span>
                    </span>
                </a>
            </li>
            <li class="exchange-space-tab">
                <a href="#exchange_space" aria-controls="exchange_space" role="tab" data-toggle="tab">
                    <span class="icon-bg"></span>
                    <span class="option-text">
                        <i class="fa fa-comments-o"></i>
                        <span class="visible-md-inline visible-lg-inline">{{ 'exchange_space'|trans({}, 'icap_portfolio') }}</span>
                    </span>
                </a>
            </li>
            <li class="statistics-tab">
                <a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">
                    <span class="icon-bg"></span>
                    <span class="option-text">
                        <i class="fa fa-line-chart"></i>
                        <span class="visible-md-inline visible-lg-inline">{{ 'statistics'|trans({}, 'icap_portfolio') }}</span>
                    </span>
                </a>
            </li>
        </ul>

        <div data-ng-app="indexApp">
            <div class="tab-content index-container" data-ng-strict-di>
                <div role="tabpanel" class="tab-pane active" id="presentation">
                    <div>
                        {{ 'presentation_message'|trans({}, 'icap_portfolio')|raw }}
                    </div>
                </div>
                {% for widgetType in widgetTypes %}
                    <div role="tabpanel" class="tab-pane" id="{{ widgetType.name }}">
                        <div class="row">
                            <div class="col-md-12 widgets_container">
                                {% include 'IcapPortfolioBundle:Portfolio:data_widget_type.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div role="tabpanel" class="tab-pane" id="list">
                    {% include 'IcapPortfolioBundle:Portfolio:list_content.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="exchange_space">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'IcapPortfolioBundle:Portfolio:exchange_space.html.twig' %}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="statistics">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'IcapPortfolioBundle:Portfolio:analytics.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='less, cssmin'  output='css/icapportfolio/index.css'
      '@IcapPortfolioBundle/Resources/views/less/comments.less'
      '@IcapPortfolioBundle/Resources/views/less/statistics.less'
      '@IcapPortfolioBundle/Resources/views/less/daterangepicker.less'
      'packages/toastr/toastr.less'
      '@ClarolineCoreBundle/Resources/public/css/common/jqplot/jquery.jqplot.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
      'use strict';
      (function() {
        window.currentPortfolioId = {{ portfolioId }};
        window.assetPath = "{{ asset('') }}";
        $('.import-dropdown').tooltip({
          container: "body",
          placement: "top",
          title: "{{ 'choose_import_portfolio_format'|trans({}, 'icap_portfolio')|raw }}"
        });
      })();
    </script>
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'icap_portfolio' }) }}"></script>
    <script type="text/javascript" src='{{ asset('packages/jqplot/src/jquery.jqplot.js') }}'></script>

    {% javascripts debug=false filter='jsmin' output='js/portfolio/index/jqplotPlugins.js'
    'bundles/clarolinecore/js/jqplot/jqplot.colors.js'
    'packages/jqplot/src/plugins/jqplot.cursor.js'
    'packages/jqplot/src/plugins/jqplot.highlighter.js'
    'packages/jqplot/src/plugins/jqplot.canvasTextRenderer.js'
    'packages/jqplot/src/plugins/jqplot.dateAxisRenderer.js'
    'packages/jqplot/src/plugins/jqplot.canvasAxisTickRenderer.js'
    'packages/jqplot/src/plugins/jqplot.canvasAxisLabelRenderer.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ hotAsset("dist/claroline-distribution-plugin-portfolio-index-app.js") }}"></script>
    <script type="text/javascript" src="{{ hotAsset("dist/claroline-distribution-plugin-portfolio-index.js") }}"></script>
{% endblock %}
