{% extends app.request.xmlHttpRequest
         ? 'IcapPortfolioBundle::modalLayout.html.twig'
         : 'IcapPortfolioBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block title %}{{ parent() ~ ' - ' ~ 'update_portfolio_visibility' | trans({}, 'icap_portfolio') | striptags | raw }}{% endblock %}

{% block content_title %}{{ 'update_portfolio_visibility'|trans({}, 'icap_portfolio') }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-list-alt',
                'name': 'my_portfolios'|trans({}, 'icap_portfolio'),
                'href': path('icap_portfolio_index')
            },
            {
                'icon': 'fa fa-list-alt',
                'name': 'update_portfolio_visibility'|trans({}, 'icap_portfolio'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block _icap_portfolio_visibility_form_portfolio_users_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('_icap_portfolio_visibility_form_portfolio_users_prototype') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <ul class="form-collection list-inline{{ form|length ? '' : ' hide' }}">
                {% for rows in form %}
                    <li class="form-collection-element">
                    {% for row in rows %}
                        {% set user = row.vars.data %}
                        {{ form_widget(row, {'attr': {'class': 'hidden'}}) }}
                        <span class="label label-primary">
                            {{ user.firstname ~ ' ' ~ user.lastname }}
                            <a class="remove" aria-hidden="true" href="#" data-toggle="tooltip"
                                title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}"data-confirm-title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}">
                                 <span class="fa fa-times"></span>
                            </a>
                        </span>
                    {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock _icap_portfolio_visibility_form_portfolio_users_widget %}

{% block _icap_portfolio_visibility_form_portfolio_groups_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('_icap_portfolio_visibility_form_portfolio_groups_prototype') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <ul class="form-collection list-inline{{ form|length ? '' : ' hide' }}">
                {% for rows in form %}
                    <li class="form-collection-element">
                    {% for row in rows %}
                        {% set group = row.vars.data %}
                        {{ form_widget(row, {'attr': {'class': 'hidden'}}) }}
                        <span class="label label-info">
                            {{ group.name }}
                            <a class="remove" aria-hidden="true" href="#" data-toggle="tooltip"
                                title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}"data-confirm-title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}">
                                 <span class="fa fa-times"></span>
                            </a>
                        </span>
                    {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock _icap_portfolio_visibility_form_portfolio_groups_widget %}

{% block _icap_portfolio_visibility_form_portfolio_teams_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('_icap_portfolio_visibility_form_portfolio_teams_prototype') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <ul class="form-collection list-inline{{ form|length ? '' : ' hide' }}">
                {% for rows in form %}
                    <li class="form-collection-element">
                    {% for row in rows %}
                        {% set team = row.vars.data %}
                        {{ form_widget(row, {'attr': {'class': 'hidden'}}) }}
                        <span class="label label-warning">
                            {{ team.name }}
                            <a class="remove" aria-hidden="true" href="#" data-toggle="tooltip"
                                title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}"data-confirm-title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}">
                                 <span class="fa fa-times"></span>
                            </a>
                        </span>
                    {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock _icap_portfolio_visibility_form_portfolio_teams_widget %}

{% block _icap_portfolio_visibility_form_portfolio_users_prototype %}
    {{ _self.collection_field(prototype, 'primary') }}
{% endblock _icap_portfolio_visibility_form_portfolio_users_prototype %}

{% block _icap_portfolio_visibility_form_portfolio_groups_prototype %}
    {{ _self.collection_field(prototype, 'info') }}
{% endblock _icap_portfolio_visibility_form_portfolio_groups_prototype %}

{% block _icap_portfolio_visibility_form_portfolio_teams_prototype %}
    {{ _self.collection_field(prototype, 'warning') }}
{% endblock _icap_portfolio_visibility_form_portfolio_teams_prototype %}

{% macro collection_field(rows, class) %}
    {% spaceless %}
        <li class="form-collection-element">
            {% for row in rows %}
                {{ form_widget(row, {'attr': {'class': 'hidden'}}) }}
                <span class="label label-{{ class }}">
                    __value__
                    <a class="remove" aria-hidden="true" href="#" data-toggle="tooltip"
                        title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}"data-confirm-title="{{ 'revoke_access'|trans({}, 'icap_portfolio') }}">
                         <span class="fa fa-times"></span>
                    </a>
                </span>
            {% endfor %}
        </li>
    {% endspaceless %}
{% endmacro %}

{% block content_body %}
    <form action="{{ path('icap_portfolio_update_visibility', {'id': portfolio.id}) }}" method="post" class="form-horizontal" id="visibility_form" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.visibility) }}
            <div class="col-md-6">
                {{ form_widget(form.visibility) }}
            </div>
        </div>
        <div class="row{% if 1 != form.visibility.vars.data %} hidden{% endif %}" id="choose_visibility_elements">
            <div class="col-md-11 col-md-offset-1">
                <div class="form-group">
                    <div>
                        <label class="row">{{ 'select_visible_users'|trans({}, 'icap_portfolio') }}</label>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(form.portfolio_users) }}
                                {{ form_widget(form.search_user) }}
                                <button class="btn btn-xs btn-success form-collection-add-user" disabled="disabled">{{ 'add'|trans({}, 'platform') }}</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="row">{{ 'select_visible_groups'|trans({}, 'icap_portfolio') }}</label>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(form.portfolio_groups) }}
                                {{ form_widget(form.search_group) }}
                                <button class="btn btn-xs btn-success form-collection-add-group" disabled="disabled">{{ 'add'|trans({}, 'platform') }}</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="row">{{ 'select_visible_teams'|trans({}, 'icap_portfolio') }}</label>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(form.portfolio_teams) }}
                                {{ form_widget(form.search_team) }}
                                <button class="btn btn-xs btn-success form-collection-add-team" disabled="disabled">{{ 'add'|trans({}, 'platform') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        {% if not app.request.xmlHttpRequest %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'update_visibility'|trans({}, 'icap_portfolio') }}</button>
                <a href="{{ path("icap_portfolio_index") }}" title="{{ 'cancel'|trans({}, 'platform') }}" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</a>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('packages/select2/select2.css') }}" screen="media" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src='{{ asset('packages/jquery-ui/ui/minified/effect.min.js') }}'></script>
<script type="text/javascript" src='{{ asset('packages/jquery-ui/ui/minified/effect-highlight.min.js') }}'></script>
<script type="text/javascript" src="{{ asset('bundles/zenstruckform/js/helper.js') }}"></script>
<script type="text/javascript" src="{{ asset('packages/select2/select2.min.js') }}"></script>
{% if 'en' != app.request.locale %}
    <script type="text/javascript" src="{{ asset('packages/select2/select2_locale_' ~ app.request.locale ~ '.js') }}"></script>
{% endif %}
<script type="text/javascript" src='{{ asset('bundles/icapportfolio/js/visibility.js') }}'></script>
{% endblock %}