{% if log.details.section is defined %}
    <h4>{{ ('log_moved_section')|trans({}, 'log') }}</h4>

    <dl class="dl-horizontal">
        <dt>{{ ('log_section_title')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.section.title }}</dd>
    </dl>
    {% if log.details.section.changeSet is defined and log.details.section.changeSet|length > 0 %}
    <div>
        <h4>{{ ('details')|trans({}, 'log') }}</h4>
        
        {% set changeSet = log.details.section.changeSet %}
        {% if changeSet['parentId'][0] == changeSet['parentId'][1] %}
            <p>
                {% if changeSet['left'][0] > changeSet['left'][1]%}
                    {{ "moved_up_section"|trans({'%section%':log.details.section.title}, 'log') }}
                {% else %}
                    {{ "moved_down_section"|trans({'%section%':log.details.section.title}, 'log') }}
                {% endif %}
            </p>
        {% else %}
            <p>
                {% if changeSet['isParentRoot'][0] is sameas(true) %}
                    {{ "moved_from_wiki_to_section"|trans({'%section%':log.details.section.title, '%newParent%':changeSet['parentName'][1]}, 'log') }}
                {% elseif changeSet['isParentRoot'][1] is sameas(true) %}
                    {{ "moved_from_section_to_wiki"|trans({'%section%':log.details.section.title, '%oldParent%':changeSet['parentName'][0]}, 'log') }}
                {% else %}
                    {{ "moved_from_section_to_section"|trans({'%section%':log.details.section.title, '%oldParent%':changeSet['parentName'][0], '%newParent%':changeSet['parentName'][1]}, 'log') }}
                {% endif %}
            </p>
        {% endif %}        
    </div>
    {% endif %}
{% endif %}