{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'registration_to_workspaces' | trans({}, 'platform') ~ ' (' ~ 'users'|trans({}, 'platform') ~ ')' | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name':'registration_to_workspaces'|trans({}, 'platform'),
                'href': path('claro_admin_registration_management')
            },
            {
                'name':'users'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'registration_to_workspaces'|trans({}, 'platform') }} ({{ 'users'|trans({}, 'platform') }})</h3>
    </div>
    <div class="panel-body" id="registration-list-div" subject-type="user">
        <div>
            <div id="custom-flashbag-div" class="alert alert-success hide">
                <a id="flashbag-close-button" class="close" href="#" aria-hidden="true">&times;</a>
                <ul id="custom-flashbag-ul">
                </ul>
            </div>
        </div>

        <h4>{{ 'select_users_for_registration_to_workspace'|trans({}, 'platform') }}</h4>
        <br>

        {% include 'ClarolineCoreBundle:Administration\\WorkspaceRegistration:registrationManagementSelectedWorkspacesAndRoles.html.twig' %}

        <br>
        <div class="search-bar row">
            <div class="col-md-6">
                <button class="btn btn-default subscribe-subjects-button" disabled="disabled">
                    <i class="fa fa-pencil"></i>
                    {{ 'subscribe_selected_users'|trans({}, 'platform') }}
                </button>
            </div>
            <div class="col-md-6">
                 <div class="input-group">
                    <input class="form-control" type="text" id="search-txt" placeholder="{{ 'search'|trans({}, 'platform') }}">
                    <span class="input-group-btn">
                        <button class="filter btn btn-default" type="button" id="search-button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div id="pager-block">
            <div id="list-pager" class="list-pager">
                {% include 'ClarolineCoreBundle:Administration\\WorkspaceRegistration:userListPager.html.twig' %}
            </div>
        </div>
        <button class="btn btn-default subscribe-subjects-button" disabled="disabled">
            <i class="fa fa-pencil"></i>
            {{ 'subscribe_selected_users'|trans({}, 'platform') }}
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
        src="{{ asset('bundles/clarolinecore/js/administration/registrationManagementSubjectList.js') }}"
        type="text/javascript"
    >
    </script>
{% endblock %}
