{% extends "ClarolineCoreBundle:resource:layout.html.twig" %}

{% block content %}
    <div
      class="page-container claco-form-container"
      data-claco-form="{{ _resource | api_serialize | json_encode | raw | escape }}"
      data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
      data-cascade-level-max={{ cascadeLevelMax }}
      data-can-generate-pdf="{{ canGeneratePdf }}"
      data-my-entries-count={{ myEntriesCount }}
      data-roles="{{ roles | json_encode | raw | escape }}"
      data-my-roles="{{ myRoles | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-claco-form-resource.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-claco-form-resource.js') }}"></script>
{% endblock %}
