{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_video_player' | trans({}, 'platform') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_video_player'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'claroline_video_player'|trans({}, 'platform') }}</h3>
    </div>
    <form role="form" class="form-horizontal" action="{{ path('claro_video_player_admin_submit') }}" method="post" {{ form_enctype(form) }} id="form">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_admin_plugins') }}" class="btn btn-default" role="button">
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}

