
{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'organizations' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div id="organization-panel" class="panel panel-default" ng-app="OrganizationManager">
        <div ncy-breadcrumb></div>
        <div class="panel-body" ui-view></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('vendor/angular-ui.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-core-organization-management.js') }}"></script>

{% endblock %}
