
{% extends "ClarolineCoreBundle::layout_angular.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'organizations' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'organization_management'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div id="organization-panel" class="panel panel-default" ng-app="OrganizationManager">
        <div class="panel-body" ng-view></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('vendor/angular-ui.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('vendor/angular.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('vendor/angular-ui.js')}}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/frontend/angular-bootstrap/ui-bootstrap-tpls.js') }}"> </script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}

        var AngularApp = {};
        AngularApp.webDir = "{{ asset('') }}";
    </script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/services/api.services.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}></script>

    {# organizations #}
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/organization/module.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/organization/Controller/EditModalController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/organization/Controller/OrganizationController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/organization/Directive/OrganizationListDirective.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/organization/Service/OrganizationAPIService.js') }}></script>

    {# locations #}
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/module.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/Controller/CreateModalController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/Controller/EditModalController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/Controller/LocationsController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/Service/LocationAPIService.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/administration/location/Directive/LocationManagerDirective.js') }}></script>

    {# breadcrumbs #}
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/breadcrumbs/module.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/breadcrumbs/Controller/BreadcrumbsController.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/breadcrumbs/Directive/BreadcrumbsDirective.js') }}></script>
{% endblock %}
